<div ng-init="ida=true"></div>
<div class="col s12 m6 l6 card">
  <!-- <div class="ngdialog-close" style="float: right; font-size: 50px; padding-right: 20px;"></div> -->
  <div class="card-content">
    <h5>Seleccionar trayecto</h5>
  </div>
  <center>  <div class="switch">
    <div class="col s12">
      <p>
        <span class="hide-on-large-only">Normal switch</span>
        <label>
          IDA
          <input type="checkbox">
          <span class="lever" ng-click="ida=!ida"></span>
          IDA Y VUELTA
        </label>
      </p>
    </div>
  </div>
</center>
<div class="card-action" ng-hide ="!ida"  >
  <div class="input-list" style="width: 98%">
    <label style=" margin-top: -20px;">Barrio:</label>
    <select  id="asuntoid" class="select-chosen-eps" ng-model="barrio">
      <option value="0">SELECCIONAR</option>
      <option ng-repeat="barrio in barrios" ng-value="barrio.CODIGO">{{barrio.NOMBRE}}</option>
    </select>
  </div>
  <center>
    <button class="waves-effect waves-light btn white-text primary-button" type="submit" style="margin:10px; border-radius:5px;" ng-click="enviar_recorrido('I')">Enviar Ruta</button>
  </center>
</div>
<div class="card-action" ng-hide="ida">
  <div class="input-list" style="width: 98%">
    <label style=" margin-top: -20px;">Barrio ida:</label>
    <select  id="asuntoid" class="select-chosen-eps" ng-model="barrio1">
      <option value="0">SELECCIONAR</option>
      <option ng-repeat="barrio in barrios" ng-value="barrio.CODIGO" >{{barrio.NOMBRE}}</option>
    </select>
    <label style=" margin-top: -20px;">Barrio Vuelta:</label>
    <select  id="asuntoid" class="select-chosen-eps"  ng-model="barrio2">
      <option value="0">SELECCIONAR</option>
      <option ng-repeat="barrio in barrios" ng-value="barrio.CODIGO" >{{barrio.NOMBRE}}</option>
    </select>

  </div>
  <center>
    <button class="waves-effect waves-light btn white-text primary-button" type="submit" style="margin:10px; border-radius:5px;" 
    ng-click="enviar_recorrido('IV')">Enviar Ruta</button>
  </center>
</div>
</div>
