<div id="listausuarios" class="white newdesing" style="position:relative">
  <div class="row section-header">
    <ul class="left mailbox-custom-search list-inline" style="width: 100%;display: flex;justify-content: space-between;align-items: center;">
      <li id="inicio">
        <h5 style="font-family: 'Product Sans',Arial,sans-serif;font-size: 22px;line-height: 22px;opacity: .54;">Crear
          usuario administrador IPS</h5>
      </li>
      <li>
        <a href="assets/instructivo/GTIC-015-FR -  Instructivo  Login Funcionarios IPS.pdf" target="_blank" style="cursor: pointer;">¿Como
          crear usuario administrador IPS?</a>
      </li>
    </ul>
  </div>
  <div class="row dashboard-wrapper content-container white" style="padding-bottom: 20px;margin-bottom: 0;">
    <div ng-if="vista.form" class="col s12 m12 l6" style="position: relative;min-height: calc(100vh - 169px);">
      <div class="row margin">
        <div class="col s6 no-padding label-new m-b h-auto">
          <label>NIT:</label>
          <p class="margin m-l">{{form.nit}}</p>
        </div>
        <div class="col s6 no-padding label-new m-b h-auto">
          <label>Nombre de la IPS:</label>
          <p class="margin m-l">{{(form.nombreIps!='')?form.nombreIps:'null'}}</p>
        </div>
        <div class="col s6 no-padding label-new m-b">
          <select ng-model="form.tipoDocumento" id="form_tipoDocumento" class="select-new gray-input" style="box-shadow: none;"
            material-select watch convert-to-number>
            <option ng-repeat="td in tipo_documento" value="{{td.Codigo}}">{{td.Nombre}}</option>
          </select>
          <label for="form_tipoDocumento">Tipo de Documento</label>
        </div>
        <div class="col s6 no-padding label-new m-b">
          <input ng-model="form.numeroId" id="form_numeroId" type="number" class="margin border-none white input-text-new input-w-p m-l gray-input w-100">
          <label for="form_numeroId">Número de identificación *</label>
        </div>
        <div class="col s12 no-padding label-new m-b">
          <input ng-model="form.nombreUser" id="form_nombreUser" type="text" autocomplete="off" class="margin border-none white input-text-new input-w-p gray-input w-100">
          <label for="form_nombreUser">Nombre Completo del Usuario *</label>
        </div>
        <div class="col s4 no-padding label-new m-b h-auto">
          <input value="{{form.numeroId}}" ng-disabled="true" type="text" class="margin border-none white input-text-new input-w-p gray-input w-100">
          <label>Usuario:</label>
        </div>
        <div class="col s4 no-padding label-new m-b">
          <input ng-model="form.contrasenna_0" id="form_contrasenna_0" type="password" autocomplete="off" class="margin border-none white input-text-new input-w-p m-l gray-input w-100">
          <label for="form_contrasenna_0">Contraseña *</label>
        </div>
        <div class="col s4 no-padding label-new m-b">
          <input ng-model="form.contrasenna_1" id="form_contrasenna_1" type="password" autocomplete="off" class="margin border-none white input-text-new input-w-p m-l gray-input w-100">
          <label for="form_contrasenna_1">Verificar Contraseña *</label>
        </div>
        <div class="col s6 no-padding label-new m-b">
          <input ng-model="form.celular" id="form_celular" type="number" class="margin border-none white input-text-new input-w-p gray-input w-100">
          <label for="form_celular">Celular *</label>
        </div>
        <div class="col s6 no-padding label-new m-b">
          <input ng-model="form.telefono" id="form_telefono" type="number" class="margin border-none white input-text-new input-w-p m-l gray-input w-100">
          <label for="form_telefono">Telefono *</label>
        </div>
        <div class="col s6 no-padding label-new m-b">
          <input ng-model="form.correo" id="form_correo" type="text" class="margin border-none white input-text-new input-w-p gray-input w-100">
          <label for="form_correo">Correo *</label>
        </div>
        <div class="col s6 no-padding label-new m-b">
          <input ng-model="form.cargo" id="form_cargo" type="text" class="margin border-none white input-text-new input-w-p m-l gray-input w-100">
          <label for="form_cargo">Cargo *</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 no-padding label-new m-b h-auto">
          <label>Nota:</label>
          <p class="margin m-l">Este usuario administrador podra crear usuarios IPS y gestionar los accesos de dichos
            usuarios.</p>
        </div>
      </div>
      <input ng-click="registrarUserAdmin()" ng-if="vista.form" class="btn white-text default-background right" type="submit"
        value="Registrar Usuario" style="transition: all 0s;">
    </div>
  </div>
  <style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .h-auto {
      height: auto;
    }

    .gray-input {
      background-color: #e5e6e6 !important;
    }

    .swal_ips {
      text-align: left !important;
    }
  </style>
</div>