<div class="row">
   <div class="col l6 m6 s12">
      <div class="card">
         <div class="card-title">
            <div class="text-al switch" style="display:flex;">
               <strong> Datos de la Registraduria</strong>
               <label>
                  <input type="checkbox" checked="pistola" ng-model="pistola" ng-click="active()">
                  <span class="lever"></span>
               </label>
               <div class="tooltip"><a class="btn-floating btn waves-effect waves-light red" ng-click="clear()"><i
                        class="icon-eraser"></i></a>
                  <span class="tooltiptext">Limpiar</span>
               </div>
               <div class="codigobarra">
                  <input class="editabletext  medium-editor-element" ng-value="texto" type="text" role="textbox"
                     ng-model="qrcedula" id="qrcedula">
                  <input class="editabletext  medium-editor-element" ng-value="texto" type="text" role="textbox"
                     ng-model="qrnumero">
                  <input class="editabletext  medium-editor-element" ng-value="texto" type="text" role="textbox"
                     ng-model="qrprimer_apellido">
                  <input class="editabletext  medium-editor-element" ng-value="texto" type="text" role="textbox"
                     ng-model="qrsegundo_apellido">
                  <input class="editabletext  medium-editor-element" ng-value="texto" type="text" role="textbox"
                     ng-model="qrprimer_nombre">
                  <input class="editabletext  medium-editor-element" ng-value="texto" type="text" role="textbox"
                     ng-model="qrsegundo_nombre">
                  <input class="editabletext  medium-editor-element" ng-value="texto" type="text" role="textbox"
                     ng-model="qrsexo">
                  <input class="editabletext  medium-editor-element" ng-value="texto" type="text" role="textbox"
                     ng-model="qrfecha">
                  <input class="editabletext  medium-editor-element" ng-value="texto" type="text" role="textbox"
                     ng-model="qrtipo_sangre">
                  <input class="editabletext  medium-editor-element" ng-value="texto" type="text" role="textbox"
                     ng-model="qrnit">
                  <input class="editabletext  medium-editor-element" ng-value="texto" type="text" role="textbox"
                     ng-model="caso" ng-change="obtenerdatos()">
               </div>
            </div>
         </div>
         <div class="input-field">
            <input ng-disabled="true" id="normal" ng-model="radicado" type="text" class="validate">
            <label for="normal" class="">Radicado</label>
            <!-- <div class="input-label">
               <label for="normal" class="">Fecha</label>
            </div> -->
            <div class="input-list input-form">
               <div class="input-list input-view-column input-padding">
                  <label for="fechaprocesado" style="margin-top: -25px;">Fecha</label>
                  <input type="date" id="fechaprocesado" ng-model="fechaprocesado" class="datepicker picker__input"
                     aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="datepicker_root"
                     ng-disabled="dsb_fecha_afiliacion" max="{{sysdate | date:'yyyy-MM-dd'}}">
               </div>
               <div class="input-list input-view-column input-padding">
                  <label class="active">Tipo de Tramite</label>
               <select ng-disabled="pistola" class="select-chosen-eps" ng-model="filtro.selecttramite"
                  ng-change="changeTramite()">
                  <option value="" selected>Seleccionar</option>
                  <option ng-repeat="tramite in Tramites.Tramite" value="{{tramite.Codigo}}">{{tramite.Nombre}}</option>
               </select>
               </div>
            </div>
            <!-- <div class="input-list">
               <input type="date" id="datepicker" ng-model="fechaprocesado" class="datepicker picker__input"
                  aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="datepicker_root"
                  ng-disabled="dsb_fecha_afiliacion">
               <input type="date" id="datepicker" ng-model="fechaprocesado" class="datepicker picker__input"
                  aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="datepicker_root"
                  ng-disabled="dsb_fecha_afiliacion" max="{{sysdate | date:'yyyy-MM-dd'}}">
            </div>
            <div class="input-list input-view-column">
               <label class="active">Tipo de Tramite</label>
               <select ng-disabled="pistola" class="select-chosen-eps" ng-model="filtro.selecttramite"
                  ng-change="changeTramite()">
                  <option value="" selected>Seleccionar</option>
                  <option ng-repeat="tramite in Tramites.Tramite" value="tramite.Codigo">{{tramite.Nombre}}</option>
               </select>
            </div> -->
         </div>
      </div>
      <div class="card">
         <div class="card-title">
            <div class="text-al switch"><strong>1. Datos basicos de identificacion</strong>
            </div>
         </div>
         <div class="input-field">
            <div class="input-list input-form" ng-hide="iptDigitInfoBasica">
               <div class="input-list input-view-column input-padding">
                  <input ng-disabled="pistola" id="normal1" type="text" ng-change="form()" ng-model="primer_nombre"
                     style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();"
                     class="validate">
                  <label for="normal1" class="">1er Nombre</label>
               </div>
               <div class="input-list input-view-column">
                  <input ng-disabled="pistola" id="normal3" type="text" ng-change="form()" ng-model="segundo_nombre"
                     style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();"
                     class="validate">
                  <label for="normal3" class="">2do Nombre</label>
               </div>
            </div>
            <div class="input-list input-form" ng-hide="iptDigitInfoBasica">
               <div class="input-list input-view-column input-padding">
                  <input ng-disabled="pistola" id="normal2" type="text" ng-change="form()" ng-model="primer_apellido"
                     type="text" style="text-transform:uppercase;"
                     onkeyup="javascript:this.value=this.value.toUpperCase();" class="validate">
                  <label for="normal2" class="">1er Apellido</label>
               </div>
               <div class="input-list input-view-column">
                  <input ng-disabled="pistola" id="normal4" ng-change="form()" ng-model="segundo_apellido" type="text"
                     style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();"
                     class="validate">
                  <label for="normal4" class="">2do Apellido</label>
               </div>
            </div>
            <div class="input-list input-form">
               <div class="input-list input-view-column input-padding">
                  <label class="active">Tipo de Documento</label>
                  <select ng-disabled="pistola" class="select-chosen-eps" ng-change="form()" ng-blur="validarLongitudTipoDoc()" id="tipo_doc"
                     ng-model="filtro.selectdocumento">
                     <!-- <option ng-repeat="documento in Documentos.Documento" ng-value="documento.Codigo">
                        {{documento.Nombre}}</option>  -->
                     <!-- ng-selected="x.CODIGO == filtro.selectdocumento" -->
                     <option value="" disabled>SELECCIONAR</option>
                     <option value="{{x.CODIGO}}" ng-repeat="x in Tipos_Documentos">{{x.NOMBRE}}</option>
                  </select>
               </div>
               <div class="input-list input-view-column">
                  <input ng-disabled="pistola" id="normal8" ng-change="form()" ng-model="documento" type="text" ng-blur="validarLongitudTipoDoc()"
                     class="validate" maxlength="20">
                  <label for="normal8">Numero</label>
               </div>
            </div>
            <!--  -->
            <div class="input-list input-form" ng-show="filtro.selectdocumento == 'RC' && documento.length > 5 && filtro.selecttramite == 'C'">
              <div class="input-list input-view-column input-padding">
                 <label class="active">Tipo de Documento CN</label>
                 <select class="select-chosen-eps"
                    ng-model="filtro.selectdocumento_CN" ng-disabled="pistola">
                    <option value="CN">CERTIFICADO NACIDO VIVO</option>
                 </select>
              </div>
              <div class="input-list input-view-column">
                 <input  id="normal8" ng-model="documento_CN" type="text" ng-disabled="pistola" numbers-only maxlength="14"
                    class="validate" ng-blur="validarLongitudTipoDoc_CN()">
                 <label for="normal8">Numero CN</label>
              </div>
           </div>
           <!--  -->
            <div class="input-list input-form" ng-hide="iptDigitInfoBasica">
               <div class="input-list input-view-column input-padding">
                  <label for="simple-select" style="margin-top: -20px;">Regimen</label>
                  <select class="select-chosen-eps" id="simple-select" ng-model="filtro.selectregimen" disabled>
                     <option value="" disabled>Seleccionar</option>
                     <option value="C">SUBSIDIADO</option>
                     <!-- <option ng-repeat="reg in Regimenes.Regimen" ng-value="reg.Codigo">{{reg.Nombre}}</option> -->
                  </select>
               </div>
               <div class="input-list input-view-column">
                  <label style="margin-top: -20px;">Sexo</label>
                  <select ng-disabled="pistola" class="select-chosen-eps" ng-change="form()" id="sexoCabeza"
                     ng-model="filtro.selectsexo">
                     <option ng-repeat="sexo in Sexos.Sexo" value="{{sexo.Codigo}}">{{sexo.Nombre}}</option>
                  </select>
               </div>
            </div>
            <div class="input-list input-form" ng-hide="iptDigitInfoBasica">
               <div class="input-list input-view-column input-padding">
                  <label style="margin-top: -25px;">Fecha de Nacimiento</label>
                  <input ng-disabled="pistola" type="date" id="fnacimiento" ng-change="form()" ng-model="nacimiento"
                     class="datepicker picker__input" aria-haspopup="true" aria-expanded="false" aria-readonly="false"
                     aria-owns="datepicker_root">

               </div>
            </div>
            <!-- <div class="input-label" ng-hide="iptDigitInfoBasica">
               <label for="normal" class="">Fecha de Nacimiento</label>
            </div>
            <div class="input-list" ng-hide="iptDigitInfoBasica">
               <input ng-disabled="pistola" type="date" id="datepicker" ng-change="form()" ng-model="nacimiento"
                  class="datepicker picker__input" aria-haspopup="true" aria-expanded="false" aria-readonly="false"
                  aria-owns="datepicker_root">
            </div> -->
            <div class="input-button">
               <button class="btn btn-primary" ng-click="MostrarFosyga()" ng-model="validabtn" ng-disabled="btnFosyga">
                  <span ng-show="fosygaButtonText == 'Cargando'"><i class="zmdi zmdi-refresh-sync fa-spin"></i></span>{{
                  fosygaButtonText }}</button>

               <button type="submit" class="btn btn-primary" ng-click="validaform()" ng-model="validabtn"
                  ng-disabled="btnValidar">
                  <span ng-show="validaButtonText == 'Validando'"><i
                        class="zmdi zmdi-refresh-sync fa-spin"></i></span>{{ validaButtonText }}
               </button>
            </div>
         </div>
      </div>
      <div class="card">
         <div class="card-title">
            <div class="text-al switch"><strong>2. Datos complementarios personales</strong>
            </div>
         </div>
         <div class="input-field" ng-hide="inactive2">
            <div class="input-list input-form">
               <div class="input-list input-view-column input-padding">
                  <label for="etnia" style="margin-top: -20px;">Etnia</label>
                  <select class="select-chosen-eps" id="etnia" ng-model="filtro.selectetnia"
                     ng-disabled="hoja2_dsb">
                     <option value="" selected>Seleccionar</option>
                     <option ng-repeat="etnia in Etnias.Etnia" ng-value="etnia.Codigo">{{etnia.Nombre}}</option>
                  </select>
               </div>
               <div class="input-list input-view-column">
                  <label for="discapacidad" style="margin-top: -20px;">Discapacidad</label>
                  <select ng-change="valorCondicion()" class="select-chosen-eps" id="discapacidad"
                     ng-model="filtro.selectdiscapacidad" ng-disabled="hoja2_dsb">
                     <option value="" selected>Seleccionar</option>
                     <option ng-repeat="discapacidad in Discapacidades.Discapacidad" ng-value="discapacidad.Codigo">
                        {{discapacidad.Nombre}}</option>
                  </select>
               </div>
            </div>
            <div class="input-list input-form">
               <div class="input-list input-view-column input-padding">
                  <label for="condicion" style="margin-top: -20px;">Condicion</label>
                  <select class="select-chosen-eps" id="condicion" ng-disabled="disDiscapacidad"
                     ng-model="filtro.selectcondicion">
                     <option value="" selected>Seleccionar</option>
                     <option ng-repeat="condicion in Condiciones.Condicion" ng-value="condicion.Codigo">
                        {{condicion.Nombre}}</option>
                  </select>
               </div>
               <div class="input-list input-view-column" ng-show="filtro.selectmetodogpoblacional == 1 || filtro.selectmetodogpoblacional == 2">
                  <label for="simple-select" style="margin-top: -20px;">Ficha de SISBEN</label>
                  <input id="normal" ng-disabled="hoja2_dsb" class="validate" type="text" maxlength="{{filtro.selectmetodogpoblacional == 1 ? 9 : 23}}" numbers-only
                     ng-model="fichasisben">
               </div>
               <!-- <div class="input-list input-view-column">
                  <label for="simple-select" style="margin-top: -20px;">Ficha de SISBEN</label>
                  <input id="normal" ng-disabled="disFicha" class="validate" type="text" maxlength="20" numbers-only
                     ng-model="fichasisben">
               </div> -->
               <!-- <div class="input-list input-view-column">
                  <label for="simple-select" style="margin-top: -20px;">Nivel de SISBEN</label>
                  <input ng-disabled="disSisben" id="normal" class="validate" type="text" ng-model="sisben"
                     ng-change="validaSisben()">
               </div> -->
            </div>

            <div class="input-list input-form">
               <div class="input-list input-view-column input-padding">
                  <label for="simple-select" style="margin-top: -20px;">Metodologia G.Poblacional</label>
                  <select ng-disabled="hoja2_dsb" ng-change="obtenerGrupoPoblacional()" class="select-chosen-eps"
                     id="metodogpoblacion" ng-model="filtro.selectmetodogpoblacional">
                     <option value="" selected>Seleccionar</option>
                     <option value="1">Sisbén III</option>
                     <option value="2">Sisbén IV</option>
                     <option value="3">Listado Censales</option>
                     <option value="4">Afiliacion de Oficio</option>
                  </select>
               </div>
               <div class="input-list input-view-column">
                  <label for="simple-select" style="margin-top: -20px;">G.Poblacional</label>
                  <select ng-disabled="hoja2_dsb" ng-change="CalcularGpoblacional()" class="select-chosen-eps"
                     id="poblacion" ng-model="filtro.selectpoblacional">
                     <option value="" selected>Seleccionar</option>
                     <option ng-repeat="x in Listado_Gpoblacional" value="{{x.codigo}}">{{x.Grupo_Poblacional}}</option>
                  </select>
               </div>
            </div>
            <div class="input-list input-form" ng-show="mostrar_sisbeniii">
               <div class="input-list input-view-column input-padding">
                  <label for="simple-select" style="margin-top: -20px;">Nivel de SISBEN</label>
                  <input id="normal" type="text" ng-model="sisben" ng-change="validaSisben()"
                     >
               </div>
               <div class="input-list input-view-column input-padding">
                  <label for="simple-select" style="margin-top: -20px;">Puntaje de SISBEN</label>
                  <input id="normal" class="validate" type="text" ng-model="puntajesisben" ng-keyup="FormatTexto('puntajesisben')">
               </div>
            </div>
            <div class="input-list input-form" ng-show="mostrar_sisbeniv">
               <div class="input-list input-view-column input-padding">
                  <label for="simple-select" style="margin-top: -20px;">Grupos</label>
                  <select ng-disabled="hoja2_dsb" ng-change="CalcularSubgrupoSisben()" class="select-chosen-eps"
                     id="selectgruposisben" ng-model="filtro.selectgruposisben">
                     <option value="" selected>Seleccionar</option>
                     <option ng-repeat="x in Listado_GrupoSisben" value="{{x.Grupo}}">GRUPO {{x.Grupo}}</option>
                  </select>
               </div>
               <div class="input-list input-view-column">
                  <label for="simple-select" style="margin-top: -20px;">SubGrupos</label>
                  <select ng-disabled="hoja2_dsb" class="select-chosen-eps" id="selectsubgruposisben"
                     ng-model="filtro.selectsubgruposisben">
                     <option value="" selected>Seleccionar</option>
                     <option ng-repeat="x in Listado_SubGrupoSisben" value="{{x.Sub_Grupo}}">{{x.Sub_Grupo}}</option>
                  </select>
               </div>
            </div>
            <div class="input-list input-form" ng-show="mostrar_Listado_Gpoblacional_31">
               <div class="input-list input-view-column input-padding">
                  <label for="simple-select" style="margin-top: -20px;">Causal Afiliacion Oficio</label>
                  <select ng-disabled="hoja2_dsb" class="select-chosen-eps" id="selectcausalafi_oficio"
                     ng-model="filtro.selectcausalafi_oficio">
                     <option value="" selected>Seleccionar</option>
                     <option ng-repeat="x in Listado_Gpoblacional_31" value="{{x.CODIGO}}">CAUSAL {{x.NOMBRE}}</option>
                  </select>
               </div>
            </div>
            <div class="input-button m-t">
               <button type="button" class="btn btn-primary" ng-click="validar_datos2()">
                  <span></span>{{ validaButtonText }}
               </button>
            </div>
            <!-- <div class="input-list input-form">
               <div class="input-list input-view-column input-padding">
                  <label for="simple-select" style="margin-top: -20px;">Puntaje de SISBEN</label>
                  <input id="normal" ng-disabled="disPuntaje" class="validate" type="text" ng-model="puntajesisben">
               </div>
               <div class="input-list input-view-column">
                  <label for="simple-select" style="margin-top: -20px;">Ficha de SISBEN</label>
                  <input id="normal" ng-disabled="disFicha" class="validate" type="number" mask='999999999999999'
                     ng-model="fichasisben">
               </div>
            </div> -->
         </div>
      </div>
   </div>
   <div class="col l6 m6 s12">
      <div class="card">
         <div class="card-title">
            <div class="text-al switch"><strong>3. Datos complementarios Residencia</strong>
            </div>
         </div>
         <div class="input-field" ng-hide="inactive3">
            <!--viaPrincipal y Numero/nombre-->
            <div class="input-list input-form">
               <div class="input-list input-view-column">
                  <label for="simple-select" style="margin-top: -20px;">Via Principal</label>
                  <select ng-disabled="saved" class="select-chosen-eps" ng-model="filtro.selectViap">
                     <option value="" selected>Seleccionar</option>
                     <option ng-repeat="viap in viaprincipal.Viaprincipal" ng-value="viap.Codigo">{{viap.Nombre}}
                     </option>
                  </select>
               </div>
               <div class="input-list input-view-column">
                  <input ng-disabled="saved" id="normal" type="text" class="validate" ng-model="filtro.numeroN">
                  <label for="normal" class="">Numero/Nombre</label>
               </div>
            </div>
            <!--Letra y Numero-->
            <div class="input-list input-form">
               <div class="input-list input-view-column">
                  <label for="simple-selecty" style=" margin-top: -20px;" class="">Letra</label>
                  <select ng-disabled="saved" class="select-chosen-eps format-list" id="selectLetra"
                     ng-model="filtro.selectLetra">
                     <option ng-repeat="letra in letras" ng-value="letra.Codigo">{{letra.Nombre}}</option>
                  </select>
               </div>
               <div class="input-list input-view-column">
                  <input ng-disabled="saved" id="number" type="text" class="validate" ng-model="filtro.selectnumero"
                     min="1" max="9" maxlength="5">
                  <label for="normal" class="">Numero</label>
               </div>
            </div>
            <!--Bis y Cuadrante-->
            <div class="input-list input-form">
               <div class="input-list input-view-column input-padding">
                  <input ng-disabled="saved" type="checkbox" id="checkboxBIS" ng-model="filtro.bis" />
                  <label for="checkboxBIS">Bis</label>
               </div>
               <div class="input-list input-view-column">
                  <label for="simple-selecty" style="margin-top: -20px;" class="">Cuadrante</label>
                  <select ng-disabled="saved" class="select-chosen-eps format-list" id="selectcuadrante"
                     ng-model="filtro.selectcuadrante">
                     <option ng-repeat="cuadrante in Cuadrantes" ng-value="cuadrante.Codigo">
                        {{cuadrante.Nombre}}</option>
                  </select>
               </div>
            </div>
            <!--NumeroVG y letraVG-->
            <div class="input-list input-form">
               <div class="input-list input-view-column input-padding">
                  <input ng-disabled="saved" id="normal" type="text" class="validate" ng-model="filtro.numeroNVG">
                  <label for="normal" class=""> Numero VG</label>
               </div>
               <div class="input-list input-view-column">
                  <label for="simple-selecty" style="
               margin-top: -20px;" class="">Letra VG</label>
                  <select ng-disabled="saved" class="select-chosen-eps" id="selectLetraVG"
                     ng-model="filtro.selectLetraVG">
                     <option ng-repeat="letravg in letras" ng-value="letravg.Codigo">{{letravg.Nombre}}</option>
                  </select>
               </div>
            </div>
            <!--Numero de placa y CuadranteVG-->
            <div class="input-list input-form">
               <div class="input-list input-view-column input-padding">
                  <input ng-disabled="saved" id="normal" type="text" class="validate" ng-model="filtro.numeroplaca">
                  <label for="normal" class="">Numero Placa</label>
               </div>
               <div class="input-list input-view-column">
                  <label for="simple-selecty" style="margin-top: -20px;" class="">Cuadrante VG</label>
                  <select ng-disabled="saved" class="select-chosen-eps" ng-model="filtro.selectcuadranteVG"
                     id="selectcuadranteVG">
                     <option ng-repeat="cuadrantevg in Cuadrantes" ng-value="cuadrantevg.Codigo">
                        {{cuadrantevg.Nombre}}</option>
                  </select>
               </div>
            </div>
            <!--Complemento-->
            <div class="input-list">
               <input ng-disabled="saved" id="normal" type="text" class="validate" ng-model="filtro.complemento"
                  style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();">
               <label for="normal" class="">Complemento</label>
            </div>
            <!--Direccion concatenada-->
            <div class="input-list">
               <div ng-if="filtro.bis==true">
                  <input ng-disabled="true" id="direccion" type="text"
                     value="{{filtro.selectViap}}  {{filtro.numeroN}} {{filtro.selectLetra}} {{filtro.selectnumero}} BIS {{filtro.selectcuadrante}} {{filtro.numeroNVG}} {{filtro.selectLetraVG}} {{filtro.numeroplaca}} {{filtro.selectcuadranteVG}} {{filtro.complemento}}"
                     class="requerido" name="direccion">
               </div>
               <div ng-if="filtro.bis==false">
                  <input ng-disabled="true" id="direccion" type="text"
                     value="{{filtro.selectViap}}  {{filtro.numeroN}} {{filtro.selectLetra}} {{filtro.selectnumero}} {{filtro.selectcuadrante}} {{filtro.numeroNVG}} {{filtro.selectLetraVG}} {{filtro.numeroplaca}} {{filtro.selectcuadranteVG}} {{filtro.complemento}}"
                     class="requerido" name="direccion">
               </div>
               <label style="margin-top: -20px;">Direccion</label>
            </div>
            <!--telefono y celular-->
            <div class="input-list input-form">
               <div class="input-list input-view-column input-padding">
                  <input numbers-only ng-disabled="saved" id="tel" name="tel" type="text" class="validate requerido"
                     ng-model="telfijo" mask='9999999'>
                  <label for="normal" class="">Telefono Fijo </label>
               </div>
               <div class="input-list input-view-column">
                  <input numbers-only ng-disabled="saved" id="cel" name="cel" type="text" class="validate requerido"
                     ng-model="celular" mask='9999999999'>
                  <label for="normal" class="">Telefono Celular</label>
               </div>
            </div>
            <!--Correo y municipio-->
            <div class="input-list input-form">
               <div class="input-list input-view-column input-padding">
                  <input ng-disabled="saved" id="email" name="email" type="email" class="validate requerido"
                     ng-model="correo">
                  <label for="normal" class="">Correo Electronico</label>
               </div>
               <div class="input-list input-view-column">
                  <label for="simple-select" style="margin-top: -20px;">Mun. Residencia</label>
                  <select ng-disabled="saved" id="municipio" ng-change="obtenerEscenario()" ng-model="filtro.municipio"
                     class="select-chosen-eps">
                     <option ng-value="0">SELECCIONAR</option>
                     <option ng-selected="mun.CODIGO == filtro.municipio" ng-repeat="mun in Municipio"
                        ng-value="mun.CODIGO">{{mun.NOMBRE}}</option>
                  </select>
               </div>
            </div>
            <!--Zona y localidad-->
            <div class="input-list input-form">
               <div class="input-list input-view-column input-padding">
                  <label for="simple-selecty" style="margin-top: -20px;" class="">Zona</label>
                  <select ng-disabled="saved" class="select-chosen-eps" id="simple-select" ng-model="filtro.selectZona"
                     ng-change="mostrar4(filtro.selectZona)">
                     <option ng-repeat="zona in Zonas.Zona" ng-value="zona.Codigo">{{zona.Nombre}}</option>
                  </select>
               </div>
               <div class="input-list input-view-column input-padding">
                  <input ng-disabled="saved" id="normal" type="text" name="localidad" style="text-transform:uppercase;"
                     onkeyup="javascript:this.value=this.value.toUpperCase();" class="validate requerido"
                     ng-model="localidad">
                  <label for="normal" class="">Localidad/Barrio</label>
               </div>
            </div>
         </div>
      </div>
      <div class="card">
         <div class="card-title">
            <div class="text-al switch"><strong>4. Datos Escenarios IPS y Acta De Entrega</strong>
            </div>
         </div>
         <div class="input-field" ng-hide="inactive5">
            <div class="input-list input-view-column">
               <label for="simple-select" style="margin-top: -20px;">IPS</label>
               <select class="select-chosen-eps" ng-disabled="ips" ng-model="filtro.escenario"
                  ng-change="ObtenerDetalle()">
                  <option ng-value="">SELECCIONAR</option>
                  <option ng-repeat="ips in Escenarios" ng-value="ips.CODIGO" value="{{ips.CODIGO}}">{{ips.CODIGO}} -
                     {{ips.NOMBRE}}</option>
               </select>
               <div class="input-button">
                  <a class="waves-effect waves-light btn white-text primary-button"
                     ng-click="MostrarDetalle()">Detalle</a>
               </div>
               <span class="input-group-btn"></span>
            </div>
            <div class="input-list input-form">
               <div class="input-button">
                  <div class="tooltip">
                     <button class="btn-floating btn-large waves-effect waves-light" ng-disabled="reporte"
                        ng-click="acta()">
                        <i class="icon-doc-text-inv"></i>
                     </button>
                     <span class="tooltiptext">Acta De Entrega</span>
                  </div>
               </div>
               <!--  <div class="input-button">
                  <div class="tooltip">
                     <button class="btn-floating btn-large waves-effect waves-light" ng-disabled="reporte"
                        ng-click="encuestasalud()">
                        <i class="icon-doc-text-inv"></i>
                     </button>
                     <span class="tooltiptext">Generar declaración</span>
                  </div>
               </div> -->
            </div>
         </div>

         <div class="fixed-action-btn horizontal" ng-show="pistola">
            <div class="tooltip">
               <a class="btn-floating btn-large" data-toggle="modal" ng-click="MostrarBeneficiario()">
                  <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
               </a>
               <span class="tooltiptext">Beneficiario</span>
            </div>
         </div>
      </div>
      <div class="card">
         <div class="card-title">
            <div class="text-al switch"><strong>5. Anexo de Documentos del Cabeza de Familia </strong>
            </div>
         </div>
         <div class="input-field" ng-hide="inactive4">
            <div class="input-button">
               <center>
                  <a ng-disabled="subirdocumento" class="waves-effect waves-light btn white-text primary-button"
                     ng-click="ModalDigitalizacion('1')">Subir Documento</a>
                  <a class="waves-effect waves-light btn white-text primary-button" ng-click="CargarSoporte()"
                     ng-hide="SisbenSoporte">Cargar DNP</a>
               </center>
            </div>
            <div class="input-list input-form">
               <div class="input-button">
                  <div class="tooltip"><button type="submit" class="btn-floating btn-large waves-effect waves-light"
                        ng-click="ProcesarBeneficiario()" ng-model="validabtn" ng-disabled="isAttachButton">
                        <i class="icon-floppy">
                           <span ng-show="validaButtonGuardar == 'Guardando...'">
                              <i class="zmdi zmdi-refresh-sync fa-spin"></i>
                           </span>
                        </i>
                     </button>
                     <span class="tooltiptext">Guardar</span>
                  </div>
               </div>
               <div class="input-button">
                  <div class="tooltip">
                     <a class="btn-floating btn-large waves-effect waves-light" ng-click="AgregarBeneficiario()"
                        ng-disabled="isbeneficiario"><i class="icon-plus-squared-alt"></i></a>
                     <span class="tooltiptext">Agregar beneficiario</span>
                  </div>
               </div>
               <div class="input-button" style="margin-left: 5px;">
                  <div class="tooltip">
                     <button class="btn-floating btn-large waves-effect waves-light" ng-disabled="reporte"
                        ng-click="generaDeclaracion()">
                        <i class="icon-docs"></i>
                     </button>
                     <span class="tooltiptext">Generar declaración</span>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div id="modal12" class="modal">
         <div class="modal-content">
            <div class="row">
               <div class="ngdialog-close" ng-click="close()"
                  style="float: right; font-size: 50px; padding-right: 20px;"></div>
               <div class="card-content">
                  <h5>Núcleo Familiar</h5>
               </div>
               <div class="card-content clearfix">
                  <blockquote style="border-left: 5px solid #000000 !important">
                     Antes de continuar con el proceso de afiliación por favor valide el núcleo familiar del cabeza de
                     familia para evitar duplicidades. Si el afiliado que desea ingresar ya se encuentra registrado, por
                     favor diríjase al módulo de novedades para realizar la activación y novedades necesarias.
                  </blockquote>
                  <table class="highlight responsive-table bordered" align="center" id="tablanucleo"
                     style="cursor: pointer !important;">
                     <thead align="center">
                        <tr>
                           <td><strong>TIPO</strong></td>
                           <td><strong>DOCUMENTO</strong></td>
                           <td><strong>NOMBRE</strong></td>
                           <td><strong>TIPO AFILIADO</strong></td>
                        </tr>
                     </thead>
                     <tbody style="height: 40%; overflow: scroll;">
                        <tr data-ng-repeat="data in afildata track by $index">
                           <td>{{data.TIPODOCUMENTO}}</td>
                           <td>{{data.DOCUMENTO}}</td>
                           <td>{{data.NOMBRECOMPLETO}}</td>
                           <td>{{data.TIPO+' - '+data.PARENTESCO}}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <br>
               <center>
                  <button class="waves-effect waves-light btn white-text primary-button margin-bottom-10"
                     style="background-color: #558a2f;" ng-click="AgregarBeneficiario()">
                     <i class="icon-person"></i>Continuar Afiliación
                  </button>
               </center>
               <br>
            </div>

         </div>
      </div>

      <style>
         .close {
            position: absolute;
            right: 25px;
            top: 0;
            color: #000;
            font-size: 35px;
            font-weight: bold;
         }

         .close:hover,
         .close:focus {
            color: red;
            cursor: pointer;
         }

         .readOnly {
            color: #808080;
         }

         .adjuntar {
            position: absolute;
            z-index: 1;
            opacity: 0;
            float: left;
            text-align: center;
            overflow: hidden;
         }
      </style>
