<div class="row">

    <style>
        #modalpopUp {
            max-height: 100% !important;
            border-radius: 0 !important;
            background-color: transparent !important;
            width: 800px !important;

        }

        .icon-style {
            position: relative;
            font-size: 10em;
            z-index: 10;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form-check {
            position: relative;
            display: block;
            padding-left: 1.25rem;
        }

        .form-check-inline {
            display: -ms-inline-flexbox;
            display: inline-flex;
            -ms-flex-align: center;
            align-items: center;
            padding-left: 0;
            margin-right: .75rem;
        }

        .table-responsive {
            display: block;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            background-color: white;
        }

        .fs-10 {
            font-size: 10px;
        }

        .li {
            float: left;
            width: 100%;
            padding: 1%;
            margin: 0 0 1.5em;
            height: 40px;
            border-radius: 0;
            box-shadow: none;
            background-color: rgb(242, 242, 242);
        }

        #modalpopUp>div {

            display: flex;
            padding: 0;
            width: 800px !important;

        }

        .ng-animate,
        .ng-enter-active,
        .ng-enter,
        .ng-leave-active {
            transition: all 0s;
        }

        .step {

            background-color: #9e9e9e;
            color: white;
            display: flex;
            align-items: center;
            padding: 0.5em 1em;
            border-radius: 5%;
            cursor: default;
            user-select: none;

        }

        .step-item {
            width: auto;
            border-radius: 5%;
            padding: 0 1em;

        }

        #toast-container .toast {
            /* width: 470px; */
            /* width: fit-content; */
            border-radius: 25px !important;
            font-weight: 600;
            text-align: center !important;
            word-break: keep-all;
            padding: 10px 25px;
            width: auto;
        }



        .steper {
            width: 100%;
            display: inline-flex;
            text-align: center;
        }

        .step-divider {
            width: 100%;
            margin: auto;
        }

        .btn-step-content {
            position: relative;
            display: none;
            height: calc(100% - 132px);
            width: inherit;
            overflow: visible;
            margin-left: 41px;
            margin-right: 24px;
        }

        .step-option {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .step-option>button {
            height: auto;
            padding: 0.5em 1em;
            line-height: normal;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 5em;
        }

        .back-step,


        .back-step:hover {
            margin-top: 7px;
            position: absolute;
            right: 80px;
            background: #ff4350 !important;

        }

        .btn-step {
            background-color: rgba(0, 0, 0, .3);
            color: white;
        }

        .no-cursor {
            cursor: not-allowed;
        }

        @import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

        .file-upload-wrapper {
            position: relative;
            width: 100%;
            height: 44px;
            border: 1px solid #eeeeee;
            z-index: 1;

        }

        .file-upload-wrapper:after {
            content: attr(data-text);
            font-size: 18px;
            position: absolute;
            top: 0;
            left: 0;
            background: #fff;
            padding: 10px 15px;
            display: block;
            width: calc(100% - 40px);
            pointer-events: none;
            z-index: 20;
            height: 40px;
            line-height: 24px;
            color: #999;
            border-radius: 5px 10px 10px 5px;
            font-weight: 300;
        }



        .file-upload-wrapper:before {
            content: "Adjuntar";
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            height: 43px;
            background: #4daf7c;
            color: #fff;
            font-weight: 700;
            z-index: 25;
            font-size: 16px;
            line-height: 44px;
            padding: 0 15px;
            text-transform: uppercase;
            pointer-events: none;
            border-radius: 0 5px 5px 0;
        }


        .file-upload-wrapper:hover:before {
            background: #3d8c63;
        }



        .file-upload-wrapper input {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 99;
            height: 43px;
            margin: 0;
            padding: 0;
            display: block;
            cursor: pointer;
            width: 100%;

        }

        /* disabled */

        .file-upload-wrapper2 {
            position: relative;
            width: 100%;
            height: 44px;
            border: 1px solid #eeeeee;
            z-index: 1;
        }



        .file-upload-wrapper2:after {
            content: attr(data-text);
            font-size: 18px;
            position: absolute;
            top: 0;
            left: 0;
            background: #fff;
            padding: 10px 15px;
            display: block;
            width: calc(100% - 40px);
            pointer-events: none;
            z-index: 20;
            height: 40px;
            line-height: 24px;
            color: #999;
            border-radius: 5px 10px 10px 5px;
            font-weight: 300;
        }

        .file-upload-wrapper2:before {
            content: "Adjuntar";
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            height: 43px;
            background: #919292;
            color: #fff;
            font-weight: 700;
            z-index: 25;
            font-size: 16px;
            line-height: 44px;
            padding: 0 15px;
            text-transform: uppercase;
            pointer-events: none;
            border-radius: 0 5px 5px 0;

        }

        .file-upload-wrapper2:hover:before {
            background: #919292;
        }

        .file-upload-wrapper2 input {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 99;
            height: 43px;
            margin: 0;
            padding: 0;
            display: block;
            cursor: not-allowed !important;
            width: 100%;

        }



        .invalid {

            color: red;

        }

        .currency-input {
            width: 93%;
            position: relative;
        }


        .currency {
            padding-left: -22px;
        }


        .currency-symbol {
            position: absolute;
            left: 8px;
            font-size: 21px;
        }

        blockquote {
            font-weight: 700;
            background-color: #f1f3f4;
        }

        .textarea2 {
            padding: 0.5rem !important;
            width: calc(100% - 0rem) !important;
            /* background-color: #cbcdce; */
            background-color: #f1f3f4;
            resize: none;
            height: 7rem;
        }
    </style>

    <div class="col no-padding" style="width: 100%;">
        <div class="col s12 m12 l12 magazine widgets-tabs">
            <div class="card-panel" style="margin-bottom: 20px;">

            
    

                <div class="row">
                    <div id="my_menu" class="row section-header" style="background: #9897e81f;margin-bottom: 0">
                        <div class="col l12">
                            <ul class="left mailbox-custom-search list-inline"
                                style="width: 100%;display: flex;justify-content: space-between;align-items: center;">
                                <li>
                                    <h5
                                        style="font-family: 'Product Sans',Arial,sans-serif;font-size: 22px;line-height: 22px;opacity: .54;">
                                        Evolucion de documento</h5>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col l12 m12 s12">
                            <h5>
                                <i class="icon-doc-text left"></i> Buscar por tipo y numero de documento
                            </h5>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="col s12">

                            <div class="col s12">
                                <form id="busafi" ng-submit="buscarAfiliado()">
                                    <div class="col s5">
                                        <div class="input-field col m12 s12">
                                            <select id="simple-select chosen" ng-model="tipoDoc" material-select watch>
                                                <option value="" disabled>SELECCIONAR</option>
                                                <option value="{{x.CODIGO}}" ng-selected="x.CODIGO == Form.Tipo_Doc" ng-repeat="x in Tipos_Documentos">{{x.NOMBRE}}</option>
                                                
                                            </select>
                                            <label for="simple-select">Tipo de Documento</label>
                                        </div>
                                    </div>
                                    <div class="col s5">
                                        <div class="input-field col m12 s12">
                                            <input id="documento" type="text" ng-model="documento" class="validate">
                                            <label for="documento" class="">Documento</label>
                                        </div>
                                    </div>
                                    <div class="col s2">
                                        <div class="input-field col m12 s12">
                                            <center><button class="waves-effect waves-light btn-large white-text pink"
                                                    type="submit">Buscar</button></center>
                                            <br>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
    
                    </div>

                    <div ng-show="mostrarafiliado">
                    <div class="col s12" style="margin-bottom: 15px">
                        <div class="row col s12">
                            <i class="material-icons left" style="margin-top: 14px;">more_vert</i>
                            <h5>Información del documento actual del afiliado</h5>
                        </div>
                        <br>
                        <div class="col s12">
                            <table class="responsive-table table-bordered" style="height:100px;">
                                <thead>
                                    <tr>
                                        <th data-field="NOMBRE" class="center-align">NOMBRE</th>
                                        <th data-field="Nombre" class="center-align">IDENTIFICACION</th>
                                        <th data-field="NACIMIENTO de Nacimiento" class="center-align">GENERO
                                        </th>
                                        <th data-field="GENERO" class="center-align">EDAD</th>
                                        <th data-field="REGIMEN" class="center-align">REGIMEN</th>
                                        <!-- <th data-field="EDAD" class="center-align">EDAD</th>

                                        <th colspan="{{afirownumIV}}" data-field="AFILIADO" class="center-align">
                                            AFILIADO</th> -->

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <tr ng-repeat="a in verdatos"> -->

                                        <td class="center-align">{{verdatos.NOMBRE}}</td>
                                        <td class="center-align">{{verdatos.TIPO_DOC}} -
                                            {{verdatos.DOCUMENTO}}
                                        </td>
                                        <td class="center-align">{{verdatos.SEXO}}</td>
                                        <td class="center-align">{{verdatos.EDAD}}</td>
                                        <td class="center-align">{{verdatos.REGIMEN}}</td>
                                        <!-- <td class="center-align">{{a.EDAD}} </td>

                                        <td class="center-align"><span
                                                class="status green">{{a.ESTADO_AFILIADO}}</span>
                                        </td> --> 

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                 

                </div>

                
            </div>
        </div>
    </div>

 

</div>