<div class="row">
    <div class="col12">
      <div class="card" style="margin: 10px;">
  <div class="foot4 divcardcustom">
    <div class="text-al switch divcardcustom2"><strong>  Busqueda de Informacion </strong>
    </div>
  </div>
  <div class="card-content" style="margin-top: -50px;">
   <div class="input-list input-form">
     <div class="input-list input-view-column">
     <input type="text" ng-model="filtrar" style="color: black;" placeholder="Filtrar...">
    </div>
 </div>
</div>
</div>

    <div class="card" style="margin: 10px;">
        <div class="foot4 divcardcustom">
            <div class="text-al switch divcardcustom2"><strong>  Informacion del los ACAS calificados </strong></div>
        </div>
        <div style="overflow-y: auto;">
        <div class="card-content"  style="height: 400px;">
          <table class="responsive-table bordered">
            <thead>
                <tr>
                    <th data-field="Numero">Numero Acas</th>
                    <th data-field="Ubicacion">Ubicacion</th>
                    <th data-field="Usuario">Usuario</th>
                    <th data-field="Date">Soporte</th>
                    <th data-field="Date">Calificion Acas</th>
                    <th data-field="Date">Comentario</th>
                    <th data-field="Date">Asunto</th>
                    <th data-field="Date">Diagnostico</th>
                    <th data-field="Estado"> Fecha Cierre Acas </th>
                    <th data-field="Estado"> Fecha Encuesta </th>
                </tr>
            </thead>

            <tbody >
                <tr data-ng-repeat="solicitud in solicitudes | filter:filtrar">
                        <td>{{solicitud.NUMERO}}</td>
                        <td>{{solicitud.NOMBREUBICACION}}</td>
                        <td>{{solicitud.NOMBRESOPORTE}}</td>
                        <td>{{solicitud.NOMBRECALIFICA}}</td>
                        <td>{{solicitud.PUNTAJE}}</td>
                        <td>{{solicitud.COMENTARIO}}</td>
                        <td>{{solicitud.ACASASUNTO}}</td>
                        <td>{{solicitud.ACASDIAG}}</td>
                        <td>{{solicitud.FECHACIERRE}}</td>
                        <td>{{solicitud.FECHAENCUESTA}}</td>
                        <td> <span class="{{solicitud.Color}}">{{solicitud.Estado}}</span> </td>
                    </tr>
                </tbody>
            </table>
        </div>
          </div>

    </div>
</div>
</div>

