<div id="analiticad" class="white newdesing position-relative">
    <style>
        #analiticad>ul {
            position: absolute;
            z-index: 1;
            background-color: #eaeaea;
            border: 1px solid #c8c8c8;
            padding: 5px;
            top: 0;
            left: 0;
            transition: all 500ms ease;
        }

        iframe#mapas {
            height: calc(100vh - 64px);
            position: absolute;
            top: -9px;
        }

        .bg-img {
            top: 25px;
            background-image: url(images/mapas/bg_image.jpg);

            /*  background: rgb(244,254,255);
        background: radial-gradient(circle, rgba(244,254,255,1) 0%, rgba(0,194,255,1) 100%);*/
            background-size: cover;
            min-height: calc(100vh - 64px) !important;
            /*filter:brightness(0.4);*/
        }

        .circle-container {
            position: absolute;
            width: 23vw;
            height: 23vw;
            padding: 0;
            border-radius: 50%;
            margin: 15vh 0 0 11.4vw;
        }

        .circle-container>* {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 5.5em;
            height: 5.5em;
            margin: -2.8em;
            transition: transform 500ms;
        }

        .circle-container img {
            display: block;
            width: 100%;
            border-radius: 50%;
            -webkit-box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.59);
            box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.59);
        }

        .circle-container:not(.activo_move) img.cursor-pointer:hover {
            transform: scale(1.1);
        }

        @keyframes circle_move {
            0% {
                opacity: 0;
                transform: translate(34vw) scale(0.5);
            }

            100% {
                opacity: 1;
                transform: none;
            }
        }

        .animacion_init {
            animation: circle_move 1s;
        }

        #logo {
            position: absolute;
            bottom: 0;
            width: 15%;
            left: 22px;
        }

        .Anim_Show {
            animation-name: Anim_Show;
            transition-delay: 5s;

        }

        @keyframes Anim_Show {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .img_width {
            width: 75%;
            transition-duration: .5s;
        }

        .img_width:hover {
            transform: scale(1.1);
            filter: brightness(1) !important;
            transition-duration: .5s;
        }
    </style>
    <ul class="default-background" ng-if="url!=''">
        <li>
            <i ng-click="atras()" style="background-color: lightgray" class="icon-back cursor-pointer"></i>
        </li>
    </ul>
    <div class="row dashboard-wrapper content-container no-padding" ng-class="{'white':url!='','bg-img':url==''}"
        style="padding-bottom: 20px;margin-bottom: 0;" ng-if="url==''">
        <diw class="col s12" style="padding:7vw">
            <!-- <center> <h1>    Modelo analitico Salud</h1></center>-->
            <div class="col s6 center" ng-repeat="item in power_bi" style="padding: 3vh 0vh">
                <img title="{{item.titulo}}" class="cursor-pointer img_width" ng-click="viewPDF(item.url)"
                    ng-src="{{item.icon}}" />
                <!--<h5 style="    font-size: 12px; color: white; font-weight: bolder;">{{item.titulo}}</h5>-->
            </div>
        </diw>


        <!--<div class='circle-container' style="-webkit-box-shadow: 0px 0px 0px 4px rgba(53,36,255,0.2); 
                                              box-shadow: 0px 0px 0px 4px rgba(53,36,255,0.2);">
           
                                          </div>-->
        <!--<img id="logo" src="images/mapas/iconos/LOGO-CAJACOPI-EPSvertical.png">-->
        <img id="logo" src="../../assets/images/logo_cajacopieps.png">
       
    </div>
     <div class="col s12 m12 l12 position-relative no-padding">
            <iframe id="mapas" width="100%" ng-show="url!=''" ng-src="{{url}}" frameborder="0"
                allowFullScreen="true"></iframe>
        </div>
</div>