<div id="inicioempresas">
    <style>
        .dashboard-wrapper {
            height: calc(100vh - 64px);
            padding: 36px;
            margin-bottom: 0;
            background-color: #1fc8db;
            background-size: cover;
            background-image: url(images/Home_Empresa.png);
            position: relative;
        }

        .box {
            width: 35vw;
            margin: 1em auto;
            padding: 1em 2em;
            animation: bounceInDown 1s ease-in;
            transition: 0.9s;
        }
    </style>
    <div class="row dashboard-wrapper content-container white">
        <div class="col s12">
            <div class="center-align white box">
                <h2 class="margin">Bienvenido</h2>
                <p class="left-align">Consulta tu Información básica <a href="#/informacionempresa">aquí</a>, o accede
                    a los demás módulos en la barra izquierda.
                    <br>
                    <br>
                    Para más información contacta nuestras líneas de atención.
                </p>
            </div>
        </div>
    </div>
</div>