
<div class="row">
      <i ng-hide="body" id="info" ng-click="detailpqr()" class="btn-floating icon-search" style="position: fixed;bottom: 10px;right: 10px;z-index: 100000;display: flex;justify-content: center;align-items: center;font-size: 1.5em;"></i>

<style>
   .Activo{
      color: red;
   }
   .Procesado{
      color: green;
   }
</style>
   <div id="validador" class="white newdesing" style="position:relative" >
      <!-- Encabezado -->
      <div class="row section-header">
         <ul class="left mailbox-custom-search list-inline"
            style="width: 100%;display: flex;justify-content: space-between;align-items: center;">
            <li id="inicio">
               <h5>Busqueda PQR</h5>
            </li>
            <li>
               <!--style="display:flex;align-items: center;"-->
               <label for="identificacion">Codigo PQR</label>
               <form method="post" ng-submit="buscar()" autocomplete="off"
                  class="form-input-icon-new">
                  <input class="margin border-none" id="identificacion" type="number" ng-model="codigo"
                     placeholder="Buscar">
                  <i ng-click="buscar()" class="icon-search"></i>
               </form>
            </li>
         </ul>
      </div>
      <!-- Contenido -->
      <div class="row dashboard-wrapper content-container white" style="padding-bottom: 20px;margin-bottom: 0;" ng-hide="body" >
         <div class="col l12 m12 s12" style="position:relative">
            <div class="row margin">
               <table class="striped centered">
                  <thead>
                     <th></th>
                     <th></th>
                  </thead>
                  <tbody>    
                       <tr><td><b>No:</b></td> <td>{{pqr.numeropqr}}</td></tr>
                       <tr><td><b>Aprobacion:</b></td> <td>{{pqr.aprobacion}}</td></tr>
                       <tr><td><b>Causal:</b></td> <td>{{pqr.causal}}</td></tr>
                       <tr><td><b>Codigo Super:</b></td> <td>{{pqr.codsuper}}</td></tr>
                       <tr><td><b>Descripcion:</b></td> <td>{{pqr.descripcion}}</td></tr>
                       <tr><td><b>Documento:</b></td> <td>{{pqr.documento}}</td></tr>
                       <tr><td><b>Fecha Radicado:</b></td> <td>{{pqr.fecha_Rad}}</td></tr>
                       <tr><td><b>Fecha Ent:</b></td> <td>{{pqr.fecha_ent}}</td></tr>
                       <tr><td><b>Fecha Registro:</b></td> <td>{{pqr.fecharegistro}}</td></tr>
                       <tr><td><b>Regimen:</b></td> <td>{{pqr.regimen}}</td></tr>
                       <tr><td><b>Macromotivo:</b></td> <td>{{pqr.macromotivo}}</td></tr>
                       <tr><td><b>Macromotivo Especifico:</b></td> <td>{{pqr.macromotivoespeciico}}</td></tr>
                       <tr><td><b>Macromotivo General:</b></td> <td>{{pqr.macromotivogeneral}}</td></tr>
                  </tbody>
               </table>
            </div>

    
            <!-- boton guardar actualizar-->

         </div>
      </div>



   </div>