<div id="gestionpqr" class="row margin" style="position: relative;">

    <div class="w-100">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="foot4 divcardcustom">
                    <div class="text-al switch">
                        <strong>GESTION</strong>
                    </div>
                </div>
                <div class="card-content">
                    <div style="width: 100%;z-index: 10;overflow: hidden;">
                        <div class="row">
                            <div class="col s12" style="margin-top: 10px">
                                <div class="col s6">
                                    Estado PQR:
                                </div>
                                <div class="col s6">
                                    <div class="switch">
                                        <label>
                                            Activo
                                            <input type="checkbox" ng-init="check_estado_pqr = false"
                                                ng-model="check_estado_pqr">
                                            <span class="lever"></span>
                                            Procesado
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-hide="check_estado_pqr">
                            <div style="overflow: auto;">
                                <table id="tablePQRIPS" class="responsive-table striped table-bordered"
                                    style="height:100px;">
                                    <thead class="noselectxtpqr">
                                        <tr>
                                            <th class="text-center">NUMERO SOLICITUD</th>
                                            <th class="text-center">FECHA RADICACION</th>
                                            <th class="text-center">FECHA VENCIMIENTO</th>
                                            <th class="text-center">DIAS HABILES RESTANTES</th>
                                            <th class="text-center">TIPO DE SOLICITUD</th>
                                            <th class="text-center">MEDIO</th>
                                            <th class="text-center">ENTE</th>                                            
                                            <th class="text-center">ESTADO SOLICITUD</th>
                                            <th class="text-center">ACCION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="p in listpqrs">
                                            <td class="text-center">{{p.CODIGO2}}</td>
                                            <td class="text-center">{{p.FECHARAD}}</td>
                                            <td class="text-center">{{p.FECHAENT}}</td>
                                            <th class="text-center"> <span class="status"
                                                    ng-style="{ 'background':p.DIAS=='0' ? 'orange' : 'green' }"
                                                    style="color:#fff">{{p.DIAS=='0' ? 'VENCIDA':p.DIAS}}</span> </th>
                                            <td class="text-center">{{p.SOLICITUD}}</td>
                                            <td class="text-center">{{p.NOMMEDIO}}</td>
                                            <td class="text-center">{{p.NOMSENTESDECONTROL}}</td>
                                            <td class="text-trans-up text-center">{{p.ESTADO}}</td>
                                            <td class="text-center noselectxtpqr float-none">
                                                <a class="waves-effect waves-light btn-small"
                                                    ng-click="showModalGestionar(p,p.AREA);"
                                                    title="GESTIONAR {{p.SOLICITUD}}">
                                                    <i id="bt-ges" class="icon-cogs fs-25"></i>
                                                </a>
                                                <br>
                                                <a ng-if="p.RUTA" class="waves-effect waves-light btn-small"
                                                    ng-click="descargafile(p.RUTA,p.FTP);" title="DESCARGAR ADJUNTO">
                                                    <i id="bt-ges" class="icon-download-6 fs-25"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr ng-if="resultsP.length==0">
                                            <td colspan="12" class="center-align white" style="padding: 100px;">
                                                <div class="results-lupa">
                                                    <i class="icon-search-4"></i>
                                                </div>
                                                <p class="text-center" ng-if="!check_option && (resultsP.length==0)">
                                                    No hay PQRS Activos Disponibles
                                                </p>
                                                <p class="text-center" ng-if="check_option && (resultsP.length==0)">
                                                    No hay PQRS Procesados Disponibles
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ng-show="check_estado_pqr">
                            <div class="row">
                                <div class="col s3">
                                    <div class="col s12">
                                        <label class="c-pointer noselectxtpqr" for="finicio">Fecha inicio</label>
                                        <input type="date" id="finicio" ng-model="datapqrips.finicio" max="{{maxDate}}">
                                    </div>
                                </div>
                                <div class="col s3">
                                    <div class="col s12">
                                        <label class="c-pointer noselectxtpqr" for="ffin">Fecha fin</label>
                                        <input type="date" id="ffin" ng-model="datapqrips.ffin" max="{{maxDate}}">
                                    </div>
                                </div>
                                <div class="col s3">
                                    <div class="input-field col m12 s12">                                              
                                      <button class="btn white-text" ng-click="getPqrIPSAVANZADO();"
                                        style="padding-right: 5px; padding-left: 5px; margin-top: 10px; float: right;"><i
                                          style="position: relative;" class="material-icons prefix">search</i></button>
                                          <a class="btn white-text red" ng-click="limpiarAvanzado();" style="padding-right: 5px; padding-left: 5px;
                                       margin-top: 10px; float: right;margin-right: 10px;"><i
                                          style="position: relative;" class="material-icons prefix">clear</i></a>
                                    </div>
                                  </div>
                            </div>

                            <div style="overflow: auto;" ng-if="listpqrsp.length>0">
                                <table id="tablePQRIPSP" class="responsive-table striped table-bordered"
                                    style="height:100px;">
                                    <thead class="noselectxtpqr">
                                        <tr>
                                            <th class="text-center">NUMERO SOLICITUD</th>
                                            <th class="text-center">FECHA RADICACION</th>
                                            <th class="text-center">FECHA VENCIMIENTO</th>
                                            <th class="text-center">DIAS HABILES RESTANTES</th>
                                            <th class="text-center">TIPO DE SOLICITUD</th>
                                            <th class="text-center">MEDIO</th>
                                            <th class="text-center">ENTE</th> 
                                            <th class="text-center">ESTADO SOLICITUD</th>
                                            <th class="text-center">ACCION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="p in listpqrsp">
                                            <td class="text-center">{{p.CODIGO2}}</td>
                                            <td class="text-center">{{p.FECHARAD}}</td>
                                            <td class="text-center">{{p.FECHAENT}}</td>
                                            <th class="text-center"> <span class="status"
                                                    ng-style="{ 'background':p.DIAS=='0' ? 'orange' : 'green' }"
                                                    style="color:#fff">{{p.DIAS=='0' ? 'VENCIDA':p.DIAS}}</span> </th>
                                            <td class="text-center">{{p.SOLICITUD}}</td>
                                            <td class="text-center">{{p.NOMMEDIO}}</td>
                                            <td class="text-center">{{p.NOMSENTESDECONTROL}}</td>
                                            <td class="text-trans-up text-center">{{p.ESTADO}}</td>
                                            <td class="text-center noselectxtpqr float-none">
                                                <a class="waves-effect waves-light btn-small"
                                                    ng-click="openmodals('modaldetallepqr',p);"
                                                    title="GESTIONAR {{p.SOLICITUD}}" >
                                                    <i id="bt-ges" class="material-icons fs-25">assignment_turned_in</i>
                                                </a>
                                                <br>
                                                <a ng-if="p.RUTA" class="waves-effect waves-light btn-small"
                                                    ng-click="descargafile(p.RUTA,p.FTP);" title="DESCARGAR ADJUNTO">
                                                    <i id="bt-ges" class="icon-download-6 fs-25"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr ng-if="resultsP.length==0">
                                            <td colspan="12" class="center-align white" style="padding: 100px;">
                                                <div class="results-lupa">
                                                    <i class="icon-search-4"></i>
                                                </div>
                                                <p class="text-center" ng-if="!check_option && (resultsP.length==0)">
                                                    No hay PQRS Activos Disponibles
                                                </p>
                                                <p class="text-center" ng-if="check_option && (resultsP.length==0)">
                                                    No hay PQRS Procesados Disponibles
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        <div id="modaldetallepqr" class="modal modal-trazapqr" style="width: 95%!important; max-height: 100%;top: 5%!important;">
            <div class="modal-content" style="padding: 0px !important;">
              <div class="col s12" style="padding-left: 0px; padding-right: 0px;">
                <div class="card charts" style="margin-top: 0px; margin-bottom: 0px;">
                  <div class="card-content foot4" style="padding: 0;text-align: center;">
                    <div class="col s11">                 
                      <h5 class="white-text" style="float: right;">TRAZABILIDAD {{dpqr.SOLICITUD}} - {{dpqr.CODIGO}}</h5>                
                    </div>
                    <div class="col s1">
                      <h5 style="text-align: end;"><i style="cursor:pointer;" ng-click="closemodals('modaldetallepqr')"
                          class="material-icons white-text">close</i>
                      </h5>
                    </div>
                  </div>
                  <div class="card-action" style="border-top: 0">
                    <div class="row">
                      <div>
                        <div class="col s6">
                          <div class="row margin">
                            <div class="card-content" style="padding: 10px;text-align: center">
                              <span class="w-divTitle margin default-color"> GESTION PQRDS {{dpqr.CODIGO}} </span>
                            </div>
                          </div>
                          <div class="card-content margin row">
                            <div class="scrollTableDefault">
                              <div class="margin-bottom-10 row" ng-repeat="item in procesopqr">
                                <div class="col s12 m1 no-padding collection border-none margin no-padding c-pointer">
                                  <img src="https://genesis.cajacopieps.com//assets/images/users/default-user.png" alt="User"
                                    class="circle responsive-img valign margin hide-on-small-only">
                                </div>
                                <div class="col s12 m11">
                                  <div class="c-pointer" style="padding: 1em;background-color: #F1F3F4;">
                                    <p class="grey-text text-darken-4 margin hide-on-small-only">
                                      <strong>
                                        <h6>{{item.nombre}}
                                          <small>{{item.fecha}}</small>
                                          <br>
                                          <small ng-if="item.fase">FASE: {{item.fase}}</small>
                                        </h6>
                                      </strong>
                                    </p>
                                    <p ng-if="item.motivo" class="grey-text text-darken-4 margin"><strong>MOTIVO
                                        PQR:</strong>
                                      {{item.motivo}}</p>
                                    <p ng-if="item.causal" class="grey-text text-darken-4 margin ng-binding">
                                      <strong>CAUSAL:</strong>
                                      {{item.causal}}</p>
                                    <p ng-if="item.causal" class="grey-text text-darken-4 margin ng-binding">
                                      <strong>TIPO
                                        CAUSAL:</strong>
                                      {{item.tipocausal}}</p>
                                    <p ng-if="item.subtipocausal" class="grey-text text-darken-4 margin ng-binding">
                                      <strong>SUB
                                        TIPO CAUSAL:</strong>
                                      {{item.subtipocausal}}</p>
                                    <p ng-if="item.acciontraslado" class="grey-text text-darken-4 margin ng-binding">
                                      <strong>ACCION
                                        TRASLADO:</strong>
                                      {{item.acciontraslado}}</p>
                                    <p class="grey-text text-darken-4 margin">
                                      <strong ng-if="item.origen=='A'">RESPUESTA PQR:</strong>
                                      {{item.comentario}}
                                    </p>
                                    <p ng-if="item.aprobaciontraslado" class="grey-text text-darken-4 margin ng-binding"
                                      style="text-align: justify;">
                                      <strong>APROBACION TRASLADO:</strong>
                                      {{item.aprobaciontraslado}}
                                    </p>
                                    <p ng-if="item.ips" class="grey-text text-darken-4 margin ng-binding"
                                      style="text-align: justify;">
                                      <strong>IPS RELACIONADA</strong>
                                    </p>
                                    <p ng-if="item.ips" class="grey-text text-darken-4 margin ng-binding"
                                      style="text-align: justify;">
                                      <strong>NIT IPS :</strong>
                                      {{item.ips}}
                                    </p>
                                    <p ng-if="item.ips" class="grey-text text-darken-4 margin ng-binding"
                                      style="text-align: justify;">
                                      <strong>NOMBRE IPS :</strong>
                                      {{item.nom_ips}}
                                    </p>
      
                                    <p ng-if="item.medicamentos.length>0 && item.fase=='SOPORTE'"
                                      class="grey-text text-darken-4 margin ng-binding" style="text-align: justify;">
                                      <strong>LISTADO DE MEDICAMENTOS RELACIONADOS</strong>
                                    </p>
                                    <table ng-if="item.medicamentos.length>0 && item.fase=='SOPORTE'"
                                      class="striped table-bordered">
                                      <thead>
                                        <tr>
                                          <th>
                                            COD
                                          </th>
                                          <th>
                                            NOMBRE
                                          </th>
                                        </tr>
                                      </thead>
      
                                      <tbody>
                                        <tr ng-repeat="i in item.medicamentos">
                                          <td>{{i.cod_medicamento}}</td>
                                          <td>{{i.nombre_medicamento}}</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <div ng-if="item.show_descargar=='true'" style="margin-top: 10px;width: 150px">
                                      <a class="dwnIcon c-pointer" ng-click="descargafile(item.ruta,item.ftp);"><i
                                          class="material-icons waves-effect border-none">attach_file</i>Descargar</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div ng-if="procesopqr.length==0">
                                <i id="bt-ges" class="icon-wechat fs-50"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col s6">
                          <div class="row mb-15">
                            <div class="row">
                              <div class="card-content" style="padding: 10px;text-align: center">
                                <span class="w-divTitle margin default-color"> DATOS {{dpqr.SOLICITUD}} </span>
                              </div>
                            </div>
                            <div class="row" style="height: 30em; overflow-y:auto">
                              <table class="table-bordered">
                                <tbody>
                                  <tr>
                                    <th class="noselectxtpqr">Codigo</th>
                                    <td>{{dpqr.CODIGO}}</td>
                                    <th class="noselectxtpqr">Estado</th>
                                    <td colspan="2" style="text-transform: uppercase;text-align: center"> <span
                                        class="status white-text {{dpqr.ESTADO=='Activo'?'orange':'green'}}">{{dpqr.ESTADO}}</span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th class="noselectxtpqr">Tipo Solicitud</th>
                                    <td>{{dpqr.SOLICITUD}}</td>
                                    <th class="noselectxtpqr">Medio Recepcion</th>
                                    <td colspan="6">{{dpqr.NOMMEDIO}}</td>
                                  </tr>
                                  <tr ng-if="dpqr.NOMENTECONTROL">
                                    <th class="noselectxtpqr">Ente de control</th>
                                    <td colspan="6">{{dpqr.NOMENTECONTROL}}</td>
                                  </tr>
                                  <tr>
                                    <th ng-if="dpqr.CODPQR" class="noselectxtpqr">Codigo PQR SUPERSALUD</th>
                                    <td ng-if="dpqr.CODPQR" colspan="3">{{dpqr.CODPQR}}</td>
                                    <th ng-if="dpqr.NURC" class="noselectxtpqr">Codigo Nurc</th>
                                    <td ng-if="dpqr.NURC" colspan="3">{{dpqr.NURC}}</td>
                                  </tr>
                                  <tr ng-if="dpqr.NOMENTIDAD">
                                    <th class="noselectxtpqr">Nombre entidad</th>
                                    <td colspan="3">{{dpqr.NOMENTIDAD}}</td>
                                  </tr>
                                  <tr>
                                    <th class="noselectxtpqr">Observaciones</th>
                                    <td colspan="6">
                                      <div class="scrollable">{{dpqr.OBSERVACION}}</div>
                                    </td>
                                  </tr>
                                  <tr ng-if="dpqr.NITIPS">
                                    <th class="text-center noselectxtpqr" colspan="6">IPS</th>
                                  </tr>
                                  <tr ng-if="dpqr.NITIPS">
                                    <th>NIT IPS</th>
                                    <td>{{dpqr.NITIPS}}</td>
                                    <th>IPS</th>
                                    <td>{{dpqr.IPS}}</td>
                                  </tr>
                                  <tr ng-if="dpqr.NITIPS">
                                    <th>TELEFONO</th>
                                    <td>{{dpqr.TELEFONOIPS}}</td>
                                    <th>CORREO</th>
                                    <td>{{dpqr.EMAILIPS}}</td>
                                  </tr>
                                  <tr ng-if="dpqr.NITIPS">
                                    <th>Dirección</th>
                                    <td colspan="3">{{dpqr.DIRECCIONIPS}}</td>
                                  </tr>
      
                                  <tr ng-if="dpqr.DOC_EMPLEADOR">
                                    <th class="text-center noselectxtpqr" colspan="6">EMPLEADOR</th>
                                  </tr>
                                  <tr ng-if="dpqr.DOC_EMPLEADOR">
                                    <th class="noselectxtpqr">Tipo Documento</th>
                                    <td>{{dpqr.TIPODOC_EMPLEADOR}}</td>
                                    <th class="noselectxtpqr">Documento</th>
                                    <td colspan="6">{{dpqr.DOC_EMPLEADOR}}</td>
                                  </tr>
                                  <tr ng-if="dpqr.DOC_EMPLEADOR">
                                    <th class="noselectxtpqr">Nombre</th>
                                    <td colspan="6">{{dpqr.NOM_EMPLEADOR}}</td>
                                  </tr>
                                  <tr ng-if="dpqr.EMP_DIR">
                                    <th class="noselectxtpqr">Dirección</th>
                                    <td colspan="6">{{dpqr.EMP_DIR}}</td>
                                  </tr>
                                  <tr ng-if="dpqr.EMP_TEL">
                                    <th class="noselectxtpqr">Telefono</th>
                                    <td colspan="6">{{dpqr.EMP_TEL}}</td>
                                  </tr>
                                  <tr ng-if="dpqr.EMP_EMAIL">
                                    <th class="noselectxtpqr">Correo</th>
                                    <td colspan="6">{{dpqr.EMP_EMAIL}}</td>
                                  </tr>
                                  <tr ng-if="dpqr.DOCUMENTO">
                                    <th class="text-center noselectxtpqr" colspan="6">AFILIADO</th>
                                  </tr>
                                  <tr ng-if="dpqr.DOCUMENTO">
                                    <th class="noselectxtpqr">Tipo Documento</th>
                                    <td>{{dpqr.TIPODOCU}}</td>
                                    <th class="noselectxtpqr">Documento</th>
                                    <td colspan="6">{{dpqr.DOCUMENTO}}</td>
                                  </tr>
                                  <tr ng-if="dpqr.DOCUMENTO">
                                    <th class="noselectxtpqr">Nombre</th>
                                    <td colspan="6">{{dpqr.AFILIADO}}</td>
                                  </tr>
                                  <tr ng-if="dpqr.DIRECCION">
                                    <th class="noselectxtpqr">Dirección</th>
                                    <td colspan="6">{{dpqr.DIRECCION}}</td>
                                  </tr>
                                  <tr ng-if="dpqr.TELEFONO">
                                    <th class="noselectxtpqr">Telefono</th>
                                    <td colspan="6">{{dpqr.TELEFONO}}</td>
                                  </tr>
                                  <tr ng-if="dpqr.CORREO">
                                    <th class="noselectxtpqr">Correo</th>
                                    <td colspan="6">{{dpqr.CORREO}}</td>
                                  </tr>
                                  <tr ng-if="dpqr.TIPODOCUAC">
                                    <th class="text-center noselectxtpqr" colspan="6">ACUDIENTE</th>
                                  </tr>
                                  <tr ng-if="dpqr.TIPODOCUAC">
                                    <th class="noselectxtpqr">Tipo Documento</th>
                                    <td>{{dpqr.TIPODOCUAC}}</td>
                                    <th class="noselectxtpqr">Documento</th>
                                    <td>{{dpqr.DOCUMENTOAC}}</td>
                                  </tr>
                                  <tr ng-if="dpqr.TIPODOCUAC">
                                    <th class="noselectxtpqr">Nombre</th>
                                    <td colspan="6">{{dpqr.AFILIADOAC}}</td>
                                  </tr>
                                  <tr>
                                    <th class="text-center noselectxtpqr" colspan="6">OTROS DATOS</th>
                                  </tr>
                                  <tr>
                                    <th class="noselectxtpqr">Motivo</th>
                                    <td colspan="6">{{dpqr.MACROMOTIVO}}</td>
                                  </tr>
                                  <tr>
                                    <th class="noselectxtpqr">Soporte</th>
                                    <td class="text-center noselectxtpqr">
                                      <a id="bt-ges" class="c-pointer mr-0" ng-click="descargafile(dpqr.RUTA,dpqr.FTP);">
                                        <i class="icon-download fs-20"></i>
                                      </a>
                                    </td>
                                    <th class="noselectxtpqr">Fecha Respuesta</th>
                                    <td colspan="6">{{dpqr.FECHAENT}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
      
                          </div>
                        </div>
                      </div>                  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    <style>
        .table-responsive {
            display: block;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            background-color: white;
        }

        #tablePQRIPS_wrapper {
            overflow: hidden;
        }
        #tablePQRIPSP_wrapper {
            overflow: hidden;
        }
        
    </style>
</div>