<div id="accionescorrespondencia" class="row margin" style="position: relative;">
    <div class="w-100">
        <div class="col s12 m12 l12">
            <div class="card charts">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <div class="col m12 s12">
                                <div class="display-flex" style="justify-content: center">
                                    <h5 class="w-divTitle noselectxtpqr" style="text-align: center">MODIFICACION DE PQR
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="hidesearch">
                        <div class="col s6">
                            <form ng-submit="buscarpqr(modeltempqr)">
                                <div class="input-list input-form" style="width: 100%;margin-top: 0;">
                                    <div class="input-field col s12" style="margin-top: 0;">
                                        <a href="javascript:void(0)" ng-click="buscarpqr(modeltempqr)"><i
                                                style="position: absolute; top: 16px; right: -3px;"
                                                class="material-icons prefix">search</i></a>
                                        <input id="pqrinput" type="text" ng-model="modeltempqr" required
                                            autocomplete="off">
                                        <label for="pqrinput">PQR</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-show="hidesearch==true && tempfasespqr"
                            style="width: 100%;z-index: 10;overflow: hidden;">
                            <div style="overflow: auto;">
                                <table id="tablePQR" class="striped table-bordered" style="position: relative;">
                                    <thead class="noselectxtpqr">
                                        <tr>
                                            <th class="text-center">NUMERO PQR</th>
                                            <th class="text-center">PQR SUPERSALUD</th>
                                            <th class="text-center">TIPO SOLICITUD</th>
                                            <th class="text-center">FECHA RADICACION</th>
                                            <th class="text-center">FECHA RESPUESTA</th>
                                            <th class="text-center">OBSERVACIONES</th>
                                            <th class="text-center">SOPORTE</th>
                                            <th class="text-center">COMENTARIO FASE</th>
                                            
                                            <th class="text-center"># COMENTARIO</th>
                                            <th class="text-center">SOPORTE FASE</th>
                                            <th class="text-center">ACCION</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="p in tempfasespqr">
                                            <td class="text-center">{{p.NUMERO}}</td>
                                            <td class="text-center">{{p.CODIGO_SUPERSALUD}}</td>
                                            <td class="text-center">{{p.TIPO_SOLICITUD}}</td>
                                            <td class="text-center">{{p.FECHA_RADICACION}}</td>
                                            <td class="text-center">{{p.FECHA_CREACION | date:'dd/MM/yyyy hh:mm:ss a'}}</td>
                                            <td style="text-align: justify;">{{p.OBSERVACIONES}}</td>
                                            <td class="text-center">
                                                <i id="bt-ges" class="icon-download fs-25 c-pointer"
                                                    ng-click="descargafile(p.PQRFILE,p.FTP);"></i></td>
                                            <td class="text-center">{{p.COMENTARIO}}</td>
                                            
                                            <th class="text-center">{{p.ESTADO}}</th>
                                            <td class="text-center"><i ng-if="p.ADJUNTO!=''" id="bt-ges"
                                                    class="icon-download fs-25 c-pointer"
                                                    ng-click="descargafile(p.ADJUNTO,p.FTP);"></i></td>

                                            <td class="text-center"><i id="bt-ges" class="icon-edit-alt fs-25 c-pointer"
                                                    ng-click="showeditarpqr(p);"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ng-hide="hideedicion">
                            <div class="row">
                                <h5> <i ng-click="back_list_pqrs();" class="icon-left-open-2 ng-scope"
                                        style="cursor: pointer;float: right;">Atras</i></h5>
                            </div>
                            <div class="row">
                                <table id="tablePQR" class="striped table-bordered" style="position: relative;">
                                    <thead class="noselectxtpqr">
                                        <tr>
                                            <th class="text-center">NUMERO PQR</th>
                                            <th class="text-center">PQR SUPERSALUD</th>
                                            <th class="text-center">TIPO SOLICITUD</th>
                                            <th class="text-center">FECHA RADICACION</th>
                                            <th class="text-center">FECHA RESPUESTA</th>
                                            <th class="text-center">OBSERVACIONES</th>
                                            <th class="text-center">SOPORTE</th>
                                            <th class="text-center">COMENTARIO FASE</th>
                                            
                                            <th class="text-center"># COMENTARIO</th>
                                            <th class="text-center">SOPORTE FASE</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">{{tempqr.NUMERO}}</td>
                                            <td class="text-center">{{tempqr.CODIGO_SUPERSALUD}}</td>
                                            <td class="text-center">{{tempqr.TIPO_SOLICITUD}}</td>
                                            <td class="text-center">{{tempqr.FECHA_RADICACION}}</td>
                                            <td class="text-center">{{tempqr.FECHA_CREACION | date:'dd/MM/yyyy hh:mm:ss a'}}</td>
                                            <td style="text-align: justify;">{{tempqr.OBSERVACIONES}}</td>
                                            <td class="text-center">
                                                <i id="bt-ges" class="icon-download fs-25 c-pointer"
                                                    ng-click="descargafile(tempqr.PQRFILE,tempqr.FTP);"></i></td>
                                            <td class="text-justify">{{tempqr.COMENTARIO}}</td>
                                            
                                            <th class="text-center">{{tempqr.ESTADO}}</th>
                                            <td class="text-center"><i ng-if="p.ADJUNTO!=''" id="bt-ges"
                                                    class="icon-download fs-25 c-pointer"
                                                    ng-click="descargafile(tempqr.ADJUNTO,tempqr.FTP);"></i></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <form ng-submit="saveEdicion();">
                                <div class="row">
                                    <div class="col s3">
                                        <div class="col s12">
                                            <label class="c-pointer noselectxtpqr" for="fechacreacion">Fecha
                                                Respuesta</label>
                                            <input type="datetime-local" id="fechacreacion"
                                                ng-model="postData.fecha_creacion_temp" step="1">
                                        </div>
                                    </div>
                                    <div class="col s3">
                                        <div class="col s12">
                                            <label class="c-pointer noselectxtpqr" for="altocosto">Alto Costo</label>
                                            <select class="select-chosen-eps select pt-select-pqr" id="altocosto"
                                                ng-model="postData.tecno_altocosto" name="altocosto" required>
                                                <option value="">SELECCIONAR</option>
                                                <option ng-repeat="d in list_pqr_tecno_altocosto" ng-value="d.CODIGO">
                                                    {{d.NOMBRE}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col s3">
                                        <div class="col s12">
                                            <label class="c-pointer noselectxtpqr" for="patologia">Patologia</label>
                                            <select class="select-chosen-eps select pt-select-pqr" id="patologia"
                                                ng-model="postData.patologia" name="patologia" required>
                                                <option value="">SELECCIONAR</option>
                                                <option ng-repeat="d in list_pqr_patologia" ng-value="d.CODIGO">
                                                    {{d.NOMBRE}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col s3">
                                        <div class="col s12">
                                            <label class="c-pointer noselectxtpqr" for="motiorespuesta">Motivo
                                                Respuesta</label>
                                            <select ng-change="getOtroMotivoRespuesta(postData.motivo_res);"
                                                class="select-chosen-eps select pt-select-pqr" id="motivorespuesta"
                                                ng-model="postData.motivo_res" name="motivorespuesta" required>
                                                <option value="">SELECCIONAR</option>
                                                <option ng-repeat="d in list_pqr_motivo_res" ng-value="d.CODIGO">
                                                    {{d.NOMBRE}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <div class="input-field col m10 s12 w-100">
                                            <label for="oromotivores" class="noselectxtpqr">Otro Motivo de
                                                Respuesta</label>
                                            <textarea id="oromotivores" class="materialize-textarea"
                                                ng-model="postData.otra_respuesta_motivo" style="color: black;"
                                                ng-style="{'height':data.inactivePqr? '':'auto'}" disabled
                                                name="otra_respuesta_motivo"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12" style="text-align: center">
                                        <button id="btn-solicitudtabI" class="btn white-text red" type="button"
                                            ng-click="back_list_pqrs();" style="margin-left: 10px">CANCELAR</button>
                                        <button id="btn-solicitudtabI" class="btn white-text" type="submit"
                                           >GUARDAR</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>