<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="" />
        <httpErrors errorMode="Detailed">
            <error statusCode="504" prefixLanguageFilePath="%SystemDrive%\inetpub\custerr" path="404.htm" responseMode="File" />
        </httpErrors>
        <staticContent>
            <mimeMap fileExtension=".odt" mimeType="application/msword" />
            <mimeMap fileExtension=".pd" mimeType="application/pdf" />
            <mimeMap fileExtension=".jp" mimeType="image/jpg" />
        </staticContent>
        <handlers>
            <remove name="FastCGI" />
            <add name="FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v7.1\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="HTTPS Redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>



