<div id="georeferenciacontrol" class="white newdesing position-relative">
    <style>
        iframe#mapas {
            height: calc(100vh - 64px);
            position: absolute;
            top: -9px;
        }
    </style>
    <div class="row dashboard-wrapper content-container white no-padding"
        style="padding-bottom: 20px;margin-bottom: 0;">
        <div class="col s12 m12 l12 position-relative no-padding">
            <iframe id="mapas" width="100%"
                src="https://app.powerbi.com/view?r=eyJrIjoiYjFiNmUwMmItNTZmOC00Zjg2LWI0NDItNTMwM2FmYzM1ZWI2IiwidCI6ImU0ODhjYmNiLWViYjctNGZhNy05ODkyLTUyZGJiNmNlM2I0MiJ9"
                frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>
</div>