<div class="col s12">
	<div class="card" style="
	margin: 10px;">
	<div class="card-title">
		<div class="text-al switch"><strong>  Agregar Secuencia </strong></div>
	</div>
<div class="card-content">
		<div class="input-list input-form">
			<div class="input-list input-view-column input-padding">
				<label style=" margin-top: -20px;">Bodega</label>
				<select  class="select-chosen-eps"   ng-change="filtrobodega()"  ng-model="lista_Bodega_sec">
					 <option value="0">SELECCIONAR</option>
        			 <option ng-repeat="bodega in bodegas" ng-value="bodega.CODIGO">{{bodega.NOMBRE}}</option>
				</select>
			</div>

			<div class="input-list input-view-column input-padding">
				<label style=" margin-top: -20px;">Pasillo</label>
				<select  class="select-chosen-eps" ng-change="filtropasillo()" ng-model="lista_pasillo_sec">
					<option value="0">SELECCIONAR</option>
        			<option ng-repeat="pasillo in pasillos" ng-value="pasillo.CODIGO">{{pasillo.NOMBRE}}</option>
				</select>
			</div>
		
		
	</div>
	<div class="input-list input-form">
	<div class="input-list input-view-column input-padding">
				<label style=" margin-top: -20px;">Piso</label>
				 <select  class="select-chosen-eps" ng-change="filtropiso()" ng-model="lista_piso_sec">
			      <option value="0">SELECCIONAR</option>
			       <option ng-repeat="piso in pisos" ng-value="piso.CODIGO">{{piso.NOMBRE}}</option>
    				</select>
			</div>

	 <div class="input-list input-view-column input-padding">
				<label style=" margin-top: -20px;">Nivel</label>
				<select  class="select-chosen-eps" ng-model="lista_nivel_sec">
    				<option value="0">SELECCIONAR</option>
        			<option ng-repeat="nivel in niveles" ng-value="nivel.CODIGO">{{nivel.NOMBRE}}</option>
  				</select>
			</div>
	</div>
	<div class="input-list input-form">
    <div class="input-list input-view-column input-padding">
			<label for="normal2" class="">Nombre de Secuencia</label>
			<input  type="text"  ng-model="bnombre_secuencia" type="text" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" class="validate">
		</div>
		
		
	<div class="input-list input-view-column input-padding">
			<label for="normal2" class="">descripcion de Secuencia</label>
			<input  type="text"  ng-model="bdescripcion_secuencia" type="text" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" class="validate">
    </div>
    </div>
	<div class="input-list input-view-column input-padding">
		<label style=" margin-top: -20px;">Estado</label>
		<select  class="select-chosen-eps" ng-model="bestado_secuencia">
			<option value="0">SELECCIONAR</option>
			<option value="A">ACTIVA</option>
			<option value="I">INACTIVA</option>
		</select>
	</div>

	<div class="input-list input-view-column input-padding">
		<div class="input-button">
			<div class="tooltip">
				<a class="btn-floating btn-large waves-effect waves-light" ng-click="insertarSecuencia()" ng-model="btnCargarIneventario"><i class="icon-floppy"></i></a>
				<span class="tooltiptext">Guardar</span>
			</div>
		</div>
	</div>
</div>
</div>
</div>
