<div class="row">
	<div class="col12">
		<div class="card" style="margin: 10px;">
			<div class="card-title">
				<div class="text-al switch"><strong>  Informacion de la Caja </strong></div>
			</div>
			<div class="card-content">
				<div class="input-list input-form">
					<div class="input-list input-view-column input-padding">
						<label style=" margin-top: -20px;">Nombre</label>
						<p>{{nombre_caja}}</p>
					</div>
					<div class="input-list input-view-column input-padding">
						<label style=" margin-top: -20px;">Descripcion</label>
						<p>{{descripcion_caja}}</p>
					</div>
				</div>
			</div>
			<div class="card-content">
				<div class="input-list input-view-column input-padding">
					<label style=" margin-top: -20px;">Fecha de Creacion</label>
						<p>{{fecha_creacion}}</p>
				</div>
			</div>
		</div>

		<div class="card" style="margin: 10px;">
			<div class="card-title">
				<div class="text-al switch"><strong>  Registro de prestamo </strong></div>
			</div>
			<div class="card-content">
				<div class="input-list">
					<div class="input-list input-view-column input-padding">
						<label style=" margin-top: -20px;">Prioridad</label>
						<select  class="select-chosen-eps"  ng-model="lista_prioridad">
							<option value="0">SELECCIONAR</option>
							<option ng-repeat="prioridad in prioridades" ng-value="prioridad.CODIGO">{{prioridad.NOMBRE}}</option>
						</select>
					</div>
				</div>

				<div class="input-list">
					<div class="input-list input-view-column input-padding">
						<label style=" margin-top: -20px;">Descripcion</label>
						<textarea id="textarea1" class="materialize-textarea" ng-model="perdescripcion"></textarea>
					</div>
				</div>
				<div class="input-list input-view-column input-padding">
					<button class="waves-effect waves-light btn white-text primary-button" ng-click="insertarPrestamo()">Agregar</button>
					</div>

			</div>

		</div>
	</div>
</div>



