<div class="row">
	<div class="col12">
		<div class="card" style="margin: 10px;">
			<div class="card-title">
				<div class="text-al switch"><strong>  Informacion de la Caja </strong></div>
			</div>
			<div style="overflow-y: auto;">
				<div class="gallery-misprestamos">
				<div class="card green" style="margin: 20px;" data-ng-repeat="miprestamo in misprestamos">
					<div class="card-content white-text"  >
						<h5>{{miprestamo.Nombre}}</h5>
						<div class="row col s16 m8 l8">
							<table>
								<tbody><tr>
									<td class="no-padding">Codigo</td>
									<td class="no-padding">Fecha solictud</td>
									<td class="no-padding">Fecha entrega</td>
								</tr>
								<tr>
									<td class="no-padding"><strong>{{miprestamo.Codigo}}</strong></td>
									<td class="no-padding"><strong>{{miprestamo.Fechasolictud}}</strong></td>
									<td class="no-padding"><strong>{{miprestamo.Fechaentrega}}</strong></td>
								</tr>
							</tbody></table>
						</div>
						<div class="progress green darken-3">
							<div class="determinate white" style="{{miprestamo.Porcentaje}}"></div>
						</div>
						<p>
							<small>{{ miprestamo.Mensaje }}</small>
						</p>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>



