.rate-area {
float: left;
border-style: none;
}

.rate-area:not(:checked) > input {
position: absolute !important;
top: -9999px !important;
clip: rect(0,0,0,0) !important;
}

.rate-area:not(:checked) > label {
float: right !important;
width: 1em!important;
padding: 0 .1em !important;
overflow: hidden !important;
white-space: nowrap !important;
cursor: pointer!important;
font-size: 400% !important;
line-height: 1.2 !important;
color: lightgrey !important;
text-shadow: 1px 1px #bbb !important;
}

.rate-area:not(:checked) > label:before { content: '★'; }

.rate-area > input:checked ~ label {
color: gold !important;
text-shadow: 1px 1px #c60 !important;
font-size: 250% !important;
}

.rate-area:not(:checked) > label:hover, .rate-area:not(:checked) > label:hover ~ label { color: gold !important; }

.rate-area > input:checked + label:hover, .rate-area > input:checked + label:hover ~ label, .rate-area > input:checked ~ label:hover, .rate-area > input:checked ~ label:hover ~ label, .rate-area > label:hover ~ input:checked ~ label {
color: gold !important;
text-shadow: 1px 1px goldenrod !important;
}

.rate-area > label:active {
position: relative !important;
top: 2px !important;
left: 2px !important;
}


[type="radio"]:not(:checked) + label, [type="radio"]:checked + label{
  height: 63px !important;
}
