<div style="width: 30%; margin: 0 auto; padding-top: 5%;">
   <div class="col s12 m12 l6 card">
      <div class="ngdialog-close" style="float: right; font-size: 50px; padding-right: 20px;"></div>
      <div class="card-content">
         <h5>Periodo a Consultar</h5>
      </div>
      <div class="input-field">
         <form ng-submit="generar()">
            <div class="card-action">
               <blockquote>
                  Seleccione el año, mes y periodo que quiere generar.
               </blockquote>
               <div>
                  <div class="input-list input-form">
                     <div class="input-list input-view-column input-padding">
                        <label for="simple-select" style="margin-top: -20px;">Año</label>
                        <select class="select-chosen-eps" ng-change="listMes()" ng-model="anio" required="">
                           <option ng-value="0">SELECCIONAR</option>
                           <option ng-repeat="reg in Anios" ng-value="reg.ANNO">{{reg.ANNO}}</option>
                        </select>
                     </div>
                  </div>
               </div><br>
               <div>
                  <div class="input-list input-form">
                     <div class="input-list input-view-column input-padding">
                        <label for="simple-select" style="margin-top: -20px;">Mes</label>
                        <select id="selectMes" class="select-chosen-eps" ng-change="listPeriodo()" ng-model="mes">
                           <option ng-value="0">SELECCIONAR</option>
                           <option ng-repeat="reg in Mes" ng-value="reg.CODIGO">{{reg.MES}}</option>
                        </select>
                     </div>
                  </div>
               </div><br>
               <div>
                  <div class="input-list input-form">
                     <div class="input-list input-view-column input-padding">
                        <label for="simple-select" style="margin-top: -20px;">Periodo</label>
                        <select  class="select-chosen-eps" ng-model="periodo">
                           <option ng-value="0">SELECCIONAR</option>
                           <option ng-repeat="reg in Periodos" ng-value="reg.PERIODO">{{reg.PERIODO}}</option>
                        </select>
                     </div>
                  </div>
               </div><br>
               <center>
                  <input type="submit" class="btn btn-primary"></button>
               </center>
            </div>
         </form>
            
      </div>
      <br>
      <!-- <center><a class="waves-effect waves-light btn white-text success" ng-click="guardar()">Guardar</a></center> -->
      <br>
   </div>
</div>