<div style="width: 43em; margin: 94px auto; padding-top: 15px;" id="detalle">
    <div class="col s12 m6 l6 card">
        <div class="ngdialog-close" style="float: right; font-size: 40px; padding-right: 20px; color: #ffffff">
        </div>
        <div class="card-content default-background white-text">
            <h5>Gestión de Nacimiento</h5>
        </div>
        <div class="card-action" ng-init="despl6=false" style="margin-top: 0px;padding-top: 0px;">
            <div class="row" ng-repeat="x in modal_gestion_ips">
                <div class="col m12 s12 l12">
                        <h6 style="
                        font-weight: 700;
                        padding:  10px;
                        margin-bottom: -1px;
                        border: 1px solid #ddd;
                        text-transform: uppercase;
                        text-align: center;
                    " class="">Prestador</h6>
                    <table class="table-bordered">
                         <tbody>
                            <tr>
                                     <td colspan="1"> <strong>Origen</strong></td>
                                    <td colspan="3">ORIGEN: {{ORIGEN_TEMPO}}  <strong ng-show="x.NUMEROAUT"> N° {{x.NUMEROAUT}}  UBICACION: {{x.UBICACION}} FECHA: {{x.FECHA}} </strong></td>
                            </tr>
                            <tr>
                                <td colspan="1"> <strong>IPS</strong></td>
                                <td colspan="3">{{x.IPS}} </td>
                            </tr>
                            <tr>
                                <td><strong>Código</strong></td>
                                <td>{{x.CODDX}}</td>
                                <td> <strong>Diagnóstico </strong></td>
                                <td>{{x.NOMDX}}</td>
                            </tr>
                            <tr>
                                <td colspan="1"> <strong>Direccion </strong></td>
                                <td colspan="3">{{x.DIRECCION}}</td>
                            </tr>
                            <tr>
                                <td colspan="1"> <strong>Telefono </strong></td>
                                <td colspan="3">{{x.TELEFONO}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1"> <strong>MUNICIPIO </strong></td>
                                <td colspan="3">{{x.MUNICIPIO}}</td>
                            </tr>
                            <tr>
                                <td colspan="1"> <strong>Seccional </strong></td>
                                <td colspan="3">{{x.SECCIONAL}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <style>
        .btn:hover {
            background-color: #ffffff;
        }
        td{
            text-transform: uppercase;
        }
    </style>
</div>