<div id="inicio">
  <style>
    .leniotext {
      fill: white;
      font-family: "Roboto Mono", monospace;
      font-size: 41px;
    }

    .cursor-type {
      fill: #052733;
      -webkit-animation: type 0.5s step-end infinite alternate, moveRight 2s steps(4) alternate forwards;
      animation: type 0.5s step-end infinite alternate, moveRight 2s steps(4) alternate forwards;
    }

    @keyframes type {
      50% {
        opacity: 0;
      }
    }

    .happy {
      fill: white;
      font-size: 90px;
      font-family: "Source Sans Pro", sans-serif;
      stroke: #fff;
      stroke-linecap: butt;
      stroke-width: 2;
      stroke-dasharray: 1 8 7 50;
      stroke-dashoffset: 200;
      -webkit-animation: borderanimation 4s linear infinite alternate;
      animation: borderanimation 4s linear infinite alternate, shakeup -1s 0.34s alternate infinite;
    }

    .year {
      -webkit-animation: shake 0.34s alternate infinite;
      animation: shake 0.34s alternate infinite;
    }

    .yearbg {
      stroke-linecap: butt;
      stroke-width: 6;
      stroke-dasharray: 10 40 70 50;
      stroke-dashoffset: 600;
      -webkit-animation: borderanimation 1.8s linear infinite alternate;
      animation: borderanimation 1.8s linear infinite alternate;
    }

    .yearborder {
      stroke-linecap: butt;
      stroke-width: 4;
      stroke-dasharray: 1 10 7 5;
      stroke-dashoffset: 400;
      -webkit-animation: borderanimation 0.5s linear infinite alternate;
      animation: borderanimation 0.5s linear infinite alternate;
    }

    @keyframes borderanimation {
      to {
        stroke-dashoffset: 0;
      }
    }

    .container {
      display: flex;
      justify-content: center;
      vertical-align: middle;
      margin: 0 auto;
      max-width: 400px;
      position: relative;
      margin-left: 0;
    }

    .confeti #amarillo {
      -webkit-animation: move 4s linear infinite;
      animation: move 4s linear infinite;
    }

    .confeti #azul {
      -webkit-animation: move -1s 4s linear infinite;
      animation: move -1s 4s linear infinite;
    }

    .confeti #verde {
      -webkit-animation: move -2s 4s linear infinite;
      animation: move -2s 4s linear infinite;
    }

    .confeti #rojo {
      -webkit-animation: move -3s 4s linear infinite;
      animation: move -3s 4s linear infinite;
    }

    .confeti #amarillo2 {
      -webkit-animation: move -4s 2s linear infinite;
      animation: move -4s 2s linear infinite;
    }

    .confeti #azul2 {
      -webkit-animation: move -2.5s 3s linear infinite;
      animation: move -2.5s 3s linear infinite;
    }

    .confeti #verde2 {
      -webkit-animation: move -1.5s 3.5s linear infinite;
      animation: move -1.5s 3.5s linear infinite;
    }

    .confeti #rojo2 {
      -webkit-animation: move 2s linear infinite;
      animation: move 2s linear infinite;
    }

    .confeti #verde3 {
      -webkit-animation: move -5s 4s linear infinite;
      animation: move -5s 4s linear infinite;
    }

    .confeti #rojo3 {
      -webkit-animation: move -3s 4s linear infinite;
      animation: move -3s 4s linear infinite;
    }

    .confi {
      transform: translate(-200px, -200px);
    }

    .confi2 {
      transform: translate(-500px, -100px);
    }

    .confi3 {
      transform: translate(150px, -300px);
    }

    @keyframes move {
      to {
        transform: translateY(1000px);
      }
    }

    .play-music {
      border: 1px solid #46cdcf;
      border-radius: 4px;
      color: #fffa96;
      cursor: pointer;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 18px;
      padding: 5px;
      position: absolute;
      bottom: 35px;
      left: 25px;
      min-width: 85px;
      text-align: center;
    }

    .play-music:hover {
      color: #46cdcf;
    }

    @keyframes shake {
      from {
        transform: translateX(-10px);
      }

      to {
        transform: translateX(10px);
      }
    }

    @keyframes shakeup {
      from {
        transform: translateY(-10px);
      }

      to {
        transform: translateY(10px);
      }
    }

    /* 2019 */
    .col.s12.m6.l6.rotacion:before {
      height: 100%;
      background-color: inherit;
      width: calc(100% + 50vw);
      display: block;
      content: "";
      position: absolute;
      top: 0;
      z-index: 0;
      transform: skewX(10deg);
      left: calc(-100%);
    }

    main#content {
      padding-bottom: 0 !important;
    }

    .gallery-carousel .carousel-item-gallery {
      margin-top: -101px;
      /* background: #737373; */
    }

    .gallery-carousel .carousel-item-gallery:hover>i {
      display: block !important;
    }

    .gallery-carousel .carousel-item-gallery>i {
      display: none;
      position: absolute;
      top: 5%;
      left: calc(50% - 14px);
      color: #ffffff;
      background-color: #4caf50;
      border-radius: 50%;
      padding: 3px;
      cursor: pointer;
    }

    .row.margin>.col.s12.m6.l6 {
      padding: 0 4em;
    }

    /* Slider */
    #inicio .slider {
      width: 100%;
      background: #f8f8f8;
      opacity: 1 !important;
      height: 100% !important;
    }

    .slider .slides li img:not(.img-clear) {
      opacity: 0.9;
      /* filter: brightness(50%); */
    }

    @keyframes EfectMove {
      0% {
        transform: scale(1);
      }

      50% {
        transform: scale(1.2);
      }

      100% {
        transform: scale(1);
      }
    }

    /*  .slider .slides li img {
      animation: EfectMove 20s ease infinite;
    } */

    .card-slide {
      padding-left: 24px;
      padding-right: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 364px;
      height: 340px;
      /* margin-left: auto; */
    }

    .slider .slides li .caption {
      display: flex;
      justify-content: space-between;
    }

    #inicio .slider .slides {
      height: 500px !important;
    }

    #inicio .slider .indicators {
      bottom: 5px;
      z-index: 10;
    }

    #inicio #slider_mara>.col>h5 {
      margin-top: 60px;
      font-weight: 600;
    }

    #inicio #slider_mara_empleado>.col>h5 {
      margin-top: 60px;
      font-weight: 600;
    }


    #inicio .change>div>h3 {
      margin-top: 2em;
      margin-right: 6em;
    }

    #inicio .change>div>div {
      text-align: right;
      position: absolute;
      padding: 0 15px;
      display: flex;
      align-items: center;
    }

    #inicio .change>div>.default-background {
      top: 8%;
      right: 17%;
    }

    #inicio .change>div>.black-text {
      top: -19%;
      right: -3%;
      background-color: #f1f1f1;
    }

    #inicio .change>div>div>i {
      font-size: 2em;
    }

    /* Carousel */
    #inicio .gallery-carousel {
      height: 100vh;
      perspective: 50vw;
    }

    #inicio .carousel-item-gallery>h6 {
      color: white;
    }

    /* Cumpleaños */
    #inicio .card-image {
      padding: 1em;
    }

    #inicio section.col.offset-s1.s10 ul.collection i.icon-user-times {
      display: flex;
      justify-content: center;
      padding: 3em;
    }

    #inicio section.col.offset-s1.s10 ul.collection li.collection-item+i.icon-user-times {
      display: none;
    }

    #inicio section.col.offset-s1.s10 {
      margin-top: 4em;
      margin-bottom: 4em;
    }

    #inicio .collection>.collection-item:last-child {
      border: 0 !important;
    }

    #inicio section.col.offset-s1.s10 .collection .collection-item {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #inicio section.col.offset-s1.s10>h5 {
      margin-bottom: 30px;
      font-weight: 600;
    }

    #inicio .collection>.collection-item>i {
      margin-left: auto;
    }


    .contador {
      top: 48% !important;
      left: 28% !important;
    }

    .contador>div {
      width: 350px;
      height: 60px;
      padding: 0 !important;
      flex-direction: row;
      font-family: sans-serif;
    }

    .cuadro {
      border: 2px solid white;
      border-radius: 15px;
      height: 60px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cuadro>small {
      bottom: -20px;
      font-weight: bold;
    }

    .numeros {
      font-size: 30px;
      font-weight: bold;
    }

    .puntos {
      height: 50%;
      width: 10px;
      position: relative;
    }

    .puntos:before {
      content: "";
      height: 10px;
      width: 10px;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 0;
    }

    .puntos:after {
      content: "";
      height: 10px;
      width: 10px;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    /* #Dias {}

    #Horas {}

    #Minutos {}

    #Segundos {} */
    #modalpopUp {
      max-height: 100% !important;
      border-radius: 0 !important;
      background-color: transparent !important;
      width: 800px !important;
    }

    #modalpopUp>div {
      display: flex;
      padding: 0;
      width: 800px !important;
    }

    #slider_mara_empleado .gallery-carousel .carousel-item-gallery {
      width: 30vw;
    }

    .bottom-align {
      top: 85% !important;
      margin: auto !important;
    }

    .bottom-align .card {
      margin: auto !important;
      border-radius: 15px !important;
      padding: 0px 15px !important;
      float: none !important;
    }

    .bottom-align .card h5 {
      font-weight: 600 !important;
      margin: 5px 0px !important;
    }
  </style>
  <!-- Banner Principal -->
  <div class="row margin">
    <div class="slider">
      <ul class="slides">
        <li ng-repeat="x in arraySlider">
          <img src="{{'images/slider/'+ x.url}}" alt="feed" />
          <div class="caption bottom-align light grey-text text-lighten-3" ng-if="x.titulo">
            <div class="card">
              <h5 class="default-color">{{x.titulo}}</h5>
            </div>
          </div>
        </li>
        <!-- <li>
          <img src="images/slider/Slider_sarlaft.jpg" alt="feed" />
          <div class="caption bottom-align light grey-text text-lighten-3">
            <div class="card">
              <h5 class="default-color" ng-show="true">¡SARLAFT!</h5>
            </div>
          </div>
        </li>
        <li>
          <img src="images/slider/Slider_viva1a.png" alt="feed" />
          <div class="caption bottom-align light grey-text text-lighten-3">
            <div class="card">
              <h5 class="default-color" ng-show="true">¡Viva 1A!</h5>
            </div>
          </div>
        </li>
        <li>
          <img src="images/slider/Slider_responsabilidad2.png" alt="feed" />
          <div class="caption bottom-align light grey-text text-lighten-3">
            <div class="card">
              <h5 class="default-color" ng-show="true">¡Nuesto Valor!</h5>
            </div>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
  <div class="row" style="background-color: white;margin-top: 4vh;" ng-if="result_bd != ''">
    <div class="col s12 m12 l12 center-align">
      <div class="col s5 m5 l5 card"
        style="margin: auto;text-align: center;float: none;border-radius: 15px;padding: 0;margin-top: 6vh;"
        ng-if="result_bd.hoy.length != 0 || result_bd.manana.length != 0">
        <div class="col s12 confetti" ng-if="result_bd.hoy.length != 0">
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
          <div class="confetti-piece"></div>
        </div>
        <div class="white-text default-background" style="border-top-left-radius: 15px;border-top-right-radius: 15px;"
          ng-if="result_bd.hoy.length != 0">
          <h4 style="padding: 5px;">¡Feliz Cumpleaños!</h4>
        </div>

        <ul style="margin: 0px;">
          <li class="HBD_Hoy" ng-repeat="hoy in result_bd.hoy">
            <i class="icon-birthday default-color"></i>
            {{hoy.nombre}}
          </li>
        </ul>

        <div class="default-background white-text" style="border-top-left-radius: -15px;border-top-right-radius: -15px;"
          ng-if="result_bd.manana.length != 0">
          <h5 style="padding: 3px;">¡Mañana!</h5>
        </div>
        <!-- icon-birthday -->
        <ul style="margin: 0px 0 10px; display: inline-block;">
          <li ng-repeat="manana in result_bd.manana">
            {{manana.nombre}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Participantes de Halloween -->
  <div id="slider_mara_empleado" class="row margin" ng-if="swEmpleadoMes == 'A'">
    <div class="col s12 m12 l12 no-padding">
      <div class="center col l12" style="height: 20vh;">
        <img style="width: 70em;" src="images/slider/Halloween/banner-corte-genesis.jpg" alt="cajacopi">
      </div>
    
      <div class="gallery-carousel " id="carrusel">
        <a class="carousel-item-gallery" style="border-radius: 10px;" ng-repeat="x in arraySliderHalloween"><img
            ng-src="{{'images/slider/Halloween/'+ x.url}}" style="border-radius: 10px;" alt=""></a>
      </div>
    </div>
  </div>
  <!-- 
  <div class="row margin">
    <div class="slider">
      <h5 class="center-align">Participantes de Hallowen</h5>
      <ul class="slides">
        <li ng-repeat="x in arraySliderHalloween">
          <img src="{{'images/slider/Halloween/'+ x.url}}" alt="feed" />
          <div class="caption bottom-align light grey-text text-lighten-3" ng-if="x.titulo">
            <div class="card">
              <h5 class="default-color">{{x.titulo}}</h5>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div> -->
  <div id="slider_mara_empleado" class="row margin" ng-if="swEmpleadoMes == 'A'">
    <div class="col s12 m12 l12 no-padding">
      <h5 class="center-align">Empleados del Mes</h5>
      <div class="gallery-carousel" id="carrusel">
        <a class="carousel-item-gallery" ng-repeat="ruta in rutas"><img ng-src="{{ruta.RUTA}}"
            style="border-radius: 10px;" alt=""></a>
      </div>
    </div>
  </div>
  <div id="slider_mara" class="row margin">
    <div class="col s12 m12 l12 no-padding">
      <h5 class="center-align">Las últimas características y actualizaciones de Genesis</h5>
      <div class="gallery-carousel"> <a class="carousel-item-gallery" ng-repeat="new in now"
          ng-if="!(new.area == '16')">
          <img
            ng-src="{{new.img_url == null?'assets/images/fotologin.jpg': new.img_url != ''?new.img_url:'assets/images/fotologin.jpg'}}"
            style="border-radius: 10px;">
          <i class="icon-info" ng-click="see_notification(new.id)"></i>
          <!-- <h6 class="center-align">{{new.title}}</h6> --> </a> </div>
    </div>
  </div>
  <div class="white" style="height: 30vh; overflow: hidden;">
    <div class="row" style="position: absolute;padding-top: 8vh;">
      <div class="col s6 m6 l6 center" style="line-height: 1.3;padding-top: 6vh;">
        <div class="col s12 m12 l12 center foot_p" style="display: flex;">
          <p class="white-text" style="font-size: 1.25rem;font-weight: 400;z-index: 10; border-top-left-radius: 26%;">
            Visión:
            Seremos en el 2025 un
            referente en el aseguramiento en salud, con mejora continua de los procesos y tecnología, para
            contribuir en la calidad del servicio de nuestros afiliados.</p>
          <p class="white-text" style="font-size: 1.25rem;font-weight: 400;z-index: 10; border-top-left-radius: 26%;position: absolute;
                    width: 50%;">Misión:
            Contribuir en la generación de bienestar social de nuestros afiliados, con un modelo de
            aseguramiento basado en la gestión de riesgo en salud, con criterios de calidad, sentido
            humano,
            enfoque preventivo e incluyente, generando confianza y eficiencia.
          </p>
        </div>
      </div>
      <div class="col s6 m6 l6 center" style="height: 20vh;">
        <img style="width: 15em;" src="assets/images/logo_cajacopieps_blanco.png" alt="cajacopi">
      </div>
    </div>
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
        style="stroke: none; fill: #011344;">
      </path>
    </svg>
  </div>
  <!-- Modal -->
  <style>
    .marco3 {
      /* padding: 8px 8px 20px 8px;
      /* background-color: #c28e28; */
      padding: 23px 20px 17px 17px;
      /* background-image: url("https://static6.depositphotos.com/1030437/672/i/600/depositphotos_6721542-stock-photo-halloween-background.jpg"); */
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeVtWGDs1ZmyBCWicdIpn7wH2yfCyI20uNyPh1X0_QkCV20Qa3yzCB8pr__K9FBKhpDGw&usqp=CAU");
    }
    .titulohalloween {
      font-family: CFHalloween !important;
      animation: animationColorHalloween  8s infinite ease-in-out !important;
      font-size: 3rem;
      margin: 0.3rem;
    }
    .titulohalloween2 {
      font-family: CFHalloween !important;
      animation: animationColorHalloween2  8s infinite ease-in-out !important;
      font-size: 3rem;
      margin: 0.3rem;
    }
    li.HBD_Hoy {
      transition-duration: 1s;
    }
    li.HBD_Hoy.active {
      font-weight: 800;
      /* color: red !important; */
    }
    .foot_p>p {
      opacity: 0;
      transition-duration: 2s;
    }
    .foot_p>p.active {
      opacity: 1 !important;
    }
    .confetti {
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 200px;
      overflow: hidden;
    }
    .confetti-piece {
      position: absolute;
      width: 8px;
      height: 16px;
      background: #1a2e63;
      top: 0;
      opacity: 0;
    }
    .confetti-piece:nth-child(1) {
      left: 7%;
      -webkit-transform: rotate(38deg);
      transform: rotate(38deg);
      -webkit-animation: makeItRain 1000s infinite linear;
      animation: makeItRain 1000s infinite linear;
      -webkit-animation-delay: 473ms;
      animation-delay: 473ms;
      -webkit-animation-duration: 805ms;
      animation-duration: 805ms;
    }
    .confetti-piece:nth-child(2) {
      left: 14%;
      -webkit-transform: rotate(76deg);
      transform: rotate(76deg);
      -webkit-animation: makeItRain 1000s infinite linear;
      animation: makeItRain 1000s infinite linear;
      -webkit-animation-delay: 151ms;
      animation-delay: 151ms;
      -webkit-animation-duration: 908ms;
      animation-duration: 908ms;
    }
    .confetti-piece:nth-child(3) {
      left: 21%;
      -webkit-transform: rotate(67deg);
      transform: rotate(67deg);
      -webkit-animation: makeItRain 1000s infinite linear;
      animation: makeItRain 1000s infinite linear;
      -webkit-animation-delay: 145ms;
      animation-delay: 145ms;
      -webkit-animation-duration: 1044ms;
      animation-duration: 1044ms;
    }
    .confetti-piece:nth-child(4) {
      left: 28%;
      -webkit-transform: rotate(9deg);
      transform: rotate(9deg);
      -webkit-animation: makeItRain 1000s infinite linear;
      animation: makeItRain 1000s infinite linear;
      -webkit-animation-delay: 56ms;
      animation-delay: 56ms;
      -webkit-animation-duration: 736ms;
      animation-duration: 736ms;
    }
    .confetti-piece:nth-child(5) {
      left: 35%;
      -webkit-transform: rotate(-56deg);
      transform: rotate(-56deg);
      -webkit-animation: makeItRain 1000s infinite linear;
      animation: makeItRain 1000s infinite linear;
      -webkit-animation-delay: 209ms;
      animation-delay: 209ms;
      -webkit-animation-duration: 1032ms;
      animation-duration: 1032ms;
    }

    .confetti-piece:nth-child(6) {
      left: 42%;
      -webkit-transform: rotate(-77deg);
      transform: rotate(-77deg);
      -webkit-animation: makeItRain 1000s infinite linear;
      animation: makeItRain 1000s infinite linear;
      -webkit-animation-delay: 24ms;
      animation-delay: 24ms;
      -webkit-animation-duration: 1034ms;
      animation-duration: 1034ms;
    }

    .confetti-piece:nth-child(7) {
      left: 49%;
      -webkit-transform: rotate(-69deg);
      transform: rotate(-69deg);
      -webkit-animation: makeItRain 1000s infinite linear;
      animation: makeItRain 1000s infinite linear;
      -webkit-animation-delay: 198ms;
      animation-delay: 198ms;
      -webkit-animation-duration: 1034ms;
      animation-duration: 1034ms;
    }

    .confetti-piece:nth-child(8) {
      left: 56%;
      -webkit-transform: rotate(74deg);
      transform: rotate(74deg);
      -webkit-animation: makeItRain 1000s infinite linear;
      animation: makeItRain 1000s infinite linear;
      -webkit-animation-delay: 256ms;
      animation-delay: 256ms;
      -webkit-animation-duration: 1002ms;
      animation-duration: 1002ms;
    }

    .confetti-piece:nth-child(9) {
      left: 63%;
      -webkit-transform: rotate(-80deg);
      transform: rotate(-80deg);
      -webkit-animation: makeItRain 1000s infinite linear;
      animation: makeItRain 1000s infinite linear;
      -webkit-animation-delay: 239ms;
      animation-delay: 239ms;
      -webkit-animation-duration: 1172ms;
      animation-duration: 1172ms;
    }

    .confetti-piece:nth-child(10) {
      left: 70%;
      -webkit-transform: rotate(-79deg);
      transform: rotate(-79deg);
      -webkit-animation: makeItRain 1000s infinite linear;
      animation: makeItRain 1000s infinite linear;
      -webkit-animation-delay: 39ms;
      animation-delay: 39ms;
      -webkit-animation-duration: 1043ms;
      animation-duration: 1043ms;
    }

    .confetti-piece:nth-child(11) {
      left: 77%;
      -webkit-transform: rotate(-50deg);
      transform: rotate(-50deg);
      -webkit-animation: makeItRain 1000s infinite linear;
      animation: makeItRain 1000s infinite linear;
      -webkit-animation-delay: 457ms;
      animation-delay: 457ms;
      -webkit-animation-duration: 730ms;
      animation-duration: 730ms;
    }

    .confetti-piece:nth-child(12) {
      left: 84%;
      -webkit-transform: rotate(41deg);
      transform: rotate(41deg);
      -webkit-animation: makeItRain 1000s infinite linear;
      animation: makeItRain 1000s infinite linear;
      -webkit-animation-delay: 257ms;
      animation-delay: 257ms;
      -webkit-animation-duration: 746ms;
      animation-duration: 746ms;
    }

    .confetti-piece:nth-child(13) {
      left: 91%;
      -webkit-transform: rotate(-17deg);
      transform: rotate(-17deg);
      -webkit-animation: makeItRain 1000s infinite linear;
      animation: makeItRain 1000s infinite linear;
      -webkit-animation-delay: 388ms;
      animation-delay: 388ms;
      -webkit-animation-duration: 1009ms;
      animation-duration: 1009ms;
    }

    .confetti-piece:nth-child(odd) {
      background: #f0a42f;
    }

    .confetti-piece:nth-child(even) {
      z-index: 1;
    }

    .confetti-piece:nth-child(4n) {
      width: 5px;
      height: 12px;
      -webkit-animation-duration: 2000ms;
      animation-duration: 2000ms;
    }

    .confetti-piece:nth-child(3n) {
      width: 3px;
      height: 10px;
      -webkit-animation-duration: 2500ms;
      animation-duration: 2500ms;
      -webkit-animation-delay: 1000ms;
      animation-delay: 1000ms;
    }

    .confetti-piece:nth-child(4n-7) {
      background: #ff4e91;
    }


    @-webkit-keyframes makeItRain {
      from {
        opacity: 0;
      }

      50% {
        opacity: 1;
      }

      to {
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
      }
    }

    @keyframes makeItRain {
      from {
        opacity: 0;
      }

      50% {
        opacity: 1;
      }

      to {
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
      }
    }

    #inicio {
      background-color: white;
    }


    #inicio .gallery-carousel {
      height: 105vh;
      perspective: 50vw;
    }
}

    .modal-mara-new.modal {
      width: 90%;
      max-height: 90%;
      top: 5% !important;
      height: auto;
    }

    .modal-mara-new.modal.tipo-modal-2 {
      width: 60%;
    }

    .modal-mara-new.modal>.modal-header,
    .modal-mara-new.modal>.modal-content,
    .modal-mara-new.modal>.modal-footer {
      padding: 10px 20px;
    }

    .modal-mara-new.modal>.modal-header>.icon-cancel {
      background-color: transparent;
      height: 30px;
      width: 30px;
      text-align: center;
      border-radius: 50%;
    }

    .modal-mara-new.modal>.modal-header>.icon-cancel:hover {
      background-color: #33333375;
    }
  </style>
  <script type="text/javascript" src="https://genesis.cajacopieps.com//js/materialize.js"></script>
</div>