<div style="width: 60%; margin: 0 auto;">
   <div class="col s12 m6 l6 card">
      <div class="ngdialog-close" style="float: right; font-size: 50px; padding-right: 20px;"></div>
      <div class="card-content">
         <h5>Información del afiliado en ADRES</h5>
      </div>
      <div class="input-field">
         <form ng-submit="guardar()">
            <div class="card-action">
               <blockquote>
                  En esta sección van los datos básicos de identificación del afiliado tal cual como aparecen en ADRES.
               </blockquote>
               <div class="input-list input-form">
                  <div class="input-list input-view-column input-padding">
                     <label for="tipo_docf" class="active">Tipo de Documento</label>
                     <select ng-disabled="enablefosyga" id="tipo_docf" ng-model="adres_tipo_doc" class="select-chosen-eps" required>
                        <option ng-repeat="documento in Documentos.Documento" value="{{documento.Codigo}}">{{documento.Nombre}}</option>
                     </select>
                  </div>
                  <div class="input-list input-view-column">
                     <input ng-disabled="enablefosyga" id="adres_documento" ng-model="adres_documento" type="text" required>
                     <label for="adres_documento" class="">Número de Documento</label>
                  </div>
               </div>
               <div class="input-list input-form">
                  <div class="input-list input-view-column input-padding">
                     <input ng-disabled="enablefosyga" id="adres_p_nombre" type="text" ng-model="adres_p_nombre" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" required>
                     <label for="adres_p_nombre" class="">Primer Nombre</label>
                  </div>
                  <div class="input-list input-view-column">
                     <input ng-disabled="enablefosyga" id="adres_s_nombre" type="text" ng-model="adres_s_nombre" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();">
                     <label for="adres_s_nombre" class="">Segundo Nombre</label>
                  </div>
               </div>
               <div class="input-list input-form">
                  <div class="input-list input-view-column input-padding">
                     <input ng-disabled="enablefosyga" id="adres_p_apellido" ng-model="adres_p_apellido" type="text" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" required>
                     <label for="adres_p_apellido" class="">Primer Apellido</label>
                  </div>
                  <div class="input-list input-view-column">
                     <input id="adres_s_apellido" ng-disabled="enablefosyga" ng-model="adres_s_apellido" type="text" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();">
                     <label for="adres_s_apellido" class="">Segundo Apellido</label>
                  </div>
               </div>
               <div class="input-list input-form">
                  <div class="input-list input-view-column input-padding">
                     <input type="date" id="adres_f_nacimiento" ng-model="adres_f_nacimiento" class="datepicker picker__input" required>
                     <label for="adres_f_nacimiento" class="active">Fecha de Nacimiento</label>
                  </div>
                  <div class="input-list input-view-column">
                     <label for="municipio" class="active">Municipio Residencia</label>
                     <select id="municipio" ng-model="adres_municipio" class="select-chosen-eps" required>
                        <option value="" ng-disabled="true">SELECCIONAR</option>
                        <option ng-repeat="municipio in Municipio | filter:filtromunicipio" value="{{municipio.CODIGO}}">{{municipio.NOMBRE}}</option>
                     </select>
                  </div>
               </div>  
                <blockquote>
                  A continuación debe digitar la información de afiliación del afiliado como aparece en el sistema ADRES.<br>Si usó la consulta automática y trajo los resultados correctamente, estos campos no se deben modificar. En caso contrario, deberá ingresar los siguientes datos obligatoriamente.
               </blockquote>          
               <div class="input-list input-form">
                  <div class="input-list input-view-column">
                     <label for="estado" class="active">Estado en ADRES</label>
                     <select id="estado" ng-disabled="enablefosyga" ng-model="adres_estado" class="select-chosen-eps" ng-change="validaEstado()" required>
                        <option value="">SELECCIONAR</option>
                        <option ng-repeat="estado in Estados.Estado" value="{{estado.Codigo}}">{{estado.Nombre}}</option>
                     </select>
                  </div>
                  <div class="input-list input-view-cmolumn">
                     <label for="entidad" class="active">Entidad en ADRES</label>
                     <select id="entidad" ng-model="adres_entidad" class="select-chosen-eps" required>
                        <option value="" ng-disabled="true">SELECCIONAR</option>
                        <option ng-repeat="entidad in Entidades | filter:filtroentidad" value="{{entidad.CODIGO}}">{{entidad.NOMBRE}}</option>
                     </select>
                  </div>             
               </div>  
               <div class="input-list input-form">
                  <div class="input-list input-view-column">
                     <label for="regimen" class="active">Régimen en ADRES</label>
                     <select id="regimen" ng-disabled="enablefosyga" ng-model="adres_regimen" class="select-chosen-eps" required>
                        <option value="" ng-disabled="true">SELECCIONAR</option>
                        <option ng-repeat="regimen in Regimen.Regimen" value="{{regimen.Codigo}}">{{regimen.Nombre}}</option>
                     </select>
                  </div>
                  <div class="input-list input-view-column input-padding">
                     <input id="adres_f_afiliacion" type="date" ng-model="adres_f_afiliacion" ng-disabled="enablefosyga" class="datepicker picker__input" required>
                     <label for="adres_f_afiliacion" class="active">Fecha de Afiliación al SGSSS</label>
                  </div>
               </div>
               <div class="input-list">
                  <div class="input-list input-view-column">
                     <label for="municipio" class="active">Tipo de Afiliado</label>
                     <select ng-disabled="enablefosyga" ng-model="adres_tipo_afil" class="select-chosen-eps" required>
                        <option ng-repeat="tipo in TipoAfiliado" value="{{tipo.Codigo}}">{{tipo.Nombre}}</option>
                     </select>
                  </div>
               </div> 
               <br> 
               <center>
                  <button type="submit" class="btn btn-primary">Guardar</button>
               </center>
            </div>
         </form>
      </div>
      <br>
      <br>
   </div>
</div>