<div style="width: 90%; margin: 0 auto;">
   <div class="col s12 m6 l6 card">
      <div class="ngdialog-close" style="float: right; font-size: 50px; padding-right: 20px;">
      </div>
      <div class="card-content">
         <h5>Aprobación de Respuestas</h5>
      </div>
      <div class="card-action" style="padding-left: 0px; padding-right: 0px;">
         <div class="row allMails bg-white white">
            <div class="col s12 m4 l4 mailsParts tabInbox_3_1">
               <ul class="collection" id="listArchivos">
                  <li id="{{reg.CODIGO}}" class="collection-item avatar waves-effect waves-pink" ng-repeat="reg in Archivos" ng-click="highlight(reg.CODIGO)">
                     <div class="foot4 circle avchat">
                        <center class="avletra">{{reg.INICIAL}}</center>
                     </div>
                     <span class="title avtitle"><strong>{{reg.NOMBRE}}</strong></span>
                     <span class="secondary-content"><small>27 Jan</small></span>
                  </li>
               </ul>
            </div>
            <div class="col s12 m8 l8 messageBox first_3_2" ng-hide="hdePanelConver" style="">
               <div class="jumbotron divaprobado" ng-hide="divAprobado">
                  <p class="fontaprobado">Archivo aprobado por el area de Juridica Nacional</p>
               </div>
               <ul class="collection" style="overflow: auto; height: 500px;" ng-hide="shwConversacion">
                  <li class="collection-item avatar second"> 
                     <div class="foot4 circle avchat2">
                        <center class="avletra">P</center>
                     </div>
                     <span><strong>Portal Genesis</strong></span>
                     <div class="card-panel">
                        <span>
                           Debajo de este mensaje puedes escribir el mensaje que quieras enviar. <br>Dando click en el icono 
                           <i class="material-icons waves-effect">attach_file</i> podrás adjuntar el archivo que quieres que sea aprobado por la Sede Nacional.
                        </span>
                     </div>
                  </li>
               </ul>
               <ul class="collection" style="overflow: auto; height: 500px;" ng-show="shwConversacion" id="mensajes">
                  <li class="collection-item avatar second" ng-repeat="reg in Conversacion"> 
                     <div class="foot4 circle avchat2" >
                        <center class="avletra">{{reg.inicial}}</center>
                     </div>
                     <span><strong>{{reg.nombre}}</strong> - <small>{{reg.fecha}}</small></span>
                     <div class="card-panel">
                        <span>{{reg.mensaje}}</span>
                        <div style="margin-top: 10px;" ng-hide="(reg.archivo === 'true')" ng-click="descargafile(reg.ruta)">
                           <hr>
                           <img id="attachmenticon" src="assets/images/icons/attachment.png" title="Descargar Adjunto"><a class="dwnIcon">Descargar</a>
                        </div>
                     </div>
                  </li>
               </ul>
               <div class="reply-text">
                  <form id="frmMensaje" ng-submit="enviaMensaje()">
                     <textarea rows="2" cols="10" placeholder="Mensaje.." ng-model="fileaprob.mensaje" required=""></textarea>
                     <input id="archivoVb" type="file" name="fileadjunto" onchange="angular.element(this).scope().changeFile()" style="display: none;">
                     <input type="button" id="btnDum" style="display: none;">
                     <div class="send-reply" style="display: inline-flex; width: 100%;">
                        <i class="material-icons waves-effect" ng-click="seleccionaFile()">attach_file</i>
                        <div style="margin: 10px;">{{fileName}}</div>
                        <div style="width: -webkit-fill-available; padding: 4px; text-align: right;">
                           <input type="submit" class="waves-effect waves-light btn white-text">
                           <!-- <button class="waves-effect waves-light btn white-text" ng-click="enviaMensaje()">Enviar</button> -->
                           <button class="waves-effect waves-light btn white-text" ng-click="apruebaArchivo()" ng-hide="isRolAprob">Aprobar</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
            <div class="col s12 m8 l8 messageBox first_3_2 sel_file_aprov" ng-hide="hdePanelInfo" style="padding-top: 200px; text-align: center; padding-bottom: 80px;padding-left: 20px;padding-right: 20px; height: 500px;">
               <h3>Seleccione el tipo de documento que necesita aprobación</h3>
            </div>
         </div>
   </div>
</div>
<style type="text/css">
	#enviar{
		float: right; 
		margin-top: 4px; 
		margin-right: 44px; 
		position: absolute; 
		right: 0;
	}
   #attachmenticon{
      cursor: pointer;
      width: 50px;
   }
   #attachmenticon:hover{
      border-radius: 49px;
      border: 1px solid;
      border-color: gray;
      box-shadow: 0px 0px 7px 0px #1fbbac;
      transition: border 0.5s;
   }
   .avchat {
      padding: 0 !important;
      width: 60px !important;
      height: 60px !important;
   }
   .avchat2 {
      padding: 0 !important;
      width: 42px !important;
      height: 42px !important;
   }
   .avletra {
      color: #ffffff; 
      font-size: -webkit-xxx-large; 
      margin-top: 25%;
   }
   .avtitle {
      margin-top: 20px; 
      position: fixed; 
      font-size: 20px;
      color: black !important;
   }
   .dwnIcon {
      cursor: pointer;
      margin-top: 14px;
      position: absolute;
   }
   .highlight{
   	background-color: #d7d8d8 !important; 
   }
   .divaprobado{
      padding-top: 2px;
      padding-bottom: 2px;
      background-color: #56b949;
   }
   .fontaprobado{
      font-size: 18px;
      color: white;
   }
</style>