<div style="width: 50%;margin: 0 auto;padding-top: 2%;">
  <div class="col s12 m6 l6 card">
    <div class="ngdialog-close" style="float: right; font-size: 40px; padding-right: 20px;"></div>
    <div class="card-content">
      <h5>Editar Información</h5>
    </div>
    <br>
    <div style="width: 100%;margin: 0 auto;height: 490px;">
      <div class="card-content">
        <div class="row">
          <div class="col s12 m12 l12 " >
            <form style="margin-top: -50px;">
              <div class="col l12 m12 s12">
                <blockquote><strong>DATOS SUCURSALES</strong></blockquote>
              </div>
              <div class="col l12 m12 s12">
                <div class="input-field col l6 m10 s12">
                    <input id="sede" type="text" ng-model="sede" ng-disabled="B_Nombre">
                    <label for="sede">Sede</label>
                </div>
                 <div class="input-field col l5 m10 s12">
                    <input id="nombre" type="text" ng-model="nombre" ng-disabled="B_Nombre">
                    <label for="nombre">Nombre</label>
                </div>
              </div>
              <div class="col l12 m12 s12">
                <div class=" col l6 m10 s12">
                    <label for="depaprincipal">Departamento</label>
                    <select   ng-model="depaprincipal"  style="display: block; border-color: #a3a3b182;" id="depaprincipal" ng-change="filterMunicipio(depaprincipal); " ng-model="formulario.depaprincipal" >
                                                        <option value="" disabled>SELECCIONAR</option>
                                                         <option ng-repeat="dato in Departamentos" value="{{dato.CODIGO}}">{{dato.NOMBRE}}</option>
                     </select>
                </div>
                 <div class=" col l5 m10 s12">
                    <label for="munprincipal">Municipio</label>
                     <select id="munprincipal" ng-model="munprincipal" style="display: block; border-color: #a3a3b182;"   >
                                                        <option value="" disabled>SELECCIONAR</option>
                                                        <option ng-repeat="dato in Municipios" value="{{dato.CODIGO}}">{{dato.NOMBRE}}</option>
                     </select>
                </div>
              </div>
              <div class="col l12 m12 s12" >
                <div class="input-field col l6 m10 s12" style="z-index: 9999999">
                    <input id="barrio" type="text" ng-model="barrio" ng-disabled="B_Nombre" >
                    <label for="barrio" >Barrio</label>
                </div>
                 <div class="input-field col l4 m9 s9" style="    padding-right: 0px;">
                    <input id="direccion" type="text" ng-model="direccion"  ng-disabled="true" style="color: #111 !important;" >
                    <label for="direccion">Dirección</label>
                </div>
                 <div class="tooltip" style="display: block !important;">
                   <i class="icon-pencil-1 material-icons ng-pristine ng-untouched ng-valid" ng-model="abrirmodaldir" ng-click="regDireccion()" style="display: flex;align-items: center;justify-content: center;cursor: pointer;height: 3rem;border: none;background: #33333324;color: #242323;border-radius: 4px;border-bottom-left-radius: 0px;border-top-left-radius: 0px;font-size: 17px;width: 2rem; margin-top: 17px;right: 70px;
                   position: absolute;"></i>
                   <span class="tooltiptext" style="left: 87% !important">Agregar Dirección</span>
                 </div>
              </div>
              <div class="col l12 m12 s12">
                <div class="input-field col l6 m10 s12" style="z-index: 99999">
                    <input id="empleados" type="number" ng-model="empleados" ng-disabled="B_Nombre" >
                    <label for="empleados">Número de Trabajadores</label>
                </div>
                <div class="input-field col l5 m10 s12">
                  <input id="telefono" type="text" maxlength="10" minlength="7" numbers-only  ng-model="telefono" ng-disabled="B_Telefono">
                  <label for="telefono">Teléfono</label>
                </div>
              </div>
              <div class="col l11 m12 s12">
                <div class="input-field col l12 m10 s12">
                  <input id="email" type="email" ng-model="correo" ng-disabled="B_Email">
                  <label for="email">Correo</label>
                </div>
              </div>
              <div class="col l12 m12 s12">
                <div class="input-field col l12 m10 s12">
                  <center>
                    <button class="btn btn-primary" type="submit" ng-click="Informacion()">Guardar</button>
                  </center>
                </div>
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>
</div>
<style type="text/css">
   input{
          text-transform: uppercase;
      }</style>
