.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.767578;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.408000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.144000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.texta{width: 100%;height: 100%;margin-left: 2px;font-size: larger;}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.394400px;}
._0{width:1.115520px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:36.000000px;}
.fs1{font-size:39.840000px;}
.fs0{font-size:44.160000px;}
.y2{bottom:0.000000px;}
.y7{bottom:1.920000px;}
.y6{bottom:2.040000px;}
.yb{bottom:2.160000px;}
.yd{bottom:3.240000px;}
.y18{bottom:3.600000px;}
.y9{bottom:9.360000px;}
.y22{bottom:13.440000px;}
.yc{bottom:13.560000px;}
.y14{bottom:13.800000px;}
.y11{bottom:13.920000px;}
.y1d{bottom:13.950000px;}
.y4{bottom:14.400000px;}
.y19{bottom:14.520000px;}
.y13{bottom:14.760000px;}
.y10{bottom:14.880000px;}
.y1c{bottom:14.910000px;}
.y17{bottom:15.480000px;}
.y8{bottom:20.900000px;}
.y29{bottom:87.024000px;}
.y0{bottom:96.500000px;}
.y26{bottom:96.984000px;}
.y28{bottom:255.026000px;}
.y27{bottom:268.246000px;}
.y25{bottom:375.190000px;}
.y24{bottom:398.830000px;}
.y23{bottom:426.430000px;}
.y21{bottom:436.270000px;}
.y20{bottom:458.710000px;}
.y1f{bottom:482.470000px;}
.y1e{bottom:506.110000px;}
.y1b{bottom:529.870000px;}
.y1a{bottom:553.660000px;}
.y16{bottom:577.300000px;}
.y15{bottom:601.660000px;}
.y12{bottom:625.420000px;}
.yf{bottom:644.060000px;}
.ye{bottom:674.980000px;}
.y1{bottom:687.820000px;}
.ya{bottom:714.600000px;}
.y3{bottom:728.760000px;}
.y5{bottom:742.560000px;}
.h8{height:10.320000px;}
.h6{height:10.560000px;}
.ha{height:10.680000px;}
.h11{height:21.960000px;}
.hf{height:23.160000px;}
.hd{height:23.280000px;}
.hb{height:23.304000px;}
.h10{height:23.880000px;}
.h4{height:24.360000px;}
.h3{height:33.486562px;}
.h7{height:37.423828px;}
.h9{height:37.464000px;}
.hc{height:38.003906px;}
.he{height:41.415703px;}
.h5{height:42.057656px;}
.h2{height:65.304000px;}
.h12{height:277.610000px;}
.h1{height:660.000000px;}
.h0{height:792.000000px;}
.w6{width:96.000000px;}
.glosa{width:98.000000px;}
.w8{width:97.704000px;}
.w2{width:106.560000px;}
.w4{width:140.060000px;}
.w9{width:146.780000px;}
.w3{width:239.570000px;}
.w7{width:800.230000px;}
.wa{width:484.630000px;}
.w1{width:499.500000px;}
.w5{width:611.999991px;}
.w0{width:612.000000px;}
.x8{left:0%;}
.x6{left:3.480000px;}
.xa{left:5.160000px;}
.x4{left:21.150000px;}
.x7{left:40.110000px;}
.x0{left:45.000000px;}
.x1{left:80.304000px;}
.x9{left:49.103991px;}
.x2{left:97.436000px;}
.xf{left:110.179991px;}
.xf2{left: 360.179991px;}
.xb{left:182.060000px;}
.x3{left:158.340000px;}
.xc{left:196.130000px;}
.xd{left:280.250000px;}
.xe{left:427.510000px;}
.x5{left:410.390000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-0.544000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.192000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.859200pt;}
._0{width:1.487360pt;}
.fs2{font-size:48.000000pt;}
.fs1{font-size:53.120000pt;}
.fs0{font-size:58.880000pt;}
.y2{bottom:0.000000pt;}
.y7{bottom:2.560000pt;}
.y6{bottom:2.720000pt;}
.yb{bottom:2.880000pt;}
.yd{bottom:4.320000pt;}
.y18{bottom:4.800000pt;}
.y9{bottom:12.480000pt;}
.y22{bottom:17.920000pt;}
.yc{bottom:18.080000pt;}
.y14{bottom:18.400000pt;}
.y11{bottom:18.560000pt;}
.y1d{bottom:18.600000pt;}
.y4{bottom:19.200000pt;}
.y19{bottom:19.360000pt;}
.y13{bottom:19.680000pt;}
.y10{bottom:19.840000pt;}
.y1c{bottom:19.880000pt;}
.y17{bottom:20.640000pt;}
.y8{bottom:27.866667pt;}
.y29{bottom:116.032000pt;}
.y0{bottom:128.666667pt;}
.y26{bottom:129.312000pt;}
.y28{bottom:340.034667pt;}
.y27{bottom:357.661333pt;}
.y25{bottom:500.253333pt;}
.y24{bottom:531.773333pt;}
.y23{bottom:568.573333pt;}
.y21{bottom:581.693333pt;}
.y20{bottom:611.613333pt;}
.y1f{bottom:643.293333pt;}
.y1e{bottom:674.813333pt;}
.y1b{bottom:706.493333pt;}
.y1a{bottom:738.213333pt;}
.y16{bottom:769.733333pt;}
.y15{bottom:802.213333pt;}
.y12{bottom:833.893333pt;}
.yf{bottom:865.413333pt;}
.ye{bottom:899.973333pt;}
.y1{bottom:917.093333pt;}
.ya{bottom:952.800000pt;}
.y3{bottom:971.680000pt;}
.y5{bottom:990.080000pt;}
.h8{height:13.760000pt;}
.h6{height:14.080000pt;}
.ha{height:14.240000pt;}
.h11{height:29.280000pt;}
.hf{height:30.880000pt;}
.hd{height:31.040000pt;}
.hb{height:31.072000pt;}
.h10{height:31.840000pt;}
.h4{height:32.480000pt;}
.h3{height:44.648750pt;}
.h7{height:49.898438pt;}
.h9{height:49.952000pt;}
.hc{height:50.671875pt;}
.he{height:55.220937pt;}
.h5{height:56.076875pt;}
.h2{height:87.072000pt;}
.h12{height:370.146667pt;}
.h1{height:880.000000pt;}
.h0{height:1056.000000pt;}
.w6{width:128.000000pt;}
.w8{width:130.272000pt;}
.w2{width:142.080000pt;}
.w4{width:186.746667pt;}
.w9{width:195.706667pt;}
.w3{width:319.426667pt;}
.w7{width:800.973333pt;}
.wa{width:646.173333pt;}
.w1{width:666.000000pt;}
.w5{width:815.999988pt;}
.w0{width:816.000000pt;}
.x8{left:0.000012pt;}
.x6{left:4.640000pt;}
.xa{left:6.880000pt;}
.x4{left:28.200000pt;}
.x7{left:53.480000pt;}
.x0{left:102.666667pt;}
.x1{left:107.072000pt;}
.x9{left:113.471988pt;}
.x2{left:129.914667pt;}
.xf{left:146.906655pt;}
.xb{left:242.746667pt;}
.x3{left:253.786667pt;}
.xc{left:261.506667pt;}
.xd{left:373.666667pt;}
.xe{left:570.013333pt;}
.x5{left:577.853333pt;}
}
