<div class="white newdesing" id="pantalla">
    <style>
      .newdesing .content-container {
        min-height: 0;
      }
    </style>
    <div class="row section-header margin">
      <ul class="left mailbox-custom-search list-inline w-100 d-flex justify-content-between align-items-center">
        <li id="inicio">
          <h5 class="cursor-pointer"
            style="font-family: 'Product Sans',Arial,sans-serif;font-size: 22px;line-height: 22px;opacity: .54;margin: 9px 0"
            onclick="location.reload();">
            <spam>
                <h5 class="fontello-icon">Consulta Codigo Verificacion
                </h5>
            </spam>
          </h5>
        </li>
      </ul>
    </div>
    <div id="Form" class="card-content clearfix card"
    style="width: 95%;margin: 1rem auto auto auto;border-radius: 15px;">
<!-- //////////////////////////////////////////////////Seleccionar TAB //////////////////////////////// -->
<div class="Hoja_2">
    <div class="row" style="width: 100%;">
        <ul class="tabs nav" style="background-color: transparent;margin: .5vh;width: 99%;overflow: hidden;">
          <li class="tab col w-auto active"><a id="tab_numero1" href ng-click="setTab(1)" class="active"><strong
                style=" font-weight: bold;">CONSULTA POR CODIGO</strong></a>
          </li>
          <li class="tab col w-auto"><a id="tab_numero2" href ng-click="setTab(2)"><strong
                style="font-weight: bold;">CONSULTA POR DOCUMENTO</strong></a></li>
        </ul>
    </div>
    </div>
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////// -->

<div ng-show="Tap == '1'">
      <div class="row" style="margin-bottom: 13;width: 98%;margin-top: 1rem;">
        <div style="padding:0px">
            <div class="card-content clearfix" style="padding-bottom:0px">
                <div class="col s12 align-items">
                    <div  class="row">
                        <div class="col l6 m6 s6">
                            <label style="padding-left: 35%;">Codigo Verificacion</label>
                            <div class="col s12 ">
                                <input ng-model="buscar_numero"  type="text" style="border: 1px solid #dee2e6;
                                border-radius: 0.25rem;
                                background-color: #fff;
                                background-clip: padding-box;
                                padding: 0 1em;" class="ng-pristine ng-valid ng-animate ng-valid-max-add ng-valid-max ng-valid-max-add-active ng-touched">
                            </div>
                        </div>
                          <div class="col l6 m6 s6">
                            <div class="col s12">
                                <button class="btn white-text blue buscarafi" ng-click="buscarcodigo(buscar_numero)">Buscar</button>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- -------------------------------------------------------------- -->
                <div class="row" ng-show="verdatocertificado">
                    <h4 class="center">El Certificado es Valido</h4>
                    <div class="col s12">
                      <div style="max-height: 48vh;overflow:auto;border: 2px solid;" class="default-color">
                          <table class="responsive-table table-bordered" style="height:100px;">
                            <thead>
                              <tr>
                                <th class="center-align"><p><strong>USUARIO QUIEN GENERO</strong></p></th>
                                <th class="center-align"><p><strong>MUNICIPIO</strong></p></th>
                                <th class="center-align"><p><strong>AFILIADO</strong></p></th>
                                <th class="center-align"><p><strong>CODIGO</strong></p></th>
                                <th class="center-align"><p><strong>TIPO CERTIFICADO</strong></p></th>
                                <th class="center-align"><p><strong>FECHA GENERACION</strong></p></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="center-align ng-binding"><p><strong>{{listadoverificado.NOMBRE}}</strong></p></td>
                                <td class="center-align ng-binding"><p><strong>{{listadoverificado.MUNICIPIO}}</strong></p></td>
                                <td class="center-align ng-binding"><p><strong>{{listadoverificado.ID_AFILIADO}} -{{listadoverificado.NOM_AFILIADO}}</strong></p></td>
                                <td class="center-align ng-binding"><p><strong>{{listadoverificado.NUMERO_CERTIFICADO}}</strong></p></td>
                                <td class="center-align ng-binding"><p><strong>{{listadoverificado.TIPO_CERTIFICADO}}</strong></p></td>
                                <td class="center-align ng-binding"><p><strong>{{formatDate(listadoverificado.FECHA)}}</strong></p></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- ----------------------------------------- -->
    <div ng-show="Tap == '2'">
        <div class="row" style="margin-bottom: 13;width: 98%;margin-top: 1rem;">
          <div style="padding:0px">
              <div class="card-content clearfix" style="padding-bottom:0px">
                  <div class="col s12 align-items">
                      <div  class="row">
                        <div class="col l4 m4 s4" style="padding-left: 20px; padding-right: 0px;">
                            <label style="padding-left: 25%;">Seleccione Tipo Documento *</label>
                              <select ng-model="buscar_tipo_documento"
                                  style="display: flex;border: 1px solid #dee2e6; border-radius: 0.25rem;">
                                  <option value="" ng-disabled="true">Seleccionar Tipo Documento</option>
                                  <option ng-repeat="tipodocumento in Tipos_Documentos | orderBy:'NOMBRE'" value="{{tipodocumento.CODIGO}}">{{tipodocumento.NOMBRE}} - [{{tipodocumento.CODIGO}}]</option>
                              </select>
                          </div>
                          <div class="col l4 m4 s4">
                              <label style="padding-left: 35%;">NUMERO DOCUMENTO</label>
                              <div class="col s12 ">
                                  <input ng-model="buscar_numero_documento"  type="text" style="border: 1px solid #dee2e6;
                                  border-radius: 0.25rem;
                                  background-color: #fff;
                                  background-clip: padding-box;
                                  padding: 0 1em;" class="ng-pristine ng-valid ng-animate ng-valid-max-add ng-valid-max ng-valid-max-add-active ng-touched">
                              </div>
                          </div>
                            <div class="col l4 m4 s4">
                              <div class="col s12">
                                  <button class="btn white-text blue buscarafi" ng-click="buscarpordocumento(buscar_tipo_documento,buscar_numero_documento)">BUSCAR</button>
                              </div>
                          </div>
                      </div>
  
                  </div>
                  <!-- -------------------------------------------------------------- -->
                  <div class="row" ng-show="verdatolistadocertificado">
                      <h4 class="center">Certificados Validos</h4>
                      <div class="col l4 m4 s4">
                        <label style="padding-left: 35%;">BUSCAR</label>
                        <div class="col s12 ">
                            <input ng-model="filtrocodigo"  type="text" style="border: 1px solid #dee2e6;
                            border-radius: 0.25rem;
                            background-color: #fff;
                            background-clip: padding-box;
                            padding: 0 1em;" class="ng-pristine ng-valid ng-animate ng-valid-max-add ng-valid-max ng-valid-max-add-active ng-touched">
                        </div>
                    </div>
                      <div class="col s12">
                      <div style="max-height: 48vh;overflow:auto;border: 2px solid;" class="default-color">
                          <table class="responsive-table table-bordered" style="height:100px;">
                            <thead>
                              <tr>
                                <th class="center-align"><p><strong>USUARIO QUIEN GENERO</strong></p></th>
                                <th class="center-align"><p><strong>MUNICIPIO</strong></p></th>
                                <th class="center-align"><p><strong>AFILIADO</strong></p></th>
                                <th class="center-align"><p><strong>CODIGO</strong></p></th>
                                <th class="center-align"><p><strong>TIPO CERTIFICADO</strong></p></th>
                                <th class="center-align"><p><strong>FECHA GENERACION</strong></p></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="cert in listadocertificados | filter:filtrocodigo">
                                <td class="center-align ng-binding"><p><strong>{{cert.NOMBRE}}</strong></p></td>
                                <td class="center-align ng-binding"><p><strong>{{cert.MUNICIPIO}}</strong></p></td>
                                <td class="center-align ng-binding"><p><strong>{{cert.AFLIADO}}</strong></p></td>
                                <td class="center-align ng-binding"><p><strong>{{cert.NUMERO_CERTIFICADO}}</strong></p></td>
                                <td class="center-align ng-binding"><p><strong>{{cert.TIPO_CERTIFICADO}}</strong></p></td>
                                <td class="center-align ng-binding"><p><strong>{{formatDate(cert.FECHA)}}</strong></p></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    <!-- ----------------------------------------- -->
   
  </div>

    <style>
    .border-texto {
  border: 1px solid black;
  padding: 10px;
  border-radius: 7px;
    }
    .buscarafi{
        background:linear-gradient(to bottom left,#5870ae,#1a2e63,#5870ae);
        width: 100%;
        margin-top: 23px;
        height: 45px;
    }
        .Valid_Campo {
          border: 1px solid red !important;
        }
    
        .card-panel,
        .card,
        .btn {
          box-shadow: 0 2px 5px 0 rgb(197 208 239), 0 2px 10px 0 rgb(197 208 239) !important;
        }
    
        .tabs {
          height: 30px !important;
        }
    
        .tabs .tab {
          line-height: 30px !important;
          height: 30px !important;
        }
    
    
        /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
    
    .inpuntnuevo{
        border: 1px solid #dee2e6;
                                            border-radius: 0.25rem;
                                            background-color: #fff;
                                            background-clip: padding-box;
                                            padding: 0 1em;
    }
    
     
        .form-control {
    font-size: .875rem;
    height: calc(1.5em + 1.25rem + 5px);
    transition: all .15s ease-in-out;
}

.form-control {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 2px);
    padding: 0.625rem 0.75rem;
    transition: all .15s cubic-bezier(.68, -.55, .265, 1.55);
    color: #8898aa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 3px 2px rgb(233 236 239 / 5%);
}
input, button, select, optgroup, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}
    
        /* //////////////////////////////////////////////////////////////////////////////// */
      </style>
    </div>
