<div>
        <div class="row margin">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-action">
                        <div class="card-content clearfix">
                            <div class="col s12">
                                <div class="row">
                                    <div class="col s12" style="display: flex;align-items: center;">
                                        <i class="material-icons left" style="margin-top: 14px;">more_vert</i>
                                        <h5>Consultar PQR</h5>
                                        <div class="switch" style="text-align: center;margin-left: 2em;">
                                            <label>
                                                <span ng-class="{'activo':!Estado}">CODIGO PQR</span>
                                                <input type="checkbox" ng-init="Estado = false; estadoc = 'C' " ng-click="Consulta()"
                                                    ng-model="Estado">
                                                <span class="lever check-c"></span>
                                                <span ng-class="{'activo':Estado}">FECHA PQR</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12">
    
                                    <div ng-hide="EstadoCodigo">
                                        <div class="switch">
                                            <label>
                                                <span ng-class="{'activo':!Habilitar}">N° PQR</span>
                                                <input type="checkbox" ng-init="Habilitar = false;"
                                                    ng-click="ConsultarPQR()" ng-model="Habilitar">
                                                <span class="lever check-c"></span>
                                                <span ng-class="{'activo':Habilitar}">N° NURC</span>
                                            </label>
                                        </div>
                                        <div class="col s6 offset-s1">
                                            <div class="input-field col m12 s12">
                                                <i class="material-icons prefix" style="margin-top: 10px;">dialpad</i>
                                                <input id="with_icon2" type="text" ng-model="num"
                                                    class="ng-pristine ng-valid ng-touched" ng-change="CambiarDatos()">
                                                <label for="with_icon2" class="">{{numero}}</label>
                                            </div>
                                        </div>
                                        <div class="col s1">
                                            <div class="input-field col m12 s12">
                                                <button class="btn white-text" type="submit"
                                                    style="padding-right: 5px; padding-left: 5px; margin-top: 10px;"
                                                    ng-click="searchPQR()"><i style="position: relative;"
                                                        class="material-icons prefix">search</i></button>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div ng-hide="EstadoFecha">
                                        <div class="input-field col ">
    
                                            <label for="simple-select" class="active">Fecha Inicial</label>
                                            <input class="datepicker picker__input calendario uppercase" id="fecha_inicio"
                                                ng-model="inicio" class="datepicker_inicio picker__input"
                                                style=" background-color: white;">
                                        </div>
                                        <div class="input-field col">
                                            <label for="simple-select" class="active">Fecha Final</label>
                                            <input class="datepicker picker__input calendario uppercase" id="fecha_final"
                                                ng-model="final" class="datepicker_inicio picker__input"
                                                style=" background-color: white;">
                                        </div>
    
                                        <div class="col ">
                                            <div class="input-field col ">
                                                <button class="btn white-text" type="submit"
                                                    style="padding-right: 5px; padding-left: 5px; margin-top: 10px;"
                                                    ng-click="searchPQR()"><i style="position: relative;"
                                                        class="material-icons prefix">search</i></button>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col s12 m12 l12" ng-hide="OcultarTabla">
            <div class="card">
                <div class="card-action">
                    <div class="card-content clearfix">
                        <div class="col s12">
                            <div class="row">
                                <table id="tablapqr" class="responsive-table display dataTable"
                                    style="width:100%; cursor:pointer;">
                                    <thead>
                                        <tr>
                                            <th>CODIGO_PQRD</th>
                                            <th>CODIGO_NURC</th>
                                            <th>FECHA</th>
                                            <th>ESTADO</th>
                                            <th>CANAL</th>
                                            <th>TIPIFICACION</th>
                                            <th>TIPO_PETICION</th>
                                            <th>CANTIDAD_ACUSES</th>
                                            <th>FUNCIONARIO_ASIGNACION</th>
                                            <th>REGIONAL</th>
                                            <th>TIPO_PERSONA_PETICIONARIO</th>
                                            <th>TIPO_DOCUMENTO_PETICIONARIO</th>
                                            <th>NUMERO_DOCUMENTO_PETICIONARIO </th>
                                            <th>NOMBRE_PETICIONARIO</th>
                                            <th>DEPTO_PETICIONARIO</th>
                                            <th>CIUDAD_PETICIONARIO</th>
                                            <th>DIRECCION_PETICIONARIO</th>
                                            <th>TELEFONO_PETICIONARIO </th>
                                            <th>CELULAR_PETICIONARIO </th>
                                            <th>EMAIL_PETICIONARIO </th>
                                            <th>TIPO_INSTITUCION_PETICIONARIO</th>
                                            <th>TIPO_PERSONA_AFECTADO</th>
                                            <th>TIPO_DOCUMENTO_AFECTADO</th>
                                            <th>NUMERO_DOCUMENTO_AFECTADO</th>
                                            <th>NOMBRE_AFECTADO</th>
                                            <th>DEPTO_AFECTADO</th>
                                            <th>CIUDAD_AFECTADO</th>
                                            <th>DIRECCION_AFECTADO </th>
                                            <th>TELEFONO_AFECTADO</th>
                                            <th>CELULAR_AFECTADO </th>
                                            <th>EMAIL_AFECTADO</th>
                                            <th>TIPO_INSTITUCION_AFECTADO</th>
                                            <th>RELACION_PETICIONARIO</th>
                                            <th>GENERO_AFECTADO</th>
                                            <th>EDAD_AFECTADO</th>
                                            <th>NIVEL_EDUCATIVO_AFECTADO</th>
                                            <th>REGIMEN_AFILIACION_AFECTADO</th>
                                            <th>GRUPO_ETNICO_AFECTADO</th>
                                            <th>POBLACION_ESPECIAL_AFECTADO</th>
                                            <th>ENTIDAD_CAUSANTE</th>
                                            <th>AMBITO_IVC</th>
                                            <th>DEPTO_LUGAR_RECLAMACION</th>
                                            <th>CIUDAD_LUGAR_RECLAMACION</th>
                                            <th>CLASIFICACION</th>
                                            <th>CLASIFICACION_CODIGO</th>
                                            <th>MOTIVO</th>
                                            <th>MOTIVO_CODIGO</th>
                                            <th>MOTIVO_ESPECIFICO</th>
                                            <th>MOTIVO_ESPECIFICO_CODIGO</th>
                                            <th>TIPO_PATOLOGIA</th>
                                            <th>PATOLOGIA</th>
                                            <th>CIE_10</th>
                                            <th>RIESGO_VIDA</th>
                                            <th>EVENTO_ALTO_COSTO</th>
                                            <th>CASO_ANTERIOR_OPERADOR</th>
                                            <th>OBSERVACION</th>
                                            <th>AREA</th>
                                            <th>MOTIVO_2</th>
                                            <th>MOTIVO_CIERRE_INSTRUCCION</th>
                                            <th>GESTION_DEL_CASO_VIGILADO</th>
                                            <th>COMENTARIOS</th>
                                            <th>CONSEINT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="i in informacion">
                                            <td>{{i.codigo_pqrd}}</td>
                                            <td>{{i.codigo_nurc}}</td>
                                            <td>{{i.fecha}}</td>
                                            <td>{{i.estado}}</td>
                                            <td>{{i.canal}}</td>
                                            <td>{{i.tipificacion}}</td>
                                            <td>{{i.tipo_peticion}}</td>
                                            <td>{{i.cantidad_acuses}}</td>
                                            <td>{{i.funcionario_asignacion}}</td>
                                            <td>{{i.regional}}</td>
                                            <td>{{i.tipo_persona_peticionario}}</td>
                                            <td>{{i.tipo_documento_peticionario}}</td>
                                            <td>{{i.numero_documento_peticionario }}</td>
                                            <td>{{i.nombre_peticionario}}</td>
                                            <td>{{i.depto_peticionario}}</td>
                                            <td>{{i.ciudad_peticionario}}</td>
                                            <td>{{i.direccion_peticionario}}</td>
                                            <td>{{i.telefono_peticionario }}</td>
                                            <td>{{i.celular_peticionario }}</td>
                                            <td>{{i.email_peticionario }}</td>
                                            <td>{{i.tipo_institucion_peticionario}}</td>
                                            <td>{{i.tipo_persona_afectado}}</td>
                                            <td>{{i.tipo_documento_afectado}}</td>
                                            <td>{{i.numero_documento_afectado}}</td>
                                            <td>{{i.nombre_afectado}}</td>
                                            <td>{{i.depto_afectado}}</td>
                                            <td>{{i.ciudad_afectado}}</td>
                                            <td>{{i.direccion_afectado }}</td>
                                            <td>{{i.telefono_afectado}}</td>
                                            <td>{{i.celular_afectado }}</td>
                                            <td>{{i.email_afectado}}</td>
                                            <td>{{i.tipo_institucion_afectado}}</td>
                                            <td>{{i.relacion_peticionario}}</td>
                                            <td>{{i.genero_afectado}}</td>
                                            <td>{{i.edad_afectado}}</td>
                                            <td>{{i.nivel_educativo_afectado}}</td>
                                            <td>{{i.regimen_afiliacion_afectado}}</td>
                                            <td>{{i.grupo_etnico_afectado}}</td>
                                            <td>{{i.poblacion_especial_afectado}}</td>
                                            <td>{{i.entidad_causante}}</td>
                                            <td>{{i.ambito_ivc}}</td>
                                            <td>{{i.ciudad_lugar_reclamacion}}</td>
                                            <td>{{i.clasificacion}}</td>
                                            <td>{{i.clasificacion_codigo}}</td>
                                            <td>{{i.motivo}}</td>
                                            <td>{{i.motivo_codigo}}</td>
                                            <td>{{i.motivo_especifico}}</td>
                                            <td>{{i.motivo_especifico_codigo}}</td>
                                            <td>{{i.tipo_patologia}}</td>
                                            <td>{{i.patologia}}</td>
                                            <td>{{i.cie_10}}</td>
                                            <td>{{i.riesgo_vida}}</td>
                                            <td>{{i.evento_alto_costo}}</td>
                                            <td>{{i.caso_anterior_operador}}</td>
                                            <td>{{i.observacion}}</td>
                                            <td>{{i.AREA}}</td>
                                            <td>{{i.MOTIVO_2}}</td>
                                            <td>{{i.depto_lugar_reclamacion}}</td>
                                            <td>{{i.motivo_cierre_instruccion}}</td>
                                            <td>{{i.gestion_del_caso_vigilado}}</td>
                                            <td>{{i.COMENTARIOS}}</td>
                                            <td>{{i.Conseint}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>