<div class="white newdesing" id="pantalla">
    <style>
      .newdesing .content-container {
        min-height: 0;
      }
    </style>
    <div class="row section-header margin">
      <ul class="left mailbox-custom-search list-inline w-100 d-flex justify-content-between align-items-center">
        <li id="inicio">
          <h5 class="cursor-pointer"
            style="font-family: 'Product Sans',Arial,sans-serif;font-size: 22px;line-height: 22px;opacity: .54;margin: 9px 0"
            onclick="location.reload();">
            <spam>
                <h5 class="fontello-icon">Generar Certificados
                </h5>
            </spam>
          </h5>
        </li>
      </ul>
    </div>
    <div id="Form" class="card-content clearfix card"
    style="width: 95%;margin: 1rem auto auto auto;border-radius: 15px;">
    <div>
      <div class="row" style="margin-bottom: 13;width: 98%;margin-top: 1rem;">
        <div style="padding:0px">
            <div class="card-content clearfix" style="padding-bottom:0px">
                <div class="col s12">
                    <div class="row">
                        <div class="col l4 m4 s4" style="padding-left: 20px; padding-right: 0px;">
                            <label style="padding-left: 25%;">Seleccione  Tipo Certificado *</label>
                              <select ng-model="Tipocertificado"  
                                  style="display: flex;border: 1px solid #dee2e6; border-radius: 0.25rem;">
                                  <option value="" ng-disabled="true">Seleccionar</option>
                                  <option value="S">Con Datos del Salario</option>
                                  <option value="N">Sin Datos del Salario</option>
                              </select>
                          </div>
                        <div class="col l4 m4 s4">
                            <label style="padding-left: 35%;">A Quien Interese</label>
                            <div class="col s12 ">
                                <input ng-model="interesado" type="text" style="border: 1px solid #dee2e6;
                                border-radius: 0.25rem;
                                background-color: #fff;
                                background-clip: padding-box;
                                padding: 0 1em;" class="ng-pristine ng-valid ng-animate ng-valid-max-add ng-valid-max ng-valid-max-add-active ng-touched">
                            </div>
                        </div>
                        <div class="col l4 m4 s4">
                            <label style="padding-left: 35%;">Numero Documento *</label>
                            <div class="col s12 ">
                                <input ng-model="buscar_numero" type="text" style="border: 1px solid #dee2e6;
                                border-radius: 0.25rem;
                                background-color: #fff;
                                background-clip: padding-box;
                                padding: 0 1em;" class="ng-pristine ng-valid ng-animate ng-valid-max-add ng-valid-max ng-valid-max-add-active ng-touched">
                            </div>
                        </div>
                    </div>
                  <div class="row">
                    <div class="input-field">
                      <center>
                        <button class="btn btn-primary" ng-click="generaCertLaboral()"
                          style="border-radius:5px;">Generar Certificado</button>
                      </center>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
   
  </div>

    <style>
    
    .buscarafi{
        background:linear-gradient(to bottom left,#5870ae,#1a2e63,#5870ae);
        width: 100%;
        margin-top: 23px;
        height: 45px;
    }
        .Valid_Campo {
          border: 1px solid red !important;
        }
    
        .card-panel,
        .card,
        .btn {
          box-shadow: 0 2px 5px 0 rgb(197 208 239), 0 2px 10px 0 rgb(197 208 239) !important;
        }
    
        .tabs {
          height: 30px !important;
        }
    
        .tabs .tab {
          line-height: 30px !important;
          height: 30px !important;
        }
    
    
        /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
    
    .inpuntnuevo{
        border: 1px solid #dee2e6;
                                            border-radius: 0.25rem;
                                            background-color: #fff;
                                            background-clip: padding-box;
                                            padding: 0 1em;
    }
    
     
        .form-control {
    font-size: .875rem;
    height: calc(1.5em + 1.25rem + 5px);
    transition: all .15s ease-in-out;
}

.form-control {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 2px);
    padding: 0.625rem 0.75rem;
    transition: all .15s cubic-bezier(.68, -.55, .265, 1.55);
    color: #8898aa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 3px 2px rgb(233 236 239 / 5%);
}
input, button, select, optgroup, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}
    
        /* //////////////////////////////////////////////////////////////////////////////// */
      </style>
    </div>
