<div class="row">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="foot4 divcardcustom">
                <div class="text-al switch">
                    <strong>Circulares</strong>
                </div>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="input-field col l2 m12 s12 margin">
                        <label class="labelper">Circular</label>
                        <select id="informe" name="informe" class="select-chosen-eps" ng-model="data.circular">
                            <option value="" disabled>SELECCIONAR</option>
                            <option value="018">018</option>
                        </select>
                    </div>
                    <div class="input-field col l2 m12 s12 margin" ng-if="data.circular !== ''">
                        <label class="labelper">Reporte</label>
                        <select id="informe" name="informe" class="select-chosen-eps" ng-model="data.informe">
                            <option disabled value="">SELECCIONAR</option>
                            <option ng-repeat="reporte in data.tipo_reportes" ng-value="reporte.id">{{ reporte.value }}</option>
                        </select>
                    </div>
                    <div class="input-field col l3 m12 s12 margin" ng-show="data.informe !== 'PT026' && data.informe !== 'GS' && data.informe !== ''">
                        <label class="labelper" for="fecha_inicio">Fecha de Inicio</label>
                        <input id="fecha_inicio" type="date" ng-model="data.fecha_inicio">
                    </div>
                    <div class="input-field col l3 m12 s12 margin" ng-show="data.informe !== 'PT026'  && data.informe !== 'GS' &&  data.informe !== ''">
                        <label class="labelper" for="fecha_fin">Fecha fin</label>
                        <input id="fecha_fin" type="date" ng-model="data.fecha_fin">
                    </div>
                    <div class="col s1">
                        <button class="btn-floating btn-large waves-effect waves-light" ng-click="obtenerReporte()">
                            <i class="icon-file-excel"></i>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col s3" ng-show="data.exportar">
                        <button class="btn relative" style="bottom: -10px;" ng-click="exportarDatos()">
                            Exportar datos
                        </button>
                    </div>
                    <div class="row" id="table-container">
                        <table id="datatable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>