<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="javascript: void(0)" ng-click="mapa = '1'">Nacional - Mundial</a></li>
            <li class="tab col s3"><a href="javascript: void(0)" ng-click="mapa = '2'">EPS</a></li>
        </ul>
    </div>
    <div class="mapa" ng-show="mapa === '1'">
     <!--    <iframe src="https://infogram.com/covid-19-or-instituto-nacional-de-salud-or-colombia-1hke60w3qlz345r?src=embed" style="border: 0;
        margin-top: 60px;
        height: calc(100% - 123px);
        width: calc(100% - 240px);
        background-color: white;
        position: absolute;"></iframe> -->
        <iframe src="https://e.infogram.com/947b09e2-e784-43ee-a618-95266cab42bf?parent_url=https%3A%2F%2Fwww.ins.gov.co%2FNoticias%2FPaginas%2FCoronavirus.aspx&amp;src=embed#async_embed" scrolling="no" frameborder="0" allowfullscreen="" title="Panorama General" style="border: none; width:100%; height: 1670px;"></iframe>
    </div>
    <div class="mapa" ng-show="mapa === '2'">
        <iframe src="https://app.powerbi.com/view?r=eyJrIjoiMmYzYzc2NmUtMGQzMi00OWM1LWI4ZjEtNTU0Njc3NTc1Y2Y2IiwidCI6ImQ4ZWRiNTVmLWVlOGQtNGRmNi1iMGNjLTgwOTMxZTllNzQyOSJ9" style="border: 0;
         margin-top: 60px;
        height: calc(100% - 123px);
        width: calc(100% - 240px);
        background-color: white;
        position: absolute;"></iframe>
    </div>
</div>