<div id="pre_validador_202">
    <!-- Titulo -->
    <div class="row section-header margin">
        <ul class="left mailbox-custom-search list-inline w-100 d-flex justify-content-between align-items-center">
            <li id="inicio">
                <h5 class="cursor-pointer"
                    style="font-family: 'Product Sans',Arial,sans-serif;font-size: 22px;line-height: 22px;opacity: .54;margin: 9px 0"
                    onclick="location.reload();">
                    <strong>Pre-validador resolucion 202</strong>
                </h5>
            </li>
            <li ng-show="paso == 2">
                <ul class="tabs transparent" style="overflow:hidden;">
                    <li class="tab col w-auto">
                        <a ng-click="tab = 1" id="Sol" href class="active">Nuevo Cargue
                            <i class="zmdi zmdi-upload"></i></a>
                    </li>
                    <li class="tab col w-auto">
                        <a ng-click="tab = 2; obtenerCargues()" id="Nueva" href>Mis Cargues <i
                                class="zmdi zmdi-cloud-upload"></i></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- BUSCAR PRESTADOR -->
    <div class="card-content clearfix card" id="card-content" ng-if="paso == 1 && tipoUsuario == 0"
        style="width: 30%;margin: 1rem auto auto auto;border-radius: 15px;">
        <div class="row" style="margin-bottom: 0;margin-top: 1rem;">
            <div class="col s12">
                <div class="col s12 no-padding label-new m-b center">
                    <input type="text" id="Form_Nombre" class="margin border-none input-text-new w-100 m-l"
                        style="text-transform:uppercase" autocomplete="off" ng-change="soloNumeros()"
                        placeholder="Ingresar NIT" ng-model="InputSearch">
                    <label>Consultar Prestador</label>
                </div>
            </div>
        </div>
        <div class="col s12 center m-b" style="margin-bottom: 15px;">
            <button class="btn waves-effect waves-light" ng-click="obtenerIPS(InputSearch)"
                style="border-radius: 15px;"><i class="icon-search"></i>BUSCAR</button>
        </div>
    </div>

    <!-- CARGUE DE ARCHIVO -->
    <div class="row dashboard-wrapper content-container white" style="width: 50%" ng-if="paso == 2 && tab == 1">
        <div class="card-content clearfix card" id="card-content"
            style="margin: 1rem auto auto auto;border-radius: 15px;">
            <div class="row" style="margin-bottom: 0;margin-top: 1rem;">
                <div class="col s12">
                    <div class="col s10 center">
                        <strong class="center">{{IPS.razon_social}}</strong>
                    </div>
                    <div class="col s2 center" ng-if="tipoUsuario == 0">
                        <a ng-click="atras()" style="cursor: pointer;"><i class="zmdi zmdi-arrow-left"></i>Atras</a>
                    </div>
                    <div class="row">
                        <div ng-class="IPS.nit != 0 ? 'col s6' : 'col s4'">
                            <label class="m-l">Año</label>
                            <select class="select-new-style gray-input m-l" ng-model="anno"
                                ng-change="cargaPeriodos(anno);">
                                <option ng-repeat="x in Annos track by $index" ng-value="x.ANNO">{{x.ANNO}}
                                </option>
                            </select>
                        </div>
                        <div ng-class="IPS.nit != 0 ? 'col s6' : 'col s4'">
                            <label class="m-l">{{IPS.nit == 0 ? "Trimestre" : "Mes"}}</label>
                            <select class="select-new-style gray-input m-1" ng-model="periodo"
                                ng-change="actualizaPlaceHolder(anno, periodo)">
                                <option ng-repeat="x in Periodos" value="{{x.IDE}}" ng-show="IPS.nit != 0">
                                    {{x.NOMBRE}}
                                </option>
                                <option ng-repeat="x in Trimestres" value="{{x.IDE}}" ng-show="IPS.nit == 0">
                                    {{x.NOMBRE}}
                                </option>
                            </select>
                        </div>
                        <div ng-class="IPS.nit != 0 ? 'col s6' : 'col s4'" ng-show="IPS.nit == 0">
                            <label class="m-l">Regimen</label>
                            <select class="select-new-style gray-input m-1" name="regimen" ng-model="regimen" ng-change="actualizaPlaceHolder(anno, periodo,regimen)">
                                <option value="" disabled>SELECCIONAR</option>
                                <option value="S">SUBSIDIADO</option>
                                <option value="C">CONTRIBUTIVO</option>
                            </select>
                        </div>
                    </div>
                    <form id="anexo" method="post" enctype="multipart/form-data"></form>
                    <div class="row" ng-show="periodo != undefined">
                        <div class="col s12">
                            <span style="color:red">* El nombre del archivo debe ser {{placeholder}}</span>
                        </div>
                        <div class="col s12">
                            <div class="file-upload-wrapper file-field input-field" id="file-upload-wrapper"
                                data-text="Cargar Archivo" style="margin: 0;width: -webkit-fill-available;">
                                <div class="right">
                                    <input type="file" id="fileInput" name="fileInput" accept=".txt">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path" type="text" name="archivo" accept=".txt" autocomplete="off"
                                        style="border-radius: 0;height: 1rem;border-bottom: 0;"
                                        ng-model="fileInput" ng-change="loadFile(fileInput)">
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <div class="col m-t m-b l12 center">
                <button class="btn waves-effect waves-light m-l" ng-click="ValidarArchivo(1, anno, periodo, regimen)"
                    ng-show="anno != '' && periodo != ''" style="border-radius: 15px;"><i class="icon-doc-text-2"
                        style="font-size: 1rem;">Validar</i></button>
                <button class="btn waves-effect waves-light " ng-click="LimpiarForm()"
                    ng-show="anno != '' && periodo != ''" style="border-radius: 15px;"><i class="icon-eraser"
                        style="font-size: 1rem;">Limpiar</i></button>
            </div>
        </div>
    </div>

    <!-- CARGUE DE ARCHIVO -->
    <div class="row dashboard-wrapper content-container white" style="width: 100%" ng-if="paso == 2 && tab == 2">
        <div class="card-content clearfix card" id="card-content" style="border-radius: 15px;">
            <div class="row" style="margin-bottom: 0;margin-top: 1rem;">
                <div class="row dashboard-wrapper content-container white"
                    style="padding-bottom: 20px;margin-bottom: 0;padding-left: 20px;padding-right: 20px;">
                    <div class="col l12 m12 s12" style="position:relative">
                        <div class="black-text title-panel"
                            style="display: flex;justify-content: space-between;align-items: center;margin-bottom: 15px;">
                            Listado de Radicaciones
                            <input type="text" class="margin border-none input-text-new" ng-keyup="filter(filtro)"
                                ng-model="filtro" placeholder="Buscar en la tabla">
                        </div>
                        <div id="tabla_scroll" class="scroll_x">
                            <div class="responsive" ng-hide="inactiveipstable">
                                <table class="striped table-bordered white" style="zoom: 0.8;">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" style="text-align:center;"><b>#</b></th>
                                            <th rowspan="2" style="text-align:center;">RADICADO</th>
                                            <th rowspan="2" style="text-align:center;">PERIODO</th>
                                            <th rowspan="2" style="text-align:center;">CANTIDAD DE REGISTROS</th>
                                            <th rowspan="2" style="text-align:center;">FECHA INGRESO AL SISTEMA</th>
                                            <th rowspan="2" style="text-align:center;">FECHA ULTIMA ACTUALIZACION</th>
                                            <th rowspan="2" style="text-align:center;" ng-if="tipoUsuario != 0">FECHA DE VALIDACION</th>
                                            <th rowspan="2" style="text-align:center;" >ESTADO VALIDADO</th>
                                            <th rowspan="2" style="text-align:center;" >ESTADO CARGUE</th>
                                           <!-- <th rowspan="2" style="text-align:center;" ng-if="tipoUsuario != 0">REGIMEN</th> -->
                                            <th rowspan="2" colspan="4" style="text-align:center;">ACCIÓN</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      <tr
                                        ng-repeat="x in archivosRadicadosDataTemp  | inicio: currentPage * pageSize | limitTo: pageSize | filter:filtro"
                                        ng-hide="archivosRadicadosDataTemp.length == 0"
                                      >
                                        <th style="text-align: center">{{$index + 1 }}</th>
                                        <td style="text-align: center"><b>{{x.proceso}}</b></td>
                                        <td style="text-align: center">{{x.periodo}}</td>
                                        <td style="text-align: center">{{x.cantidad_registros}}</td>
                                        <td style="text-align: center">{{x.fecha_cargue}}</td>
                                        <td style="text-align: center" ng-if="tipoUsuario != 0">
                                          {{x.fecha_confirmado}}
                                        </td>
                                        <td style="text-align: center">
                                          {{x.fecha_ultimo_cargue}}
                                        </td>
                                        <td style="text-align: center">
                                          {{x.estado_confirmacion}}
                                        </td>
                                        <td style="text-align: center" >
                                          <span style="cursor: pointer" ng-class="x.clase"
                                            ><b>{{x.estado_cargue}}</b></span
                                          >
                                        </td>
                                        <!-- <td style="text-align: center" ng-if="tipoUsuario != 0">
                                          {{x.regimen == "S" ? "SUBSIDIADO" : "CONTRIBUTIVO"}}
                                        </td> -->
                                        <td style="text-align: center">
                                          <div class="tooltip" ng-if="x.estado_cargue == 'CON ERRORES'">
                                            <i
                                              style="cursor: pointer; width: 25px"
                                              ng-click="verdetalle(x)"
                                              class="icon-download dropbtn2"
                                            ></i>
                                            <span class="tooltiptext">Descargar Errores</span>
                                          </div>

                                          <div class="tooltip" ng-if="x.estado_cargue == 'CON ERRORES'">
                                            <i
                                              style="cursor: pointer; width: 25px"
                                              ng-click="actualizarSoporte(x)"
                                              class="icon-upload dropbtn2"
                                            ></i>
                                            <span class="tooltiptext">Actualizar Soporte</span>
                                          </div>

                                          <!-- <div class="tooltip" ng-if="tipoUsuario != 0"> -->
                                          <div class="tooltip">
                                            <i
                                              style="cursor: pointer; width: 25px"
                                              ng-click="download(x.ruta, x)"
                                              class="icon-download-cloud dropbtn2"
                                            ></i>
                                            <span class="tooltiptext">Decargar Archivo</span>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr ng-show="archivosRadicadosDataTemp.length == 0">
                                        <th colspan="12">
                                          <center>No hay cargues para mostrar</center>
                                        </th>
                                      </tr>
                                    </tbody>

                                </table>
                            </div>
                            <ul ng-hide="archivosRadicadosDataTemp.length == 0" style="text-align: center;"
                                class="pagination" ng-hide="archivosRadicadosDataTemp.length > 0">
                                <li><button ng-disabled='currentPage == 0' class="btn"
                                        ng-click='currentPage = currentPage - 1'>&laquo;</button></li>
                                <li ng-repeat='page in pages'><button ng-disabled='currentPage == page.no - 1'
                                        class="btn" ng-click='setPage(page.no)'>{{page.no}}</button></li>
                                <li><button ng-disabled='currentPage >= archivosRadicadosDataTemp.length/pageSize - 1'
                                        class="btn" ng-click='currentPage = currentPage + 1'>&raquo;</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL ACTUALIZAR ARCHIVO -->
    <div id="Modal_ActualizaSoporte" class="modal" style="margin: 0 auto;max-height: 100%;width: 30%;top:0%;">
        <div class="modal-content" style="padding: 0px !important;">
            <div class="col s12 m6 l6 card margin">
                <div class="ngdialog-close"
                    style="font-size: 50px;position: absolute;z-index: 106;right: 0.5em;color: white;"
                    ng-click="closeModal()">
                </div>
                <div class="card-content default-background white-text">
                    <div class="col s11">
                        <div class="col s5" style="display: inline-flex;">
                            <span class="margin" style="font-size: 1.64rem;">Actualizar soporte</span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div class="col s12" style="margin-top: 1em;">
                        <form id="anexo2" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col s12">
                                    <div class="file-upload-wrapper file-field input-field" id="file-upload-wrapper2"
                                        data-text="Cargar Archivo" style="margin: 0;width: -webkit-fill-available;">
                                        <div class="right">
                                            <input type="file" id="Actualizarfile" name="Actualizarfile" accept=".txt">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path" type="text" name="archivoAct"
                                                style="border-radius: 0;height: 1rem;border-bottom: 0;"
                                                ng-model="fileInput">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col m-t m-b" style="margin-left: 30%;">
                                        <button class="btn waves-effect waves-light right m-l" ng-click="loadFile('A')"
                                            style="border-radius: 15px;"><i class="icon-doc-text-2"
                                                style="font-size: 1rem;">Validar</i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .file-upload-wrapper {
            position: relative;
            width: 100%;
            height: 44px;
            border: 1px solid #eeeeee;
            z-index: 1;
        }

        .file-upload-wrapper:after {
            content: attr(data-text);
            font-size: 18px;
            position: absolute;
            top: 0;
            left: 0;
            background: #fff;
            padding: 10px 15px;
            display: block;
            width: calc(100% - 40px);
            pointer-events: none;
            z-index: 20;
            height: 40px;
            line-height: 24px;
            color: black;
            border-radius: 5px 10px 10px 5px;
            font-weight: 300;
        }

        .file-upload-wrapper:before {
            content: "Adjuntar";
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            height: 43px;
            background: #4daf7c;
            color: #fff;
            font-weight: 700;
            z-index: 25;
            font-size: 16px;
            line-height: 44px;
            padding: 0 15px;
            text-transform: uppercase;
            pointer-events: none;
            border-radius: 0 5px 5px 0;
        }

        .file-upload-wrapper:hover:before {
            background-color: #1a2e63;
        }

        .file-upload-wrapper input {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 99;
            height: 43px;
            margin: 0;
            padding: 0;
            display: block;
            cursor: pointer;
            width: 100%;
        }

        #pre_validador_202 {
            background-color: white;
            width: 100%;
            height: 90vh;
        }

        .error {
            background-color: #FF5722 !important;
        }

        .validado {
            background-color: #1a2e63 !important;
        }

        .pendiente {
            background-color: #FFC107 !important;
        }
    </style>


</div>