<div class="row margin">
  <div class="col s12 m12 l12">
    <div class="card">
      <!-- Titulo App -->
      <div class="card-content">
        <div class="row">
          <div class="col s12">
            <div class="col s12 m6 l6">
              <spam><h4>Consultar Información del Funcionario</h4></spam>
            </div>
          </div>
        </div>
      </div>
      <!-- Cuerpo App -->
      <div class="card-action">
        <div class="card-content clearfix">
          <!-- Numero y tipo de documento -->
          <div class="col s6 offset-s3">
            <form id="busafi" class="row" ng-hide="inactivefinduser2" ng-submit="cargarinfopersonal('no')" style="margin-bottom: 10px !important;">
              <div class="row">
                <div class="col s12">
                  <div class="row" >
                    <div class="input-field col l5 m5 s10 offset-s1 offset-m1 offset-l1">
                      <i class="material-icons prefix">view_list</i>
                      <select id="simple-select chosen" ng-model="tipoDoc" material-select watch>
                        <option value="0" disabled>SELECCIONAR</option>
                        <option value="C">CEDULA DE CIUDADANÍA</option>
                        <option value="T">TARJETA DE IDENTIDAD</option>
                      </select>
                      <label for="simple-select hide-on-med-and-down">Tipo de Documento</label>
                    </div>
                    <div class="input-field col l5 m5 s10">
                      <i class="material-icons prefix">account_circle</i>
                      <input id="with_icon" type="text" ng-model="documento" class="validate">
                      <label for="with_icon">Documento</label>
                    </div>
                  </div>
                  <div class="col s12">
                    <center><button class="waves-effect waves-light btn-large white-text black" style="z-index: 0 !important;" type="submit">CONTINUAR</button></center>
                  </div>
                </div>
              </div>
            </form>
            <form id="busafi2" class="row" ng-hide="inactivefinduser" ng-submit="buscarusuario(finduser)" style="margin-bottom: 10px !important;">
              <div class="row">
                <div class="col s12">
                  <div class="row">
                    <div class="input-field col l10 m10 s10">
                      <i class="material-icons prefix">account_circle</i>
                      <input id="with_icon" type="text" ng-model="finduser" class="validate">
                      <label for="with_icon">Buscar</label>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col s12" style="position: absolute; right: 0; top: 10px;">
            <button class="btn-floating waves-effect waves-light" ng-click="changesearch()">
              <i class="large material-icons" >repeat</i>
            </button>
          </div>
          <!-- usuarios -->
          <div class="col s8 offset-s2" ng-hide="tablausuario">
            <table class="responsive-table striped table-bordered">
              <thead>
                <tr>
                  <th style="text-align: center;">Documento</th>
                  <th style="text-align: center;">Nombre</th>
                  <th style="text-align: center;">Cargo</th>
                  <th style="text-align: center;">Estado</th>
                  <th style="text-align: center;">Seleccionar</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="us in usuarios">
                  <td>{{us.cedula}}</td>
                  <td>{{us.nombre}}</td>
                  <td>{{us.cargo}}</td>
                  <td>{{us.estado}}</td>
                  <td  align="center"><i ng-click="cargar(us)" style="cursor:pointer; position: relative; left: 40%;" class="material-icons">visibility</i></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- carta de datos peronales y empresariales -->
          <div class="col s12" ng-hide="inactiveinfo">
            <!-- card de personal  -->
            <div class="col l6 m12 s12">
              <div class="card">
                <div class="card-content">
                  <h5>Información Personal</h5>
                </div>
                <div class="card-action" style="z-index: auto;">
                  <div class="row" ng-hide="cardempresarial2">
                    <div class="card-content">
                      <spam><h5 style="font-size: x-large;">{{newData.pnombre}} {{newData.snombre}} {{newData.papellido}} {{newData.sapellido}}</h5></spam>
                    </div>
                    <ul class="collection border-none profile-collection">
                      <li class="collection-item transparent avatar">
                        <div class="foot4 circle"><div style="margin-left: -9px; color: #ffffff; font-size: 50px; padding-top: 8px;">{{newData.iniciales}}</div></div>
                        <div>
                          <P><strong>Fecha Nacimiento: </strong><spam>{{newData.nacimiento}}</spam></P>
                          <P><strong>Sexo: </strong><spam>{{newData.sexo}}</spam></P>
                          <P><strong>Grupo Sanguineo: </strong><spam>{{newData.rh}}</spam></P>
                          <P><strong>Estado Civil: </strong><spam>{{newData.estado_civil}}</spam></P>
                          <P><strong>Peso: </strong><spam>{{newData.peso}}Kg</spam></P>
                          <P><strong>Estatura: </strong><spam>{{newData.estatura}} cm</spam></P>
                          <P><strong>Telefono: </strong><spam>{{newData.telefono}}</spam></P>
                          <P><strong>Celular: </strong><spam>{{newData.celular}}</spam></P>
                          <P><strong>Departamento: </strong><spam>{{newData.dpto_nom}}</spam></P>
                          <P><strong>Ciudad: </strong><spam>{{newData.mun_nom}}</spam></P>
                          <P><strong>Barrio: </strong><spam>{{newData.barrio}}</spam></P>
                          <P><strong>direccion: </strong><spam>{{newData.direccion}}</spam></P>
                          <P><strong>Email: </strong><spam>{{newData.email_personal}}</spam></P>
                          <P><strong>Rethus: </strong><spam>{{newData.rethus_nom}}</spam></P>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <!-- <div class="row" ng-hide="!cardempresarial2">
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <input ng-disabled="todo" id="pnombre" type="text" ng-model="pnombre" class="validate ng-pristine ng-valid ng-touched mayus">
                        <label for="pnombre" id="-pnombre" class="active">Primer Nombre</label>
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <input ng-disabled="todo" id="snombre" type="text" ng-model="snombre" class="validate ng-pristine ng-valid ng-touched mayus">
                        <label for="snombre" id="-snombre" class="active">Segundo Nombre</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <input ng-disabled="todo" id="papellido" type="text" ng-model="papellido" class="validate ng-pristine ng-valid ng-touched mayus">
                        <label for="papellido" id="-papellido">Primer Apellido</label>
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <input ng-disabled="todo" id="sapellido" type="text" ng-model="sapellido" class="validate ng-pristine ng-valid ng-touched mayus">
                        <label for="sapellido" id="-sapellido">Segundo Apeliido</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <label for="date1" id="-date1">Fecha Nacimiento</label>
                        <input type="text" id="date1" ng-disabled="todo" style="cursor:pointer" class="form-control floating-label validate ng-pristine ng-valid ng-touched" ng-model="nacimiento">
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <select  ng-model="sexo" id="sexo" ng-disabled="todo" class="select-chosen-eps validate ng-pristine ng-valid ng-touched">
                          <option value="0" disabled>SELECCIONAR</option>
                          <option value="M" selected>MASCULINO</option>
                          <option value="F">FEMENINO</option>
                        </select>
                        <label for="sexo" id="-sexo" class="active">Sexo</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <select ng-disabled="todo" id="gruposanguineo" ng-model="gruposanguineo" class="select-chosen-eps validate ng-pristine ng-valid ng-touched">
                          <option value="0" disabled>SELECCIONAR</option>
                          <option ng-selected = "sg.Codigo == gruposanguineo" ng-repeat="sg in grupossanguineos.Rh" ng-value="sg.Codigo">{{sg.Nombre}}</option>
                        </select>
                        <label for="gruposanguineo" id="-gruposanguineo" class="active">Grupo sanguineo</label>
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <select  ng-disabled="todo" id="estadocivil" ng-model="estadocivil" class="select-chosen-eps validate ng-pristine ng-valid ng-touched">
                          <option value="0" disabled>SELECCIONAR</option>
                          <option ng-selected = "ec.Codigo == estadocivil" ng-repeat="ec in estadosciviles.estadocivil" ng-value="ec.Codigo">{{ec.Nombre}}</option>
                        </select>
                        <label for="estadocivil" id="-estadocivil" class="active">Estado Civil</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <input ng-disabled="todo" id="peso" type="number" class="validate ng-pristine ng-valid ng-touched" ng-model="peso">
                        <label for="peso" id="-peso" >Peso en Kg</label>
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <input ng-disabled="todo" id="estatura" type="number" class="validate ng-pristine ng-valid ng-touched" ng-model="estatura">
                        <label for="estatura" id="-estatura" >Estatura en cm</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <input ng-disabled="todo" id="telefono" type="number" class="validate ng-pristine ng-valid ng-touched" ng-model="telefono">
                        <label for="telefono" id="-telefono">Telefono</label>
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <input ng-disabled="todo" id="celular" type="number" class="validate ng-pristine ng-valid ng-touched" ng-model="celular" >
                        <label for="celular" id="-celular">Celular</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <select  ng-disabled="todo" ng-model="departamento" id="departamento" ng-change="fubicacionpersonal('departamentoper',departamento)" class="select-chosen-eps validate ng-pristine ng-valid ng-touched">
                          <option value="0" disabled>SELECCIONAR</option>
                          <option ng-selected = "x3.codigo == departamento" ng-repeat="x3 in ubi.dptoper" ng-value="x3.codigo">{{x3.nombre}}</option>
                        </select>
                        <label for="departamento" id="-departamento" class="active">Departamento</label>
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <select  ng-disabled="todo" ng-model="municipio" id="municipio" class="select-chosen-eps validate ng-pristine ng-valid ng-touched">
                          <option value="0" disabled>SELECCIONAR</option>
                          <option ng-selected = "{{x4.codigo}} == municipio" ng-repeat="x4 in municipiosper" ng-value="{{x4.codigo}}">{{x4.nombre}}</option>
                        </select>
                        <label for="municipio" id="-municipio" class="active">Municipio</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <input ng-disabled="todo" id="barrio" type="text" ng-model="barrio" class="validate ng-pristine ng-valid ng-touched mayus">
                        <label for="barrio" id="-barrio">Barrio</label>
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <input ng-disabled="todo" id="direccion" type="text" ng-model="direccion" class="validate ng-pristine ng-valid ng-touched mayus">
                        <label for="direccion" id="-direccion">Direccion</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <input ng-disabled="todo" id="correo" type="email" ng-model="correo" class="validate ng-pristine ng-valid ng-touched mayus">
                        <label for="correo" id="-correo">E-mail</label>
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <select  ng-disabled="todo" ng-model="rethus" id="rethus" class="select-chosen-eps validate ng-pristine ng-valid ng-touched">
                          <option value="3">SELECCIONAR</option>
                          <option ng-selected="1 == rethus" value=1>SI</option>
                          <option ng-selected="2 == rethus" value=0>NO</option>
                        </select>
                        <label for="municipio" id="-municipio" class="active">ReTHUS</label>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
            <!-- card de empresa  -->
            <div class="col l6 m12 s12">
              <div class="card">
                <div class="card-content">
                  <h5>Información Empresarial</h5>
                </div>
                <div class="card-action" style="z-index: auto;">
                  <div class="row" ng-hide="cardempresarial">
                    <div class="col s12">
                      <table class="responsive-table table-bordered">
                        <tr>
                          <th>Seccional <td>{{newData.dptoe_nom}}</td></th>
                          <th>Sede <td>{{newData.mune_nom}}</td></th>
                        </tr>
                        <tr>
                          <th>Tipo Contrato <td>{{newData.tipo_contrato_nom}}</td></th>
                          <th>Empleador <td>{{newData.empleador_nom}}</td></th>
                        </tr>
                        <tr>
                          <th>Unidad Estrategica <td>{{newData.unidad_estrategica_nom}}</td></th>
                          <th>Unidad Funcional <td>{{newData.unidad_funcional_nom}}</td></th>
                        </tr>
                        <tr>
                          <th>Cargo <td>{{newData.cargo_nom}}</td></th>
                          <th>Tipo Remuneración <td>{{newData.remuneracion_nom}}</td></th>
                        </tr>
                       <!-- <tr>
                          <th>Salario <td>{{newData.salario_nom}}</td></th>
                          <th>Grupo Salario <td>{{newData.grupo_salarial_nom}}</td></th>
                        </tr>-->
                        <tr>
                          <th>Fecha Ingreso <td>{{newData.fecha_ingreso}}</td></th>
                          <th>Fecha Egreso <td>{{newData.fecha_egreso}}</td></th>
                        </tr>
                        <tr>
                          <th>Numero Cuenta <td>{{newData.numero_cuenta}}</td></th>
                          <th>Tipo Cuenta <td>{{newData.tipo_cuenta_nom}}</td></th>
                        </tr>
                        <tr>
                          <th>Banco <td>{{newData.banco_nom}}</td></th>
                          <th>Estado <td>{{newData.estado_empleado_nom}}</td></th>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <!-- <div class="row" ng-hide="!cardempresarial">
                    <div>
                      <spam style="position: absolute; top: 5px; right: 5px; cursor: pointer;"><i class="Medium material-icons" ng-click="changeempresarial()">mode_edit</i></spam>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <select  ng-model="departamentoe" id="departamentoe" ng-change="fubicacionlaboral('departamentoemp',departamentoe)" class="select-chosen-eps">
                          <option value="0">SELECCIONAR</option>
                          <option ng-selected = "{{x1.codigo}} == departamentoe" ng-repeat="x1 in ubi.dptoemp" ng-value="{{x1.codigo}}">{{x1.nombre}}</option>
                        </select>
                        <label for="departamentoe" id="-departamentoe" class="active">Seccional</label>
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <select  ng-model="municipioe" id="municipioe" class="select-chosen-eps">
                          <option value="0">SELECCIONAR</option>
                          <option ng-selected = "x2.codigo == municipioe" ng-repeat="x2 in municipiosemp" ng-value="x2.codigo">{{x2.nombre}}</option>
                        </select>
                        <label for="municipioe" id="-municipioe" class="active">Sede</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <select  ng-model="tipocontrato" id="tipocontrato" ng-change="ftipocontrato(tipocontrato)" class="select-chosen-eps">
                          <option value="0"> SELECCIONAR</option>
                          <option ng-selected = "x5.codigo == tipocontrato" ng-repeat="x5 in ubi.contrato" ng-value="x5.codigo">{{x5.nombre}}</option>
                        </select>
                        <label for="tipocontrato" id="-tipocontrato" class="active">Tipo Contrato</label>
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <select  ng-model="empleador" id="empleador" class="select-chosen-eps">
                          <option value="0"> SELECCIONAR</option>
                          <option ng-selected = "x5.codigo == empleador" ng-repeat="x5 in info.empleador" ng-value="x5.codigo">{{x5.nombre}}</option>
                        </select>
                        <label for="empleador" id="-empleador" class="active">Empleador</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1 input-field">
                        <select  ng-model="unidadestrategica" id="unidadestrategica" ng-change="funidadfuncional('unidadfuncional',unidadestrategica)" class="select-chosen-eps">
                          <option value="-1"> SELECCIONAR</option>
                          <option ng-selected = "x5.codigo == unidadestrategica" ng-repeat="x5 in info.unidadestrategica" ng-value="x5.codigo">{{x5.nombre}}</option>
                        </select>
                        <label for="unidadestrategica" id="-unidadestrategica" class="active">Unidad Estrategica</label>
                      </div>
                      <div class="col l5 m5 s10 offset-s1   input-field">
                        <select  ng-model="unidadfuncional" id="unidadfuncional" ng-change="fcargos('cargo',unidadfuncional)" class="select-chosen-eps">
                          <option value="0"> SELECCIONAR</option>
                          <option ng-selected = "x6.codigo == unidadfuncional" ng-repeat="x6 in unidadesfuncionales" ng-value="x6.codigo">{{x6.nombre}}</option>
                        </select>
                        <label for="unidadfuncional" id="-unidadfuncional" class="active">Unidad Funcional</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1 input-field">
                        <select  ng-model="cargo" id="cargo" ng-change="fsalario('valorsalarial',cargo)" class="select-chosen-eps">
                          <option value="0"> SELECCIONAR</option>
                          <option ng-selected = "car.codigo == cargo" ng-repeat="car in cargos" ng-value="car.codigo">{{car.nombre}}</option>
                        </select>
                        <label for="cargo" id="-cargo" class="active">Cargo</label>
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <select  ng-model="tiporemuneracion" id="tiporemuneracion" class="select-chosen-eps">
                          <option value="0"> SELECCIONAR</option>
                          <option ng-selected = "x7.codigo == tiporemuneracion" ng-repeat="x7 in info.remuneracion" ng-value="x7.codigo">{{x7.nombre}}</option>
                        </select>
                        <label for="tiporemuneracion" id="-tiporemuneracion" class="active">Tipo Remuneración</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <select  ng-model="salario"  id="salario" ng-change="fgruposalario('gruposalarial',salario)" class="select-chosen-eps">
                          <option value="0">SELECCIONAR</option>
                          <option ng-selected = "{{x.valor}} == salario" ng-repeat="x in salarios" value="{{x.valor}}">{{x.nombre}}</option>
                        </select>
                        <label for="salario"  id="-salario" class="active">Salario</label>
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <input type="text" id="gruposalario" validate disabled ng-model="nomgruposalario">
                        <label for="gruposalario" id="-gruposalario" >Grupo Salarial</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <label for="date2" id="-date2" class="active">Fecha Ingreso</label>
                        <input type="text" id="date2" style="cursor:pointer" class="form-control floating-label" ng-model="fechaingreso">
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <label for="datepicker3" class="active">Fecha Egreso</label>
                        <input type="text" id="date3" style="cursor:pointer" class="form-control floating-label" ng-model="fechaegreso">
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <input id="numerocuenta" type="text" ng-model="numerocuenta" ng-disabled="disbaled1">
                        <label for="snumerocuenta" id="-numerocuenta">Numero Cuenta</label>
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <select ng-model="tipocuenta" class="select-chosen-eps" id="tipocuenta" ng-disabled="disbaled1">
                          <option value="0" disabled>SELECCIONAR</option>
                          <option value="C" selected>CORRIENTE</option>
                          <option value="A">AHORRO</option>
                        </select>
                        <label for="tipocuenta" id="-tipocuenta" class="active">Tipo Cuenta</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <select id="banco" ng-model="banco" ng-disabled="disbaled1" class="select-chosen-eps">
                          <option value="0" disabled> SELECCIONAR</option>
                          <option ng-selected = "x8.codigo == banco" ng-repeat="x8 in info.banco" ng-value="x8.codigo">{{x8.nombre}}</option>
                        </select>
                        <label for="banco" id="-banco" class="active">Banco</label>
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <select  ng-model="estado" id="estado" ng-disabled="inactiveestado" class="select-chosen-eps">
                          <option value="0">SELECCIONAR</option>
                          <option value="A">ACTIVO</option>
                          <option value="I">INACTIVO</option>
                          <option value="V">VACACIONES/VACIO</option>
                        </select>
                        <label for="estado" id="-estado" class="active">Estado</label>
                      </div>
                    </div>
                    <div class="col s12" style="position: relative; margin-top: 9.7%";>
                      <div ng-show="inactivebtninfo" class="col s10 offset-s1">
                        <center><button class="waves-effect waves-light btn-large white-text green" ng-click="registrarinfo('1')" style="z-index: 0 !important;" type="submit">Guardar</button></center>
                      </div>
                      <div ng-hide="inactivebtninfo" class="col s10 offset-s1">
                        <center><button class="waves-effect waves-light btn-large white-text blue" ng-click="registrarinfo('2')" style="z-index: 0 !important;" type="submit">Actualizar</button></center>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
            <!-- carta de tablas adicionales -->
            <div class="col s12" ng-hide="inactiveinfo">
              <div class="col s12 m10 l0 offset-m1 offset-l1 part2_1">
                <div class="s6 m2 l2 part2_1_1">
                  <ul>
                    <li ng-class="{ active: isSet(1) }" ng-click="setTab(1)" style="height: 40px;" class="col s2 offset-s1 large waves-effect waves-pink tabI"><center><i style="position: relative; top: 9px;" ng-click="setTab(1)" class="active material-icons">verified_user</i></center></li>
                    <li ng-class="{ active: isSet(2) }" ng-click="setTab(2)" style="height: 40px;" class="col s2 large waves-effect waves-pink tabII"><center><i style="position: relative; top: 9px;" ng-click="setTab(2)" class="material-icons">account_balance</i></center></li>
                    <li ng-class="{ active: isSet(3) }" ng-click="setTab(3)" style="height: 40px;" class="col s2 large waves-effect waves-pink tabIII"><center><i style="position: relative; top: 9px;" ng-click="setTab(3)" class="material-icons">people</i></center></li>
                    <li ng-class="{ active: isSet(4) }" ng-click="setTab(4)" style="height: 40px;" class="col s2 large waves-effect waves-pink tabIV"><center><i style="position: relative; top: 9px;" ng-click="setTab(4)" class="material-icons">accessibility</i></center></li>
                    <li ng-class="{ active: isSet(5) }" ng-click="setTab(5)" style="height: 40px;" class="col s2 large waves-effect waves-pink tabV"><center><i style="position: relative; top: 9px;" ng-click="setTab(5)" class="material-icons">compare_arrows</i></center></li>
                  </ul>
                </div>
              </div>
              <div class="col s12">
                <div class="col s12 m10 l0 offset-m1 offset-l1 part2_1">
                  <div class="card">
                    <div class="card-content">
                      <h5>{{Title}}</h5>
                    </div>
                    <div class="card-action" style="z-index: auto;">
                      <div class="row">
                        <div class="col s12" ng-show="isSet(1)">
                          <div class="row">
                            <!-- <div class="col s12">
                              <div class="col l2 m2 s10 offset-s1 offset-m1 offset-l1  input-field">
                                <select  ng-model="tipoentidad" ng-change="cargarselects('entidades',tipoentidad)" class="select-chosen-eps">
                                  <option value="0" disabled>SELECCIONAR</option>
                                  <option value="R">ARL</option>
                                  <option value="J">CAJA DE COMPENSACION</option>
                                  <option value="C">CESANTIAS</option>
                                  <option value="P">PENSION</option>
                                  <option value="S">SALUD</option>
                                  <option value="I">OTRO</option>
                                </select>
                                <label for="simple-select chosen" class="active">Tipo Entidad</label>
                              </div>
                              <div class="col l4 m4 s10 offset-s1 input-field">
                                <select  ng-model="entidad" class="select-chosen-eps">
                                  <option value="0" disabled>SELECCIONAR</option>
                                  <option ng-selected = "{{x.codigo}} == entidad" ng-repeat="x in entidadesinfo" ng-value="{{x.codigo}}">{{x.nombre}}</option>
                                </select>
                                <label for="simple-select chosen" class="active">Entidad</label>
                              </div>
                              <div class="col l2 m2 s10 offset-s1  input-field">
                                <label for="date4" class="active">Fecha Inicial</label>
                                <input type="text" ng-model="fechainicial" id="date4">
                              </div>
                              <div class="col l2 m2 s10 offset-s1 label-flotting input-field">
                                <label for="date5" class="active">Fecha Final</label>
                                <input type="text" ng-model="fechafinal" id="date5">
                              </div>
                            </div> -->
                            <!-- <div class="col s12">
                              <div class="input-group" style="position: absolute; right: 20px; top: 20px;">
                                <div class="tooltip">
                                  <a class="btn-floating btn waves-effect waves-light green campo17" ng-click="accionestablasadiciones('entidad','insert','-')"><i class="icon icon-plus"></i></a>
                                  <span class="tooltiptext">Agregar Entidad!</span>
                                </div>
                              </div>
                              <div class="input-group" ng-hide="inactivebtnentidad" style="position: absolute; right: 20px; top: 20px;">
                                <div class="tooltip">
                                  <a class="btn-floating btn waves-effect waves-light blue campo17" ng-click="accionestablasadiciones('entidad','update','-')"><i class="icon icon-arrows-cw"></i></a>
                                  <span class="tooltiptext">Actualizar Entidad!</span>
                                </div>
                              </div>
                              <div class="input-group" ng-hide="inactivebtnentidad" style="position: absolute; right: 20px; top: 62px;">
                                <div class="tooltip">
                                  <a class="btn-floating btn waves-effect waves-light red campo17" ng-click="accionestablasadiciones('entidad','delete','-')"><i class="icon icon-trash-empty"></i></a>
                                  <span class="tooltiptext">Eliminar Entidad!</span>
                                </div>
                              </div>
                            </div> -->
                            <div class="col s12" ng-hide="tabalaentidad">
                              <table class="responsive-table table-bordered" style="height:100px;">
                                <thead>
                                  <tr>
                                    <th data-field="Nombre" class="center-align">Tipo Entidad</th>
                                    <th data-field="Fecha de Nacimiento" class="center-align">Entidad</th>
                                    <th data-field="Ubicacion" class="center-align">Fecha Inicial</th>
                                    <th data-field="Ubicacion" class="center-align">Fecha Final</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="ent in dataadicional.entidad">
                                    <td class="center-align" ng-model="ent.nombretipo">{{ent.nombretipo}}</td>
                                    <td class="center-align">{{ent.nombreentidad}}</td>
                                    <td class="center-align">{{ent.fechinicial}}</td>
                                    <td class="center-align">{{ent.fechafinal}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="col s12" ng-show="isSet(2)">
                          <div class="row">
                            <!-- <div class="col s12" ng-hide="todo2">
                              <div class="input-group" style="position: absolute; right: 20px; top: 20px;">
                                <div class="tooltip">
                                  <a class="btn-floating btn waves-effect waves-light green campo17" ng-click="accionestablasadiciones('estudio','insert','999')"><i class="icon icon-plus"></i></a>
                                  <span class="tooltiptext">Agregar Estudio!</span>
                                </div>
                              </div>
                              <div class="input-group" ng-hide="inactivebtnestudio" style="position: absolute; right: 20px; top: 20px;">
                                <div class="tooltip">
                                  <a class="btn-floating btn waves-effect waves-light blue campo17" ng-click="accionestablasadiciones('estudio','update',renglone)"><i class="icon icon-arrows-cw"></i></a>
                                  <span class="tooltiptext">Actualizar Estudio!</span>
                                </div>
                              </div>
                              <div class="input-group" ng-hide="inactivebtnestudio" style="position: absolute; right: 20px; top: 62px;">
                                <div class="tooltip">
                                  <a class="btn-floating btn waves-effect waves-light red campo17" ng-click="accionestablasadiciones('estudio','update',renglone)"><i class="icon icon-trash-empty"></i></a>
                                  <span class="tooltiptext">Eliminar estudio!</span>
                                </div>
                              </div>
                            </div> -->
                            <div class="col s12" ng-hide="tabalaestudio">
                              <table class="responsive-table table-bordered" style="height:100px;">
                                <thead>
                                  <tr>
                                    <!-- <th data-field="marcar" class="center-align">Seleccionar</th> -->
                                    <th data-field="Institución" class="center-align">Institución</th>
                                    <th data-field="Título de Nacimiento" class="center-align">Título</th>
                                    <th data-field="Programa" class="center-align">Programa</th>
                                    <th data-field="Nivel" class="center-align">Nivel</th>
                                    <th data-field="Tipo Periodo" class="center-align">Tipo Periodo</th>
                                    <th data-field="Periodo" class="center-align">Periodo</th>
                                    <th data-field="Año" class="center-align">Año</th>
                                    <th data-field="Ubicación" class="center-align">Ubicación</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="est in dataadicional.estudio">
                                    <!-- <td data-field="marcar" class="center-align">
                                    <center>
                                    <input type="checkbox" name="group1" class="filled-in checkbox-info checkestu" ng-click="accionesestudio(est)" id="{{est.renglon}}">
                                    <label for="{{est.renglon}}"></label>
                                  </center>
                                </td> -->
                                <td class="center-align">{{est.institucion}}</td>
                                <td class="center-align">{{est.titulo}}</td>
                                <td class="center-align">{{est.programa}}</td>
                                <td class="center-align">{{est.nivel}}</td>
                                <td class="center-align">{{est.tipoperiodo}}</td>
                                <td class="center-align">{{est.periodo}}</td>
                                <td class="center-align">{{est.ano}}</td>
                                <td class="center-align">{{est.ubicacion}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="col s12" ng-show="isSet(3)">
                      <div class="row">
                        <div class="col s12" ng-hide="tabalabeneficiario">
                          <table class="responsive-table table-bordered" style="height:100px;">
                            <thead>
                              <tr>
                                <!-- <th data-field="marcar" class="center-align">Seleccionar</th> -->
                                <th data-field="Tipo" class="center-align">Tipo</th>
                                <th data-field="Documento" class="center-align">Documento</th>
                                <th data-field="Nombre" class="center-align">Nombre</th>
                                <th data-field="Parentezco" class="center-align">Parentezco</th>
                                <th data-field="Sexo" class="center-align">Sexo</th>
                                <th data-field="Nacimiento" class="center-align">Nacimiento</th>
                                <th data-field="Edad" class="center-align">Edad</th>
                              </tr>
                            </thead>
                            <tbody id="tablebeneficiario">
                              <tr ng-repeat="ben in dataadicional.beneficiarios">
                                <!-- <td data-field="marcar" class="center-align">
                                <center>
                                <input type="checkbox" name="group1" class="filled-in checkbox-info checkbene" ng-click="accionesbeneficiario(ben)" id="{{ben.renglon}}">
                                <label for="{{ben.renglon}}"></label>
                              </center>
                            </td> -->
                            <td class="center-align">{{ben.tipodoc}}</td>
                            <td class="center-align">{{ben.cedulafamiliar}}</td>
                            <td class="center-align">{{ben.nombre}}</td>
                            <td class="center-align">{{ben.parentezco}}</td>
                            <td class="center-align">{{ben.sexo}}</td>
                            <td class="center-align">{{ben.nacimiento}}</td>
                            <td class="center-align">{{ben.edad}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col s12" ng-show="isSet(4)">
                  <div class="row">
                    <div class="col s12" ng-hide="tabalamedidas">
                      <table class="responsive-table table-bordered" style="height:100px;">
                        <thead>
                          <tr>
                            <th data-field="Nombre" class="center-align">Sueter</th>
                            <th data-field="Fecha de Nacimiento" class="center-align">Camisa</th>
                            <th data-field="Ubicacion" class="center-align">Pantalon</th>
                            <th data-field="Ubicacion" class="center-align">Zapato</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="med in dataadicional.medidas">
                            <td class="center-align">{{med.suater}}</td>
                            <td class="center-align">{{med.camisa}}</td>
                            <td class="center-align">{{med.pantalon}}</td>
                            <td class="center-align">{{med.zapato}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col s12" ng-show="isSet(5)">
                  <div class="row">
                    <div class="col s12" ng-hide="tabalanovedades">
                      <table class="responsive-table table-bordered" style="height:100px;">
                        <thead>
                          <tr>
                            <th data-field="Nombre" class="center-align">Documento</th>
                            <th data-field="Ubicacion" class="center-align">Tipo de Novedad</th>
                            <th data-field="Fecha de Nacimiento" class="center-align">Usuario</th>
                            <th data-field="Nombre" class="center-align">Fecha</th>
                            <th data-field="Ubicacion" class="center-align">Detalle</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="nov in datanovedad">
                            <td class="center-align">{{nov.documento_novedad}}</td>
                            <td class="center-align">{{nov.nomconcep}}</td>
                            <td class="center-align">{{nov.usuario}}</td>
                            <td class="center-align">{{nov.fecha}}</td>
                            <td class="center-align"><a style="margin-right: 0px;" class="waves-effect waves-light modal-trigger" href="#modal1"><i ng-click="cargarnovedaddetalle(nov.documento,nov.numero,nov.ubicacion,nov.nomconcep)" style="cursor:pointer;" class="material-icons">more_horiz</i></a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- carta de novedades -->
    <div class="col s12">
      <!-- Modal Structure -->
      <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="col s12">
            <h4>Novedades {{tiponov}}</h4>
            <hr>
          </div>
          <div class="col s12" style="margin-top: 5%;">
            <table class="responsive-table table-bordered" style="height:100px;">
              <thead>
                <tr>
                  <th data-field="Anterior" class="center-align">Novedad</th>
                  <th data-field="Actualizacion" class="center-align">Anterior</th>
                  <th data-field="Actualizacion" class="center-align">Actualizacion</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="novd in datanovedaddetalle">
                  <td class="center-align">{{novd.varusu}}</td>
                  <td class="center-align">{{novd.datant}}</td>
                  <td class="center-align">{{novd.datdes}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Ok!</a>
        </div>
      </div>
    </div>
    <div class="col s12">
      <!-- Modal Structure -->
      <div id="modal2" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="col s12">
            <h4>Informacion para generar ACAS</h4>
            <hr>
          </div>
          <div class="col s12" style="margin-top: 5%;">

          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Ok!</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<style>
.hover-item:hover {background-color: rgba(221, 221, 221, 0.45);}
.hover-item:active {background-color: rgba(221, 221, 221, 0.45);}
.tabmenu>li:target>a {background-color: rgba(221, 221, 221, 0.45);}
.requerido{color:red !important;}
.tabactiva{background-color: rgba(206, 206, 206, 0.71);}
.mayus{text-transform: uppercase;}
</style>
