<div class="row margin">
  <div class="col s12 m12 l12">
    <div class="card">
      <div class="card-content">
        <div class="row">
           <div class="col s12">
            <div class="col s12 m6 l6">
              <spam><h4>Información del Funcionario</h4></spam>
            </div>
          </div>
        </div>
      </div>
      <div class="card-action" style="z-index: auto;">
        <div class="card-content clearfix">
          <!-- Numero y tipo de documento -->
          <div class="col s10 offset-s1" ng-hide="proteccion2">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <h4>Importante!</h4>
                    <hr>
                    <p>El Programa de Salud dará cumplimiento a lo establecido por la Ley 1581 de 2012 y complementarias en lo relacionado con la protección de datos personales, por lo cual se notifica que esta información se recauda a fin de complementar expediente laboral y listados de funcionarios objeto de planes estratégicos. Los datos de carácter público (nombre, dirección, teléfono, sentencias judiciales ejecutoriadas, estado civil, etc.), no requieren la autorización previa del titular de la información. Los datos personales de carácter privado (nivel de educación, socioeconómico, etc.), será autorizados por el titular de la información, quien al diligenciar el aplicativo autoriza expresamente el tratamiento de los datos. Para datos personales de carácter sensible (estado de salud, origen racial, orientación religiosa/política, etc.) el titular autoriza el tratamiento por motivo de salvaguardar su interés vital o se encuentre incapacitado.</p>
                </div>
                <div class="card-action" style="padding-bottom: 32px;">
                    <a href="#" style="position: relative; float:right;" ng-click="protecciondatos('A')">Acepto</a>
                </div>
            </div>
          </div>
          <div class="col s12">
            <!-- card de personal  -->
            <div class="col l10 m10 s12 offset-m1 offset-l1">
              <div class="card">
                <div class="card-content">

                  <div class="row">
                    <div class="col s12">
                      <div class="col s12 m6 l6">
                        <spam><h5>Información Personal</h5></spam>
                      </div>
                      <div ng-hide="proteccion" class="col s12 m5 l5 text-al switch" style="margin-top: 13px;">
                        <label>
                          <input type="checkbox" ng-checked="habi" ng-click="eventhab()" ng-model="habi" ng-init="habi = false;">
                          <span class="lever"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-action" style="z-index: auto;">
                  <div class="row">
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <input id="pnombre" type="text" ng-disabled="!habi" ng-model="pnombre" class="validate ng-pristine ng-valid ng-touched upper">
                        <label for="pnombre" id="-pnombre" class="active">Primer Nombre</label>
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <input ng-disabled="!habi" id="snombre" type="text" ng-model="snombre" class="validate ng-pristine ng-valid ng-touched">
                        <label for="snombre" id="-snombre" class="active">Segundo Nombre</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <input id="papellido" type="text" ng-disabled="!habi" ng-model="papellido" class="validate ng-pristine ng-valid ng-touched">
                        <label for="papellido" id="-papellido">Primer Apellido</label>
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <input id="sapellido" type="text" ng-disabled="!habi" ng-model="sapellido" class="validate ng-pristine ng-valid ng-touched">
                        <label for="sapellido" id="-sapellido">Segundo Apeliido</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s12 offset-m1 offset-l1  input-field">
                        <label for="date1" id="-date1">Fecha Nacimiento</label>
                        <input type="text" ng-disabled="!habi" id="date1" style="cursor:pointer" class="form-control floating-label" ng-model="nacimiento">
                      </div>
                      <div class="col l5 m5 s12 input-field">
                        <select  ng-model="sexo" ng-disabled="!habi" id="sexo" class="select-chosen-eps">
                          <option value="0" disabled>SELECCIONAR</option>
                          <option value="M" selected>MASCULINO</option>
                          <option value="F">FEMENINO</option>
                        </select>
                        <label for="sexo" id="-sexo" class="active">Sexo</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <!-- <i class="material-icons prefix">favorite</i> -->
                        <select  ng-model="gruposanguineo" ng-disabled="!habi" id="gruposanguineo" class="select-chosen-eps">
                          <option value="0" disabled>SELECCIONAR</option>
                          <option ng-selected = "sg.Codigo == gruposanguineo" ng-repeat="sg in grupossanguineos.Rh" ng-value="sg.Codigo">{{sg.Nombre}}</option>
                        </select>
                        <label for="gruposanguineo" id="-gruposanguineo" class="active">Grupo sanguineo</label>
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <!-- <i class="material-icons icon-tint prefix" style="left: 4px !important;"></i> -->
                        <select  ng-model="estadocivil" ng-disabled="!habi" id="estadocivil" class="select-chosen-eps">
                          <option value="0" disabled>SELECCIONAR</option>
                          <option ng-selected = "ec.Codigo == estadocivil" ng-repeat="ec in estadosciviles.estadocivil" ng-value="ec.Codigo">{{ec.Nombre}}</option>
                        </select>
                        <label for="estadocivil" id="-estadocivil" class="active">Estado Civil</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <!-- <i class="material-icons prefix">phone</i> -->
                        <input id="peso" type="number" ng-disabled="!habi" ng-model="peso" class="validate ng-pristine ng-valid ng-touched">
                        <label for="peso" id="-peso" >Peso en Kg</label>
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <!-- <i class="material-icons prefix">phone</i> -->
                        <input id="estatura" type="number" ng-disabled="!habi" ng-model="estatura" class="validate ng-pristine ng-valid ng-touched">
                        <label for="estatura" id="-estatura" >Estatura en cm</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <!-- <i class="material-icons prefix">phone</i> -->
                        <input id="telefono" type="number" ng-disabled="!habi" ng-model="telefono" class="validate ng-pristine ng-valid ng-touched">
                        <label for="telefono" id="-telefono">Telefono</label>
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <!-- <i class="material-icons prefix">phone_iphone</i> -->
                        <input id="celular" type="number" ng-disabled="!habi" ng-model="celular" class="validate ng-pristine ng-valid ng-touched">
                        <label for="celular" id="-celular">Celular</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <!-- <i class="material-icons prefix">location_on</i> -->
                        <select  ng-model="departamento" ng-disabled="!habi" id="departamento" ng-change="cargarselects('departamentoper',departamento)" class="select-chosen-eps">
                          <option value="0" disabled>SELECCIONAR</option>
                          <option ng-selected = "x3.codigo == departamento" ng-repeat="x3 in ubi.dptoper" ng-value="x3.codigo">{{x3.nombre}}</option>
                        </select>
                        <label for="departamento" id="-departamento" class="active">Departamento</label>
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <!-- <i class="material-icons prefix">location_city</i> -->
                        <select  ng-model="municipio" ng-disabled="!habi" id="municipio" class="select-chosen-eps">
                          <option value="0" disabled>SELECCIONAR</option>
                          <option ng-selected = "{{x4.codigo}} == municipio" ng-repeat="x4 in municipiosper" ng-value="{{x4.codigo}}">{{x4.nombre}}</option>
                        </select>
                        <label for="municipio" id="-municipio" class="active">Municipio</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <!-- <i class="material-icons prefix">mail_outline</i> -->
                        <input id="barrio" type="text" ng-disabled="!habi" ng-model="barrio" class="validate ng-pristine ng-valid ng-touched">
                        <label for="barrio" id="-barrio">Barrio</label>
                      </div>
                      <div class="col l4 m4 s9 offset-s1 input-field">
                        <!-- <i class="material-icons prefix">home</i> -->
                        <input id="direccion" type="text" ng-disabled="!habi" ng-model="direccion" class="validate ng-pristine ng-valid ng-touched">
                        <label for="direccion" class="active" id="-direccion">Direccion</label>
                      </div>
                      <div class="col l1 m1 s1 offset-s1 input-field">
                        <div class="input-group">
                          <div class="tooltip">
                            <a class="btn-floating btn waves-effect waves-light campo17" ng-disabled="!habi" ng-click="openmodaldireccion()"><i class="icon icon-location"></i></a>
                            <span class="tooltiptext">Agregar Direccion!</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="col l5 m5 s10 offset-s1 offset-m1 offset-l1  input-field">
                        <!-- <i class="material-icons prefix">mail_outline</i> -->
                        <input id="correo" type="email" ng-disabled="!habi" ng-model="correo" class="validate ng-pristine ng-valid ng-touched">
                        <label for="correo" id="-correo">E-mail</label>
                      </div>
                      <div class="col l5 m5 s10 offset-s1 input-field">
                        <select  ng-disabled="!habi" ng-model="rethus" id="rethus" class="select-chosen-eps validate ng-pristine ng-valid ng-touched">
                          <option value="3">SELECCIONAR</option>
                          <option ng-selected="1 == rethus" value=1>SI</option>
                          <option ng-selected="2 == rethus" value=0>NO</option>
                        </select>
                        <label for="municipio" id="-municipio" class="active">ReTHUS</label>
                      </div>
                    </div>
                    <div class="col s12">
                      <center><button class="waves-effect waves-light btn-large white-text" ng-disabled="!habi" style="z-index: 0 !important;" type="button" ng-click="registrarinfo()">Actualizar</button></center>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col s12" ng-hide="proteccion">
            <div class="col s12 m10 l0 offset-m1 offset-l1 part2_1">
              <div class="s6 m2 l2 part2_1_1">
                <ul>
                  <li ng-class="{ active: isSet(1) }" ng-click="setTab(1)" style="height: 40px;" class="col s3 large waves-effect waves-pink tabI">
                    <center>
                      <i style="position: relative; top: 9px;" ng-click="setTab(1)" class="active material-icons">verified_user</i>
                    </center>
                  </li>
                  <li ng-class="{ active: isSet(2) }" ng-click="setTab(2)" style="height: 40px;" class="col s3 large waves-effect waves-pink tabII"><center><i style="position: relative; top: 9px;" ng-click="setTab(2)" class="material-icons">account_balance</i></center></li>
                  <li ng-class="{ active: isSet(3) }" ng-click="setTab(3)" style="height: 40px;" class="col s3 large waves-effect waves-pink tabIII"><center><i style="position: relative; top: 9px;" ng-click="setTab(3)" class="material-icons">people</i></center></li>
                  <li ng-class="{ active: isSet(4) }" ng-click="setTab(4)" style="height: 40px;" class="col s3 large waves-effect waves-pink tabIV"><center><i style="position: relative; top: 9px;" ng-click="setTab(4)" class="material-icons">accessibility</i></center></li>
                </ul>
              </div>
            </div>
            <div class="col s12">
              <div class="col s12 m10 l0 offset-m1 offset-l1 part2_1">
                <div class="card">
                  <div class="card-content">
                    <h5>{{Title}}</h5>
                  </div>
                  <div class="card-action" style="z-index: auto;">
                    <div class="row">
                      <div class="col s12" ng-show="isSet(1)">
                        <div class="row">
                          <div class="col s12" ng-hide="todo2">
                            <div class="col l2 m2 s10 offset-s1 offset-m1 offset-l1  input-field">
                              <select  ng-model="tipoentidad" ng-change="cargarselects('entidades',tipoentidad)" class="select-chosen-eps">
                                <option value="0" disabled>SELECCIONAR</option>
                                <!-- <option ng-repeat="x1 in info.entidad" ng-value="{{x1.codigo}}">{{x1.nombre}}</option> -->
                                <option value="R">ARL</option>
                                <option value="J">CAJA DE COMPENSACION</option>
                                <option value="C">CESANTIAS</option>
                                <option value="P">PENSION</option>
                                <option value="S">SALUD</option>
                                <option value="I">OTRO</option>
                              </select>
                              <label for="simple-select chosen" class="active">Tipo Entidad</label>
                            </div>
                            <div class="col l4 m4 s10 offset-s1 input-field">
                              <select  ng-model="entidad" class="select-chosen-eps">
                                <option value="0" disabled>SELECCIONAR</option>
                                <option ng-selected = "{{x.codigo}} == entidad" ng-repeat="x in entidadesinfo" ng-value="{{x.codigo}}">{{x.nombre}}</option>
                              </select>
                              <label for="simple-select chosen" class="active">Entidad</label>
                            </div>
                            <div class="col l2 m2 s10 offset-s1  input-field">
                              <label for="date4" class="active">Fecha Inicial</label>
                              <input type="text" ng-model="fechainicial" id="date4">
                            </div>
                            <div class="col l2 m2 s10 offset-s1 label-flotting input-field">
                              <label for="date5" class="active">Fecha Final</label>
                              <input type="text" ng-model="fechafinal" id="date5">
                            </div>
                          </div>
                          <div class="col s12" ng-hide="todo2">
                            <div class="input-group" style="position: absolute; right: 20px; top: 20px;">
                              <div class="tooltip">
                                <a class="btn-floating btn waves-effect waves-light green campo17" ng-click="accionestablasadiciones('entidad','insert','-')"><i class="icon icon-plus"></i></a>
                                <span class="tooltiptext">Agregar Entidad!</span>
                              </div>
                            </div>
                            <div class="input-group" ng-hide="inactivebtnentidad" style="position: absolute; right: 20px; top: 20px;">
                              <div class="tooltip">
                                <a class="btn-floating btn waves-effect waves-light blue campo17" ng-click="accionestablasadiciones('entidad','update','-')"><i class="icon icon-arrows-cw"></i></a>
                                <span class="tooltiptext">Actualizar Entidad!</span>
                              </div>
                            </div>
                            <!-- <div class="input-group" ng-hide="inactivebtnentidad" style="position: absolute; right: 20px; top: 62px;">
                              <div class="tooltip">
                                <a class="btn-floating btn waves-effect waves-light red campo17" ng-click="accionestablasadiciones('entidad','update','-')"><i class="icon icon-trash-empty"></i></a>
                                <span class="tooltiptext">Eliminar Entidad!</span>
                              </div>
                            </div> -->
                          </div>
                          <div class="col s12" ng-hide="tabalaentidad">
                            <table class="responsive-table table-bordered" style="height:100px;">
                              <thead>
                                <tr>
                                  <!--<th data-field="Ubicacion" class="center-align">Seleccionar</th>-->
                                  <th data-field="Nombre" class="center-align">Tipo Entidad</th>
                                  <th data-field="Fecha de Nacimiento" class="center-align">Entidad</th>
                                  <th data-field="Ubicacion" class="center-align">Fecha Inicial</th>
                                  <th data-field="Ubicacion" class="center-align">Fecha Final</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="ent in dataadicional.entidad">
                                 <!-- <td data-field="marcar" class="center-align">
                                    <center>
                                      <input type="checkbox" name="group1" class="filled-in checkbox-info checkent" ng-click="accionesentidad(ent)" id="{{ent.tipoentidad}}">
                                      <label for="{{ent.tipoentidad}}"></label>
                                    </center>
                                  </td>-->
                                  <td class="center-align" ng-model="ent.nombretipo">{{ent.nombretipo}}</td>
                                  <td class="center-align">{{ent.nombreentidad}}</td>
                                  <td class="center-align">{{ent.fechinicial}}</td>
                                  <td class="center-align">{{ent.fechafinal}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="col s12" ng-show="isSet(2)">
                        <div class="row">
                          <div class="col s12">
                            <div class="col l3 m3 s10 offset-s1 offset-m1  offset-l1 input-field">
                              <select  ng-model="nivel" class="select-chosen-eps">
                                <option value="0">SELECCIONAR</option>
                                <option ng-selected = "{{s.codigo}} == nivel" ng-repeat="s in estudio.nivel" ng-value="{{s.codigo}}">{{s.nombre}}</option>
                              </select>
                              <label for="simple-select chosen" class="active">Nivel</label>
                            </div>
                            <div class="col l2 m2 s10 offset-s1 input-field">
                              <form id="forminstitucion" ng-submit="buscarinstitucio('1')">
                                <input style="color: black !important;" ng-show="instituswitch1" id="with_icon" type="text" ng-model="institucionsearch" class="validate ng-pristine ng-valid ng-touched">
                                <select  ng-model="institucion" ng-show="instituswitch2" class="select-chosen-eps">
                                  <option value="0">SELECCIONAR</option>
                                  <option value="999">INDEFINIDO TEMPORALMENTE</option>
                                  <option ng-selected = "{{xn.valor}} == institucion" ng-repeat="xn in Instituciones" ng-value="{{xn.valor}}">{{xn.nombre}}</option>
                                </select>
                              </form>
                              <label for="with_icon" class="active" style="cursor:pointer;" ng-click="buscarinstitucio('2')">Institucion</label>
                            </div>
                            <div class="col l2 m2 s10 offset-s1 input-field">
                              <select  ng-model="programa" class="select-chosen-eps">
                                <option value="0" disabled>SELECCIONAR</option>
                                <option value="2">INDEFINIDO TEMPORALMENTE</option>
                                <option ng-selected = "{{x.codigo}} == programa" ng-repeat="x in estudio.programa" ng-value="{{x.codigo}}">{{x.nombre}}</option>
                              </select>
                              <label for="with_icon" class="active">Programa</label>
                            </div>
                            <div class="col l2 m2 s10 offset-s1 input-field">
                              <select  ng-model="titulo" class="select-chosen-eps">
                                <option value="0" disabled>SELECCIONAR</option>
                                <option ng-selected = "{{x.codigo}} == titulo" ng-repeat="x in estudio.titulo" ng-value="{{x.codigo}}">{{x.nombre}}</option>
                              </select>
                              <label for="with_icon" class="active">Titulo</label>
                            </div>
                          </div>
                          <div class="col s12">
                            <div class="col l3 m3 s10 offset-s1 offset-m1  offset-l1 input-field">
                              <select  ng-model="tipoperiodoe" class="select-chosen-eps">
                                <option value="F">FINALIZADO</option>
                                <option value="M">MES</option>
                                <option value="T">TRIMESTRE</option>
                                <option value="C">CUATRIMESTRE</option>
                                <option value="S">SEMESTRE</option>
                                <option value="A">AÑO</option>
                              </select>
                              <label for="simple-select chosen" class="active">tipo periodo</label>
                            </div>
                            <div class="col l2 m2 s10 offset-s1 input-field">
                              <select  ng-model="periodo" class="select-chosen-eps">
                                <option value="0">TERMINADO</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select>
                              <label for="simple-select hide-on-med-and-down" class="active">Periodo</label>
                            </div>
                            <div class="col l2 m2 s10 offset-s1 input-field">
                              <input id="with_icon" type="date" ng-model="anoterminacion">
                              <label for="with_icon" class="active">Año terminación</label>
                            </div>
                            <div class="col l2 m2 s10 offset-s1 input-field">
                              <select  ng-model="ubicacione" class="select-chosen-eps">
                                <option value="0">SELECCIONAR</option>
                                <option ng-selected = "{{s.codigo}} == ubicacione" ng-repeat="s in ubi.municipios" ng-value="{{s.codigo}}">{{s.nombre}}</option>
                              </select>
                              <label for="simple-select hide-on-med-and-down"  class="active">Lugar</label>
                            </div>
                          </div>
                          <div class="col s12">
                            <div class="input-group" style="position: absolute; right: 20px; top: 20px;">
                              <div class="tooltip">
                                <a class="btn-floating btn waves-effect waves-light green campo17" ng-click="accionestablasadiciones('estudio','insert','999')"><i class="icon icon-plus"></i></a>
                                <span class="tooltiptext">Agregar Estudio!</span>
                              </div>
                            </div>
                            <div class="input-group" ng-hide="inactivebtnestudio" style="position: absolute; right: 20px; top: 20px;">
                              <div class="tooltip">
                                <a class="btn-floating btn waves-effect waves-light blue campo17" ng-click="accionestablasadiciones('estudio','update',renglone)"><i class="icon icon-arrows-cw"></i></a>
                                <span class="tooltiptext">Actualizar Estudio!</span>
                              </div>
                            </div>
                            <!-- <div class="input-group" ng-hide="inactivebtnestudio" style="position: absolute; right: 20px; top: 62px;">
                              <div class="tooltip">
                                <a class="btn-floating btn waves-effect waves-light red campo17" ng-click="accionestablasadiciones('estudio','update',renglone)"><i class="icon icon-trash-empty"></i></a>
                                <span class="tooltiptext">Eliminar estudio!</span>
                              </div>
                            </div> -->
                          </div>
                          <div class="col s12" ng-hide="tabalaestudio">
                            <table class="responsive-table table-bordered" style="height:100px;">
                              <thead>
                                <tr>
                                  <th data-field="marcar" class="center-align">Seleccionar</th>
                                  <th data-field="Institución" class="center-align">Institución</th>
                                  <th data-field="Título de Nacimiento" class="center-align">Título</th>
                                  <th data-field="Programa" class="center-align">Programa</th>
                                  <th data-field="Nivel" class="center-align">Nivel</th>
                                  <th data-field="Tipo Periodo" class="center-align">Tipo Periodo</th>
                                  <th data-field="Periodo" class="center-align">Periodo</th>
                                  <th data-field="Año" class="center-align">Año</th>
                                  <th data-field="Ubicación" class="center-align">Ubicación</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="est in dataadicional.estudio">
                                  <td data-field="marcar" class="center-align">
                                    <center>
                                      <input type="checkbox" name="group1" class="filled-in checkbox-info checkestu" ng-click="accionesestudio(est)" id="est-{{est.renglon}}">
                                      <label for="est-{{est.renglon}}"></label>
                                    </center>
                                  </td>
                                  <td class="center-align">{{est.institucion}}</td>
                                  <td class="center-align">{{est.titulo}}</td>
                                  <td class="center-align">{{est.programa}}</td>
                                  <td class="center-align">{{est.nivel}}</td>
                                  <td class="center-align">{{est.tipoperiodo}}</td>
                                  <td class="center-align">{{est.periodo}}</td>
                                  <td class="center-align">{{est.ano}}</td>
                                  <td class="center-align">{{est.ubicacion}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="col s12" ng-show="isSet(3)">
                        <div class="row">
                          <div class="col s12">
                            <div class="col l3 m3 s10 offset-s1 offset-m1 offset-l1  input-field">
                              <select  ng-model="tipodocb" class="select-chosen-eps">
                                <option value="0" disabled>SELECCIONAR</option>
                                <option value="CC">CEDULA DE CIUDADANÍA</option>
                                <option value="TI">TARJETA DE IDENTIDAD</option>
                                <option value="RC">REGISTRO CIVIL</option>
                                <option value="CE">CEDULA DE EXTRANJERÍA</option>
                                <option value="PA">PASAPORTE</option>
                                <option value="PE">PERMISO ESPECIAL DE PERMANENCIA</option>
                                <option value="AS">ADULTO SIN IDENTIFICACIÓN</option>
                                <option value="MS">MENOR SIN IDENTIFICACIÓN</option>
                                <option value="CD">CARNET DIPLOMÁTICO</option>
                              </select>
                              <label for="simple-select hide-on-med-and-down" class="active">Tipo de Documento</label>
                            </div>
                            <div class="col l3 m3 s10 offset-s1 input-field">
                              <input style="color: black !important;" id="with_icon" type="text" ng-model="documentob" class="validate ng-pristine ng-valid ng-touched">
                              <label for="with_icon" class="active">Documento</label>
                            </div>
                            <div class="col l4 m4 s10 offset-s1 input-field">
                              <input style="color: black !important;" id="with_icon" type="text" ng-model="nombreb" class="validate ng-pristine ng-valid ng-touched">
                              <label for="with_icon" class="active">Nombre</label>
                            </div>
                          </div>
                          <div class="col s12">
                            <div class="col l3 m3 s10 offset-s1 offset-m1 offset-l1  input-field">
                              <select  ng-model="parentezcob" class="select-chosen-eps">
                                <option value="0" disabled>SELECCIONAR</option>
                                <!-- <option ng-repeat="x9 in parentezco.Parentesco" ng-value="x9.Codigo">{{x9.Nombre}}</option> -->
                                <option value="1">PADRE</option>
                                <option value="2">HIJO/A</option>
                                <option value="3">CONYUGE</option>
                                <option value="4">ABUELO/A</option>
                                <option value="6">PRIMO/A</option>
                                <option value="10">HERMANO/A</option>
                                <option value="11">MADRE</option>
                              </select>
                              <label for="simple-select chosen" class="active">Parentezco</label>
                            </div>
                            <div class="col l3 m3 s10 offset-s1 input-field">
                              <select  ng-model="sexob" class="select-chosen-eps">
                                <option value="0" disabled>SELECCIONAR</option>
                                <option value="M" selected>MASCULINO</option>
                                <option value="F">FEMENINO</option>
                                <option value="I">INDETERMINADO</option>
                              </select>
                              <label for="simple-select hide-on-med-and-down" class="active">Sexo</label>
                            </div>
                            <div class="col l4 m4 s10 offset-s1 input-field">
                              <label for="date9"  class="active">Nacimiento</label>
                              <input type="date" id="nacimientob" ng-model="nacimientob">
                            </div>
                          </div>
                          <div class="col s12">
                            <div class="input-group" style="position: absolute; right: 20px; top: 20px;">
                              <div class="tooltip">
                                <a class="btn-floating btn waves-effect waves-light green campo17" ng-click="subiradjuntobeneficiario('insert')"><i class="icon icon-plus"></i></a>
                                <span class="tooltiptext">Agregar Beneficiario!</span>
                              </div>
                            </div>
                            <div class="input-group" ng-hide="inactivebtnbeneficiario" style="position: absolute; right: 20px; top: 20px;">
                              <div class="tooltip">
                                <a class="btn-floating btn waves-effect waves-light blue campo17" ng-click="accionestablasadiciones('beneficiario','update',renglonb)"><i class="icon icon-arrows-cw"></i></a>
                                <span class="tooltiptext">Actualizar Beneficiario!</span>
                              </div>
                            </div>
                            <!-- <div class="input-group" ng-show="inactivebtnbeneficiario" style="position: absolute; right: 20px; top: 62px;">
                              <div class="tooltip">
                                <a class="btn-floating btn waves-effect waves-light yellow campo17" ng-click="subiradjuntobeneficiario()"><i class="icon icon-attach"></i></a>
                                <span class="tooltiptext">Adjuntar Documento!</span>
                              </div>
                            </div> -->
                          </div>
                          <div class="col s12" ng-hide="tabalabeneficiario">
                            <table class="responsive-table table-bordered" style="height:100px;">
                              <thead>
                                <tr>
                                  <th data-field="marcar" class="center-align">Seleccionar</th>
                                  <th data-field="Tipo" class="center-align">Tipo</th>
                                  <th data-field="Documento" class="center-align">Documento</th>
                                  <th data-field="Nombre" class="center-align">Nombre</th>
                                  <th data-field="Parentezco" class="center-align">Parentezco</th>
                                  <th data-field="Sexo" class="center-align">Sexo</th>
                                  <th data-field="Nacimiento" class="center-align">Nacimiento</th>
                                  <th data-field="Edad" class="center-align">Edad</th>
                                  <th data-field="Adjunto" class="center-align">Adjunto</th>
                                </tr>
                              </thead>
                              <tbody id="tablebeneficiario">
                                <tr ng-repeat="ben in dataadicional.beneficiarios">
                                  <td data-field="marcar" class="center-align">
                                    <center>
                                      <input type="checkbox" name="group1" class="filled-in checkbox-info checkbene" ng-click="accionesbeneficiario(ben)" id="benb-{{ben.renglon}}">
                                      <label for="benb-{{ben.renglon}}"></label>
                                    </center>
                                  </td>
                                  <td class="center-align">{{ben.tipodoc}}</td>
                                  <td class="center-align">{{ben.cedulafamiliar}}</td>
                                  <td class="center-align">{{ben.nombre}}</td>
                                  <td class="center-align">{{ben.parentezco}}</td>
                                  <td class="center-align">{{ben.sexo}}</td>
                                  <td class="center-align">{{ben.nacimiento}}</td>
                                  <td class="center-align">{{ben.edad}}</td>
                                  <td style="text-align: center;"><a style="margin-right: 0px;" href={{ben.ruta}} target="_blank"><i class="icon-attach"></i></a></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="col s12" ng-show="isSet(4)">
                        <div class="row">
                          <div class="col s12">
                            <div class="col s3 offset-s1 input-field" style="width: 20% !important;">
                              <select  ng-model="sueter" class="select-chosen-eps">
                                <option value="0" disabled>SELECCIONAR</option>
                                <option value="XS">XS</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                                <option value="XXL">XXXL</option>
                              </select>
                              <label for="with_icon" class="active">Sueter</label>
                            </div>
                            <div class="col s3  input-field" style="width: 20% !important;">
                              <select  ng-model="camisa" class="select-chosen-eps">
                                <option value="0" disabled>SELECCIONAR</option>
                                <option value="XS">XS</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                                <option value="XXL">XXXL</option>
                              </select>
                              <label for="with_icon" class="active">Camisa</label>
                            </div>
                            <div class="col s3  input-field" style="width: 20% !important;">
                              <select  ng-model="pantalon" class="select-chosen-eps">
                                <option value="0" disabled>SELECCIONAR</option>
                                <option value="4">4</option>
                                <option value="6">6</option>
                                <option value="8">8</option>
                                <option value="10">10</option>
                                <option value="12">12</option>
                                <option value="14">14</option>
                                <option value="16">16</option>
                                <option value="18">18</option>
                                <option value="20">20</option>
                                <option value="22">22</option>
                                <option value="24">24</option>
                                <option value="26">26</option>
                                <option value="28">28</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="32">32</option>
                                <option value="33">33</option>
                                <option value="34">34</option>
                                <option value="36">36</option>
                                <option value="38">38</option>
                                <option value="40">40</option>
                                <option value="42">42</option>
                                <option value="44">44</option>
                              </select>
                              <label for="with_icon" class="active">Pantalon</label>
                            </div>
                            <div class="col s3  input-field" style="width: 20% !important;">
                              <select  ng-model="zapato" class="select-chosen-eps">
                                <option value="0" disabled>SELECCIONAR</option>
                                <option value="24">24</option>
                                <option value="24">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="32">32</option>
                                <option value="40">33</option>
                                <option value="34">34</option>
                                <option value="35">35</option>
                                <option value="36">36</option>
                                <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="39">39</option>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                                <option value="45">45</option>
                                <option value="46">46</option>
                                <option value="47">47</option>
                                <option value="48">48</option>
                                <option value="49">49</option>
                                <option value="50">50</option>
                                <option value="51">51</option>
                                <option value="52">52</option>
                                <option value="53">53</option>
                              </select>
                              <label for="with_icon" class="active">Zapato</label>
                            </div>
                          </div>
                          <br>
                          <div class="col s12">
                            <div class="input-group" style="position: absolute; right: 20px; top: 20px;">
                              <div class="tooltip">
                                <a ng-show="inactivebtnmedida" class="btn-floating btn waves-effect waves-light green campo17" ng-click="accionestablasadiciones('medidas')"><i class="icon icon-plus"></i></a>
                                <span class="tooltiptext">Insertar Medidas!</span>
                              </div>
                            </div>
                            <div class="input-group" style="position: absolute; right: 20px; top: 20px;">
                              <div class="tooltip">
                                <a ng-hide="inactivebtnmedida" class="btn-floating btn waves-effect waves-light blue campo17" ng-click="accionestablasadiciones('medidas')"><i class="icon icon-arrows-cw"></i></a>
                                <span class="tooltiptext">Actualizar Medidas!</span>
                              </div>
                            </div>
                          </div>
                          <div class="col s12" ng-hide="tabalamedidas">
                            <br>
                            <table class="responsive-table table-bordered" style="height:100px;">
                              <thead>
                                <tr>
                                  <th data-field="Nombre" class="center-align">Sueter</th>
                                  <th data-field="Fecha de Nacimiento" class="center-align">Camisa</th>
                                  <th data-field="Ubicacion" class="center-align">Pantalon</th>
                                  <th data-field="Ubicacion" class="center-align">Zapato</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="med in dataadicional.medidas">
                                  <td class="center-align">{{med.suater}}</td>
                                  <td class="center-align">{{med.camisa}}</td>
                                  <td class="center-align">{{med.pantalon}}</td>
                                  <td class="center-align">{{med.zapato}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
  .hover-item:hover {background-color: rgba(221, 221, 221, 0.45);}
  .hover-item:active {background-color: rgba(221, 221, 221, 0.45);}
  .tabmenu>li:target>a {background-color: rgba(221, 221, 221, 0.45);}
  .requerido{color:red !important;}
  .tabactiva{background-color: rgba(206, 206, 206, 0.71);}
  .upper{text-transform: uppercase !important;}
</style>
