<div class="row">
  <div class="col 32 m32 s12 " style="padding-bottom: 0px;padding-right: 0px;padding-left: 0px;">
    <div class="card" style="margin-bottom: 0px; margin-top: 0px;">
      <div class="foot4 divcardcustom">
        <div class="text-al switch divcardcustom2"><strong>Hora</strong></div>
      </div>
      <div class="input-list input-view-column" style="margin-top: 0px;margin-right: 0px;margin-left: 13px; padding-bottom: 10px;">
        <div class="container" style="margin-left: 0px; margin-right: 0px; padding-left: 2px;">
            <label for="normal" class="calendario">Fecha de Terminacion</label>
        </div>
          <input class="calendario" class="uppercase" id="fechamod"/>
      </div>
    </div>
  </div>
  <style>
    .calendario {
      width: 100%;
    }
    input.uppercase { text-transform: uppercase; }
  </style>
