<div>
    <div class="row">
        <div class="row section-header" style="padding-bottom: 0px; margin-bottom: 0px;">
            <div class="col s12">
                <div class="col s12 prod-title-div no-padding">
                    <h5 class="page-title">Consolidados</h5>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l12 magazine margin widgets-tabs" style="background: #fff;">
            <div class="card-panel widgets-tabs col l12" style="margin-top: 0px; padding-bottom: 15px;padding-top: 15px;box-shadow: none">
                <div class="row content-container server" style="padding: 10px;">
                    <div class="row margin">
                        <div class="col s12 m6 l3">
                            <div class="card">
                                <div class="card-content">
                                    <h5>{{dataReport.administradores}}
                                        <i class="zmdi zmdi-chart zmdi-hc-fw right" style="color:#56b949"></i>
                                    </h5>
                                    <div class="row">
                                        <h6>IPS con Administradores</h6>
                                    </div>
                                    <div class="progress">
                                        <div class="determinate " style="width: 100%;background: #56b949"></div>
                                    </div>
                                    <p>
                                        <small>{{((dataReport.administradores/dataReport.ips)*100)| number : 0}}% de
                                            IPS Ingresaron a Genesis</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l3">
                            <div class="card">
                                <div class="card-content">
                                    <h5>{{dataReport.funcionarios}}
                                        <i class="zmdi zmdi-chart zmdi-hc-fw right" style="color: #eb7b2d"></i>
                                    </h5>
                                    <div class="row">
                                        <h6>IPS con Funcionarios</h6>
                                    </div>
                                    <div class="progress">
                                        <div class="determinate" style="width: 100%;background: #eb7b2d"></div>
                                    </div>
                                    <p>
                                        <small>{{((dataReport.funcionarios/dataReport.administradores)*100)| number :
                                            0}}% IPS que Usan Genesis</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l3">
                            <div class="card">
                                <div class="card-content">
                                    <h5>{{dataReport.aut_genesis}}
                                        <i class="zmdi zmdi-chart zmdi-hc-fw right" style="color: #00abc0"></i>
                                    </h5>
                                    <div class="row">
                                        <h6>Autorizaciones por Genesis</h6>
                                    </div>
                                    <div class="progress">
                                        <div class="determinate" style="width: 100%;background: #00abc0"></div>
                                    </div>
                                    <p>
                                        <small>Porcentaje:
                                            {{((dataReport.aut_genesis/(dataReport.aut_oasis+dataReport.aut_genesis))*100)
                                            | number : 0}}%</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l3">
                            <div class="card">
                                <div class="card-content">
                                    <h5>{{dataReport.aut_oasis}}
                                        <i class="zmdi zmdi-chart zmdi-hc-fw right" style="color: #ee4035"></i>
                                    </h5>
                                    <div class="row">
                                        <h6>Autorizaciones por Oasis</h6>
                                    </div>
                                    <div class="progress red lighten-4">
                                        <div class="determinate red darken-2" style="width: 100%;background: #ee4035"></div>
                                    </div>
                                    <p>
                                        <small>Porcentaje:
                                            {{((dataReport.aut_oasis/(dataReport.aut_oasis+dataReport.aut_genesis))*100)|
                                            number : 0}}%</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="col s12 m6 l12">
                            <div class="card" style="box-shadow: none;border: 1px solid rgba(160, 160, 160, 0.2);">
                                <div class="card-content" style="    display: flex;
                                justify-content: space-between;
                                align-items: center;">
                                    <h5>Seguimiento de Modulos</h5>
                                    <!-- <p ng-show="!showSta"><strong>R: Registradas E: Esperadas</strong></p> -->
                                    <i class="icon-left-open-2" ng-click="show_panel()" ng-hide="!showSta" style="cursor: pointer">Atras</i>
                                </div>
                                <div class="card-action">
                                    <div class="row">
                                        <div id="visitchart">
                                            <div class="col" ng-class="{'s12': showSta && showdetail, 's6':!showSta && !showdetail}">
                                                <div ng-hide="showSta">
                                                    <div id="darkChart" class="card">
                                                        <div class="card-action">
                                                            <div id="promedioservicios" style="width:100%; height:400px;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-hide="!showSta && showdetail">
                                                    <div class="card">
                                                        <div class="card-action">
                                                            <div class="card-content" style="padding-left: 0;padding-top: 0;">
                                                                <h6> <strong>{{nameSeccional}}</strong> </h6>

                                                            </div>
                                                            <div class="scrollDefault" style="height: 50vh;overflow-y: auto">
                                                            <table class="responsive-table table-bordered">
                                                                <thead>
                                                                    <thead>
                                                                        <tr>
                                                                                <th>
                                                                                    #       
                                                                                </th>
                                                                            <th data-field="Codigo">
                                                                                <input type="text" ng-model="filter_codnit"
                                                                                    data-field="CODIGO" class="margin border-none"
                                                                                    style="height: auto;font-size: 13px;"
                                                                                    placeholder="NIT">
                                                                            </th>
                                                                            <th>
                                                                                <input type="text" ng-model="filter_nom"
                                                                                    data-field="NOMBRE" class="margin border-none"
                                                                                    style="height: auto;font-size: 13px;"
                                                                                    placeholder="NOMBRE">
                                                                            </th>
                                                                            <th data-field="ADMIN" class="center-align">ADMIN</th>
                                                                            <th data-field="ACCION" class="center-align">ACCION</th>
                                                                        </tr>
                                                                    </thead>
                                                                </thead>
                                                                <tbody id="ipss">
                                                                    <tr ng-repeat="i in dataips | filter:{nit:filter_codnit,nombre:filter_nom}"
                                                                        class="ips{{$index+1}}">
                                                                        <td>{{$index+1}}</td>
                                                                        <td class="center-align">{{i.nit}}</td>
                                                                        <td>{{i.nombre}}</td>
                                                                        <td class="center-align">{{i.admin}}</td>
                                                                        <td> <i class="icon-info-circled" ng-click="showDetailIps(i.nit,i.nombre,$index+1);"
                                                                                title="Información adicional" style="cursor: pointer;font-size: 2em;justify-content: center;display: flex; align-items: center;"></i></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col s6 scrollDefault" ng-hide="showSta" style="height: 59vh;overflow-y: auto">
                                                <div class="row margin">
                                                    <div ng-repeat="d in departamentos">
                                                        <div class="col s12 m6 l4">
                                                            <div class="card" style="cursor: pointer;height: 12em"
                                                                ng-click="showDetailSessional(d.codigo,d.registrada,d.dpto);">
                                                                <div class="card-content">
                                                                    <p style="text-align: center"><strong>{{d.dpto}}</strong></p>
                                                                    <div class="row">
                                                                        <p>Registradas: {{d.registrada}}</p>
                                                                        <p>Esperadas: {{d.esperada}}</p>
                                                                    </div>
                                                                    <div class="progress grey lighten-4">
                                                                        <div class="determinate darken-2" ng-style="getStyle(d.esperada,d.registrada)">
                                                                        </div>
                                                                    </div>
                                                                    <p style="text-align: center">
                                                                        <small class="ng-binding">{{getPorcentaje(d.esperada,d.registrada)
                                                                            | number : 0}}% Registradas</small>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col s6" ng-hide="showDetailD">
                                                <div class="card">
                                                    <div class="card-action">
                                                        <div class="card-content" style="padding-left: 0;padding-top: 0;">
                                                            <h6> <strong> IPS - {{nameIps}} </strong> <i style="font-size: 20px;"
                                                                    class="zmdi zmdi-chart zmdi-hc-fw right"></i></h6>

                                                        </div>
                                                        <div class="scrollDefault" style="height: 50vh;overflow-y: auto">
                                                            <table class="responsive-table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th data-field="CODIGO" class="center-align">MODULO</th>
                                                                        <td data-field="NOMBRE" class="center-align">CANTIDAD
                                                                            DE SERVICIOS</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th data-field="FECHA" class="center-align">FECHA
                                                                            REPORTE</th>
                                                                        <th data-field="FECHA">
                                                                            <div class="col s10">
                                                                                <input type="date" ng-model="fechareporte"
                                                                                    min="{{firstDay}}" max={{maxDate}}
                                                                                    style="height: auto;font-size: 13px;margin: 0">
                                                                            </div>
                                                                            <div class="col s2">
                                                                                <i class="material-icons prefix" style="cursor: pointer;"
                                                                                    ng-click="showDetailIpsdate();">search</i></a>
                                                                            </div>

                                                                        </th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th data-field="CODIGO" class="center-align">ACAS</th>
                                                                        <td data-field="NOMBRE" class="center-align">{{dataipsDetalle.acas}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th data-field="CODIGO" class="center-align">AGENDAMIENTO</th>
                                                                        <td data-field="NOMBRE" class="center-align">{{dataipsDetalle.agendamiento}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th data-field="CODIGO" class="center-align">ESOA</th>
                                                                        <td data-field="NOMBRE" class="center-align">{{dataipsDetalle.esoa}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th data-field="CODIGO" class="center-align">NACIMIENTO</th>
                                                                        <td data-field="NOMBRE" class="center-align">{{dataipsDetalle.nacimiento}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th data-field="CODIGO" class="center-align">RIPS</th>
                                                                        <td data-field="NOMBRE" class="center-align">{{dataipsDetalle.rips}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th data-field="CODIGO" class="center-align">SOLITUD
                                                                            CONTRATO</th>
                                                                        <td data-field="NOMBRE" class="center-align">{{dataipsDetalle.solicitud_contrato}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th data-field="CODIGO" class="center-align">CODIGO
                                                                            URGENCIAS</th>
                                                                        <td data-field="NOMBRE" class="center-align">{{dataipsDetalle.urgencias}}</td>
                                                                    </tr>

                                                                </thead>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <style>
            /* Style Scroll */
            .scrollDefault::-webkit-scrollbar {
                /* width */
                width: 5px;
            }

            .scrollDefault::-webkit-scrollbar-track {
                /* Track */
                background: #f1f1f1;
            }

            .scrollDefault::-webkit-scrollbar-thumb {
                /* Handle */
                background: #888;
            }

            .scrollDefault::-webkit-scrollbar-thumb:hover {
                /* Handle on hover */
                background: #555;
            }

            .t-color-tr {
                background: #26a69a;
                color: #fff;
            }          
        </style>
    </div>