/* =======================================
    Hoja de estilos pala las Aplicaciones
   =======================================
*/
#adres_imprimir {
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  width: 100%;
  background-color: white;
  z-index: 1000000;
}

.tabla_limpia span {
  font-size: 10px !important;
}

p {
  line-height: initial!important;
}

/* Color de fondo del contenido de las páginas */
Body {
  background-color: white !important;
  font-weight: 700 !important;
}

/* Estilo para el head */
.Head {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
  font-weight: bold !important;
  color: #39420C !important;
}


/* Estilo de letra pequeña se utiliza en la mayoria de tablas*/
.Normal {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 11px !important;
  font-weight: normal !important;
  color: #000000 !important;
  /*text-align:right!important;*/
}

/* Estilo de letra que se utiliza en casi todo el contenido*/
.NormalGrande {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
  font-weight: normal !important;
  color: #000000 !important;
  text-align: justify !important;
}

/* Letra que se utiliza para los titulos */
.NormalBold {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
  font-weight: bold !important;
  color: #000000 !important;
}

/*Letra usada para subrayar un texto*/
.NormalSubrayada {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
  font-weight: normal !important;
  color: #000000 !important;
  text-decoration: underline !important;
}

/* Letra para mensajes de error o notas importantes*/
.NormalRed {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
  font-weight: bold !important;
  color: #ff0000 !important;
}

/* Estilo de letra usado para los textos que aparecen desactivados */
.NormalDisabled {
  color: Silver !important;
}

/* Texto que se utiliza en los TextBox */
.NormalTextBox {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
  font-weight: normal !important;
  margin: 0 3px 3px 0 !important;
  padding: 5px 5px 4px 5px !important;
  text-decoration: none !important;
  background-position: 0 -41px !important;
}


/* Estilo usado en las tablas */
.DataGrid_AlternatingItem {
  background-color: White !important;
  color: #39420C !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 10px !important;
  font-weight: normal !important;
}

.DataGrid_Container {
  background-color: Transparent !important;
}

.DataGrid_Footer {
  background-color: White !important;
}

.DataGrid_Header {
  background-color: #3498DB !important;
  color: Black !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 10px !important;
  font-weight: bold !important;
  text-align: center !important;
}

.DataGrid_Item {
  background-color: Transparent !important;
  color: Black !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 10px !important;
  font-weight: normal !important;
}

.modal {
  background-color: Gray !important;
  -ms-filter: alpha(opacity=40) !important;
  -ms-opacity: 0.2 !important;
}

.modalBackground {
  background-color: #3753fc !important;
  -ms-filter: alpha(opacity=45) !important;
  -ms-opacity: 0.2 !important;
  z-index: 10000 !important;
}

.Marco {
  overflow: auto !important;
}

.DataGrid_SelectedItem {
  background-color: Silver !important;
  color: Blue !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 10px !important;
  font-weight: normal !important;
}

/* Estilo para los botones*/
.StandardButton {
  padding-right: 5px !important;
  padding-left: 5px !important;
  font-weight: normal !important;
  font-size: 11px !important;
  background: #39420C !important;
  color: #FFFFFF !important;
  font-family: Arial, Helvetica, sans-serif !important;
  width: 100px !important;
}

/* GENERIC */
H1 {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 14px !important;
  font-weight: bold !important;
  color: #39420C !important;
}

H2 {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 14px !important;
  font-weight: bold !important;
  color: #39420C !important;
}

H3 {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 14px !important;
  font-weight: bold !important;
  color: #39420C !important;
}

H4 {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
  font-weight: normal !important;
  color: #39420C !important;
}

H5,
DT {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 11px !important;
  font-weight: bold !important;
  color: #39420C !important;
}

H6 {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 11px !important;
  font-weight: bold !important;
  color: #39420C !important;
}

TFOOT,
THEAD {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
  color: #39420C !important;
}

TH {
  vertical-align: baseline !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
  font-weight: bold !important;
  color: #39420C !important;
  padding: 0;
  text-align: center;
  line-height: normal;
}

A:link {
  text-decoration: underline !important;
  color: #39420C !important;
}

A:visited {
  text-decoration: none !important;
  color: #39420C !important;
}

A:hover {
  text-decoration: underline !important;
  color: #ff0000 !important;
}

A:active {
  text-decoration: none !important;
  color: #39420C !important;
}

SMALL {
  font-size: 8px !important;
}

BIG {
  font-size: 14px !important;
}

BLOCKQUOTE,
PRE {
  font-family: Lucida Console, monospace !important;
}


UL LI {
  list-style-type: square !important;
}

UL LI LI {
  list-style-type: disc !important;
}

UL LI LI LI {
  list-style-type: circle !important;
}

OL LI {
  list-style-type: decimal !important;
}

OL OL LI {
  list-style-type: lower-alpha !important;
}

OL OL OL LI {
  list-style-type: lower-roman !important;
}

OL UL LI {
  list-style-type: disc !important;
}

HR {
  color: #696969 !important;
  height: 1pt !important;
  text-align: left !important;
}

/* MODAL POPUP*/
.mpBg {
  background-color: #3753fc !important;
  -ms-filter: alpha(opacity=35) !important;
  -ms-opacity: 0.3 !important;
}

.mp {
  background-color: white !important;
  border-width: 3px !important;
  border-style: solid !important;
  border-color: Gray !important;
  padding: 3px !important;
}

.mpHd {
  background-color: #616cae !important;
  border-color: White !important;
  border-width: 1px !important;
  color: White !important;
  font-weight: bold !important;
  width: 100% !important;
  height: 16px !important;
  text-align: center !important;
}

.mpClose {
  text-align: center !important;
  width: 100% !important;
}

.mpCloseButton {
  position: absolute !important;
  right: 4px !important;
  width: 17px !important;
  height: 18px !important;
}

/**** AJAX CALENDAR ****/
.calendar_Theme .ajax__calendar_container {
  background-color: #39420C !important;
  border: solid 1px #cccccc !important;
}

.calendar_Theme .ajax__calendar_header {
  background-color: #ffffff !important;
  margin-bottom: 4px !important;
}

.calendar_Theme .ajax__calendar_title,
.calendar_Theme .ajax__calendar_next,
.calendar_Theme .ajax__calendar_prev {
  color: #004080 !important;
  padding-top: 3px !important;
}

.calendar_Theme .ajax__calendar_body {
  background-color: #FFFFFF !important;
  border: solid 1px #cccccc !important;
}

.calendar_Theme .ajax__calendar_dayname {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 4px !important;
  margin-top: 2px !important;
}

.calendar_Theme .ajax__calendar_day {
  text-align: center !important;
}

.calendar_Theme .ajax__calendar_hover .ajax__calendar_day,
.calendar_Theme .ajax__calendar_hover .ajax__calendar_month,
.calendar_Theme .ajax__calendar_hover .ajax__calendar_year,
.calendar_Theme .ajax__calendar_active {
  color: #004080 !important;
  font-weight: bold !important;
  background-color: #e9e9e9 !important;
}

.calendar_Theme .ajax__calendar_today {
  font-weight: bold !important;
}

.calendar_Theme .ajax__calendar_other,
.calendar_Theme .ajax__calendar_hover .ajax__calendar_today,
.calendar_Theme .ajax__calendar_hover .ajax__calendar_title {
  color: #bbbbbb !important;
}

.parrafo {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
}

.label {
  float: left !important;
  width: 150px !important;
  text-align: left !important;
  margin-right: 0.5em !important;
  font-weight: bold !important;
  font-size: 15px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
}

.titleRespuesta {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
  font-size: 18px !important;
  text-align: center !important;
  font-style: normal !important;
  font-weight: bold !important;
  line-height: normal;
}

.tablaAfiliacion {
  text-align: center !important;
}

.pie {
  font-size: 8.5pt !important;
  font-family: Arial, Helvetica, sans-serif !important;
  text-align: justify !important;
}

.pieBtn,
a {
  text-align: center !important;
  font-family: Arial, Helvetica, sans-serif !important;
  text-decoration: none !important;
  font-size: 12px !important;
  width: 100% !important;
}


.txtBox {
  width: 159px !important;
  -moz-border-radius: 6px !important;
  /* Firefox */
  -webkit-border-radius: 6px !important;
  /* Safari, Chrome */
  -khtml-border-radius: 6px !important;
  /* KHTML */
  border-radius: 6px !important;
  /* CSS3 */
}

.txtBox:focus {
  background-color: #ecede8 !important;
}

/* Estilo usado en las tablas */
.DataGrid_AlternatingItem {
  background-color: Transparent !important;
  color: #39420C !important;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
  font-size: 15px !important;
  font-weight: normal !important;
}

.DataGrid_Container {
  background-color: Transparent !important;
}

.DataGrid_Footer {
  background-color: White !important;
}

.DataGrid_Header {
  background-color: #3498DB !important;
  color: Black !important;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
  font-size: 15px !important;
  font-weight: bold !important;
  text-align: center !important;
}

.DataGrid_Item {
  background-color: Transparent !important;
  color: Black !important;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
  font-size: 15px !important;
  font-weight: normal !important;
}

.DataGrid_SelectedItem {
  background-color: Transparent !important;
  color: Blue !important;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
  font-size: 15px !important;
  font-weight: normal !important;
}



#GridViewBasica {
  width: 70% !important;
}

.center {
  margin: 0 0 0 25% !important;
}

#GridViewAfiliacion {
  width: 100% !important;
  margin-bottom: 11.3333px;
}

.error {
  color: red !important;
  font-size: 20px !important;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
  text-align: center !important;
}

.label2 {
  float: left !important;
  width: 150px !important;
  text-align: left !important;
  margin-right: 0.5em !important;
  margin-bottom: 45px !important;
  font-weight: bold !important;
  font-size: 15px !important;
}

#parrafos_fin {
  text-align: left !important;
}

td {
  width: 222px !important;
  text-align: center !important;
  padding: 0;
}

.TableHeader {
  background-color: #3498DB !important;
  color: #39420C !important;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
}

table {
  width: 52% !important;
  border-collapse: collapse !important;
  border: 2px !important;
  border-color: black !important;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
}

table,
td,
th {
  border: 1px solid black !important;
}

#pie_foto {
  color: #39420C !important;
  font-weight: bold !important;
}

.tabla_limpia {
  border: hidden !important;
  font-size: 10px !important;
}
