<div id="gestionaut">
    <div class="row">
        <div class="col s12 m12 l12 magazine margin widgets-tabs">
            <div class="card-panel widgets-tabs col l12 no-padding">
                <ul tabs reload="allTabContentLoaded" style="box-shadow: 0px 2px 2px #f3f3f3;">
                    <li class="tab col s3" style="cursor: pointer;" ng-class="activeIcolor"><a style="border-top:0"
                            ng-click="setTab(1);sumPrint = 0;" ng-class="activeI">Periodo</a></li>

                    <li class="tab col s3" style="cursor: pointer;" ng-class="activeIIcolor"><a style="border-top:0"
                            ng-click="setTab(2)" ng-class="activeII">No. Prescripción</a></li>
                    <li class="tab col s3" style="cursor: pointer;" ng-class="activeIIIcolor"><a style="border-top:0"
                            ng-click="setTab(3)" ng-class="activeIII">Afiliado</a></li>
                </ul>
                <div ng-show="true" class="col s12 no-padding">
                    <div class="row">
                        <div class="col s12">
                            <i class="material-icons left" style="margin-top: 14px;">more_vert</i>
                            <h5>Consultar Prescripciones por {{nametab}}</h5>
                        </div>
                        <!--Panel de busqueda-->
                        <div class="col s12">
                            <form ng-show="tab == 1">
                                <div class="col s11">
                                    <div class="input-list input-form margin">

                                        <div class="input-list input-view-column">
                                            <label for="normal8">Fecha Inicio</label>
                                            <input id="normal8" ng-model="fecha_i" type="date" required>
                                            <!--required-->
                                            <label for="normal8">Fecha Fin</label>
                                            <input id="normal8" ng-model="fecha_f" type="date" required>
                                        </div>

                                        <div class="input-list input-view-column">
                                            <label for="normal8">Régimen</label>
                                            <select class="select-chosen-eps" id="regimen" ng-model="regimen" required>
                                                <option value="" disabled> Seleccionar</option>
                                                <option value="S">Subsidiado</option>
                                                <option value="C">Contributivo</option>
                                            </select>
                                        </div>

                                        <div class="input-field col">
                                            <button class="btn white-text" type="submit" ng-click="options()"
                                                style="padding-right: 5px; padding-left: 5px; margin-top: 10px;">
                                                <i style="position: relative;" class="material-icons prefix">search</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form ng-show="tab == 2">
                                <div class="col s11">
                                    <div class="input-list input-form margin">

                                        <div class="input-list input-view-column">
                                            <label for="normal8">Numero Prescripcion</label>
                                            <input id="normal8" ng-model="no_pres" type="text" required>
                                            <!--required-->
                                        </div>
                                        <div class="input-list input-view-column">
                                            <label for="normal8">Régimen</label>
                                            <select class="select-chosen-eps" id="regimen" ng-model="regimen" required>
                                                <option value="" disabled> Seleccionar</option>
                                                <option value="S">Subsidiado</option>
                                                <option value="C">Contributivo</option>
                                            </select>
                                        </div>

                                        <div class="input-field col">
                                            <button class="btn white-text" type="submit" ng-click="options()"
                                                style="padding-right: 5px; padding-left: 5px; margin-top: 10px;">
                                                <i style="position: relative;" class="material-icons prefix">search</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form ng-show="tab == 3">
                                <div class="col s12">
                                    <div class="input-list margin">
                                        <div class="col s5">
                                            <div class="input-view-column">
                                                <div class="input-list">
                                                    <label for="tipo_id">Tipo Documento</label>
                                                    <select class="select-chosen-eps" id="tipo_id" ng-model="tipodoc"
                                                        required>
                                                        <option value="" disabled> Seleccionar</option>
                                                        <option value="{{x.CODIGO}}"
                                                            ng-selected="x.CODIGO == Form.Tipo_Doc"
                                                            ng-repeat="x in Tipos_Documentos">{{x.NOMBRE}}</option>
                                                        <!--
                                                    <option value="CC">Cédula de Ciudadanía</option>
                                                    <option value="CE">Cédula de Extranjería</option>
                                                    <option value="MS">Menor sin Identificación</option>
                                                    <option value="SC">Salvo Conducto</option>
                                                     <option value="NV">Nacido Vivo</option>
                                                    <option value="TI">Tarjeta de Identidad</option>
                                                    <option value="RC">Registro Civil</option>
                                                    <option value="PE">Permiso Especial</option>
                                                    <option value="AS">Adulto sin Identificacíon</option>-->
                                                    </select>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="col s6">

                                            <div class="input-list input-view-column">
                                                <label for="Identificacion">Identificacion</label>
                                                <input id="Identificacion" ng-model="doc" type="text" required>

                                            </div>


                                        </div>

                                        <div class="input-field col ">
                                            <button class="btn white-text" type="submit"
                                                ng-click="consulta_mipres_afi()"
                                                style="padding-right: 5px; padding-left: 5px; margin-top: 10px;">
                                                <i style="position: relative;" class="material-icons prefix">search</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <!--Fin panel de busqueda-->
                    </div>
                    <div class="col s12" ng-hide="verMipres">
                        <div>
                            <button class="btn" ng-click="consolidado(tipo)" style="padding-bottom:5px;">
                                descargar
                            </button>
                            <div class="input-list input-view-column">
                                <label for="normal8">Tipo Reporte:</label>
                                <select class="select-chosen-eps" id="tipo" ng-model="tipo" required>
                                    <option value="" disabled> Seleccionar</option>
                                    <option value="C">Cabecera</option>
                                    <option value="M">Medicamentos</option>
                                    <option value="P">Procedimientos</option>
                                    <option value="D">Dispositivos</option>
                                    <option value="N">Producto Nutricional</option>
                                    <option value="S">Servicio Complementario</option>
                                </select>
                            </div>
                        </div>
                        <div class="charts">
                            <div id="table_presc" class="card-content foot4"
                                style="padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
                                <div class="col s2">
                                    <h5 class="white-text">Prescripciones</h5>
                                </div>
                                <div class="col s9" style="text-align: center;">

                                </div>

                                <div class="col s1">
                                    <h5 style="text-align: end;"><i style="cursor:pointer;"
                                            ng-click="verMipres = !verMipres"
                                            class="material-icons white-text">close</i></h5>
                                </div>
                            </div>
                            <div class="card-action" style="padding-bottom: 3px;border-top: 0">
                                <div class="row">
                                    <div class="responsive" ng-hide="switchtable">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <!-- <th style="text-align: center;">Direccionar</th> -->
                                                    <th style="text-align: center;">No. Prescripción</th>
                                                    <th style="text-align: center;">Fecha Prescripción</th>
                                                    <th style="text-align: center;">EstPres</th>
                                                    <th style="text-align: center;">Ambito</th>
                                                    <th style="text-align: center;">Medicamentos</th>
                                                    <th style="text-align: center;">Procedimientos</th>
                                                    <th style="text-align: center;">Dispositivos</th>
                                                    <th style="text-align: center;">Productos <br> Nutricionales</th>
                                                    <th style="text-align: center;">Servicios <br> Complementarios</th>
                                                    <th style="text-align: center;" ng-if="rol == '1129583838'">Actualizar <br> Diagnostico</th>
                                                    <th style="text-align: center;">Subir /<br> Visualizar</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr ng-repeat="data in listaPRESTemp | inicio: currentPage * pageSize | limitTo: pageSize"
                                                    ng-hide="listaPRESTemp.length == 0">

                                                    <!-- <tr ng-repeat="data in newarray | filter:filter"> -->
                                                    <th style="text-align:center;">
                                                        {{$index + 1 + (currentPage * pageSize) }}</th>

                                                    <td style="text-align: center;"> <a
                                                            ng-click="open_modal('det',data)"
                                                            style="cursor: pointer;">{{data.NoPrescripcion}}</a> </td>
                                                    <td style="text-align: center;">{{data.FPrescripcion}}</td>
                                                    <td style="text-align: center;">{{data.EstPres}}</td>
                                                    <td style="text-align: center;" ng-hide="data.CodAmbAte != 11">
                                                        Ambulatorio – Priorizado</td>
                                                    <td style="text-align: center;" ng-hide="data.CodAmbAte != 12">
                                                        Ambulatorio – No Priorizado</td>
                                                    <td style="text-align: center;" ng-hide="data.CodAmbAte != 21">
                                                        Hospitalario – Domiciliario</td>
                                                    <td style="text-align: center;" ng-hide="data.CodAmbAte != 22">
                                                        Hospitalario – Internacion</td>
                                                    <td style="text-align: center;" ng-hide="data.CodAmbAte != 30">
                                                        Urgencias</td>
                                                    <!-- <td style="text-align: center;">{{data.Medicamentos}}</td>
                                                  <td style="text-align: center;">{{data.Procedimientos}}</td>
                                                  <td style="text-align: center;">{{data.Dispositivos}}</td>
                                                  <td style="text-align: center;">{{data.ProductosNutricionales}}</td>
                                                  <td style="text-align: center;">{{data.ServiciosComplementarios}}</td> -->
                                                    <td>
                                                        <center>
                                                            <button
                                                                class="btn-floating default-background waves-effect waves-light"
                                                                ng-click="open_modal('med',data.medicamentos)"
                                                                ng-disabled="bloquearboton || data.actmedicamentos" title="Medicamentos">
                                                                <i
                                                                    class="material-icons">add_circle_outline</i></button>
                                                        </center>
                                                    </td>
                                                    <td>
                                                        <center>
                                                            <button
                                                                class="btn-floating default-background waves-effect waves-light"
                                                                ng-click="open_modal('proc', data.procedimientos)"
                                                                ng-disabled="bloquearboton || data.actprocedimientos"
                                                                title="Procedimientos">
                                                                <i class="material-icons">healing</i></button>
                                                        </center>
                                                    </td>
                                                    <td>
                                                        <center>
                                                            <button
                                                                class="btn-floating default-background waves-effect waves-light"
                                                                ng-click="open_modal('dis',data.dispositivos)"
                                                                ng-disabled="bloquearboton || data.actdispositivos" title="Dispositivos">
                                                                <i class="material-icons">devices_other</i></button>
                                                        </center>
                                                    </td>

                                                    <td>
                                                        <center>
                                                            <button
                                                                class="btn-floating default-background waves-effect waves-light"
                                                                ng-click="open_modal('prod',data.productosnutricionales)"
                                                                ng-disabled="bloquearboton || data.actproductosnutricionales"
                                                                title="ProductosNutricionales">
                                                                <i class="material-icons">local_dining</i></button>
                                                        </center>
                                                    </td>

                                                    <td>
                                                        <center>
                                                            <button
                                                                class="btn-floating default-background waves-effect waves-light"
                                                                ng-click="open_modal('ser',data.serviciosComplementarios)"
                                                                ng-disabled="bloquearboton || data.actserviciosComplementarios"
                                                                title="ServiciosComplementarios">
                                                                <i class="material-icons">merge_type</i></button>
                                                        </center>
                                                    </td>
                                                    <td ng-if="rol == '1129583838'">
                                                        <center>
                                                            <button
                                                                class="btn-floating default-background waves-effect waves-light"
                                                                ng-click="AbrirModal_actualizadiagnostico(data.NoPrescripcion)"
                                                                title="Actualizar Diagnostico">
                                                                <i class="material-icons">mode_edit</i></button>
                                                        </center>
                                                    </td>
                                                    <td>
                                                        <center>
                                                            <div ng-if="Rutadocumentocargado == ''">
                                                                <button
                                                                class="btn-floating default-background waves-effect waves-light"
                                                                ng-click="AbrirModal_subirabjunto(data.NoPrescripcion)"
                                                                title="Cargar Abjunto">
                                                                <i class="material-icons">open_in_browser</i></button>
                                                            </div>
                                                            <div ng-if="Rutadocumentocargado != ''">
                                                                <button
                                                                class="btn-floating default-background waves-effect waves-light"
                                                                ng-click="AbrirModal_verabjunto()"
                                                                title="Ver Documento">
                                                                <i class="material-icons">visibility</i></button>
                                                            </div>
                                                           
                                                        </center>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <ul ng-hide="listaPRESTemp.length == 0" style="text-align: center;"
                                            class="pagination" ng-hide="listaPRESTemp.length > 0">
                                            <li><button ng-disabled='currentPage == 0' class="btn"
                                                    ng-click='currentPage = currentPage - 1'>&laquo;</button></li>
                                            <li ng-repeat='page in pages'><button
                                                    ng-disabled='currentPage == page.no - 1' class="btn"
                                                    ng-click='setPage(page.no)'>{{page.no}}</button></li>
                                            <li><button ng-disabled='currentPage >= listaPRESTemp.length/pageSize - 1'
                                                    class="btn"
                                                    ng-click='currentPage = currentPage + 1'>&raquo;</button></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12" ng-hide="hide_tbl_mipres_doc">
                        <div class="charts">
                            <div id="table_presc" class="card-content foot4"
                                style="padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
                                <div class="col s2">
                                    <h5 class="white-text">Prescripciones</h5>
                                </div>
                                <div class="col s9" style="text-align: center;">

                                </div>

                                <div class="col s1">
                                    <h5 style="text-align: end;"><i style="cursor:pointer;"
                                            ng-click="hide_tbl_mipres_doc = !hide_tbl_mipres_doc"
                                            class="material-icons white-text">close</i></h5>
                                </div>
                            </div>
                            <div class="card-action" style="padding-bottom: 3px;border-top: 0">
                                <div class="row">
                                    <div class="responsive" ng-hide="switchtable">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <!-- <th style="text-align: center;">Direccionar</th> -->
                                                    <th style="text-align: center;">No. Prescripción</th>
                                                    <th style="text-align: center;">Fecha Prescripción</th>
                                                    <th style="text-align: center;">Prestador</th>
                                                    <th style="text-align: center;">Identificación</th>
                                                    <th style="text-align: center;">Nombre Afiliado</th>

                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr ng-repeat="prescripcion in mipres_documento">


                                                    <th style="text-align:center;">
                                                        {{$index+1}}</th>

                                                    <td style="text-align: center;"> <a
                                                            ng-click="open_modal('presxdoc',prescripcion)"
                                                            style="cursor: pointer;">{{prescripcion.noprescripcion}}
                                                    </td>
                                                    <td style="text-align: center;">{{prescripcion.fechaprescripcion}}
                                                    </td>
                                                    <td style="text-align: center;">{{prescripcion.prestador}}</td>
                                                    <td style="text-align: center;">
                                                        {{prescripcion.identificacion_afiliado}}</td>
                                                    <td style="text-align: center;">{{prescripcion.nombre_afi}}</td>


                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal_Actualizar Diagnostico  -->
                <div id="Modal_Actualizar_diagnostico" class="modal">
                    <div class="modal-content" style="padding: 0px !important;">
                        <div class="col s12" style="padding-left: 0px; padding-right: 0px;">
                            <div class="card charts" style="margin-top: 0px; margin-bottom: 0px;">
                                <div class="card-content foot4 default-linear-gradient"
                                    style="padding-bottom: 0px; padding-top: 12px;">
                                    <div class="row" style="margin-bottom: 0px;">
                                        <div class="col s11">
                                            <h6 class="white-text">Actualizar Diagnostico</h6>
                                        </div>
                                        <div class="col s1">
                                            <h5 style="text-align: end;" ng-click="closeModal()"><i
                                                    style="cursor:pointer;" class="material-icons white-text">close</i>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-action" style="overflow-y: auto;max-height: 80vh;">
                                    <div class="row">
                                        <div class="col s12">
                                            <form ng-submit="buscarDiagnostico(Modal_Diagnostico)"
                                                class="ng-pristine ng-valid">
                                                <div class="input-field col s12">
                                                    <input id="diaginput" type="text" ng-model="Modal_Diagnostico"
                                                        style="cursor: pointer;"
                                                        class="clase-gray ng-pristine ng-valid ng-touched">
                                                    <label for="diaginput" style="cursor: pointer;"
                                                        class="">Diagnostico: <span style="color:red;">*</span></label>
                                                    <a href="javascript:void(0)"
                                                        ng-click="buscarDiagnostico(Modal_Diagnostico)">
                                                        <i style="position: absolute; top: 16px; right: 0px;cursor: pointer;"
                                                            class="material-icons prefix">search</i></a>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col s12 ng-hide" ng-hide="inactivebarradiag"
                                            style="max-height: 45vh; overflow-y: auto;">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center;">CODIGO</th>
                                                        <th>NOMBRE</th>
                                                        <th>SELECCIONAR</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="x in listDiagnosticos">
                                                        <th style="text-align:center;">{{x.Codigo}}</th>
                                                        <th style="text-align:center;">{{x.Nombre}}</th>
                                                        <td style="text-align:center;">
                                                            <i ng-click="Actualizar_Diagnostico(x.Codigo)"
                                                                style="cursor:pointer;"
                                                                class="material-icons prefix">check</i>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <!-- <div class="row center">
                                        <button class="btn" ng-click="Actualizar_Diagnostico()">Actualizar</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!-- Modal_Subir abjunto  -->
<div id="Modal_subir_abjunto" class="modal">
    <div class="modal-content" style="padding: 0px !important;">
        <div class="col s12" style="padding-left: 0px; padding-right: 0px;">
            <div class="card charts" style="margin-top: 0px; margin-bottom: 0px;">
                <div class="card-content foot4 default-linear-gradient"
                    style="padding-bottom: 0px; padding-top: 12px;">
                    <div class="row" style="margin-bottom: 0px;">
                        <div class="col s11">
                            <h6 class="white-text">Subir Abjunto</h6>
                        </div>
                        <div class="col s1">
                            <h5 style="text-align: end;" ng-click="closeModal()"><i
                                    style="cursor:pointer;" class="material-icons white-text">close</i>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="card-action" style="overflow-y: auto;max-height: 80vh;">
                    <div class="row">
                        <div class="col s12">
                                <div class="input-field col s12">
                                    <form>
                                    <div class="file-field input-field">
                                        <div class="btn">
                                          <span class="white-text">Adjuntar</span>
                                          <input class="adjuntar" id="anexo2adj" name="archivo" accept=".png,.jpg,.jpeg,.pdf,.doc" type="file">
                                        </div>
                                        <div class="file-path-wrapper">
                                          <input class="file-path validate" ng-model="nombreabjunto" ng-change="validararchivo()" type="text" id="textadj" placeholder="Seleccione un archivo" >
                                        </div>
                                      </div>
                                    
                    <div class="row center">
                        <a class="btn" ng-click="InsertarAbjuntoPrescripcion()">Subir</a>
                    </div>
                </form>
                                </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
                <style>
                    #toast-container .toast {
                        border-radius: 25px !important;
                        font-weight: 600;
                        text-align: center !important;
                        word-break: keep-all;
                        padding: 10px 25px;
                        width: auto;
                        background-color: #9b1b54;
                    }

                    .tab a:hover {
                        background-color: #ddd !important;
                        color: white !important;
                    }

                    .activebtn-step,
                    .activebtn-step:hover {
                        background-color: #2196f3 !important;
                        color: white !important;
                    }

                    .step-item {
                        height: 100px;
                        width: 100px;
                        border-radius: 100px;
                        padding: 0px;
                    }

                    .donebtn-step,
                    .donebtn-step:hover {
                        background-color: #2196f3 !important;
                        color: white !important;
                    }

                    .steper {
                        width: 60%;
                        display: inline-flex;
                        text-align: center;
                        padding-bottom: 10px;
                        margin-left: 20%;
                    }

                    .step-divider {
                        width: 100%;
                        position: relative;
                        top: 30px;
                        margin-left: 0px;
                        margin-right: 0px;
                        margin-top: 20px;
                    }

                    .btn-step-content {
                        position: relative;
                        display: none;
                        height: calc(100% - 132px);
                        width: inherit;
                        overflow: visible;
                        margin-left: 41px;
                        margin-right: 24px;
                    }

                    .step-option {
                        background: #eee;
                        height: 70px;
                        position: absolute;
                        bottom: -45px;
                        width: 100%;
                        margin-bottom: 6px;
                        left: 0px;
                        z-index: 2;
                    }

                    .back-step,
                    .back-step:hover {
                        margin-top: 7px;
                        position: absolute;
                        right: 80px;
                        background: #ff4350 !important;
                    }

                    .flex {
                        display: flex !important;
                    }

                    .btn-step {
                        background-color: rgba(0, 0, 0, .3);
                        color: white;
                    }

                    .hover-item:hover {
                        background-color: rgba(221, 221, 221, 0.45);
                    }

                    .hover-item:active {
                        background-color: rgba(221, 221, 221, 0.45);
                    }

                    .tabmenu>li:target>a {
                        background-color: rgba(221, 221, 221, 0.45);
                    }

                    .requerido {
                        color: red !important;
                    }

                    .tabactiva {
                        background-color: rgba(206, 206, 206, 0.71);
                    }

                    .colorblack {
                        color: black;
                    }

                    .itemsspam {
                        color: white !important;
                        border-radius: 12px !important;
                        box-shadow: 2px 2px 3px 0px #ccc !important;
                        position: relative !important;
                        top: 5px !important;
                        left: 11px !important;
                        cursor: pointer;
                    }

                    .hovpanel:hover {
                        background: #32364c2b;
                        color: #ffa51b;
                        cursor: pointer;
                    }

                    .mayus {
                        text-transform: uppercase;
                    }

                    #header-fixed {
                        position: fixed;
                        top: 0px;
                        display: none;
                    }

                    .cuadrado {
                        width: 25vh;
                        max-width: 240px;
                        height: 25vh;
                        max-height: 240px;
                        position: relative;
                        background: white;
                        box-shadow: 0 0 8px 1px #c7c7c7;
                    }

                    .coloritem {
                        color: black !important;
                    }

                    .autprocesada {
                        background-color: #4CAF50 !important;
                    }

                    .autactiva {
                        background-color: #ff9800 !important;
                    }

                    .switch label {
                        font-weight: 600;
                    }

                    .switch label .lever.check-c {
                        background-color: #818181 !important;
                    }

                    .switch label .lever.check-c:after {
                        background-color: #26a69a;
                    }

                    .switch label>span.activo {
                        color: #26a69a !important;
                    }

                    .text-center {
                        text-align: center;
                    }

                    div#modaldetalle {
                        top: 1% !important;
                    }

                    div#modalnovedades {
                        top: 1% !important;
                    }

                    .outer {
                        width: 1px;
                        height: 100%;
                        margin: auto;
                        position: relative;
                        overflow: hidden;
                    }

                    .inner {
                        /* position: absolute; */
                        width: 100%;
                        height: 50vh;
                        background: grey;
                        top: 30%;
                        box-shadow: 0px 0px 30px 20px grey;
                    }

                    .style-table-default {
                        height: 350px;
                        overflow: auto;
                    }

                    /* Style Scroll */
                    .scrollTableDefault::-webkit-scrollbar {
                        /* width */
                        width: 5px;
                    }

                    .scrollTableDefault::-webkit-scrollbar-track {
                        /* Track */
                        background: #f1f1f1;
                    }

                    .scrollTableDefault::-webkit-scrollbar-thumb {
                        /* Handle */
                        background: #888;
                    }

                    .scrollTableDefault::-webkit-scrollbar-thumb:hover {
                        /* Handle on hover */
                        background: #555;
                    }

                    .swal2-container {
                        z-index: 10000 !important;
                    }

                    #tautorizaciones_length,
                    #tautorizaciones_filter,
                    #tautorizacionespro_length,
                    #tautorizacionespro_filter {
                        margin-top: -150px;
                    }

                    #tautorizaciones_filter,
                    #tautorizacionespro_filter {
                        margin-right: 10px;
                    }

                    #tautorizacionespro {
                        width: 100% !important;
                    }

                    #tautorizaciones_paginate,
                    #tautorizacionespro_paginate {
                        margin-top: 15px;
                    }

                    .clase-gray {
                        color: #736a6a !important;
                    }
                </style>
            </div>
        </div>