<div class="row">
  <div class="row section-header" style="padding-bottom: 0px;">
    <h4 class="page-title">Consulta de Afiliado</h4>
  </div>
  <div class="row content-container server">
    <div class="row margin">
      <div class="card h550" style="height: 659px;">
        <div class="card-content" style="height: 90px;">
          <div class="col s12">
            <div class="col s3">
              <i class="material-icons left" style="margin-top: 14px;">more_vert</i>
              <h5>Datos Básicos</h5>
            </div>
            <!-- tipo de documento y documento -->
            <div class="col s9">
              <form id="busafi" ng-submit="buscarAfiliado()">
                <div class="col s5">
                  <div class="input-field col m12 s12">
                    <i class="material-icons prefix">view_list</i>
                    <select id="simple-select chosen" ng-model="tipoDoc" material-select watch>
                      <option value="0" disabled>SELECCIONAR</option>
                     <option value="{{x.CODIGO}}" ng-selected="x.CODIGO == Form.Tipo_Doc" ng-repeat="x in Tipos_Documentos">{{x.NOMBRE}}</option>
                    </select>
                    <label for="simple-select">Tipo de Documento</label>
                  </div>
                </div>
                <div class="col s5">
                  <div class="input-field col m12 s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="with_icon" type="text" ng-model="documento" class="validate">
                    <label for="with_icon" class="" >Documento</label>
                  </div>
                </div>
                <div class="col s2">
                  <div class="input-field col m12 s12">
                    <center><button class="waves-effect waves-light btn-large white-text pink" type="submit">Buscar</button></center>
                    <br>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="card-action">
          <div class="row">
            <!-- informacion basica del afiliado 
            <div class="col s10 m6 l6  offset-s1 offset-m3 offset-l3 " ng-hide="inactive1" style="margin-top: 30px;"> -->
            <div class="col l12 m12 offset-m3 offset-s1 s10" ng-hide="inactive1" style="margin-top: 30px;">
              
              <table id="tabla_ips" class="responsive-table table-bordered striped" style="height:100px;">
                <tbody>
                  <tr>
                    <th class="center" >NOMBRE AFILIADO</th>
                    <td colspan="3" align="center" >{{Data.NOMBRE}}</td>
                  </tr>
                  <tr>
                    <th class="center">TIPO DOCUMENTO</th>
                    <td colspan="1" align="center" >{{Data.TIPODOCUMENTO}}</td>
                    <th class="center"> DOCUMENTO</th>
                    <td colspan="1" align="center" >{{Data.DOCUMENTO}}</td>
                  </tr>
                  <tr>
                    <th class="center">TELEFONO</th>
                    <td colspan="1" align="center" >{{Data.TELEFONO}}</td>
                    <th class="center"> CELULAR</th>
                    <td colspan="1" align="center" >{{Data.CELULAR}}</td>
                  </tr>
                  
                  <tr>
                    <th class="center">DEPARTAMENTO</th>
                    <td colspan="1" align="center" >{{Data.DEPARTAMENTO}}</td>
                    <th class="center"> MUNICIPIO</th>
                    <td colspan="1" align="center" >{{Data.MUNICIPIO}}</td>
                  </tr>
                  <tr>
                    <th class="center">DIRECCION</th>
                    <td colspan="3" align="center" >{{Data.DIRECCION}}</td>
                  </tr>
                  <tr>
                    <th class="center">FECHA DE AFILIACIÓN</th>
                    <td colspan="1" align="center" >{{Data.FECHAAFILIACION}}</td>
                    <th class="center"> ESTADO</th>
                    <td colspan="1" align="center" >{{Data.ESTADO}}</td>
                  </tr>

                  <tr>
                    <th class="center">REGIMEN</th>
                    <td colspan="1" align="center" >{{Data.REGIMEN}}</td>
                    <th class="center"> NIVEL</th>
                    <td colspan="1" align="center" >{{Data.NIVEL}}</td>
                  </tr>                  
                  <tr>
                    <th class="center">GRUPO POBLACIONAL</th>
                    <td colspan="1" align="center" >{{Data.GRUPO_POBLACIONAL}}</td>
                    <th class="center"> SUB GRUPO POBLACIONAL</th>
                    <td colspan="1" align="center" >{{Data.SUB_GRUPO_POBLACIONAL}}</td>
                  </tr>                  
                  <tr>
                    <th class="center">METODOLOGIA G. POBLACIONAL</th>
                    <td colspan="1" align="center" >{{Data.METODOLOGIA_G_POBLACIONAL}}</td>
                    <th class="center"> ALTOCOSTO</th>
                    <td ng-if="Data.CORTE =='1'" colspan="1" align="center" >SI</td>
                    <td ng-if="Data.CORTE =='0'" colspan="1" align="center" >NO</td>
                  </tr>                  

                  <tr>
                    <th class="center" >PUNTAJE</th>
                    <td colspan="3" align="center" class="center">{{Data.PUNTAJE}}</td>
                  </tr>
                  <tr>
                    <th class="center" >IPS PRIMARIA</th>
                    <td colspan="3" align="center" class="center">{{Data.IPSC}}</td>
                  </tr>
                  <tr>
                    <th class="center" >IPS PYP</th>
                    <td colspan="3" align="center" class="center">{{Data.IPSP}}</td>
                  </tr>
                  <tr>
                    <th  class="center">IPS MEDICAMENTO</th>
                    <td colspan="3" align="center" class="center">{{Data.IPSM}}</td>
                  </tr>
                  <tr>
                    <th  class="center">PORTABILIDAD</th>
                    <td colspan="3" align="center" class="center"><span>{{Data.PORTABILIDAD}}</span></td>
                  </tr>
                </tbody>
              </table>
              
            </div> 
          </div>
        </div>
        <!-- cargando -->
        <div class="col s12" ng-hide="inactive2" style="margin-top: 30px;">
          <center><img src="assets\images\cargando2.gif" alt="Cargando..."></center>
        </div>
      </div>
    </div>
  </div>
</div>
