<div style="width: 45%; margin: 0 auto; padding-top: 10%;">
   <div class="col s12 m6 l6 card">
      <div class="ngdialog-close" style="float: right; font-size: 40px; padding-right: 20px;"></div>
      <div class="card-content">
         <h5>Generar Historial de Afiliaciones</h5>
      </div>
      <div class="card-action">
         <blockquote>
           Seleccione si desea generar el historial de todos sus aportes o uno en especifico.
         </blockquote>
      </div>
      <div style="width: 60%; margin: 0 auto;">
         <form id="anexos">
            <div class="input-list input-view-column input-padding">
               <input type="checkbox" id="checkboxBIS" ng-model="cert.filtro" />
               <label for="checkboxBIS">Generar historial completo</label>
            </div>
            <div class="input-list input-view-column input-padding" ng-show="!cert.filtro">
               <label for="tipoanexo" style="margin-top: -20px;">Periodo</label>
               <select class="select-chosen-eps" id="tipoanexo" ng-model="cert.periodo">
                  <option value="0">SELECCIONAR</option>
                  <option ng-repeat="per in Periodos track by $index" ng-value="per.CODIGO">{{per.NOMBRE}}</option>
               </select>
            </div>
            <!-- <div class="input-list input-view-column input-padding" ng-init="obtenerAnexos()">
               <label for="tipoanexo" style="margin-top: -20px;">Relaciones Laborales</label>
               <select class="select-chosen-eps" id="tipoanexo" ng-model="cert.relaciones">
                  <option ng-value="0">SELECCIONAR</option>
                  <option ng-repeat="rel in Relaciones track by $index" ng-value="rel.CODIGO">{{rel.NOMBRE}}</option>
               </select>
            </div> -->
           <!--  <div class="input-list input-view-column input-padding" ng-init="obtenerAnexos()">
               <label for="tipoanexo" style="margin-top: -20px;">Nucleo Familiar</label>
               <select class="select-chosen-eps" id="tipoanexo" ng-model="anexo" ng-change="validaTipo()">
                  <option ng-value="0">SELECCIONAR</option>
                  <option ng-repeat="anexo in tiposDocumental track by $index" ng-value="anexo.CODIGO">{{anexo.NOMBRE}}</option>
               </select>
            </div> -->
         </form>
      </div>
      <br>
      <center><a class="waves-effect waves-light btn white-text" ng-click="generaHistorico()" ng-disabled="subirdis">Generar</a></center><br>
   </div>
</div>