<div style="width: 600px; margin: 0 auto; padding-top: 10%;">
   <div class="col s12 m6 l6 card">
      <div class="ngdialog-close" style="float: right; font-size: 50px; padding-right: 20px;"></div>
      <div class="card-content">
         <h5>Cambiar contraseña del Afiliado</h5>
      </div>
      <center>
         <h6 class="text-center">Contraseña Actual</h6>
      </center>
      <div style="width: 30%; margin: 0 auto;">
         <div class="input-field col l4 m4 s4" ng-init="inputTypever = 'password'">
            <i class="icon-eye-6" ng-class="{'icon-eye-off-1':inputTypever == 'text'}" ng-click="inputTypever = (inputTypever == 'password'?'text':'password')" style="position: absolute; font-size: 30px;     color: #9e9e9ebf;top: 0px; right: 0px; z-index: 99999;"></i>
           <input style="font-size: 30px;" readonly type="{{inputTypever}}" ng-model="claveactual">
        </div>
      </div>
      <div style="width: 80%; margin: 0 auto;">
         <form  style="margin-top: -30px">
           <div class="input-field col l10 m12 s12"  ng-init="inputType1 = 'password'">
               <div class="tooltip" style="margin-left: -25px; padding-right: 25px; margin-bottom: -15px">
                  <label ng-click="GenerarPass()" style="position: absolute;left: -5px;"><i class="material-icons" style="cursor: pointer;">lock_open</i></label>
                  <span class="tooltiptext" style="left: 29%;">Generar Contraseña</span>
               </div>
                <i class="icon-eye-6" ng-class="{'icon-eye-off-1':inputType1 == 'text'}" ng-click="inputType1 = (inputType1 == 'password'?'text':'password')" style="position: absolute; font-size: 30px;    color: #9e9e9ebf; top: 30px; right: 0px; z-index: 99999;"></i>
               <input id="id" type="{{inputType1}}" class="validate" ng-model="generarpassword1" >
               <label for="id" class="" style="margin-top: 30px " >Contraseña nueva</label>
            </div>
            <div class="input-field col l12 m12 s12" ng-init="inputType = 'password'">
                <i class="icon-eye-6" ng-class="{'icon-eye-off-1':inputType == 'text'}" ng-click="inputType = (inputType == 'password'?'text':'password')" style="position: absolute; font-size: 30px;     color: #9e9e9ebf;top: 6px; right: 0px; z-index: 99999;"></i>
               <input id="id" type="{{inputType}}" class="validate" ng-model="generarpassword2">
               <label for="id" class="">Confirma la nueva contraseña</label>

            </div>
           
            <div class="col l4 m12 s12">
               <center>
                  <button class="btn" type="submit" ng-click="CambiarPass()" style="margin-top: 10px;"><i class="icon-key-4"></i> Cambiar Contraseña</button>
               </center>
               <br>
           
            </div>
         </form>
      </div>
      <!-- <br>
      <center><a class="waves-effect waves-light btn white-text" ng-click="" >Subir</a></center><br> -->
   </div>
</div>