<div style="width: 50%; margin: 0 auto; padding-top: 40px;">
   <div class="col s12 m6 l6 card">
      <div class="ngdialog-close" title="Cerrar" style="float: right; font-size: 40px; padding-right: 20px;"></div>
      <div class="card-content">
         <h5>Editar Información de {{nombre_afiliado}}</h5>
      </div>
      <div class="input-field">
         <form ng-submit="guardar()">
            <div class="card-action">
               <blockquote>
                  Seleccione el dato que quiera agregar y/o actualizar.
               </blockquote>
               <div>
                  <div class="input-list input-form">
                     <div class="input-list input-view-column input-padding">
                        <input numbers-only id="tel" type="text" ng-model="new.telfijo" mask='9999999'>
                        <label for="tel" >Telefono Fijo </label>
                     </div>
                  </div>
               </div><br>
               <div>
                  <div class="input-list input-form">
                     <div class="input-list input-view-column input-padding">
                        <input numbers-only id="cel" type="text" mask='9999999999' ng-model="new.celular">
                        <label for="cel">Telefono Celular</label>
                     </div>
                  </div>
               </div><br>
               <div>
                  <div class="input-list input-form">
                     <div class="input-list input-view-column input-padding">
                        <input numbers-only id="cel" name="cel" type="text" class="validate" ng-model="new.celular2" mask='9999999999'>
                        <label for="normal">Segundo Telefono Celular</label>
                     </div>
                  </div>
               </div><br>
               <div>
                  <div class="input-list input-form">
                     <div class="input-list input-view-column input-padding">
                        <input id="email" type="email" class="validate" ng-model="new.correo">
                        <label for="normal">Correo Electronico</label>
                     </div>
                  </div>
               </div><br>
               <input type="checkbox" id="optdir" ng-model="editdire"/>
               <label for="optdir">Actualizar Dirección</label>
               <div ng-show="editdire">
                  <blockquote>
                     Para actualizar la dirección diligencie el siguiente formato:
                  </blockquote>
                  <div>
                     <div class="input-list input-form">
                        <div class="input-list input-view-column" ng-init="obtenerViaPrincipal()">
                           <label for="simple-select" style="margin-top: -20px;">Via Principal</label>
                           <select  class="select-chosen-eps" ng-change="ccdire()" ng-model="new.selectViap">
                              <option ng-repeat="viap in viaprincipal.Viaprincipal" ng-value="viap.Codigo">{{viap.Nombre}}</option>
                           </select>
                        </div>
                        <div class="input-list input-view-column">
                           <input  id="normal" ng-change="ccdire()" type="text" class="validate" ng-model="new.numeroN">
                           <label for="normal" class="">Numero/Nombre</label>
                        </div>
                     </div>
                     <!--Letra y Numero-->
                     <div class="input-list input-form">
                        <div class="input-list input-view-column" ng-init="obtenerLetra()">
                           <label for="simple-selecty" style=" margin-top: -20px;" class="">Letra</label>
                           <select  class="select-chosen-eps format-list" id="simple-select"   ng-model="new.selectLetra"  >
                              <option ng-repeat="letra in letras.Letra" ng-value="letra.Codigo">{{letra.Nombre}}</option>
                           </select>
                        </div>
                        <div class="input-list input-view-column" ng-init="obtenerNumero()">
                           <input  id="number" type="text" class="validate" ng-model="new.selectnumero"   min= "1" max="9">
                           <label for="normal" class="">Numero</label>
                        </div>
                     </div>
                     <!--Bis y Cuadrante-->
                     <div class="input-list input-form">
                        <div class="input-list input-view-column input-padding">
                           <input  type="checkbox" id="checkboxBIS" ng-model="new.bis" />
                           <label for="checkboxBIS">Bis</label>
                        </div>
                        <div class="input-list input-view-column" ng-init="obtenerCuadrante()">
                           <label for="simple-selecty" style="margin-top: -20px;" class="">Cuadrante</label>
                           <select  class="select-chosen-eps format-list" id="simple-select" ng-model="new.selectcuadrante"  >
                              <option ng-repeat="cuadrante in Cuadrantes.Cuadrante" ng-value="cuadrante.Codigo">{{cuadrante.Nombre}}</option>
                           </select>
                        </div>
                     </div>
                     <!--NumeroVG y letraVG-->
                     <div class="input-list input-form">
                        <div class="input-list input-view-column input-padding">
                           <input  id="normal" type="text" class="validate" ng-model="new.numeroNVG">
                           <label for="normal" class=""> Numero VG</label>
                        </div>
                        <div class="input-list input-view-column" ng-init="obtenerLetra()">
                           <label for="simple-selecty" style="
                              margin-top: -20px;" class="">Letra VG</label>
                           <select  class="select-chosen-eps" id="simple-select" ng-model="new.selectLetraVG"  >
                              <option ng-repeat="letravg in letras.Letra" ng-value="letravg.Codigo">{{letravg.Nombre}}</option>
                           </select>
                        </div>
                     </div>
                     <!--Numero de placa y CuadranteVG-->
                     <div class="input-list input-form">
                        <div class="input-list input-view-column input-padding">
                           <input  id="normal" type="text" class="validate" ng-model="new.numeroplaca"  >
                           <label for="normal" class="">Numero Placa</label>
                        </div>
                        <div class="input-list input-view-column" ng-init="obtenerCuadrante()">
                           <label for="simple-selecty" style="margin-top: -20px;" class="">Cuadrante VG</label>
                           <select  class="select-chosen-eps" ng-model="new.selectcuadranteVG"  >
                              <option ng-repeat="cuadrantevg in Cuadrantes.Cuadrante" ng-value="cuadrantevg.Codigo">{{cuadrantevg.Nombre}}</option>
                           </select>
                        </div>
                     </div>
                     <!--Complemento-->
                     <div class="input-list">
                        <input  id="normal" type="text" class="validate" ng-model="new.complemento" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" title="Número de Piso / Apartamento o alguna otra indicación">
                        <label for="normal" class="">Complemento</label>
                     </div>
                     <!--Barrio/Localidad-->
                     <div class="input-list">
                        <input  id="barrio" type="text" class="validate" ng-model="new.barrio" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();">
                        <label for="barrio" class="">Barrio / Localidad</label>
                     </div>
                     <!--Direccion concatenada-->
                     <div class="input-list">
                        <div ng-if="new.bis==true">
                           <input ng-disabled="true" id="newdireccion"  type="text"  value="{{new.selectViap}} {{new.numeroN}} {{new.selectLetra}} {{new.selectnumero}} BIS {{new.selectcuadrante}} {{new.numeroNVG}} {{new.selectLetraVG}} {{new.numeroplaca}} {{new.selectcuadranteVG}} {{new.complemento}}" class="requerido" name="direccion" disabled>
                        </div>
                        <div ng-if="new.bis==false">
                           <input ng-disabled="true" id="newdireccion"  type="text"  value="{{new.selectViap}}  {{new.numeroN}} {{new.selectLetra}} {{new.selectnumero}} {{new.selectcuadrante}} {{new.numeroNVG}} {{new.selectLetraVG}} {{new.numeroplaca}} {{new.selectcuadranteVG}} {{new.complemento}}" class="requerido" name="direccion" disabled>
                        </div>
                        <label style="margin-top: -20px;">Dirección</label>
                     </div>
                  </div>
               </div>
               <center>
                  <button type="submit" class="btn btn-primary">Guardar</button>
               </center>
            </div>
         </form>
            
      </div>
      <br>
      <!-- <center><a class="waves-effect waves-light btn white-text success" ng-click="guardar()">Guardar</a></center> -->
      <br>
   </div>
</div>