<div class="white newdesing" id="pantalla">
  <style>
    .newdesing .content-container {
      min-height: 0;
    }
  </style>
  <div class="row section-header margin">
    <ul class="left mailbox-custom-search list-inline w-100 d-flex justify-content-between align-items-center">
      <li id="inicio">
        <h5 class="cursor-pointer" style="font-size: 22px;line-height: 22px;opacity: .54;margin: 9px 0"
          onclick="location.reload();">
          <!-- <h5 class="cursor-pointer" style="font-family: 'Product Sans',Arial,sans-serif;font-size: 22px;line-height: 22px;opacity: .54;margin: 9px 0" onclick="location.reload();"> -->
          Certificado de Retención
        </h5>
      </li>
    </ul>
  </div>

  <!-- //////////////////////////////////TAB 1////////////////////////////////// -->
  <div class="row dashboard-wrapper content-container white" style="height: 90vh;">
    <!-- FORM -->
    <div class="col s12 m12 l12" style="justify-content: center;">
      <div class="row card" id="Form1">
        <!--  -->
        <div class="col s12 m12 l12">
          <blockquote class="default-color">Generar Certificado
            <!-- <span class="right cursor-pointer" ng-click="Atras()">Cerrar</span> -->
          </blockquote>
          <div class="col s3 no-padding label-new m-b">
            <select class="select-default-new input-out-new m-l" id="form_empresa" ng-model="form.empresa">
              <option value="" disabled>SELECCIONAR</option>
              <option value="890102044">CAJACOPI EPS Caja</option>
              <option value="901543211">CAJACOPI EPS SAS</option>
            </select>
            <label>Razón</label>
          </div>
          <div class="col s3 no-padding label-new m-b">
            <select class="select-default-new input-out-new m-l" id="form_anno" ng-model="form.anno">
              <option value="" disabled>SELECCIONAR</option>
              <option value="2023">2023</option>
              <option value="2022">2022</option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
            </select>
            <label>Año</label>
          </div>
          <div class="col s3 no-padding label-new m-b">
            <input class="margin border-none white input-text-new input-w-p input-out-new w-100 m-l" type="text"
              autocomplete="off" id="form_proveedor" ng-model="form.proveedor" maxlength="15" numbers-only>
            <label>Proveedor</label>
          </div>
        </div>
        <!--  -->
        <div class="col s12 m12 l12 center m-t m-b">
          <input class="btn white-text default-linear-gradient" type="submit" value="Consultar" ng-click="validarForm();">
          <input class="btn white-text red" style="background:linear-gradient(to bottom left,#e04242,#8b0000,#e04242);"
            type="submit" value="Limpiar" ng-click="limpiarForm();">
        </div>
      </div>
    </div>
    <!-- FORM -->
    <!-- FORM -->
    <!-- ///// -->


    <style>
      
      .default-linear-gradient {
        border-radius: 0px !important;
      }

      .btn-floating .default-linear-gradient {
        border-radius: 10px !important;
      }

      .Valid_Campo {
        border: 1px solid red !important;
      }

      .card-panel,
      .card,
      .btn {
        box-shadow: 0 2px 5px 0 rgb(197 208 239), 0 2px 10px 0 rgb(197 208 239) !important;
      }

      .tabs {
        height: 30px !important;
      }

      .tabs .tab {
        line-height: 30px !important;
        height: 30px !important;
      }

      /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

      .icon-docs:before {
        margin: 0;
        font-size: 19px;
      }

      select:disabled {
        color: black;
      }

      .label-new>label {
        display: table;
      }

      #toast-container .toast {
        border-radius: 10px !important;
        font-weight: 600;
        text-align: center !important;
        word-break: keep-all;
        padding: 10px 25px;
        width: auto;
        background: linear-gradient(to bottom left, #e04242, #8b0000, #e04242);
      }

      #toast-container .success {
        background: linear-gradient(to bottom left, #0fda00, #007217, #0fda00);
      }

      ul::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
      }

      .select-wrapper input.select-dropdown:disabled {
        color: black;
      }

      blockquote {
        font-weight: 700;
        background-color: #f1f3f4;
      }

      /* //////////////////////////////////////////////////////////////////////////////// */
    </style>
  </div>