<div class="white newdesing" id="pantalla">
  <style>
    .newdesing .content-container {
      min-height: 0;
    }
  </style>
  <div class="row section-header margin">
    <ul class="left mailbox-custom-search list-inline w-100 d-flex justify-content-between align-items-center">
      <li id="inicio">
        <h5 class="cursor-pointer"
          style="font-family: 'Product Sans',Arial,sans-serif;font-size: 22px;line-height: 22px;opacity: .54;margin: 9px 0"
          onclick="location.reload();">
          Impresión Masiva
        </h5>
      </li>
    </ul>
  </div>

  <!-- <button ng-click="Hoja_Limpiar()">asd</button> -->
  <!-- //////////////////////////////////TAB 1////////////////////////////////// -->
  <div class="row dashboard-wrapper content-container white" style="height: 90vh;">
    <div class="col l12 m12 s12 center">
      <div style="position: absolute;width: 83vw;margin-top: 10em;margin-left: 5em;">
        <div id="Imagen_back">
          <img src="images\administrativa\consultatercero.svg" alt="Imagen">
        </div>
      </div>
    </div>
    <!-- /////////// -->
    <div id="Form" class="card-content clearfix card"
      style="width: 80%;margin: 1rem auto auto auto;border-radius: 15px;">
      <div class="Anim_Show Form_Desactivados" style="margin: auto;width: 90;">
        <div class="row" style="margin-bottom: 0;width: 98%;">


          <div class="col s12 m12 l12 m-t">
            <form ng-submit="buscarIps()">
              <div class="col s12 no-padding label-new m-b">
                <input class="margin border-none white input-text-new input-w-p input-out-new w-100 m-l"
                  autocomplete="off" ng-model="form.proveedor" list="form_proveedor" text-upper required>
                <datalist id="form_proveedor" open="open">
                  <option value="{{x.codigo +' - '+ x.razon_social}}" ng-repeat="x in list.ips">
                </datalist>
                <label class="m-l">Proveedor (*)
                  <i class="icon-search c-pointer" ng-click="buscarIps()"></i>
                </label>
              </div>
            </form>
          </div>

          <div class="col s12 m12 l12 m-t">
            <div class="col s6 no-padding label-new m-b">
              <select class="select-default-new input-out-new m-l" style="box-shadow: none;" watch
                ng-model="form.documento">
                <option value="" disabled>SELECCIONAR</option>
                <option value="{{x.codigo}}" ng-repeat="x in list.documento">{{x.codigo}}-{{x.nombre}}</option>
              </select>
              <label>Documento</label>
            </div>

            <div class="col s6 no-padding label-new m-b">
              <select class="select-default-new input-out-new m-l" style="box-shadow: none;" watch
                ng-model="form.concepto">
                <option value="" disabled>SELECCIONAR</option>
                <option value="{{x.codigo}}" ng-repeat="x in list.concepto">{{x.codigo}}-{{x.nombre}}</option>

              </select>
              <label>Concepto</label>
            </div>
          </div>

          <div class="col s12 m12 l12 m-t">
            <div class="col s3 no-padding label-new m-b">
              <input class="margin border-none white input-text-new input-w-p input-out-new w-100 m-l" type="date"
                autocomplete="off" ng-model="form.fechaInicio" max="{{SysDay | date:'yyyy-MM-dd'}}">
              <label>Fecha de Inicio (*)</label>
            </div>

            <div class="col s3 no-padding label-new m-b">
              <input class="margin border-none white input-text-new input-w-p input-out-new w-100 m-l" type="date"
                autocomplete="off" ng-model="form.fechaFinal">
              <label>Fecha de Final (*)</label>
            </div>

            <div class="col s3 no-padding label-new m-b">
              <input class="margin border-none white input-text-new input-w-p input-out-new w-100 m-l"
                autocomplete="off" ng-model="form.numeroInicial" numbers-decimal-only maxlength="10" required>
              <label>Numero Inicial</label>
            </div>
            <div class="col s3 no-padding label-new m-b">
              <input class="margin border-none white input-text-new input-w-p input-out-new w-100 m-l"
                autocomplete="off" ng-model="form.numeroFinal" numbers-decimal-only maxlength="10" required>
              <label>Numero Final</label>
            </div>
          </div>



        </div>


        <div class="row">

          <div class="col s12 center">
            <input class="btn white-text red"
              style="background:linear-gradient(to bottom left,#e04242,#8b0000,#e04242);" type="submit" value="Limpiar"
              ng-click="formLimpiar();">
            <input ng-click="generar()" class="btn white-text default-linear-gradient" type="submit" value="Generar">

          </div>
        </div>

      </div>
    </div>
    <!-- <<<<<<<<<<<<<<<<<<<<  modal Documentacion requerida creado por yordis >>>>>>>>>>>>>>>>>>>>>>>>>>> -->



  </div>
  <!-- ///// -->


  <style>
    th.default-linear-gradient {
      background-image: linear-gradient(0deg, #5870ae, #1a2e63, #5870ae) !important;
    }

    .default-linear-gradient {
      border-radius: 0px !important;
    }

    .Valid_Campo {
      border: 1px solid red !important;
    }


    @keyframes Anim_Show {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    .Anim_Show {
      animation-name: Anim_Show;
      animation-duration: 1s;
    }

    #Imagen_back {
      cursor: pointer;
      width: 50vw;
      margin: auto;
      opacity: .4;
    }

    .card-panel,
    .card,
    .btn {
      box-shadow: 0 2px 5px 0 rgb(197 208 239), 0 2px 10px 0 rgb(197 208 239) !important;
    }

    .tabs {
      height: 30px !important;
    }

    .tabs .tab {
      line-height: 30px !important;
      height: 30px !important;
    }


    /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    .list-group-item:last-child {
      margin-bottom: 0;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    .list-group-item:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    .list-group-item:hover {
      color: #1a2e63;
      cursor: pointer;
      font-weight: bold;
    }

    .list-group-item.hover {
      color: #1a2e63;
      cursor: pointer;
      font-weight: bold;
    }

    .list-group-item {
      position: relative;
      display: block;
      padding: 10px 15px;
      margin-bottom: -1px;
      background-color: #fff;
      border: 1px solid #ddd;
      font-size: 0.7em;
    }

    .list-group {
      font-size: 14px;
      overflow: auto;
      max-height: 13vh;
      position: absolute;
      margin: 0;
      width: inherit;
      margin-top: 2.2em;
      z-index: 3;
    }

    .tabla_estilo_0 th {
      position: sticky;
      top: 0;
      z-index: 9;
    }

    .label-new>label {
      display: table;
    }

    .select_maxheigth ul {
      max-height: 125px;
    }

    .dropdown-content li {
      min-height: 23px;
    }

    .dropdown-content li>span {
      line-height: 32px;
      padding: 0px 16px;
    }

    #toast-container .toast {
      border-radius: 10px !important;
      font-weight: 600;
      text-align: center !important;
      word-break: keep-all;
      padding: 10px 25px;
      width: auto;
      background: linear-gradient(to bottom left, #e04242, #8b0000, #e04242);
    }


    ul::-webkit-scrollbar {
      width: 6px;
      background-color: #F5F5F5;
    }

    .select-wrapper input.select-dropdown:disabled {
      color: black;
    }

    .Green_Est {
      background-color: green !important;
    }

    .Red_Est {
      background-color: red !important;
    }

    /* //////////////////////////////////////////////////////////////////////////////// */
  </style>
</div>
