  <div class="row section-header" ng-controller="res1587habController">
    <h4 class="page-title">Habilitar ips Resolucion 1587</h4>
    <div class="card h550">
      <div class="col s12 m12 s12">
        <div class="card charts">
          <div class="card-content">
            <div class="card-action">
              <div class="row">
                <div class="col s12">
                  <form id="busafi" ng-submit="GuardarTerceroHab()" class="ng-valid ng-dirty ng-valid-parse">
                    <div class="col m4 s12 ">
                        <div class="col s10">
                          <div class="input-field col m12 s12">
                            <input id="buscar" ng-model="nitips" ng-disabled="inactivenit" ng-blur="validarips()" type="number" min="1" class="ng-valid ng-touched ng-dirty ng-valid-parse" required>
                            <label for="buscar" class="search-label active">Nit IPS</label>
                             <p class="ng-binding">{{nomips}}</p>
                          </div>
                        </div>
                    </div>
                    <div class="col m4 s12">
                      <div class="input-field col m12 s12">
                        <!-- <i class="material-icons prefix">view_list</i> -->
                        <label for="simple-select" class="active">Año</label>
                        <select class="select-chosen-eps" ng-model="anno" ng-change="obtenerperiodo()" id="simple-select" required>
                          <option value="" selected disabled>SELECCIONAR</option>
                          <option ng-value="{{an.anno}}" ng-repeat = "an in annos">{{an.anno}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col m4 s12">
                      <div class="input-field col m12 s12">
                        <!-- <i class="material-icons prefix">view_list</i> -->
                        <label for="simple-select" class="active">Periodo</label>
                        <select class="select-chosen-eps" ng-model="periodo" id=" simple-select" required>
                          <option value="" selected disabled>SELECCIONAR</option>
                          <option ng-value="{{pr.periodo}}" ng-repeat = "pr in periodos">{{pr.periodo}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col m2 s12">
                      <div class="input-field col m12 s12">
                        <center><button class="waves-effect waves-light btn-large white-text pink" type="submit">Habilitar</button></center>
                        <br>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
