<div class="newdesing" style="position:relative; width: 100%; height: 100%;">

    <div class="row section-header">
        <ul class="left mailbox-custom-search list-inline" style="width: 100%;display: flex;justify-content:
        space-between;align-items: center;">
            <li id="inicio1">
                <h5>Permisos de usuarios</h5>
            </li>
        </ul>
    </div>

    <div class="permisos-body">
        <div class="card contentcard" style="height: auto; padding: 12px;">
            <div style="display:flex; gap: 10px;">
                <input type="text" placeholder="Buscar usuario"
                    style="background-color:  #f1f3f4; width: 20em !important" ng-model="buscarUsuarioValue">

                <button class="btn waves-effect waves-light" ng-click="buscarUsuario()"
                    style="display: flex; align-items: center; gap:5px; background: #f1f3f4; border: 1px solid #1a2d6379; color: #1a2e63; height: 2em !important">
                    <i class="fa fa-search" aria-hidden="true" style="padding-right: 10pz; font-size: 14px;"></i>Buscar</button>
            </div>

            <div ng-show="!!usuario">
                <div>
                    <label for="">Cedula: {{usuario.CEDULA}}</label>
                </div>
                <div>
                    <label for="">Nit: {{usuario.NIT}}</label>
                </div>
                <div>
                    <label for="">Perfil: {{usuario.NOMBRE}}</label>
                </div>
                <div>
                    <label for="">Nombre: {{usuario.USUARIO}}</label>
                </div>
            </div>

        </div>

        <div ng-show="!!usuario">
            <table id="tablaOriginal_1" class="striped table-bordered white">
                <thead class="default-background white-text">
                    <tr style="position: relative;">
                        <th class="border-none" >
                            Codigo
                        </th>
                        <th class="border-none" data-field="Titulo">
                            Titulo
                        </th>
                        <th colspan="2" class="center-align border-none">Opciones</th>
                    </tr>
                </thead>

                <tbody class="scroll-tbody-2 collapsible-body-new">
                    <tr ng-if="!modulos.length">
                        <td colspan="4" class="center-align">
                            No hay módulos para mostrar
                        </td>
                    </tr>
                    <tr ng-repeat-start="modulo in modulos | orderBy:'titulo'"
                        ng-class="{'active': collapseActive == $index}">
                         <td ng-click="collapse($index)">
                            {{modulo.Codigo}}</td>
                        <td ng-click="collapse($index)">
                            {{modulo.Nombre}}</td>
                        <td ng-click="collapse($index)" ng-class="{'collapseActive': collapseActive == $index}"
                            class="center-align">
                            <i ng-class="{'icon-up-open-1': collapseActive == $index, 'icon-down-open-1': collapseActive != $index}"
                                class="margin" style="font-size: 20px;"></i>
                        </td>
                    </tr>
                    <tr ng-repeat-end>
                        <td colspan="4" class="panel" ng-show="collapseActive == $index">
                            <table class="responsive-table">
                                <thead>
                                    <tr>
                                        <th style="width: 80%;" data-field="Codigo">Titulo</th>
                                        <th style="width: 20%;cursor: pointer;" class="center-align"
                                            data-field="Titulo">Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="center-align" ng-repeat="opcion in modulo.Acciones | orderBy:'titulo'">
                                        <td style="width: 80%;">{{opcion.Nombre}}</td>
                                        <td style="width: 20%; position:relative" class="center-align switch">
                                            <label>
                                                <input type="checkbox" ng-model="opcion.Permisos"
                                                ng-change="opcionEstado(opcion)">
                                                <span class="lever"></span>
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <style>
        .newdesing .ng-leave-active,
        .newdesing .active-add,
        .newdesing .ng-hide-add-active,
        .newdesing .ng-hide-remove,
        .newdesing .ng-hide-add-active {
            transition: all 0s !important;
            animation: 0s ease 0s 1 normal none running none !important;
        }

        input {
            height: 2em !important;
        }

        .permisos-body {
            width: 100%;
            height: auto;
            padding: 16px 30px;
        }

        .collapseActive {
            color: #26a69a;
        }

        i {
            cursor: pointer;
        }

        .h-auto {
            height: auto;
        }

        .tabla-1 {
            overflow: auto;
            height: calc(100vh - 265px) !important;
            margin-bottom: 20px !important;
        }

        .gray-input {
            background-color: #e5e6e6 !important;
        }

        .newdesing td,
        th {
            font-size: 13px;
        }

        #listausuarios .scroll-tbody-2 tr:not(.active)+tr>.panel {
            display: none;
        }

        #listausuarios td,
        th {
            border-radius: 0;
        }

        #listausuarios .active.dropdown-toggle-angular~div#modulo_dropdown {
            display: block !important;
        }

        #listausuarios #modulo_dropdown {
            top: 30px;
            width: 400px;
        }
    </style>


</div>
