<div class="row">
    <div class="col12">
      <div class="card" style="margin: 10px;">
  <div class="foot4 divcardcustom">
    <div class="text-al switch divcardcustom2"><strong>  Busqueda de Tercero </strong>
    </div>
  </div>
  <div class="card-content" style="margin-top: -50px;">
   <div class="input-list input-form">
     <div class="input-list">
     <input type="text" ng-model="nombrefiltro" style="color: black;" placeholder="Nombre...">
    <button  type="button" ng-click="mostrarusuario()" class="btn btn-primary" style="margin: 2%" >
         BUSCAR</button>
    </div>
 </div>
</div>
</div>

    <div class="card" style="margin: 10px;">
        <div class="foot4 divcardcustom">
            <div class="text-al switch divcardcustom2"><strong>  Informacion de Tercero </strong></div>
        </div>
        <div style="overflow-y: auto;">
        <div class="card-content"  style="height: 400px;">
          <table class="responsive-table bordered">
            <thead>
                <tr>
                    <th data-field="Numero">Nombre</th>
                    <th data-field="Cargo">Cargo</th>
                    <th data-field="Accion">Accion</th>
                </tr>
            </thead>
            <tbody >
                <tr data-ng-repeat="dato in datos">
                        <td>{{dato.nombre}}</td>
                        <td>{{dato.cargo}}</td>
                        <td><i class="material-icons dp48" style="cursor: pointer;" ng-click="asignacion(dato.nombre,dato.ubicacion,dato.cedula)">assignment_ind</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
          </div>

    </div>
</div>
</div>

