<div id="gacasDetalles" class="close-none newdesing_modal">
    <div class="col s12 m6 l6 card">
        <div class="card-content">
            <h5 id="ngdialog1-aria-labelledby">Detalles de la solicitud</h5>
            <div class="ngdialog-close"></div>
        </div>
        <div class="card-action">
            <div class="row">
                <div class="col l6 md6 sm12">
                    <div class="row">
                        <div class="col l6 md6 sm12" style="border-right: 2px solid #f7f7f7;">
                            <p><strong>ACAS:</strong></p>
                            <label>{{cod_acas}}</label>
                            <p><strong>ESTADO:</strong></p>
                            <label>{{cod_estado}}</label>
                            <p><strong>FECHA:</strong></p>
                            <label>{{cod_fecha}}</label>
                            <p ng-show="!ifadj"><strong>ADJUNTO:</strong></p>
                            <strong><a ng-show="!ifadj" ng-click="descargafile(cod_adjunto)" style="cursor: pointer;"
                                    target="_blank">
                                    ver</a></strong>
                        </div>
                        <div class="col l6 md6 sm12">
                            <p><strong>MOTIVO:</strong></p>
                            <label>{{cod_motivo}}</label>
                            <p><strong>CONCEPTO:</strong></p>
                            <label>{{cod_concepto}}</label>
                            <p ng-show="cod_oficina!=null" {{cod_oficina}}><strong>OFICINA:</strong></p>
                            <label ng-show="cod_oficina!=null">{{cod_oficina}}</label>
                            <p ng-show="serialverequipo!=null && codigo_concepto == 'ST'"  {{serialverequipo}}><strong>SERIAL EQUIPO:</strong></p>
                            <label ng-show="serialverequipo!=null && codigo_concepto == 'ST'">{{serialverequipo}}</label>
                            <p ng-show="serialverequipo==null && codigo_concepto == 'ST'"><strong>SERIAL EQUIPO:<input id="with_icon2" type="text"  ng-model="numeroserial" ></strong></p>
                        </div>
                        <div class="col l12 md12 sm12">
                            <p><strong>DESCRIPCION:</strong></p>
                            <div style="overflow: auto;height: calc(50vh - 210px);width: 100%;">
                                <label>{{cod_descripcion}}</label>
                            </div>
                        </div>

                        <div ng-hide="infocartera">
                            <div class="col l6 md6 sm12" style="border-right: 2px solid #f7f7f7;">
                                <p><strong>DOCUMENTO APORTARTE: </strong></p>
                                <label>{{data_cartera.tipo_documento_aportante}} -
                                    {{data_cartera.documento_aportante}}</label>
                            </div>
                            <div class="col l6 md6 sm12">
                                <p><strong>NOMBRE APORTANTE: </strong></p>
                                <label>{{data_cartera.nombre_aportante}} </label>
                            </div>
                        </div>


                        <div class="col l6 md6 sm12" ng-hide="infoAfiliado">
                            <p><b>Identificación del usuario:</b></p>
                            <p>Identificación: {{data_afil_temp.identificacion}}</p>
                            <p>Nombre: {{data_afil_temp.nombre}}</p>
                            <p>Genero: {{data_afil_temp.genero}}</p>
                            <p>Fecha de Nacimiento (dd/mm/yyyy): {{data_afil_temp.nacimiento}} </p>
                            <p>Municipio de Residencia: {{data_afil_temp.municipio}}</p>
                        </div>
                        <div class="col l6 md6 sm12" ng-hide="infoAfiliado">
                            <p><b>Información de contacto:</b></p>
                            <p>Teléfono: {{data_afil_temp.contacto}}</p>
                            <p>Correo: {{data_afil_temp.correo}}</p>
                            <p>Dirección: {{data_afil_temp.direccion}}</p>                                          
                            <p><b>Información adicional:</b></p>
                            <p>Asesor de Movilidad: {{data_afil_temp.asesor}}</p>
                        </div>
                    </div>

                <div ng-hide="panelOP || cod_estado != 'Activo' || codigo_concepto == 'RS' && validateBtn == false" class="row margin">
                    <i ng-click="Cerraracas()" class="icon-check white-text default-background-light"
                        style="display: flex;justify-content: center;align-items: center;width: 40%;height: 30px;cursor: pointer;margin: auto;">Cerrar
                        Solicitud
                    </i>
                </div>

                <div ng-show="codigo_concepto == 'RS' && validateBtn == false" class="row margin">
                    <i ng-click="tranferir(cod_motivo)" class="icon-shuffle-3 white-text default-background-light"
                        style="display: flex;justify-content: center;align-items: center;width: 40%;height: 30px;cursor: pointer;margin: auto;">Transferir 
                        a responsable
                    </i><br>
                    <span class="green-text" style="font-weight: 600;">Al dar click, esta mesa de ayuda se va a transferir al responsable principalmente asignado</span>
                </div>

                </div>
                <div class="col l6 md6 sm12" style="border-left: 2px solid #f7f7f7;">
                    <div id="chat_comment" class="row" style="overflow:auto;height: calc(100vh - 340px);">
                        <div class="row" ng-show="!comentarios.length"
                            style="display: flex;justify-content: center;align-items: center;height: 80%;">
                            <i class="icon-comment-2" style="font-size: 40px;"></i>
                        </div>
                        <div class="row" ng-repeat="com in comentarios"
                            ng-class="{'chat_right whi':nombre.toLowerCase() == com.NOMBRE.toLowerCase()}">
                            <div class="col l1 md1 m1 margin no-padding border-none">
                                <img src="assets/images/users/default-user.png" alt="jim"
                                    class="circle responsive-img valign margin hide-on-small-only">
                            </div>
                            <div class="col l11 md11 m11">
                                <div class="desc_com"
                                    ng-class="{'white-text default-background-light':nombre.toLowerCase() == com.NOMBRE.toLowerCase()}"
                                    style="padding: 1em;">
                                    <i ng-if="com.RUTA!=null" ng-click="DescargarRespuesta(com.RUTA)"
                                        style="float: right;cursor: pointer !important;"
                                        class="material-icons dp48">attach_file</i>
                                    <p class="margin">
                                        <strong>{{com.DESCRIPCION}}</strong>
                                    </p>
                                    <small>{{com.NOMBRE}}</small>
                                </div>
                                <div
                                    style="width: 100%;height: 0;border-bottom: 1px solid #ffca867a;margin: 1em 0;position: relative;display: flex;justify-content: space-between;align-items: center;">
                                    <span style="font-size: 10px;background-color: #ffffff;padding: 0 10px;">
                                        {{com.FECHA}}
                                    </span>
                                    <span style="font-size: 10px;background-color: #ffffff;padding: 0 10px;">
                                        {{com.HORA}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-hide="cod_estado != 'Activo'" class="row margin" style="display: flex;">
                        <div class="col l11 md11 m11">
                            <div class="input-field col m12 s12 margin no-padding">
                                <div class="default-background file-field input-field"
                                    style="display: flex;margin: 0;color: white;">
                                    <div>
                                        <i class="material-icons dp48" style="margin-top: 10px;">attach_file</i>
                                        <input type="file" id="adjuntocab" accept=".pdf" required>
                                    </div>
                                    <div class="file-path-wrapper" style="width: 100%;">
                                        <input class="file-path validate valid" type="text" id="nombreadjunto"
                                            placeholder="Seleccionar un adjunto" ng-model="DocumentoAbjunto"
                                            style="margin: 0;border: none;">
                                    </div>
                                </div>
                            </div>
                            <div class="col l12 md12 m12 no-padding">
                                <textarea class="border-none border-radius-none default-background-light white-text"
                                    placeholder="Comentar..." ng-model="observacion" rows="4" cols="50" maxlength="4000"
                                    style="margin: 0px 0px 10px;border-radius: 3px;padding: 1em;max-width: 100%;width: 100%;height: 70px;outline: none;"></textarea>
                            </div>
                        </div>
                        <div class="col l1 md1 m1 margin no-padding border-none">
                            <i ng-click="CrearComentario('R')" class="icon-paper-plane white-text "
                                style="background-color: #f2cea5;display: flex;justify-content: center;align-items: center;width: 3.4em;height: 3.4em;border-radius: 50%;cursor: pointer;margin: auto;"></i>
                            <!-- <i ng-click="insertarComentario('R')" class="icon-paper-plane white-text "
                style="background-color: #f2cea5;display: flex;justify-content: center;align-items: center;width: 3.4em;height: 3.4em;border-radius: 50%;cursor: pointer;margin: auto;"></i> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>