<div style="width: 80%; margin: 0 auto; padding-top: 250px;">
    <div class="col s12 m6 l6 card">
        <div class="ngdialog-close" style="float: right; font-size: 40px; padding-right: 20px;"></div>
        <div class="card-content">
            <h5>Registro Quejas</h5>
        </div>
        <div class="card-action">
            <div class="row">
                <form ng-submit="registrarent()">
                    <div class="col l12 m12 s12">
                        <blockquote>
                            A continuación ingrese macromotivo de queja:
                        </blockquote>
                        <div class="row">
                            <div class="col l12" style="display: flex;">
                                <div class="input-field col l6 m12 s12">
                                    <!-- <div class="input-list input-view-column" > -->
                                    descripcion
                                    <!-- select_quejas -->
                                    <!-- <label for="normal8">Hospitalizacion</label> -->
                                    <select class="select-chosen-eps" ng-model="array_queja.codigo">
                                        <option value="">SELECCIONAR</option>
                                        <option ng-repeat="hp in mot_especificos" ng-value="hp.CODIGO">{{hp.NOMBRE}}
                                        </option>
                                    </select>
                                    <!-- </div> -->
                                    <!-- <input id="no_censo" type="text" ng-model="entr.numero" disabled>
                                                <label for="no_censo" class="">Motivo</label> -->
                                </div>
                                <div class="input-field col l6 m12 s12" style="margin-top: 3.45%">
                                    <input id="ubi_censo" type="text" ng-model="array_queja.descripcion">
                                    <label for="ubi_censo" class="">Escriba queja aqui</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <br>
            <center><input ng-click="actualiza_queja()" class="waves-effect waves-light btn white-text success"
                    type="submit">
            </center>
        </div>
        <br>
    </div>
</div>