<div style="width: 80%; margin: 0 auto; padding-top: 50px;">
    <div class="col s12 m6 l6 card">
        <div class="ngdialog-close" style="float: right; font-size: 40px; padding-right: 20px;"></div>
        <div class="card-content">
            <h5>Historial Autorizaciones</h5>

        </div>
        <div class="card-action">
            <div class="row">
                    <div class="responsive" >
                            <table id="ha" class="table table-bordered table-striped">
                              <thead>
                                <tr>
                                  <th style="text-align:center;">#</th>
                                  <th style="text-align:center;">NUMERO</th>
                                  <th style="text-align:center;">AFILIADO</th>
                                  <th style="text-align:center;">IPS</th>
                                  <th style="text-align:center;">SERVICIO</th>
                                  <th style="text-align:center;">REGIMEN</th>
                                  <th style="text-align:center;">CLASE</th>
                                  <th style="text-align:center;">FECHA</th>
                                  <th style="text-align:center;">ESTADO</th>
                                  <th colspan="4" style="text-align:center;">ACCIÓN</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="aut in listarAutorizaciones" >
                                  <td style="text-align:center;">{{$index + 1}}</td>
                                  <td style="text-align:center;">{{aut.NUMERO}}</td>
                                  <td style="text-align:center;">{{aut.NOMBRE_AFI}}</td>
                                  <td style="text-align:center;">{{aut.IPS}}</td>
                                  <td style="text-align:center;">{{aut.SERVICIO}}</td>
                                  <td style="text-align:center;">{{aut.REGIMEN}}</td>
                                  <td style="text-align:center;">{{aut.CLASE}}</td>
                                  <td style="text-align:center;">{{aut.FECHA}}</td>
                                  <td style="text-align:center;"><span class="status {{aut.ESTADO_CLASE}} white-text">{{aut.ESTADO}}</span></td>
                                  <td colspan="{{aut.NUMSPAN}}" style="text-align:center;">
                                    <div class="tooltip">
                                      <i style="cursor:pointer;" ng-click="openmodals('modaldetalle',aut);sumPrint = 0;" class="material-icons">assignment_turned_in</i>
                                      <span class="tooltiptext">Detalle</span>
                                    </div>
                                  </td>
                                </tr>
                                <tr ng-hide="viewdataAut">
                                  <td colspan="13" class="order-th center-align"><b>No hay autorizaciones ordinarias
                                      encontradas.</b></td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
        
    </div>























