<div style="width: 95%; margin: 0 auto; padding-top: 50px;">
    <div class="col s12 m6 l6 card">
        <div class="ngdialog-close" style="float: right; font-size: 40px; padding-right: 20px;"></div>
        <div class="card-content">
            <h5>Historial Glosas</h5>

        </div>
        <div class="card-action">
            <div class="row">
                <div class="col l12 m12 s12">
                    <table class="responsive-table striped table-bordered" align="center" id="informacion"
                        style="border-bottom: none;">
                        <thead>
                                <th><center>MOTIVO GLOSA</center></th>
                                <th><center>DIAGNOSTICO</center></th>    
                                <th><center>DESCRIPICION</center></th>                                                                                                          
                                <th><center>OBSERVACION GLOSA</center></th>
                                <th><center>RESPONSABLE</center></th>
                                <th><center>REVERSA</center></th>
                                <th><center>VALOR</center></th>
                                <th><center>FECHA</center></th>
                        </thead>
                        <tbody>
                           <tr ng-repeat="data in hglosado">
                                <td>{{data.CODIGLOSA}}</td>   
                                <td>{{data.DX}}</td>
                                <td>{{data.MENSAJE}}</td>
                               <td>{{data.OBSERVACIONGLOSA}}</td>
                               <td>{{data.RESPONSABLE}}</td>
                               <td>{{data.REVERSA}}</td>
                               <td>$ {{data.VALOR}}</td>
                               <td>{{data.FECHA}}</td>
                           </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
