
<div style="width: 70%; margin: 0 auto; padding-top: 50px;">
   <div class="col s12 m6 l6 card">
      <div class="ngdialog-close" style="float: right; font-size: 50px; padding-right: 20px;"></div>
      <div class="card-content">
         <blockquote>
            <h5>Chat en Linea</h5>
           Censo No.{{numerocenso}}
         </blockquote>
      </div>

      <div class="card-content clearfix">
         <div class="row dashboard-wrapper content-container ng-scope">
        <div class="row part2 bg-white white">
        </div>
        <div class="row allMails bg-white white">
        <div class="col s12 messageBox first_3_2" ng-hide="vwchat">
            <ul class="collection scrclass" id="ventana">
                <li class="collection-item avatar second">
                    <div class="card-panel">
                        <span>Envie un mensaje para iniciar un chat.</span>
                    </div>
                </li>
            </ul>
        </div>
        <div id="modal_mensajes" class="col s12 messageBox first_3_2 scrclass" ng-hide="!vwchat">
            <ul class="collection" id="ventana">
                <li ng-repeat ="message in messages"  class="collection-item avatar second" style="border-bottom: 0px!important;">
                    <img src="assets\images\reciente.png" class="circle" style="top:37%">
                    <span class="title" style="font-size: 12px; color: #101c3b; font-weight: bold;">{{message.NOMBRE}}</span>
                    <span style="float: right; font-size: 10px;">{{message.FECHA}}</span>
                    <div class="card-panel" style="border-bottom: 0px!important;  background-color: #3f60ad1a;">
                        <span style="font-size: 13px">{{message.MENSAJE}}</span>
                        <p style="float: right; font-size: 10px; color: #9b9b9b; padding-top: 20px;">{{message.HORA}}</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="reply-text">
                <textarea  ng-model="respuesta" rows="2" cols="10"  placeholder="Escribir Comentario..."></textarea>
                <div class="send-reply">
                  <a ng-click ='send()' class="waves-effect waves-light btn color-custom right center">Enviar </a>
                </div>
            </div>
    </div>
    </div>
      </div>
   </div>
</div>
