<div style="width: 45%; margin: 0 auto; padding-top: 50px;">
   <div class="col s12 m6 l6 card">
      <div class="ngdialog-close" style="float: right; font-size: 50px; padding-right: 20px;"></div>
      <div class="card-content">
         <h5>Generar valor de glosa</h5>
      </div>
      <div class="card-content clearfix">
         <div>
            <div class="modal-content">
       <div class="input-list input-view-column" >
               <label for="normal8">Valor Objecion</label>
               <input  id="idvalobjecion"  ng-model="valobjecion" ng-keyup = "formatpeso(idvalobjecion)" type="number"  class="validate" ng-change="guardarParamGlosas()">
        </div>

        <div class="card-content clearfix">
         <center style="margin: 10px;"> <strong>MOTIVO DE LA OBJECION</strong> </center>
         <div class="col s12">
            <select  class="select-chosen-eps" ng-change="form()" id="motivoglosa" ng-model="motivoglosa" ng-change="guardarParamGlosas()">
                  <option value="0">SELECCIONAR</option>
                  <option ng-repeat="mtglos in listmotivoglosa" ng-value="mtglos.CODIGO">{{mtglos.CODIGO}} - {{mtglos.GLMC_NOMBRE}}</option>
            </select>
         </div>
      </div>
      <div class="card-content clearfix">
         <center style="margin: 10px;"> <strong>DESCRIPCION DE LA OBJECION</strong> </center>
         <div class="col s12">
           <div style="height: 200px; overflow: auto;">
              <textarea  ng-model='Descripcionobjecion' id="bloquear" ng-value='Descripcionobjecion' ng-change="guardarParamGlosas()" style="margin: 0px; width: 100%; height: 200px;"></textarea>
           </div>
         </div>
      </div>
      <br>
    </div>
         </div>
      </div>
      <br>
         <center><a class="waves-effect waves-light btn white-text success" ng-click="closeThisDialog(glosa)">GUARDAR</a></center>
      <br>
   </div>
</div>