
<div class="row" style="background-color: transparent;" ng-init="ListarGestionCartera();GenerarAccionCartera('L','');">
	<div class="row section-header" style="margin: 0;background: #9897e81f;padding: 0px; margin-bottom: 0em;">
		<ul class="left mailbox-custom-search list-inline" style="width: 100%;display: flex;justify-content: space-between;align-items: center;">
			<li id="inicio">
				<h5 class="page-title">Administración Gestion Cartera</h5>
			</li>
		</ul>
	</div>
	
	<div class="row content-container general no-padd" style="margin-bottom: 25px;">
		<div class="col l3 m6 s12 no-padd" ng-repeat="duplicarse in duplicar">
			<div class="card small-chart margin" id="small-chart{{$index+1}}" style="height:120px;;width: 98%;">
				<div class="col l3 m3 s3 scc no-padd">
					<div>
						<i class="fa-3x zmdi zmdi-money-box"></i>
						<h5> <strong>{{duplicarse.porcentaje_meta}}% </strong></h5>
					</div>	
				</div>
				<div class="col l9 m9 s9 sct no-padd">
					<div class="justify-align">
						<p> <strong> {{duplicarse.nombre_funcionario}} </strong></p>
						<p><strong>Rango Cartera: </strong> {{duplicarse.segmento_cartera}}</p>
						<p><strong>Valor De Mora: </strong> ${{duplicarse.mora_x_cobrar}}</p>
						<p><strong>Meta a Recuperar: </strong> ${{duplicarse.meta_x_recuperar}}</p>
						<p><strong>Valor Recuperado: </strong> ${{duplicarse.gestion_mora_recuperada}}</p>
						<p><strong>Numero De Aportante: </strong> {{duplicarse.cantidad_aportante}}</p>
						<p><strong>Cantidad Registro: </strong> {{duplicarse.cantidad_registro}}</p>
						
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="card card-default clearfix">
			<div class="card-content clearfix">
				<div id="orders-table_wrapper">
					<ul class="left mailbox-custom-search list-inline" style="width: 100%;display: flex;justify-content: space-between;align-items: center;">
						<li id="inicio">
							<blockquote style="margin-top: 0px;padding-left: 1.0rem;">
								<h6> <strong>CONFIGURAR SEGMENTO DE CARTERA</strong></h6>  
							</blockquote>
						</li>
						<li>
							<a class="btn btn-floating" style="background-color: E91E63" ng-click="ConsultarFuncionario()"><i class="material-icons">person_add</i></a>
						</li>

					</ul>
					<table id="tabla_segmento_cartera" class="responsive-table striped table-bordered">
						<thead>
							<tr>
								<th class="center">CODIGO</th>
								<th class="center">PORCENTAJE</th>
								<th class="center">SEGMENTO DE CARTERA</th>
								<th class="center">RESPONSABLE</th>
								<th class="center">ESTADO</th>
								<th class="center">ACCIÓN</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="funcionario in funcionarios">
								<td class="center">{{funcionario.codigo}}</td>
								<td class="center">{{funcionario.porcentaje}} %</td>
								<td class="center">{{funcionario.segmentacion}}</td>
								<td class="center">{{funcionario.nombre}}</td>
								<td class="center">
									<span class="status {{funcionario.estilo}} lighten-2">{{funcionario.estado}}</span>
								</td>
								<td class="center"> 
									<div class="tooltip" style="cursor: pointer !important;">
										<i ng-click="CalcularPorcentaje(funcionario)" class="Medium material-icons">date_range</i></span></i>
										<span class="tooltiptext">Editar Porcentaje %</span>
									</div>
									<div class="tooltip" style="cursor: pointer !important;">
										<i ng-click="GenerarAccionCartera('S',funcionario)" class="Medium material-icons">edit</i></span></i>
										<span class="tooltiptext">Editar Segmentación Cartera</span>
									</div>
									<div class="tooltip" style="cursor: pointer !important;">
										<i ng-click="GenerarAccionCartera('I',funcionario)" class="Medium material-icons">refresh</i></span></i>
										<span class="tooltiptext">Cambiar Estado</span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>	
	</div>
	<style type="text/css">
		p{
			margin-top: 0px !important;
			font-size: 11.5px !important;
			margin-bottom: 0px !important;
		}
	</style>
</div>

