<aside class="sidebar-left" id="barra_de_menu_principal">
    <ul class="side-nav fixed clearfix left" id="nav-mobile">
        <li>
            <ul class="collapsible" data-collapsible="accordion">
                <li style="display:flex;padding: 13px;" ng-show="menu.length>=10">
                    <input type="text" ng-model="sidebar_search" placeholder="Buscar" style="margin: 0 auto;background-color: #f1f3f4;width: 100%;height: 2rem;padding: 0 1em;">
                </li>
                <li ng-show="sidebar_search.length>=1 && mo.length!=0" class="aling-center default-color" style="height: 40px;line-height: 40px;padding: 0 25px;font-weight: bold;">Cantidad Módulos {{mo.length}}</li>
                <li data-ng-repeat="menus in menu | orderBy:'titulo' | filter:{'titulo': sidebar_search} as mo">
                    <div class="collapsible-header">
                        <i class="{{menus.icono}}"></i>
                        <div class="title-sidebar">{{menus.titulo}}</div>
                        <div class="icon-sidebar">
                            <i class="zmdi zmdi-chevron-down"></i>
                            <i class="zmdi zmdi-chevron-up"></i>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li data-ng-repeat="option in menus.options | orderBy:'titulo'"><a ui-sref="{{option.url}}"
                                    ng-click="getvalue(option.titulo,option.id)" current>{{option.titulo}}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul ng-show="sidebar_search.length>=1 && su.length!=0">
                <li class="aling-center default-color" style="height: 40px;line-height: 40px;padding: 0 25px;font-weight: bold;">Cantidad Submódulos {{su.length}}</li>
                <li data-ng-repeat="route in routes | filter:{'titulo': sidebar_search} as su" style="padding: 0;line-height: normal;">
                    <a ui-sref="{{route.url}}" ng-click="getvalue(route.titulo,route.id)" current style="line-height: 40px;height: 40px;padding: 0 25px;">{{route.titulo}}</a>
                </li>
            </ul>
        </li>
    </ul>
</aside>