<div id="modalpqr" style="width: 70%; margin: 0 auto;overflow: hidden;">
    <div class="col s12 m6 l6 card">
        <div class="ngdialog-close style-btn-close">
        </div>
        <div class="row" style="margin-bottom: 0">
            <div class="card-content noselectxtpqr">
                <h5 id="ngdialog1-aria-labelledby">Gestión Facilitadores</h5>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-action ">
                    <div class="row" style="margin-bottom:0px!important">
                        <div id="facilitadores">
                            <div class="col input-field  s3">
                                <label style=" margin-top: -20px; cursor:pointer; color:#00abc0;" ng-click="seleccionarFacilitador(tipofacilitador)">Tipo
                                    Facilitador:</label>
                                <select class="select-chosen-eps" ng-model="tipofacilitador" ng-change="seleccionarFacilitador(tipofacilitador)"
                                    required>
                                    <option value="2">Externo</option>
                                    <option value="1">Interno</option>
                                </select>
                            </div>

                            <div ng-hide="inactivefacilitador">
                                <div class="col input-field s4">
                                    <input id="documentofacilitador" type="text" ng-model="documentofacilitador"
                                        required>
                                    <label for="documentofacilitador">Documento Facilitador:</label>
                                </div>
                                <div class="col input-field  s3">
                                    <input id="nombrefacilitador" type="text" ng-model="facilitador" required>
                                    <label for="nombrefacilitador">Nombre Facilitador:</label>
                                </div>
                                <div class="col input-field">
                                    <a class="btn-floating btn waves-effect waves-light" style="margin-left: auto;"
                                        ng-click="addfacilitadores(tipofacilitador,documentofacilitador,facilitador)"><i
                                            class="material-icons">check</i></a>
                                </div>
                            </div>
                            <div ng-hide="!inactivefacilitador">
                                <div class="col s8">
                                    <!-- <form id="busafi2" class="row" ng-hide="inactivefinduser" ng-submit="buscarusuario(finduser)"
                                        style="margin-bottom: 10px !important;">
                                        <div class="row">
                                            <div class="col s12">
                                                <div class="row">
                                                    <div class="input-field col l10 m10 s10">
                                                        <i class="material-icons prefix">account_circle</i>
                                                        <input id="with_icon" type="text" ng-model="finduser" class="validate">
                                                        <label for="with_icon">Buscar</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form> -->
                                    <form id="busafi2" class="row" ng-hide="inactivefinduser" ng-submit="buscarusuario(finduser)">

                                        <div class="col s12">

                                            <div class="input-field col l10 m10 s10">
                                                <input type="text" placeholder="Buscar.." ng-model="finduser" class="search margin"/
                                                    style="padding-left: calc(1em + 2px);">
                                                <ul class="suggestions margin" style="background:rgb(255, 255, 255);max-height: 300px;overflow-y: auto;
                                                           position: absolute;width: calc(100% - 5.25px);
                                                           border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;
                                                           box-shadow: 0 2px 4px rgba(0,0,0,0.2);">
                                                   <li class="white-text" style="display: flex; background-color: rgba(0,0,0,0.2); justify-content: space-between;"
                                                        ng-class="{mostrar:ver}">
                                                        <b>RESULTADOS</b>
                                                            <i ng-click="closepanel()" class="material-icons" style="color:red; cursor:pointer;">close</i>
                                                    </li>
                                                    <li ng-repeat="resultado in usuarios" ng-class="{mostrar:ver}"
                                                        style="cursor:pointer;" ng-click="addfacilitadores(tipofacilitador,resultado.cedula,resultado.nombre)">{{resultado.nombre}}</li>
                                                </ul>
                                            </div>

                                        </div>


                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="scrollTableDefault style-table-default">
                            <table class="responsive-table striped table-bordered">
                                <!--style="height: calc(100% - 1px);"-->
                                <tbody>
                                    <tr ng-repeat="item in agenda.facilitador">
                                        <td>
                                            <span ng-if="item.tipo == 1">Interno</span>
                                            <span ng-if="item.tipo == 2">Externo</span>
                                        </td>
                                        <td>
                                            {{item.doc}}
                                        </td>
                                        <td>
                                            {{item.nombre}}
                                        </td>
                                        <td>
                                            <center>
                                                <a class="btn-floating btn waves-effect waves-light" style="margin-left: auto;"
                                                    ng-click="deletefacilitadores($index)"><i class="material-icons">delete</i></a>
                                            </center>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <style>
        /*now using placeholder property to change color of placholder text and making it consitent accross the browser by use of prefix*/
        .search::-webkit-input-placeholder {
            color: #949494;
        }

        .search:-moz-placeholder {
            /* Firefox 18- */
            color: #949494;
        }

        .search::-moz-placeholder {
            /* Firefox 19+ */
            color: #949494;
        }

        .search:-ms-input-placeholder {
            /* interner explorer*/
            color: #949494;
        }

        a {

            /*removing underlines from anchor element*/
            text-decoration: none;

            padding: 10px;
        }

        ul {
            /*removing predefined bullet points from list*/
            list-style: none;
            /*removing padding from list items*/
            padding: 0;
            width: 465px;
        }

        /*adding effect when the mouse is hovered over list item*/


        /*now first we will hide the suggestion list*/
        .suggestions li {
            overflow: hidden;
            height: 0;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        /*and make the suggestion reappear when user focus on search field*/
        /* .search:focus+.suggestions li */
        .mostrar {
            padding: 1.5em;
            height: auto;
        }

         .mostrar:hover {
            background-color:rgba(0, 0, 0, 0.109)
        }

        .byline {
            text-align: center;

        }

        .byline a {
            text-decoration: none;

        }
    </style>
</div>