*{
	font-family: Arial,sans-serif; 
}
#fuar {
	font-size: 23px;
	position: absolute;
	left: 8px;
	top: 10px;
	width: 900px;
	height: 32px;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	padding: 1px;
	text-align: center;
}
#content {
	position: absolute;
	left: 8px;
	top: 55px;
	width: 900px;
	height: 1267px;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	font-size: 11px;
}
#logo {
	position: absolute;
	width: 140px;
	height: 66px;
	border-bottom-style: solid;
	border-right-style: solid;
	border-width: 1px;
	border-radius: 10px;
}
#logoimg{
	left: 40px;
	border-radius: 10px;
	width: 130px;
}
#radicado {
	position: absolute;
	padding-top: 3px;
	left: 645px;
	top: 39px;
	width: 105px;
	height: 18px;
	border-radius: 0px 0px 5px 5px;
	border-style: solid;
	border-width: 1px;
	
}
#textradicado {
	position: absolute;
	left: 645px;
	top: 20px;
	width: 105px;
	height: 18px;
	text-align: center;
	border-radius: 5px 5px 0px 0px;
	border-style: solid;
	border-width: 1px;
	margin: 0 auto;
}
#fecharadicacion {
	position: absolute;
	padding-top: 3px;
	left: 765px;
	top: 39px;
	width: 120px;
	height: 18px;
	border-radius: 0px 0px 5px 5px;
	border-style: solid;
	border-width: 1px;
}
#textfechar {
	position: absolute;
	left: 765px;
	top: 20px;
	width: 120px;
	height: 18px;
	border-radius: 5px 5px 0px 0px;
	border-style: solid;
	border-width: 1px;
	text-align: center;
}
#secc {
	position: absolute;
	left: 2px;
	top: 70px;
	width: 142px;
	height: 13px;
}
#secc1 {
	position: absolute;
	padding-left: 2px;
	left: 0px;
	top: 83px;
	width: 287px;
	height: 47px;
	border-top-style: solid;
	border-top-width: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}
#secc2 {
	position: absolute;
	padding-left: 2px;
	left: 290px;
	top: 83px;
	width: 427px;
	height: 47px;
	border-top-style: solid;
	border-top-width: 2px;
	border-right-width: 1px;
	border-right-style: solid;
}
#d2 {
	position: absolute;
	left: 162px;
	top: 30px;
	width: 89px;
	height: 14px;
}
#checkd2 {
	position: absolute;
	left: 243px;
	top: 30px;
	width: 14px;
	height: 12px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}
#c2 {
	position: absolute;
	left: 335px;
	top: 30px;
	width: 72px;
	height: 16px;
}
#checkc2 {
	position: absolute;
	left: 402px;
	top: 31px;
	width: 14px;
	height: 12px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}

#CF2 {
	position: absolute;
	left: 235px;
	top: 1px;
	width: 182px;
	height: 13px;
	z-index: 1;
}
#AA2 {
	position: absolute;
	left: 235px;
	top: 16px;
	width: 191px;
	height: 13px;
}
#checkCF2 {
	position: absolute;
	left: 402px;
	top: 1px;
	width: 14px;
	height: 12px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}
#checkAA2 {
	position: absolute;
	left: 402px;
	top: 16px;
	width: 14px;
	height: 12px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}
#secc3 {
	position: absolute;
	padding-left: 2px;
	left: 720px;
	top: 83px;
	width: 180px;
	height: 47px;
	border-top-style: solid;
	border-top-width: 2px;
}
#a3 {
	position: absolute;
	left: 58px;
	top: 14px;
	width: 84px;
	height: 13px;
	z-index: 1;
}
#b3 {
	position: absolute;
	left: 58px;
	top: 29px;
	width: 85px;
	height: 13px;
	z-index: 2;
}
#checka3 {
	position: absolute;
	left: 140px;
	top: 14px;
	width: 14px;
	height: 12px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}
#checkb3 {
	position: absolute;
	left: 140px;
	top: 30px;
	width: 14px;
	height: 12px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}
#a1 {
	position: absolute;
	left: 14px;
	top: 29px;
	width: 67px;
	height: 17px;
}
#checka1 {
	position: absolute;
	left: 89px;
	top: 29px;
	width: 14px;
	height: 12px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}
#b1 {
	position: absolute;
	left: 122px;
	top: 30px;
	width: 143px;
	height: 17px;
}
#checkb1 {
	position: absolute;
	left: 258px;
	top: 29px;
	width: 14px;
	height: 12px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}
#secc4 {
	position: absolute;
	padding-left: 2px;
	left: 0px;
	top: 131px;
	width: 368px;
	height: 36px;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
}
#a4 {
	position: absolute;
	left: 21px;
	top: 20px;
	width: 72px;
	height: 14px;
}
#checka4 {
	position: absolute;
	left: 101px;
	top: 19px;
	width: 14px;
	height: 12px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}
#b4 {
	position: absolute;
	left: 133px;
	top: 20px;
	width: 117px;
	height: 14px;
}
#checkb4 {
	position: absolute;
	left: 255px;
	top: 19px;
	width: 14px;
	height: 12px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}
#c4 {
	position: absolute;
	left: 277px;
	top: 20px;
	width: 80px;
	height: 13px;
}
#checkc4 {
	position: absolute;
	left: 351px;
	top: 19px;
	width: 14px;
	height: 12px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}
#seccA {
	position: absolute;
	left: 0px;
	top: 167px;
	width: 900px;
	height: 36px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-top-width: 2px;
	border-top-style: solid;
}
#secc5 {
	position: absolute;
	padding-left: 2px;
	left: 371px;
	top: 131px;
	width: 375px;
	height: 37px;
	border-top-style: solid;
	border-top-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
}
#a5 {
	position: absolute;
	top: 19px;
	left: 24px;
	width: 94px;
	height: 15px;
	
}
#checka5 {
	position: absolute;
	left: 113px;
	top: 19px;
	width: 14px;
	height: 12px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}
#b5 {
	position: absolute;
	left: 140px;
	top: 19px;
	width: 96px;
	height: 15px;
}
#checkb5 {
	position: absolute;
	left: 230px;
	top: 19px;
	width: 14px;
	height: 12px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}
#c5 {
	position: absolute;
	left: 260px;
	top: 19px;
	width: 98px;
	height: 19px;
}
#checkc5 {
	position: absolute;
	left: 340px;
	top: 19px;
	width: 14px;
	height: 12px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}
#secc6 {
	position: absolute;
	padding-left: 2px;
	left: 0px;
	top: 209px;
	width: 902px;
	height: 45px;
}
#codigoeps {
	position: absolute;
	padding-left: 2px;
	left: 749px;
	top: 131px;
	width: 150px;
	height: 35px;
	border-top-style: solid;
	border-top-width: 1px;
}
#checkepscode {
	position: absolute;
	font-size: 10px;
	left: 110px;
	top: 12px;
	width: 38px;
	height: 15px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}
#primer_apellido {
	position: absolute;
	left: 0px;
	top: 28px;
	width: 214px;
	height: 19px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#segundo_apellido {
	position: absolute;
	left: 214px;
	top: 28px;
	width: 240px;
	height: 19px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#primer_nombre {
	position: absolute;
	left: 440px;
	top: 28px;
	width: 240px;
	height: 19px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#segundo_nombre {
	position: absolute;
	left: 660px;
	top: 28px;
	width: 240px;
	height: 19px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#ii {
	position: absolute;
	left: 1px;
	top: 23px;
	width: 403px;
	height: 14px;
}
#secc7 {
	position: absolute;
	padding-left: 2px;
	left: 0px;
	top: 257px;
	width: 212px;
	height: 28px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}
#checktipo_doc {
	position: absolute;
	left: 174px;
	top: 10px;
	width: 32px;
	height: 14px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	font-weight: bold;
}
#secc8 {
	position: absolute;
	padding-left: 2px;
	left: 215px;
	top: 257px;
	width: 237px;
	height: 28px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}
#secc9 {
	position: absolute;
	padding-left: 2px;
	left: 455px;
	top: 257px;
	width: 223px;
	height: 28px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}
#femenino {
	position: absolute;
	left: 20px;
	top: 13px;
	width: 62px;
	height: 11px;
}
#masculino {
	position: absolute;
	left: 120px;
	top: 13px;
	width: 66px;
	height: 14px;
}
#checkfem {
	position: absolute;
	left: 81px;
	top: 13px;
	width: 14px;
	height: 12px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
}
#checkmas {
	position: absolute;
	left: 186px;
	top: 13px;
	width: 14px;
	height: 12px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
}
#secc10 {
	position: absolute;
	padding-left: 2px;
	left: 680px;
	top: 257px;
	width: 220px;
	height: 28px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}
#iii {
	position: absolute;
	left: 0px;
	top: 286px;
	width: 902px;
	height: 31px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}
#secc11 {
	position: absolute;
	padding-left: 2px;
	left: 0px;
	top: 319px;
	width: 177px;
	height: 32px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
}
#check11 {
	position: absolute;
	left: 68px;
	top: 13px;
	width: 65px;
	height: 15px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
}
#secc12 {
	position: absolute;
	padding-left: 2px;
	left: 180px;
	top: 319px;
	width: 308px;
	height: 32px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
}
#secc13 {
	position: absolute;
	padding-left: 2px;
	left: 491px;
	top: 319px;
	width: 194px;
	height: 32px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
}
#secc14 {
	position: absolute;
	padding-left: 2px;
	left: 687px;
	top: 319px;
	width: 212px;
	height: 32px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#sisben {
	position: absolute;
	left: 120px;
	top: 15px;
	width: 15px;
	height: 13px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
}
#gpoblacional {
	position: absolute;
	left: 96px;
	top: 15px;
	width: 15px;
	height: 13px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
}
#discapacidad {
	position: absolute;
	left: 87px;
	top: 14px;
	width: 31px;
	height: 14px;
}
#tipo_discapacidad {
	position: absolute;
	left: 120px;
	top: 14px;
	width: 60px;
	height: 13px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;

}
#condicion {
	position: absolute;
	left: 200px;
	top: 14px;
	width: 77px;
	height: 18px;
}
#tipo_condicion {
	position: absolute;
	left: 268px;
	top: 14px;
	width: 15px;
	height: 13px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	font-weight: bold;
}
#secc15 {
	position: absolute;
	padding-left: 2px;
	left: 0px;
	top: 352px;
	width: 305px;
	height: 32px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#secc16 {
	position: absolute;
	padding-left: 2px;
	left: 308px;
	top: 352px;
	width: 289px;
	height: 32px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#secc17 {
	position: absolute;
	padding-left: 2px;
	left: 600px;
	top: 352px;
	width: 300px;
	height: 32px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#secc18 {
	position: absolute;
	padding-left: 2px;
	left: 0px;
	top: 385px;
	width: 305px;
	height: 37px;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#muni {
	position: absolute;
	left: 0px;
	top: 423px;
	width: 224px;
	height: 29px;
	border-right-style: solid;
	border-right-width: 1px;
	font-size: 11px;
}
#fijo {
	position: absolute;
	left: 308px;
	top: 384px;
	width: 220px;
	height: 38px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#localidad {
	position: absolute;
	left: 473px;
	top: 423px;
	width: 213px;
	height: 30px;
	font-size: 11px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
}
#celular {
	position: absolute;
	left: 529px;
	top: 385px;
	width: 158px;
	height: 37px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#email {
	position: absolute;
	left: 688px;
	top: 385px;
	width: 212px;
	height: 37px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#iv {
	position: absolute;
	padding-left: 2px;
	left: 0px;
	top: 452px;
	width: 900px;
	height: 29px;
	border-top-style: solid;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}
#secc19 {
	position: absolute;
	padding-left: 2px;
	left: 0px;
	top: 483px;
	width: 248px;
	height: 46px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#seg_apellido {
	position: absolute;
	left: 250px;
	padding-left: 2px;
	top: 2px;
	width: 221px;
	height: 14px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-top: 30px;
}
#pri_nombre {
	position: absolute;
	left: 473px;
	padding-left: 2px;
	top: 485px;
	width: 214px;
	height: 14px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-top: 30px;
}
#seg_nombre {
	position: absolute;
	left: 690px;
	padding-left: 2px;
	top: 485px;
	width: 209px;
	height: 14px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-top: 30px;
}
#secc20 {
	position: absolute;
	padding-left: 2px;
	left: 0px;
	top: 530px;
	width: 194px;
	height: 34px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#check20 {
	position: absolute;
	left: 139px;
	top: 15px;
	width: 28px;
	height: 15px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}
#secc21 {
	position: absolute;
	padding-left: 2px;
	left: 197px;
	top: 530px;
	width: 274px;
	height: 34px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#secc22 {
	position: absolute;
	padding-left: 2px;
	left: 472px;
	top: 530px;
	width: 215px;
	height: 34px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#fem_iv {
	position: absolute;
	left: 8px;
	top: 17px;
	width: 85px;
	height: 12px;
}
#mas_iv {
	position: absolute;
	left: 100px;
	top: 17px;
	width: 73px;
	height: 17px;
}
#checkfem_iv {
	position: absolute;
	left: 65px;
	top: 17px;
	width: 14px;
	height: 12px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}
#checkmas_iv {
	position: absolute;
	left: 165px;
	top: 17px;
	width: 14px;
	height: 12px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}
#secc23 {
	position: absolute;
	padding-left: 2px;
	left: 690px;
	top: 530px;
	width: 209px;
	height: 34px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#bensecc {
	position: absolute;
	padding-left: 2px;
	left: 0px;
	top: 565px;
	width: 900px;
	height: 15px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#secc24 {
	position: absolute;
	left: -1px;
	top: 587px;
	width: 559px;
	height: 15px;
}
#secc24 table{
	border-collapse: collapse;
	border-color: black;
}
#secc25 {
	position: absolute;
	left: -1px;
	top: 689px;
	width: 559px;
	height: 15px;
}
#secc25 table {
	border-collapse: collapse;
	border-color: black;
}

#seccdc {
	position: absolute;
	padding-left: 2px;
	left: 0px;
	top: 799px;
	width: 902px;
	height: 15px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#seccdc table{
	position: absolute;
	left: -1px;
	top: 15px;
	border-collapse: collapse;
	border-color: black;
}
#secc32 {
	position: absolute;
	padding-left: 2px;
	left: 0px;
	top: 924px;
	width: 475px;
	height: 14px;
}
#secc32 table{
	position: absolute;
	left: -1px;
	top: 22px;
	border-collapse:collapse;
	border-left-width: 1px;
	border-color: black;
}
#ips {
	padding-left: 2px;
	position: absolute;
	left: 0px;
	top: 1066px;
	width: 900px;
	height: 14px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#secc34 {
	position: absolute;
	padding-left: 2px;
	left: -1px;
	top: 1080px;
	width: 902px;
	height: 17px;
	left: -1px;
	border-collapse: collapse;
	border-color: black;
}
#seccV {
	padding-left: 2px;
	position: absolute;
	left: 0px;
	top: 1155px;
	width: 900px;
	height: 25px;
	border-top-style: solid;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}
#secc35 {
	position: absolute;
	padding-left: 2px;
	left: 0px;
	top: 1185px;
	width: 260px;
	height: 31px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#secc39 {
	position: absolute;
	padding-left: 2px;
	left: 0px;
	top: 1221px;
	width: 442px;
	height: 19px;
}
#vdire {
	position: absolute;
	left: 0px;
	top: 1251px;
	width: 244px;
	height: 18px;
	text-align: center;
	border-right-style: solid;
	border-right-width: 1px;
	bottom: 0px;
}
#vtel {
	position: absolute;
	left: 245px;
	top: 1251px;
	width: 142px;
	height: 18px;
	text-align: center;
	border-right-style: solid;
	border-right-width: 1px;
	bottom: 0px;
}
#vemail {
	position: absolute;
	left: 388px;
	top: 1251px;
	width: 202px;
	height: 18px;
	text-align: center;
	border-right-style: solid;
	border-right-width: 1px;
	bottom: 0px;
}
#vmuni {
	position: absolute;
	left: 592px;
	top: 1251px;
	width: 157px;
	height: 18px;
	text-align: center;
	border-right-style: solid;
	border-right-width: 1px;
	bottom: 0px;
}
#vdepa {
	position: absolute;
	left: 750px;
	top: 1251px;
	width: 150px;
	height: 18px;
	text-align: center;
	bottom: 0px;
}
#secc36 {
	position: absolute;
	padding-left: 2px;
	left: 263px;
	top: 1184px;
	width: 169px;
	height: 32px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#secc37 {
	position: absolute;
	padding-left: 2px;
	left: 435px;
	top: 1184px;
	width: 251px;
	height: 32px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#secc38 {
	position: absolute;
	padding-left: 4px;
	left: 687px;
	top: 1184px;
	width: 209px;
	height: 32px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#b2 {
	position: absolute;
	left: 13px;
	top: 30px;
	width: 67px;
	height: 12px;
	z-index: 1;
}
#checkb2 {
	position: absolute;
	left: 78px;
	top: 30px;
	width: 14px;
	height: 12px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}
#a2 {
	position: absolute;
	left: 142px;
	top: 10px;
	width: 89px;
	height: 14px;
}
#instrucciones {
	position: absolute;
	left: 235px;
	top: 68px;
	width: 481px;
	height: 16px;
}
#p_apellido {
	position: absolute;
	left: 11px;
	top: 223px;
	width: 201px;
	height: 17px;
	text-align: center;
	font-weight: bold;
}
#s_apellido {
	position: absolute;
	left: 222px;
	top: 223px;
	width: 230px;
	height: 16px;
	text-align: center;
	font-weight: bold;
}
#p_nombre {
	position: absolute;
	left: 465px;
	top: 223px;
	width: 205px;
	height: 17px;
	text-align: center;
	font-weight: bold;
}
#s_nombre {
	position: absolute;
	left: 691px;
	top: 223px;
	width: 216px;
	height: 17px;
	text-align: center;
	font-weight: bold;
}
#numero_documento {
	position: absolute;
	left: 258px;
	top: 271px;
	width: 165px;
	height: 14px;
	text-align: center;
	font-weight: bold;
}
#fecha_nacimiento {
	position: absolute;
	left: 706px;
	top: 271px;
	width: 190px;
	height: 12px;
	text-align: center;
	font-weight: bold;
}
#direccion {
	position: absolute;
	left: 39px;
	top: 392px;
	width: 237px;
	height: 15px;
	text-align: center;
	font-weight: bold;
}
#telefono_fijo {
	position: absolute;
	left: 318px;
	top: 392px;
	width: 201px;
	height: 14px;
	font-weight: bold;
	text-align: center;
	font-weight: bold;
}
#telefono_celular {
	position: absolute;
	left: 543px;
	top: 392px;
	width: 135px;
	height: 13px;
	font-weight: bold;
}
#correo_electronico {
	position: absolute;
	left: 693px;
	top: 390px;
	width: 204px;
	height: 14px;
	font-weight: bold;
	text-align: center;

}
#zona {
	position: absolute;
	left: 239px;
	top: 431px;
	width: 36px;
	height: 17px;
	z-index: 11;
	font-weight: bold;
}
#urbana {
	position: absolute;
	left: 310px;
	top: 424px;
	width: 44px;
	height: 11px;
	z-index: 11;
	font-weight: bold;
}
#rural {
	position: absolute;
	left: 311px;
	top: 438px;
	width: 46px;
	height: 13px;
	z-index: 12;
	font-weight: bold;
}
#checkrural {
	position: absolute;
	left: 371px;
	top: 424px;
	width: 13px;
	height: 11px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	font-weight: bold;
}
#checkurb {
	position: absolute;
	left: 371px;
	top: 438px;
	width: 13px;
	height: 12px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	font-weight: bold;
}
#departamento {
	position: absolute;
	left: 758px;
	top: 439px;
	width: 71px;
	height: 10px;
	font-weight: bold;
}
#tipo_doc_employer {
	position: absolute;
	left: 369px;
	top: 1199px;
	width: 32px;
	height: 14px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	font-weight: bold;
}
