body{
	margin:0;
	color:#6a6f8c;
	width: 100%;
	font:600 16px/18px 'Open Sans',sans-serif;
    background-image: none;
	background-size: 100%;
	background-repeat: no-repeat;
}
@media only screen and (min-width: 1366px)  {
    body {
		background-image: url('../images/fotologin.jpg');
    }
}

@media only screen and (min-width: 350px)  and (max-width: 1200px){
    body {
		background-image: url('../images/fotologiniphone.jpg');
    }
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}
h4{
	color: white;
}
p{
	color: white;
}
.foot{
  position: absolute;
  bottom: 0;
  text-align: center;
}
.left{
	float: left;
	position: absolute;
}
.logo{
	float:right;
	position: absolute;
	width: 20%;
	right : 2%; 
	top: 2%;
}
.recover-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.recover-html .funcionarios-htm,
.recover-html .afiliados-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}

recover-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
recover-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
recover-html.funcionarios:checked + .tab,
recover-html .afiliados:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-wrap{
	width:100%;
	margin:auto;
	max-width:555px;
	min-height: 680px;
	position:relative;
	background:url() no-repeat center;
	padding-top: 25px;
}
.login-html{
	width:90%;
	height:95%;
	position:absolute;
	padding:50px 40px 50px 40px;
	background:#283965;
	border-radius: 20px;
	opacity: .93;
}
.login-html .funcionarios-htm,
.login-html .afiliados-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}
.login-html .funcionarios,
.login-html .afiliados,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .funcionarios:checked + .tab,
.login-html .afiliados:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .select{
	width:100%;
	display:block;
	height: 50px;
}
.login-form .group .input,
.login-form .group .button{
	padding: 15px 20px;
    border-radius: 6px;
    background: rgba(255,255,255,.1);
    outline: none;
    box-shadow: none!important;
    border: 0!important;
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	-webkit-transition:all .2s ease-in-out 0s;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	        transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	        transform:scale(1) rotate(-45deg);
}
.login-html .funcionarios:checked + .tab + .afiliados + .tab + .login-form .funcionarios-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}
.login-html .afiliados:checked + .tab + .login-form .afiliados-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
.toast-message {
	word-break: break-word!important;
}