a.login-new,
a.login-new:hover {
  font-size: 14px;
  cursor: pointer
}

.custom-buttom,
a.login-new {
  color: #7c7c7c;
  font-weight: 600;
}

.d-flex,
.login-wrap {
  display: flex
}

.input-field,
.login-form,
.login-html,
.logo_eps {
  position: relative
}

.box-shadow-none,
.input-codigo,
.select-default-new {
  box-shadow: none !important
}

body {
  margin: 0;
  color: #6a6f8c;
  width: 100%;
  /* font: 600, normal 16px, medium/18px, normal 'Open Sans', sans-serif; */
  background-image: none;
  background-size: 100%;
  background-repeat: no-repeat
}

.no-padding {
  padding: 0 !important
}

.margin {
  margin: 0 !important
}

*,
:after,
:before {
  box-sizing: border-box
}

.login-html {
  padding: 40px 40px 10px;
  background: #fff;
  border-radius: 20px
}

.login-html .afiliados-htm,
.login-html .funcionarios-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: .4s linear;
  transition: .4s linear
}

.login-form .group .check,
.login-html .afiliados,
.login-html .funcionarios,
input:not(.ng-invalid-maxlength)+label>small.maxlength-new {
  display: none
}

.login-html .tab {
  font-size: 22px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent
}

.login-html .afiliados:checked+.tab,
.login-html .funcionarios:checked+.tab {
  color: #fff;
  border-color: #1161ee
}

.login-form {
  min-height: 345px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d
}

.login-form .group {
  margin-bottom: 15px
}

.login-form .group .button,
.login-form .group .input,
.login-form .group .label {
  width: 100%;
  color: #fff;
  display: block
}

.login-form .group .select {
  width: 100%;
  display: block;
  height: 50px
}

.login-form .group .button,
.login-form .group .input {
  padding: 10px 15px;
  border-radius: 6px;
  background: rgba(255, 255, 255, .1);
  outline: 0;
  box-shadow: none !important;
  border: 0 !important
}

.login-form .group input[data-type=password] {
  text-security: circle;
  -webkit-text-security: circle
}

.login-form .group .label {
  color: #aaa;
  font-size: 12px
}

.login-form .group .button {
  background: #164691;
  width: 40%;
  border-radius: 10px;
  margin: auto
}

.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, .1)
}

.login-form .group label .icon:after,
.login-form .group label .icon:before {
  content: '';
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out
}

.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  -webkit-transform: scale(0) rotate(0);
  transform: scale(0) rotate(0)
}

.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  -webkit-transform: scale(0) rotate(0);
  transform: scale(0) rotate(0)
}

.login-form .group .check:checked+label {
  color: #fff
}

.login-form .group .check:checked+label .icon {
  background: #1161ee
}

.login-form .group .check:checked+label .icon:before {
  -webkit-transform: scale(1) rotate(45deg);
  transform: scale(1) rotate(45deg)
}

.login-form .group .check:checked+label .icon:after {
  -webkit-transform: scale(1) rotate(-45deg);
  transform: scale(1) rotate(-45deg)
}

.login-html .afiliados:checked+.tab+.login-form .afiliados-htm,
.login-html .funcionarios:checked+.tab+.afiliados+.tab+.login-form .funcionarios-htm {
  -webkit-transform: rotate(0);
  transform: rotate(0)
}

.login-form .group .input-new {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #7c7c7c !important;
  color: #164691
}

a.login-new:hover {
  color: #164691
}

.custom-buttom:hover,
.label-new>input:focus:not([readonly])~label {
  color: #000
}

[type=radio]:checked+label::after,
[type=radio]:checked+label:before,
[type=radio]:not(:checked)+label:after,
[type=radio]:not(:checked)+label:before {
  visibility: hidden
}

.fondobg img {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  position: absolute
}

/* @media (max-width:992px) {
  .fondobg img {
    height: fit-content;
    position: absolute
  }
} */

@media (min-width:993px) {
  .logo {
    bottom: 0;
    top: 2%
  }
}

@media only screen and (min-width:993px) and (max-width:1350px) {
  div.--row.d-flex .box-form {
    padding: 30px
  }
}

.subraya {
  border-bottom-style: ridge !important;
  border-color: #264b86 !important
}

.efectoLogin {
  -webkit-animation-name: efecto_login;
  -webkit-animation-duration: .5s;
  -moz-animation-name: efecto_login;
  -moz-animation-duration: .5s;
  -ms-animation-name: efecto_login;
  -ms-animation-duration: .5s;
  animation-name: efecto_login;
  animation-duration: .5s
}

@-ms-keyframes efecto_login {
  from {
    -ms-transform: translate(0, 25px)
  }

  to {
    -ms-transform: translate(0, 0)
  }
}

@-moz-keyframes efecto_login {
  from {
    -moz-transform: translate(0, 25px)
  }

  to {
    -moz-transform: translate(0, 0)
  }
}

@-webkit-keyframes efecto_login {
  from {
    -webkit-transform: translate(0, 25px)
  }

  to {
    -webkit-transform: translate(0, 0)
  }
}

@keyframes efecto_login {
  from {
    opacity: 0;
    transform: translate(0, 25px)
  }

  to {
    opacity: 1;
    transform: translate(0, 0)
  }
}

.login-html {
  height: auto !important;
  max-width: 32em;
  margin: auto;
  border: 1px solid gray
}

.login-wrap,
.ngdialog-content {
  height: 100%
}

.login-wrap {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%
}

.texto_iniciosession {
  color: #000;
  margin: 0;
  font-weight: 700;
  text-align: center;
  padding-bottom: .5rem
}

body.ngdialog-open,
html.ngdialog-open {
  height: 100% !important
}

#recoveryPassFunc {
  padding-top: 10px;
  width: 500px;
  margin: auto
}

#recoveryPassFunc input {
  background-color: rgba(255, 255, 255, .9);
  width: 100%;
  padding: 5px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  height: 3rem
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}

input[type=number] {
  -moz-appearance: textfield
}

#recoveryPassFunc button {
  background-color: #1a2e63
}

#recoveryPassFunc blockquote {
  border-left: 5px solid #000 !important
}

.input-codigo {
  border: 1px solid #d9d9d9 !important
}

.logo_eps img {
  display: flex;
  width: 14rem;
  margin: 3rem auto 1rem
}

.class_label_radios {
  padding-left: 1rem !important;
  padding-right: 5px !important;
  font-size: 13px !important
}

.texto_opciones {
  margin-bottom: .3rem
}

.input-field {
  margin-top: 1rem;
  margin-left: 5px;
  margin-right: 5px
}

.select-new {
  background-color: #f1f3f4;
  width: 100%
}

.select-new>span {
  top: 0 !important;
  right: 5px !important
}

.select-new>input {
  height: 2rem !important;
  padding: 0 1rem 0 .5rem !important;
  width: calc(100% - 1.5rem) !important;
  border-bottom: none !important;
  box-shadow: 0 1px 0 0 #dadce0
}

.select-default-new {
  outline: 0 !important;
  height: 31px;
  display: block;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #dadce0
}

.input-file-new,
.label-new {
  position: relative;
  display: flex
}

textarea.textarea-new {
  padding: .5rem !important;
  width: calc(100% - 1rem) !important;
  background-color: #f1f3f4
}

input.input-date-new,
input.input-time-new {
  height: 2rem;
  background-color: #f1f3f4;
  padding: 0 .5rem !important;
  width: calc(100% - 1rem) !important
}

.label-new {
  margin-top: 2rem;
  height: 2rem
}

.label-new>label {
  position: absolute;
  top: -1.5rem;
  left: 7.5px;
  font-weight: 600;
  font-size: .9rem
}

.gray-input {
  background-color: #e5e6e6 !important
}

.w-100 {
  width: 100% !important
}

.h-auto {
  height: auto !important
}

.input-file-new {
  width: 100%;
  height: 2rem;
  overflow: hidden;
  align-items: center;
  justify-content: flex-end
}

.input-file-new>i {
  font-size: 17px
}

.input-file-new>input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 100%;
  outline: transparent;
  background-color: transparent !important;
  z-index: 2
}

input.input-text-new {
  background-color: #f1f3f4;
  width: 240px;
  height: 2rem;
  padding: 0 1em;
  border-radius: 10px !important
}

input.input-text-new::placeholder {
  color: #80868b
}

.input-file-new:before {
  height: 2em !important
}

.m-t {
  margin-top: 1rem
}

.m-b {
  margin-bottom: 1rem
}

.m-r {
  margin-right: .5rem !important
}

.m-l {
  margin-left: .5rem !important
}

.m-l+label {
  left: 15px
}

.toast-message {
  word-break: break-word !important
}

.newdesing_modal input[type=date]::-webkit-calendar-picker-indicator,
.newdesing_modal input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none
}

.input-out-new {
  background-color: #fff;
  border-radius: 2px !important;
  border: 1px solid gray !important
}

.input-out-new>input {
  height: calc(2rem - 2px) !important
}

.select-input-new.input-out-new {
  height: calc(2rem - 2.5px) !important
}

.input-out-new .input-file-new>i {
  height: calc(100% + 2px);
  background-color: #4daf7c;
  font-weight: 700;
  font-size: 16px;
  z-index: 1;
  border-left: 1px solid #8a88865e
}

.form-input-icon-new>i {
  left: auto;
  right: 0
}

.newdesing input[type=date]::-webkit-calendar-picker-indicator,
.newdesing input[type=date]::-webkit-inner-spin-button,
.newdesing input[type=month]::-webkit-calendar-picker-indicator,
.newdesing input[type=month]::-webkit-inner-spin-button {
  -webkit-appearance: none
}

.purple-new {
  background-color: #cacfdb !important
}

.card-bottom {
  padding-bottom: .82rem !important
}

.modal-mara-new.modal>.modal-content,
.modal-mara-new.modal>.modal-footer,
.modal-mara-new.modal>.modal-header {
  padding: 10px 20px
}

.select-new-style {
  display: block;
  font-size: 1rem;
  height: 2rem !important
}

.border-none {
  border: none !important
}

.class_icon_pass {
  cursor: pointer;
  position: absolute;
  right: .5rem;
  top: .2rem
}

.text_lower {
  text-transform: lowercase
}

.no_pointer {
  pointer-events: none
}

.w-50 {
  width: 50%
}

.loading_swal {
  width: 170px;
  margin-left: .7rem;
  margin-top: -.7rem
}

.boob {
  border-radius: 5px;
  float: left;
  clear: right;
  margin: 1px;
  width: 45px;
  height: 30px;
  animation-name: disappear;
  animation-direction: alternate;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  background-image: url("./assets/images/icon_humanos.svg")
}

.loading_swal .boob:first-child {
  animation-delay: .2s
}

.loading_swal .boob:nth-child(2) {
  animation-delay: .4s
}

.loading_swal .boob:nth-child(3) {
  animation-delay: .6s
}

@keyframes disappear {
  0% {
    transform: scale(1, 1)
  }

  100% {
    transform: scale(0, 0)
  }
}

.fw-600{
  font-weight: 600 !important;
}

.nocolor{
  color: #9e9e9e !important;
}
