<div class="white newdesing" id="pantalla">
  <style>
    .newdesing .content-container {
      min-height: 0;
    }
  </style>
  <div class="row section-header margin">
    <ul class="left mailbox-custom-search list-inline w-100 d-flex justify-content-between align-items-center">
      <li id="inicio">
        <h5 class="cursor-pointer"
          style="font-family: 'Product Sans',Arial,sans-serif;font-size: 22px;line-height: 22px;opacity: .54;margin: 9px 0"
          onclick="location.reload();">
          Información del Funcionario
        </h5>
      </li>
    </ul>
  </div>

  <!-- <button ng-click="Hoja_Limpiar()">asd</button> -->
  <!-- //////////////////////////////////TAB 1////////////////////////////////// -->
  <div class="row dashboard-wrapper content-container white" style="height: 90vh;">
    <!-- ///// -->
    <div class="row" style="width: 90%;">
      <div class="card-content clearfix card" style="width: 100%;margin: 1rem auto auto auto;border-radius: 15px;"
        ng-show="Proteccion_Datos == 1">
        <ul class="tabs nav" style="background-color: transparent;margin: .5vh;width: 99%;overflow: hidden;">
          <li class="tab col w-auto active"><a id="Tab1" href ng-click="setTab(1)" class="active"><strong
                style=" font-weight: bold;">Personal</strong></a>
          </li>
          <li class="tab col w-auto"><a id="Tab2" href ng-click="setTab(2)"><strong
                style="font-weight: bold;">Adicional</strong></a></li>
          <li class="tab col w-auto"><a id="Tab3" href ng-click="setTab(3)"><strong
                style="font-weight: bold;">Educativa</strong></a></li>
          <li class="tab col w-auto"><a id="Tab4" href ng-click="setTab(4)"><strong
                style="font-weight: bold;">Beneficiarios</strong></a></li>
          <li class="tab col w-auto"><a id="Tab5" href ng-click="setTab(5)"><strong
                style="font-weight: bold;">Medidas</strong></a>
          </li>
        </ul>
        <!-- //////// -->
        <hr class="default-background" style="height: .1vh;margin: 1vw 3vh;border-radius: 15px;">
        <!-- //////// -->
        <div class="col s12" style="padding: 0;" ng-show="Tabs == 1">
          <div class="row Anim_Show" style="margin-bottom: 1rem;">
            <!-- // -->
            <div id="Hoja1" class="row Form_Desactivados" style="margin-bottom: 0;width: 98%;margin-top: 1rem;">
              <div class="col s12 m12 l12">
                <div class="col s3 no-padding label-new m-b">
                  <input class="margin border-none input-text-new gray-input w-100" autocomplete="off"
                    id="Hoja1_Pri_nombre" ng-model="Hoja1.Pri_nombre">
                  <label>Primer Nombre</label>
                </div>
                <div class="col s3 no-padding label-new m-b">
                  <input class="margin border-none input-text-new gray-input w-100 m-l" autocomplete="off"
                    id="Hoja1_Seg_nombre" ng-model="Hoja1.Seg_nombre">
                  <label>Segundo Nombre</label>
                </div>
                <div class="col s3 no-padding label-new m-b">
                  <input class="margin border-none input-text-new gray-input w-100 m-l" autocomplete="off"
                    id="Hoja1_Pri_apellido" ng-model="Hoja1.Pri_apellido">
                  <label>Primer Apellido</label>
                </div>
                <div class="col s3 no-padding label-new m-b">
                  <input class="margin border-none input-text-new gray-input w-100 m-l" autocomplete="off"
                    id="Hoja1_Seg_apellido" ng-model="Hoja1.Seg_apellido">
                  <label>Segundo Apellido</label>
                </div>
              </div>
              <!-- // -->
              <div class="col s12 m12 l12">
                <div class="col s3 no-padding label-new m-b">
                  <input type="date" class="margin border-none input-date-new w-100" id="Hoja1_Nacimiento"
                    max="{{SysDay | date:'yyyy-MM-dd'}}" ng-model="Hoja1.Nacimiento"
                    ng-change="FormatNacimiento_Frmt('Hoja1')">
                  <label>Fecha Nacimiento</label>
                </div>
                <div class="col s3 no-padding label-new m-b select_maxheigth">
                  <select id="Hoja1_Sexo" class="select-new-style gray-input m-l" style="box-shadow: none;"
                    ng-model="Hoja1.Sexo">
                    <option value="" disabled>SELECCIONAR</option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                  </select>
                  <label>Sexo</label>
                </div>
                <div class="col s3 no-padding label-new m-b select_maxheigth">
                  <select id="Hoja1_Gruposanguineo" class="select-new-style gray-input m-l" style="box-shadow: none;"
                    ng-model="Hoja1.Gruposanguineo">
                    <option value="" disabled>SELECCIONAR</option>
                    <option ng-selected="x.Codigo == Hoja1.Gruposanguineo"
                      ng-repeat="x in Datos.Hoja1.GruposSangunineos" value="{{x.Codigo}}">
                      {{x.Nombre}}</option>
                  </select>
                  <label>Grupo Sanguineo</label>
                </div>
                <div class="col s3 no-padding label-new m-b select_maxheigth">
                  <select id="Hoja1_Estadocivil" class="select-new-style gray-input m-l" style="box-shadow: none;"
                    ng-model="Hoja1.Estadocivil">
                    <option value="" disabled>SELECCIONAR</option>
                    <option ng-selected="x.Codigo == Hoja1.Estadocivil" ng-repeat="x in Datos.Hoja1.Estadosciviles"
                      value="{{x.Codigo}}">{{x.Nombre}}</option>
                  </select>
                  <label>Estado Civil</label>
                </div>
              </div>
              <!-- // -->
              <div class="col s12 m12 l12">
                <div class="col s3 no-padding label-new m-b">
                  <input class="margin border-none input-text-new gray-input w-100" autocomplete="off" maxlength="3"
                    id="Hoja1_Peso" ng-model="Hoja1.Peso" ng-keyup="FormatSoloNumero('Hoja1_Peso')">
                  <label>Peso (KG)</label>
                </div>
                <div class="col s3 no-padding label-new m-b">
                  <input class="margin border-none input-text-new gray-input w-100 m-l" autocomplete="off" maxlength="3"
                    id="Hoja1_Estatura" ng-model="Hoja1.Estatura" ng-keyup="FormatSoloNumero('Hoja1_Estatura')">
                  <label>Estatura (CM)</label>
                </div>
                <div class="col s3 no-padding label-new m-b">
                  <input class="margin border-none input-text-new gray-input w-100 m-l" autocomplete="off"
                    maxlength="10" id="Hoja1_Telefono" ng-model="Hoja1.Telefono"
                    ng-keyup="FormatSoloNumero('Hoja1_Telefono')">
                  <label>Telefono</label>
                </div>
                <div class="col s3 no-padding label-new m-b">
                  <input class="margin border-none input-text-new gray-input w-100 m-l" autocomplete="off"
                    maxlength="10" id="Hoja1_Celular" ng-model="Hoja1.Celular"
                    ng-keyup="FormatSoloNumero('Hoja1_Celular')">
                  <label>Celular</label>
                </div>
              </div>
              <!-- // -->
              <div class="col s12 m12 l12">
                <div class="col s6 no-padding label-new m-b select_maxheigth">
                  <select id="Hoja1_Departamento" class="select-new-style gray-input" style="box-shadow: none;"
                    ng-model="Hoja1.Departamento" ng-change="Cargar_Selects('departamentoper',Hoja1.Departamento)">
                    <option value="" disabled>SELECCIONAR</option>
                    <option ng-selected="x.codigo == Hoja1.Departamento"
                      ng-repeat="x in Datos.Hoja1.Ubicaciones.dptoper" value="{{x.codigo}}">{{x.nombre}}</option>
                  </select>
                  <label>Departamento</label>
                </div>
                <div class="col s6 no-padding label-new m-b select_maxheigth">
                  <select id="Hoja1_Municipio" class="select-new-style gray-input m-l" style="box-shadow: none;"
                    ng-model="Hoja1.Municipio">
                    <option value="" disabled>SELECCIONAR</option>
                    <option ng-selected="x.codigo == Hoja1.Municipio" ng-repeat="x in Datos.Hoja1.Municipios"
                      value="{{x.codigo}}">{{x.nombre}}</option>
                  </select>
                  <label>Municipio</label>
                </div>
              </div>
              <!-- // -->
              <div class="col s12 m12 l12">
                <div class="col s6 no-padding label-new m-b">
                  <input class="margin border-none input-date-new w-100" id="Hoja1_Direccion" ng-model="Hoja1.Direccion"
                    ng-click="Abrir_Modal_Direccion();">
                  <label>Direccion</label>
                </div>
                <div class="col s6 no-padding label-new m-b">
                  <input class="margin border-none input-date-new w-100 m-l" id="Hoja1_Barrio" ng-model="Hoja1.Barrio">
                  <label>Barrio</label>
                </div>
              </div>
              <!-- // -->
              <div class="col s12 m12 l12">
                <div class="col s9 no-padding label-new m-b">
                  <input class="margin border-none input-date-new w-100" id="Hoja1_Email" ng-model="Hoja1.Email"
                    ng-keyup="FormatTexto('Hoja1_Email')" maxlength="50">
                  <label>Email</label>
                </div>
                <div class="col s3 no-padding label-new m-b select_maxheigth">
                  <select id="Hoja1_Rethus" class="select-new-style gray-input m-l" style="box-shadow: none;"
                    ng-model="Hoja1.Rethus">
                    <option value="" disabled>SELECCIONAR</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                  </select>
                  <label>Rethus</label>
                </div>
              </div>

            </div>
            <!-- // -->
            <div class="row" style="margin-top:1vh;">
              <div class="col s12 center" ng-if="Hoja1.Status == 0">
                <input class="btn white-text"
                  style="background:linear-gradient(to bottom left,#e04242,#8b0000,#e04242);border-radius: 15px;"
                  type="submit" value="Editar" ng-click="Hoja1_Editar();">
              </div>
              <div class="col s12 center" ng-if="Hoja1.Status == 1">
                <input class="btn white-text"
                  style="background:linear-gradient(to bottom left,#888988,#313231,#888988);border-radius: 15px;margin-right: 1vw;"
                  type="submit" value="Deshacer" ng-click="Hoja1_Deshacer();">
                <input class="btn white-text"
                  style="background:linear-gradient(to bottom left,#50ba58,#049210,#50ba58);border-radius: 15px;"
                  type="submit" value="Actualizar" ng-click="Hoja1_Actualizar_Personal();">
              </div>
            </div>
            <!-- // -->
          </div>
        </div>
        <div class="col s12" style="padding: 0;" ng-show="Tabs == 2">
          <div class="row Anim_Show" style="margin-bottom: 0;">
            <!-- // -->
            <div id="Hoja2" class="row Form_Desactivados" style="margin-bottom: 0;width: 98%;margin-top: 1rem;">

            </div>
            <!-- // -->
            <hr class="default-background" style="height: .3vh;">
            <!-- // -->
            <div class="row" style="margin-top:1vh;">
              <div class="col s12 m12 l12 m-b">
                <table class="table_tabs">
                  <tbody>
                    <tr class="default-color">
                      <th>Tipo Entidad</th>
                      <th>Entidad</th>
                      <th>Fecha Inicial </th>
                      <th>Fecha Final</th>
                    </tr>
                    <tr ng-repeat="x in Hoja2.Datos">
                      <td>{{x.nombretipo}}</td>
                      <td>{{x.nombreentidad}}</td>
                      <td>{{x.fechinicial}}</td>
                      <td>{{x.fechafinal}}</td>
                    </tr>
                    <tr ng-show="Hoja2.Datos.length == 0">
                      <th colspan="4">No existen registros</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- // -->
          </div>
        </div>
        <div class="col s12" style="padding: 0;" ng-show="Tabs == 3">
          <div class="row Anim_Show" style="margin-bottom: 0;">
            <!-- // -->
            <div id="Hoja3" class="row Form_Desactivados" style="margin-bottom: 0;width: 98%;margin-top: 1rem;">
              <div class="col s12 m12 l12">
                <div class="col s4 no-padding label-new m-b select_maxheigth">
                  <select id="Hoja3_Nivel" class="select-new-style gray-input m-l" style="box-shadow: none;"
                    ng-model="Hoja3.Nivel">
                    <option value="" disabled>SELECCIONAR</option>
                    <option value="1">BASICA PRIMARIA</option>
                    <option value="2">BASICA SECUNDARIA</option>
                    <option value="3">BACHILLERATO TECNICO</option>
                    <option value="4">BACHILLERATO COMERCIAL</option>
                    <option value="5">FORMACION TECNICA</option>
                    <option value="6">FORMACION TECNOLOGA</option>
                    <option value="7">FORMACION UNIVERSITARIA - PROFESIONAL</option>
                    <option value="8">POST-GRADO</option>
                    <option value="9">DIPLOMADO</option>
                    <option value="10">SEMINARIO</option>
                    <option value="11">MAESTRIA</option>
                    <option value="12">DOCTORADO</option>
                    <option value="13">CURSO LIBRE</option>
                    <option value="15">ESTUDIANTE UNIVERSITARIO</option>
                    <option value="16">BACHILLERATO CLASICO</option>
                    <option value="999">INDEFINIDO</option>

                  </select>
                  <label>Nivel</label>
                </div>
                <div class="col s4 no-padding label-new m-b">
                  <input class="margin border-none input-text-new gray-input w-100 m-l" autocomplete="off"
                    id="Hoja3_Institucion" ng-model="Hoja3.Institucion" ng-click="Hoja3_Abrir_Modal('Institucion');">
                  <label>Institución</label>
                </div>
                <div class="col s4 no-padding label-new m-b">
                  <input class="margin border-none input-text-new gray-input w-100 m-l" autocomplete="off"
                    id="Hoja3_Programa" ng-model="Hoja3.Programa" ng-click="Hoja3_Abrir_Modal('Programa');">
                  <label>Programa</label>
                </div>

              </div>
              <div class="col s12 m12 l12">
                <div class="col s3 no-padding label-new m-b select_maxheigth">
                  <select id="Hoja3_Tipo_Periodo" class="select-new-style gray-input m-l" style="box-shadow: none;"
                    ng-model="Hoja3.Tipo_Periodo">
                    <option value="" disabled>SELECCIONAR</option>
                    <option value="F">FINALIZADO</option>
                    <option value="M">MES</option>
                    <option value="T">TRIMESTRE</option>
                    <option value="C">CUATRIMESTRE</option>
                    <option value="S">SEMESTRE</option>
                    <option value="A">AÑO</option>
                  </select>
                  <label>Tipo Periodo</label>
                </div>
                <div class="col s3 no-padding label-new m-b select_maxheigth">
                  <select id="Hoja3_Periodo" class="select-new-style gray-input m-l" style="box-shadow: none;"
                    ng-model="Hoja3.Periodo">
                    <option value="">TERMINADO</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                  <label>Periodo</label>
                </div>
                <div class="col s3 no-padding label-new m-b">
                  <input type="date" class="margin border-none input-date-new w-100 m-l" id="Hoja3_Fecha_Terminacion"
                     ng-model="Hoja3.Fecha_Terminacion">
                  <label>Fecha Terminacion</label>
                </div>
                <div class="col s3 no-padding label-new m-b">
                  <input class="margin border-none input-text-new gray-input w-100 m-l" autocomplete="off"
                    id="Hoja3_Lugar" ng-model="Hoja3.Lugar" ng-click="Hoja3_Abrir_Modal('Lugar');">
                  <label>Lugar</label>
                </div>
              </div>

              <div class="col s12 center">
                <input class="btn white-text"
                  style="background:linear-gradient(to bottom left,#888988,#313231,#888988);border-radius: 15px;margin-right: 1vw;"
                  type="submit" value="Deshacer" ng-if="Hoja3.Status == 1" ng-click="Hoja3_Deshacer();">
                <input class="btn white-text"
                  style="background:linear-gradient(to bottom left,#50ba58,#049210,#50ba58);border-radius: 15px;"
                  type="submit" value="Guardar" ng-if="Hoja3.Status == 0"
                  ng-click="Hoja3_Guardar_Actualizar_Estudios('insert');">
                <input class="btn white-text"
                  style="background:linear-gradient(to bottom left,#50ba58,#049210,#50ba58);border-radius: 15px;"
                  type="submit" value="Actualizar" ng-if="Hoja3.Status == 1"
                  ng-click="Hoja3_Guardar_Actualizar_Estudios('update');">
              </div>
            </div>
            <!-- // -->
            <hr class="default-background" style="height: .3vh;">
            <!-- // -->
            <div class="row" style="margin-top:1vh;">
              <div class="col s12 m12 l12 m-b">
                <table class="table_tabs">
                  <tbody>
                    <tr class="default-color">
                      <th>Seleccionar</th>
                      <th>Institución</th>
                      <th>Programa</th>
                      <th>Nivel</th>
                      <th>Tipo Periodo</th>
                      <th>Periodo</th>
                      <th>Año</th>
                      <th>Ubicación</th>
                    </tr>
                    <tr ng-repeat="x in Hoja3.Datos">
                      <td>
                        <center>
                          <input type="checkbox" class="filled-in checkbox_Est" ng-click="Hoja3_Actualizar_Estudios(x)"
                            id="Est_{{x.renglon}}">
                          <label for="Est_{{x.renglon}}"></label>
                        </center>
                      </td>
                      <td>{{x.institucion}}</td>
                      <td>{{x.programa}}</td>
                      <td>{{x.nivel}}</td>
                      <td>{{x.tipoperiodo}}</td>
                      <td>{{x.periodo}}</td>
                      <td>{{x.ano}}</td>
                      <td>{{x.ubicacion}}</td>
                    </tr>
                    <tr ng-show="Hoja3.Datos.length == 0">
                      <th colspan="8">No existen registros</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- // -->
          </div>
        </div>
        <div class="col s12" style="padding: 0;" ng-show="Tabs == 4">
          <div class="row Anim_Show" style="margin-bottom: 0;">
            <!-- // -->
            <div id="Hoja4" class="row Form_Desactivados" style="margin-bottom: 0;width: 98%;margin-top: 1rem;">
              <div class="col s12 m12 l12">
                <div class="col s3 no-padding label-new m-b select_maxheigth">
                  <select id="Hoja4_Tipo_Doc" class="select-new-style gray-input m-l" style="box-shadow: none;"
                    ng-model="Hoja4.Tipo_Doc">
                    <option value="" disabled>SELECCIONAR</option>
                    <option value="CC">CEDULA DE CIUDADANÍA</option>
                    <option value="TI">TARJETA DE IDENTIDAD</option>
                    <option value="RC">REGISTRO CIVIL</option>
                    <option value="CE">CEDULA DE EXTRANJERÍA</option>
                    <option value="PA">PASAPORTE</option>
                    <option value="PE">PERMISO ESPECIAL DE PERMANENCIA</option>
                    <option value="AS">ADULTO SIN IDENTIFICACIÓN</option>
                    <option value="MS">MENOR SIN IDENTIFICACIÓN</option>
                    <option value="CD">CARNET DIPLOMÁTICO</option>
                  </select>
                  <label>Tipo de Documento</label>
                </div>
                <div class="col s3 no-padding label-new m-b">
                  <input class="margin border-none input-text-new gray-input w-100 m-l" autocomplete="off"
                    maxlength="20" id="Hoja4_Documento" ng-model="Hoja4.Documento"
                    ng-keyup="FormatSoloNumero('Hoja4_Documento')">
                  <label>Documento</label>
                </div>
                <div class="col s6 no-padding label-new m-b">
                  <input class="margin border-none input-text-new gray-input w-100 m-l" autocomplete="off"
                    id="Hoja4_Nombre" ng-model="Hoja4.Nombre" ng-keyup="FormatTexto('Hoja4_Nombre')">
                  <label>Nombre Completo</label>
                </div>

              </div>
              <div class="col s12 m12 l12">
                <div class="col s3 no-padding label-new m-b select_maxheigth">
                  <select id="Hoja4_Parentesco" class="select-new-style gray-input m-l" style="box-shadow: none;"
                    ng-model="Hoja4.Parentesco">
                    <option value="" disabled>SELECCIONAR</option>
                    <option value="1">PADRE</option>
                    <option value="2">HIJO/A</option>
                    <option value="3">CONYUGE</option>
                    <option value="4">ABUELO/A</option>
                    <option value="6">PRIMO/A</option>
                    <option value="10">HERMANO/A</option>
                    <option value="11">MADRE</option>
                  </select>
                  <label>Parentesco</label>
                </div>
                <div class="col s3 no-padding label-new m-b select_maxheigth">
                  <select id="Hoja4_Sexo" class="select-new-style gray-input m-l" style="box-shadow: none;"
                    ng-model="Hoja4.Sexo">
                    <option value="" disabled>SELECCIONAR</option>
                    <option value="M">MASCULINO</option>
                    <option value="F">FEMENINO</option>
                    <option value="I">INDETERMINADO</option>
                  </select>
                  <label>Sexo</label>
                </div>
                <div class="col s3 no-padding label-new m-b">
                  <input type="date" class="margin border-none input-date-new w-100 m-l" id="Hoja4_Nacimiento"
                    max="{{SysDay | date:'yyyy-MM-dd'}}" ng-model="Hoja4.Nacimiento">
                  <label>Fecha Nacimiento</label>
                </div>
              </div>

              <div class="col s12 center">
                <input class="btn white-text"
                  style="background:linear-gradient(to bottom left,#888988,#313231,#888988);border-radius: 15px;margin-right: 1vw;"
                  type="submit" value="Deshacer" ng-if="Hoja4.Status == 1" ng-click="Hoja4_Deshacer();">
                <input class="btn white-text"
                  style="background:linear-gradient(to bottom left,#50ba58,#049210,#50ba58);border-radius: 15px;"
                  type="submit" value="Guardar" ng-if="Hoja4.Status == 0"
                  ng-click="Hoja4_Guardar_Actualizar_Beneficiarios('insert');">
                <input class="btn white-text"
                  style="background:linear-gradient(to bottom left,#50ba58,#049210,#50ba58);border-radius: 15px;"
                  type="submit" value="Actualizar" ng-if="Hoja4.Status == 1"
                  ng-click="Hoja4_Guardar_Actualizar_Beneficiarios('update');">
              </div>
            </div>
            <!-- // -->
            <hr class="default-background" style="height: .3vh;">
            <!-- // -->
            <div class="row" style="margin-top:1vh;">
              <div class="col s12 m12 l12 m-b">
                <table class="table_tabs">
                  <tbody>
                    <tr class="default-color">
                      <th>Seleccionar</th>
                      <th>Tipo</th>
                      <th>Documento</th>
                      <th>Nombre</th>
                      <th>Parentezco</th>
                      <th>Sexo</th>
                      <th>Nacimiento</th>
                      <th>Edad</th>
                      <!-- <th>Adjunto</th> -->
                    </tr>
                    <tr ng-repeat="x in Hoja4.Datos">
                      <td data-field="marcar" class="center-align">
                        <center>
                          <input type="checkbox" class="filled-in checkbox_Ben"
                            ng-click="Hoja4_Actualizar_Beneficiarios(x)" id="Ben_{{x.renglon}}">
                          <label for="Ben_{{x.renglon}}"></label>
                        </center>
                      </td>
                      <td>{{x.tipodoc}}</td>
                      <td>{{x.cedulafamiliar}}</td>
                      <td>{{x.nombre}}</td>
                      <td>{{x.parentezco}}</td>
                      <td>{{x.sexo}}</td>
                      <td>{{x.nacimiento}}</td>
                      <td>{{x.edad}}</td>
                      <!-- <td style="text-align: center;">
                        <a style="margin-right: 0px; cursor:pointer;" ng-click="verAdjunto(x.ruta)"><i
                            class="icon-attach"></i></a>
                      </td> -->
                    </tr>
                    <tr ng-show="Hoja4.Datos.length == 0">
                      <th colspan="8">No existen registros</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- // -->
          </div>
        </div>
        <div class="col s12" style="padding: 0;" ng-show="Tabs == 5">
          <div class="row Anim_Show" style="margin-bottom: 0;">
            <!-- // -->
            <div id="Hoja5" class="row Form_Desactivados" style="margin-bottom: 0;width: 98%;margin-top: 1rem;">
              <div class="col s12 m12 l12">
                <div class="col s3 no-padding label-new m-b select_maxheigth">
                  <select id="Hoja5_Sueter" class="select-new-style gray-input m-l" style="box-shadow: none;"
                    ng-model="Hoja5.Sueter">
                    <option value="" disabled>SELECCIONAR</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                    <option value="XXXL">XXXL</option>
                  </select>
                  <label>Sueter</label>
                </div>
                <div class="col s3 no-padding label-new m-b select_maxheigth">
                  <select id="Hoja5_Camisa" class="select-new-style gray-input m-l" style="box-shadow: none;"
                    ng-model="Hoja5.Camisa">
                    <option value="" disabled>SELECCIONAR</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                    <option value="XXL">XXXL</option>
                  </select>
                  <label>Camisa</label>
                </div>
                <div class="col s3 no-padding label-new m-b select_maxheigth">
                  <select id="Hoja5_Pantalon" class="select-new-style gray-input m-l" style="box-shadow: none;"
                    ng-model="Hoja5.Pantalon">
                    <option value="" disabled>SELECCIONAR</option>
                    <option value="4">4</option>
                    <option value="6">6</option>
                    <option value="8">8</option>
                    <option value="10">10</option>
                    <option value="12">12</option>
                    <option value="14">14</option>
                    <option value="16">16</option>
                    <option value="18">18</option>
                    <option value="20">20</option>
                    <option value="22">22</option>
                    <option value="24">24</option>
                    <option value="26">26</option>
                    <option value="28">28</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="36">36</option>
                    <option value="38">38</option>
                    <option value="40">40</option>
                    <option value="42">42</option>
                    <option value="44">44</option>
                  </select>
                  <label>Pantalon</label>
                </div>
                <div class="col s3 no-padding label-new m-b select_maxheigth">
                  <select id="Hoja5_Zapato" class="select-new-style gray-input m-l" style="box-shadow: none;"
                    ng-model="Hoja5.Zapato">
                    <option value="" disabled>SELECCIONAR</option>
                    <option value="24">24</option>
                    <option value="24">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="40">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="45">45</option>
                    <option value="46">46</option>
                    <option value="47">47</option>
                    <option value="48">48</option>
                    <option value="49">49</option>
                    <option value="50">50</option>
                    <option value="51">51</option>
                    <option value="52">52</option>
                    <option value="53">53</option>
                  </select>
                  <label>Zapato</label>
                </div>
              </div>
              <div class="col s12 center">
                <input class="btn white-text"
                  style="background:linear-gradient(to bottom left,#50ba58,#049210,#50ba58);border-radius: 15px;"
                  type="submit" value="Actualizar" ng-click="Hoja5_Actualizar_Medidas();">
              </div>
            </div>
            <!-- // -->
            <hr class="default-background" style="height: .3vh;">
            <!-- // -->
            <div class="row" style="margin-top:1vh;">
              <div class="col s12 m12 l12 m-b">
                <table class="table_tabs">
                  <tbody>
                    <tr class="default-color">
                      <th>Sueter</th>
                      <th>Camisa</th>
                      <th>Pantalon</th>
                      <th>Zapato</th>
                    </tr>
                    <tr ng-repeat="x in Hoja5.Datos">
                      <td>{{x.suater}}</td>
                      <td>{{x.camisa}}</td>
                      <td>{{x.pantalon}}</td>
                      <td>{{x.zapato}}</td>
                    </tr>
                    <tr ng-show="Hoja5.Datos.length == 0">
                      <th colspan="8">No existen registros</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- // -->
          </div>
        </div>
      </div>

      <div class="card-content clearfix card blue-grey darken-1 white-text"
        style="width: 100%;margin: 5vh auto auto auto;border-radius: 15px;border-bottom-right-radius: 0;" ng-if="Proteccion_Datos == 0">
        <h4 style="padding: 0px 24px;">Importante!</h4>
        <hr>
        <p style="padding: 9px 24px;text-align: justify;">El Programa de Salud dará cumplimiento a lo establecido por la Ley 1581 de 2012 y
          complementarias en
          lo relacionado con la protección de datos personales, por lo cual se notifica que esta información se
          recauda a fin de complementar expediente laboral y listados de funcionarios objeto de planes
          estratégicos. Los datos de carácter público (nombre, dirección, teléfono, sentencias judiciales
          ejecutoriadas, estado civil, etc.), no requieren la autorización previa del titular de la información.
          Los datos personales de carácter privado (nivel de educación, socioeconómico, etc.), será autorizados
          por el titular de la información, quien al diligenciar el aplicativo autoriza expresamente el
          tratamiento de los datos. Para datos personales de carácter sensible (estado de salud, origen racial,
          orientación religiosa/política, etc.) el titular autoriza el tratamiento por motivo de salvaguardar su
          interés vital o se encuentre incapacitado.</p>
      </div>
      <div class="card-action" style="padding-bottom: 32px;">
        <a href="#" class="btn" style="position: relative; float:right;background-color: #546e7a;background-image: none;" ng-click="Guardar_Proteccion_Datos()" ng-if="Proteccion_Datos == 0">Acepto</a>
      </div>
    </div>
    <!-- /////////// -->
    <!-- /////////// -->
    <!-- /////////// -->
    <!-- Modal_Direccion  -->
    <div id="Modal_Direccion" class="modal card" style="margin: 0 auto;max-height: 100%;width: 50%;top:0%;border-radius: 15px;">
      <div class="col s12 m12 l12 " style="padding-left: 0px; padding-right: 0px;overflow: hidden;">
        <div style="margin-top: 10px; padding-bottom: 0px; padding-top: 12px;">
          <div class="row" style="margin-bottom: 0px;">
            <div class="col s11">
              <strong class="default-color" style="font-weight: bold; margin-left: 2vw;">Actualiza Dirección</strong>
            </div>
            <div class="col s1">
              <h5 style="text-align: end;margin: 0;" ng-click="closeModal()"><i style="cursor:pointer;"
                  class="material-icons">close</i></h5>
            </div>
            <hr class="default-background" style="height: 2px;">
          </div>
        </div>
        <div class="row" style="margin: 0;">
          <div class="col s12" style="margin-top: 1vh;">
            <div class="col s12 no-padding label-new">
              <input class="margin border-none input-text-new gray-input w-100 m-l" type="text" autocomplete="off"
                id="Dir_Actual" ng-model="Dir_Actual">
              <label>Dirección Actual</label>
            </div>
          </div>
          <!-- //////// -->
          <div class="col s12" style="margin-top: 1em;">
  
            <div class="col s6 no-padding label-new m-b select_maxheigth">
              <select class="select-new-style gray-input m-l" style="box-shadow: none;" ng-model="selectViap"
                ng-change="Chg_Direccion()">
                <option value="" disabled>SELECCIONAR</option>
                <option value="{{viap.Codigo}}" ng-selected="viap.Codigo == selectViap" ng-repeat="viap in viaprincipal">
                  {{viap.Nombre}}</option>
              </select>
              <label>Via Principal</label>
            </div>
            <div class="col s6 no-padding label-new m-b">
              <input class="margin border-none input-text-new gray-input w-100 m-l" autocomplete="off" ng-model="numeroN"
                ng-change="Chg_Direccion()">
              <label>Número/Nombre</label>
            </div>
  
          </div>
          <!--NumeroVG y letraVG Numero de placa-->
          <div class="col s12">
            <div class="col s6 no-padding label-new m-b select_maxheigth">
              <select class="select-new-style gray-input m-l" style="box-shadow: none;" ng-model="selectLetra"
                ng-change="Chg_Direccion()">
                <option value="" disabled>SELECCIONAR</option>
                <option value="{{letra.Codigo}}" ng-selected="letra.Codigo == selectLetra" ng-repeat="letra in letras">
                  {{letra.Nombre}}</option>
              </select>
              <label>Letra</label>
            </div>
            <div class="col s6 no-padding label-new m-b">
              <input class="margin border-none input-text-new gray-input w-100 m-l" autocomplete="off"
                ng-model="numeroNVG" ng-change="Chg_Direccion()">
              <label>Número VG</label>
            </div>
  
          </div>
          <div class="col s12">
            <div class="col s6 no-padding label-new m-b select_maxheigth">
              <select class="select-new-style gray-input m-l" style="box-shadow: none;" ng-model="selectLetraVG"
                ng-change="Chg_Direccion()">
                <option value="" disabled>SELECCIONAR</option>
                <option value="{{letravg.Codigo}}" ng-selected="letravg.Codigo == selectLetraVG"
                  ng-repeat="letravg in letras">{{letravg.Nombre}}</option>
              </select>
              <label>Letra VG</label>
            </div>
          </div>
          <!--CuadranteVG Complemento Direccion-->
          <div class="col s12">
            <div class="col s12 no-padding label-new m-b">
              <input class="margin border-none input-text-new gray-input w-100 m-l" ng-click="Abrir_Modal_Direccion();" type="text" autocomplete="off"
                id="direccionmodal">
              <label>Direccion</label>
            </div>
          </div>
          <div class="col s12 center" style="margin-bottom: 1em;">
            <button id="buton" class="btn" style="border-radius: 20px;" ng-click="Cargar_Dir()">
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal_Hoja3  -->
    <div id="Modal_Hoja3" class="modal" style="margin: 0 auto;max-height: 100%;width: 50%;top:0%;">
      <div class="col s12 m12 l12 card margin" style="padding-left: 0px; padding-right: 0px;overflow: hidden;">
        <div class="card-content foot4" style="padding-bottom: 0px; padding-top: 12px;">
          <div class="row" style="margin-bottom: 0px;">
            <div class="col s11">
              <h6 class="white-text">Consultar {{Hoja3.Tipo_Modal}}</h6>
            </div>
            <div class="col s1">
              <h5 style="text-align: end;" ng-click="closeModal()"><i style="cursor:pointer;"
                  class="material-icons white-text">close</i></h5>
            </div>
          </div>
        </div>
        <div class="row" style="margin: 0;">
          <div class="col s12" style="margin-top: 1vh;">
            <div class="col s12 no-padding label-new m-b">
              <input id="Hoja3_Busqueda" class="margin border-none input-text-new gray-input w-100 m-l"
                autocomplete="off" ng-model="Hoja3.Busqueda" ng-keyup="Hoja3_Modal_Consultar()">
              <label>Número/Nombre</label>
            </div>
          </div>
          <!-- //////// -->
          <div class="col s12" style="margin-top: 1em;overflow-y: auto;max-height: 60vh;">
            <table class="table_tabs table_modal_hoja3 highlight">
              <thead>
                <tr class="default-color">
                  <th>Codigo</th>
                  <th>Nombre</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in Hoja3.Busqueda_Json" ng-click="Hoja3_Cerrar_Modal(x.Codigo,x.Nombre)">
                  <td>{{x.Codigo}}</td>
                  <td>{{x.Nombre}}</td>
                </tr>
                <tr ng-show="Hoja3.Busqueda_Json.length == 0">
                  <th colspan="2">No existen registros</th>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col s12 center" style="margin: 1em;">
            <button id="buton" class="btn" style="border-radius: 20px;" ng-click="closeModal()">
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /////////// -->
  </div>
  <!-- ///// -->


  <style>
    select:disabled {
      color: black;
    }

    .table_modal_hoja3 tbody>tr {
      cursor: pointer;
    }

    .select_maxheigth {
      max-height: 125px;
    }

    .table_tabs th {
      text-align: center;
      font-size: 1.1rem;
    }

    .table_tabs td {
      text-align: center;
    }


    .default-linear-gradient {
      border-radius: 0px !important;
    }

    .btn-floating .default-linear-gradient {
      border-radius: 10px !important;
    }

    .Valid_Campo {
      border: 1px solid red !important;
    }

    @keyframes Anim_Show {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    .Anim_Show {
      animation-name: Anim_Show;
      animation-duration: 1s;
    }

    .card-panel,
    .card,
    .btn {
      box-shadow: 0 2px 5px 0 rgb(197 208 239), 0 2px 10px 0 rgb(197 208 239) !important;
    }

    .tabs {
      height: 30px !important;
    }

    .tabs .tab {
      line-height: 30px !important;
      height: 30px !important;
    }

    /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


    .tabla_estilo_0 th {
      position: sticky;
      top: 0;
      z-index: 9;
    }

    .label-new>label {
      display: table;
    }

    input.input-text-new {
      background-color: #f1f3f4 !important;
    }

    .gray-input {
      background-color: #f1f3f4 !important;
    }


    #toast-container .toast {
      border-radius: 10px !important;
      font-weight: 600;
      text-align: center !important;
      word-break: keep-all;
      padding: 10px 25px;
      width: auto;
      background: linear-gradient(to bottom left, #e04242, #8b0000, #e04242);
    }


    ul::-webkit-scrollbar {
      width: 6px;
      background-color: #F5F5F5;
    }


    /* //////////////////////////////////////////////////////////////////////////////// */
  </style>
</div>