
<div style="width: 45%; margin: 0 auto; padding-top: 10%;">
   <div class="col s12 m6 l6 card">
      <div class="card-content">
         <h5>Subir Anexos</h5>
      </div>
      <div class="card-action">
         <blockquote>
            Para agregar el documento de identificacion de su beneficiario, debe cargar el archivo en el boton <b>archivo</b> y luego dar click en <b>Subir</b>
         </blockquote>
      </div>
      <div style="width: 60%; margin: 0 auto;">
         <form id="beneficiarioadj">
            <div class="file-field input-field">
              <div class="file-field input-field margin">
                    <div class="btn">
                      <input type="text" name="tipodocumento" ng-value="tipodocumentoa" style="display: none;">
                      <input type="text" name="documento" ng-value="documentoa" style="display: none;">
                      <input type="text" name="ftp" ng-value="ftp" style="display: none;">
                      <input type="text" name="folder" ng-value="folder" style="display: none;">
                      <input type="text" name="nuevonombre" ng-value="nuevonombre" style="display: none;">
                      <input type="text" name="doct" ng-value="doct" style="display: none;">
                      <input type="text" name="obs" ng-value="obs" style="display: none;">
                      <span class="white-text">Archivo</span>
                      <input id="-beneficiarioadj" name="adjunto" accept=".png,.jpg,.jpeg,.pdf,.doc" type="file">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                  </div>
                </div>
         </form>
      </div>
      <br>
      <br>
      <br>
      <center><a class="waves-effect waves-light btn white-text" ng-click="subiradjunto(1)" ng-disabled="subir">Subir</a></center><br>
   </div>
</div>
