<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Methods" value="POST,GET" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
