<div class="row">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="foot4 divcardcustom">
                <div class="text-al switch">
                    <strong>Informe Circular 017</strong>
                </div>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="input-field col l2 m12 s12 margin">
                        <label class="labelper">Informe</label>
                        <select id="informe" name="informe" class="select-chosen-eps" ng-model="data.informe">
                            <option value="005">005</option>
                            <option value="006">006</option>
                        </select>
                    </div>
                    <div class="input-field col l3 m12 s12 margin">
                        <label class="labelper" for="fecha_inicio">Fecha de Inicio</label>
                        <input id="fecha_inicio" type="date" ng-model="data.fecha_inicio">
                    </div>
                    <div class="input-field col l3 m12 s12 margin">
                        <label class="labelper" for="fecha_fin">Fecha fin</label>
                        <input id="fecha_fin" type="date" ng-model="data.fecha_fin">
                    </div>
                    <div class="col s3">
                        <button class="btn relative" style="bottom: -10px;" ng-click="obtenerDatos()">
                            Generar reporte
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col s3" ng-show="data.exportar">
                        <button class="btn relative" style="bottom: -10px;" ng-click="exportarDatos()">
                            Exportar datos
                        </button>
                    </div>
                    <div class="row" id="table-container">
                        <table id="datatable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>