<div class="white newdesing" id="pantalla">
  <style>
    .newdesing .content-container {
      min-height: 0;
    }
  </style>
  <div class="row section-header margin">
    <ul class="left mailbox-custom-search list-inline w-100 d-flex justify-content-between align-items-center">
      <li id="inicio">
        <h5 class="cursor-pointer" style="font-size: 22px;line-height: 22px;opacity: .54;margin: 9px 0"
          onclick="location.reload();">
          <!-- <h5 class="cursor-pointer" style="font-family: 'Product Sans',Arial,sans-serif;font-size: 22px;line-height: 22px;opacity: .54;margin: 9px 0" onclick="location.reload();"> -->
          Gestión de Encuestas
        </h5>
      </li>
      <li>
        <ul class="tabs transparent" style="overflow:hidden;" ng-show="Form.Status != 2">
          <li class="tab col w-auto active">
            <a ng-click="setTab(1);" id="Nueva" href>Evaluación De La Pqr<i class="icon-doc-text"></i></a>
          </li>
          <li class="tab col w-auto">
            <a ng-click="setTab(2);" id="Nueva" href>Consolidados De Encuestas<i class="icon-doc-text-1"></i></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- <button ng-click="Hoja_Limpiar()">asd</button> -->
  <!-- //////////////////////////////////TAB 1////////////////////////////////// -->
  <div class="row dashboard-wrapper content-container white" style="height: 90vh;">
    <!-- FORM -->
    <div class="col s12 m12 l12" style="justify-content: center;" ng-show="selTab==1">
      <div class="row card" id="Form1">
        <div class="col s12 m12 l12">
          <blockquote class="default-color">Nueva Encuesta
            <!-- <span class="right cursor-pointer" ng-click="Atras()">Cerrar</span> -->
          </blockquote>
          <form ng-submit="consultarPQR();">
            <div class="col s3 no-padding label-new m-b">
              <input class="margin border-none white input-text-new input-w-p input-out-new w-100 m-l" type="text"
                autocomplete="off" id="form_numeroPQR" ng-model="form.numeroPQR" maxlength="10" numbers-only>
              <label>Numero de PQR: <i class="icon-search cursor-pointer" ng-click="consultarPQR();"
                  ng-show="form.status == 0"></i></label>
            </div>
            <div class="col s3 no-padding label-new m-b" ng-show="form.status == 1">
              <i ng-click="limpiarForm()" class="icon-left-open-2 cursor-pointer">Nueva Búsqueda</i>
            </div>
          </form>
        </div>
        <!--  -->
        <div class="col s12 m12 l12" ng-show="form.status == 1">
          <div class="col s4 no-padding label-new m-b Form_Desactivados">
            <select class="select-default-new input-out-new m-l" ng-model="form.tipoDocAfiliado">
              <option value="" disabled>SELECCIONAR</option>
              <option value="{{x.CODIGO}}" ng-selected="x.CODIGO == form.tipoDocAfiliado"
                ng-repeat="x in tiposDocumentos">{{x.NOMBRE}}</option>
            </select>
            <label>Tipo de Documento</label>
          </div>
          <div class="col s3 no-padding label-new m-b Form_Desactivados">
            <input class="margin border-none white input-text-new input-w-p input-out-new w-100  m-l" autocomplete="off"
              ng-model="form.numeroDocAfiliado">
            <label>Numero de Documento</label>
          </div>
          <div class="col s5 no-padding label-new m-b Form_Desactivados">
            <input class="margin border-none white input-text-new input-w-p input-out-new w-100  m-l" autocomplete="off"
              ng-model="form.nombreAfiliado">
            <label>Nombre Completo Del Usuario Y/O Afiliado</label>
          </div>

        </div>
        <!--  -->
        <div class="col s12 m12 l12" ng-show="form.status == 1">
          <div class="col s3 no-padding label-new m-b Form_Desactivados">
            <input class="margin border-none white input-text-new input-w-p input-out-new w-100  m-l" autocomplete="off"
              ng-model="form.telefonoAfiliado">
            <label>Telefono de Contacto</label>
          </div>
          <div class="col s4 no-padding label-new m-b">
            <select class="select-default-new input-out-new m-l" ng-model="form.recibioRespuesta"
              id="form_recibioRespuesta">
              <option value="" disabled>SELECCIONAR</option>
              <option value="S">SI</option>
              <option value="N">NO</option>
            </select>
            <label>¿Recibió La Respuesta A Su Solicitud?</label>
          </div>
          <div class="col s4 no-padding label-new m-b">
            <select class="select-default-new input-out-new m-l" ng-model="form.dioSolucion" id="form_dioSolucion">
              <option value="" disabled>SELECCIONAR</option>
              <option value="S">SI</option>
              <option value="N">NO</option>
            </select>
            <label>¿Se Le Dio Solución A Su Solicitud?</label>
          </div>
        </div>
        <!--  -->

        <div class="col s12 m12 l12" ng-show="form.status == 1">
          <div class="col s12 no-padding label-new m-b" style="margin-bottom: 5.5rem;">
            <textarea id="form_observacion" class="white input-text-new input-out-new w-100  margin m-l" maxlength="500"
              style="height: 100px;text-transform:uppercase;text-align: justify;" autocomplete="off" text-description
              text-upper ng-model="form.observacion"></textarea>
            <label>Observación</label>
          </div>
        </div>
        <!--  -->
        <div class="col s12 m12 l12 center m-t m-b" ng-show="form.status == 1">
          <input class="btn white-text default-linear-gradient" type="submit" value="Guardar" ng-click="validarForm();">
          <input class="btn white-text red" style="background:linear-gradient(to bottom left,#e04242,#8b0000,#e04242);"
            type="submit" value="Limpiar" ng-click="limpiarForm();">
        </div>
      </div>
    </div>
    <!-- FORM -->
    <!-- FORM -->
    <div class="col s12 m12 l12" style="justify-content: center;" ng-show="selTab==2">
      <div class="row card" id="Form2">
        <div class="col s12 m12 l12">
          <blockquote class="default-color">Descargar Encuestas
          </blockquote>
          <!--  -->
          <div class="col s12 m12 l12">
            <div class=" col s3 no-padding label-new m-b">
              <input class="border-none input-date-new white m-l input-out-new m-l" autocomplete="off" type="date"
                id="form_tab2_fechaInicio" ng-model="form_tab2.fechaInicio">
              <label>Fecha Inicio</label>
            </div>
            <div class="col s3 no-padding label-new m-b">
              <input class="border-none input-date-new white m-l input-out-new m-l" autocomplete="off" type="date"
                id="form_tab2_fechaFin" ng-model="form_tab2.fechaFin">
              <label>Fecha Fin</label>
            </div>
            <div class="col s6 no-padding clase_radios m-b m-t">
              <p>
                <input id="encuesta1" type="radio" name="encuestax" value="encuesta1"
                  ng-click="form_tab2.tipoEncuesta = 1" checked>
                <label for="encuesta1">Descargar Encuesta De Evaluación De La PQR</label>
              </p>
              <p>
                <input id="encuesta2" type="radio" name="encuestax" value="encuesta2"
                  ng-click="form_tab2.tipoEncuesta = 2">
                <label for="encuesta2">Descargar Encuesta De Satisfacción De Los Canales De Atención</label>
              </p>
              <p>
                <input id="encuesta3" type="radio" name="encuestax" value="encuesta3"
                  ng-click="form_tab2.tipoEncuesta = 3">
                <label for="encuesta3">Descargar Encuesta De Satisfacción (16 Preguntas)</label>
              </p>

            </div>

          </div>
          <!--  -->
          <div class="col s12 m12 l12 center m-t m-b">
            <input class="btn white-text default-linear-gradient" type="submit" value="Descargar"
              ng-click="descargarEncuesta();">
            <input class="btn white-text red"
              style="background:linear-gradient(to bottom left,#e04242,#8b0000,#e04242);" type="submit" value="Limpiar"
              ng-click="limpiarForm_Tab2();">
          </div>
        </div>
      </div>
      <!-- FORM -->
      <!-- /////////// -->
    </div>
    <!-- ///// -->


    <style>
      .effect1 {
        animation-name: keyeffect1;
        animation-duration: .5s;
      }

      @keyframes keyeffect1 {
        from {
          opacity: 0;
          transform: translate(0px, 25px);
        }

        to {
          opacity: 1;
          transform: translate(0px, 0px);
        }
      }

      .clase_radios {
        display: grid
      }

      .clase_radios p {
        height: 1rem;
        margin: 0rem 0rem 1rem 3rem;
      }

      [type="radio"]:checked+label:after {
        background-color: #1a2e63;
        z-index: 0;
      }

      [type="radio"]:checked+label:after {
        border: 2px solid #1a2e63;
      }

      .default-linear-gradient {
        border-radius: 0px !important;
      }

      .btn-floating .default-linear-gradient {
        border-radius: 10px !important;
      }

      .Valid_Campo {
        border: 1px solid red !important;
      }

      .card-panel,
      .card,
      .btn {
        box-shadow: 0 2px 5px 0 rgb(197 208 239), 0 2px 10px 0 rgb(197 208 239) !important;
      }

      .tabs {
        height: 30px !important;
      }

      .tabs .tab {
        line-height: 30px !important;
        height: 30px !important;
      }

      /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

      .icon-docs:before {
        margin: 0;
        font-size: 19px;
      }

      select:disabled {
        color: black;
      }

      .label-new>label {
        display: table;
      }

      #toast-container .toast {
        border-radius: 10px !important;
        font-weight: 600;
        text-align: center !important;
        word-break: keep-all;
        padding: 10px 25px;
        width: auto;
        background: linear-gradient(to bottom left, #e04242, #8b0000, #e04242);
      }

      #toast-container .success {
        background: linear-gradient(to bottom left, #0fda00, #007217, #0fda00);
      }

      ul::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
      }

      .select-wrapper input.select-dropdown:disabled {
        color: black;
      }

      blockquote {
        font-weight: 700;
        background-color: #f1f3f4;
      }

      /* //////////////////////////////////////////////////////////////////////////////// */
    </style>
  </div>