<div id="modalDiagnosticos" class="style-modal-default">
    <div class="col s12 m6 l6 card">
        <div class="ngdialog-close style-btn-close"></div>
        <div class="card-content">
            <h5 id="ngdialog1-aria-labelledby">{{nombre_tipo}}</h5>
        </div>
        <div class="card-content clearfix">
            <div class="row" ng-style="stylesrowsearch" style="margin-bottom: 70px;">
                <div class="col s12">
                    <label for="coincidencia1" class="label">Búsqueda</label>
                    <input id="coincidencia1" type="text" ng-init="coincidencia1=''" ng-model="coincidencia1"
                        ng-change="cargarDiagnosticos(coincidencia1)" class="ng-pristine ng-valid ng-touched">
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="scrollTableDefault style-table-default" style="overflow-x: hidden;">
                        <table id="tbclas" style="cursor: pointer;">
                            <thead>
                                <tr>
                                    <td style="width: 8em;"><b>{{tipo==4?"NIT":"CÓDIGO"}}</b></td>
                                    <td style="width: 15em; "><b>NOMBRE</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-hide="Listardiagnosticos==undefined|| coincidencia1.length<4"
                                    id="DM{{dm.Codigo}}" class="c-pointer" ng-class="{'hover-item-list': hovering}"
                                    ng-mouseenter="hovering=true" ng-mouseleave="hovering=false"
                                    ng-repeat="dm in Listardiagnosticos track by $index"
                                    ng-click="elegir_diagnostico(dm.Codigo,dm.Nombre);">
                                    <td style="width: 8em; ">{{dm.Codigo}}</td>
                                    <td>{{dm.Nombre}}</td>
                                   
                                </tr>
                            </tbody>
                            <tfoot> 
                                <tr ng-show="mostrar_nada">
                                    <td colspan="3" style="text-align:center;">
                                        <h5>No se encontro datos para el criterio de búsqueda ingresado</h5>
                                    </td>
                                </tr>
                                <tr ng-show="coincidencia1.length<4 || mostrar_inicial==true ">
                                    <td colspan="3" style="text-align:center;">
                                        <h5>Ingrese más caracter para realizar la busqueda del Código o el Nombre  </h5>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row">
           
            <div class="col l12 m12 s12" style="margin: 1%">
               
                    <div class="col l6 m12 s12" style="text-align: center">
                        <button class=" btn btn-primary" type="submit" ng-click="removeSeleccion()"
                            style="background-color: #1a2e63;">Remover</button>
                    </div>
                    <div class="col l6 m12 s12" style="text-align: center">
                        <button class="btn btn-primary" type="submit" ng-click="cerrar();closeThisDialog()"
                            style="background-color: #1a2e63;">Selección</button>
                    </div>
                    <br>
               
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .style-modal-default {
        width: 45%;
        margin: 0 auto;
    }

    .style-table-default {
        height: 350px;
        overflow: auto;
    }

    .style-btn-close {
        float: right;
        font-size: 50px;
        padding-right: 20px;
    }

    #modalDiagnosticos tr>td:first-child {
        width: 74px;
        text-align: center;
    }

    #tbclas>thead {
        position: absolute;
        top: 188px;
        z-index: 10000;
        width: calc(100% - 62px);
    }

    .hover-item-list {
        background-color: #d6d6d6;
    }

    .eleacti {
        background: #7198fd2b;
    }
</style>