<div id="actualizarinfor" style="width: 80%; margin: 0 auto; margin-top: 3%;">
  <div class="col s12 m6 l6 card ">
     <div class="ngdialog-close white-text"
        style="float: right; font-size: 50px; padding-right: 20px; margin-top: 0 auto; margin-bottom: -40px">
     </div>
     <div class="card-content default-background white-text" style="    border-bottom: 1px solid #dcd7d7;">
        <h5>Gestión de Mesa de ayuda</h5>
     </div>
     <div class="" style="padding-left: 0px; padding-right: 0px;">
        <div class="row" style="margin-right: -10px">

           <div class="col l4 md4 sm4">
              <div class="row">
                 <div class="col l12 md12 sm12" style="    margin-top: 10px;    margin-left: 5%;">
                    <div class="col l4 m4 s4  input-field">
                       <input id="lacas" type="text" ng-model="acas" class=" ng-pristine  ng-touched mayus" disabled>
                       <label for="lacas" id="-lacas" class="active">CASO:</label>
                    </div>
                    <div class="col l5 m5 s5  input-field">
                       <span class="{{clase}}" style="    position: absolute;    top: 10px;">{{estado}}</span>
                    </div>
                    <div class="tooltip" ng-click="veradjunto(ruta1)">
                       <div class="col l1 m1 s1  input-field" style="" ng-show="ruta1!=null">
                          <span class=" darken-1 status"
                             style="position: absolute;left: 2px;top: 10px;width: 29px;/* border-radius: 14px; */height: 23px;"><i
                                class=" icon-download-outline"
                                style="   color: #111; position: absolute;    font-size: 19px;    top: -6px;    left: 4px;"></i></span>
                          <span class="tooltiptext" style="left:20px">Ver Adjunto</span>
                       </div>
                    </div>
                    <div class="col l12 m12 s12  input-field">
                       <input id="lfecha" type="text" ng-model="fecha" class=" ng-pristine  ng-touched mayus" disabled>
                       <label for="lfecha" id="-lfecha" class="active">FECHA:</label>
                    </div>
                    <div class="col l12 m12 s12  input-field">
                       <input id="motivo" type="text" ng-model="asunto" class=" ng-pristine  ng-touched mayus"
                          disabled>
                       <label for="motivo" id="-motivo" class="active">ASUNTO:</label>
                    </div>
                    <div class="col l12 m12 s12  input-field">
                       <input id="motivo" type="text" ng-model="motivo" class=" ng-pristine  ng-touched mayus"
                          disabled>
                       <label for="motivo" id="-motivo" class="active">MOTIVO:</label>
                    </div>
                    <div class="col l12 m12 s12  input-field" style="    padding-bottom: 20px;">
                       <label for="des" id="-desz" class="active">DESCRIPCION:</label>
                       <div
                          style="    overflow: auto;    height: calc(45vh - 210px);    width: 100%;    margin-top: 10px;    margin-left: -4px;    border: 1px solid #4d524d38;">
                          <span class="ng-binding" style="white-space: pre-wrap;"> {{descripcionchat |
                             uppercase}}</span>
                       </div>
                    </div>
                 </div>
              </div>

           </div>
           <div class="col l8 md8 sm12 " id="mychat" style=" margin-top: 20px; ">
              <div class="row allMails bg-white white">
                 <h3 class="titulochat fontello-icon" style="display: none; ">Enviar Mensaje</h3>
                 <div class="col s12 m12 l12 messageBox first_3_2">
                  <!--  -->
                  <!--  -->
                  <div id="chat_comment" class="row" style="overflow:auto;height: calc(100vh - 340px);padding: 1rem;" ng-show="shwConversacion">
                    <div class="row" ng-show="Conversacion.length == 0"
                        style="display: flex;justify-content: center;align-items: center;height: 80%;">
                        <i class="icon-comment-2" style="font-size: 40px;"></i>
                    </div>
                    <div class="row" ng-repeat="com in Conversacion"
                        ng-class="{'chat_right whi': com.derecha == 'false'}">
                        <div class="col l1 md1 m1 margin no-padding border-none">
                            <img src="assets/images/users/default-user.png" alt="jim"
                                class="circle responsive-img valign margin hide-on-small-only">
                        </div>
                        <div class="col l11 md11 m11">
                            <div class="desc_com"
                                ng-class="{'white-text default-background-light': com.derecha == 'false'}"
                                style="padding: 1em;">
                                <i ng-if="com.archivo!=null" ng-click="descargafile(com.archivo)"
                                    style="float: right;cursor: pointer !important;"
                                    class="material-icons dp48">attach_file</i>
                                <p class="margin">
                                    <strong>{{com.mensaje}}</strong>
                                </p>
                                <small>{{com.nombre}}</small>
                            </div>
                            <div
                                style="width: 100%;height: 0;border-bottom: 1px solid #ffca867a;margin: 1em 0;position: relative;display: flex;justify-content: space-between;align-items: center;">
                                <span style="font-size: 10px;background-color: #ffffff;padding: 0 10px;">
                                    {{com.fecha}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                  <!--  -->
                  <!--  -->
                    <!-- <ul class="collection" style="overflow: auto; height: 350px;" ng-show="shwConversacion"
                       id="mensajes">
                       <li class="collection-item avatar second" ng-repeat="reg in Conversacion"
                          style="    border-bottom: 0 !important;padding-bottom: 0px;padding-top: 10px">
                          <div class="foot4 circle avchat2" ng-init="reg.inicial=reg.nombre.substring(0, 1)"
                             ng-class="{'circuloderecho':reg.derecha}">
                             <center class="avletra" style="    font-size: xx-large !important;">{{reg.nombre=='
                                '||reg.nombre==null?'P':reg.inicial}}</center>
                          </div>
                          <div class="triangulo" ng-class="{'trianguloderecha':reg.derecha}"></div>
                          <div class="card-panel cuadro" ng-class="{'cuadroderecho':reg.derecha}">
                             <span class="nombre" ng-class="{'nombrederecho':reg.derecha}"><strong
                                   style="color: #11111194;">{{reg.nombre==' '||reg.nombre==null?'PORTAL GENESIS':reg.nombre}}</strong></span>
                             <br>
                             <span style="word-wrap: break-word !important;"
                                ng-class="{'textoderecho':reg.derecha}">{{reg.mensaje | uppercase}}</span>
                             <div style="margin-top: 10px;" ng-hide="reg.archivo === null || !reg.derecha"
                                ng-click="descargafile(reg.archivo)">
                                <i class="fontello-icon icon-attach"
                                   style="position: absolute;top: 13px;left: 21%;font-size: 21px;"></i>
                             </div>
                          </div>
                          <span class="fecha" ng-class="{'fechaderecha':reg.derecha}"
                             style="color: #858585;"><small>{{reg.fecha}}</small></span>
                       </li>
                    </ul> -->
                    <div class="reply-text" ng-show='estado!="CERRADO"'>
                      <div class="col l11 md11 m11" style="padding-top: 1rem;">
                        <div class="input-field col m12 s12 margin no-padding">
                            <div class="default-background file-field input-field" style="display: flex;margin: 0;color: white;">
                                <div>
                                    <i class="material-icons dp48" style="margin-top: 10px;">attach_file</i>
                                    <input id="archivoVb" type="file" name="fileadjunto"
                                    onchange="angular.element(this).scope().changeFile()">
                                </div>
                                <div class="file-path-wrapper" style="width: 100%;">
                                    <input class="file-path validate" type="text" id="nombreadjunto" placeholder="Seleccionar un adjunto" ng-model="fileName" style="margin: 0;border: none;">
                                </div>
                            </div>
                        </div>
                        <div class="col l12 md12 m12 no-padding">
                            <textarea class="border-none border-radius-none default-background-light white-text" placeholder="Comentar..." id="mensaje" ng-model="mensaje" rows="4" cols="50" maxlength="1999" style="margin: 0px 0px 10px;border-radius: 3px;padding: 1em;max-width: 100%;width: 100%;height: 70px;outline: none;"></textarea>
                        </div>
                    </div>
                    <div class="col l1 md1 m1 margin no-padding border-none">
                      <i ng-click="enviradjuntosmensajes()" class="icon-paper-plane white-text" style="background-color: #f2cea5;display: flex;justify-content: center;align-items: center;width: 3.4em;height: 3.4em;border-radius: 50%;cursor: pointer;margin: auto;"></i>
                  </div>

                       <!-- <form id="frmMensaje" novalidate>
                          <textarea rows="2" id="mensaje" cols="10" placeholder="Mensaje.."
                             ng-model="mensaje"></textarea>
                          <div class="default-background file-field input-field"
                             style="display: flex;margin: 0;color: white;">
                             <div>
                                <i class="material-icons dp48" style="margin-top: 10px;">attach_file</i>
                                <input id="archivoVb" type="file" name="fileadjunto"
                                   onchange="angular.element(this).scope().changeFile()">
                             </div>
                             <div class="file-path-wrapper" style="width: 100%;">
                                <input class="file-path validate valid ng-pristine ng-untouched ng-valid" type="text"
                                   placeholder="Seleccionar un adjunto" ng-model="fileName"
                                   style="margin: 0;border: none;">
                             </div>
                          </div>
                          <div class="send-reply" style="display: inline-flex; width: 100%;">
                             <div style="width: -webkit-fill-available; padding: 4px; text-align: right;">
                                <button class="waves-effect waves-light btn white-text"
                                   ng-click="enviradjuntosmensajes()">Enviar</button>
                             </div>
                          </div>
                       </form> -->
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <style type="text/css">
     .vista_elements {
        position: absolute;
        z-index: 20000;
        width: 100%;
        height: 100vh;
        overflow: auto;
        left: 0;
        top: 0;
        padding: 2em 5em 0;
        background: rgba(0, 0, 0, 0.4);
        text-align: center;
     }

     .d-pdf {
        display: flex;
        justify-content: center;
     }

     .nombre {
        top: 41px;
        font-size: 11px
     }

     @media only screen and (max-width: 992px) {
        .titulochat {
           display: block !important;
        }

        .triangulo {
           display: none !important;
        }
     }

     .fecha {
        margin-left: 49%;
        top: -15px;
        position: relative;
     }

     .triangulo {
        display: block;
        position: absolute;
        top: 28px;
        left: 60px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #d4d4d4;
        size: 25px;

     }

     .trianguloderecha {
        border-left: 10px solid #d4d4d4 !important;
        left: 80% !important;
        border-right: 0px solid #2e2e2e !important;
     }

     .circuloderecho {
        margin-left: 80%;
     }

     .cuadroderecho {
        margin-left: 10% !important;
        box-shadow: -5px 5px 5px 0 #d0d0d0, 0 2px 10px 0 #9f9f9f !important;
     }

     .fechaderecha {
        margin-left: 15%
     }

     .textoderecho {
        display: block;
        text-align: right;
     }

     .nombrederecho {
        display: block;
        text-align: right;
        margin-bottom: -21px
     }

     input[disabled] {
        color: #111 !important;

     }

     .cuadro {
        width: 70%;
        margin-left: 0px;
        margin-top: -1px;
        background-color: #ffffff !important;
        border-radius: 5px;
        box-shadow: 5px 5px 5px 0px #d0d0d0, 0 2px 10px 0 #9f9f9f;
        padding: 5px 20px;
     }

     #attachmenticon {
        cursor: pointer;
        width: 50px;
     }

     #attachmenticon:hover {
        border-radius: 49px;
        border: 1px solid;
        border-color: gray;
        box-shadow: 0px 0px 7px 0px #1fbbac;
        transition: border 0.5s;
     }

     .avchat {
        padding: 0 !important;
        width: 60px !important;
        height: 60px !important;
        top: 16px;
     }

     .avchat2 {
        padding: 0 !important;
        width: 42px !important;
        height: 42px !important;
        top: 16px;
     }

     .avletra {
        color: #ffffff;
        font-size: -webkit-xxx-large;
        margin-top: 24%;
     }

     .avtitle {
        margin-top: 20px;
        position: fixed;
        font-size: 20px;
        color: black !important;
     }

     .dwnIcon {
        cursor: pointer;
        margin-top: 14px;
        position: absolute;
     }

     .highlight {
        background-color: #d7d8d8 !important;
     }

     .divaprobado {
        padding-top: 2px;
        padding-bottom: 2px;
        background-color: #56b949;
     }

     .fontaprobado {
        font-size: 18px;
        color: white;
     }

     .row {
        margin-bottom: 0px;
     }

     input[disabled] {
        color: #111;
     }
  </style>
