<div class="row margin">
  <div class="col s12 m12 l12">
    <div class="card">
      <div class="card-content">
        <spam><h4>Control de Proyectos TIC</h4></spam>
      </div>
      <div class="card-action">
        <div class="card-content clearfix">
          <!-- ESTADISTICAS -->
          <div class="col s12">
            <div class="row">
              <div class="col l3 m6 s12">
                <div style="/* background: linear-gradient(to right, rgb(76, 175, 80) 50%, rgba(139, 195, 74, 0.75) 50%); */height: 78px;background: linear-gradient(to right, rgb(136, 197, 66) 50%, rgba(136, 197, 66, 0.8) 50%);box-shadow: 2px 2px 8px 0px darkgrey;">
                  <div class="col l5 m5 s5">
                    <div><center><i style="font-size: 48px;margin-top: 15px;color: white;" class="large material-icons">done</i></center></div>
                  </div>
                  <div class="col l7 m7 s7" style="color: white; margin-top: 8px;">
                    <center><p style="color: white;"><strong style="font-family: unset;">TERMINADOS</strong></p></center>
                    <center><h5 class="ng-binding">{{conteo["0"].TERMINADO}}</h5></center>
                  </div>
                </div>
              </div>
              <div class="col l3 m6 s12" style="color: white;">
                <div style="/* background: linear-gradient(to right, rgb(251, 140, 0) 50%, rgba(255, 152, 0, 0.75) 50%); */height: 78px;background: linear-gradient(to right, rgb(243, 165, 48) 50%, rgba(243, 165, 48, 0.8) 50%);box-shadow: 2px 2px 8px 0px darkgrey;">
                  <div class="col l5 m5 s5">
                    <div><center><i style="font-size: 48px; margin-top: 15px;" class="large material-icons">settings</i></center></div>
                  </div>
                  <div class="col l7 m7 s7" style="color: white; margin-top: 8px;">
                    <center><p><strong>EN DESARROLLO</strong></p></center>
                    <center><h5 class="ng-binding">{{conteo["0"].DESARROLLO}}</h5></center>
                  </div>
                </div>
              </div>
              <div class="col l3 m6 s12" style="color: white;">
                <div style="/* background: linear-gradient(to right, rgb(33, 150, 243) 50%, rgba(3, 169, 244, 0.75) 50%); */height: 78px;background: linear-gradient(to right, rgb(54, 122, 189) 50%, rgba(54, 122, 189, 0.8) 50%);box-shadow: 2px 2px 8px 0px darkgrey;">
                  <div class="col l5 m5 s5">
                    <div><center><i style="font-size: 48px; margin-top: 15px;" class="large material-icons">trending_up</i></center></div>
                  </div>
                  <div class="col l7 m7 s7" style="color: white; margin-top: 8px;">
                    <center><p><strong>PROYECTADOS</strong></p></center>
                    <center><h5 class="ng-binding">{{conteo["0"].PROYECTADOS}}</h5></center>
                  </div>
                </div>
              </div>
              <div class="col l3 m6 s12" style="color: white;">
                <div style="/* background: linear-gradient(to right, rgb(244, 67, 54) 50%, rgba(244, 67, 54, 0.75) 50%); */height: 78px;background: linear-gradient(to right, rgb(176, 46, 103) 50%, rgba(176, 46, 103, 0.8) 50%);background-color: white;box-shadow: 2px 2px 8px 0px darkgrey;">
                  <div class="col l5 m5 s5">
                    <div><center><i style="font-size: 48px; margin-top: 15px;" class="large material-icons">pause</i></center></div>
                  </div>
                  <div class="col l7 m7 s7" style="color: white; margin-top: 8px;">
                    <center><p><strong>SUSPENDIDOS</strong></p></center>
                    <center><h5 class="ng-binding">{{conteo["0"].SUSPENDIDO}}</h5></center>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- INFORMACION -->
          <div class="col s12" ng-hide="inactive1">
            <div class="input-field col s3 offset-s1">
              <i class="material-icons prefix">search</i>
              <input id="with_icon" type="text" ng-model="filter" class="validate">
              <label for="with_icon">Filtro</label>
            </div>
            <!-- <div class="input-field col s4">
              <i class="material-icons prefix">face</i>
              <input style="color: black !important;" id="with_icon" type="text" ng-model="Nombre" disabled class="validate">
              <label for="with_icon">Nombre</label>
            </div> -->
            <div class="input-field col s3 offset-s4">
              <i class="material-icons prefix">swap_vert</i>
              <input id="with_icon" type="number" ng-model="quantity" class="validate">
              <label for="with_icon">Limite <strong>{{quantity}}</strong> de <strong>{{total}}</strong></label>
            </div>
          </div>
          <table class="responsive-table striped table-bordered" ng-hide="inactive1">
            <thead>
             <tr>
                <th class="center-align" data-field="Codigo">Codigo</th>
                <th class="center-align" data-field="Area">Area</th>
                <th data-field="Proceso">Proceso</th>
                <th data-field="Proyecto">Proyecto</th>
                <th class="center-align" data-field="Responsable">Responsable</th>
                <th class="center-align" data-field="tipo">Fase</th>
                <th class="center-align" data-field="Responsable">Responsable Fase</th>
                <th class="center-align" style="width: 106px;" data-field="Estado">Estado</th>
                <th class="center-align" style="width: 78px;"data-field="%">%</th>
                <th class="center-align" style="width: 78px;"data-field="Dias">Dias Faltantes</th>
                <th class="center-align" data-field="Fecha Inicio">Fecha Inicio</th>
                <th ng-hide="rolaut" class="center-align" data-field="Fecha Fin">Fecha Fin</th>
                <th class="center-align" data-field="Observacion">Detalle</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="in in info | limitTo:quantity | filter:filter">
                <td class="center-align">{{in.id}}</td>
                <td class="center-align">{{in.nomarea}}</td>
                <td class="center-align">{{in.nomproceso}}</td>
                <td>{{in.nomproyecto}}</td>
                <td>{{in.responsable}}</td>
                <td>{{in.fasenom}}</td>
                <td>{{in.respfase}}</td>
                <td class="center-align"><span style="width: 106px;" class="{{in.color}}"><strong>{{in.estado}}</strong></spam></td>
                <td class="center-align">{{in.porcentajeproyecto}}%</td>
                <td class="center-align">{{in.dias}}</td>
                <td class="center-align">{{in.inicio}}</td>
                <td class="center-align">{{in.fin}}</td>
                <td class="center-align"><a style="margin-right: 0px;" class="waves-effect waves-light modal-trigger" href="#modal1"><i style="cursor:pointer;" ng-click="cargarfase(in.id,in.nomproyecto)" class="material-icons">more_horiz</i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- MODAL DETALLE FASES -->
    <div class="col s12">
      <div id="modal1" class="modal">
        <div class="modal-content">
          <div class="col s12">
            <h4>{{nameproyecto}}</h4>
            <hr>
          </div>
          <div class="col s12" style="margin-top: 5%;">
            <div class="row dashboard-wrapper content-container ng-scope">
              <div class="timeline-page col s12 card">
                <div class="timeline card-content white">
                    <div class="timeline-milestone">
                        <span class="milestone-title white-text">Fases</span>
                    </div>
                    <div class="timeline-event" ng-repeat="fa in fases">
                        <div class="timeline-content">
                            <div class="content-box">
                                <h6>{{fa.obs}} <a class="btn-floating waves-effect waves-light green campo17" style="position: absolute; top: -20px; right: 50%;"><spam style="font-size: initial;"><center>{{fa.porcentajefase}}%</center></spam></a><br><small>{{fa.fecha_inicio}} - {{fa.fecha_fin}}</small></h6>
                                <p>
                                    {{fa.descripcion}}
                                </p>
                            </div>
                        </div>
                        <div class="timeline-badge timeline-badge1 white-text" style="background-color: #1a2e63 !important;">
                            <i class="icon icon-plus"></i>
                        </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <style>
    .mouse{
      cursor: pointer;
    }
    .mouse2{
      cursor: pointer;
    }
    </style>
