<div id="pantalla" class="white newdesing">
  <div class="row section-header" style="margin-top: 7px">
    <ul
      class="left mailbox-custom-search list-inline"
      style="width: 100%;display: flex;justify-content: space-between;align-items: center;">
      <li id="inicio">
        <h5 onclick="location.reload();" class="cursor-pointer">
          MODULO MATRIZ DE SEGUIMIENTO
        </h5>
      </li>
    </ul>
  </div>
  <div class="row" ng-show="show_vista_de_titulo_tabla">
    <div class="col l12 m12 s12">
      <div class="col l4 m4 s4">
        <div class="col s12">
        </div>
      </div>
      <div class="col l4 m4 s4">
        <div class="col s12">
            <h6 style="color: #8898aa !important;font-weight: 600 !important;font-size: 1.8125rem;text-align: center">
              TABLA DE SEGUIMIENTO
           </h6>
           <div class="center margin row">
            <strong style="color: #8898aa !important;font-weight: 600 !important;font-size: 0.8125rem;text-align: center">*** {{title}} ***</strong>
          </div>
        </div>
      </div>
      <div class="col l4 m4 s4" style="margin-top: 15px;">
        <div class="col s12">
            <button type="button" class="icon-download center white-text default-background" style="border-radius: 10px;"  ng-click="function_consultaReporte(estadodeReporte,'R')" title="Descargar reporte"></button>
            <button type="button" class="icon-plus center white-text default-background" style="border-radius: 10px;"  ng-click="function_controlVista('A')" title="Agregar seguimientos"></button>
            <button type="button" class="icon-th-list-1 center white-text default-background" style="border-radius: 10px;color: green !important;"  ng-click="function_consultaReporte('A')" title="Ver activas"></button>
            <button type="button" class="icon-th-list-1 center white-text default-background" style="border-radius: 10px; color: red !important;"  ng-click="function_consultaReporte('P')" title="Ver procesados"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12" ng-show="show_registroActividades">
    <div class="card ng-scope" style="margin: 38px; bottom: 10px; zoom: 75%">
      <div class="row">
        <div class="col s12">
          <div class="col l12 m12 s12">
            <blockquote>
              <h6><b>REGISTRO DE NUEVA ACTIVIDAD</b>
              </h6>
            </blockquote>
            <div class="row margin">
              <div class="col l12 m12 s12">
                <div class="row right">
                  <button type="button" class="center icon-reply white-text default-background" style="border-radius: 10px" ng-click="Inicio()" title="Volver al incio"></button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col l2 m2 s2">
                <label id="id_form1_fechaSolicitud_label" style="padding-left: 6%; font-size: inherit">Fecha de solicitud:<span style="color: red">*</span></label>
                <div class="col s12">
                  <input id="id_form1_fechaSolicitud"  class="margin border-none white input-text-new input-w-p input-out-new w-100  ng-pristine ng-valid ng-valid-max ng-touched" 
                   ng-model="form1.fechaSolicitud" type="date" ng-change="validarVacio('id_form1_fechaSolicitud','id_form1_fechaSolicitud_label')" required/>
                </div>
              </div>
              <div class="col l4 m4 s4">
                <label id="id_form1_nombreModulo_label" style="padding-left: 3%; font-size: inherit">Nombre del modulo:<span style="color: red">*</span></label>
                <div class="col s12">
                  <input class="margin border-none white input-w-p input-out-new w-100  ng-pristine ng-valid ng-valid-max ng-touched"  id="id_form1_nombreModulo"
                    ng-model="form1.nombreModulo" type="text" ng-change="validarVacio('id_form1_nombreModulo','id_form1_nombreModulo_label')"   style="text-transform: uppercase;"required/>
                </div>
              </div>
              <div class="col l4 m4 s4">
                <label id="id_form1_area_label" style="padding-left: 4%;font-size: inherit;"></span>Area:<span
                    class="red-text">*</label>
                <div class="col s12 ">
                  <select class="select-new-ps cursor-pointer" id="id_form1_area" ng-model="form1.area"
                    ng-change="validarllenos('id_form1_area','id_form1_area_label');" required>
                    <option value="">SELECCIONAR</option>
                    <option value="{{x.Codigo}}" ng-repeat="x in selectArea">{{x.Nombre}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col l12 m12 s12">
                  <label id="id_form1_descripcion_label" style="margin-top: -20px; padding-left: 1%">Alcance - {{form1.descripcion.toString().length}}-Máximo: 1000<span style="color: red">*</span></label>
                  <div class="col s12">
                    <div class="shadow-textarea">
                      <textarea class="form-control" id="id_form1_descripcion" rows="3" 
                       ng-model="form1.descripcion" 
                       cols="50" placeholder="Indique el alcance de las modificaciones al modulo" style="margin: 0px; height: 134px;text-transform: uppercase;"
                         maxlength="999" ng-change="validarVacio('id_form1_descripcion','id_form1_descripcion_label')"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col l12 m12 s12">
                    <label id="id_form1_observacion_label" style="margin-top: -20px; padding-left: 1%">Observacion - {{form1.observacion.toString().length}}-Máximo: 1000</label>
                    <div class="col s12">
                      <div class="shadow-textarea">
                        <textarea class="form-control" id="id_form1_observacion" rows="3" 
                        ng-model="form1.observacion" 
                        cols="50" placeholder="Por favor escriba una observaciones" style="margin: 0px; height: 123px;text-transform: uppercase;"
                        style="margin: 0px;height: 134px;" maxlength="999"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col l3 m3 s3">
                <label id="id_form1_recursodataBase_label" style="padding-left: 4%;font-size: inherit;"></span>Recurso database:<span
                    style="color: red">*</label>
                <div class="col s12 ">
                  <select class="select-new-ps cursor-pointer" id="id_form1_recursodataBase" ng-model="form1.recursodataBase"
                    ng-change="validarllenos('id_form1_recursodataBase','id_form1_recursodataBase_label');" required>
                    <option value="">SELECCIONAR</option>
                    <option value="{{x.documento}}" ng-repeat="x in selectResponsable">{{x.nombre}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col l3 m3 s3">
                <label id="id_form1_recursoFront_label" style="padding-left: 4%;font-size: inherit;"></span>Recurso front:<span
                    style="color: red">*</label>
                <div class="col s12 ">
                  <select id="id_form1_recursoFront" class="select-new-ps cursor-pointer" ng-model="form1.recursoFront"
                  ng-change="validarllenos('id_form1_recursoFront','id_form1_recursoFront_label');" required>
                    <option value="">SELECCIONAR</option>
                    <option value="{{x.documento}}" ng-repeat="x in selectResponsable">{{x.nombre}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col l3 m3 s3">
                <label id="id_form1_recursoDocuemntacion_label" style="padding-left: 4%;font-size: inherit;"></span>Recurso documentacion:<span
                    style="color: red">*</label>
                <div class="col s12 ">
                  <select id="id_form1_recursoDocuemntacion" class="select-new-ps cursor-pointer" ng-model="form1.recursoDocuemntacion"
                  ng-change="validarllenos('id_form1_recursoDocuemntacion','id_form1_recursoDocuemntacion_label');" required>
                    <option value="">SELECCIONAR</option>
                    <option value="{{x.documento}}" ng-repeat="x in selectResponsable">{{x.nombre}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col l3 m3 s3">
                <label id="id_form1_personaSoliciatnte_label" style="padding-left: 4%;font-size: inherit;"></span>Solicitante:<span
                    style="color: red">*</label>
                <div class="col s12 ">
                  <select class="select-new-ps cursor-pointer" id="id_form1_personaSoliciatnte" ng-model="form1.personaSoliciatnte"
                    ng-change="validarllenos('id_form1_personaSoliciatnte','id_form1_personaSoliciatnte_label');" required>
                    <option value="">SELECCIONAR</option>
                    <option value="{{x.documento}}" ng-repeat="x in selectSolicitante">{{x.nombre}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col l3 m3 s3">
                <label id="id_form1_fechaInicio_label" style="padding-left: 6%; font-size: inherit">Fecha inicio:<span style="color: red">*</span></label>
                <div class="col s12">
                  <input id="id_form1_fechaInicio"  class="margin border-none white input-text-new input-w-p input-out-new w-100  ng-pristine ng-valid ng-valid-max ng-touched" 
                   ng-model="form1.fechaInicio" type="date" ng-change="validarVacio('id_form1_fechaInicio','id_form1_fechaInicio_label')" required/>
                </div>
              </div>
              <div class="col l3 m3 s3">
                <label id="id_form1_fechaFinal_label" style="padding-left: 6%; font-size: inherit">Fecha final:</label>
                <div class="col s12">
                  <input id="id_form1_fechaFinal"  class="margin border-none white input-text-new input-w-p input-out-new w-100 ng-pristine ng-valid ng-valid-max ng-touched" 
                   ng-model="form1.fechaFinal" type="date" ng-change="validarVacio('id_form1_fechaFinal','id_form1_fechaFinal_label')" required/>
                </div>
                <div ng-show="dateError" class="error">
                  {{dateError}}
                  </div>
              </div>
              <div class="col l3 m3 s3">
                <label id="id_form1_soporte_label" style="padding-left: 4%;font-size: inherit;"
                  class="c-pointer ">Adjuntar soporte inicial:</label>
                <div class="file-field input-field gray-input m-l input-file-radiu"
                  style="margin: 0;width: -webkit-fill-available;" id="cotizacion1">
                  <div class="right">
                    <span class="black-text"><i class="icon-file-pdf default-color"
                        style="line-height: 2rem;"></i></span>
                    <input value="1" id="id_form1_soporte" class="cargueArchivo" ng-modal="form1.soporte"
                      type="file" accept=".pdf" style="width: 414px;" >
                  </div>
                  <div class="file-path-wrapper">
                    <input id="id_form1_soporte_text" class="file-path  ng-untouched ng-valid ng-dirty ng-valid-parse"
                      type="text" placeholder="Adjunte un archivo (pdf)" readonly=""
                      style="border-radius: 0;height: 2rem;border-bottom: 0;">
                  </div>
                </div>
              </div>
              <div class="col l3 m3 s3">
                <label id="id_form1_soporteCierre_label" style="padding-left: 4%;font-size: inherit;"
                  class="c-pointer ">Adjuntar soporte cierre:</label>
                <div class="file-field input-field gray-input m-l input-file-radiu"
                  style="margin: 0;width: -webkit-fill-available;" id="cotizacion2">
                  <div class="right">
                    <span class="black-text"><i class="icon-file-pdf default-color"
                        style="line-height: 2rem;"></i></span>
                    <input value="2" id="id_form1_soporteCierre" class="cargueArchivo" ng-modal="form1.soporteCierre"
                      type="file" accept=".pdf" style="width: 414px;" >
                  </div>
                  <div class="file-path-wrapper">
                    <input id="id_form1_soporteCierre_text" class="file-path  ng-untouched ng-valid ng-dirty ng-valid-parse"
                      type="text" placeholder="Adjunte un archivo (pdf)" readonly=""
                      style="border-radius: 0;height: 2rem;border-bottom: 0;">
                  </div>
                </div>
              </div>
            </div>
            <div class="center row">
              <label> Nota: Por favor complete la información requerida marcada con un <stron><span
                style="color: red">* </stron>tener presente que se debe seleccionar al menos un recurso.</label>
            </div>
            <div class="center row">
              <button type="button" class="center white-text default-background" style="border-radius: 10px; zoom: 130%" ng-click="function_agregarActividad()">Agregar actividad</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12" ng-show="show_buscarActividades">
    <div class="card ng-scope" style="margin: 38px; bottom: 10px; ">
      <div class="row">
        <div class="col s12">
          <div class="col l12 m12 s12">
            <blockquote>
              <h6><b>CONSULTA DE ACTIVIDAD</b>
              </h6>
            </blockquote>
            <div class="row margin">
              <div class="col l12 m12 s12">
                <div class="row right">
                  <button type="button" class="center icon-reply white-text default-background" style="border-radius: 10px" ng-click="Inicio()" title="Volver al incio"></button>
                </div>
              </div>
            </div>
            <div class="row" >
              <div class="col l2 m2 s2">
                <label id="id_form2_fechaInicio_label" style="padding-left: 6%; font-size: inherit">Fecha inicio:<span style="color: red">*</span></label>
                <div class="col s12">
                  <input id="id_form2_fechaInicio"  class="margin border-none white input-text-new input-w-p input-out-new w-100  ng-pristine ng-valid ng-valid-max ng-touched" 
                   ng-model="form2.fechaInicio" type="date" ng-change="validarVacio('id_form2_fechaInicio','id_form2_fechaInicio_label')" required/>
                </div>
              </div>
              <div class="col l2 m2 s2">
                <label id="id_form2_fechaFinal_label" style="padding-left: 6%; font-size: inherit">Fecha cierre:<span style="color: red">*</span></label>
                <div class="col s12">
                  <input id="id_form2_fechaFinal"  class="margin border-none white input-text-new input-w-p input-out-new w-100 ng-pristine ng-valid ng-valid-max ng-touched" 
                   ng-model="form2.fechaFinal" type="date" ng-change="validarVacio('id_form2_fechaFinal','id_form2_fechaFinal_label')" required/>
                </div>
              </div>
              <div class="col l3 m3 s3">
                <div class="col s12 ">
                  <button type="button" class="  icon-searchcenter white-text default-background" style="border-radius: 10px ;margin-top: 24px;" ng-click="function_consultaReporte('C')">Consultar</button>
                </div>
              </div>
            </div>
            <div class="center row">
              <label> Nota: Por favor complete la información requerida marcada con un <stron><span
                style="color: red">*</stron>.</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="show_tablaSeguimiento">
    <div class="row dashboard-wrapper content-container white"
        style="padding-bottom: 20px;margin-bottom: 0;zoom:75%;margin-left: -20px;">
        <div class="row" style="margin-bottom: 0;">
            <div class="col s12">
              <div class="col s1 no-padding label-new m-b left">
                <select class="select-new gray-input" style="box-shadow: none;" material-select watch
                 ng-model="Vista1.Mostrar_Sol" ng-change="initPaginacion2(Vista1.Mostrar_Sol)">
                 <option value="10" selected>10</option></option>
                 <option value="20">20</option></option>
                 <option value="50">50</option></option>
                 <option value="100">100</option></option>
              </select>
              <label style="font-size: .8rem;top: -1.5rem;">Mostrar</label>
              <div style="line-height: 2;">
              <i class="icon-arrows-cw-2 default-color cursor-pointer" style="margin-left: 4px;"
              title="Actualizar Tabla" ng-click="function_consultaReporte('A')"></i>
             </div>
            </div>
                <form ng-submit="chg_filtrar('Filtrar_tprincipal');">
                    <div class="col s4 no-padding label-new m-b right"
                        style="margin-right: .5rem !important;margin-top: 30px;">
                        <label style="padding-left: 2%;font-size: inherit;">Buscar:</label>
                        <div class="input-field-ps col s12">
                            <input id="Var_Seccional_Filtrar_Sol"
                                class="margin border-none input-text-new gray-input w-100 m-l"
                                ng-model="Vista1.Filtrar_tprincipal" type="text" placeholder="..."
                                style="cursor: pointer;text-transform: uppercase;"  autocomplete="off">
                            <a><i style="position: absolute; top: 5px; right: 0px;cursor: pointer;"
                                    class="material-icons prefix default-color"
                                    ng-click="chg_filtrar('Filtrar_tprincipal');">search</i></a>
                        </div>
                    </div>
                </form>
            </div>
            <div style="width:100%;">
                <table id="H1_Tabla" class="bordered table_center_align"
                    style="width:100%;font-size:6px !important;">
                    <thead class="center-align default-background default-border white-text">
                        <tr>
                          <th>#</th>
                          <th>Fecha creacion</th>
                          <th>Modulo</th>
                          <th>Area</th>
                          <th>Fecha inicio</th>
                          <th>Fecha final</th>
                          <th>Fecha cierre</th>
                          <th>Responsable database</th>
                          <th>Responsable front</th>
                          <th>Responsable documentacion</th>
                          <th>Solicitante</th>
                          <th>Estado</th>
                          <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="s in list_DatosTemp | inicio: currentPage * pageSize | limitTo: pageSize | orderBy:propertyName:reverse ">  
                          <td>{{s.CODIGO}}</td>
                          <td>{{s.FECHA_CREACION}}</td>
                          <td style="text-transform: uppercase;">{{s.MODULO}}</td>
                          <td>{{s.AREA}}</td>
                          <td>{{s.FECHA_INICIO}}</td>
                          <td>{{s.FECHA_FIN}}</td>
                          <td>{{s.FECHA_CIERRE}}</td>
                          <td>{{s.RESPONSABLE_BD}}</td>
                          <td>{{s.RESPONSABLE_FRONT}}</td>
                          <td>{{s.RESPONSABLE_DOCUMENTACION}}</td>
                          <td>{{s.SOLICITANTE}}</td>
                          <td>{{s.ESTADO}}</td>
                            <td>
                                <div class="dropdown ">
                                    <i id="btn"><i style="font-size: 16px;" class="icom icon-cog-5 fs-20 cursor-pointer"></i></i>
                                    <div class="dropdown-options">
                                      <a href ng-click="function_p_listaSoporte(s)"><i class="icon-eye-1 fs-20 cursor-pointer" title="Ver detalle de gestion"></i>Detalle de gestion</a>
                                      <a ng-if="s.COD_ESTADO != 'P'" href ng-click="openmodals('verCierre',s)"><i class="icon-chart-line-1 fs-20 cursor-pointer" title="Gestion"></i>Gestion</a>
                                      <!-- ng-if="show_comentarios" -->
                                      <a href ng-click="openmodals('observacion',s)"><i class="icon-comment fs-20 cursor-pointer" title="Comentarios"></i> Comentarios</a>
                                      <a href ng-click="function_p_lista_obs_proyecto(s)"><i class="icon-eye-1 fs-20 cursor-pointer" title="Ver observaciones de seguimiento"></i>Observaciones de seguimiento</a>
                                    </div>
                              </div>
                            </td> 
                        </tr>
                        <tr ng-show="list_DatosTemp.length == 0">
                            <td class="center-align" colspan="20" style="font-weight: bolder;">No se
                                encontraron
                                resultados.</td>
                        </tr>
                    </tbody>
                </table>
                <ul style="text-align: center;padding-top: 0px;" class="pagination">
                    <li><button ng-disabled='currentPage == 0' class="btn-floating default-background"
                            ng-click="paso('back')">&laquo;</button></li>
                    <li ng-repeat='page in pages'><button ng-disabled='currentPage == page.no - 1'
                            class="btn-floating default-background" ng-click='setPage(page.no)'>{{page.no}}</button>
                    </li>
                    <li><button ng-disabled='currentPage >= list_DatosTemp.length/pageSize - 1'
                            class="btn-floating default-background" ng-click="paso('next')">&raquo;</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>
  <div ng-show="show_tablaObservaciones">
    <div class="row dashboard-wrapper content-container white"
        style="padding-bottom: 20px;margin-bottom: 0;zoom:75%;margin-left: -20px;">
        <div class="row margin">
          <div class="right">
            <button class="icon-reply white-text default-background" title="Volver" type="button"
            ng-click="function_volver();" style="border-radius: 10px;zoom:130%;"></button>
          </div>
        </div>
        <div class="row" style="margin-bottom: 0;">
            <div class="col s12">
                <div class="col s1 no-padding label-new m-b left">
                    <select class="select-new gray-input" style="box-shadow: none;"
                        ng-model="Vista1.Mostrar_Sol" ng-change="initPaginacion2(Vista1.Mostrar_Sol)">
                        <option value="10" selected>10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <label style="font-size: .8rem;top: -1.5rem;">Mostrar</label>
                    <div style="line-height: 2;">
                        <i class="icon-arrows-cw-2 default-color cursor-pointer" style="margin-left: 4px;"
                            title="Actualizar Tabla" ng-click="function_p_lista_obs_proyecto(codigoConsulta)"></i>
                    </div>
                </div>
                <form ng-submit="chg_filtrar('Filtrar_tprincipal');">
                    <div class="col s4 no-padding label-new m-b right"
                        style="margin-right: .5rem !important;margin-top: 30px;">
                        <label style="padding-left: 2%;font-size: inherit;">Buscar:</label>
                        <div class="input-field-ps col s12">
                            <input id="Var_Seccional_Filtrar_Sol"
                                class="margin border-none input-text-new gray-input w-100 m-l"
                                ng-model="Vista1.Filtrar_tprincipal" type="text" placeholder="..."
                                style="cursor: pointer;text-transform: uppercase;"  autocomplete="off">
                            <a><i style="position: absolute; top: 5px; right: 0px;cursor: pointer;"
                                    class="material-icons prefix default-color"
                                    ng-click="chg_filtrar('Filtrar_tprincipal');">search</i></a>
                        </div>
                    </div>
                </form>
            </div>
            <div style="width:100%;">
                <table id="H1_Tabla" class="bordered table_center_align"
                    style="width:100%;font-size:6px !important;">
                    <thead class="center-align default-background default-border white-text">
                        <tr>
                          <th>#</th>
                          <th>Fecha creacion</th>
                          <th>Observacion</th>
                          <th>Responsable</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="s in list_DatosTemp | inicio: currentPage * pageSize | limitTo: pageSize | orderBy:propertyName:reverse ">  
                          <td>{{s.CODIGO}}</td>
                          <td>{{s.FECHA}}</td>
                          <td>{{s.OBSERVACION}}</td>
                          <td>{{s.RESPONSABLE}}</td>
                        </tr>
                        <tr ng-show="list_DatosTemp.length == 0">
                            <td class="center-align" colspan="20" style="font-weight: bolder;">No se
                                encontraron
                                resultados.</td>
                        </tr>
                    </tbody>
                </table>
                <ul style="text-align: center;padding-top: 0px;" class="pagination">
                    <li><button ng-disabled='currentPage == 0' class="btn-floating default-background"
                            ng-click="paso('back')">&laquo;</button></li>
                    <li ng-repeat='page in pages'><button ng-disabled='currentPage == page.no - 1'
                            class="btn-floating default-background" ng-click='setPage(page.no)'>{{page.no}}</button>
                    </li>
                    <li><button ng-disabled='currentPage >= list_DatosTemp.length/pageSize - 1'
                            class="btn-floating default-background" ng-click="paso('next')">&raquo;</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>
<div  id="modalsoportes" class="modal" style="overflow: hidden;">
  <div class="modal-content" style="padding: 0px !important;">
    <div class="col s12" style="padding-left: 0px; padding-right: 0px;">
      <div class="card charts" style="margin-top: 0px; margin-bottom: 0px;">
        <div class="card-content foot4" style="padding: 0;zoom:60%;">
          <div class="col s11">
            <h5 style="padding-left: 23px" class="white-text"><strong>Soportes</strong>
              <i style="padding-right: 17px;cursor:pointer;" ng-click="closemodals('verSoportes')"
                class="material-icons right white-text">close</i>
            </h5>

          </div>
        </div>
        <div class="card-action" style="padding-bottom: 3px;border-top: 0">
          <div class="center margin row">
            <strong>*** {{form3.nombreModulo}} ***</strong>
          </div>
          <div class="row">
            <div class="col l6 m6 s6">
            <div class="col l12 m12 s12">
            <blockquote>Lista de soportes</blockquote>
            <h6 style="padding-left: 23px" class="icon-file-pdf"><strong>Soporte Inicial   <i class=" icon-eye center " ng-click="function_verSoportes('1')" title="Ver soporte"></i></strong>
            <h6 style="padding-left: 23px" class="icon-file-pdf"><strong>Soporte de Cierre   <i class=" icon-eye center "  ng-click="function_verSoportes('2')" title="Ver soporte"></i></strong>
            </div>
          </div>
          <div class="col l6 m6 s6">
            <div class="col l12 m12 s12">
              <blockquote>Detalles del ajuste</blockquote>
              <label id="id_form3_descripcion_label" style="margin-top: -20px; padding-left: 3%">Alcance  del ajuste</label>
              <div class="col s12">
                <div class="shadow-textarea">
                  <textarea class="form-control z-depth-1" id="id_form3_descripcion" rows="3" 
                    ng-model="form3.descripcion" 
                    cols="50" placeholder="Por favor escriba una descripcion del mudulo" style="margin: 0px; height: 123px; background: #f1f3f4;"
                    style="margin: 0px;background:#f1f3f4;height: 134px;"text-upper maxlength="999"
                    ng-keyup="formatnumeroytexto_Mayuscula('id_form1_descripcion')" disabled></textarea>
                </div>
              </div>
            </div>
            <div class="col l12 m12 s12">
              <label id="id_form3_observacion_label" style="margin-top: -20px; padding-left: 3%">Observaciones</label>
              <div class="col s12">
                <div class="shadow-textarea">
                  <textarea class="form-control z-depth-1" id="id_form3_observacion" rows="3" 
                    ng-model="form3.observacion" 
                    cols="50"  style="margin: 0px; height: 123px;"
                    style="margin: 0px;background: #f1f3f4;height: 134px;"text-upper maxlength="999"
                    ng-keyup="formatnumeroytexto_Mayuscula('id_form3_observacion')" disabled></textarea>
                </div>
              </div>
            </div>
          </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div  id="modalcierre" class="modal" style="overflow: hidden;">
  <div class="modal-content" style="padding: 0px !important;">
    <div class="col s12" style="padding-left: 0px; padding-right: 0px;">
      <div class="card charts" style="margin-top: 0px; margin-bottom: 0px;">
        <div class="card-content foot4" style="padding: 0;zoom:60%;">
          <div class="col s11">
            <h5 style="padding-left: 23px" class="white-text"><strong>Proceso de cierre de seguimiento</strong>
              <i style="padding-right: 17px;cursor:pointer;" ng-click="closemodals('verCierre')"
                class="material-icons right white-text">close</i>
            </h5>
          </div>
        </div>
        <div class="card-action" style="padding-bottom: 3px;border-top: 0">
          <div class="center row">
            <strong>*** {{form4.nombreModulo}} ***</strong>
          </div>
          <div class="row">
            <div class="col l3 m3 s3">
              <label id="id_form4_fechaFinal_label" style="padding-left: 6%; font-size: inherit">Fecha final:</label>
              <div class="col s12">
                <input id="id_form4_fechaFinal"  class="margin border-none white input-text-new input-w-p input-out-new w-100 ng-pristine ng-valid ng-valid-max ng-touched" 
                  ng-model="form4.fechaFinal" type="date" ng-change="validarVacio('id_form4_fechaFinal','id_form4_fechaFinal_label')" required/>
              </div>
            </div>
            <div class="col l4 m4 s4">
              <label id="id_form4_soporte_label" style="padding-left: 4%;font-size: inherit;"
                class="c-pointer ">Adjuntar soporte inicial:</label>
              <div class="file-field input-field gray-input m-l input-file-radiu"
                style="margin: 0;width: -webkit-fill-available;" id="cotizacion5" >
                <div class="right">
                  <span class="black-text"><i class="icon-file-pdf default-color"
                      style="line-height: 2rem;"></i></span>
                  <input value="1" id="id_form4_soporte" class="cargueArchivo" ng-modal="form4.soporte"
                    type="file" accept=".pdf" style="width: 300px;" ng-blur="validarllenos('id_form4_soporte_text','id_form4_soporte_label');" >
                </div>
                <div class="file-path-wrapper">
                  <input id="id_form4_soporte_text" class="file-path  ng-untouched ng-valid ng-dirty ng-valid-parse"
                    type="text" placeholder="Adjunte un archivo (pdf)" readonly=""
                    style="border-radius: 0;height: 2rem;border-bottom: 0;" >
                </div>
              </div>
            </div>
            <div class="col l4 m4 s4">
              <label id="id_form4_soporteCierre_label" style="padding-left: 4%;font-size: inherit;"
                class="c-pointer ">Adjuntar soporte cierre:</label>
              <div class="file-field input-field gray-input m-l input-file-radiu"
                style="margin: 0;width: -webkit-fill-available;" id="cotizacion6" >
                <div class="right">
                  <span class="black-text"><i class="icon-file-pdf default-color"
                      style="line-height: 2rem;"></i></span>
                  <input value="2" id="id_form4_soporteCierre" class="cargueArchivo" ng-modal="form4.soporteCierre"
                    type="file" accept=".pdf" style="width: 300px;" ng-blur="validarllenos('id_form4_soporteCierre_text','id_form4_soporteCierre_label');" >
                </div>
                <div class="file-path-wrapper">
                  <input id="id_form4_soporteCierre_text" class="file-path  ng-untouched ng-valid ng-dirty ng-valid-parse"
                    type="text" placeholder="Adjunte un archivo (pdf)" readonly=""
                    style="border-radius: 0;height: 2rem;border-bottom: 0;" >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col l12 m12 s12">
                <label id="id_form4_observacion_label" style="margin-top: -20px; padding-left: 1%">Observacion {{form4.observacion.toString().length}}-Máximo: 1000<span style="color: red">*</span></label>
                <div class="col s12">
                  <div class="shadow-textarea">
                    <textarea class="form-control z-depth-1" id="id_form4_observacion" rows="3" 
                    ng-model="form4.observacion" 
                    cols="50" placeholder="Por favor escriba una observaciones." style="margin: 0px; height: 123px;"
                    style="margin: 0px;background:#f1f3f4;height: 134px;"text-upper maxlength="999"
                    ng-keyup="formatnumeroytexto_Mayuscula('id_form4_observacion')"ng-change="validarVacio('id_form4_observacion','id_form4_observacion_label')" required="required"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="col l4 m4 s4">
              <div class="col s12 ">
                <button type="button" class="  icon-searchcenter white-text default-background" style="border-radius: 10px ;margin-top: 24px;" ng-click="function_cierreActividad()">Guardar seguimiento</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div  id="modalobservacion" class="modal" style="overflow: hidden;">
  <div class="modal-content" style="padding: 0px !important;">
    <div class="col s12" style="padding-left: 0px; padding-right: 0px;">
      <div class="card charts" style="margin-top: 0px; margin-bottom: 0px;">
        <div class="card-content foot4" style="padding: 0;zoom:60%;">
          <div class="col s11">
            <h5 style="padding-left: 23px" class="white-text"><strong>Observacion de seguimiento</strong>
              <i style="padding-right: 17px;cursor:pointer;" ng-click="closemodals('observacion')"
                class="material-icons right white-text">close</i>
            </h5>
          </div>
        </div>
        <div class="card-action" style="padding-bottom: 3px;border-top: 0">
          <div class="center row">
            <strong>*** {{form5.nombreModulo}} - # {{form5.codigoSeguimiento}} ***</strong>
          </div>
            <div class="row">
              <div class="col l12 m12 s12">
                <label id="id_form5_observacion_label" style="margin-top: -20px; padding-left: 1%">Observacion {{form5.observacion.toString().length}}-Máximo: 1000<span style="color: red">*</span></label>
                <div class="col s12">
                  <div class="shadow-textarea">
                    <textarea class="form-control z-depth-1" id="id_form5_observacion" rows="3" 
                    ng-model="form5.observacion" 
                    cols="50" placeholder="Por favor escriba una observaciones." style="margin: 0px; height: 123px;"
                    style="margin: 0px;background:#f1f3f4;height: 134px;"text-upper maxlength="999"
                    ng-keyup="formatnumeroytexto_Mayuscula('id_form5_observacion')"ng-change="validarVacio('id_form5_observacion','id_form5_observacion_label')" required="required"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
            <div class="col l12 m12 s12">
              <div class="center col s12 ">
                <button type="button" class="  icon-searchcenter white-text default-background" style="border-radius: 10px ;margin-top: 24px;" ng-click="function_p_ui_bitacora_proyectos()">Guardar observacion</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <style>
          /* Este ccs funciona para hacer un menu de control en una tabla INICIO*/
          .dropdown {
        display: inline-block;
        position: relative;
      }

      #btn{
        border:none;
        border-radius:5px;
        padding: 8px 24px;
        font-size:8px;
        cursor:pointer;
      }

      #btn:hover{
        background-color:#ddd;
      }
       .dropdown-options {
          display: none;
          position: absolute;
          overflow: auto;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);

          z-index: 7;
          font-size: 17px;
          width: 195px;
    } 
    .dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -8px rgba(4, 38, 233, 0.466);
    right: 0;
    z-index: 7;
    font-size: 15px;
    width: 236px;
    }
    .dropdown:hover .dropdown-options {
        display: block;
    }
    .dropdown-options a {
        display: block;
        color: #000000;
        padding: 5px;
        text-decoration: none;
        padding: 20px 40px;
    }
    .dropdown-options a:hover {
        color: #0a0a23;
        background-color: #ddd;
        border-radius: 5px; 
    }
    /* Este ccs funciona para hacer un menu de control en una tabla FIN*/
    #tabla_scroll th {
      padding: 3px 10px;
    }

    #tabla_scroll li > button.btn {
      font-size: small;
      height: auto;
      line-height: inherit;
      padding: 0 1rem;
    }

    .table_border,
    .table_border th,
    .table_border td {
      border: 1px solid #c2c2c2;
    }

    .table_center_align,
    .table_center_align th,
    .table_center_align td {
      text-align: center;
    }

    .swal-wide {
      width: 850px !important;
    }
    p.dotted {
      border-style: dotted;
    }

    /* Estilo inicial para los campos requeridos */
    .error-label {
      color: red !important;
    }

    .error-input {
      border-color: red !important;
    }

    /* Estilo para el mensaje de error */
    .error-message {
      color: red;
      display: none;
    }

    .error {
      color: red;
    }

    .subraya {
      border-bottom-style: ridge !important;
      border-color: #1a2e63 !important;
      margin: 0px 9px !important;
    }

    .ps-light-yellow {
      background-color: #f7fb00de !important;
    }

    .ps-light-green {
      background-color: rgb(3, 197, 20) !important;
    }

    .ps-light-red {
      background-color: #f75050 !important;
    }

    .ps-light-purple {
      background-color: rgb(71, 71, 165) !important;
    }

    #tabla_modal_ENTREGA th {
      position: sticky;
      top: 0;
      z-index: 9;
    }

    .btn_2 {
      border: none;
      border-radius: 2px;
      display: inline-block;
      height: 36px;
      line-height: 36px;
      outline: 0;
      padding: 0 2rem;
      text-transform: uppercase;
      vertical-align: middle;
      -webkit-tap-highlight-color: transparent;
      background-color: #1a2e63;
    }

    .textCollapsible {
      border: none;
      border-radius: 2px;
      display: inline-block;
      height: 36px;
      line-height: 36px;
      outline: 0;
      padding: 0 2rem;
      text-transform: uppercase;
      vertical-align: middle;
      -webkit-tap-highlight-color: transparent;
      background-color: #fcfcfd;
    }

    .light-red {
      background-color: palevioletred !important;
    }

    .input-field-ps {
      position: relative;
      margin-top: 1px;
      margin-left: 5px;
      margin-right: 5px;
    }

    .select-new-ps {
      outline: none !important;
      height: 34px;
      background-color: white;
      display: block;
      border: 1px solid #8a88865e;
      border-radius: 0.25rem;
      border-bottom: 1px solid #8a88865e;
      box-shadow: none !important;
    }

    .btn-new-ps {
      border: none;
      border-radius: 2px;
      display: inline-block;
      height: 32px;
      line-height: 36px;
      outline: 0;
      padding: 0 2rem;
      text-transform: uppercase;
      vertical-align: middle;
      background-color: #1a2e63;
      -webkit-tap-highlight-color: transparent;
    }

    .border_bottom_LR {
      border-bottom-left-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
    }

    .Green_Est {
      background-color: green !important;
    }

    .Red_Est {
      background-color: red !important;
    }

    .buena {
      color: rgb(3, 197, 20) !important;
    }

    .poca {
      color: rgb(235, 156, 5) !important;
    }

    .baja {
      color: rgb(245, 75, 75) !important;
    }

    .teal.activo {
      background-color: rgb(3, 197, 20) !important;
    }

    .teal.procesado {
      background-color: rgb(71, 71, 165) !important;
    }

    .yellow {
      background-color: #b7a60f !important;
    }

    #IMG_Secc {
      cursor: pointer;
    }

    #IMG_Secc:hover .tooltip-css3 {
      display: block;
    }

    .tooltip-css3:before {
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 20px solid #6c63ff;
      bottom: -15px;
      content: "";
      height: 0;
      left: 50%;
      margin-left: -30px;
      position: absolute;
      transform: skew(-45deg);
      width: 0;
    }

    .tooltip-css3 {
      background-color: #6c63ff;
      border-radius: 100% 100% 100% 100%;
      box-shadow: 0 0 5px 0 rgb(108 99 255 / 49%);
      color: #ffffff;
      display: none;
      left: 70%;
      padding: 20px 30px;
      position: absolute;
      top: 23%;
    }

    .Btn_Secc_Pen {
      background-color: #afaaff;
      box-shadow: 0 0 5px 0 rgb(108 99 255 / 49%);
      color: #ffffff;
      padding: 10px;
      cursor: pointer;
    }

    .Btn_Secc_New {
      background-color: #afaaff;
      box-shadow: 0 0 5px 0 rgb(108 99 255 / 49%);
      color: #ffffff;
      padding: 10px;
      cursor: pointer;
    }

    /* /// */
    .Con_pulse_P {
      /* background: #FF6D4A; */
      border-radius: 50%;
      color: #fff;
      animation: animate-pulse_P 5s linear infinite;
      cursor: pointer;
    }

    @keyframes animate-pulse_P {
      0% {
        box-shadow: 0 0 0 0 rgba(71, 71, 165, 0.7),
          0 0 0 0 rgba(71, 71, 165, 0.7);
      }

      40% {
        box-shadow: 0 0 0 15px rgba(71, 71, 165, 0),
          0 0 0 0 rgba(71, 71, 165, 0.7);
      }

      80% {
        box-shadow: 0 0 0 0 rgba(71, 71, 165, 0),
          0 0 0 15px rgba(71, 71, 165, 0);
      }

      100% {
        box-shadow: 0 0 0 0 rgba(71, 71, 165, 0), 0 0 0 0 rgba(71, 71, 165, 0);
      }
    }

    .Con_pulse_G {
      border-radius: 50%;
      color: #fff;
      animation: animate-pulse_G 3s linear infinite;
      cursor: pointer;
    }

    @keyframes animate-pulse_G {
      0% {
        box-shadow: 0 0 0 0 rgba(162, 162, 175, 0.7),
          0 0 0 0 rgba(162, 162, 175, 0.7);
      }

      40% {
        box-shadow: 0 0 0 15px rgba(71, 71, 165, 0),
          0 0 0 0 rgba(162, 162, 175, 0.7);
      }

      80% {
        box-shadow: 0 0 0 0 rgba(71, 71, 165, 0),
          0 0 0 15px rgba(71, 71, 165, 0);
      }

      100% {
        box-shadow: 0 0 0 0 rgba(71, 71, 165, 0), 0 0 0 0 rgba(71, 71, 165, 0);
      }
    }

    .Con_pulse_V {
      /* background: #FF6D4A; */
      border-radius: 50%;
      color: #fff;
      animation: animate-pulse_V 5s linear infinite;
      cursor: pointer;
    }

    @keyframes animate-pulse_V {
      0% {
        box-shadow: 0 0 0 0 rgba(43, 255, 36, 0.7),
          0 0 0 0 rgba(43, 255, 36, 0.7);
      }

      40% {
        box-shadow: 0 0 0 15px rgba(43, 255, 36, 0),
          0 0 0 0 rgba(43, 255, 36, 0.7);
      }

      80% {
        box-shadow: 0 0 0 0 rgba(43, 255, 36, 0),
          0 0 0 15px rgba(43, 255, 36, 0);
      }

      100% {
        box-shadow: 0 0 0 0 rgba(43, 255, 36, 0), 0 0 0 0 rgba(43, 255, 36, 0);
      }
    }

    /* /// */
    .Animacion_HojaForm {
      animation: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal both
        running swing-in-top-fwd;
    }

    @keyframes swing-in-top-fwd {
      0% {
        /* -webkit-transform: rotateX(-100deg);
          transform: rotateX(-100deg);
          -webkit-transform-origin: top;
          transform-origin: top; */
        opacity: 0;
      }

      100% {
        /* -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
          -webkit-transform-origin: top;
          transform-origin: top; */
        opacity: 1;
      }
    }

    .BgColor_A {
      background: linear-gradient(to bottom left, #37daf0, #00acc1, #37daf0);
    }

    .BgColor_R {
      background: linear-gradient(to bottom left, #f1ad5a, #fb8c00, #f1ad5a);
    }

    .BgColor_C {
      background: linear-gradient(to bottom left, #e65b8e, #d81b60, #e65b8e);
    }

    .BgColor_O {
      background: linear-gradient(to bottom left, #d7d9db, #6a6d71, #d7d9db);
    }

    .BgColor_N {
      background: linear-gradient(to bottom left, #63f193, #25d962, #63f193);
    }

    .Color_A {
      color: #00acc1 !important;
      border-left: 5px solid #00acc1;
    }

    .Color_R {
      color: #fb8c00 !important;
      border-left: 5px solid #fb8c00;
    }

    .Color_C {
      color: #d81b60 !important;
      border-left: 5px solid #d81b60;
    }

    .Color_O {
      color: #6a6d71 !important;
      border-left: 5px solid #6a6d71;
    }

    .Color_N {
      color: #25d962 !important;
      border-left: 5px solid #25d962;
    }

    .textarea2 {
      padding: 0.5rem !important;
      width: calc(100% - 0rem) !important;
      /* background-color: #cbcdce; */
      background-color: #f1f3f4;
      resize: none;
      height: 7rem;
    }

    input.input-text-new {
      background-color: #fff !important;
    }

    .gray-input {
      background-color: #f1f3f4 !important;
    }

    .Tarjeta_Titulo {
      -webkit-transition: all 0.8s cubic-bezier(0.34, 1.61, 0.7, 1);
      transition: all 0.8s cubic-bezier(0.34, 1.61, 0.7, 1);
      position: relative;
      z-index: 3;
    }

    .Tarjeta_Titulo:hover {
      transform: translate3d(0, -25px, 0);
    }

    .Tarjeta_Titulo > .card {
      border-radius: 0.375rem;
      z-index: 2;
    }

    .Tarjeta_Titulo .card-content {
      padding: 0.6rem 0.8rem;
      display: flex;
    }

    .Tarjeta_Titulo h6 {
      color: #ffffff !important;
      font-weight: 600 !important;
      font-size: 0.8125rem;
    }

    .Tarjeta_Texto {
      z-index: -1;
      margin-top: -3.7em;
      width: calc(100% - 30px);
      left: 15px;
      /* text-align: center; */
      width: auto;
      border-radius: 0.375rem;
      height: 41px;
      padding: 0.9rem 0.8rem;
    }

    .Tarjeta_Texto > span {
      position: relative;
      font-size: 0.8em;
      font-weight: 700;
    }

    #H1_Tabla > thead,
    #H1_Tabla > tbody {
      font-size: 1em;
      /* border: 3px; */
      border-width: medium;
      border-style: solid;
      border-radius: 0.375rem;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .Class_Tabla_Btn_Gestionar {
      border-radius: 0.375rem;
      width: 30%;
      margin: auto;
      border-width: medium;
    }

    .Class_Tabla_Btn_Gestionar h6 {
      font-weight: 700 !important;
      font-size: 0.8125rem;
    }

    .animated {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    .switch label .lever.check-c:after {
      background-color: #ffffff;
    }

    .switch label input[type="checkbox"]:checked + .lever:after {
      background-color: #ffffff;
    }

    .dropdown-content li {
      min-height: 23px;
    }

    .select_maxheigth ul {
      max-height: 125px;
    }

    .dropdown-content li > span {
      line-height: 32px;
      padding: 0px 16px;
    }

    .currency-input {
      position: relative;
    }

    .currency {
      padding-left: -22px;
    }

    .currency-symbol {
      position: absolute;
      left: 8px;
      font-size: 21px;
    }

    #toast-container .toast {
      border-radius: 10px !important;
      font-weight: 600;
      text-align: center !important;
      word-break: keep-all;
      padding: 10px 25px;
      width: auto;
      background: linear-gradient(to bottom left, #e04242, #8b0000, #e04242);
    }

    blockquote {
      font-weight: 700;
      background-color: #f1f3f4;
    }

    .VistaFile .Iframe {
      visibility: hidden;
      height: 50vh;
      color: #fff;
      text-align: center;
      margin-bottom: -0.6rem;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
      position: absolute;
      z-index: 1;
      bottom: calc(100% + 6px);
      right: 0;
      opacity: 0;
      transition: opacity 1s;
      border: 3px solid #333333;
    }

    .VistaFile:hover .Iframe {
      visibility: visible;
      opacity: 1;
    }

    .Iframe:hover {
      visibility: visible;
      opacity: 1;
    }

    .input-file-radius-cargado {
      /* border-top-right-radius: 0 !important; */
      /* border-bottom-right-radius: 0 !important; */
      background-color: #03c5146e !important;
    }

    .input-file-radius-cargado2 {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      background-color: #03c5146e !important;
    }

    .input-file-radius-opcional {
      background-color: #0000004f !important;
    }

    .input-file-radius-obligatorio {
      background-color: #f54b4bb0 !important;
    }

    .input-file-radiu {
      border-radius: 10px;
    }

    .input-file-radius {
      border-radius: 10px;
    }

    .select-wrapper input.select-dropdown:disabled {
      color: black;
    }

    .list-group-item:last-child {
      margin-bottom: 0;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    .list-group-item:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    .list-group-item:hover {
      color: #1a2e63;
      cursor: pointer;
      font-weight: bold;
    }

    .list-group-item.hover {
      color: #1a2e63;
      cursor: pointer;
      font-weight: bold;
    }

    .list-group-item {
      position: relative;
      display: block;
      padding: 10px 15px;
      margin-bottom: -1px;
      background-color: #fff;
      border: 1px solid #ddd;
    }

    .list-group {
      font-size: 14px;
    }

    .class_upper td,
    .class_upper th {
      text-transform: uppercase;
    }

    .class_gris {
      color: rgba(0, 0, 0, 0.26) !important;
    }

    .class_label {
      color: #80868b;
    }

    /*******************/

    .switch label .lever {
      background-color: #1a2e63;
      width: 60px;
      height: 29px;
    }

    .switch label .lever:after {
      left: 4px;
      top: 4px;
      background-color: #fff !important;
    }

    .switch label .lever.check-c {
      background-color: #1a2e63 !important;
    }

    .switch label input[type="checkbox"]:checked + .lever:after {
      left: 35px;
    }

    /* // */
    .lever.check-c:hover span.lever.check-c:after {
      width: 100px !important;
    }

    /**/
    [type="checkbox"].filled-in:not(:checked) + label:after {
      border: 3px solid #1a2e63;
    }

    [type="checkbox"].filled-in:checked + label:after {
      border: 3px solid #1a2e63;
      background-color: #1a2e63;
    }

    .modal {
      border-radius: 10px;
      overflow: hidden;
      max-height: 88%;
      z-index: 1003;
      display: none;
      opacity: 0;
      transform: scaleX(0.7);
      top: 4%;
    }

    .pagination {
      text-align: center;
      padding-top: 0px;
      font-weight: 800;
    }

    /* --------------------------------------------------------------------------------------------- */
    @keyframes Anim_Show {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    .Anim_Show {
      animation-name: Anim_Show;
      animation-duration: 1s;
    }

    .Con_pulse_A {
      border-radius: 50%;
      color: #fff;
      animation: animate-pulse_A 5s linear infinite;
    }

    @keyframes animate-pulse_A {
      0% {
        box-shadow: 0 0 0 0 #f7fb00de, 0 0 0 0 #f7fb00de;
      }

      40% {
        box-shadow: 0 0 0 15px rgba(3, 197, 20, 0), 0 0 0 0 #f7fb00de;
      }

      80% {
        box-shadow: 0 0 0 0 rgba(3, 197, 20, 0), 0 0 0 15px rgba(3, 197, 20, 0);
      }

      100% {
        box-shadow: 0 0 0 0 rgba(3, 197, 20, 0), 0 0 0 0 rgba(3, 197, 20, 0);
      }
    }

    .Con_pulse_X {
      /* background: #FF6D4A; */
      border-radius: 50%;
      color: #fff;
      animation: animate-pulse_X 5s linear infinite;
      cursor: pointer;
    }

    @keyframes animate-pulse_X {
      0% {
        box-shadow: 0 0 0 0 #f75050, 0 0 0 0 #f75050;
      }

      40% {
        box-shadow: 0 0 0 15px rgba(245, 75, 75, 0), 0 0 0 0 #f75050;
      }

      80% {
        box-shadow: 0 0 0 0 rgba(245, 75, 75, 0),
          0 0 0 15px rgba(245, 75, 75, 0);
      }

      100% {
        box-shadow: 0 0 0 0 rgba(245, 75, 75, 0), 0 0 0 0 rgba(245, 75, 75, 0);
      }
    }

    .Con_pulse_D {
      /* background: #FF6D4A; */
      border-radius: 50%;
      color: #fff;
      animation: animate-pulse_D 5s linear infinite;
      cursor: pointer;
    }

    @keyframes animate-pulse_D {
      0% {
        box-shadow: 0 0 0 0 rgba(235, 156, 5, 0.7),
          0 0 0 0 rgba(235, 156, 5, 0.7);
      }

      40% {
        box-shadow: 0 0 0 15px rgba(235, 156, 5, 0),
          0 0 0 0 rgba(235, 156, 5, 0.7);
      }

      80% {
        box-shadow: 0 0 0 0 rgba(235, 156, 5, 0),
          0 0 0 15px rgba(235, 156, 5, 0);
      }

      100% {
        box-shadow: 0 0 0 0 rgba(235, 156, 5, 0), 0 0 0 0 rgba(235, 156, 5, 0);
      }
    }

    input[type="text"] {
      border: 1px solid #dee2e6;
      border-radius: 0.25rem;
      background-color: #fff;
      background-clip: padding-box;
      padding: 0 1em;
      font-weight: 600;
      height: 2rem;
    }
  </style>
</div>
