<div style="width: 80%; margin: 0 auto; padding-top: 15px;">
        <div class="col s12 m6 l6 card">
            <div class="ngdialog-close" style="float: right; font-size: 40px; padding-right: 20px;">
            </div>
            <div class="card-content">
                <h5>Productos Nutricionales Prescritos</h5>
            </div>
            <div class="card-action">
    
                <div ng-hide="false" class="row margin">
                    <div id="tabla_scroll" style="height: 67vh; overflow: auto;">
                        <table id="med_table" class="striped table-bordered white animated" style="position: relative;">
    
                            <tbody>
                                <!-- <td ng-repeat="modificacion in info"> -->
                                <tr>
                                    <td><b>Cantidad Tratamiento   </b></td>
                                    <td>{{modificacion.CanTrat}}</td>
                                </tr>
                                <tr>
                                    <td><b>Cantidad Total Formulada</b></td>
                                    <td>{{modificacion.CantTotalF}} {{modificacion.CodFreAdmon}}</td>
                                </tr>
                                <tr>
                                    <td><b>Código Forma   </b></td>
                                    <td>  {{modificacion.CodForma}} </td>
                                </tr>
                                <!-- <tr>
                                    <td><b>CodFreAdmon   </b></td>
                                    <td> </td>
                                </tr> -->
                                <tr>
                                    <td><b>Código Vía de Administración   </b></td>
                                    <td> {{modificacion.CodViaAdmon}} </td>
                                </tr>
                                <tr>
                                    <td><b>Consecutivo orden Procedimientos   </b></td>
                                    <td> {{modificacion.ConOrden}}</td>
                                </tr>
                                <tr>
                                    <td><b>Producto Nutricional   </b></td>
                                    <td> {{modificacion.DescProdNutr}}</td>
                                </tr>
                                <tr>
                                    <td><b>Dosis Numero   </b></td>
                                    <td>{{modificacion.Dosis}}</td>
                                </tr>
                                <tr>
                                    <td><b>Dosis Unidad Medida   </b></td>
                                    <td>{{modificacion.DosisUM}}</td>
                                </tr>
                                <tr>
                                    <td><b>Duración Tratamiento   </b></td>
                                    <td>{{modificacion.DurTrat}}</td>
                                </tr>
                                <tr>
                                    <td><b>Indicaciones Especiales   </b></td>
                                    <td>{{modificacion.IndEsp}} </td>
                                </tr>
                                <tr>
                                    <td><b>Indicaciones recomendaciones   </b></td>
                                    <td>{{modificacion.IndRec}}</td>
                                </tr>
                                <tr>
                                    <td><b>Justificación No PBS   </b></td>
                                    <td>{{modificacion.JustNoPBS}}</td>
                                </tr>
                                <tr>
                                    <td><b>Número Frecuencia Administración   </b></td>
                                    <td>{{modificacion.NoFAdmon}}</td>
                                </tr>
                        
                                <tr>
                                    <td><b>Tipo Prestacion   </b></td>
                                    <td>{{modificacion.TipoPrest}} </td>
                                </tr>
                                <tr>
                                    <td><b>Tipo Producto Nutricional   </b></td>
                                    <td>{{modificacion.TippProNut}} </td>
                                </tr>
                                <tr>
                                    <td><b>Presentación Cantidad Total </b></td>
                                    <td>{{modificacion.UFCantTotal}}</td>
                                </tr>
                                
                                <!-- </td> -->
    
                            </tbody>
                        </table>
    
    
                    </div>
    
                </div>
    
            </div> <div class="" style="text-align: center; justify-content: space-around; display: flex;">
                <button class="btn btn-div default-background waves-effect waves-light green" 
                ng-click="open_modal('A',modificacion)" title="Direccionamiento" >
                Direccionar Producto Nutricional
            </button>
              <button class="btn btn-div default-background waves-effect waves-light orange" 
                ng-click="open_modal('C',modificacion)" title="Direccionamiento Manual" >
                Direccionar Manual
            </button>
            <button class="btn btn-div default-background waves-effect waves-light red" 
                ng-click="open_modal('B',modificacion)" title="No Direccionamiento" >
               No Direccionar Producto Nutricional
            </button>
            </div>
          <center>
            <div>

                 
                <div class="col s12 bt" style="text-align: center; margin-right: 0px; margin-top: 15px;">
                    <div class="tooltip" style="margin-top: 2px;">
                        <a class="btn-floating btn waves-effect waves-light mt-5"
                            ng-class="actual == 0 ? 'desactivado' : 'amarillo'"
                            ng-click="verModificaciones(actual,'back')"><i class="material-icons dp48"
                                style="transform: rotate(180deg)">trending_flat</i></a>
                        <span style="margin-right: 4px;" class="tooltiptext">Anterior</span>
                    </div>
                    <span style="margin-left: 10px; margin-right: 10px;">{{actual + 1}} de
                        {{total}}</span>
                    <div class="tooltip" style="margin-top: 2px;">
                        <a class="btn-floating btn waves-effect waves-light mt-5"
                            ng-class="actual + 1 == total ? 'desactivado' : 'amarillo'"
                            ng-click="verModificaciones(actual,'next')"><i
                                class="material-icons dp48">trending_flat</i></a>
                        <span style="margin-right: 4px;" class="tooltiptext">Siguiente</span>
                    </div>

                </div>
          </center>
    
                    <style>
                        .card-body-title {
                            font-size: initial;
                            border-bottom: 1px solid #eaeaea;
                            padding-bottom: 8px;
                        }
    
                        .desactivado {
                            background-color: gray;
                            /* color:black; */
                        }
                    </style>
                    <!-- 
: "90"
: "270"
: "3"
: 2
: "1"
: 1
: "150413"
: "9"
: "0062"
: 3
: 10
: "paciente debe tomar tres botellas de ensure advance al dia durante noventa DÍAS "
: "TUTELA AUTORIZA LA ENTREGA DE aliMENTO ensure advence 237ml liquido botella POR PATOLOGÍA QUE PRESENTA EL PACIENTE."
: "8"
: 2
: 1
: "1504"
: "3"
-->
    
                </div>
    
            </div>
        </div>

