<div style="width: 60%; margin: 0 auto; padding-top: 15px;">
        <div class="col s12 m6 l6 card">
            <div class="ngdialog-close" style="float: right; font-size: 40px; padding-right: 20px;"></div>
            <div class="card-content">
                <h5>Detalle Errores Prescripción</h5>
            </div>
            <div class="card-action">
                <div class="row">
                    <div class="col s12">
                        <blockquote>
                              {{info.Message}}
                        </blockquote>
                        <div class="responsive" ng-hide="hide_table_m">
                        <table class="table table-bordered table-striped">
                            <thead>
                                 <tr>   
                                    <th>#</th>
                                    <th>Campo</th>
                                    <th>Error</th>                                                                  
                                </tr>
                              
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in marihuana">
                                        <td>{{$index + 1}}</td>
                                        <td>direccionamiento {{data.variable}}</td>
                                        <td>{{data.mensaje}}</td>                      
                                                   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="responsive" ng-hide="hide_table_e">
                            <table class="table table-bordered table-striped">
                                <thead>
                                     <tr>   
                                        <th>#</th>
                                        <!-- <th>Campo</th> -->
                                        <th>Error</th>                                                                  
                                    </tr>
                                  
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in info.Errors">
                                            <td>{{$index + 1}}</td>
                                            <!-- <td>direccionamiento {{data.variable}}</td> -->
                                            <td>{{data}}</td>                      
                                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
       
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>