<div style="width: 80%; margin: 0 auto; padding-top: 15px;">
        <div class="col s12 m6 l6 card">
            <div class="ngdialog-close" style="float: right; font-size: 40px; padding-right: 20px;">
            </div>
            <div class="card-content">
                <h5>Servicios Complementarios Prescritos</h5>
            </div>
            <div class="card-action">
    
                <div ng-hide="false" class="row margin">
                    <div id="tabla_scroll" style="height: 67vh; overflow: auto;">
                        <table id="med_table" class="striped table-bordered white animated" style="position: relative;">
    
                            <tbody>
                                <tr>
                                    <td> <b>Consecutivo Servicios Complementarios</b> </td>
                                    <td>{{modificacion.ConOrden}}</td>
                                </tr>
                                <tr>
                                    <td> <b>Tipo de Prestación</b> </td>
                                    <td>{{modificacion.TipoPrest}}</td>
                                </tr>
                                <tr>
                                    <td> <b>¿El uso del servicio es cosmético o suntuario?</b> </td>
                                    <td>{{modificacion.CausaS1== 0 ? 'Si' : 'No'}}</td>
                                </tr>
                                <tr>
                                    <td> <b>¿El servicio se prestará en Colombia?</b> </td>
                                    <td>{{modificacion.CausaS2== 0 ? 'Si' : 'No'}}</td>
                                </tr>
                                <tr>
                                    <td> <b>¿El servicio está registrado por la autoridad competente?</b> </td>
                                    <td>{{modificacion.CausaS3== 0 ? 'Si' : 'No'}}</td>
                                </tr>
                                <tr>
                                    <td> <b>¿El servicio corresponde a la condición clínica y diagnóstico del paciente?</b> </td>
                                    <td>{{modificacion.CausaS4== 0 ? 'Si' : 'No'}}</td>
                                </tr>
                                <tr>
                                    <td> <b>Descripción Causa4</b> </td>
                                    <td>{{modificacion.DescCausaS4}}</td>
                                </tr>
                                <tr>
                                    <td> <b>¿Existe evidencia disponible sobre seguridad, eficacia y efectividad?</b> </td>
                                    <td>{{modificacion.CausaS5== 0 ? 'Si' : 'No'}}</td>
                                </tr>
                                <tr>
                                    <td> <b>Código Servicio Complementario</b> </td>
                                    <td>{{modificacion.CodSerComp}}</td>
                                </tr>
                                <tr>
                                    <td> <b>Descripción Servicio Complementario</b> </td>
                                    <td>{{modificacion.DescSerComp}}</td>
                                </tr>
                                <tr>
                                    <td> <b>Cantidad</b> </td>
                                    <td>{{modificacion.CanForm}}</td>
                                </tr>
                              
                                <tr>
                                    <td> <b>Frecuencia de uso</b> </td>
                                    <td>{{modificacion.CadaFreUso}}</td>
                                </tr>
                                <tr>
                                    <td> <b>Código de Unidad de Tiempo de Frecuencia de Uso</b> </td>
                                    <td>{{modificacion.CodFreUso}}</td>
                                </tr>
                                <tr>
                                    <td> <b>Cantidad duración de tratamiento</b> </td>
                                    <td>{{modificacion.Cant}}</td>
                                </tr>
                                <tr>
                                    <td> <b>Cantidad Total</b> </td>
                                    <td>{{modificacion.CantTotal}}</td>
                                </tr>
                               
                                <tr>
                                    <td> <b>Período Duración Tratamiento</b> </td>
                                    <td>{{modificacion.CodPerDurTrat}}</td>
                                </tr>
                                <tr>
                                    <td> <b>Tipo de transporte</b> </td>
                                    <td>{{modificacion.TipoTrans}}</td>
                                </tr>
                                <tr>
                                    <td> <b>Requiere acompañante albergue</b> </td>
                                    <td>{{modificacion.ReqAcom}}</td>
                                </tr>
                                <tr>
                                    <td> <b>Identificacion Acompañante</b> </td>
                                    <td>{{modificacion.TipoIDAcomAlb}} - {{modificacion.NroIDAcomAlb}}</td>
                                </tr>
                         
                                <tr>
                                    <td> <b>Parentesco del acompañante albergue</b> </td>
                                    <td>{{modificacion.ParentAcomAlb}}</td>
                                </tr>
                                <tr>
                                    <td> <b>Nombre albergue</b> </td>
                                    <td>{{modificacion.NombAlb}}</td>
                                </tr>
                                <tr>
                                    <td> <b>Código DIVIPOLA Municipio Origen Albergue</b> </td>
                                    <td>{{modificacion.CodMunOriAlb}}</td>
                                </tr>
                                <tr>
                                    <td> <b>Código DIVIPOLA Municipio Destino Albergue</b> </td>
                                    <td>{{modificacion.CodMunDesAlb}}</td>
                                </tr>
                                <tr>
                                    <td> <b>Justificación No PBS</b> </td>
                                    <td>{{modificacion.JustNoPBS}}</td>
                                </tr>
                                <tr>
                                    <td> <b>Indicaciones o recomendaciones para el paciente</b> </td>
                                    <td>{{modificacion.IndRec}}</td>
                                </tr>
                                <tr>
                                    <td> <b>Estado de la Junta de Profesionales</b> </td>
                                    <td>{{modificacion.EstJM}}</td>
                                </tr>
                                <!-- <td ng-repeat="modificacion in info"> -->
                                <!--<tr>
                                    <td> <b>CadaFreUso</b></td>
                                    <td>{{modificacion.CadaFreUso}}</td>
                                </tr>
                                <tr>
                                    <td><b>Consecutivo Servicios Complementarios </b></td>
                                    <td>{{}}</td>
                                </tr>
                                <tr>
                                    <td> <b>CanForm</b></td>
                                    <td>{{modificacion.CanForm}} </td>
                                </tr>
                                <tr>
                                    <td> <b>Cantidad periodica: </b></td>
                                    <td> {{modificacion.Cant}}  {{modificacion.CodPerDurTrat}}</td>
                                </tr>
                                <tr>
                                    <td> <b>Posología </b></td>
                                    <td> {{modificacion.CantTotal}}  {{modificacion.CodFreUso}}</td>
                                </tr>
                             
                                <tr>
                                    <td> <b>Codigo Servicio Complementario</b></td>
                                    <td> {{modificacion.CodSerComp}}</td>
                                </tr>
                                <tr>
                                    <td> <b>Consecutivo Servicios Complementarios</b></td>
                                    <td>{{modificacion.ConOrden}}</td>
                                </tr>
                                <tr>
                                    <td> <b>Descripción Servicio Complementario</b></td>
                                    <td>{{modificacion.DescSerComp}}</td>
                                </tr>
                                <tr>
                                    <td><b>Indicaciones o recomendaciones para el paciente: </b></td>
                                    <td>{{modificacion.IndRec}}</td>
                                </tr>
                                <tr>
                                    <td><b>Justificacion No PBS: </b></td>
                                    <td>{{modificacion.JustNoPBS}} </td>
                                </tr>
                                <tr>
                                    <td> <b>Tipo Tutela:</b></td>
                                    <td>{{modificacion.TipTut}}</td>
                                </tr>
                                <tr>
                                    <td> <b>Tipo Prestación:</b></td>
                                    <td>{{modificacion.TipoPrest}}</td>
                                </tr>
                             
                                <!-- </td> -->
    
                            </tbody>
                        </table>
    
    
                    </div>
    
                </div>
            </div> <div class="" style="text-align: center; justify-content: space-around; display: flex;">
                <button class="btn btn-div default-background waves-effect waves-light green" 
                ng-click="open_modal('A',modificacion)" title="Direccionamiento" >
                Direccionar Servicio Complementario
            </button>
              <button class="btn btn-div default-background waves-effect waves-light orange" 
                ng-click="open_modal('C',modificacion)" title="Direccionamiento Manual" >
                Direccionar Manual
            </button>
            <button class="btn btn-div default-background waves-effect waves-light red" 
                ng-click="open_modal('B',modificacion)" title="No Direccionamiento" >
               No Direccionar  Servicio Complementario
            </button>
            </div>
          <center>
            <div>
    
                 
                <div class="col s12 bt" style="text-align: center; margin-right: 0px; margin-top: 15px;">
                    <div class="tooltip" style="margin-top: 2px;">
                        <a class="btn-floating btn waves-effect waves-light mt-5"
                            ng-class="actual == 0 ? 'desactivado' : 'amarillo'"
                            ng-click="verModificaciones(actual,'back')"><i class="material-icons dp48"
                                style="transform: rotate(180deg)">trending_flat</i></a>
                        <span style="margin-right: 4px;" class="tooltiptext">Anterior</span>
                    </div>
                    <span style="margin-left: 10px; margin-right: 10px;">{{actual + 1}} de
                        {{total}}</span>
                    <div class="tooltip" style="margin-top: 2px;">
                        <a class="btn-floating btn waves-effect waves-light mt-5"
                            ng-class="actual + 1 == total ? 'desactivado' : 'amarillo'"
                            ng-click="verModificaciones(actual,'next')"><i
                                class="material-icons dp48">trending_flat</i></a>
                        <span style="margin-right: 4px;" class="tooltiptext">Siguiente</span>
                    </div>
    
                </div>
          </center>
    
                    <style>
                        .card-body-title {
                            font-size: initial;
                            border-bottom: 1px solid #eaeaea;
                            padding-bottom: 8px;
                        }
    
                        .desactivado {
                            background-color: gray;
                            /* color:black; */
                        }
                    </style>
     
                </div>
    
            </div>
        </div>


       