<div style="width: 60%; margin: 0 auto; padding-top: 15px;">
    <div class="col s12 m6 l6 card">
        <div class="ngdialog-close" style="float: right; font-size: 40px; padding-right: 20px;"></div>
        <div class="card-content">
            <h5>Detalle Prescripcion No. {{info.NoPrescripcion}}</h5>
        </div>
        <div class="card-action">
            <div class="row">
                <div class="col s12">
                    <blockquote>
                            Codigo Habilitacion IPS: {{info.CodHabIPS}} <br>
                            Contacto: {{info.TelSedeIPS}} <br>
                            Ciudad: {{info.CodDANEMunIPS}}
                            
                    </blockquote>
                    <div class="input-list" style="display: flex; justify-content: space-around;">
                        <div class="input-list input-view-column">
                            <label for="NoPres">Nombre Afiliado</label>
                            <input id="NoPres" type="text" ng-value="nombreafi" disabled>
                        </div>
                        <div class="input-list input-view-column">
                            <label for="NoPres">Identificacion</label>
                            <input id="NoPres" type="text" ng-value="idafi" disabled>
                        </div>
                    </div>
                    <div class="input-list" style="display: flex; justify-content: space-around;">
                        <div class="input-list input-view-column">
                            <label for="NoPres">Nombre Medico</label>
                            <input id="NoPres" type="text" ng-value="nombremed" disabled>
                        </div>
                        <div class="input-list input-view-column">
                            <label for="NoPres">Identificacion</label>
                            <input id="NoPres" type="text" ng-value="idmed" disabled>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</div>
</div>