<div style="width: 80%; margin: 0 auto; padding-top: 15px;">
    <div class="col s12 m6 l6 card">
        <div class="ngdialog-close" style="float: right; font-size: 40px; padding-right: 20px;">
        </div>
        <div class="card-content">
            <h5>Registro No Direccionamiento</h5>
        </div>
        <div class="card-action">

            <div ng-hide="false" class="row margin">
                <div id="tabla_scroll" style="overflow: auto;">
                    <table id="med_table" class="striped table-bordered white animated" style="position: relative;">

                        <tbody>                          
                            <tr>    
                                <td><b>No Prescripcion</b></td>
                                <td><input class="small_input" type="text" ng-model="dir.NoPrescripcion" disabled></td>
                            </tr>
                            <tr>    
                                <td><b> Tipo ID Paciente</b></td>
                                <td><input class="small_input" type="text" ng-model="dir.TipoIDPaciente" disabled></td>
                            </tr>
                            <tr>    
                                <td><b> Nro ID Paciente</b></td>
                                <td><input class="small_input" type="text" ng-model="dir.NoIDPaciente" disabled></td>
                            </tr>
                            <tr>    
                                <td><b> Tipo Tecnología</b></td>
                                <td><input class="small_input" type="text" ng-model="dir.TipoTec" disabled></td>
                            </tr>
                            <tr>    
                                <td><b> Consecutivo Tecnología</b></td>
                                <td><input class="small_input" type="text" ng-model="dir.ConTec" disabled></td>
                            </tr>
                            <tr>    
                                <td><b> Causa No Entrega</b></td>
                                <td>
                                    <!-- <select name="" id="">
                                        <option value="">{{}}</option>
                                        <option value="">{{}}</option>
                                    </select> -->
                                    <select class="select-chosen-eps" ng-model="dir.CausaNoEntrega">
                                        <option value="">SELECCIONAR</option>
                                        <option ng-repeat="causa in causas" value="{{causa.CODIGO}}">
                                            {{causa.CODIGO}} - {{causa.DESCRIPCION}}</option>
                                     </select>
                                    <!-- <input class="small_input" type="text" ng-model="dir.CausaNoEntrega"> -->
                                </td>
                            </tr>
                            <tr>    
                                <td><b> No Prescripcion Asociada</b></td>
                                <td><input class="small_input" type="text" ng-model="dir.NoPrescripcionAsociada"></td>
                            </tr>    
                            <tr>    
                                <td><b> Consecutivo Tecnología Asociada</b></td>
                                <td><input class="small_input" type="text" ng-model="dir.ConTecAsociada"></td>
                            </tr>    
                        </tbody>

                    </table>


                </div> 
           <center>
            <button class="btn btn-div default-background waves-effect waves-light"
            ng-click="reportar()" title="No Direccionar" >
            No Direccionar
        </button>
           </center>

        </div>

        <div class="" style="text-align: center; justify-content: space-between; display: flex;">
            <style>
            .card-body-title {
                font-size: initial;
                border-bottom: 1px solid #eaeaea;
                padding-bottom: 8px;
            }

            .desactivado {
                background-color: gray;
                /* color:black; */
            }
            .small_input{
                height: 1em!important;
                margin: 0px!important;
            }
        </style>

    </div>

</div>
</div>