<div style="width: 80%; margin: 0 auto; padding-top: 15px;">
    <div class="col s12 m6 l6 card">
        <div class="ngdialog-close" style="float: right; font-size: 40px; padding-right: 20px;">
        </div>
        <div class="card-content">
            <h5>Reporte suministros</h5>
        </div>
        <div class="card-action">

            <div ng-hide="false" class="row margin">
                <div id="tabla_scroll" style="height: 67vh; overflow: auto;">
                    <table id="med_table" class="striped table-bordered white animated" style="position: relative;">

                        <tbody>


                            <tr>    
                                <td><b> ID</b></td>
                                <td><input type="text" ng-model="suministro[0].ID"></td>
                            </tr>
                            <tr>    
                                <td><b> Ultimo Entrega</b></td>
                                <td><input type="text" ng-model="suministro[0].UltEntrega"></td>
                            </tr>
                            <tr>    
                                <td><b> Entrega Completa</b></td>
                                <td><input type="text" ng-model="suministro[0].EntregaCompleta"></td>
                            </tr>
                            <tr>    
                                <td><b> Causa No Entrega</b></td>
                                <td>
                                    <!-- <select name="" id="">
                                        <option value="">{{}}</option>
                                        <option value="">{{}}</option>
                                    </select> -->
                                    <select class="select-chosen-eps" ng-model="suministro[0].CausaNoEntrega">
                                        <option value="">SELECCIONAR</option>
                                        <option ng-repeat="causa in causas" value="{{causa.CODIGO}}">
                                            {{causa.CODIGO}} - {{causa.DESCRIPCION}}</option>
                                     </select>
                                    <!-- <input class="small_input" type="text" ng-model="dir.CausaNoEntrega"> -->
                                </td>
                            </tr>
                          
                            <!-- <tr>    
                                <td><b> Causa No Entrega</b></td>
                                <td><input type="text" ng-model="suministro[0].CausaNoEntrega"></td>
                            </tr> -->
                            <tr>    
                                <td><b> No Prescripcion Asociada</b></td>
                                <td><input type="text" ng-model="suministro[0].NoPrescripcionAsociada"></td>
                            </tr>
                            <tr>    
                                <td><b> ConTecAsociada</b></td>
                                <td><input type="text" ng-model="suministro[0].ConTecAsociada"></td>
                            </tr>
                            <tr>    
                                <td><b> Cantidad Total Entregada</b></td>
                                <td><input type="text" ng-model="suministro[0].CantTotEntregada"></td>
                            </tr>
                            <tr>    
                                <td><b> No Lote</b></td>
                                <td><input type="text" ng-model="suministro[0].NoLote"></td>
                            </tr>
                            <tr>    
                                <td><b> Valor Entregado</b></td>
                                <td><input type="text" ng-model="suministro[0].ValorEntregado"></td>
                            </tr>
                        </tbody>

                    </table>


                </div> 
                <button class="btn btn-div default-background waves-effect waves-light"
                ng-click="reportar()" title="Suministrar" >
                Reportar Suministro
            </button>

        </div>

        <div class="" style="text-align: center; justify-content: space-between; display: flex;">
            <style>
            .card-body-title {
                font-size: initial;
                border-bottom: 1px solid #eaeaea;
                padding-bottom: 8px;
            }

            .desactivado {
                background-color: gray;
                /* color:black; */
            }
        </style>

    </div>

</div>
</div>