<div class="col s12 m12 l12" >
   <div class="card">
      <div class="card-content">
         <spam>
            <h5>Detalle de Solicitud</h5>
         </spam>
      </div>
      <div class="card-content clearfix">
            <div ng-show="detalles.isRechazo">
               <blockquote>
                  <b>Motivo de Rechazo:</b><br> 
               </blockquote>
               {{detalles.motivorechazo}}
            </div>
            <blockquote>
               <b>Comentarios del asesor: </b><br>
            </blockquote>
            {{detalles.comentarios}}
      </div>
   </div>
</div>