<style>
    .ngdialog-close{
        display: none;
    }
    .gray-text{
      color: gray!important;
    }
</style>
<div style="width: 80%; margin: 0 auto; padding-top: 50px;">
    <div class="col s12 m6 l6 card">
      <!-- <div class="ngdialog-close" style="float: right; font-size: 40px; padding-right: 20px;"></div>-->
       <div class="card-content">
          <h5>Datos de Contacto Afiliado</h5>
       </div>
       <div class="card-action">
          <div class="row">
             <form >
                <div class="col l12 m12 s12">
                   <div class="input-field col l3 m12 s12">
                      <label for="tipo_documento" class="active gray-text">Tipo de Documento</label>
                      <select class="select-chosen-eps black-text" ng-model="contacto.AFIC_TIPO_DOCUMENTO" disabled>
                         <option value="" disabled>SELECCIONAR</option>
                         <option value="CC">CEDULA DE CIUDADANÍA</option>
                         <option value="TI">TARJETA DE IDENTIDAD</option>
                         <option value="RC">REGISTRO CIVIL</option>
                         <option value="CE">CEDULA DE EXTRANJERÍA</option>
                         <option value="PA">PASAPORTE</option>
                         <option value="AS">ADULTO SIN IDENTIFICACIÓN</option>
                         <option value="MS">MENOR SIN IDENTIFICACIÓN</option>
                         <option value="CN">CERTIFICADO DE NACIDO VIVO</option>
                         <option value="PE">PERMISO ESPECIAL DE PERMANENCIA</option>
                         <option value="SC">SALVO CONDUCTO</option>
                         <option value="PT">PERMISO POR PROTECCION TEMPORAL</option>
                      </select>
                   </div>
                   <div class="input-field col l3 m12 s12">
                      <input class="black-text" id="documento" type="text" ng-model="contacto.AFIC_DOCUMENTO"  minlength="6" maxlength="20" disabled>
                      <label for="documento" class="gray-text">Número de Documento</label>
                   </div>
                   <div class="input-field col l5 m12 s12">
                    <input  class="black-text" id="primer_nombre" type="text" ng-model="contacto.nombre_completo"  disabled>
                    <label for="primer_nombre" class="gray-text">Nombre Completo</label>
                 </div>
                </div>
                
                <div class="col l12 m12 s12">
                   
                    <div class="input-field col l3 m12 s12">
                      <label class="active" id="principalcalle">Via Principal <span style="color:red;">*</span></label>
                      <select class="select-chosen-eps black-text" ng-model="contacto.principal " id="contactoprincipal"  ng-change="actualiza_direccion()"> 
                         <option value="" ng-disabled="true">SELECCIONAR</option>
                         <option ng-repeat="dato in list_viaprincipal" value="{{dato.CODIGO}}">{{dato.NOMBRE}}</option>
                      </select>
                   </div>
                   <div class="input-field col l3 m12 s12">
                        <input class="black-text" id="noprincipal" type="text" ng-model="contacto.noprincipal"  maxlength="5" ng-change="actualiza_direccion()" >
                        <label for="noprincipal" class="active" id="noprincipal1">N° Principal <span style="color:red;">*</span></label>
                 </div>
                 <div class="input-field col l3 m12 s12">
                    <label class="active gray-text">Via de Cruce</label>
                    <select class="select-chosen-eps black-text" ng-model="contacto.cruce "  ng-change="actualiza_direccion()"> 
                       <option value="" ng-disabled="true">SELECCIONAR</option>
                       <option ng-repeat="dato in list_viaprincipal" value="{{dato.CODIGO}}">{{dato.NOMBRE}}</option>
                    </select>
                 </div>
                 <div class="input-field col l2 m12 s12">
                      <input class="gray-text" id="nocruce" type="text" ng-model="contacto.nocruce" maxlength="5"  ng-change="actualiza_direccion()" >
                      <label for="nocruce" class="gray-text">N° de Cruce</label>
               </div>

            <div class=" l12 m12 s12">
                   
                <div class="input-field col l4 m12 s12">
                    <input class="black-text" id="complemento" type="text" ng-model="contacto.complemento" ng-change="actualiza_direccion()" style="text-transform: uppercase;">
                    <label for="complemento" class="active gray-text">Complemento</label>
                 
               </div>
               <div class="input-field col l4 m12 s12">
                    <input  class="black-text" id="direccion" type="text" ng-model="contacto.DIRECCION" disabled style="text-transform: uppercase;">
                    <label for="direccion" class="gray-text">Dirección</label>
             </div>
               <div class="input-field col l3 m12 s12">
                    <input class="black-text" id="barrio" type="text" ng-model="contacto.BARRIO" >
                    <label for="barrio" class="gray-text">Barrio o Localidad <span style="color:red;">*</span></label>
             </div>

            <div class=" l12 m12 s12">                   
                   <div class="input-field col l3 m12 s12">
                      <label for="telefono" class="active gray-text">Teléfono </label>
                      <input class="black-text" numbers-only mask='9999999'  id="telefono" type="text" ng-model="contacto.TELEFONO" >
                   </div>
                   <div class="input-field col l3 m12 s12">
                      <label for="celular" class="active" id="celular1">Teléfono Móvil <span style="color:red;">*</span></label>
                      <input class="black-text" numbers-only mask='9999999999' id="celular" type="text" ng-model="contacto.CELULAR" >
                   </div>
                   <div class="input-field col l3 m12 s12">
                      <label for="celular2" class="active" id="celular12">Teléfono Móvil 2</label>
                      <input numbers-only mask='9999999999' id="celular2" type="text" ng-model="contacto.CELULAR2" >
                   </div>
                   <div class="input-field col l3 m12 s12" style="width: 23%!important;">
                      <label for="correo" class="active" id="correo1">Correo Electrónico <span style="color:red;">*</span></label>
                      <input class="black-text" id="correo" type="email" ng-model="contacto.CORREO" >
                   </div>                   
                </div>
             </form>            
          </div>
          <br>
          <center>
           <button ng-if="accesoboton != 'inicioafiliados'" ng-click="confirmardatos()" class="waves-effect waves-light btn white-text success" type="button">Mis Datos Estan Actualizados</button>
           <button ng-click="actualiza_datos()" class="waves-effect waves-light btn white-text success" type="button">Actualizar</button>
         </center>

       </div>
       <br>
    </div>
 </div>