<div id="inicioafiliados">
    <style>
        .dashboard-wrapper {
            height: calc(100vh - 64px);
            padding: 36px;
            margin-bottom: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(images/inicio_afiliado.jpg);
            position: relative;
        }

        .box {
            /* width: 35vw; */
            margin: 1em auto;
            padding: 1em 2em;
            animation: bounceInDown 1s ease-in;
            transition: 0.9s;
        }

        a {
            color: #ffffff;
            /* color: #10daf3; */
        }

        .row .Tabs i {
            font-size: 3em;
        }

        .row .Tabs .col {
            margin: 2vh 1vw;
            color: white;
            border-radius: 2em;
            background-color: #1a2e63a3;
            height: 10em;
            cursor: pointer;
        }

        .row .Tabs h6 {
            font-size: 1em;
        }

        main {
            padding-left:0px;
        }

       aside > ul{
            display: none;
        }
    </style>
    <div class="row dashboard-wrapper content-container white">
        <div class="col s12 Tabs" style="display: flex; justify-content: center;">
            <!-- <div ng-if="ubicacion == '8'" class="col s11 m5 l2"> -->
                <div class="col s11 m5 l2">
                <a href="#/solicitudautafiliados">
                    <div class="center-align box">
                        <i class="icon-ok-outline"></i>
                        <h6 class="margin">Solicitud Autorizaciones</h6>
                </div>
            </a>
        </div>
        <div class="col s11 m5 l2">
            <a href="#/consultautafiliados">
            <div class="center-align box">
                    <i class="icon-search"></i>
                    <h6 class="margin">Consulta Autorizaciones</h6>
                </div>
            </a>
            </div> 
            <div class="col s11 m5 l2">
                <a href="#/datosbasicos">
                <div class="center-align box">
                    <i class="icon-user"></i>
                    <h6 class="margin">Actualización Datos Basicos</h6>
                </div>
            </a>
            </div>
            <div class="col s11 m5 l2">
                <a href="#/afidatoscovid">
                <div class="center-align box">
                    <i class="icon-ambulance"></i>
                    <h6 class="margin">Consulta Covid</h6>
                </div>
            </a>
            </div>
            <div class="col s11 m5 l2">
                <a href="#/siauconsultapqrds">
                <div class="center-align box">
                    <i class="icon-headphones"></i>
                    <h6 class="margin">Consulta PQRDS</h6>
                </div>
            </a>
            </div>
        </div>
        <!-- <div class="col s3">
            <div class="center-align box">
                <h2 class="margin">Bienvenido</h2>
                <p class="left-align">Consulta tu Información básica <a href="#/datosbasicos">click aquí</a>, o accede
                    a todos tus servicios de salud desde cualquier lugar del país <a href="https://genesis.cajacopieps.com//solicitud_portabilidad.php"
                        target="_blank">solicitando tu portabilidad</a>.</p>
            </div>
        </div> -->
    </div>
</div>
