<div class="newdesing" style="position:relative">
    <!-- Encabezado -->
    <div class="row section-header">
        <ul class="left mailbox-custom-search list-inline"
            style="width: 100%;display: flex;justify-content: space-between;align-items: center;">
            <li id="inicio">
                <h5>Contratación</h5>
            </li>
            <!-- <li ng-show="viewnewcontrato" style="cursor: pointer;" ng-click="viewnewcontrato=false">
                <i class="icon-left-big"></i> Atras
            </li>
            <li ng-show="paso == 2" style=" cursor: pointer;" ng-click="paso = 1">
                <i class="icon-left-big"></i> Atras
            </li> -->
        </ul>
    </div>
    <div class="row content-container elements mb-0">        
        <div class="col s12 m4 pointer" ng-click="abrirModal(1)">
            <div class="card darken-1">
                <div class="card-content">
                    <div class="col s12 m12 bb mb-20">
                        <h5>
                            <small>Red de Servicio</small>
                        </h5>
                    </div>
                    <!-- <span class="card-title" style="">Red de Servicio</span> -->
                    <img src="assets/images/contratos/gestion_contratos/informes.svg">
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL -->
    <div id="modal_buscar" class="modal" style="width: 70%;">
        <div class="modal-content" style="padding: 0px !important;">
            <div class="col s12" style="padding-left: 0px; padding-right:  0px;">
                <div class="card charts" style="margin-top: 0px; margin-bottom:  0px;">
                    <div class="card-content foot4 row" style="padding: 0">
                        <div class="col s10">
                            <h5 class="white-text">Descargar Informe</h5>
                        </div>
                        <div class="col s1">
                            <h5 style="text-align: end;"><i style="cursor:pointer;" ng-click="cerrarModal(1)"
                                    class="material-icons  white-text">close</i>
                            </h5>
                        </div>
                    </div>
                    <div class="card-action" style="padding-bottom: 3px; border-top: 0px solid rgba(160, 160, 160, 0.2);">
                        <div class="row">
                            <div class="col s12">
                                <form ng-submit="informe(tipoServicio)">
                                    <div class="row">
                                        <div class="col s12 m6 l4 no-p-l">
                                            <label for="tipoServicio">Tipo de Servicio</label>
                                            <select id="tipoServicio" ng-model="tipoServicio" class="select-new gray-input "
                                                style="box-shadow: none;display: block;">
                                                <option value="" disabled>SELECCIONAR</option>
                                                <option value="RO">RED ONCOLOGICA</option>
                                                <option value="CP">CUIDADOS PALIATIVOS</option>
                                                <option value="RH">RED HUERFANAS</option>
                                                <option value="RT">TRANSPORTE</option>
                                                <option value="RU">URGENCIAS</option>
                                            </select>
                                        </div>
                                        <div class="col s12 m6 l4 no-p-l">
                                            <label for="departamento">Departamento</label>
                                            <select id="departamento" ng-model="departamento" class="select-new gray-input" style="box-shadow: none;display: block;">
                                                <option value="" disabled>SELECCIONAR</option>
                                                <option ng-value="dept.UBGN_CODIGO" ng-repeat="dept in departamentos">{{dept.UBGC_NOMBRE}}</option>
                                                <!-- <option value="RO">RED ONCOLOGICA</option>
                                                <option value="CP">CUIDADOS PALIATIVOS</option>
                                                <option value="RH">RED HUERFANAS</option>
                                                <option value="RT">TRANSPORTE</option>
                                                <option value="RU">URGENCIAS</option> -->
                                            </select>
                                        </div>
                                        <div class="col s12 m6 l4 no-p-l">
                                            <label for="inicia">Inicia</label>
                                            <input id="inicia" type="date" class="border-none gray-input  input-w-p margin validate w-100 white" ng-model="f_inicial">      
                                        </div>
                                        <div class="col s12 m6 l4 no-p-l">
                                            <label for="fin">Fin</label>
                                            <input id="fin" type="date" class="border-none gray-input  input-w-p margin validate w-100 white" ng-model="f_fin">
                                        </div>
                                        <div style="position: relative;text-align: center;" class="col s12 m12 l12">
                                            <a class="btn m-t modal-action" ng-click="informe(tipoServicio,f_inicial,f_fin)">Descargar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .color_rojo {
            color: red
        }
    
        .card-body-title {
            background: #fff;
            border-radius: 1em;
            padding: 0;
        }
    
        .camino {
            background: #E5E6E6;
            text-align: center;
            padding: 1em;
        }
    
        .slide-bottom {
            -webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    
        .adjunto {
            margin-top: 1em;
        }
    
        .select-chosen-eps {
            padding-top: 0px !important
        }
    
        input {
            height: 2em !important;
        }
    
        select {
            height: 2em !important;
        }
    
        .seleccion_contrato_t {
            padding: 0.5em;
            margin: 0px;
        }
    
        .seleccion_contrato {
            margin: 0px;
            padding: 0.5em 1.5em;
            background: #e0e0e0;
        }
    
        .tabactiva {
            background: #e5e6e6;
        }
    
        .tabs .tab a.active {
            background: #e5e6e6;
        }
    
        .elements input:disabled {
            color: #111 !important;
        }
    
        #consolidadoerror>* {
            margin: auto;
        }
    
        .azul {
            background-color: #00abc0 !important;
        }
    
        .verde {
            background-color: #8BC34A !important;
        }
    
        .rojo {
            background-color: #FF5722 !important;
        }
    
        .amarillo {
            background-color: #FFC107 !important;
        }
    
        .negro {
            background-color: #1b1e2d !important;
        }
    
        .gris {
            background-color: #807d7d !important;
        }
    
        .desactivado {
            background-color: #cacaca !important;
        }
    
        .contentcard {
            height: auto;
        }
    
        .tab-custom {
            font-size: 11px !important;
            padding: 0 3px !important;
        }
    
        .mb-0 {
            margin-bottom: 0px;
        }
    
        .date_task {
            margin-bottom: 3px;
            font-size: small !important;
        }
    
        .vcenter {
            position: relative;
            top: 23%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    
        .card-custom {
            border: 1px solid #eaeaea;
            box-shadow: 1px 1px 1px #e8e8e8;
            padding-left: 0px !important;
            padding-right: 0px !important;
            margin-bottom: 9px;
        }
    
        .card-header-custom {
            height: 70px;
            text-align: center;
            border-right: 1px solid #d2d2d2;
            color: white;
        }
    
        .card-body-custom {
            height: 70px;
        }
    
        .card-body-title {
            font-size: initial;
            border-bottom: 1px solid #eaeaea;
            padding-bottom: 8px;
        }
    
        .card-footer-custom {
            border-left: 1px solid #eaeaea;
            height: 70px;
        }
    
        .card-divider {
            color: #FFC107;
            width: 100%;
        }
    
        .mt-20 {
            margin-top: 20px;
        }
    
        .pointer {
            cursor: pointer;
        }
    
        .scroll {
            position: relative;
            height: 465px;
            overflow: auto;
            overflow-x: hidden;
        }
    
        .cuadrado {
            width: 150px;
            height: 150px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 20px;
            margin-right: 5px;
            margin-bottom: 5px;
        }
    
        .columnas {
            position: absolute;
            padding: 1px 10px;
            border-radius: 0px 19px 0px 0px;
            z-index: 999;
            top: -2.66em;
            left: 1.65em;
        }
    
        .mt-0 {
            margin-top: 0px;
        }
    
        .mb-0 {
            margin-bottom: 0px;
        }
    
        .mr-10 {
            margin-right: 10px;
        }
    
        .mb-10 {
            margin-bottom: 10px;
        }
    
        .mt-10 {
            margin-top: 10px;
        }
    
        .mt-5 {
            margin-top: 5px;
        }
    
        .card-1 {
            border-bottom: 1px solid #e6e6e6;
            padding-bottom: 10px;
            box-shadow: 0px 3px 5px #cacaca;
        }
    
        .title-1 {
            border-bottom: 1px solid #d4d4d4;
            height: 30px;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 5px;
            width: 180px;
            border-radius: 0px 20px 0px 0px;
            margin-bottom: 0px;
        }
    
        .card.tab-mediano:hover {
            box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.3);
        }
    
        /* [type="checkbox"]+label:before,
    [type="checkbox"]:not(.filled-in)+label:after {
    width: 22px;
    height: 22px;
    }
    s
    [type="checkbox"]:checked+label:before {
    top: -8px;
    width: 17px;
    height: 30px;
    } */
    
        .bb {
            border-bottom: 1px solid #d2d2d2;
        }
    
        .bt {
            border-top: 1px solid #d2d2d2;
        }
    
        .bl {
            border-left: 1px solid #d2d2d2;
        }
    
        .br {
            border-right: 1px solid #d2d2d2;
        }
    
        .invalid {
            color: red;
        }
    
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    
        .h-auto {
            height: 33px;
        }
    
        .gray-input {
            background-color: #e5e6e6 !important;
        }
    
        .swal_ips {
            text-align: left !important;
        }
    
        .no-p-l {
            padding-left: 0px !important;
        }
    
        .input {
            height: 2rem !important;
        }
    
        select.select-input-new {
            height: 2rem !important;
        }
    
        .label-new>label {
            top: -23px;
            left: -1px;
        }
    
        .label-new-shirley {
            font-weight: 400;
            font-size: 1rem;
            top: -23px;
            left: -1px;
        }
    
        .titulo {
            padding-top: 22px;
        }
    
        .tab-grande {
            background: #e5e6e6;
            margin: 10px 0em;
            height: 400px;
        }
    
        .hr {
            z-index: 999;
            top: 29px;
            width: 90%;
        }
    
        .img-grande {
            margin-top: 3em;
        }
    
        /* paso 3 */
    
        .card.tab-mediano {
            background: #e5e6e6;
            margin: 10px 0em;
            height: 148px;
            cursor: pointer;
        }
    
        .card.tab-mediano:hover {
            box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.3);
        }
    
        .card.tab-pequeno {
            background: #e5e6e6;
            margin: 0em;
            height: 40px;
            cursor: pointer;
        }
    
        .card.tab-pequeno:hover {
            box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.3);
        }
    
        .margin-top {
            margin-top: 3em;
        }
    
        i {
            cursor: pointer;
        }
    
        .contener.row {
            height: 337px;
            overflow: auto;
        }
    
        .pad-10 {
            padding: 1em;
        }
    
        /* LISTAS */
    
        .list-group-item:last-child {
            margin-bottom: 0;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }
    
        .list-group-item:first-child {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
    
        .list-group-item:hover {
            color: #3f475e;
            cursor: pointer;
            font-weight: bold;
        }
    
        .list-group-item {
            position: relative;
            display: block;
            padding: 10px 15px;
            margin-bottom: -1px;
            background-color: #fff;
            border: 1px solid #ddd;
        }
    
        .modificacion_actualizado {
            position: absolute;
            height: 22px;
            width: 27px;
            top: 0em;
            left: 10px;
            /* background: #0fa9f4; */
            color: white;
            /* padding: 10px; */
            z-index: 99999;
        }
    
        i.act.icon-bookmark {
            color: #0fa9f4;
            font-size: 38px;
            position: absolute;
            top: -22px;
            right: -12px;
            z-index: -1;
        }
    
        i.lapiz {
            position: absolute;
            top: -7px;
            right: 3px;
        }
    
        .newdesing .ng-leave-active,
        .newdesing .active-add,
        .newdesing .ng-hide-add-active,
        .newdesing .ng-hide-remove,
        .newdesing .ng-hide-add-active {
            transition: all 0s !important;
            animation: 0s ease 0s 1 normal none running none !important;
        }
    
        .responsive-table-shir {
            overflow: auto;
            height: 32em;
        }
    
        li.active_list {
            color: #3f475e;
            cursor: pointer;
            font-weight: bold;
        }
    
        .timeline-page .timeline .timeline-event:nth-child(odd) .timeline-content .content-box::before,
        .timeline-page .timeline .timeline-event:nth-child(odd) .timeline-content .content-box::after {
            right: -77px;
            border-top-left-radius: .25rem !important;
            border-bottom-left-radius: .25rem !important;
        }
    
        .content-box {
            background-color: #0000001f;
            border-bottom-right-radius: .50rem !important;
            border-bottom-left-radius: .50rem !important;
            border-bottom: 30px solid #ebecec !important;
            padding-top: 37px !important;
            box-shadow: none !important;
        }
    
        .timeline-page .timeline .timeline-event .timeline-content .content-box::before {
            height: 9px;
            width: calc(100% + 99px);
            background: #737373;
            top: 14px;
        }
    
        .timeline-page .timeline .timeline-event:nth-child(odd) .timeline-content .content-box::after {
            right: 103%;
        }
    
        .timeline-page .timeline .timeline-event:nth-child(even) .timeline-content .content-box::after {
            left: 103%;
        }
    
        .timeline-page .timeline .timeline-event:nth-child(odd) .timeline-content .content-box::after,
        .timeline-page .timeline .timeline-event:nth-child(even) .timeline-content .content-box::after {
            background: #737373 !important;
            height: 20px;
            width: 20px;
            top: 8px;
            border-radius: 50% !important;
        }
    
        .file-upload-wrapper {
            position: relative;
            width: 100%;
            height: 44px;
            border: 1px solid #eeeeee;
            z-index: 1;
        }
    
        .file-upload-wrapper:after {
            content: attr(data-text);
            font-size: 18px;
            position: absolute;
            top: 0;
            left: 0;
            background: #fff;
            padding: 10px 15px;
            display: block;
            width: calc(100% - 40px);
            pointer-events: none;
            z-index: 20;
            height: 40px;
            line-height: 24px;
            color: #999;
            border-radius: 5px 10px 10px 5px;
            font-weight: 300;
        }
    
        .file-upload-wrapper:before {
            content: "Adjuntar";
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            height: 43px;
            background: #00abc0;
            color: #fff;
            font-weight: 700;
            z-index: 25;
            font-size: 16px;
            line-height: 44px;
            padding: 0 15px;
            text-transform: uppercase;
            pointer-events: none;
            border-radius: 0 5px 5px 0;
        }
    
        .file-upload-wrapper:hover:before {
            background: #00abc0;
        }
    
        .file-upload-wrapper input {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 99;
            height: 43px;
            margin: 0;
            padding: 0;
            display: block;
            cursor: pointer;
            width: 100%;
        }
    
        /* disabled */
    
        .file-upload-wrapper2 {
            position: relative;
            width: 100%;
            height: 44px;
            border: 1px solid #eeeeee;
            z-index: 1;
        }
    
        .file-upload-wrapper2:after {
            content: attr(data-text);
            font-size: 18px;
            position: absolute;
            top: 0;
            left: 0;
            background: #fff;
            padding: 10px 15px;
            display: block;
            width: calc(100% - 40px);
            pointer-events: none;
            z-index: 20;
            height: 40px;
            line-height: 24px;
            color: #999;
            border-radius: 5px 10px 10px 5px;
            font-weight: 300;
        }
    
        .file-upload-wrapper2:before {
            content: "Adjuntar";
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            height: 43px;
            background: #919292;
            color: #fff;
            font-weight: 700;
            z-index: 25;
            font-size: 16px;
            line-height: 44px;
            padding: 0 15px;
            text-transform: uppercase;
            pointer-events: none;
            border-radius: 0 5px 5px 0;
        }
    
        .file-upload-wrapper2:hover:before {
            background: #919292;
        }
    
        .file-upload-wrapper2 input {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 99;
            height: 43px;
            margin: 0;
            padding: 0;
            display: block;
            cursor: not-allowed !important;
            width: 100%;
        }
    </style>
</div>
