<div style="width: 80%; margin: 0 auto; padding-top: 50px;">
        <div class="col s12 m6 l6 card">
           <div class="ngdialog-close" style="float: right; font-size: 40px; padding-right: 20px;"></div>
           <div class="card-content">
              <h5>Búsqueda de Afiliado</h5>
           </div>
           <div class="card-action">
              <div class="row">
                 <form ng-submit="buscar()">
                    <div class="col l12 m12 s12">
                       <div class="input-field col l3 m12 s12">
                          <input id="srch_pri_nombre" type="text" ng-model="srch_pri_nombre" >
                          <label for="srch_pri_nombre" class="">Primer Nombre</label>
                       </div>
                       <div class="input-field col l3 m12 s12">
                          <input id="srch_seg_nombre" type="text" ng-model="srch_seg_nombre">
                          <label for="srch_seg_nombre" class="">Segundo Nombre</label>
                       </div>
                       <div class="input-field col l3 m12 s12">
                          <input id="srch_pri_apellido" type="text" ng-model="srch_pri_apellido">
                          <label for="srch_pri_apellido" class="">Primer Apellido</label>
                       </div>
                       <div class="input-field col l2 m12 s12">
                          <input id="srch_seg_apellido" type="text" ng-model="srch_seg_apellido">
                          <label for="srch_seg_apellido" class="">Segundo Apellido</label>
                       </div>
                    </div>
                    <div class="col l12 m12 s12">
                       <div class="input-field col l3 m12 s12">
                          <label class="active">Departamento</label>
                          <select class="select-chosen-eps" ng-model="departamento" ng-change="filterMunicipio()"> 
                             <option value="" ng-disabled="true">SELECCIONAR</option>
                             <option ng-repeat="dato in Departamentos" value="{{dato.CODIGO}}">{{dato.NOMBRE}}</option>
                          </select>
                       </div>
                       <div class="input-field col l3 m12 s12">
                          <label class="active">Municipio</label>
                          <select class="select-chosen-eps" ng-model="municipio" > 
                             <option value="" ng-disabled="true">SELECCIONAR</option>
                             <option ng-repeat="dato in Municipios" value="{{dato.CODIGO}}">{{dato.NOMBRE}}</option>
                          </select>
                       </div>
                       <div class="input-field col l2 m12 s12">
                          <input id="dteFechaNacimiento" class="datepicker picker__input uppercase" style="width: 100%;" type="date" ng-model="f_nacimiento">
                          <label for="dteFechaNacimiento" class="labelper">Fecha de Nacimiento</label>
                       </div>
                    </div><br>    
                    <center><input class="waves-effect waves-light btn white-text success" type="submit" value="Buscar"></center>
                 </form>            
              </div>
              <div style="height: 350px; overflow: auto;" ng-hide="tblResultadoAfiliados">
                 <table id="tblResultadoAfiliados" class="highlight responsive-table highlight" >
                    <thead>
                       <tr>
                          <td><b>TIPO DOCUMENTO</b></td>
                          <td><b>DOCUMENTO</b></td>
                          <td><b>NOMBRE AFILIADO</b></td>
                          <td><b>ESTADO</b></td>
                          <td><b>FECHA DE NACIMIENTO</b></td>
                          <td><b>EDAD</b></td>
                          <td><b>UBICACIÓN</b></td>
                       </tr>
                    </thead>
                    <tbody>
                       <tr id="a{{row.documento}}" style="cursor: pointer;" ng-repeat="row in Resultados" ng-click="selectAfiliado(row.tipo_documento,row.documento)">
                          <td>{{row.tipo_documento}}</td>
                          <td>{{row.documento}}</td>
                          <td>{{row.nombre}}</td>
                          <td>{{row.estado_afiliado}}</td>
                          <td>{{row.fecha_nacimiento}}</td>
                          <td>{{row.edad}}</td>
                          <td>{{row.ubicacion}}</td>
                       </tr>
                       <tr ng-show="zeroresults">
                          <td colspan="3">
                             <center>
                                <h5>No se encontraron resultados para el criterio de búsqueda ingresado</h5>
                             </center>
                          </td>
                       </tr>
                    </tbody>
                 </table>
              </div>
              <br>
              <center><a ng-hide="tblResultadoAfiliados" class="waves-effect waves-light btn white-text success" ng-click="closeThisDialog(afiliado_seleccionado())">Seleccionar</a></center>
             
             
              <!-- <center><a ng-hide="tblResultadoAfiliados" class="waves-effect waves-light btn white-text success" ng-click="closeThisDialog(afiliado_seleccionado)">Seleccionar</a></center> -->
           </div>
           <br>
        </div>
     </div>