<div style="width: 99%;margin: 0 auto;padding-top: 15px;">
  <div class="row">
    <div class="col s12 card">
      <div class="ngdialog-close" style="float: right; font-size: 40px; padding-right: 20px;"></div>
      <div id='wrap'>
        <div class="row">
          <div class="col s12">
            <h3>{{NombreSala}}</h3>
            <div id='calendar'></div>
            <div style='clear:both'></div>
          </div>
        </div>
      </div>
    <style>
    body {margin-top: 20px;text-align: center;font-size: 14px;font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;}
    #wrap {width: 90%;margin: 0 auto;height: 740px;}
    #external-events {float: left;width: 180px;padding: 0 10px;border: 1px solid #ccc;background: #eee;text-align: left;margin-top: 60px;}
    #external-events h4 {font-size: 16px;margin-top: 0;padding-top: 1em;}
    #external-events .fc-event {margin: 10px 0;cursor: pointer;}
    #external-events p {margin: 1.5em 0; font-size: 11px;  color: #666;}
    #external-events p input {margin: 0;vertical-align: middle;}
    #calendar{ margin-top: -25px;width: 100%;}
    div#calendar table>tbody.fc-body>tr>td.fc-widget-content>.fc-scroller.fc-time-grid-container{overflow: hidden scroll !important;height: 500px !important;}
    #calendar table>thead.fc-head>tr>td.fc-head-container.fc-widget-header>.fc-row.fc-widget-header {order-right-color: white!important;}
    tr{height: 50px !important;}
    td{text-align: center !important;}
    th{text-align: center !important;vertical-align: middle!important;}
  </style>
</div>
</div>

<!-- <div style="width: 99%;margin: 0 auto;padding-top: 15px;">
  <div class="row">
    <div class="col s12 card">
      <div class="ngdialog-close" style="float: right; font-size: 40px; padding-right: 20px;"></div>
      <div id='wrap'>
        <div class="row">
          <div class="col s12">
            <div id='calendar'></div>
            <div style='clear:both'></div>
          </div>
          <div div class="tooltip">
          <button class="btn-floating btn-large waves-effect waves-light pink" style="margin-top: 30px;margin-left: 85%;position: static;">
            <i ng-click="VideoConferencia()" class="material-icons dp48">assignment</i>
          </button>
          <span class="tooltiptext">Actualizar Informacion</span>
          </div>
        </div>
      </div>
    <style>
    body {margin-top: 20px;text-align: center;font-size: 14px;font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;}
    #wrap {width: 90%;margin: 0 auto;height: 740px;}
    #external-events {float: left;width: 180px;padding: 0 10px;border: 1px solid #ccc;background: #eee;text-align: left;margin-top: 60px;}
    #external-events h4 {font-size: 16px;margin-top: 0;padding-top: 1em;}
    #external-events .fc-event {margin: 10px 0;cursor: pointer;}
    #external-events p {margin: 1.5em 0; font-size: 11px;  color: #666;}
    #external-events p input {margin: 0;vertical-align: middle;}
    #calendar{ margin-top: 30px;width: 100%;}
    div#calendar table>tbody.fc-body>tr>td.fc-widget-content>.fc-scroller.fc-time-grid-container{overflow: hidden scroll !important;height: 500px !important;}
    #calendar table>thead.fc-head>tr>td.fc-head-container.fc-widget-header>.fc-row.fc-widget-header {
      border-right-color: white!important;
    }
    tr{height: 20px !important;}
    td{text-align: center !important;}
    th{text-align: center !important;vertical-align: middle!important;}
  </style>
</div>
</div> -->
