<div class="row">
   <div class="col l4 m12 s12">
      <div class="card">
         <div class="foot4 divcardcustom">
            <div class="text-al switch divcardcustom2" style="display:flex;">
               <center><strong>Patologías</strong></center>
            </div>
         </div>
         <div class="card-content clearfix" style="height: 500px; overflow: auto;">
            <table class="highlight responsive-table highlight" align="center" id="listpatologia" style="cursor: pointer !important;">
               <thead align="center">
                  <tr>
                     <td><strong>NOMBRE</strong></td>
                     <td><strong>ELIMINAR</strong></td>
                  </tr>
               </thead>
               <tbody style="height: 40%; overflow: scroll;">
                  <tr data-ng-repeat="patologia in Patologias | limitTo:10 track by $index">
                     <td ng-click="cargadxs(patologia.CODIGO)">{{patologia.NOMBRE}}</td>
                     <center>
                        <td>
                           <i class="material-icons" data-toggle="tooltip" title="Eliminar Patología" ng-click="eliminapatologia(patologia.CODIGO)" style="cursor: pointer !important;">delete</i>
                        </td>
                     </center>
                  </tr>
               </tbody>
            </table>
            <br>
            <center><a class="waves-effect waves-light btn white-text primary-button" ng-click="paneladdpatologia = true">Agregar</a></center>
         </div>
      </div>
   </div>
   <div class="col l4 m12 s12">
      <div class="card">
         <div class="foot4 divcardcustom">
            <div class="text-al switch divcardcustom2" style="display:flex;">
               <center><strong>Diagnosticos Asociados</strong></center>
            </div>
         </div>
         <div class="card-content clearfix" style="height: 500px; overflow: auto;">
            <!-- <div class="input-field col l8 m12 s12" >
               <input id="afilbusqueda" type="text" class="validate" ng-model="busquedaafil">
               <label for="afilbusqueda" class="">Valor de Búsqueda</label>
            </div>
            <div class="input-field col l3 m12 s12" >
               <a class="btn-floating btn-large waves-effect waves-light primary-button" ng-click="filtrar()"><i class="material-icons dp48">search</i></a>
            </div> -->
            <table class="highlight responsive-table highlight" align="center">
               <thead align="center">
                  <tr>
                     <td><strong>CODIGO</strong></td>
                     <td><strong>NOMBRE</strong></td>
                     <td><strong>ELIMINAR</strong></td>
                  </tr>
               </thead>
               <tbody style="height: 40%; overflow: scroll;">
                  <tr data-ng-repeat="diagnostico in DiagnosticosAs">
                     <td>{{diagnostico.codigo}}</td>
                     <td>{{diagnostico.nombre}}</td>
                     <td><i class="material-icons" ng-click="eliminadx(diagnostico.codigo)" style="cursor: pointer !important;">delete</i></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <div class="col l4 m12 s12">
      <div class="card">
         <div class="foot4 divcardcustom">
            <div class="text-al switch divcardcustom2" style="display:flex;">
               <center><strong>Diagnosticos No Asociados</strong></center>
            </div>
         </div>
         <div class="card-content clearfix" style="height: 500px; overflow: auto;">
            <div class="input-field col l8 m12 s12" >
               <input id="busquedadx" type="text" class="validate" ng-model="busquedanoas">
               <label for="busquedadx" class="">Valor de Búsqueda</label>
            </div>
            <div class="input-field col l3 m12 s12" >
               <a class="btn-floating btn-large waves-effect waves-light primary-button" ng-click="filtrardxnoas()"><i class="material-icons dp48">search</i></a>
            </div>
            <table class="highlight responsive-table highlight" align="center">
               <thead align="center">
                  <tr>
                     <td><strong>CODIGO</strong></td>
                     <td><strong>NOMBRE</strong></td>
                     <td><strong>AGREGAR</strong></td>
                  </tr>
               </thead>
               <tbody style="height: 40%; overflow: scroll;">
                  <tr data-ng-repeat="diagnostico in DiagnosticosNoAs | limitTo:10 track by $index">
                     <td>{{diagnostico.codigo}}</td>
                     <td>{{diagnostico.nombre}}</td>
                     <td><i class="material-icons" ng-click="agregadx(diagnostico.codigo)" style="cursor: pointer !important;">add</i></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <div class="col l12 m12 s12" ng-show="paneladdpatologia">
      <div class="card">
         <div class="foot4 divcardcustom">
            <div class="text-al switch divcardcustom2" style="display:flex;">
               <center><strong>Agregar Patología</strong></center>
            </div>
         </div>
         <div class="col l12 m12 s12">
            <div class="input-field col l3 m12 s12">
               <input id="codigo" type="text" ng-model="codigo_patologia" maxlength="2" minlength="2">
               <label for="codigo" class="">Código (2 Digitos)</label>
            </div>
            <div class="input-field col l2 m12 s12">
               <input id="nombre" type="text" ng-model="nombre_patologia" maxlength="40">
               <label for="nombre" class="">Nombre de la Patología</label>
            </div>
         </div>
         <div class="input-button">
            <center>
               <button class="btn btn-primary" ng-click="creapatologia()">Crear Patología</button>
            </center><br>
         </div>
      </div>
   </div>
</div>