<div class="card" id="tabs" ng-controller="censohospitalariocontroller">
  <div class="row">
    <div class="col s12">
      <ul class="tabs" style="width: 100%;">
        <li class="tab col s3 hover-item" id="tabI"><a class="taboption tabactiva" ng-click="eventTabs('P')"
            class="active"><i ng-hide="pendiente" class="icon-user-md"></i>Pendiente</a>
        </li>
        <li class="tab col s3 hover-item" id="tabII"><a class="taboption tabactiva" ng-click="eventTabs('C')"><i
              ng-hide="censo" class="icon-user-md"></i>Nuevo Censo</a>
        </li>
        <li class="tab col s3 hover-item" id="tabIV">
          <a class="taboption tabactiva" ng-click="eventTabs('A')">
            <i ng-hide="autorizacion" class="icon-user-md"></i> Notificacion
          </a>
    </li>
        <li class="tab col s3 hover-item" id="tabIII"><a class="taboption tabactiva" ng-click="eventTabs('E')"><i
              ng-hide="evolucion" class="icon-user-md"></i>Evolucion</a>
        </li>

        <li class="tab col s3 hover-item" id="tabIII"><a class="taboption tabactiva" ng-click="eventTabs('R')"><i
          ng-hide="reporteTab" class="icon-user-md"></i>Reporte</a>
    </li>
       
     <!--   <li class="tab col s3 hover-item" id="tabIV"><a class="taboption tabactiva" ng-click="eventTabs('A')"><i
          ng-hide="autorizacion" class="icon-user-md"></i>Autorizacion</a>
        </li> -->
      </ul>
    </div>
  </div>

  <div ng-hide="pendiente" class="col s12" style="margin-top: -20px">
    <div class="row">
      <div>
        <div censopendiente></div>
      </div>
    </div>
  </div>

  <div ng-hide="censo" class="col s12" style="margin-top: -20px">
    <div class="row">
      <div>
        <div censotab></div>
      </div>
    </div>
  </div>

  <div ng-hide="evolucion" class="col s12" style="margin-top: -20px">
    <div class="row">
      <div>
        <div evoluciontab></div>
      </div>
    </div>
  </div>

  <div ng-hide="autorizacion" class="col s12" style="margin-top: -20px">
    <div class="row">
      <div>
        <div autorizaciontab></div>
      </div>
    </div>
  </div>


  <div ng-hide="reporteTab" style="margin-top: -20px">
    <div class="row">
      <div class="card card-default">
        <div class="card-header default-background white-text">
          <div class="text-al switch">
            <strong>Generar Reporte - Eventos Adversos</strong>
          </div>
        </div>
        <div class="card-content clearfix">
          <div class="col 6">
            <form ng-submit="generarReporte()">
              <div class="input-list input-form">
                <div class="input-list input-view-column">
                  <label for="normal8">Fecha Inicio</label>
                  <input id="normal8" ng-model="fechaInicio" type="date" class="validate" required>
                </div>

                <div class="input-list input-view-column">
                  <label for="normal8">Fecha Fin</label>
                  <input id="normal8" ng-model="fechaFin" type="date" class="validate" required>
                </div>

                <div class="input-view-column">
                  <button class="waves-effect waves-light btn white-text" style="bottom: -4vh;" type="submit">Generar</button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="modalservicio" class="modal" style="width: 70%; height: -webkit-fill-available;">
    <div class="modal-content">
      <div class="card-content clearfix">
        <div class="input-field col s12">
          <h3 for="keyword" class="">Informacion del paciente</h3>
        </div>
        <div class="col s12">
          <div class="col l6 s12" ng-show='!zeroevoresults'>
            <tr>
              <td colspan="3">
                <center>
                  <h5>No se encontro información para el paciente seleccionado, por favor crear evolución</h5>
                </center>
              </td>
              
            </tr>
          </div>
          <div class="col l6 s12" ng-show='zeroevoresults'>
        
            <div class="input-field col m12 s12">
              <i class="material-icons prefix">perm_identity</i>
              <input type="tel" id="fijo" style="color: currentColor;" ng-model="modalafiliado" disabled=""
                class="ng-pristine ng-valid ng-touched">
              <label for="tel" class="">Afiliado</label>
            </div>
            <div class="input-field col m12 s12">
                <i class="material-icons prefix">perm_identity</i>
                <input type="tel" id="fijo" style="color: currentColor;" ng-model="modalaltocosto" disabled=""
                  class="ng-pristine ng-valid ng-touched">
                <label for="tel" class="">Alto Costo</label>
              </div>
              <div class="input-field col m12 s12">
                  <i class="material-icons prefix">perm_identity</i>
                  <input type="tel" id="fijo" style="color: currentColor;" ng-model="modalriesgo" disabled=""
                    class="ng-pristine ng-valid ng-touched">
                  <label for="tel" class="">Riesgo:</label>
                </div>
            <div class="input-field col m12 s12">
              <i class="material-icons prefix">album</i>
              <input id="celular" type="text" style="color: currentColor;" ng-model="modalsexo" disabled=""
                class="ng-pristine ng-valid ng-touched">
              <label for="celular" class="active">Sexo</label>
            </div>
            <div class="input-field col m12 s12">
              <i class="material-icons prefix">thumb_up</i>
              <input id="celular" type="text" style="color: currentColor;" ng-model="modalestado" disabled=""
                class="ng-pristine ng-valid ng-touched">
              <label for="celular" class="">Estado</label>
            </div>
            <div class="input-field col m12 s12">
              <i class="material-icons prefix">assignment</i>
              <input id="celular" type="email" style="color: currentColor;" ng-model="modaldiagnostico" disabled=""
                class="ng-pristine ng-valid ng-valid-email ng-touched">
              <label for="celular" class="">Diagnostico</label>
            </div>
            <div class="input-field col m12 s12">
              <i class="material-icons prefix">assignment_late</i>
              <input id="direccion" type="text" style="color: currentColor;" ng-model="modalobservacion" disabled=""
                class="ng-pristine ng-valid ng-touched">
              <label for="direccion" class="active">Observacion</label>
            </div>
          </div>
        </div>
        <center>
          <a class="waves-effect waves-light btn white-text success" style="margin-top: 40px;" ng-click="eventTabs('E')">Ver evolucion</a>
          <!--<a class="waves-effect waves-light btn white-text success" style="margin-top: 40px;" ng-click="eventTabs('A')">Ver autorizacion</a>-->
        </center>
        <br>
      </div>
    </div>


    <style type="text/css">
      .click-item:click {
        background-color: rgba(21, 101, 192, 0.06);
      }
    </style>

    <script type="text/javascript">
      $(function () {
        $("#tabs").tabs();
      });
    </script>

    <script type="text/javascript">
      //$(".chosen").chosen();
    </script>