<div id="cupsvsdx" class="white newdesing" style="position:relative">
  <style>
    i {
      cursor: pointer;
    }

    .select-input-new.select-chosen-eps {
      height: 2rem !important;
      padding: 0 0.5rem !important;
      border-bottom: none !important;
      box-shadow: 0 1px 0 0 #dadce0;
      padding-right: 1rem !important;
      border-radius: 0;
    }

    .newdesing .section-header ul>li>h5 {
      font-family: 'Product Sans', Arial, sans-serif;
      font-size: 22px;
      line-height: 22px;
      opacity: .54;
      margin: 9px 0;
    }

    .newdesing td,
    th {
      font-size: 13px;
      border-radius: 0;
      padding: 5px 10px;
    }

    .select-iconos {
      top: auto !important;
      right: 100%;
      bottom: 100%;
      width: 254px !important;
      min-width: 125px;
      text-align: center;
      overflow: auto;
      height: 500px;
      padding: 5px;
    }

    .select-iconos>ul {
      margin: 0;
      padding: 0;
    }

    .select-iconos>ul>li {
      width: 40px;
      float: left;
      font-size: 16px;
    }

    .select-iconos>input {
      height: auto;
      font-size: 13px !important;
      padding: 0 .5em;
      width: 85%;
      margin-bottom: 5px !important;
    }

  </style>
  <div class="row section-header">  
    <ul class="left mailbox-custom-search list-inline"
      style="width: 100%;display: flex;justify-content: space-between;align-items: center;">
      <li id="inicio">
        <h5>RELACIÓN CUPS VS DX</h5>
      </li>
      <!-- <li>
        <form id="step3" name="paneladmin" method="post" ng-submit="filtrarUser()" autocomplete="off"
          style="display: inline-flex;">
          <input id="id_cedula" type="text" class="margin border-none white"
            style="border-top-left-radius: 4px;border-top-right-radius: 4px;width: 240px;height: 2rem;padding: 0 1em;"
            ng-model="id_user" placeholder="Buscar Usuario">
        </form>
      </li> -->
    </ul>
  </div>
  <div class="row dashboard-wrapper content-container white" style="padding-bottom: 20px;margin-bottom: 0;">

        <div class="row">
          <form ng-submit="p_lista_productos()">            
            <div class="input-field col s8 offset-s1">
                 <i class="material-icons prefix">search</i>
            <input id="sproducto" type="text" ng-model="temprodducto" style="text-transform: uppercase;" class="validate ng-valid ng-touched ng-dirty ng-valid-parse valid">
            <label for="sproducto" class="active">Buscar Producto</label>
            </div>
            <div class="input-field col s2">
            <button class="waves-effect waves-light btn-large default-background" type="submit">Buscar</button>              
            </div>
          </form>               
        </div>
        <div class="row" ng-if="listaproductos.length>0">
           <i class="icon-cancel-squared fs-30 right default-color"  ng-click="restform();"></i>
           <h5  style="text-align: center;" class="default-color">Lista de productos</h5>
          
                <div class="col s12">                   
                    <div class="row">
                        <input type="text" style="float: right;margin-right: 10px!important;" class="margin border-none input-text-new ng-pristine ng-valid ng-touched" name="fproducto" placeholder="Buscar Productos" ng-keyup="filterCups(filter_codigo)" ng-model="filter_codigo">
                      </div>
          <table cellspacing="0" cellpadding="0" border="0" width="325">
            <tr>
              <td style="padding-bottom: 0;">
                 <table  cellspacing="0" cellpadding="1" border="1" width="300" >
                   <tr style="color:white;background-color:grey">
                          <th style="text-align: center;width: 10%">#</th>                                 
                          <th style="text-align: center;width: 10%">NUMERO</th>                                 
                          <th style="text-align: center;width: 70%">
                           NOMBRE
                          </th>                                 
                          <th style="width: 10%">ACCIÓN</th>
                   </tr>
                 </table>
              </td>
            </tr>
            <tr>
              <td style="padding-top: 0;">
                 <div style="overflow: auto;position: relative;height: calc(100vh - 400px)">
                  <table class="striped  responsive-table table-bordered" cellspacing="0" cellpadding="1" border="1" width="300" >
                  <tr  ng-repeat="p in listaproductosTemp">
                    <td style="text-align:center;width: 10%">{{$index+1}}</td>
                    <td style="text-align:center;width: 10%">{{p.NUMERO}}</td>
                    <td style="text-align:center;width: 70%">{{p.NOMBRE}}</td>                               
                    <td class="center-align">                                                                          
                      <i ng-click="openmodals(p.NUMERO,'diagnostico');" title="Buscar DX" class="icon-search green-text fs-20" style="cursor: pointer;color: teal;"></i>                        
                       <!-- <i ng-click="openmodals(p.NUMERO,'modalgrupodx');" title="Buscar DX" class="icon-plus green-text fs-20" style="cursor: pointer;color: teal;"></i>   -->
                    </td>
                   <!-- <td class="center-align">
                      <i ng-click="consultar_dx(p)" title="Ver DX relacionado" class="icon-eye blue-text fs-20 cursor-pointer"></i>
                    </td>-->
                  </tr>
                  <tr>
                  <td ng-if="listaproductosTemp.length==0" style="text-align:center;" colspan="5">
                  No hay resultados
                  </td>
                  </tr>

                  </table>  
                 </div>
              </td>
            </tr>
          </table>
                
     </div>      
 </div>
<div id="modaldiagnostico" class="modal" style="overflow: hidden;">
      <div class="modal-content" style="padding: 0px !important;">
        <div class="col s12" style="padding-left: 0px; padding-right: 0px;">
          <div class="card charts" style="margin-top: 0px; margin-bottom: 0px;">
            <div class="card-content foot4" style="padding: 0">
              <div class="col s11">
                <h5 class="white-text">Diagnosticos</h5>
              </div>
              <div class="col s1">
                <h5 style="text-align: end;"><i style="cursor:pointer;" ng-click="closemodals('diagnostico')"
                    class="material-icons white-text">close</i></h5>
              </div>
            </div>
            <div class="card-action" style="padding-bottom: 3px;border-top: 0">
              <div class="row">
                <div class="col s12">
                  <form ng-submit="buscarDiagnostico(buscardiag)">
                    <div class="input-list input-form">
                      <div class="input-field col s12">
                        <a href="javascript:void(0)" ng-click="buscarDiagnostico(buscardiag)"><i
                            style="position: absolute; top: 16px; right: 6px;"
                            class="material-icons prefix">search</i></a>
                        <input id="diaginput" type="text" ng-model="buscardiag" style="text-transform: uppercase;" required>
                        <label for="diaginput">Diagnostico:</label>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col s12" ng-hide="inactivebarradiag" style="max-height: 45vh;overflow-y: auto;">
                  <table class="striped  responsive-table table-bordered">
                    <thead>
                      <tr>
                        <th style="text-align:center;">CODIGO</th>
                        <th>NOMBRE</th>
                        <th style="text-align:center;">DIAGNOSTICO </th>                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="diag in listDiagnosticos | filter: buscardiag as resultdiag">
                        <td style="text-align:center;">{{diag.NUMERO}}</td>
                        <td>{{diag.NOMBRE}}</td>
                        <td>
                          <center>
                            <i ng-click="seleccionardiagnostico(diag,'P')" title="Seleccionar DX" style="cursor:pointer;"
                              class="material-icons prefix">check</i>
                          </center>
                        </td>                      
                      </tr>
                      <tr ng-if="resultdiag.length==0">
                        <th class="center-align" colspan="4">No hay Resultados</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div id="modalgrupodx" class="modal" style="overflow: hidden;">
      <div class="modal-content" style="padding: 0px !important;">
        <div class="col s12" style="padding-left: 0px; padding-right: 0px;">
          <div class="card charts" style="margin-top: 0px; margin-bottom: 0px;">
            <div class="card-content foot4" style="padding: 0">
              <div class="col s11">
                <h5 class="white-text">DX vs Grupo DX</h5>
              </div>
              <div class="col s1">
                <h5 style="text-align: end;"><i style="cursor:pointer;" ng-click="closemodals('modalgrupodx')"
                    class="material-icons white-text">close</i></h5>
              </div>
            </div>
            <div class="card-action" style="padding-bottom: 3px;border-top: 0">
              <div class="row">
                <div class="col s12">
                     <div class="btn-panel switch">
                        <label>
                           GRUPO UNICO DX
                          <input type="checkbox" ng-init="check_gestion = false" ng-model="check_gestion">
                          <span class="lever"></span>
                          GRUPO MULTIPLE DX
                        </label>
                      </div>
                  <div ng-hide="!check_gestion">
                      <div class="input-field col m3 s12">
                          <input id="normal" type="text" class="validate" ng-model="grupunico">
                          <label for="normal" class="">INICIO</label>
                      </div> 

                     <div class="input-field col m3 s12">
                        <input id="normal" type="text" class="validate" ng-model="codx">
                        <label for="normal" class="">FIN</label>
                    </div>        
                 </div>                                    
                 <div ng-hide="check_gestion">
                   <div class="input-field col m3 s12">
                      <input id="normal" type="text" class="validate" ng-model="grupo">
                      <label for="normal" class="">INICIO</label>
                      </div> 
                </div>
                </div>  
                <div class="input-field col m12 s12" style="text-align: right;">
                      <button class="btn white-text" type="button" ng-click="p_valida_dx(check_gestion)" style="padding-right: 5px; padding-left: 5px; margin-top: 10px;"><i style="position: relative;" class="material-icons prefix">chevron_right</i></button>
                      <br>
                </div>                 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>