<div>
   <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
   <div class="row">
      <div class="col l12 m12 s12" ng-init="muestraFacturas()">
         <div class="card">
            <div class="card-title">
               <div class="text-al switch" style="display:flex;">
                  <center><strong>Listado de Facturas - Total: {{ total | number:0}} Realizados: {{realizados}}</strong></center>
               </div>
            </div>
            <div class="card-content clearfix" style="height: 200px; overflow: auto;">
               <table class="highlight responsive-table highlight" id="tablalistado" align="center" style="cursor: pointer !important;">
                  <thead align="center">
                     <tr>
                        <td><strong>TIPO DOC</strong></td>
                        <td><strong>DOCUMENTO</strong></td>
                        <td><strong>NOMBRE</strong></td>
                        <td><strong>MUNICIPIO</strong></td>
                        <td><strong>CANTIDAD DE SERVICIOS</strong></td>
                        <td><strong>VALOR</strong></td>
                     </tr>
                  </thead>
                  <tbody style="height: 40%; overflow: scroll;">
                     <tr data-ng-repeat="facturas in facturas | filter: busquedadb track by $index" ng-click="muestraDetalleFacturas(facturas.TIPO_DOC_AFILIADO,facturas.DOC_AFILIADO)">
                        <td>{{facturas.TIPO_DOC_AFILIADO}}</td>
                        <td>{{facturas.DOC_AFILIADO}}</td>
                        <td>{{facturas.AFIC_NOMBRE}}</td>
                        <td>{{facturas.UBGC_NOMBRE}}</td>
                        <td>{{facturas.CANTIDAD}}</td>
                        <td>{{facturas.VALOR | currency : $ : 0 }}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
   <div class="row" ng-hide="paneldiagnostico">   
      <div class="col l6 m12 s12">
         <div class="card">
            <div class="card-title">
               <div class="text-al switch" style="display:flex;">
                  <center><strong>Detalle Factura</strong></center>
               </div>
            </div>
            <div class="card-content clearfix" style="height: 400px; overflow: auto;">
               <table class="highlight responsive-table highlight" align="center" id="busqueda" style="cursor: pointer !important;">
                  <thead align="center">
                     <tr>
                        <td><strong>FACTURA</strong></td>
                        <td><strong>IPS</strong></td>
                        <td><strong>VALOR</strong></td>
                        <td><strong>DIAGNOSTICO</strong></td>
                     </tr>
                  </thead>
                  <tbody style="height: 40%; overflow: scroll;">
                     <tr data-ng-repeat="detalle_factura in detalle_facturas track by $index">
                        <td>{{detalle_factura.FACTURA}}</td>
                        <td>{{detalle_factura.NOMBREIPS}}</td>
                        <td>{{detalle_factura.VALOR | currency : $ : 0}}</td>
                        <td>{{detalle_factura.DIAGNOSTICO}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      <div class="col l6 m12 s12">
         <div class="card">
            <div class="card-title">
               <div class="text-al switch" style="display:flex;">
                  <center><strong>Justificación - {{afiliado.nombre}}</strong></center>
               </div>
            </div>
            <div class="card-content clearfix" style="height: 400px; overflow: auto;">
               <blockquote>
                  Escriba justificación:
               </blockquote>   
               <textarea style="overflow: auto; height: 80%;" ng-model="observacion"></textarea>
            </div>
         </div>
      </div>
      <div class="col s12 m12 l12 card">
         <center>
            <br>
            <a class="waves-effect waves-light btn white-text" ng-click="guardar_justificacion()">Guardar Información</a>
            <!--<a class="waves-effect waves-light btn white-text" ng-click="moverRevision()">Mover a Revisión</a>-->
         </center>
         <br>
      </div>
   </div> 
</div>