<div>
   <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
   <div class="row">
      <div class="col l12 m12 s12">
         <div class="card">
            <div class="foot4 divcardcustom">
               <div class="text-al switch divcardcustom2" style="display:flex;">
                  <center><strong>Reportes</strong></center>
               </div>
            </div>
            <div class="card-content clearfix">
               <div class="input-field col l3 m12 s12">
                  <label style=" margin-top: -20px;">Tipo de Reporte:</label>
                  <select class="select-chosen-eps" ng-model="tiporeporte"> 
                     <option value="0">Seleccionar</option>
                     <option value="SUF">SUF</option>
                     <option value="RIPS PRESTADOR">RIPS PRESTADOR</option>
                     <option value="3">DESCUENTOS SALUD PUBLICA</option>
                  </select>
               </div>
            </div>
            <div class="input-button" style="padding-bottom: 15px !important;">
               <center><a class="waves-effect waves-light btn white-text" ng-click="buscaReporte(tiporeporte)">Buscar</a></center><br>
            </div>
         </div>
      </div>
   </div>
   <div class="row" ng-hide="inactive">
      <div class="col l12 m12 s12">
         <div class="card">
            <div class="foot4 divcardcustom">
               <div class="text-al switch divcardcustom2" style="display:flex;">
                  <center><strong>Criterios de Consulta</strong></center>
               </div>
            </div>
            <div class="card-content clearfix">
               <div class="input-field col l2 m12 s12" ng-hide="shw_fecha_final">
                  <label style=" margin-top: -20px;">Fecha de Inicio</label>
                  <input type="date" name="" ng-model="fecha_final">
               </div>
               <div class="input-field col l2 m12 s12" ng-hide="shw_fecha_inicio">
                  <label style=" margin-top: -20px;">Fecha de Final</label>
                  <input type="date" name="" ng-model="fecha_inicio">
               </div>
               <div class="input-field col l3 m12 s12" ng-init="cargaSeccionalesS16()" ng-hide="shw_seccional">
                  <label style=" margin-top: -20px;">Seccional:</label>
                  <select class="select-chosen-eps" ng-model="seccional"> 
                     <option value="X">SELECCIONAR</option>
                     <option ng-repeat="seccional in Seccionales" ng-value="seccional.SECCIONAL">{{seccional.SECCIONAL}}</option>
                  </select>
               </div>
               <div class="input-field col l2 m12 s12" ng-hide="shw_prestador">
                  <label style=" margin-top: -20px;">Prestador</label>
                  <input type="text" name="" ng-model="prestador">
               </div>
               <div class="input-field col l3 m12 s12" ng-hide="shw_regimen">
                  <label style=" margin-top: -20px;">Régimen:</label>
                  <select class="select-chosen-eps" ng-model="regimen"> 
                     <option value="X">SELECCIONAR</option>
                     <option value="KC">CONTRIBUTIVO</option>
                     <option value="KS">SUBSIDIADO</option>
                  </select>
               </div>
               <div class="input-field col l2 m12 s12" ng-hide="shw_anno">
                  <label style=" margin-top: -20px;">Año</label>
                  <input type="text" name="" ng-model="anno">
               </div>
               <div class="input-field col l2 m12 s12" ng-hide="shw_mes">
                  <label style=" margin-top: -20px;">Mes</label>
                  <input type="text" name="" ng-model="mes">
               </div>
            </div>
            <div class="input-button" style="padding-bottom: 15px !important;">
               <center><a class="waves-effect waves-light btn white-text" ng-click="generaReporte()">Generar</a></center><br>
            </div>
         </div>
      </div>
   </div>
</div>