<div id="versionamiento" class="white newdesing">
  <style>
    #tabla_scroll th {
      padding: 3px 10px;
    }

    #tabla_scroll li>button.btn {
      font-size: small;
      height: auto;
      line-height: inherit;
      padding: 0 1rem;
    }

    .table_border,
    .table_border th,
    .table_border td {
      border: 1px solid #c2c2c2;
    }

    .table_center_align,
    .table_center_align th,
    .table_center_align td {
      text-align: center;
    }

    .swal-wide {
      width: 850px !important;
    }
  </style>
  <!-- Encabezado -->
  <div class="row section-header">
    <ul class="left mailbox-custom-search list-inline"
      style="width: 100%;display: flex;justify-content: space-between;align-items: center;">
      <li id="inicio">
        <h5 onclick="location.reload();">Administración - Siniestros</h5>
      </li>
      <li>
        <ul class="tabs transparent" style="overflow:hidden;">
          <li class="tab col w-auto">
            <a ng-click="SetTab(1)" id="Sol" href class="active">Diagnosticos
              <i class="icon-stethoscope"></i></a>
          </li>
          <li class="tab col w-auto">
            <a ng-click="SetTab(2);" id="Nueva" href>Funcionarios<i class="icon-users"></i></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- Listado Diagnosticos -->
  <div class="row dashboard-wrapper content-container white"
    style="padding-bottom: 20px;margin-bottom: 0;padding-left: 20px;padding-right: 20px;" ng-show="Tabs == 1">
    <div class="col l12 m12 s12" style="position:relative">
      <div class="col s12 m12 l12" style="justify-content: center;">
        <div class="row" style="margin-bottom: 0px;">
          <!-- // -->
          <div id="Diag_1" class="foot4 divcardcustom default-linear-gradient">
            <ul class="tabs nav" style="background-color: transparent;margin: .5vh;width: 99%;overflow: hidden;">
              <li class="tab col w-auto" ng-repeat="x in Array_Cohortes" ng-click="ObtenerListado_Diags(x.CODIGO)"><a
                  id="Tab{{$index+1}}" class="white-text" href ng-click="setTab()"
                  style="font-weight: bold;">{{x.NOMBRE}}</a>
              </li>
            </ul>
          </div>

          <div id="Diag_2" class="foot4 divcardcustom default-linear-gradient">
            <div class="text-al divcardcustom2">
              <strong class="switch" style="font-weight:600">Listado de Diagnosticos
                ({{Lista_Tabla.length}})</strong>
              <!-- <div class="tooltip">
                <i class="icon-cw-circle cursor-pointer" ng-click="ObtenerListado_Diags('X')"></i>
                <span class="tooltiptext" style="font-size: 12px;width: 70px;margin-left: -35px;">Actualizar</span>
              </div> -->
              <div class="tooltip" ng-if="Rol_Cedula == 1045693360">
                <i class="icon-list-add cursor-pointer" ng-click="Agregar_Diags('X')"></i>
                <span class="tooltiptext" style="font-size: 12px;width: 80px;margin-left: -40px;">Agregar
                  Diagnostico</span>
              </div>
              <div class="col s3 no-padding label-new right"
                style="width: 25%;display: inline-flex;margin-right: -5px;margin-top: -2px;">
                <input class="margin border-none input-text-new black-text gray-input w-100 m-l"
                  style="text-align:right;" autocomplete="off" placeholder="Buscar..." ng-model="MPFiltrar_Diag"
                  ng-keyup="filter(MPFiltrar_Diag)">
              </div>
            </div>
          </div>

          <!-- /TABLA/ -->
          <div style="width:100%;">
            <table id="H1_Tabla" class="bordered table_center_align highlight border-color"
              style="width:100%;font-size:6px !important;border:3px solid;">
              <thead class="default-border default-color">
                <tr>
                  <th style="text-align: left;padding-left: 5em;">Diagnostico</th>
                  <th>Cohorte</th>
                  <th>Clasificación</th>
                  <th>Fecha Inicio</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  ng-repeat="X in Lista_Tabla_Temp | inicio: currentPage * pageSize | limitTo: pageSize | orderBy:propertyName:reverse"
                  style="color: black;cursor:pointer;">
                  <td style="text-align: left;padding-left: 5em;" ng-click="In_Ac_Diag(X)">{{X.DIAGNOSTICO +' -
                    '+X.DESCRIPCION}}</td>
                  <td ng-click="In_Ac_Diag(X)">{{X.COD_COHORTE +' - '+X.NOM_COHORTE}}</td>
                  <td ng-click="In_Ac_Diag(X)">{{X.COD_CLASE +' - '+X.nom_CLASE}}</td>
                  <td ng-click="In_Ac_Diag(X)">{{X.FECHA_INICIO}}</td>
                  <td ng-click="In_Ac_Diag(X)">
                    <div class="tooltip">
                      <i class="icon-circle" style="color: transparent;font-size: 9px;"
                        ng-class="Estado_Solicitud_Clase(X.ESTADO)" ng-style="Estado_Solicitud_Color(X.ESTADO)"></i>
                      <span class="tooltiptext"
                        style="font-size: 12px;width: 70px;margin-left: -36px;margin-bottom: 4px;">{{Estado_Solicitud_Tooltip(X.ESTADO)}}</span>
                    </div>
                  </td>
                  <td>
                    <div class="tooltip">
                      <i class="icon-th-list-3 cursor-pointer" style="font-size: 1.5em;" ng-click="Ver_Traza(X)"></i>
                      <span class="tooltiptext"
                        style="font-size: 12px;width: 70px;margin-left: -35px;">Trazabilidad</span>
                    </div>
                  </td>
                </tr>
                <tr ng-show="Lista_Tabla_Temp.length==0">
                  <td class="center-align" colspan="9" style="font-weight: bolder;">No se encontraron
                    resultados.</td>
                </tr>
              </tbody>
            </table>
            <div style="width: 100%;display: flex;">
              <div style="width: 50%;">
                <label for="normal">Total de Diagnosticos filtrados:
                  {{Lista_Tabla_Temp.length}}</label>
              </div>
              <div style="width: 50%;text-align: right;">
                <label for="normal">Total de Diagnosticos encontrados:
                  {{Lista_Tabla.length}}</label>
              </div>
            </div>
            <ul class="pagination">
              <li><button ng-disabled='currentPage == 0' class="btn-floating white-text default-linear-gradient"
                  ng-click="paso('back')">&laquo;</button></li>
              <li ng-repeat='page in pages'><button ng-disabled='currentPage == page.no - 1'
                  class="btn-floating white-text default-linear-gradient"
                  ng-click='setPage(page.no)'>{{page.no}}</button>
              </li>
              <li><button ng-disabled='currentPage >= Lista_Tabla_Temp.length/pageSize - 1'
                  class="btn-floating white-text default-linear-gradient" ng-click="paso('next')">&raquo;</button></li>
            </ul>
          </div>
          <div class="right" style="margin-top: -8vh;">
            <table class="table_center_align" style="margin-top: 1vh;">
              <tr>
                <td style="padding-bottom: 0;"><i class="icon-circle" style="color: transparent;font-size: 9px;"
                    ng-class="Estado_Solicitud_Clase('A')" ng-style="Estado_Solicitud_Color('A')"></i></td>
                <td style="padding-bottom: 0;"><i class="icon-circle" style="color: transparent;font-size: 9px;"
                    ng-class="Estado_Solicitud_Clase('X')" ng-style="Estado_Solicitud_Color('X')"></i></td>
              </tr>
              <tr>
                <td style="padding-top: 0;">
                  <h6 style="color: #8898aa !important;font-weight: 600 !important;font-size: 0.8125rem;">ACTIVO
                  </h6>
                </td>
                <td style="padding-top: 0;">
                  <h6 style="color: #8898aa !important;font-weight: 600 !important;font-size: 0.8125rem;">INACTIVO
                  </h6>
                </td>
              </tr>
            </table>
          </div>
          <!-- // -->
        </div>
      </div>
    </div>
  </div>

  <!--  -->

  <!-- Listado Funcionarios -->
  <div class="row dashboard-wrapper content-container white"
    style="padding-bottom: 20px;margin-bottom: 0;padding-left: 20px;padding-right: 20px;" ng-show="Tabs == 2">
    <div class="col l12 m12 s12" style="position:relative">
      <div class="col s12 m12 l12" style="justify-content: center;">
        <div class="row" style="margin-bottom: 0px;">
          <!-- // -->
          <div id="Diag_3" class="foot4 divcardcustom default-linear-gradient">
            <div class="text-al divcardcustom2">
              <strong class="switch" style="font-weight:600">Listado de Funcionarios
                ({{Lista_Tabla_Funcs.length}})</strong>
              <div class="tooltip">
                <i class="icon-cw-circle cursor-pointer" ng-click="ObtenerListado_Funcs('X')"></i>
                <span class="tooltiptext" style="font-size: 12px;width: 70px;margin-left: -35px;">Actualizar</span>
              </div>
              <div class="tooltip" style="margin: 0px 5px 0px 5px;">
                <i class="icon-user-plus cursor-pointer" ng-click="Agregar_Func()"></i>
                <span class="tooltiptext" style="font-size: 12px;width: 80px;margin-left: -40px;">Agregar
                  Funcionario</span>
              </div>
              <div class="col s3 no-padding label-new right"
                style="width: 25%;display: inline-flex;margin-right: -5px;margin-top: -2px;">
                <input class="margin border-none input-text-new black-text gray-input w-100 m-l"
                  style="text-align:right;" autocomplete="off" placeholder="Buscar..." ng-model="MPFiltrar_Func"
                  ng-keyup="filter2(MPFiltrar_Func)">
              </div>
            </div>
          </div>
          <!-- TABLA -->
          <div style="width:100%;">
            <div style="max-height: 60vh;overflow:auto;" class="default-color">
              <table id="H2_Tabla" class="bordered highlight table_center_align default-color"
                style="width:100%;font-size:6px !important;border:3px solid;">
                <thead class="default-border default-color">
                  <th class="center white">#</th>
                  <th class="center white cursor-pointer" ng-click="sortBy2('CODIGO')">Cédula
                    <span class="sortorder2" ng-show="propertyName2 == 'CODIGO'" ng-class="{reverse2: reverse2}"></span>
                  </th>
                  <th class="center white cursor-pointer" ng-click="sortBy2('NOMBRE')">Funcionario
                    <span class="sortorder2" ng-show="propertyName2 == 'NOMBRE'" ng-class="{reverse2: reverse2}"></span>
                  </th>
                  <th class="center white cursor-pointer" ng-click="sortBy2('CARGO')">Cargo
                    <span class="sortorder2" ng-show="propertyName2 == 'CARGO'" ng-class="{reverse2: reverse2}"></span>
                  </th>
                  <th class="center white cursor-pointer" ng-click="sortBy2('UBICACION')">Ubicación
                    <span class="sortorder2" ng-show="propertyName2 == 'UBICACION'"
                      ng-class="{reverse2: reverse2}"></span>
                  </th>
                  <th class="center white cursor-pointer" ng-click="sortBy2('ESTADO')">Estado
                    <span class="sortorder2" ng-show="propertyName2 == 'ESTADO'" ng-class="{reverse2: reverse2}"></span>
                  </th>
                </thead>
                <tbody>
                  <tr class="cursor-pointer Anim_Show"
                    ng-repeat="x in Lista_Tabla_Funcs_Filter | orderBy:propertyName2:reverse2">
                    <td class="center">{{$index + 1}}</td>
                    <td class="center">{{x.CODIGO}}</td>
                    <td class="center">{{x.NOMBRE}}</td>
                    <td class="center">{{x.CARGO}}</td>
                    <td class="center">{{x.MUNICIPIO}} - {{x.UBICACION}}</td>
                    <td class="center">
                      <div class="tooltip" ng-if="x.ESTADO_EMPLEADO == 'A'">
                        <i class="icon-circle Con_pulse_A"
                          style="color: transparent;font-size: 9px;background-color:rgb(3, 197, 20) !important;"
                          ng-click="In_Ac_Func(x)"></i>
                        <span class="tooltiptext"
                          style="font-size: 12px;width: 70px;margin-left: -36px;margin-bottom: 4px;">Activo</span>
                      </div>
                      <div class="tooltip" ng-if="x.ESTADO_EMPLEADO != 'A'">
                        <i class="icon-circle Con_pulse_X"
                          style="color: transparent;font-size: 9px;background-color:rgb(245, 75,75) !important"
                          ng-click="In_Ac_Func(x)"></i>
                        <span class="tooltiptext"
                          style="font-size: 12px;width: 70px;margin-left: -36px;margin-bottom: 4px;">Inactivo</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="right">
            <table class="table_center_align" style="margin-top: 1vh;">
              <tr>
                <td style="padding-bottom: 0;"><i class="icon-circle" style="color: transparent;font-size: 9px;"
                    ng-class="Estado_Solicitud_Clase('A')" ng-style="Estado_Solicitud_Color('A')"></i></td>
                <td style="padding-bottom: 0;"><i class="icon-circle" style="color: transparent;font-size: 9px;"
                    ng-class="Estado_Solicitud_Clase('X')" ng-style="Estado_Solicitud_Color('X')"></i></td>
              </tr>
              <tr>
                <td style="padding-top: 0;">
                  <h6 style="color: #8898aa !important;font-weight: 600 !important;font-size: 0.8125rem;">ACTIVO
                  </h6>
                </td>
                <td style="padding-top: 0;">
                  <h6 style="color: #8898aa !important;font-weight: 600 !important;font-size: 0.8125rem;">INACTIVO
                  </h6>
                </td>

              </tr>
            </table>
          </div>
          <!-- // -->
        </div>
      </div>
    </div>
  </div>
  <!-- Modelo -->
  <!-- <div class="row dashboard-wrapper content-container white"
    style="padding-bottom: 20px;margin-bottom: 0;padding-left: 20px;padding-right: 20px;" ng-show="Tabs == 3">
    <div class="col l12 m12 s12" style="position:relative">
      <div class="col s12 m12 l12 center" style="justify-content: center;">
        <div class="row center" style="margin-bottom: 0px;">
          
          <iframe width="1024" height="640"
            src="https://app.powerbi.com/view?r=eyJrIjoiODZlOTJkOGEtY2EzMy00MmQ1LTk2M2YtMGQ1NDIyN2NlNTk4IiwidCI6ImQ4ZWRiNTVmLWVlOGQtNGRmNi1iMGNjLTgwOTMxZTllNzQyOSJ9&pageName=ReportSection"
            frameborder="0" allowFullScreen="true"></iframe>
          
        </div>
      </div>
    </div>
  </div> -->

  <!-- Modal_NuevoDiag  -->
  <div id="Modal_NuevoDiag" class="modal">
    <div class="modal-content" style="padding: 0px !important;">
      <div class="col s12" style="padding-left: 0px; padding-right: 0px;">
        <div class="card charts" style="margin-top: 0px; margin-bottom: 0px;">
          <div class="card-content foot4 default-linear-gradient" style="padding-bottom: 0px; padding-top: 12px;">
            <div class="row" style="margin-bottom: 0px;">
              <div class="col s11">
                <h6 class="white-text">Nuevo Diagnóstico</h6>
              </div>
              <div class="col s1">
                <h5 style="text-align: end;" ng-click="closeModal()"><i style="cursor:pointer;"
                    class="material-icons white-text">close</i></h5>
              </div>
            </div>
          </div>
          <div class="card-action" style="overflow-y: auto;max-height: 80vh;">
            <div class="col s12 m12 l12 center" style="padding-bottom:1em">
              <div class="row">
                <div class="col s4 no-padding label-new m-b select_maxheigth Form_Consulta">
                  <select id="Modal_Consulta_Cod_Cohorte" class="select-new gray-input m-l" style="box-shadow: none;"
                    material-select ng-model="Modal_Consulta_Cod_Cohorte" ng-change="Chg_Cohorte()">
                    <option value="" disabled></option>
                    <option style="text-transform: capitalize;" ng-selected="x.CODIGO == Modal_Consulta_Cod_Cohorte"
                      ng-repeat="x in Array_Cohortes" value="{{x.CODIGO}}">{{x.NOMBRE}}</option>
                  </select>
                  <label id="Modal_Consulta_Cod_Cohorte_Label">Cohorte</label>
                </div>
                <div class="col s8 no-padding label-new m-b">
                  <input type="text" id="Modal_Consulta_Clase" class="margin border-none input-text-new w-100 m-l"
                    style="text-transform:uppercase" autocomplete="off" ng-model="Modal_Consulta_Clase"
                    ng-keyup="Complete_Listado_Clase(Modal_Consulta_Clase);KeyFind_ObClase($event);"
                    ng-blur="Blur_Clase()" ng-click="Busqueda.Clase.Filtro = Busqueda.Clase.Listado">
                  <label id="Modal_Consulta_Clase_Label">Clasificación</label>
                  <ul class="list-group m-l Clase_Listar_Clases Clase_Scroll">
                    <li class="list-group-item" id="Clase{{$index}}" ng-repeat="x in Busqueda.Clase.Filtro"
                      ng-click="FillTextbox_Listado_Clase(x.CODIGO,x.NOMBRE)"
                      ng-class="$index == Busqueda.Clase.Seleccion ? 'hover' : ''">
                      {{x.CODIGO}} - {{x.NOMBRE}}</li>
                  </ul>
                  <i class="icon-search cursor-pointer default-color" style="margin-left: -1.45em;" title="Buscar"></i>
                </div>
              </div>
              <div class="row">
                <div class="col s12 no-padding label-new m-b">
                  <input type="text" id="Modal_Consulta_Diagnostico" class="margin border-none input-text-new w-100 m-l"
                    style="text-transform:uppercase" autocomplete="off" ng-model="Modal_Consulta_Diagnostico"
                    ng-keyup="Complete_Listado_Diag(Modal_Consulta_Diagnostico);KeyFind_ObDiag($event);"
                    ng-blur="Blur_Diag()">
                  <label id="Modal_Consulta_Cod_Diag_Label">Diagnostico</label>
                  <ul class="list-group m-l Clase_Listar_Diags Diagnostico_Scroll">
                    <li class="list-group-item" id="Diagnostico{{$index}}" ng-repeat="x in Busqueda.Diagnostico.Filtro"
                      ng-click="FillTextbox_Listado_Diag(x.CODIGO,x.DIAGNOSTICO)"
                      ng-class="$index == Busqueda.Diagnostico.Seleccion ? 'hover' : ''">
                      {{x.CODIGO}} - {{x.DIAGNOSTICO}}</li>
                  </ul>
                  <i class="icon-search cursor-pointer default-color" style="margin-left: -1.45em;" title="Buscar"
                    ng-click="Buscar_Diag()"></i>
                </div>
              </div>
            </div>

            <div class="row center">
              <button class="btn"
                style="border-radius: 5px;background:linear-gradient(to bottom left,#50ba58,#049210,#50ba58);"
                ng-click="Guardar_Diag()">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal_Trazabilidad  -->
  <div id="Modal_Trazabilidad" class="modal" style="overflow: hidden;max-height: 88%;">
    <div class="modal-content" style="padding: 0px !important;">
      <div class="col s12" style="padding-left: 0px; padding-right: 0px;">
        <div class="card charts" style="margin-top: 0px; margin-bottom: 0px;">
          <div class="card-content foot4" style="padding-bottom: 0px; padding-top: 12px;">
            <div class="row" style="margin-bottom: 0px;">
              <div class="col s11">
                <h5 class="white-text">Trazabilidad</h5>
              </div>
              <div class="col s1">
                <h5 style="text-align: end;" ng-click="closeModal()"><i style="cursor:pointer;"
                    class="material-icons white-text">close</i></h5>
              </div>
            </div>
          </div>
          <div class="card-action" style="padding: 0px 20px;">
            <div class="row dashboard-wrapper content-container white" style="padding: 0px;">
              <div class="timeline-page col s12">
                <div class="timeline card-content white right"
                  style="width: 50%;overflow-y: auto;max-height: 80vh;overflow-x: hidden;">
                  <div class="timeline-milestone" style="padding-right: 30%;"
                    ng-repeat-start="x in Array_Traza[0].DETALLE">
                    <span class="milestone-title white-text">{{x.fecha_registro}}</span>
                  </div>
                  <div id="id{{$index}}" class="timeline-event" ng-repeat-end>
                    <div class="timeline-content timeline-content-edit">
                      <h6>Acción #{{$index + 1}}
                      </h6>
                      <div class="content-box">
                        <p><b>{{x.proceso}}</b></p>
                        <!-- <p>{{x.observacion}}</p> -->
                        <p ng-show="x.anterior != ''"><b>Anterior: </b>{{x.valor_anterior}}</p>
                        <p ng-show="x.nuevo != ''"><b>Nuevo: </b>{{x.valor_nuevo}}</p>
                        <div class="chip">
                          {{x.responsable}}
                        </div>
                      </div>
                    </div>
                    <div class="timeline-badge white-text timeline-badge{{($index + 1)}}">
                      <i class="zmdi zmdi-time"></i>
                    </div>
                  </div>
                </div>
                <div class="card-content white left" style="width: 50%;position: relative;">
                  <div class="timeline-content timeline-content-edit">
                    <h6 style="position: relative;">Diagnóstico {{Array_Traza[0].COD_DIAGNO}}
                    </h6>
                    <div class="content-box2">
                      <div class="chip_1">
                        <div class="chip_2">NOMBRE DIAGNOSTICO: </div>
                        {{Array_Traza[0].DESCRIPCION}}
                      </div><br>
                      <div class="chip_1">
                        <div class="chip_2">COHORTE: </div>{{Array_Traza[0].FECHA_CONFIRMACION_REGISTRO}}
                      </div><br>
                      <div class="chip_1">
                        <div class="chip_2">VIGENCIA ACTUAL: </div>{{Array_Traza[0].VIGENCIA_ACTUAL}}
                      </div><br>
                      <div class="chip_1">
                        <div class="chip_2">VIGENCIA INICIAL: </div>{{Array_Traza[0].VIGENCIA_INICIAL}}
                      </div><br>
                      <div class="chip_1">
                        <div class="chip_2">VIGENCIA FINAL: </div>{{Array_Traza[0].VIGENCIA_FINAL}}
                      </div><br>
                      <!-- <div class="chip_1">
                        <div class="chip_2">ORIGEN: </div>{{Array_Traza[0].ORIGEN}}
                      </div> -->

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /////////////// -->

  <!-- Modal_NuevoFunc  -->
  <div id="Modal_NuevoFunc" class="modal">
    <div class="modal-content" style="padding: 0px !important;">
      <div class="col s12" style="padding-left: 0px; padding-right: 0px;">
        <div class="card charts" style="margin-top: 0px; margin-bottom: 0px;">
          <div class="card-content foot4 default-linear-gradient" style="padding-bottom: 0px; padding-top: 12px;">
            <div class="row" style="margin-bottom: 0px;">
              <div class="col s11">
                <h6 class="white-text">Nuevo Funcionario</h6>
              </div>
              <div class="col s1">
                <h5 style="text-align: end;" ng-click="closeModal()"><i style="cursor:pointer;"
                    class="material-icons white-text">close</i></h5>
              </div>
            </div>
          </div>
          <div class="card-action" style="overflow-y: auto;max-height: 80vh;">

            <div class="col s12 m12 l12 center" style="padding-bottom:1em">
              <div class="row" style="margin-bottom: 0;">
                <div class="col s10 no-padding label-new m-b Form_Func">
                  <input class="margin border-none input-text-new gray-input w-100 m-l" autocomplete="off"
                    id="Modal_Func_Cedula" ng-model="Modal_Func_Cedula"
                    ng-keyup="FormatSoloNumero('Modal_Func_Cedula');Key_Func($event)">
                  <label id="Modal_Func_Cedula_Label">Cedula del Funcionario{{(Modal_Func_Nombre != '') ? ' -
                    '+Modal_Func_Nombre + ' - '+ Modal_Func_Cargo: ''}}</label>
                  <i class="icon-search cursor-pointer default-color" style="margin-left: -1.45em;" title="Buscar"
                    ng-click="Buscar_Func()"></i>
                </div>
                <div class="col s2 no-padding label-new m-b Form_Func">
                  <input class="margin border-none input-text-new gray-input w-100 m-l" autocomplete="off"
                    id="Modal_Func_Perfil" ng-model="Modal_Func_Perfil" readonly>
                  <label id="Modal_Func_Perfil_Label">Perfil</label>
                </div>
              </div>
              <div class="row" ng-show="Modal_Func_Cargo_Cod == 150">
                <div class="col s6 no-padding label-new m-b">
                  <input type="text" id="Modal_Func_Cohorte" class="margin border-none input-text-new w-100 m-l"
                    style="text-transform:uppercase" autocomplete="off" ng-model="Modal_Func_Cohorte"
                    ng-keyup="Complete_Listado_Func_Cohorte(Modal_Func_Cohorte);KeyFind_ObFunc_Cohorte($event);"
                    ng-blur="Blur_Func_Cohorte()"
                    ng-click="Busqueda.Func_Cohorte.Filtro = Busqueda.Func_Cohorte.Listado">
                  <label id="Modal_Func_Cohorte_Label">Cohorte</label>
                  <ul class="list-group m-l Clase_Listar_Func_Cohortes Func_Cohorte_Scroll">
                    <li class="list-group-item" id="Func_Cohorte{{$index}}"
                      ng-repeat="x in Busqueda.Func_Cohorte.Filtro"
                      ng-click="FillTextbox_Listado_Func_Cohorte(x.CODIGO,x.NOMBRE)"
                      ng-class="$index == Busqueda.Func_Cohorte.Seleccion ? 'hover' : ''">
                      {{x.CODIGO}} - {{x.NOMBRE}}</li>
                  </ul>
                </div>
              </div>

            </div>

            <div class="row center">
              <button class="btn"
                style="border-radius: 5px;background:linear-gradient(to bottom left,#50ba58,#049210,#50ba58);"
                ng-click="Guardar_Func()">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <style>
    #Diag_1 {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    #Diag_2 {
      border-radius: 0px;
    }

    #Diag_3 {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .foot4 .tabs .indicator {
      background-color: #edf0f9 !important;
      top: 1px;
    }

    @keyframes Anim_Show {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    .Anim_Show {
      animation-name: Anim_Show;
      animation-duration: 1s;
    }

    .Con_pulse_A {
      border-radius: 50%;
      color: #FFF;
      animation: animate-pulse_A 5s linear infinite;
    }

    @keyframes animate-pulse_A {
      0% {
        box-shadow: 0 0 0 0 rgba(155, 155, 155, 0.7), 0 0 0 0 rgba(3, 197, 20, 0.7);
      }

      40% {
        box-shadow: 0 0 0 15px rgba(3, 197, 20, 0.0), 0 0 0 0 rgba(3, 197, 20, 0.7);
      }

      80% {
        box-shadow: 0 0 0 0 rgba(3, 197, 20, 0.0), 0 0 0 15px rgba(3, 197, 20, 0);
      }

      100% {
        box-shadow: 0 0 0 0 rgba(3, 197, 20, 0.0), 0 0 0 0 rgba(3, 197, 20, 0);
      }
    }

    .Con_pulse_X {
      /* background: #FF6D4A; */
      border-radius: 50%;
      color: #FFF;
      animation: animate-pulse_X 5s linear infinite;
      cursor: pointer;
    }

    @keyframes animate-pulse_X {
      0% {
        box-shadow: 0 0 0 0 rgba(245, 75, 75, 0.7), 0 0 0 0 rgba(245, 75, 75, 0.7);
      }

      40% {
        box-shadow: 0 0 0 15px rgba(245, 75, 75, 0.0), 0 0 0 0 rgba(245, 75, 75, 0.7);
      }

      80% {
        box-shadow: 0 0 0 0 rgba(245, 75, 75, 0.0), 0 0 0 15px rgba(245, 75, 75, 0);
      }

      100% {
        box-shadow: 0 0 0 0 rgba(245, 75, 75, 0.0), 0 0 0 0 rgba(245, 75, 75, 0);
      }
    }

    .tabs {
      height: 30px !important;
    }

    .tabs .tab {
      line-height: 30px !important;
      height: 30px !important;
    }

    .list-group-item:last-child {
      margin-bottom: 0;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    .list-group-item:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    .list-group-item:hover {
      color: #1a2e63;
      cursor: pointer;
      font-weight: bold;
    }

    .list-group-item.hover {
      color: #1a2e63;
      cursor: pointer;
      font-weight: bold;
    }

    .list-group-item {
      position: relative;
      display: block;
      padding: 10px 15px;
      margin-bottom: -1px;
      background-color: #fff;
      border: 1px solid #ddd;
      font-size: 0.7em;
    }

    .list-group {
      font-size: 14px;
      overflow: auto;
      max-height: 13vh;
      position: absolute;
      margin: 0;
      width: inherit;
      margin-top: 2.2em;
      z-index: 3;
    }

    #H2_Tabla th {
      position: sticky;
      top: 0;
      z-index: 9;
    }

    .sortorder2:after {
      content: '\25bc';
    }

    .sortorder2.reverse2:after {
      content: '\25b2';
    }

    input.input-text-new {
      background-color: #f1f3f4 !important;
    }

    .gray-input {
      background-color: #f1f3f4 !important;
    }

    .md-card-buttons {
      position: absolute;
      z-index: -1;
      top: -50px;
      width: calc(100% - 30px);
      left: 15px;
      text-align: center;
    }


    #H1_Tabla>thead,
    #H2_Tabla>thead {
      font-size: 1em;
      /* border: 3px; */
      border-width: medium;
      border-style: solid;
      border-radius: .375rem;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }


    .tooltip_ab {
      position: relative;
      display: inline-block;
    }

    .tooltip_ab .tooltiptext_ab::after {
      content: "";
      position: absolute;
      top: -37%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #00000000 #00000000 #555 #00000000;
    }

    .tooltip_ab:hover .tooltiptext_ab {
      visibility: visible;
      opacity: 1;
    }

    .tooltip_ab .tooltiptext_ab {
      visibility: hidden;
      width: 120px;
      background-color: #555;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      position: absolute;
      z-index: 1;
      bottom: -150%;
      left: 50%;
      margin-left: -60px;
      opacity: 0;
      transition: opacity 1s;
    }

    .dropdown-content li {
      min-height: 23px;
    }

    .select_maxheigth ul {
      max-height: 125px;
    }

    #toast-container .toast {
      border-radius: 25px !important;
      font-weight: 600;
      text-align: center !important;
      word-break: keep-all;
      padding: 10px 25px;
      width: auto;
    }

    blockquote {
      font-weight: 700;
      background-color: #f1f3f4;
    }

    .dropdown-content li {
      min-height: 23px;
    }

    .dropdown-content li>span {
      line-height: 32px;
      padding: 0px 16px;
    }

    .modal {
      border-radius: 10px;
      overflow: hidden;
      max-height: 88%;
      z-index: 1003;
      display: none;
      opacity: 0;
      transform: scaleX(0.7);
      top: 4%;
    }

    .pagination {
      text-align: center;
      padding-top: 0px;
      font-weight: 800;
    }

    /**/
    /**/
    /**/
    .content-box2 {
      background-color: #F1F3F4;
      padding: 10px;
      border: 1px solid #ebecec;
      position: relative;
      box-shadow: none !important;
      margin-left: .55vw;
    }

    .chip_1 {
      display: inline;
      text-align: left;
      color: #737373;
      line-height: 1.7em;
      font-size: 1em;
      font-style: italic;
      text-transform: uppercase;
    }

    .chip_2 {
      background-color: #e4e4e4;
      font-weight: 700;
    }

    #versionamiento .content-box {
      border-bottom: 0px !important;
    }

    .timeline-page .timeline .timeline-milestone:not(:first-child)::before {
      left: calc(10% - 1px);
    }

    .timeline-page .timeline .timeline-event .timeline-content {
      position: relative;
      width: calc(90% - 50px);
    }

    .timeline-page .timeline .timeline-event:nth-child(even) .timeline-content {
      margin-left: calc(10% + 39px);
    }

    .timeline-page .timeline .timeline-badge {
      right: calc(90% - 20px);
    }

    .timeline-page .timeline .timeline-milestone::after {
      left: calc(10% - 1px);
    }

    .timeline-page .timeline .timeline-event::after {
      left: calc(10% - 1px);
    }

    #versionamiento .timeline-page .timeline .timeline-event:nth-child(even) .timeline-content .content-box::before {
      left: -54px;
    }

    #versionamiento .timeline-page .timeline .timeline-event .timeline-content .content-box::before {
      width: calc(100% + 70px);
    }

    #tabla_scroll th {
      padding: 3px 10px;
    }

    .timeline-page .timeline .timeline-badge {
      right: calc(90% - 20px);
    }
    .timeline-page .timeline .timeline-badge {
            right: calc(90% - 20px);
        }
    .timeline-badge4 {
            background-color: #dd4bd6 !important;
        }

        .timeline-badge5 {
            background-color: #52120b !important;
        }

        .timeline-badge6 {
            background-color: #bb5964 !important;
        }

        .timeline-badge7 {
            background-color: #3bf2dd !important;
        }

        .timeline-badge8 {
            background-color: #6f19ce !important;
        }

        .timeline-badge9 {
            background-color: #c54141 !important;
        }

        .timeline-badge10 {
            background-color: #06965a !important;
        }

        .timeline-badge11 {
            background-color: #fec035 !important;
        }

        .timeline-badge12 {
            background-color: #0501e7 !important;
        }

        .timeline-badge13 {
            background-color: #e182ba !important;
        }

        .timeline-badge14 {
            background-color: #dd4bd6 !important;
        }

        .timeline-badge15 {
            background-color: #52120b !important;
        }

        .timeline-badge16 {
            background-color: #bb5964 !important;
        }

        .timeline-badge17 {
            background-color: #3bf2dd !important;
        }

        .timeline-badge18 {
            background-color: #6f19ce !important;
        }

        .timeline-badge19 {
            background-color: #c54141 !important;
        }

        .timeline-badge20 {
            background-color: #06965a !important;
        }
  </style>
</div>