<div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="foot4 divcardcustom">
          <div class="text-al switch divcardcustom2"><strong>Periodos AltoCosto </strong></div>
        </div>
        <div class="col s12 m6">
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content" style="padding: 0px; padding-bottom: 20px;">
                <div class="input-list input-form" style="margin-top: 0px;">
                  <div class="input-list input-view-column">
                    <label for="normal8">Resolucion</label>
                    <select class="select-chosen-eps" id="resolucion_cac" ng-model="resolucion">
                      <option value="0">SELECCIONAR</option>
                      <option ng-repeat="res in resoluciones"  value="{{res.Codigo}}">{{res.Nombre}}</option>
                    </select>
                  </div>
                  <div class="input-list input-view-column input-padding">
                      <a class="waves-effect waves-light btn white-text primary-button" style="float: left; margin-top: 5px; margin-left: 30px; margin-bottom: 5px; top: 25px;" ng-click="cargarperiodo()">Buscar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6" ng-hide="inactive3">
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content" style="margin-bottom: 24px; margin-top: 24px;">
                <div>
                  <h5 class="center-align" style="color: grey;">Cargar archivo excel</h5>
                  <div ng-hide="inactive6">
                    <div class="center-align">
                      <form id="formulario" method="post" enctype="multipart/form-data">
                        <div class="box">
                					<input type="file" name="archivo" id="file-6" class="inputfile inputfile-5" data-multiple-caption="{count} files selected" multiple />
                					<label for="file-6">
                            <figure>
                              <svg xmlns="http://www.w3.org/2000/svg" width: "25" height: "43"; viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg>
                            </figure>
                            <span id="nombreadjunto"></span>
                          </label>
                				</div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="input-list input-view-column input-padding">
                      <a class="waves-effect waves-light btn white-text primary-button" style="float: left; margin-top: 5px; margin-left: 30px; margin-bottom: 5px; top: 25px;" ng-click="compararexcel()">Comparar Archivo</a>
                  </div>
                  <div>
                    <a href="#" ng-click='downloadCSV({ filename: "ReporteCAC_{{resolucion}}.csv" });'></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l12" ng-hide="inactive1">
      <div class="card">
        <div class="foot4 divcardcustom">
          <div class="text-al switch divcardcustom2"><strong>Actualizar Periodos </strong></div>
        </div>
        <div class="col s10 offset-s1">
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content" style="padding: 0px; padding-bottom: 20px;">
                <div>
                  <table class="centered highlight responsive-table">
                    <thead align="center">
                      <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th><i class="material-icons tiny ">perm_contact_calendar</i> Fecha Inicial</th>
                        <th><i class="material-icons tiny ">perm_contact_calendar</i> Fecha Final</th>
                        <th><i class="material-icons tiny ">perm_contact_calendar</i> Fecha Limite</th>
                        <th><i class="icon-pencil"></i>Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><strong>{{CodigoCAC}}</strong></td>
                        <td><strong>{{NombreCAC}}</strong></td>
                        <td><input type="date" ng-model="fechainicial"></td>
                        <td><input type="date" ng-model="fechafinal"></td>
                        <td><input type="date" ng-model="fechalimite"></td>
                        <td>
                          <div class="tooltip">
                            <a class="btn-floating btn waves-effect waves-light" ng-click="CrudPeriodo('U')"><i style="width: 30px; height: 30px;"class="icon-arrows-cw"></i></a>
                            <span class="tooltiptext">Actualizar</span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l12" ng-hide="inactive2">
      <div class="card">
        <div class="foot4 divcardcustom">
          <div class="text-al switch divcardcustom2"><strong>Abrir Periodos </strong></div>
        </div>
        <div class="col s10 offset-s1">
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content" style="padding: 0px; padding-bottom: 20px;">
                <div>
                  <table class="centered highlight responsive-table">
                    <thead align="center">
                      <tr>
                        <th>Nombre</th>
                        <th><i class="material-icons tiny ">perm_contact_calendar</i> Fecha Inicial</th>
                        <th><i class="material-icons tiny ">perm_contact_calendar</i> Fecha Final</th>
                        <th><i class="material-icons tiny ">perm_contact_calendar</i> Fecha Limite</th>
                        <th><i class="icon-pencil"></i>Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><strong>{{NombreCAC}}</strong></td>
                        <td><input type="date" ng-model="fechainicial"></td>
                        <td><input type="date" ng-model="fechafinal"></td>
                        <td><input type="date" ng-model="fechalimite"></td>
                        <td>
                          <div class="tooltip">
                            <a class="btn-floating btn waves-effect waves-light" ng-click="CrudPeriodo('I')"><i style="width: 30px; height: 30px;"class="icon-floppy"></i></a>
                            <span class="tooltiptext">Abrir Periodo</span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <style>
      .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }

      .inputfile + label {
          max-width: 80%;
          font-size: 1.25rem;
          /* 20px */
          font-weight: 700;
          text-overflow: ellipsis;
          white-space: nowrap;
          cursor: pointer;
          display: inline-block;
          overflow: hidden;
          padding: 0.625rem 1.25rem;
          /* 10px 20px */
      }

      .no-js .inputfile + label {
          display: none;
      }

      .inputfile:focus + label,
      .inputfile.has-focus + label {
          outline: 1px dotted #000;
          outline: -webkit-focus-ring-color auto 5px;
      }

      .inputfile + label * {
          /* pointer-events: none; */
          /* in case of FastClick lib use */
      }

      .inputfile + label svg {
          width: 1em;
          height: 1em;
          vertical-align: middle;
          fill: currentColor;
          margin-top: -0.25em;
          /* 4px */
          margin-right: 0.25em;
          /* 4px */
      }

      /* style 5 */

      .inputfile-5 + label {
          color: #bbb5b5;
      }

      .inputfile-5:focus + label,
      .inputfile-5.has-focus + label,
      .inputfile-5 + label:hover {
          color: #722040;
      }

      .inputfile-5 + label figure {
          width: 100px;
          height: 135px;
          background-color: #ff4350;
          display: block;
          position: relative;
          padding: 30px;
          margin: 0 auto 10px;
      }

      .inputfile-5:focus + label figure,
      .inputfile-5.has-focus + label figure,
      .inputfile-5 + label:hover figure {
          background-color: #722040;
      }

      .inputfile-5 + label figure::before,
      .inputfile-5 + label figure::after {
          width: 0;
          height: 0;
          content: '';
          position: absolute;
          top: 0;
          right: 0;
      }

      .inputfile-5 + label figure::before {
          border-top: 20px solid #ffffff;;
          border-left: 20px solid transparent;
      }

      .inputfile-5 + label figure::after {
        border-bottom: 20px solid #ee4035;
        border-right: 20px solid transparent;
      }

      .inputfile-5:focus + label figure::after,
      .inputfile-5.has-focus + label figure::after,
      .inputfile-5 + label:hover figure::after {
          border-bottom-color: #d3394c;
      }

      .inputfile-5 + label svg {
          width: 100%;
          height: 100%;
          fill: #f1e5e6;
      }
      .inputfile-5:focus + label figure::after, .inputfile-5.has-focus + label figure::after, .inputfile-5 + label:hover figure::after {
        border-bottom-color: #d3394c;
      }
      .inputfile-5:focus + label figure, .inputfile-5.has-focus + label figure, .inputfile-5 + label:hover figure {
          background-color: #d80c1a;
      }
      .inputfile-5:focus + label figure::after, .inputfile-5.has-focus + label figure::after, .inputfile-5 + label:hover figure::after {
          border-bottom-color: #ee4035;
      }</style>
