<div>
        <div class="col s12 m12 l12 magazine margin widgets-tabs">
    
            <div class="card col l12 s12 widgets-tabs">
                <ul tabs reload="allTabContentLoaded">
                    <li class="tab col s6" style="cursor: pointer;">
                        <a ng-click="setTab(1)" class="{{activeI}}">Consolidados Nacimientos</a>
                    </li>
                    <li class="tab col s6" style="cursor: pointer;">
                        <a ng-click="setTab(2)" class="{{activeII}}">Pendiente Por Actualizar</a>
                    </li>
                </ul>
            </div>
        </div>
    
        <div ng-show="tabI" class="col no-padding" style="width: 100%;">
            <div class="row">
                <div class="col s12 m12 l12 magazine margin widgets-tabs" style="background: #fff;">
                    <div class="card-panel widgets-tabs col l12" style="margin-top: 0px; box-shadow: none">
                        <div class="row">
                            <div class="row margin">
                                <div class="col s12 m12 l6">
                                    <div class="card" style="background-color: rgba(240, 163, 47, 0.8); cursor: pointer;"
                                        ng-click="VerIPS()">
                                        <div class="card-content white-text">
                                            <div style="display: flex;justify-content: space-between;align-items: center;">
                                                <h5 style="margin: 0;">IPS REGISTRADA</h5>
                                                <strong class="ng-binding">{{respuesta.RegistroIPS}}</strong>
                                            </div>
                                            <div class="progress green darken-3">
                                                <div class="determinate white" style="width: 100%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m12 l6">
                                    <div class="card" style="background-color: rgba(240, 163, 47, 0.8);">
                                        <div class="card-content white-text">
                                            <div style="display: flex;justify-content: space-between;align-items: center;">
                                                <h5 style="margin: 0;">TOTAL NACIMIENTOS</h5>
                                                <strong class="ng-binding">{{respuesta.CantidadNacimiento}}</strong>
                                            </div>
                                            <div class="progress green darken-3">
                                                <div class="determinate white" style="width: 100%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin">
                                <div class="col s12 m12 l4">
                                    <div class="card" style="background-color: rgba(86, 185, 73, 0.8);">
                                        <div class="card-content white-text">
                                            <div style="display: flex;justify-content: space-between;align-items: center;">
                                                <h6 style="margin: 0;">NACIMIENTOS PENDIENTES</h6>
                                                <strong class="ng-binding">{{respuesta.Activo}}</strong>
                                            </div>
                                            <div class="progress green darken-3">
                                                <div class="determinate white" style="width: {{ProcentanjeActivo }}%"></div>
                                            </div>
                                            <p style="font-size: 20px;">
                                                <small>{{ProcentanjeActivo}}% Nacimientos Pendientes</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m12 l4">
                                    <div class="card" style="background-color:rgba(21, 101, 192, 0.8);">
                                        <div class="card-content white-text">
                                            <div style="display: flex;justify-content: space-between;align-items: center;">
                                                <h6 style="margin: 0;">NACIMIENTOS GESTIONADOS</h6>
                                                <strong class="ng-binding">{{respuesta.Procesado}}</strong>
                                            </div>
                                            <div class="progress blue darken-3">
                                                <div class="determinate white" style="width: {{ProcentanjeProcesado}}%">
                                                </div>
                                            </div>
                                            <p style="font-size: 20px;">
                                                <small>{{ProcentanjeProcesado}}% Nacimientos Gestionados</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m12 l4">
                                    <div class="card" style="background-color: rgba(238, 64, 53, 0.8);">
                                        <div class="card-content white-text">
                                            <div style="display: flex;justify-content: space-between;align-items: center;">
                                                <h6 style="margin: 0;">NACIMIENTOS RECHAZADOS</h6>
                                                <strong class="ng-binding">{{respuesta.Rechazado}}</strong>
                                            </div>
                                            <div class="progress red darken-3">
                                                <div class="determinate white" style="width: {{ProcentanjeRechazado}}%">
                                                </div>
                                            </div>
                                            <p style="font-size: 20px;">
                                                <small>{{ProcentanjeRechazado}}% Nacimientos Rechazados</small>
                                            </p>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <div class="row margin">
                            <div class="col s12 m6 l12">
                                <div class="card" style="box-shadow: none;border: 1px solid rgba(160, 160, 160, 0.2);">
                                    <div class="card-content"
                                        style="display: flex;justify-content: space-between;align-items: center;">
                                        <h5>Seguimiento de Nacimientos</h5>
                                      <!--  <div class="switch" ng-hide="!BotonAtras">
                                            <label>
                                                <span ng-class="{'activo':!check_option}">Pendientes</span>
                                                <input type="checkbox" ng-init="check_option = false"
                                                    ng-model="check_option"
                                                    ng-change="(check_option == true)?NacimientoDepartamento('P'):NacimientoDepartamento('A')">
                                                <span class="lever check-c"></span>
                                                <span ng-class="{'activo':check_option}">Gestionados</span>
                                            </label>
                                        </div>-->
                                        <i class="icon-left-open-2" ng-click="Retroceder()" ng-hide="BotonAtras"
                                            style="cursor: pointer">Atras</i>
                                    </div>
                                    <div class="card-action">
                                        <div class="row">
    
                                            <div class="col s12" style="height: 59vh;overflow-y: auto">
                                                <div class="row margin" ng-if="OcultarDepartamento">
                                                    <div ng-repeat="d in dpto">
    
                                                        <div class="col s12 m6 l3">
                                                            <div class="card" style="cursor: pointer;"
                                                                ng-click="DetalleMunicipio(d.codigo);">
                                                                <div class="card-content">
                                                                    <h5>{{d.cantidad}} <i
                                                                            class="zmdi zmdi-pin grey-text right"></i> </h5>
                                                                    <div class="row">
                                                                        <h6>{{d.nombre}}</h6>
                                                                    </div>
                                                                    <div class="progress teal lighten-4">
                                                                        <div class="determinate teal darken-2"
                                                                            style="width: {{d.promedio}}%"></div>
                                                                    </div>
                                                                    <p>
                                                                        <small style="font-size: 1em;"> {{d.promedio}} %
                                                                            {{Nombre}}</small>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin" ng-if="OcultarMunicipio">
                                                    <div ng-repeat="m in muni">
                                                        <div class="col s12 m6 l3">
                                                            <div class="card" style="cursor: pointer;"
                                                                ng-click="DetalleIPS(m.codigo);">
                                                                <div class="card-content">
                                                                    <h5>{{m.cantidad}} <i
                                                                            class="zmdi zmdi-pin grey-text right"></i>
                                                                    </h5>
                                                                    <div class="row">
                                                                        <h6>{{m.nombre}}</h6>
                                                                    </div>
                                                                    <div class="progress teal lighten-4">
                                                                        <div class="determinate teal darken-2"
                                                                            style="width: {{m.promedio}}%"></div>
                                                                    </div>
                                                                    <p>
                                                                        <small style="font-size: 1em;"> {{m.promedio}} %
                                                                            {{Nombre}}</small>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col s12" ng-if="InformacionIPS">
                                                    <div class="card">
                                                        <div class="card-action">
                                                            <div class="card-content"
                                                                style="padding-left: 0;padding-top: 0;">
                                                            </div>
                                                            <div class="scrollDefault"
                                                                style="height: 50vh;overflow-y: auto">
                                                                <table class="responsive-table table-bordered"
                                                                    ng-if="TablaIPS">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>NOMBRE DE LA IPS</th>
                                                                            <th>TOTAL REGISTROS</th>
                                                                            <th>PENDIENTES</th>
                                                                            <th>GESTIONADOS</th>
                                                                            <th>RECHAZADOS</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="i in rep">
                                                                            <td>{{$index+1}}</td>
                                                                            <td>{{i.nombreips}}</td>
                                                                            <td>{{i.cantidad}}</td>
                                                                            <td class="center-align">
                                                                                <i class="fontello-icon icon-check"
                                                                                    ng-click="VerActivo(i.nit,'A',i.ubicacion)"
                                                                                    data-toggle="tooltip "
                                                                                    title="Ver Detalle"
                                                                                    style="position: relative;display: flow-root;font-size: 20px;cursor: pointer;">
                                                                                    <span
                                                                                        style="position: absolute;font-size: 10px;height: 15px;width: 15px;min-height: 15px;min-width: 15px;border-radius: 50%;top: 10px;left: 40px;font-weight: bold;display: flex;justify-content: center;align-items: center;"
                                                                                        class="default-background white-text ng-binding">{{i.activo}}</span>
                                                                                </i>
                                                                            </td>
                                                                            <td class="center-align">
                                                                                <i class="fontello-icon icon-check"
                                                                                    ng-click="VerActivo(i.nit,'P',i.ubicacion)"
                                                                                    data-toggle="tooltip "
                                                                                    title="Ver Detalle"
                                                                                    style="position: relative;display: flow-root;font-size: 20px; cursor: pointer;">
                                                                                    <span
                                                                                        style="position: absolute;font-size: 10px;height: 15px;width: 15px;min-height: 15px;min-width: 15px;border-radius: 50%;top: 10px;left: 70px;font-weight: bold;display: flex;justify-content: center;align-items: center;"
                                                                                        class="default-background white-text ng-binding">{{i.procesado}}</span>
                                                                                </i>
                                                                            </td>
                                                                            <td class="center-align">
                                                                                <i class="fontello-icon icon-check"
                                                                                    ng-click="VerActivo(i.nit,'R',i.ubicacion)"
                                                                                    data-toggle="tooltip "
                                                                                    title="Ver Detalle"
                                                                                    style="position: relative;display: flow-root;font-size: 20px; cursor: pointer;">
                                                                                    <span
                                                                                        style="position: absolute;font-size: 10px;height: 15px;width: 15px;min-height: 15px;min-width: 15px;border-radius: 50%;top: 10px;left: 71px;font-weight: bold;display: flex;justify-content: center;align-items: center;"
                                                                                        class="default-background white-text ng-binding">{{i.rechazado}}</span>
                                                                                </i>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <table class="responsive-table table-bordered"
                                                                    ng-if="DetalleAfiliados">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>NOMBRE AFILIADO</th>
                                                                            <th>TIPO DOCUMENTO</th>
                                                                            <th>DOCUMENTO</th>
                                                                            <th>GENERO</th>
                                                                            <th>FECHA NACIMIENTO</th>
                                                                            <th ng-hide="OcultarColumna">MOTIVO RECHAZO</th>
                                                                            <th>FECHA REGISTRO</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="r in resultado">
                                                                            <td>{{$index+1}}</td>
                                                                            <td>{{r.nombre_completo}}</td>
                                                                            <td>{{r.tipo_documento}}</td>
                                                                            <td>{{r.documento}}</td>
                                                                            <td>{{r.genero}}</td>
                                                                            <td>{{r.fecha_nacimiento}}</td>
                                                                            <td ng-hide="OcultarColumna">
                                                                                {{r.nombre_rechazo}}</td>
                                                                            <td>{{r.fecha_registro}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div ng-show="tabII" class="col no-padding" style="width: 100%;">
            <div class="col s12">
                <div class="card">
                    <div class="card-action">
                        <div class="card-content" style="padding-left: 0;padding-top: 0;">
                        </div>
                        <div class="card-content clearfix">
                            <table class="responsive-table striped table-bordered" align="center" id="informacion"
                                style="border-bottom: none;">
                                <thead align="center">
                                    <tr>
                                        <th>#</th>
                                        <th>TIPO DOCUMENTO</th>
                                        <th>DOCUMENTO</th>
                                        <th>NOMBRE AFILIADO</th>
                                        <th>FECHA NACIMIENTO</th>
                                        <th>FECHA VENCIMIENTO</th>
                                        <th>DIAS RESTANTE</th>
                                    </tr>
                                </thead>
                                <tbody style="height: 40%; overflow: scroll;">
                                    <tr ng-repeat="d in res">
                                        <td>{{$index+1}}</td>
                                        <td>{{d.tipo_documento}}</td>
                                        <td>{{d.documento}}</td>
                                        <td>{{d.nombre_completo}}</td>
                                        <td>{{d.fecha_nacimiento}}</td>
                                        <td style="text-align:center;">
                                            <span
                                                class="status {{d.estado_color}} white-text">{{d.fecha_vencimiento}}</span>
                                        </td>
                                        <td style="text-align:center;">
                                            <span class="status {{d.estado_color}} white-text">{{d.dia_restante}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="modaltabla" class="modal" style="width: 80%;">
            <div class="modal-content" style="padding: 8px;">
                <div class="card">
                    <div class="card-action">
                        <div class="card-content"
                            style="display: flex;align-items: center;justify-content: center; padding: 0">
                            <h5 align="center">Listado IPS</h5>
                            <span style="cursor: pointer !important" ng-click="CerrarModal()" class="close"
                                title="Cerrar">&times;</span>
                        </div>
                        <div class="clearfix">
                            <table class="responsive-table striped table-bordered" align="center" id="informacion"
                                style="border-bottom: none;">
                                <thead align="center">
                                    <tr>
                                        <th>#</th>
                                        <th>NOMBRE DE LA IPS</th>
                                        <th>NIT DE LA IPS</th>
                                        <th>UBICACION DE LA IPS</th>
                                    </tr>
                                </thead>
                                <tbody style="height: 40%; overflow: scroll;">
                                    <tr ng-repeat="l in lnit">
                                        <td>{{$index+1}}</td>
                                        <td>{{l.nombre_ips}}</td>
                                        <td>{{l.nit}}</td>
                                        <td>{{l.ubicacion_ips}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
        <style>
            a.active.final {
                border-bottom: 2px solid #00abc0 !important;
                border-top: 1px solid #ffff !important;
                padding-top: 0 !important;
            }
    
            td,
            th {
                text-align: center;
            }
    
            .close {
                position: absolute;
                right: 25px;
                top: 0;
                color: #000;
                font-size: 35px;
                font-weight: bold;
            }
        </style>
     
    </div>