<div id="instructivos">
  <style>
    .main-image {
      animation: slide 1s ease;
    }

    @keyframes slide {
      from {
        max-height: 0;
      }

      to {
        max-height: 1000px;
      }
    }

    #instructivos .list_left>input {
      padding: 0 20px;
      box-sizing: border-box;
      margin-bottom: 0;
    }

    html.ngdialog-open,
    body.ngdialog-open {
      overflow: hidden !important;
    }

    #instructivos+.ngdialog-close {
      display: none;
    }

    .gray-input {
      background-color: #e5e6e6 !important;
    }

    .avtitle {
      margin: 0px 0px 0px -20px;
      line-height: normal;
      margin-left: -10px !important;
      font-size: 11px !important;
      color: black !important;
    }

    #instructivos .card-action {
      display: block !important;
    }

    #instructivos .card-action {
      height: 60vh !important;
    }
  </style>
  <div class="col s6 m6 l6 card" style="width:30%;margin:auto">
    <div class="ngdialog-close"></div>
    <div class="card-content" style="display: flex;justify-content: start;padding: 10px 20px;">
      <h5 id="ngdialog1-aria-labelledby">Documentos</h5>
    </div>
    <div class="card-action">
      <!-- <ul class="collection" id="collection">
        <li class="collection-item avatar waves-effect" style="padding-top: 15px;min-height: 60px;width: 100%;"
          ng-click="viewPDF(x.url)" ng-repeat="x in Listado_Plantilla">
          <img src="assets/images/acta.svg" alt="john" class="circle">
          <span class="title avtitle"><strong>{{x.nombre}}</strong></span>
          <i class="right pulse2" style="font-size: 20px;"></i>
        </li>
      </ul> -->
      <ul class="collapsible" data-collapsible="accordion" style="background-color: #fff !important;">
        <li>
          <div class="collapsible-header">
            <i class="material-icons">label_outline</i><b>Plantillas ({{Listado_Plantilla.length}})</b>
          </div>
          <div class="collapsible-body">
            <ul class="collection" id="collection">
              <li class="collection-item avatar waves-effect" style="padding-top: 15px;min-height: 60px;width: 100%;"
                ng-click="viewPDF(x.url)" ng-repeat="x in Listado_Plantilla">
                <img src="assets/images/acta.svg" alt="john" class="circle">
                <span class="title avtitle"><strong>{{x.nombre}}</strong></span>
                <i class="right pulse2" style="font-size: 20px;"></i>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">label_outline</i><b>Manuales ({{Listado_Manual.length}})</b>
          </div>
          <div class="collapsible-body">
            <ul class="collection" id="collection">
              <li class="collection-item avatar waves-effect" style="padding-top: 15px;min-height: 60px;width: 100%;"
                ng-click="viewPDF(x.url)" ng-repeat="x in Listado_Manual">
                <img src="assets/images/acta.svg" alt="john" class="circle">
                <span class="title avtitle"><strong>{{x.nombre}}</strong></span>
                <i class="right pulse2" style="font-size: 20px;"></i>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">label_outline</i><b>Organigramas ({{Listado_Organigrama.length}})</b>
          </div>
          <div class="collapsible-body">
            <ul class="collection" id="collection">
              <li class="collection-item avatar waves-effect" style="padding-top: 15px;min-height: 60px;width: 100%;"
                ng-click="viewPDF(x.url)" ng-repeat="x in Listado_Organigrama">
                <img src="assets/images/acta.svg" alt="john" class="circle">
                <span class="title avtitle"><strong>{{x.nombre}}</strong></span>
                <i class="right pulse2" style="font-size: 20px;"></i>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <!-- <div class="panel main-image" ng-repeat="x in Listado_Plantilla">
          <a ng-click="viewPDF(x.url)" class="secondary-content">
            {{x.nombre}}
            <i class="icon-file-pdf"></i>
          </a>
        </div> -->
      <!-- <div class="list_right">
        <iframe ng-show="url!=''" ng-src="{{url}}"></iframe>
        <a ng-show="url!=''" href="{{url}}" target="_blannk" style="position:absolute;bottom: 0;"><i
            class="icon-link-ext"></i></a>
        <i ng-show="url==''" class="icon-file-pdf"></i>
      </div> -->
    </div>
  </div>
</div>
