<div class="row">
  <div class="row section-header" style="padding-bottom: 0px;">
    <div class="col s12">
      <div class="col s6 prod-title-div no-padding">
        <h3 class="page-title">Solicitud de Autorizacion</h3>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l12 magazine margin widgets-tabs">
    <div class="card-panel widgets-tabs col l12">
      <ul tabs reload="allTabContentLoaded">
        <li class="tab col s4" style="cursor: pointer;"><a ng-click="setTab(1)" ng-class="activeI">Solicitud de Autorización</a></li>
        <li class="tab col s4" style="cursor: pointer;" ng-click="obtenerAutorizaciones('A',0)"><a ng-click="setTab(2)" ng-class="activeII">Solicitudes Activas</a></li>
        <li class="tab col s4" style="cursor: pointer;"><a ng-click="setTab(3)" ng-class="activeIII">Consulta de Autorizacion</a></li>
        <li class="tab col s4" style="cursor: pointer;"><a ng-click="setTab(4)" ng-class="activeIV">Consultar Producto</a></li>
      </ul>
      <div ng-show="tabI" class="col no-padding" style="width: 100%;">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
                <div class="row">
                  <div class="steper">
                    <div class="step">
                      <button type="button" class="btn btn-default btn-lg btn-step paso1 step-item">Solicitud</button>
                    </div>
                    <hr class="step-divider">
                    <div class="step">
                      <button type="button" class="btn btn-default btn-lg btn-step paso2 step-item">Servicios</button>
                    </div>
                    <hr class="step-divider">
                    <div class="step">
                      <button type="button" class="btn btn-default btn-lg btn-step paso3 step-item">Finalizar</button>
                    </div>
                  </div>
                  <hr>
                </div>
                <div class="row">
                  <!-- registro de solicitud -->
                  <div class="col s12 content-step1" ng-hide="inactivepaso1" style="min-height:480px;">
                    <form ng-submit="wizardstep('paso1','next')" name="formevento" id="evento">
                      <div class="step-content">
                        <div class="card charts">
                          <div class="card-content">
                            <div class="row">
                              <!-- linea 1 -->
                              <div class="col s12">
                                <div class="input-field col s2">
                                  <label style=" margin-top: -20px;">Tipo Documento:</label>
                                  <select class="select-chosen-eps" ng-model="solicitud.tipodocumento" required>
                                    <option value="">Seleccionar</option>
                                    <option value="CC">CEDULA DE CIUDADANÍA</option>
                                    <option value="TI">TARJETA DE IDENTIDAD</option>
                                    <option value="RC">REGISTRO CIVIL</option>
                                    <option value="CE">CEDULA DE EXTRANJERÍA</option>
                                    <option value="PA">PASAPORTE</option>
                                    <option value="PE">PERMISO ESPECIAL DE PERMANENCIA</option>
                                    <option value="AS">ADULTO SIN IDENTIFICACIÓN</option>
                                    <option value="MS">MENOR SIN IDENTIFICACIÓN</option>
                                    <option value="CD">CARNET DIPLOMÁTICO</option>
									                  <option value="CN">NACIDO VIVO</option>
                                    <option value="SC">SALVO CONDUCTO</option>
                                  </select>
                                </div>
                                <div class="input-field col s2">
                                  <a href="javascript:void(0)" ng-click="obtenerNombre()"><i style="position: absolute; top: 16px; right: -20px;" class="material-icons prefix">search</i></a>
                                  <input id="with_icon" type="text" ng-model="solicitud.documento" ng-blur="obtenerNombre()" class="validate">
                                  <label for="with_icon">Documento</label>
                                </div>
                                <div class="input-field col s4">
                                  <input id="tema" type="text" ng-model="solicitud.nombre" disabled required>
                                  <label for="tema">Nombre:</label>
                                </div>
                                <div class="input-field col s2.1">
                                  <input id="fechaparseada" type="datetime-local" ng-model="solicitud.fecsolicitud">
                                  <label style=" margin-top: -20px;">Ingreso:</label>
                                </div>
                              </div>
                              <!-- linea 2 -->
                              <div class="col s12">
                                <div class="input-field col s2">
                                  <label style=" margin-top: -20px;">Origen Atención:</label>
                                  <select class="select-chosen-eps" ng-model="solicitud.origen" required>
                                    <option value="">Seleccionar</option>
                                    <option ng-repeat="lta in listOrigenes" ng-value="lta.CODIGO">{{lta.NOMBRE}}</option>
                                  </select> 
                                </div>
                                <div class="input-field col s2">
                                  <label style=" margin-top: -20px;">Ubicacion Paciente:</label>
                                  <select class="select-chosen-eps" ng-model="solicitud.ubipaciente" ng-change="validarUbicacionPaciente(solicitud.ubipaciente)" required>
                                    <option value="">Seleccionar</option>
                                    <option ng-repeat="loa in listUbicaciones" ng-value="loa.CODIGO">{{loa.NOMBRE}}</option>
                                  </select>
                                </div>
                                <div class="input-field col s2">
                                  <label style=" margin-top: -20px;">Contrato:</label>
                                  <select class="select-chosen-eps" ng-disabled="inactivefields" ng-model="solicitud.contrato" ng-change="obtenerServicios()" required>
                                    <option value="">Seleccionar</option>
                                    <option ng-repeat="loe in listContratos" ng-value="loe.NUMERO">{{loe.MODALIDAD}}</option>
                                  </select>
                                </div>
                                <div class="input-field col s3">
                                  <label style=" margin-top: -20px;">Tipo Servicio:</label>
                                  <select class="select-chosen-eps" ng-model="solicitud.tiposervicio" required>
                                    <option value="">Seleccionar</option>
                                    <option ng-repeat="las in listTipoServicio" ng-value="las.CODIGO">{{las.NOMBRE}}</option>
                                  </select>
                                </div>
                              </div>
                              <!-- linea 3-->
                              <div class="col s12">
                                <div class="input-field col s3">
                                  <label style=" margin-top: -20px;">Servicio:</label>
                                  <select class="select-chosen-eps" ng-model="solicitud.servicio" required>
                                    <option value="">Seleccionar</option>
                                    <option ng-repeat="las in listServicios" ng-value="las.CODIGO">{{las.NOMBRE}}</option>
                                  </select>
                                </div>
                                <div class="input-field col s3">
                                  <input type="text" id="numcama" ng-model="solicitud.cama" ng-required="requierecama">
                                  <label for="numcama">Numero Cama:</label>
                                </div>
                                <div class="input-field col s2">
                                  <div class="switch">
                                    <label style="margin-top: -15px;">Prioridad:</label>
                                    <label style="top: 20px;">
                                       NO<input type="checkbox" id="prioridad" ng-model="prioridadsw"><span class="lever"></span>SI
                                    </label>
                                  </div>
                                </div>
                                <div class="input-field col s2">
                                  <div class="switch">
                                    <label style=" margin-top: -15px;">Hijo de:</label>
                                    <label style="top: 20px;">
                                       NO<input type="checkbox" id="hijode" ng-model="hijodesw"><span class="lever"></span>SI
                                    </label>
                                  </div>
                                </div>
                              </div>
                              <!-- linea 4-->
                              <div class="col s12">
                                <div class="input-field col s1">
                                  <a href="javascript:void(0)" ng-disabled="inactivefields" ng-click="obtenerDiagnostico('ppal')"><i style="position: absolute; top: 16px; right: -20px;" class="material-icons prefix">search</i></a>
                                  <input id="with_icon" type="text" ng-disabled="inactivefields" ng-model="solicitud.dxprincipal" ng-blur="obtenerDiagnostico('ppal')" class="validate" required>
                                  <label for="with_icon">DX ppal:</label>
                                </div>
                                <div class="input-field col s5">
                                  <input type="text" ng-model="solicitud.nomdxprincipal" disabled required>
                                  <label for="horasprogramada" >Diagnostico Principal:</label>
                                </div>
                                <div class="input-field col s1">
                                  <a href="javascript:void(0)" ng-disabled="inactivefields" ng-click="obtenerDiagnostico('seg')"><i style="position: absolute; top: 16px; right: -20px;" class="material-icons prefix">search</i></a>
                                  <input id="with_icon" type="text" ng-disabled="inactivefields" ng-model="solicitud.dxsecundario" ng-blur="obtenerDiagnostico('seg')" class="validate">
                                  <label for="with_icon">DX Sec:</label>
                                </div>
                                <div class="input-field col s4">
                                  <input type="text" ng-model="solicitud.nomdxsecundario" disabled>
                                  <label for="horasprogramada" >Diagnostico Secundario:</label>
                                </div>
                              </div>
                              <!-- linea 5-->
                              <div class="col s12">
                                 <div class="input-field col s11">
                                   <textarea id="justificacion" ng-model="solicitud.justificacion"class="materialize-textarea" maxlength="1000"></textarea>
                                   <label for="justificacion" >Justificacion Clinica:</label>
                                 </div>
                              </div>
                              <!-- Linea 6 -->
                              <div class="col s12">
                                 <div class="input-field col s2">
                                   <input type="text" ng-model="solicitud.medico" required>
                                   <label for="horasprogramada" >Medico:</label>
                                 </div>
                                 <div class="input-field col s2">
                                   <input type="text" ng-model="solicitud.cargomedico" required>
                                   <label for="horasprogramada" >Cargo Medico:</label>
                                 </div>
                                 <div class="input-field col s2">
                                   <a href="javascript:void(0)" ng-click="obtenerNombreIps()"><i style="position: absolute; top: 16px; right: -20px;" class="material-icons prefix">search</i></a>
                                   <input id="with_icon" type="text" ng-model="solicitud.codips" ng-blur="obtenerNombreIps()" class="validate" required>
                                   <label for="with_icon">ips Solicitante:</label>
                                 </div>
                                 <div class="input-field col s5">
                                   <input type="text" ng-model="solicitud.nombreips" disabled required>
                                   <label for="horasprogramada" >ips Solicitante:</label>
                                 </div>
                              </div>
                            </div>
                          </div>
                        </div>
                       </div>
                      <div class="step-option">
                        <button type="submit" ng-disabled="inactivebtnsolicitud" class="btn-floating btn-large waves-light green" style="margin-top: 7px; position: absolute; right: 10px;"><i class="material-icons dp48">done</i></button>
                      </div>
                    </form>
                  </div>
                  <!-- registro de detalle -->
                  <div class="col s12 content-step2" ng-hide="inactivepaso2" style="min-height:480px;">
                    <div class="step-content">
                      <div class="card charts">
                        <div class="card-content">
                          <h5>Solicitud de Autorizacion <spam>{{resultado.numero}}</spam></h5>
                          <div style="margin-bottom: 20px;" class="divider"></div>
                          <div class="row">
                            <form ng-submit="insertarDetalle('crear')" name="formdetalle" id="detalle">
                              <div class="col s12">
                                <div class="input-field col s2">
                                  <a href="javascript:void(0)" ng-click="obtenerProducto()"><i style="position: absolute; top: 16px; right: -20px;" class="material-icons prefix">search</i></a>
                                  <input id="with_icon" type="text" ng-model="detalle.producto" ng-blur="obtenerProducto()" class="validate" required>
                                  <label for="with_icon">Producto:</label>
                                </div>
                                <div class="input-field col s6">
                                  <input id="nombre" type="text" ng-model="detalle.nombre" disabled required>
                                  <label for="nombre">Nombre:</label>
                                </div>
                                <div class="input-field col s1">
                                  <input id="cantidad" type="number" ng-model="detalle.cantidad" required>
                                  <label for="cantidad">Cantidad:</label>
                                </div>
                                <div class="input-field col s2">
                                  <center><button type="submit" class="btn-floating btn-large waves-light back-step"><i class="material-icons dp48">add</i></button></center>
                                </div>
                              </div>
                            </form>
                          </div>
                          <div class="card">
                            <div class="card-content">
                              <h5>Detalle de Autorizacion</h5>
                            </div>
                            <div class="card-action">
                              <div class="row">
                                <table class="table table-bordered table-striped">
                                  <thead>
                                    <tr>
                                      <th style="text-align:center;">Producto</th>
                                      <th>Nombre</th>
                                      <th style="text-align:center;">Cantidad</th>
                                      <th style="text-align:center;">Accion</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="det in resumen.DETALLE">
                                      <td style="text-align:center;">{{det.CODIGO}}</td>
                                      <td>{{det.NOMBRE}}</td>
                                      <td style="text-align:center;">{{det.CANTIDAD}}</td>
                                      <td style="text-align:center;"><i class="fa fa-trash" ng-click="eliminarProducto(det.NUMERO,det.UBICACION,det.RENGLON,'insert')"></i></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="step-option">
                      <!-- <a class="btn-floating btn-large waves-light back-step" ng-click="wizardstep('paso2','back')"><i class="material-icons dp48">keyboard_arrow_left</i></a> -->
                      <a class="btn-floating btn-large waves-light green" style="margin-top: 7px; position: absolute; right: 10px;" ng-click="wizardstep('paso2','next')"><i class="material-icons dp48">done</i></a>
                    </div>
                  </div>
                  <!-- Finalizar actividad -->
                  <div class="col s12 content-step3" ng-hide="inactivepaso3" style="min-height:480px;">
                    <div class="step-content">
                      <div class="col s12">
                        <!-- card de evento  -->
                        <div class="col l6 m12 s12">
                          <div class="card">
                            <div class="card-content">
                              <h5>Solicitud de Autorizacion <spam>{{resumencabeza.NUMERO}}</spam></h5>
                            </div>
                            <div class="card-action" style="z-index: auto; padding-left: 0px; padding-right: 0px;">
                              <div class="row">
                                <div class="card-content">
                                  <div class="col s12">
                                    <div class="card" style="position: absolute; top: 0px; left: 0; width: 100%;">
                                      <div class="card-content" style="padding-left: 5px; padding-right: 5px; padding-bottom: 0px; padding-top: 0px; margin-bottom: 5px;  margin-top: 5px;">
                                          <div class="foot4 circle" style="width: 80px; height: 80px; padding: 0px;">
                                              <center style="font-size: -webkit-xxx-large; color: white;">{{resumencabeza.LETRA}}</center>
                                          </div>
                                          <spam style="margin-left: 10px; font-size: large;">{{resumencabeza.NOMBRE}}</spam>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col s12" style="margin-top: 42px;">
                                  <div class="card-panel col s12">
                                      <div class="col m12 s12">
                                          <div class="collection">
                                              <a href="javascript:void(0)" class="collection-item coloritem"><strong>DOCUMENTO: </strong><span style="color: black;">{{resumencabeza.TIPODOC}} - {{resumencabeza.DOC}}</span></a>
                                              <a href="javascript:void(0)" class="collection-item coloritem"><strong>FECHA: </strong><span style="color: black;">{{resumencabeza.FECHA}}</spam><span class="badge">Cama {{resumencabeza.CAMA}}</span></a>
                                              <a href="javascript:void(0)" class="collection-item coloritem"><strong>SERVICIO: </strong><span style="color: black;">{{resumencabeza.SERVICIO}}</span></a>
                                              <a href="javascript:void(0)" class="collection-item coloritem"><strong>DIAGNOSTICO: </strong><span style="color: black;">{{resumencabeza.DX}}</span></a>
                                              <a href="javascript:void(0)" class="collection-item coloritem"><strong>JUSTIFICACION: </strong><span style="color: black;">{{resumencabeza.JUSTIFICACION}}</span></a>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- card de asistentes  -->
                        <div class="col l6 m12 s12">
                          <div class="card">
                            <div class="card-content">
                              <h5>Detalle de Autorizacion</h5>
                            </div>
                            <div class="card-action">
                              <div class="row">
                                <table class="table table-bordered table-striped">
                                  <thead>
                                    <tr>
                                      <th style="text-align:center;">Producto</th>
                                      <th>Nombre</th>
                                      <th style="text-align:center;">Cantidad</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="det in resumen.DETALLE">
                                      <td style="text-align:center;">{{det.CODIGO}}</td>
                                      <td>{{det.NOMBRE}}</td>
                                      <td style="text-align:center;">{{det.CANTIDAD}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- carta de tablas adicionales -->
                      </div>
                    </div>
                    <div class="step-option">
                      <a class="btn-floating btn-large waves-light back-step" ng-click="wizardstep('paso3','back')" ><i class="material-icons dp48">keyboard_arrow_left</i></a>
                      <a class="btn-floating btn-large waves-light green" style="margin-top: 7px; position: absolute; right: 10px;" ng-click="wizardstep('paso3','finish')" ><i class="material-icons dp48">done_all</i></a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="tabII" class="col no-padding" style="width: 100%;">
        <div class="col no-padding" style="width: 100%;">
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <div class="row">
                  <div class="col m12 s12">
                      <div class="col m12 s12" style="margin-top: 0px; margin-bottom: 5px;">
                        <h5><strong>Autorizaciones Activas</strong></h5>
                        <div class="row">
                          <div class="responsive">
                            <table id="tableauta" class="responsive-table display dataTable"  style="width:100%; cursor:pointer;">
                              <thead>
                                <tr>
                                  <th>Codigo</th>
                                  <th>Tipo Documento</th>
                                  <th>Documento</th>
                                  <th>Fecha</th>
                                  <th>Estado</th>
                                  <th>Servicio</th>
                                </tr>
                              </thead>
                            </table>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="modaleditardetalle" class="modal" style="width: 94%; height: -webkit-fill-available;">
          <div class="modal-content">
            <div class="col s12">
              <!-- card de evento  -->
              <div class="col l5 m12 s12">
                <div class="card">
                  <div class="card-content">
                    <h5>Editar Solicitud de Autorizacion <spam>{{resumeneditcabeza.NUMERO}}</spam> <i ng-click="editarEncabezado()" style="cursor: pointer; position:absolute; right:16px;" class="fa fa-edit"></i></h5>
                  </div>
                  <div class="card-action" style="z-index: auto; padding-left: 0px; padding-right: 0px;">
                    <div class="row" ng-hide="!inactiveeditcabezera">
                      <div class="card-content">
                        <div class="col s12">
                          <div class="card" style="position: absolute; top: 0px; left: 0; width: 100%;">
                            <div class="card-content" style="padding-left: 5px; padding-right: 5px; padding-bottom: 0px; padding-top: 0px; margin-bottom: 5px;  margin-top: 5px;">
                                <div class="foot4 circle" style="width: 80px; height: 80px; padding: 0px;">
                                    <center style="font-size: -webkit-xxx-large; color: white;">{{resumeneditcabeza.LETRA}}</center>
                                </div>
                                <spam style="margin-left: 10px; font-size: large;">{{resumeneditcabeza.NOMBRE}}</spam>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col s12" style="margin-top: 42px;">
                        <div class="card-panel col s12">
                            <div class="col m12 s12">
                                <div class="collection">
                                    <a href="javascript:void(0)" class="collection-item coloritem"><strong>SOLICITUD </strong><span style="color: black;">{{resumeneditcabeza.NUMERO}}</a>
                                    <a href="javascript:void(0)" class="collection-item coloritem"><strong>DOCUMENTO </strong><span style="color: black;">{{resumeneditcabeza.TIPODOC}} - {{resumeneditcabeza.DOC}}</span></a>
                                    <a href="javascript:void(0)" class="collection-item coloritem"><strong>FECHA </strong><span style="color: black;">{{resumeneditcabeza.FECHA}}</spam><span class="badge">Cama {{resumeneditcabeza.CAMA}}</span></a>
                                    <a href="javascript:void(0)" class="collection-item coloritem"><strong>SERVICIO </strong><span style="color: black;">{{resumeneditcabeza.SERVICIO}}</span></a>
                                    <a href="javascript:void(0)" class="collection-item coloritem"><strong>DIAGNOSTICO </strong><span style="color: black;">{{resumeneditcabeza.DX}}</span></a>
                                    <a href="javascript:void(0)" class="collection-item coloritem"><strong>JUSTIFICACION </strong><span style="color: black;">{{resumeneditcabeza.JUSTIFICACION}}</span></a>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" ng-hide="inactiveeditcabezera" style="margin-bottom: 40px;">
                      <div class="col s12" style="margin-bottom: 20px;">
                        <form ng-submit="actualizarEncabezado()" name="formdetalle3" id="detalle3">
                          <div class="col s12">
                            <div class="input-field col s12">
                              <input id="fechaparseada" type="datetime-local" ng-model="encabezado.fecha">
                              <label style=" margin-top: -20px;">Ingreso:</label>
                            </div>
                            <div class="input-field col s12">
                              <label style=" margin-top: -20px;">Servicio:</label>
                              <select class="select-chosen-eps" ng-model="encabezado.servicio" required>
                                <option value="">Seleccionar</option>
                                <option ng-selected="las.CODIGO == encabezado.servicio" ng-repeat="las in listServiciosedit" ng-value="las.CODIGO">{{las.NOMBRE}}</option>
                              </select>
                            </div>
                            <div class="input-field col s3">
                              <a href="javascript:void(0)" ng-click="obtenerDiagnosticoEdit()"><i style="position: absolute; top: 16px; right: -20px;" class="material-icons prefix">search</i></a>
                              <input id="with_icon" type="text" ng-model="encabezado.coddiag" ng-blur="obtenerDiagnosticoEdit()" class="validate" required>
                              <label for="with_icon">DX ppal:</label>
                            </div>
                            <div class="input-field col s12">
                              <input type="text" ng-model="encabezado.nomdiag" disabled required>
                              <label for="horasprogramada" >Diagnostico Principal:</label>
                            </div>
                          </div>
                          <div class="col s12">
                             <div class="input-field col s12">
                               <textarea id="justificacion" ng-model="encabezado.justificacion"class="materialize-textarea" maxlength="1000"></textarea>
                               <label for="justificacion" >Justificacion Clinica:</label>
                             </div>
                          </div>
                          <div class="col s12">
                            <center><button type="submit" class="btn btn-large back-step">Actualizar</button></center>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- card de asistentes  -->
              <div class="col l7 m12 s12">
                <div class="card">
                  <div class="card-content">
                    <h5>Detalle de Autorizacion</h5>
                  </div>
                  <div class="card-action">
                    <div class="row">
                      <div class="col s12" style="margin-bottom: 20px;">
                        <form ng-submit="insertarDetalleEdit()" name="formdetalle2" id="detalle2">
                          <div class="col s12">
                            <div class="input-field col s3">
                              <!-- <a href="javascript:void(0)" ng-click="obtenerProducto2()"><i style="position: absolute; top: 16px; right: -20px;" class="material-icons prefix">search</i></a> -->
                              <input id="with_icon" type="text" ng-model="detalle.producto2" ng-blur="obtenerProductoEdit()" class="validate" required>
                              <label for="with_icon2">Codigo:</label>
                            </div>
                            <div class="input-field col s6">
                              <input id="nombre" type="text" ng-model="detalle.nombre2" disabled required>
                              <label for="nombre">Nombre:</label>
                            </div>
                            <div class="input-field col s2">
                              <input id="cantidad" type="number" ng-model="detalle.cantidad2" required>
                              <label for="cantidad">Cantidad:</label>
                            </div>
                            <div class="input-field col s1" style="position: absolute;right: -59px;">
                              <center><button type="submit" class="btn-floating btn-large waves-light back-step"><i class="material-icons dp48">add</i></button></center>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th style="text-align:center;">Producto</th>
                              <th>Nombre</th>
                              <th style="text-align:center;">Cantidad</th>
                              <th style="text-align:center;">Accion</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="det in resumenedit.DETALLE">
                              <td style="text-align:center;">{{det.CODIGO}}</td>
                              <td>{{det.NOMBRE}}</td>
                              <td style="text-align:center;">{{det.CANTIDAD}}</td>
                              <td style="text-align:center;"><i class="fa fa-trash" ng-click="eliminarProducto(det.NUMERO,det.UBICACION,det.RENGLON,'edit')"></i></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- carta de tablas adicionales -->
            </div>
          </div>
          <div class="modal-footer">
            <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-green btn-flat">Ok!</a>
          </div>
        </div>
       </div>
      <div ng-show="tabIII" class="col no-padding" style="width: 100%;">
        <div class="col no-padding" style="width: 100%;">
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <div class="row">
                  <div class="col m12 s12">
                      <div class="col m12 s12" style="margin-top: 0px; margin-bottom: 5px;">
                        <h5><strong>Autorizaciones</strong></h5>
                        <div class="row">
                          <div class="col s12">
                            <form ng-submit="obtenerAutorizaciones('I',buscaraut)" name="buscarauauteet" id="searchaut">
                              <div class="input-field col s4">
                                <input id="buscarautaa" type="text" ng-model="buscaraut" required>
                                <label for="buscarautaa">Buscar:</label>
                              </div>
                            </form>
                          </div>
                          <div class="responsive" ng-hide="inactiveaut2">
                            <table class="table table-bordered table-striped">
                              <thead>
                                <tr>
                                  <th style="text-align:center;">Codigo</th>
                                  <th style="text-align:center;">Tipo Documento</th>
                                  <th style="text-align:center;">Documento</th>
                                  <th style="text-align:center;">Fecha</th>
                                  <th style="text-align:center;">Estado</th>
                                  <th>Servicio</th>
                                  <th style="text-align:center;"># Autorización</th>
                                  <th style="text-align:center;">Detalle</th>
                                  <th style="text-align:center;" colspan="2">Formatos</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="sol in listAutorizacionesprocesadas">
                                  <td style="text-align:center;">{{sol.CODIGO}}</td>
                                  <td style="text-align:center;">{{sol.TIPODOC}}</td>
                                  <td style="text-align:center;">{{sol.DOC}}</td>
                                  <td style="text-align:center;">{{sol.FECHA}}</td>
                                  <td style="text-align:center;">{{sol.ESTADO}}</td>
                                  <td>{{sol.SERVICIO}}</td>
                                  <td style="text-align:center;">{{sol.NUMEROAUT}}</td>
                                  <td style="text-align:center;"><i style="cursor:pointer;" ng-click="verDetalle(sol.CODIGO,sol.UBICACION,sol.JUSTIFICACION)" class="fa fa-eye tooltipped" data-position="top" data-delay="50" data-tooltip="Detalle"></i></td>
                                  <td style="text-align:center;"><i style="cursor:pointer;" ng-click="print('solicitud',sol.CODIGO)" class="fa fa-file-text"></i></td>
                                  <td style="text-align:center;"><i style="cursor:pointer;" ng-hide="{{sol.SWITCH}}" ng-click="print('autorizacion',sol.NUMEROAUT,sol.UBICACION_AUT,sol.NUMERO_AUT)" class="fa fa-check tooltipped" data-position="top" data-delay="50" data-tooltip="Autorizacion"></i></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="modaldetalle" class="modal">
          <div class="modal-content">
            <h3>Detalle de Servicios</h3>
            <br>
            <blockquote>JUSTIFICACION: {{justificacion}}</blockquote>
            <table class="responsive-table table-bordered" style="height:100px;">
              <thead>
                <tr>
                  <th data-field="PRODUCTO" class="center-align">PRODUCTO</th>
                  <th data-field="NOMBRE" class="center-align">NOMBRE</th>
                  <th data-field="CANTIDAD" class="center-align">CANTIDAD</th>
                  <th data-field="ESTADO" class="center-align">ESTADO</th>
                  <th data-field="OBSERVACION" class="center-align">OBSERVACION</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="det in resumendetalle">
                  <td class="order-th center-align">{{det.CODIGO}}</td>
                  <td class="order-th center-align">{{det.NOMBRE}}</td>
                  <td class="order-th center-align">{{det.CANTIDAD}}</td>
                  <td class="order-th center-align">{{det.STATUS}}</td>
                  <td class="order-th center-align">{{det.DESCRIPCION}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-green btn-flat">Ok!</a>
          </div>
        </div>
      </div>
      <div ng-show="tabIV" class="col no-padding" style="width: 100%;">
        <div class="col no-padding" style="width: 100%;">
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <div class="row">
                  <div class="col m12 s12">
                      <div class="col m12 s12" style="margin-top: 0px; margin-bottom: 5px;">
                        <h5><strong>Producto</strong></h5>
                        <div class="row">
                          <div class="col s12">
                            <form  name="findpro" id="findproa">
                              <div class="input-field col s4">
                                <input id="buscarpro" type="text" ng-model="buscarpro" ng-change="findProducto(buscarpro)" required>
                                <label for="buscarpro">Buscar:</label>
                              </div>
                            </form>
                          </div>
                          <div class="responsive" ng-hide="inactivepro">
                            <table class="table table-bordered table-striped">
                              <thead>
                                <tr>
                                  <th style="text-align:center;">Producto</th>
                                  <th style="text-align:center;">Nombre</th>
                                  <th style="text-align:center;">Servicio</th>
                                  <th style="text-align:center;">Contrato</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="sol in listProductos">
                                  <td style="text-align:center;">{{sol.CODIGO}}</td>
                                  <td style="text-align:center;">{{sol.NOMBRE}}</td>
                                  <td style="text-align:center;">{{sol.CLASIFICACION}}</td>
                                  <td style="text-align:center;">{{sol.CONTRATO}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="modaldetalle" class="modal">
          <div class="modal-content">
            <h3>Detalle de Servicios</h3>
            <table class="responsive-table table-bordered" style="height:100px;">
              <thead>
                <tr>
                  <th data-field="PRODUCTO" class="center-align">PRODUCTO</th>
                  <th data-field="NOMBRE" class="center-align">NOMBRE</th>
                  <th data-field="CANTIDAD" class="center-align">CANTIDAD</th>
                  <th data-field="ESTADO" class="center-align">ESTADO</th>
                  <th data-field="OBSERVACION" class="center-align">OBSERVACION</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="det in resumendetalle">
                  <td class="order-th center-align">{{det.CODIGO}}</td>
                  <td class="order-th center-align">{{det.NOMBRE}}</td>
                  <td class="order-th center-align">{{det.CANTIDAD}}</td>
                  <td class="order-th center-align">{{det.STATUS}}</td>
                  <td class="order-th center-align">{{det.DESCRIPCION}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-green btn-flat">Ok!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .tab a:hover{
      background-color: #2196f3 !important;
      color: white !important;
    }
    /* Style the active class (and buttons on mouse-over) */
    .activebtn-step, .activebtn-step:hover {
      background-color: #2196f3 !important;
      color: white !important;
    }
    .step-item{
      height: 100px;
      width: 100px;
      border-radius: 100px;
      padding: 0px;
    }
    .donebtn-step, .donebtn-step:hover {
      background-color: #2196f3 !important;
      color: white !important;
    }
    .steper{
      width: 60%;
      display: inline-flex;
      text-align: center;
      padding-bottom: 10px;
      margin-left: 20%;
    }
    .step-divider{
      width: 100%;
      position: relative;
      top: 30px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 20px;
    }
    .btn-step-content{
      position: relative;
      display: none;
      height: calc(100% - 132px);
      width: inherit;
      overflow: visible;
      margin-left: 41px;
      margin-right: 24px;
    }
    .step-option{
      background: #eee;
      height: 70px;
      position: absolute;
      bottom: -45px;
      width: 100%;
      margin-bottom: 6px;
      left: 0px;
      z-index: 2;
    }
    .back-step, .back-step:hover{
      margin-top: 7px;
      position: absolute;
      right: 80px;
      background: #ff4350 !important;
    }
    .btn-step{
      background-color: rgba(0,0,0,.3);
      color: white;
    }
    .hover-item:hover {background-color: rgba(221, 221, 221, 0.45);}
    .hover-item:active {background-color: rgba(221, 221, 221, 0.45);}
    .tabmenu>li:target>a {background-color: rgba(221, 221, 221, 0.45);}
    .requerido{color:red !important;}
    .tabactiva{background-color: rgba(206, 206, 206, 0.71);}
    .colorblack{color: black;}
    .itemsspam{
      color: white !important;
      border-radius: 12px !important;
      box-shadow: 2px 2px 3px 0px #ccc !important;
      position: relative !important;
      top: 5px !important;
      left: 11px !important;
      cursor: pointer;
    }
    .hovpanel:hover{
      background: #32364c2b;
      color: #ffa51b;
      cursor: pointer;
    }
    .mayus{text-transform: uppercase;}
      #header-fixed {
          position: fixed;
          top: 0px; display:none;
      }
      .cuadrado {
        width: 25vh;
        max-width: 240px;
        height: 25vh;
        max-height: 240px;
        position: relative;
        background: white;
        box-shadow: 0 0 8px 1px #c7c7c7;
      }
      .coloritem{
            color: black !important;
      }
  </style>
