<div>
  <div id="my_menu" class="row section-header" style="background: #9897e81f;margin-bottom: 0">
    <div class="col l12">
      <ul class="left mailbox-custom-search list-inline"
        style="width: 100%;display: flex;justify-content: space-between;align-items: center;">
        <li>
          <h5 style="font-family: 'Product Sans',Arial,sans-serif;font-size: 22px;line-height: 22px;opacity: .54;">
            Solicitud de Autorización (ESOA)</h5>
        </li>
        <li>
          <i ng-show="mostrar_datos==true" id="atras" class=" icon-left-open-1" ng-click="atras()"
            style="cursor:pointer !important">ATRAS</i>
        </li>
      </ul>
    </div>
  </div>
  <div class="container" style="width: 100% ;       padding-top: 10px; background: #fff;    margin-bottom: -77px;">
    <!-- <div ng-show="isSet(1)"> -->
    <div ng-hide="mostrar_datos==true">
      <div class="row content-container server margin slit-in-vertical" ng-hide="bus_ava==true">
        <div class="col l12" style="position: relative;">
          <small ng-click="bus_ava=bus_ava==true?false:true"
            style="padding: 0.3em;border-radius: 0em 0em 1em 1em;cursor: pointer;position: absolute;top: 7em;left: 40%;background: #ecebf6;">Busqueda
            Avanzada</small>
          <div class="row " style="border: 1px solid #ebebf5;position: relative;">
            <form ng-submit="buscar_solicitud();val=''">
              <div class="col l8 s8 m8">
                <div class="input-field col l12" style="display: flex;align-items: flex-end;">
                  <input id="codigo_bus" type="text" ng-model="codigo_bus">
                  <label for="codigo_bus" class="active">Número de solicitud, NIT del prestador o Número de
                    Identificacion del Paciente </label>
                </div>
              </div>
              <div class="col l2 s2 m2">
                <div class="input-field col l12" style="display: flex;align-items: flex-end;">
                  <select class="select-chosen-eps" ng-model="estado_bus" required>
                    <option disabled value="">SELECCIONAR</option>
                    <option value="A">ACTIVO</option>
                    <option value="P">PROCESADO</option>
                    <option value="X">ANULADO</option>
                  </select>
                  <label class="active">Estado</label>
                </div>
              </div>
              <div ng-show="!gestion.ESTADO" class="col l2 s2 m2" style=" padding: 20px;">
                <a ng-click="buscar_solicitud();val=''" style="background: #ebebf5;
                                            box-shadow: 2px 3px 5px grey;"
                  class="btnRotate modal-action modal-close waves-effect waves-green btn-flat"><i
                    class="icon-search-outline"></i></a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- FILTRO  -->
      <div class="row content-container server margin flip-in-ver-right" ng-show="bus_ava==true">
        <div class="col s12" style="    border-radius: 1em; border: 3px solid #ecebf6;">
          <ul class="left mailbox-custom-search list-inline"
            style="width: 100%;display: flex;justify-content: space-between;align-items: center; margin-bottom: 2em;">
            <li>
              <h5 style="font-family: 'Product Sans',Arial,sans-serif;font-size: 22px;line-height: 22px;opacity: .54;">
                Busqueda Avanzada</h5>
            </li>
            <li>
              <i id="atras" class=" icon-left-open-1" ng-click="bus_ava=bus_ava==true?false:true"
                style="cursor:pointer !important">Menos</i>
            </li>
          </ul>
          <div class="row">
            <div class="col s12">
              <ul class="StepProgress">
                <li class="StepProgress-item s">
                  <strong class="noselectxtpqr">Sección 1</strong>
                  <div class="row" id="seccion1">
                    <div class="col s4">
                      <div class="row" style="margin: 0">
                        <label for="with_icon" style="margin-top: -20px;">Ips</label>
                      </div>
                      <input id="nitips" type="text" ng-model="bus_avanzada.nit" placeholder="Nit">
                    </div>
                    <div class="col  s4">
                      <div class="row" style="margin: 0">
                        <label for="with_icon" style="margin-top: -20px;">AFiliado</label>
                      </div>
                      <input id="Documentoss" type="text" ng-model="bus_avanzada.documento" placeholder="Documento">
                    </div>
                    <div class="col  s4">
                      <div class="row" style="margin: 0">
                        <label for="with_icon" style="margin-top: -20px;">Responsable</label>
                      </div>
                      <input id="responsabless" type="text" ng-model="bus_avanzada.responsable"
                        placeholder="Documento">
                    </div>
                  </div>
                </li>
                <li class="StepProgress-item s">
                  <strong class="noselectxtpqr">Sección 2</strong>
                  <div id="seccion2">
                    <div class="row">
                      <div class="col s4">
                        <div class="row" style="margin: 0">
                          <label style="cursor: pointer;">Numero del ESOA</label>
                        </div>
                        <div class="col s12">
                          <input type="number" placeholder="Codigo" min="1" max="9999" ng-model="bus_avanzada.v_nesoa">
                        </div>
                      </div>
                      <div class="col s4">
                        <div class="row" style="margin: 0">
                          <label style=" margin-top: -20px;">Estado</label>
                        </div>
                        <div class="col  s12">
                          <select class="select-chosen-eps" ng-model="bus_avanzada.estado">
                            <option value="" disabled>SELECCIONAR</option>
                            <option value="A">ACTIVAS</option>
                            <option value="X">ANULADAS</option>
                            <option value="P">PROCESADAS</option>
                          </select>
                        </div>
                      </div>
                      <div class="col s4">
                        <div class="row" style="margin: 0">
                          <label style="cursor: pointer;">Servicio</label>
                        </div>
                        <div class="col s12">
                          <input type="number" placeholder="Codigo" min="1" max="9999"
                            ng-model="bus_avanzada.servicio">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s6">
                        <div class="row" style="margin-bottom: 10px">
                          <label for="with_icon" style="margin-top: -20px;">Fecha Ingreso</label>
                        </div>
                        <div class="row" style="margin: 0">
                          <div class="input-field col s6" style="margin: 0">
                            <label for="with_icon" style="margin-top: -20px;font-size: 10px">Inicio</label>
                            <input id="with_icon" type="date" ng-model="bus_avanzada.fecha_ordenini">
                          </div>
                          <div class="input-field col s6" style="margin: 0">
                            <label for="with_icon" style="margin-top: -20px;font-size: 10px">Fin</label>
                            <input id="with_icon" type="date" ng-model="bus_avanzada.fecha_ordenfin">
                          </div>
                        </div>
                      </div>
                      <div class="col s6">
                        <div class="row" style="margin-bottom: 10px">
                          <label for="with_icon" style="margin-top: -20px;">Fecha Modificacion</label>
                        </div>
                        <div class="row" style="margin: 0">
                          <div class="input-field col s6" style="margin: 0">
                            <label for="with_icon" style="margin-top: -20px;font-size: 10px">Inicio</label>
                            <input id="with_icon" type="date" ng-model="bus_avanzada.fecha_confirmadoini"
                             >
                          </div>
                          <div class="input-field col s6" style="margin: 0">
                            <label for="with_icon" style="margin-top: -20px;font-size: 10px">Fin</label>
                            <input id="with_icon" type="date" ng-model="bus_avanzada.fecha_confirmadofin"
                             >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="row">
                <div ng-show="!gestion.ESTADO" class="col s12 center" style=" padding: 20px;">
                  <a ng-click="buscar_avanzada_accion();" style="background: #ebebf5;
                                            box-shadow: 2px 3px 5px grey;"
                    class="btnRotate modal-action modal-close waves-effect waves-green btn-flat"><i
                      class="icon-search-outline"></i>BUSCAR
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-show="mostrar_datos==true">
      <div ng-show="mostrar_esoa == true">
        <div class="row content-container server margin">
          <div class="card charts">
            <div class="card-content">
              <div class="row">
                <div class="col l12 m12 s12">
                  <ul tabs="" reload="allTabContentLoaded" style="overflow: hidden;"
                    class="ng-isolate-scope tabs ui-tabs ui-corner-all ui-widget ui-widget-content">
                    <li class="tab col l12" style="cursor: pointer;">
                      <a ng-class="{ active: isSet(1) }" ng-click="setTab(1)" id="tab"
                        class="col l12 large waves-effect waves-pink tabI"><i class="icon-doc-text"></i> Gestión de
                        Solicitud </a>
                    </li>
                    <li class="tab col l12" style="cursor: pointer;">
                      <a ng-class="{ active: isSet(2) }" ng-click="setTab(2);"
                        class="col l12 large waves-effect waves-pink tabII"><i class="icon-qrcode"></i> Detalles de
                        Solicitud </a>
                    </li>
                    <li class="tab col l12" style="cursor: pointer;">
                      <a ng-class="{ active: isSet(3) }" ng-click="setTab(3);"
                        class="col l12 large waves-effect waves-pink tabII"><i class=" icon-user-md"></i>Censo
                        Hospitalario</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row" ng-show="isSet(1)">
                <!-- linea 0 -->
                <div class="col s12">
                  <div class="input-field col s6">
                    <input id="with_icon" type="text" disabled ng-model="esoa.NUMERO">
                    <label for="with_icon">Numero</label>
                  </div>
                  <div class="input-field col s5">
                    <input id="tema" type="text" ng-model="esoa.UBICACION" disabled>
                    <label for="tema">Ubicación:</label>
                  </div>
                </div>
                <!-- linea 1 -->
                <div class="col s12">
                  <div class="input-field col s4">
                    <label class="active">Tipo Documento:</label>
                    <select class="select-chosen-eps" disabled ng-model="esoa.TIPO_DOCUMENTO" required>
                      <option value="">Seleccionar</option>
                      <option value="CC">CEDULA DE CIUDADANÍA</option>
                      <option value="TI">TARJETA DE IDENTIDAD</option>
                      <option value="RC">REGISTRO CIVIL</option>
                      <option value="CE">CEDULA DE EXTRANJERÍA</option>
                      <option value="PA">PASAPORTE</option>
                      <option value="PE">PERMISO ESPECIAL DE PERMANENCIA</option>
                      <option value="AS">ADULTO SIN IDENTIFICACIÓN</option>
                      <option value="MS">MENOR SIN IDENTIFICACIÓN</option>
                      <option value="CD">CARNET DIPLOMÁTICO</option>
                    </select>
                  </div>
                  <div class="input-field col s3">
                    <input id="with_icon" type="text" disabled ng-model="esoa.DOCUMENTO">
                    <label for="with_icon">Documento</label>
                  </div>
                  <div class="input-field col s4">
                    <input id="tema" type="text" ng-model="esoa.NOMBRE_AFILIADO" disabled>
                    <label for="tema">Nombre:</label>
                  </div>
                </div>
                <!-- linea 2 -->
                <div class="col s12">
                  <div class="input-field col s4">
                    <input id="fechaparseada" type="date" class="datepicker picker__input uppercase"
                      ng-model="esoa.FECHA_INGRESO">
                    <label class="active">Ingreso:</label>
                  </div>
                  <div class="input-field col s3">
                    <input id="contrato" type="text" disabled ng-model="esoa.CONTRATO">
                    <label>Contrato:</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" disabled ng-model="esoa.NOMBRE_ESTADO" required>
                    <label for="horasprogramada">Estado:</label>
                  </div>
                </div>
                <!-- linea 2.5-->
                <div class="col s12">
                  <div class="col s2" style="
                                            text-align: center;
                                            align-items: center;
                                            margin: 10px;
                                        ">
                    <i ng-show="esoa.ADJUNTO" ng-click="descargafile(esoa.ADJUNTO)" class="icon-doc-text" style="
                                            border: 1px solid;
                                            border-radius: 7px;
                                            padding: 10px;
                                            color: #039be5;
                                            text-align: center;
                                            display: flex; 
                                            margin: 10px; 
                                            align-items: center;
                                        "> <strong style="margin-left: 7px;font-style: normal;">Archivo</strong> </i>
                  </div>
                  <div class="input-field col s3">
                    <label style=" margin-top: -20px;">Ubicacion Paciente:</label>
                    <select class="select-chosen-eps" ng-model="esoa.UBICACIONPACIENTE" required>
                      <option disabled value="">Seleccionar</option>
                      <option ng-selected="loa.CODIGO ==esoa.UBICACIONPACIENTE" ng-repeat="loa in listUbicaciones"
                        ng-value="loa.CODIGO">{{loa.NOMBRE}} </option>
                    </select>
                  </div>
                  <div class="input-field col s3">
                    <input type="text" ng-model="esoa.STATUS" disabled>
                    <label for="horasprogramada">Estatus:</label>
                  </div>
                  <div class="input-field col s2">
                    <label class="active">Tipo Servicio:</label>
                    <input type="text" disabled ng-model="esoa.TIPO_SERVICIO">
                  </div>
                </div>
                <!-- linea 3-->
                <div class="col s12">
                  <div class="input-field col s4">
                    <label class="active">Servicio:</label>
                    <select id="clasificacion_select" class="select-chosen-eps" ng-model="esoa.CODCLASI" required>
                      <option value="">SELECCIONAR</option>
                      <option ng-repeat="las in listServiciosedit" value="{{las.CODIGO}}">{{las.CODIGO}}-{{las.NOMBRE}}
                      </option>
                    </select>
                  </div>
                  <div class="input-field col s2">
                    <div class="switch">
                      <label style=" margin-top: -15px;">Hijo de:</label>
                      <label style="top: 20px;"> NO<input type="checkbox" id="hijode" disabled ng-model="sw"><span
                          class="lever"></span>SI </label>
                    </div>
                  </div>
                  <div class="input-field col s2">
                    <input type="text" id="numurge" disabled ng-model="esoa.VIAINGRESO">
                    <label for="numurge">Via de Ingreso:</label>
                  </div>
                  <div class="input-field col s3">
                    <input type="text" id="numurge" disabled ng-model="esoa.URGENCIA">
                    <label for="numurge">Número Urgencia:</label>
                  </div>
                </div>
                <!-- linea 4-->
                <div class="col s12">
                  <div class="col s5">
                    <div class="input-field col m12 s12 l12">
                      <input id="diagnostico1" type="text" required disabled ng-model="esoa.NOMBRE_DX" value=""
                        class="upper" />
                      <label for="diagnostico1" class=""> Diagnostico Principal </label>
                      <!-- <i class="icon icon-search" style="position: absolute;top: 0;right: 15px;border: 1px solid #039be5;color: #039be5;border-radius: 14px;
                                                padding-top: 0; padding-bottom: 1px;font-size: 23px; cursor: pointer;"
                                                class="btn-floating btn waves-effect waves-light blue"
                                                ng-click="filtrar_diagnosticos('1')"></i> -->
                    </div>
                  </div>
                  <div class="col s6">
                    <div class="input-field col m12 s12 l12">
                      <input id="diagnostico2" type="text" disabled ng-model="esoa.NOMBRE_DX1" class="upper" />
                      <label for="diagnostico2" class=""> Diagnostico Segundario </label>
                      <!-- <i class="icon icon-search" style="position: absolute;top: 0;right: 15px;border: 1px solid #039be5;color: #039be5;border-radius: 14px;
                                         padding-top: 0; padding-bottom: 1px;font-size: 23px; cursor: pointer;"
                                                class="btn-floating btn waves-effect waves-light blue"
                                                ng-click="filtrar_diagnosticos('2')"></i> -->
                    </div>
                  </div>
                </div>
                <!-- linea 5-->
                <div class="col s12">
                  <div class="col s11">
                    <label for="justificacion" class="active" style="
                                          margin-top: -7px;
                                      ">Justificación Clinica:</label>
                    <textarea id="justificacion"
                      style="padding-top: 0px; padding-bottom: 0px;    width: 848px; text-transform: uppercase"
                      ng-model="esoa.JUSTIFICACION" maxlength="1000">
                                        </textarea>
                  </div>
                </div>
                <!-- Linea 6 -->
                <div class="col s12">
                  <div class="input-field col s2">
                    <input type="text" ng-model="esoa.MEDICO" disabled>
                    <label for="horasprogramada">Medico:</label>
                  </div>
                  <div class="input-field col s2">
                    <input type="text" ng-model="esoa.CARGO_MEDICO" disabled>
                    <label for="horasprogramada">Cargo Medico:</label>
                  </div>
                  <div class="input-field col s2">
                    <input id="with_icon" type="text" ng-model="esoa.NIT" ng-blur="obtenerNombreIps()" disabled>
                    <label for="with_icon">IPS Solicitante:</label>
                  </div>
                  <div class="input-field col s5">
                    <input type="text" ng-model="esoa.IPS" disabled disabled>
                    <label for="horasprogramada">Nombre de la IPS :</label>
                  </div>
                </div>
                <!-- Linea 7 -->
              </div>
              <div class="row" ng-show="isSet(2)" style="    overflow-x: scroll;
                        margin-bottom: 10px;">
                <div class="col l12 m12 s12">
                  <table id="listar_esoa" class="table-bordered" style="width: 70em;">
                    <thead class="default-background white-text">
                      <tr>
                        <th style="
                                            width: 7em;
                                        "><b>RENGLON</b></th>
                        <th><b>PRODUCTO</b></th>
                        <th style="width:12em "><b>VALOR</b></th>
                        <th><b>CANTIDAD</b></th>
                        <th style="width:200px"><b>ESTADO</b></th>
                        <th style="width:300px"><b>OBSERVACIÓN</b></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="ld in listar_detalles">
                        <td>{{ld.renglon}}</td>
                        <td style="width:250px">{{ld.codigo}}--{{ld.nombre}} <i class="icon-pencil-4"
                            ng-click="modal_filtrar('P',$index)" style="
    border: 1px solid #1a2e63;
    border-radius: 1em;
    padding: 2px;
"></i></td>
                        <td>{{ld.valor}}</td>
                        <td><input id="cantidad_producto{{$index}}" type="number" ng-model="ld.cantidad"></td>
                        <td style="text-align:center;">
                          <select style="margin: -10px;padding: 0;"
                            class="ng-touched ng-valid select-chosen-eps ng-dirty ng-valid-parse" id="ajustes"
                            ng-model="ld.estado">
                            <option value="" disabled>SELECCIONAR</option>
                            <option value="A">APROBADO</option>
                            <option value="R">ANULADO</option>
                          </select>
                        </td>
                        <td style="padding:0">
                          <!-- <textarea id="observacion" style="padding-top: 0px; padding-bottom: 0px;  text-transform: uppercase;    max-width: 300px;
                                                        min-width: 300px;
                                                        min-height: 60px;" ng-model="ld.observacion"
                          ng-disabled="ld.estado=='A'|| ld.estado==''"> -->
                          <!-- </textarea> -->
                          <textarea id="observacion" style="padding-top: 0px; padding-bottom: 0px;  text-transform: uppercase;    max-width: 300px;
                                                        min-width: 300px;
                                                        min-height: 60px;" ng-model="ld.observacion">
                                                    </textarea>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row" ng-show="isSet(3)">
                <div class="col l12 s12 m12 ">
                  <div class="row white" style="padding-bottom: 20px;margin-bottom: 0;">
                    <div class="col l12 m12 s12" style="position:relative">
                      <div class="row margin">
                        <table class="table table-bordered table-striped">
                          <thead class="default-background white-text">
                            <th style="width: 6em;">
                              <center>Codigo </center>
                            </th>
                            <th>
                              <center>Datos Afiliado</center>
                            </th>
                            <th>
                              <center>Diagnostico </center>
                            </th>
                            <th>
                              <center>IPS </center>
                            </th>
                            <th>
                              <center>Responsable </center>
                            </th>
                            <th style="width: 9em;">
                              <center>Fecha Registrado</center>
                            </th>
                            <th style="width: 9em;">
                              <center>Fecha Ingreso Estancia</center>
                            </th>
                            <th style="width: 7em;">
                              <center>Estado del Censo</center>
                            </th>
                            <th>
                              <center>Historico de Evolución Medica</center>
                            </th>
                            <th>
                              <center>Chat</center>
                            </th>
                          </thead>
                          <tbody>
                            <tr data-ng-repeat="data in censos track by $index"
                              ng-style="{background:  [($index%2)==0?'#fff':'#ebebf5']}">
                              <td>{{data.CODIGOCENSO}}</td>
                              <td>{{data.NOMBREAFILIADO}} <br> {{data.TIPODOCUMENTO}}. {{data.DOCUMENTO}} </td>
                              <td>{{data.DIAGNOSTICO}}</td>
                              <td>{{data.NOMBREIPS}}</td>
                              <td>{{data.RESPONSABLE}}</td>
                              <td>{{data.FECHA}}</td>
                              <td>{{data.FECHAINGRESO}}</td>
                              <td class="white-text" ng-class="data.ESTADO=='Activo'?'green':'blue'">
                                {{data.ESTADO | uppercase}}</td>
                              <td>
                                <button class="default-background btn-floating waves-effect waves-light"
                                  ng-click="detail(data.CODIGOCENSO, data.UBICACION)"><i class="icon-docs"></i></button>
                              </td>
                              <td>
                                <button class="default-background btn-floating waves-effect waves-light"
                                  ng-click="mostrar_chat(data.CODIGOCENSO, data.UBICACION)"><i
                                    class=" icon-chat-empty"></i></button>
                              </td>
                            </tr>
                            <tr ng-show="mostrar_error_censo==true">
                              <td colspan="10">No se encontraron Censo relacionado a este ESOA</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- boton guardar actualizar-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="text-align: center;"   ng-show="ocultarxrol==false">
                <div class=" col l3 m6 s6">
                  <button id="atras" class="btn" ng-click="atras()" style="margin-top: 10px;">ATRAS
                  </button>
                </div>
                <div class="col l3 m6 s6" ng-show="esoa.ESTADO=='A'">
                  <button id="rechazar" ng-click="actualizar_datos()" class="btn green"
                    style="margin-top: 10px;">Procesar </button>
                </div>
                <div class="col l3 m6 s6" ng-show="esoa.ESTADO=='A' && isSet(2)" style="">
                  <button id="rechazar" ng-click="actualizar_datos2()" class="btn orange"
                    style="margin-top: 10px;">Guardar Producto</button>
                </div>
                <div class="col l3 m6 s6" ng-show="esoa.ESTADO=='A' ">
                  <button id="rechazar" ng-show="listar_detalles.length==0" ng-click="anular_datos()" class="btn red"
                    style="margin-top: 10px;">Anular </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="reporteTemp && esoa.length==0">
        <div class="row content-container server margin">
          <div class="col l4 m4 s4">
            <form>
              <div class="input-field col l12" id="filtrar_solicitudes">
                <input ng-change="filter(val)" id="buscarautaa" type="text" ng-model="val">
                <label for="buscarautaa" style="margin-left: 10px;" class="">
                  <i class="icon-search-2"></i> Filtrar: </label>
              </div>
            </form>
          </div>
          <div class="col l4 m4 s4">
          </div>
          <div class="col l4 m4 s4" style=" margin-top: 1em;">
            <div> Un resultado de <strong> {{reporteTemp.length}} solicitud de autorizaciones</strong> Por el filtro
              Anterior </div>
          </div>
        </div>
        <div class="row content-container server margin" style=" position: relative;">
          <div class="col l12">
            <div class="row" ng-repeat="mda in reporteTemp  | inicio: currentPage * pageSize | limitTo: pageSize">
              <div class="col s12 m12 l12">
                <div class="card card-info row">
                  <div class="card-header white-text default-background col s12"><i class=" icon-doc-text"></i>CODIGO
                    ESOA {{mda.NUMERO}}</div>
                  <div class="card-content col s12">
                    <div class="row">
                      <div class="col s12">
                        <div class="row margin">
                          <div class="col s2"
                            style="font-size: 12px;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;padding-bottom: 10px;">
                            <div>
                              <b><i class="icon-calendar"></i> FECHA INGRESO</b>
                            </div>
                            <div>
                              <span> {{mda.FECHA_INGRESO}}</span>
                            </div>
                          </div>
                          <div class="col s3"
                            style="font-size: 12px;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;padding-bottom: 10px;">
                            <div>
                              <b><i class="icon-calendar"></i> FECHA MODIFICADO</b>
                            </div>
                            <div>
                              <span> {{mda.FECHA_MODIFICADO}}</span>
                            </div>
                          </div>
                          <div class="col s3"
                            style="font-size: 12px;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;padding-bottom: 10px;">
                            <div>
                              <b><i class=" icon-pin-outline"></i>FUNCIONARIO RESPONSABLE</b>
                            </div>
                            <div>
                              <span> {{mda.RESPONSABLE}}</span>
                            </div>
                          </div>
                          <div class="col s2"
                            style="font-size: 12px;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;padding-bottom: 10px;">
                            <div>
                              <b><i class="icon-location-3"></i> UBICACION</b>
                            </div>
                            <div>
                              <span> {{mda.UBICACION}}</span>
                            </div>
                          </div>
                          <div class="col s2"
                            style="font-size: 12px;border-bottom: 1px solid #ddd;padding-bottom: 10px;">
                            <div>
                              <b><i class=" icon-pin-outline"></i>ESTADO</b>
                            </div>
                            <div>
                              <span style="color: {{mda.ESTADO_CLASE}}; font-weight: 700;"> {{mda.NOMBRE_ESTADO}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="row" style="margin-bottom: 0">
                          <div class="col s5"
                            style="font-size: 12px;border-bottom: 1px solid #ddd;padding-bottom: 10px;border-right: 1px solid #ddd;">
                            <div>
                              <b> <i class="icon-vcard"></i> AFILIADO</b>
                            </div>
                            <div>
                              <span>{{mda.DOCUMENTO}}-{{mda.NOMBRE_AFILIADO}}</span>
                            </div>
                          </div>
                          <div class="col s5"
                            style="font-size: 12px;border-right: 1px solid #ddd;padding-bottom: 10px;border-bottom: 1px solid #ddd">
                            <div>
                              <b><i class="icon-hospital"></i> NIT IPS</b>
                            </div>
                            <div>
                              <span>{{mda.NIT}}-{{mda.IPS}}</span>
                            </div>
                          </div>
                          <div class="col s2"
                            style="font-size: 12px;border-right: 1 px solid #ddd;padding-bottom: 10px;border-bottom: 1px solid #ddd">
                            <div>
                              <b><i class="icon-docs"></i>CONTRATO</b>
                            </div>
                            <div>
                              <span>{{mda.CONTRATO}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="row" style="margin-bottom: 0">
                          <div class="col s5"
                            style="font-size: 12px;border-bottom: 0px solid #ddd;padding-bottom: 10px;border-right: 1px solid #ddd;">
                            <div>
                              <b> <i class="icon-stethoscope"></i> SERVICIO</b>
                            </div>
                            <div>
                              <span>{{mda.COD_CLASI}}-{{mda.NOMBRE_CLASIFICACION}}</span>
                            </div>
                          </div>
                          <div class="col s5"
                            style="font-size: 12px;border-bottom: 0px solid #ddd;padding-bottom: 10px;border-right: 1px solid #ddd;">
                            <div>
                              <b> <i class="icon-stethoscope"></i> DIAGNOSTICO</b>
                            </div>
                            <div>
                              <span>{{mda.COD_DX}}-{{mda.NOMBRE_DX}}</span>
                            </div>
                          </div>
                          <div class="col s2" ng-click="descargafile(mda.ADJUNTO);"
                            style="font-size: 12px;border-bottom: 0px solid #ddd;padding-bottom: 10px;border-right: 0px solid #ddd;">
                            <div>
                              <b> ANEXO</b>
                            </div>
                            <div>
                              <span><i style="font-size: 20px" class=" icon-doc-text-inv"></i></span>
                            </div>
                          </div>
                        </div>
                 <!--        <div class="row" style="margin-bottom: 0">
                          <div class="col s12" style="font-size: 12px; border-top: 1px solid #ddd;padding-bottom: 10px;border-right: 0px
                             solid #ddd;">
                            <div>
                              <b><i class=" icon-align-justify"></i> OBSERVACIÓN</b>
                            </div>
                            <div>
                              <span>{{mda.JUSTIFICACION}}</span>
                            </div>
                          </div>
                        </div> -->
                            <div class="row" style="margin-bottom: 0">
                          <div class="col s10" style="font-size: 12px; border-top: 1px solid #ddd;padding-bottom: 10px;border-right: 0px
                             solid #ddd;">
                            <div>
                              <b><i class=" icon-align-justify"></i> OBSERVACIÓN</b>
                            </div>
                            <div>
                              <span>{{mda.JUSTIFICACION}}</span>
                            </div>
                          </div>
                          <div class="col s2" ng-click="showmodalcesochat(mda);" style="font-size: 12px; border-top: 1px solid #ddd;padding-bottom: 10px;border-left: 1px
                             solid #ddd;">
                            <div>
                              <b> CENSO</b>
                            </div>
                            <div>
                              <span><i class="material-icons prefix">assignment</i></span>
                            </div>
                          </div>
                        </div>
                        <div  ng-hide="showcenso" class="row" style="margin-bottom: 0">
                          <div class="row">
                            <div class="col s12">
                              <div class="row">
                                <div class="col l12 m12 s12">
                                  <table class="table table-bordered table-striped">
                                    <thead>
                                      <th style="width: 6em;">
                                        <center>Codigo </center>
                                      </th>
                                      <th>
                                        <center>Responsable </center>
                                      </th>
                                      <th style="width: 9em;">
                                        <center>Fecha Registrado</center>
                                      </th>
                                      <th style="width: 9em;">
                                        <center>Fecha Ingreso Estancia</center>
                                      </th>
                                      <th style="width: 7em;">
                                        <center>Estado del Censo</center>
                                      </th>
                                      <th>
                                        <center>Historico de Evolución Medica</center>
                                      </th>
                                      <th>
                                        <center>Chat</center>
                                      </th>
                                    </thead>
                                    <tbody>
                                      <tr data-ng-repeat="data in tempcensos track by $index"
                                        ng-style="{background:  [($index%2)==0?'#fff':'#ebebf5']}">
                                        <td>{{data.CODIGOCENSO}}</td>
                                        <td>{{data.RESPONSABLE}}</td>
                                        <td>{{data.FECHA}}</td>
                                        <td>{{data.FECHAINGRESO}}</td>
                                        <td class="white-text" ng-class="data.ESTADO=='Activo'?'green':'blue'">
                                          {{data.ESTADO | uppercase}}</td>
                                        <td>
                                          <button class="default-background btn-floating waves-effect waves-light"
                                            ng-click="detail(data.CODIGOCENSO, data.UBICACION)"><i
                                              class="icon-docs"></i></button>
                                        </td>
                                        <td>
                                          <button class="default-background btn-floating waves-effect waves-light"
                                            ng-click="mostrar_chat(data.CODIGOCENSO, data.UBICACION)"><i
                                              class=" icon-chat-empty"></i></button>
                                        </td>
                                      </tr>
                                      <tr ng-show="mostrar_error_censo==true">
                                        <td colspan="10">No se encontraron Censo relacionado a este ESOA</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12">
                          <div class="row">
                            <div class="col l12 m12 s12">
                              <table style="cursor:pointer;" id="listar_detalles" class="table-bordered table-striped">
                                <thead style="    background: #ecebf6;">
                                  <tr>
                                    <th><b>PRODUCTO</b></th>
                                    <th style="width: 8em;"><b>ESTADO</b></th>
                                    <th style="width: 8em;"><b>OBSERVACIÓN</b></th>
                                    <th style="width: 8em;"><b>N° AUTORIZACIÓN</b></th>
                                    <th style="width: 8em;"><b>CANTIDAD</b></th>
                                    <th style="width: 8em;"><b>VALOR</b></th>
                                    <th style="width: 8em;"><b>TOTAL</b></th>
                                  </tr>
                                </thead>
                                <tbody ng-hide="mda.DETALLES.length==0">
                                  <tr ng-repeat="ld in mda.DETALLES">
                                    <td style="width:250px">{{ld.cod_producto}}-{{ld.nombre_producto}}</td>
                                    <td>{{ld.estado}}</td>
                                    <td>{{ld.observacion}}</td>
                                    <td>{{ld.autorizacion_corto}}-{{ld.ubicacion}}</td>
                                    <td>{{ld.cantidad}}</td>
                                    <td>{{ld.valor}}</td>
                                    <td>{{ld.total}}</td>
                                  </tr>
                                </tbody>
                                <tfoot>
                                  <tr style="background: #ecebf6;" ng-hide="mda.DETALLES.length==0">
                                    <td><strong style="font-weight: 700;">TOTAL: </strong></td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td><strong style="font-weight: 700;"> {{mda.VALOR_AUT}}</strong></td>
                                  </tr>
                                  <tr ng-show="mda.DETALLES.length==0">
                                    <td colspan="7"><strong style="font-weight: 700;color: #dc2c2c;">NO SE ENCONTRARÓN
                                        DETALLES</strong>
                                    </td>
                                  </tr>
                                </tfoot>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer  text-center col s12" ng-click="gestion(mda.NUMERO,mda.UBICACION)"  ng-show="ocultarxrol==false">
                      <button class="btn row">
                        <i class="icon-cog-alt" style="margin-top: -1px;font-size: 13px"></i> Gestionar Autorización
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ul style="text-align: right;" class="pagination" ng-show="reporteTemp.length!=0">
              <li><button ng-disabled='currentPage == 0' class="btn-floating default-background"
                  ng-click='currentPage = currentPage - 1'>&laquo;</button></li>
              <li ng-repeat='page in pages'><button ng-disabled='currentPage == page.no - 1'
                  class="btn-floating default-background" ng-click='setPage(page.no)'>{{page.no}}</button>
              </li>
              <li><button ng-disabled='currentPage >= reporteTemp.length/pageSize - 1'
                  class="btn-floating default-background" ng-click='currentPage = currentPage + 1'>&raquo;</button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="modalhistoricochat" class="modal" style="width: 50%!important; max-height: 100%;top: 5%!important;">
    <div class="modal-content" style="padding: 0px !important;">
      <div class="col s12" style="padding-left: 0px; padding-right: 0px;">
        <div class="card charts" style="margin-top: 0px; margin-bottom: 0px;">
          <div class=" row card-content foot4" style="padding: 0;text-align: center;">
            <div class="col s11">
              <h5 class="white-text">CENSO - {{CODIGOCENSO}} - {{UBICACION}}</h5>
            </div>
            <div class="col s1">
              <h5 style="text-align: end;"><i style="cursor:pointer;"
                  class="material-icons white-text modal-close">close</i></h5>
            </div>
          </div>
          <div class="card-action" style="border-top: 0">
            <div class="row">
              <div class="col s12">
                <div id="chat_comment" class="row" style="overflow:auto;height: calc(100vh - 340px);">
                  <div class="col s12">
                    <div class="row" ng-show="!comentarios.length"
                      style="display: flex;justify-content: center;align-items: center;height: 80%;">
                      <div class="row">
                        <div class="col l2 m2 s2 margin no-padding border-none">
                          <i class="fontello-icon icon-user"
                            style="font-size: 3em; border: 1px solid;border-radius: 1em;"></i>
                        </div>
                        <div class="col l10 m10 s10">
                          <div class="desc_com" style="padding: 1em; border: 1px solid #cbcbcb;">
                            <p class="margin">
                              <strong class="ng-binding">Envie un mensaje para iniciar un chat. </strong>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" ng-show="comentarios.length" ng-repeat="com in comentarios"
                      ng-class="{'chat_right whi':nombre.toLowerCase() == com.NOMBRE.toLowerCase()}">
                      <div class="col l2 m2 s2 margin no-padding border-none">
                        <i class="fontello-icon icon-user"
                          style="font-size: 3em; border: 1px solid;border-radius: 1em;"></i>
                      </div>
                      <div class="col l10 m10 s10">
                        <div class="desc_com" style="padding: 1em; border: 1px solid #cbcbcb;">
                          <p class="margin">
                            <strong>{{com.MENSAJE}}</strong>
                          </p>
                          <small>{{com.NOMBRE}}</small>
                        </div>
                        <div
                          style="width: 100%;height: 0;border-bottom: 1px solid #ffca867a;margin: 1em 0;position: relative;display: flex;justify-content: space-between;align-items: center;">
                          <span style="font-size: 10px;background-color: #ffffff;padding: 0 10px;"> {{com.FECHA}}
                          </span>
                          <span style="font-size: 10px;background-color: #ffffff;padding: 0 10px;"> {{com.HORA}} </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row margin" style="display: flex;">
                  <div class="col l11 m11 s11 no-padding">
                    <textarea class="border-none border-radius-none default-background-light white-text"
                      placeholder="Comentar..." ng-model="mensaje_chat" rows="4" cols="50"
                      style="margin: 0px 0px 10px;border-radius: 3px;padding: 1em;max-width: 100%;width: 100%;height: 70px;outline: none;"></textarea>
                  </div>
                  <div class="col l1 m1 s1 margin no-padding border-none">
                    <i ng-click="send(mensaje_chat)" class="icon-paper-plane white-text " style="background-color: #557b39;display: flex;justify-content: center;align-items: center;width:
                      3.4em;height: 3.4em;border-radius: 50%;cursor: pointer;margin: auto;"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="modal1" class="modal" style="    width: 800px;
    max-height: 75%;
    overflow: hidden;">
    <div class="modal-content">
      <h5>Detalles de Solicitud # {{numero_modal}}</h5>
      <div class="row">
        <div class="col l12 m12 s12">
          <table style="cursor:pointer;" id="listar_detalles" class="table-bordered">
            <thead class="default-background white-text">
              <tr>
                <th><b>RENGLON</b></th>
                <!-- <th><b>CODIGO</b></th> -->
                <th><b>PRODUCTO</b></th>
                <th><b>ESTADO</b></th>
                <th><b>OBSERVACIÓN</b></th>
                <th><b>AUTORIZACIÓN</b></th>
                <th><b>CANTIDAD</b></th>
              </tr>
            </thead>
            <tbody ng-hide="listar_detalles[0].Codigo=='0'">
              <tr ng-repeat="ld in listar_detalles">
                <td>{{ld.renglon}}</td>
                <!-- <td>{{ld.codigo}}</td> -->
                <td style="width:250px">{{ld.codigo}}-{{ld.nombre}}</td>
                <td>{{ld.estado=='A'?'APROBADO':'RECHAZADO'}}</td>
                <td>{{ld.observacion}}</td>
                <td>{{ld.autorizacion}}</td>
                <td>{{ld.cantidad}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr ng-show="listar_detalles[0].Codigo==0">
                <td colspan="7">No se encontrarón detalles</td>
              </tr>
            </tfoot>
          </table>
          <a class="right btn white-text modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
        </div>
      </div>
    </div>
  </div>
  <style type="text/css">
    div.columnas {
      /* border-bottom: 1px solid #e5e6e6; */
      border-top: 1px solid #76767az;
      position: relative;
    }

    .columnas p {
      position: absolute;
      top: -38px;
      width: 207px;
      border: 1px solid #e5e6e6;
      padding: 1px 10px;
      border-radius: 0px 19px 0px 0px;
    }

    .boton_estilo:hover {
      color: #fff;
      background: #558a2f;
      box-shadow: 4px 3px 5px grey;
    }

    .boton_estilo {
      border: 1px solid #558a2f;
      color: #558a2f;
      padding: 10px;
      cursor: pointer;
    }

    i.icon-paper-plane.white-text:hover {
      box-shadow: 0px 4px 5px grey;
    }

    .hover-item-list-agregar {
      background-color: #ddd !important;
    }

    a.active {
      border-bottom: 1px solid;
    }

    th,
    td {
      text-align: center;
      word-break: break-word;
    }

    th {
      border: none !important;
    }

    i {
      cursor: pointer;
    }

    .pagination li {
      padding: 0 1px;
    }

    input[disabled] {
      color: rgba(0, 0, 0, 0.6) !important;
    }

    span.tooltiptext {
      background: #bbc8ec !important;
      color: #191919 !important;
      border-bottom: 1px solid !important;
    }

    .color_box {
      background: #ecebf6;
      color: #2e2e2e;
      font-size: 6px !important;
    }

    .titulo_time {
      background: #737373;
      padding: 10px;
      border-radius: 1em;
    }

    .flip-in-ver-right {
      animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @keyframes flip-in-ver-right {
      0% {
        transform: rotateY(-80deg);
        opacity: 0;
      }

      100% {
        transform: rotateY(0);
        opacity: 1;
      }
    }

    .content-container.ng-leave-active,
    .content-container.active-add,
    .content-container.ng-hide-add-active,
    .content-container.ng-hide-remove,
    .content-container.ng-hide-add-active {
      animation: 0s ease 0s 1 normal none running none !important;
    }

    .slit-in-vertical {
      -webkit-animation: slit-in-vertical 0.45s ease-out both;
      animation: slit-in-vertical 0.45s ease-out both;
    }

    /* ---------------------------------------------- * Generated by Animista on 2020-3-10 16:38:7 * Licensed under FreeBSD
License. * See http://animista.net/license for more info. * w: http://animista.net, t: @cssanimista *
---------------------------------------------- */
    /** * ---------------------------------------- * animation
slit-in-vertical * ---------------------------------------- */
    @-webkit-keyframes slit-in-vertical {
      0% {
        -webkit-transform: translateZ(-800px) rotateY(90deg);
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 0;
      }

      54% {
        -webkit-transform: translateZ(-160px) rotateY(87deg);
        transform: translateZ(-160px) rotateY(87deg);
        opacity: 1;
      }

      100% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0);
      }
    }

    @keyframes slit-in-vertical {
      0% {
        -webkit-transform: translateZ(-800px) rotateY(90deg);
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 0;
      }

      54% {
        -webkit-transform: translateZ(-160px) rotateY(87deg);
        transform: translateZ(-160px) rotateY(87deg);
        opacity: 1;
      }

      100% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0);
      }
    }

    ul:not(.browser-default) {
      padding-left: 0;
      list-style-type: none;
    }

    .StepProgress {
      position: relative;
      list-style:
        none;
      margin-left: 25px;
    }

    .StepProgress-item:not(:last-child) {
      padding-bottom: 10px;
    }

    ul:not(.browser-default) li {
      list-style-type: none;
    }

    .StepProgress-item {
      position: relative;
      counter-increment: list;
      padding-left: 1em;
    }

    ul:not(.browser-default) li {
      list-style-type: none;
    }

    .StepProgress-item {
      position: relative;
      counter-increment:
        list;
      padding-left: 1em;
    }

    ul>li.StepProgress-item.s:not(:last-child)::before {
      display: inline-block;
      content: '';
      position: absolute;
      top: 0;
      left: -10px;
      width: 10px;
      height: 100%;
      border-left: 2px solid #CCC;
    }

    *:before,
    *:after {
      -webkit-box-sizing:
        border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

    .StepProgress-item::after {
      display: inline-block;
      position: absolute;
      top: 0;
      border: 2px solid #CCC;
      border-radius: 50%;
      content: counter(list);
      padding-top: 1px;
      width: 25px;
      height: 25px;
      left: -22px;
      font-size:
        14px;
      text-align: center;
      background-color: white;
    }

    *:before,
    *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

  </style>
</div>
