<div class="row">
  <div class="card">
    <div class="card-content">
      <div class="row">
        <div class="card-panel widgets-tabs col l12" style="padding-top: 10px;">
          <div class="card-content">
            <blockquote><h5>Registrar Usuario IPS</h5></blockquote>
          </div>
          <form>
            <div class="col l12 m12 s12" style="padding-top: 10px; padding-bottom: 10px;">
              <div class="input-field col l5 m10 s12">
                <input id="nit" type="text" ng-model="A_Nit" ng-change="Cambio()">
                <label for="nit">NIT</label>
              </div>
              <div class="input-field col l6 m10 s12">
                <input id="nombre_ips" type="text" ng-model="A_NombreIPS" disabled>
                <label for="nombre_ips">Nombre de la IPS</label>
              </div>
            </div>
            <div ng-hide=OcultarIdentificacion>
              <div class="col l12 m12 s12">
                <div class="input-field col l5 m12 s12" style="padding-bottom: 10px;">
                  <label style=" margin-top: -20px;">Tipo de Documento</label>
                  <select class="select-chosen-eps" ng-model="A_TipoDocumento" ng-change="CambioDeIdentificiacion()">
                    <option value="">SELECCIONAR</option>
                    <option value="CC">CEDULA DE CIUDADANIA</option>
                    <option value="TI">TARJETA DE IDENTIDAD</option>
                    <option value="RC">REGISTRO CIVIL</option>
                    <option value="CN">NACIDO VIVO</option>
                    <option value="CE">CEDULA EXTRAJERIA</option>
                    <option value="MS">MENOR SIN IDENTIFICACIÓN</option>
                    <option value="AS">ADULTO SIN IDENTIFICACIÓN</option>
                    <option value="PE">PERMISO ESPECIAL</option>
                  </select>
                </div>
                <div class="input-field col l6 m12 s12" style="padding-bottom: 10px;">
                  <input id="numero_identificacion" type="text" class="validate" ng-model="A_NumeroDocumento" ng-change="CambioDeIdentificiacion()">
                  <label for="numero_identificacion" class="">Número de identificación</label>
                </div>
              </div>
            </div>
            <div ng-hide=Ocultar>
              <div class="col l12 m12 s12" style="padding-bottom: 10px;">
                <div class="input-field col l4 m12 s12">
                  <input id="nombre_usuario" type="text" class="validate" ng-model="A_NombreUsuario">
                  <label for="nombre_usuario" class="">Nombre De Usuario</label>
                </div>
                <div class="input-field col l3 m12 s12">
                  <input id="contraseña" type="password" class="validate" ng-model="A_Contrasena">
                  <label for="contraseña" class="">Digite La Contraseña</label>
                </div>
                <div class="input-field col l3 m12 s12">
                  <input id="conf_contraseña" type="password" class="validate" ng-model="A_ConfContrasena">
                  <label for="conf_contraseña" class="">Confirme La Contraseña</label>
                </div>
              </div>
              <div class="col l12 m12 s12" style="padding-bottom: 10px;">
                <div class="input-field col l2 m12 s12">
                  <input id="celular" type="text" class="validate" maxlength="10" minlength="7" numbers-only ng-model="A_Celular" >
                  <label for="celular" class="">Celular</label>
                </div>
                <div class="input-field col l2 m12 s12">
                  <input id="telefono" type="text" class="validate" maxlength="10" minlength="7" numbers-only ng-model="A_Telefono">
                  <label for="telefono" class="">Telefono</label>
                </div>
                <div class="input-field col l4 m12 s12">
                  <input id="correo" type="email" class="validate" ng-model="A_Correo">
                  <label for="correo" class="">Correo</label>
                </div>
                <div class="input-field col l3 m12 s12">
                  <input id="cargo" type="text" class="validate" ng-model="A_Cargo">
                  <label for="cargo" class="">Cargo</label>
                </div>
              </div>
              <center style="padding-bottom: 10px;">
                <button class="btn btn-primary" ng-click="RegistroUsuarioIPS()" type="button" >REGISTAR USUARIO</button>
              </center>
            </div>
            <div ng-hide="Valida">
              <center style="padding-bottom: 10px;">
                <button  class="btn btn-primary" ng-click="Validar()" type="submit">VALIDAR NIT</button>
              </center>
            </div>
            <div ng-hide="ValidaIdentificacion">
              <center style="padding-bottom: 10px;">
                <button  class="btn btn-primary" ng-click="ValidarDocumento()" type="submit">VALIDAR DOCUMENTO</button>
              </center>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="card-content" ng-hide="InformacionUsuario">
      <div class="row">
        <div class="card-panel widgets-tabs col l12" style="padding-top: 10px;padding-bottom: 20px;">
          <div class="card-content">
            <blockquote><h5>Información Del Contacto</h5></blockquote>
          </div>
          <table class="responsive-table striped table-bordered" style="height:100px;">
              <thead>
              <tr>
                  <th data-field="Nombre" class="center-align">NOMBRE</th>
                  <th data-field="Fecha de Nacimiento" class="center-align">CARGO</th>
                  <th data-field="Ubicacion" class="center-align">ESTADO</th>
                  <th data-field="Ubicacion" class="center-align">OPCION</th>
              </tr>
              </thead>
              <tbody>
                <tr ng-repeat="info in datos">
                  <td class="center-align">{{info.Nombre_usuario}}</td>
                  <td class="center-align">{{info.Cargo}}</td>
                  <td class="center-align">{{info.Estado}}</td>
                  <td class="center-align" style="cursor: pointer !important;">
                    <div class="tooltip">
                        <i ng-click="CambiarEstado()"class="Medium material-icons">transfer_within_a_station</i></span></i>
                        <span class="tooltiptext">Cambiar Estado</span>
                    </div>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
