<div id="pantalla" class="white newdesing" style="position:relative">
  <style>
    #consolidadoerror>* {
      margin: auto;
    }

    .PENDIENTE {
      background-color: #fd5d00 !important;
    }

    .ENCONCILIACION {
      background-color: #2fb421 !important;
    }

    .CONCILIADA {
      background-color: #1a2e63 !important;
    }


    #tabla_scroll th {
      padding: 3px 10px;
    }

    #tabla_scroll li>button.btn {
      font-size: small;
      height: auto;
      line-height: inherit;
      padding: 0 1rem;
    }

    .table_border,
    .table_border th,
    .table_border td {
      border: 1px solid #c2c2c2;
    }

    .table_center_align,
    .table_center_align th,
    .table_center_align td {
      text-align: center;
    }



    /* #tabla_detalleglosa thead th {
      position: sticky;
      top: 0;
      z-index: 9;
    } */

    .swal-wide {
      width: 850px !important;
    }
  </style>
  <!-- Encabezado -->
  <div class="row section-header">
    <ul class="left mailbox-custom-search list-inline"
      style="width: 100%;display: flex;justify-content: space-between;align-items: center;">
      <li id="inicio">
        <h5 ng-click="Abrir()">Conciliación de Glosas</h5>
      </li>
    </ul>
  </div>
  <!-- Glosas Por IPS -->

  <div class="row dashboard-wrapper content-container white"
    style="padding-bottom: 20px;margin-bottom: 0;padding-left: 20px;padding-right: 20px;" ng-show="Vista == 0">
    <div class="col l12 m12 s12" style="position:relative">
      <div class="black-text title-panel"
        style="display: flex;justify-content: space-between;align-items: center;margin-bottom: 15px;">
        Listado de Glosas ({{listaGlosa.length}})
        <input type="text" class="margin border-none input-text-new" style="width: 15vw;" ng-change="filter(filtro)"
          ng-model="filtro" placeholder="Buscar en la tabla">

      </div>
      <div id="tabla_scroll" class="scroll_x">
        <div class="responsive">
          <table class="striped table-bordered white">
            <thead>
              <tr>
                <th style="text-align:center;">FACTURA NG</th>
                <th style="text-align:center;">CANTIDAD</th>
                <th style="text-align:center;">TOTAL FACTURAS</th>
                <th style="text-align:center;">TOTAL GLOSA</th>
                <!-- <th style="text-align:center;">VALOR RETENCION</th> -->
                <th style="text-align:center;">VALOR LEVANTADO EPS</th>
                <th style="text-align:center;">VALOR ACEPTADO IPS</th>
                <th style="text-align:center;">TOTAL MANTENIDA</th>
                <th style="text-align:center;">ESTADO</th>
                <th style="text-align:center;">ACCION</th>
              </tr>

            </thead>
            <tbody>
              <tr ng-repeat="X in listaGlosaTemp | inicio: currentPage * pageSize | limitTo: pageSize"
                ng-hide="listaGlosaTemp.length == 0">
                <td style="text-align:center;">{{X.DOC_NOT}}</td>
                <td style="text-align:center;">{{X.CANTIDAD}}</td>
                <td style="text-align:center;">${{FormatPesoNumero(X.TOTAL_FACTURA.toString().replace(',', '.'))}}</td>
                <td style="text-align:center;">${{FormatPesoNumero(X.TOTAL_GLOSA.toString().replace(',', '.'))}}</td>
                <!-- <td style="text-align:center;">${{FormatPesoNumero(X.VALOR_GLOSA_RET.toString().replace(',', '.'))}}</td> -->
                <td style="text-align:center;">${{FormatPesoNumero(X.NTDV_VALOR_GL.toString().replace(',', '.'))}}</td>
                <td style="text-align:center;">${{FormatPesoNumero(X.NTDV_VALOR_GI.toString().replace(',', '.'))}}</td>
                <td style="text-align:center;">${{FormatPesoNumero(X.NTDV_VALOR_MANTENIDA.toString().replace(',',
                  '.'))}}
                </td>
                <td style="text-align:center;">
                  <span class="status {{obtenerEstado(X.NOTC_STATUS1)}}">{{obtenerEstado(X.NOTC_STATUS1)}}</span>
                </td>
                <td style="text-align:center;">
                  <div class="tooltip">
                    <i style="cursor:pointer;font-size: 2em;" ng-click="listarGlosasIPSDetalle(X)"
                      class="icon-eye-1"></i>
                    <span class="tooltiptext">Ver Glosas</span>
                  </div>
                </td>
              </tr>
              <tr ng-show="listaGlosaTemp.length == 0">
                <th colspan="10" class="center">
                  No hay notificaciones para mostrar
                </th>
              </tr>
            </tbody>
          </table>
        </div>
        <ul ng-hide="listaGlosaTemp.length == 0" style="text-align: center;" class="pagination"
          ng-hide="listaGlosaTemp.length > 0">
          <li><button ng-disabled='currentPage == 0' class="btn" ng-click='paso("back")'>&laquo;</button></li>
          <li ng-repeat='page in pages'><button ng-disabled='currentPage == page.no - 1' class="btn"
              ng-click='setPage(page.no)'>{{page.no}}</button></li>
          <li><button ng-disabled='currentPage >= listaGlosaTemp.length/pageSize - 1' class="btn"
              ng-click='paso("next")'>&raquo;</button></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Glosas Por Cada IPS -->
  <div class="row dashboard-wrapper content-container white"
    style="padding-bottom: 20px;margin-bottom: 0;padding-left: 20px;padding-right: 20px;" ng-show="Vista == 1">
    <div class="col l12 m12 s12" style="position:relative">
      <div class="black-text title-panel"
        style="display: flex;justify-content: space-between;align-items: center;margin-bottom: 15px;">
        <span>
          Listado de Glosas detalle ({{listaGlosaDetalle.length}})
          <i class="icon-arrows-ccw default-color cursor-pointer" title="Refrescar" ng-click="listarGlosasIPS()"></i>
        </span>

        <input type="text" class="margin border-none input-text-new" style="width: 20vw;" ng-model="filtroPorIps"
          placeholder="Buscar en la tabla">
        <i class="icon-left-2 cursor-pointer" ng-click="Atras(0)">
          Atras
        </i>
      </div>
      <div id="tabla_scroll" class="scroll_x">
        <div class="responsive" style="max-height: 70vh;overflow-y: auto;overflow-x: hidden;">
          <table class="striped table-bordered white" style="zoom: 0.9;">
            <thead>
              <tr>
                <th style="text-align:center;">#</th>
                <th style="text-align:center;">NUMERO FD</th>
                <th style="text-align:center;">FACTURA</th>
                <th style="text-align:center;">VALOR FACTURA</th>
                <th style="text-align:center;">VALOR GLOSA</th>
                <!-- <th style="text-align:center;">VALOR RETENCION</th> -->
                <th style="text-align:center;">VALOR MANTENIDA</th>
                <th style="text-align:center;">FECHA</th>
                <th style="text-align:center;">ACCION</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="X in listaGlosaDetalle | filter:filtroPorIps">
                <td style="text-align:center;">{{$index+1}}</td>
                <td style="text-align:center;">{{X.DOCUMENTO_FD+'-'+X.NUMERO_FD+'-'+X.UBICACION_FD}}</td>
                <td style="text-align:center;">{{X.FACTURA}}</td>
                <td style="text-align:center;">${{FormatPesoNumero(X.TOTAL_FACTURA.toString().replace(',', '.'))}}</td>
                <td style="text-align:center;">${{FormatPesoNumero(X.TOTAL_GLOSA.toString().replace(',', '.'))}}</td>
                <!-- <td style="text-align:center;">${{FormatPesoNumero(X.VALOR_GLOSA_RET.toString().replace(',', '.'))}}</td> -->
                <td style="text-align:center;">${{FormatPesoNumero(X.NTDV_VALOR_MANTENIDA.toString().replace(',','.'))}}</td>
                <td style="text-align:center;">{{X.FECHA}}</td>

                <td style="text-align:center;">
                  <div class="tooltip" ng-show="X.SOPORTE">
                    <i style="cursor:pointer;font-size: 2em;" ng-click="DescargarRespuesta(X.SOPORTE)"
                      class="icon-file-pdf"></i>
                    <span class="tooltiptext">Descargar Soporte</span>
                  </div>
                  <div class="tooltip">
                    <i style="cursor:pointer;font-size: 2em;" class="icon-eye-1"
                      ng-click="listarGlosasServicios(X)"></i>
                    <span class="tooltiptext">Ver Detalle</span>
                  </div>
                </td>

              </tr>
              <tr ng-show="listaGlosaIPS.length == 0">
                <th colspan="11" class="center">
                  No hay notificaciones para mostrar
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Glosas Por Cada IPS -->
  <div id="modal_Listado_Glosas_Servicios" class="modal" style="overflow: hidden;max-height: 88%;width: 90%;">
    <div class="modal-content" style="padding: 0px !important;">
      <div class="col s12" style="padding-left: 0px; padding-right: 0px;">
        <div class="card charts" style="margin-top: 0px; margin-bottom: 0px;">
          <div class="card-content foot4" style="padding-bottom: 0px; padding-top: 12px;">
            <div class="row" style="margin-bottom: 0px;">
              <div class="col s11">
                <h6 class="white-text">Listado de Glosas Servicios ({{Array_ListadoGlosas.length}})</h6>
              </div>
              <div class="col s1">
                <h5 style="text-align: end;" ng-click="closeModal()"><i style="cursor:pointer;"
                    class="material-icons white-text">close</i></h5>
              </div>
            </div>
          </div>

          <div class="card-action" style="padding-bottom: 3px;">
            <div class="row">
              <div style="max-height: 70vh;overflow: auto;">
                <table id="tabla_detalleglosa" class="striped table-bordered white" style="zoom: 0.9;">
                  <thead>
                    <tr>
                      <!-- <th style="text-align:center;">RENGLON</th> -->
                      <th style="text-align:center;">PRODUCTO</th>
                      <th style="text-align:center;">VALOR GLOSA</th>
                      <!-- <th style="text-align:center;width: 5%;">VALOR RETENCION</th> -->
                      <th style="text-align:center;">VALOR ACEPTADO IPS</th>
                      <th style="text-align:center;">VALOR LEVANTADO EPS</th>
                      <th style="text-align:center;">VALOR MANTENIDA</th>

                      <th style="text-align:center;width: 30%;">DESCRIPCION GLOSA</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="x in Array_ListadoGlosas">
                      <!-- <th style="text-align:center;">{{x.FCDN_RENGLON}}</th> -->
                      <th style="text-align:center;">{{x.FCDV_PRODUCTO + ' - ' + x.CLAC_NOMBRE}}</th>
                      <td style="text-align:center;">${{FormatPesoNumero(x.FCDV_PRECIO.toString().replace(',', '.'))}}
                      </td>
                      <!-- <td style="text-align:center;">${{FormatPesoNumero(x.VALOR_GLOSA_RET.toString().replace(',','.'))}}</td> -->
                      <td style="text-align:center;">${{FormatPesoNumero(x.FCDV_GLOSA_GI.toString().replace(',', '.'))}}
                      </td>
                      <td style="text-align:center;">${{FormatPesoNumero(x.FCDV_GLOSA_GL.toString().replace(',', '.'))}}
                      </td>

                      <td style="text-align:center;">${{FormatPesoNumero(x.MANT.toString().replace(',', '.'))}}

                      <td style="text-align:center;">
                        <textarea ng-model="x.FCDC_OBSERVACION" readonly></textarea>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <style>
    textarea {
      resize: none;
      height: 200px;
      text-align: justify;
    }

    .chat_status {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 7px;
    }

    .chat_green {
      background-color: #58b666;
    }

    .chat_blue {
      background-color: #6fbced;
      margin-right: 0;
      margin-left: 7px;
    }

    #chat_completo {
      padding-left: 0;
      margin: 0;
      list-style-type: none;
      overflow-y: auto;
      max-height: 40vh;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
    }

    #chat_completo li {
      padding: 10px 30px;
    }

    #chat_completo h2,
    #chat_completo h3 {
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
    }

    #chat_completo h3 {
      color: #bbb;
    }

    #chat_completo span.tooltiptext_ab {
      font-size: 13px;
      color: black;
      display: inline-block;
      cursor: pointer;
      font-style: italic;
    }

    #chat_completo .chat_titulo {
      margin-bottom: 5px;
    }

    #chat_completo .message {
      padding: 20px;
      color: #fff;
      line-height: 25px;
      max-width: 90%;
      display: inline-block;
      text-align: left;
      border-radius: 5px;
    }

    #chat_completo .me {
      text-align: right;
    }

    #chat_completo .you .message {
      background-color: #58b666;
    }

    #chat_completo .me .message {
      background-color: #6fbced;
    }

    #chat_completo .chat_triangle,
    .chat_triangle_der {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
    }

    #chat_completo .you .chat_triangle {
      border-color: transparent transparent #58b666 transparent;
      margin-left: 15px;
    }

    #chat_completo .me .chat_triangle_der {
      border-color: transparent transparent #6fbced transparent;
      /* margin-left: 375px; */
    }

    #chat_comentar {
      height: 155px;
      padding: 20px 30px 10px 20px;
    }

    #chat_textarea {
      resize: none;
      border: none;
      display: block;
      width: 100%;
      height: 80px;
      border-radius: 3px;
      padding: 20px;
      font-size: 13px;
      background-color: white;
      /* background-color: #0f55bd; */
      /* color: white; */
    }

    #chat_comentar_enviar {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      color: #0f55bd;
      vertical-align: top;
      margin-top: 5px;
      display: inline-block;
    }

    #nombreadjunto::placeholder {
      color: #0f55bd;
    }

    .switch label .lever.check-c:after {
      background-color: #ffffff;
    }

    .switch label input[type=checkbox]:checked+.lever:after {
      background-color: #ffffff;
    }

    #glosa_textarea {
      resize: none;
      border: none;
      display: block;
      width: 100%;
      height: 42vh;
      border-radius: 3px;
      padding: 20px;
      font-size: 13px;
      background-color: white;
      text-align: justify;
    }

    #noips_textarea {
      resize: none;
      /* border: none; */
      display: block;
      width: 100%;
      height: 23vh;
      border-radius: 3px;
      padding: 20px;
      font-size: 13px;
      background-color: white;
      text-align: justify;
    }

    .tooltip_ab {
      position: relative;
      display: inline-block;
    }

    .tooltip_ab .tooltiptext_ab::after {
      content: "";
      position: absolute;
      top: -37%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #00000000 #00000000 #555 #00000000;
    }

    .tooltip_ab:hover .tooltiptext_ab {
      visibility: visible;
      opacity: 1;
    }

    .tooltip_ab .tooltiptext_ab {
      visibility: hidden;
      width: 120px;
      background-color: #555;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      position: absolute;
      z-index: 1;
      bottom: -150%;
      left: 50%;
      margin-left: -60px;
      opacity: 0;
      transition: opacity 1s;
    }

    .dropdown-content li {
      min-height: 23px;
    }

    .dropdown-content li>span {
      line-height: 32px;
      padding: 0px 16px;
    }

    .currency-input {
      position: relative;
    }

    .currency {
      padding-left: -22px;
    }

    .currency-symbol {
      position: absolute;
      left: 8px;
      font-size: 21px;
    }
  </style>
</div>
