<div class="row">
  <div class="col s12">
    <div class="ngdialog-close" style="float: right; font-size: 40px; padding-right: 20px;"></div>
    <div class="card-content">
      <h5>Motivo de <strong>correción</strong> del riesgo</h5>
    </div>
    <div class="card-action mt-5" style="margin-top: 2em;">
      <div class="row">
        <form>
          <div class="col s12">
            <textarea ng-model="modal.Observacion" style="height: 6em;"
              class="border-none gray-input input-w-p margin w-100 white rounded"></textarea>
          </div>
      </div>
      </form>
    </div>
    <div class="text-center">
      <button ng-disabled="modal.Observacion.length<10"  ng-click="sp_rc_post_guardar_estado(modal.id,modal.estado,modal.Observacion);closeThisDialog()"
        class="waves-effect waves- btn"  style="background: #f1f3f4;border: 1px solid
        #1a2e63;color: #1a2e63; margin: 8px;" >
        <i class="icon-pencil"></i> Guardar </button>
    </div>
  </div>
</div>