<div class="card-action" style="z-index: auto;">
    <div class="row">
        <div class="fade">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <h5 style="display: flex;">Reporte Suficiencia</h5>
                    </div>
                    <div class="card-action">
                        <div class="row">
                            <div class="col l12 m12 s12">
                                <div class="col s12"
                                    style="padding-left: 0px; padding-right: 0px; padding-bottom: 15px;">
                               <div style="display:flex; justify-content: space-around">
                                    <div class="col s5"><blockquote>Total Datos registrados: <b>{{totalreportado}}</b></blockquote></div>
                                    <div class="col s5"><input ng-model="fecha" type="date"></div>
                                    <div><button class="btn btn-primary" ng-click="barranoprog()">Buscar</button></div>
                                    
                               </div>
                                   <div class="row">
                                          
                                        <div class="col s12" ng-init="barranoprog()"
                                        style="height:auto">
                                        <center>
                                            <div class="card charts">

                                                <div class="card-action">
                                                    <div id="barranoprog"></div>
                                                </div>
                                            </div>
                                        </center>
                                    </div>
                                  
                                   </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>