<div class="card-action" style="z-index: auto;">
  <div class="row">
    <div class="fade" ng-hide="admin">
      <div class="col s12 m12 l12">
        <div class="card">
          <div class="card-content" >
            <h5 style="display: flex;">Aprobación de Almuerzos & Meriendas</h5>
          </div>
          <div class="card-action">
            <div class="row">
              <div class="col l12 m12 s12">
                <div class="col s12" style="padding-left: 0px; padding-right: 0px; padding-bottom: 15px;">
                  <blockquote>Panel Directivo </blockquote>
                  <div class="input-field col l12 m12 s12">
                    <button class="btn btn-floating" style="float:right; border-radius:50px" ng-click="refresh()"><i class="material-icons">refresh</i></button>
                    <table class="responsive-table display dataTable">
                      <thead>
                        <tr>
                          <th>Codigo Mesa Ayuda</th>
                          <th>Nombre Solicitante</th>
                          <th>Información</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-hide="!alimento">
                          <td></td>
                          <td><b>No existe Mesa de Ayuda de Almuerzos/Meriendas actualmente</b></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr ng-repeat="listado in lista_jefe" ng-hide="alimento">
                          <td>{{listado.CODIGO}}</td>
                          <td>{{listado.NOMBRE}}</td>
                          <td>{{listado.DESCRIPCION}}</td>
                          <td><a class="btn-floating btn waves-effect waves-light blue" type="submit" ng-click="aprobar(listado.CODIGO, listado.UBICACION)" style="border-radius: 200px 200px 200px 200px;"><i class="material-icons">check</i>  </a></td>
                          <td><a class="btn-floating btn waves-effect waves-light red" type="submit" ng-click="rechazar(listado.CODIGO, listado.UBICACION)" style="border-radius: 200px 200px 200px 200px;"><i class="material-icons">close</i>  </a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col l12 m12 s12">
                  <div class="input-field col l12 m12 s12">
                    <center>
                    </center>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fade" ng-hide="!admin">
      <div class="col s12 m12 l12">
        <div class="card">
          <div class="card-content" >
            <h5 style="display: flex">Autorización Meriendas</h5>
          </div>
          <div class="card-action">
            <div class="row">
              <div class="col l12 m12 s12">
                <div class="col s12" style="padding-left: 0px; padding-right: 0px; padding-bottom: 15px;">
                  <blockquote>Panel Administrativa </blockquote>
                  <div class="input-field col l12 m12 s12">
                    <button class="btn btn-floating" style="float:right; border-radius:50px" ng-click="refresh()"><i class="material-icons">refresh</i></button>
                    <table class="responsive-table display dataTable">
                      <thead>
                        <tr>
                          <th>Codigo Mesa Ayuda</th>
                          <th>Cedula</th>
                          <th>Nombre Solicitante</th>
                          <th>Información</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-hide="!mesa_alimentos">
                          <td></td>
                          <td><b>No existe Mesa de Ayuda de Almuerzos/Meriendas actualmente</b></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr ng-repeat="m in mal" ng-hide="mesa_alimentos">
                          <td>{{m.CODIGO}}</td>
                          <td>{{m.CEDULA}}</td>
                          <td>{{m.NOMBRE}}</td>
                          <td>{{m.DESCRIPCION}}</td>
                          <td><a class="btn-floating btn waves-effect waves-light blue" type="submit" ng-click="facturar(m.CODIGO, m.UBICACION)" style="border-radius: 200px 200px 200px 200px;"><i class="material-icons">check</i>  </a></td>
                          <td><a class="btn-floating btn waves-effect waves-light red" type="submit" ng-click="rechazar(m.CODIGO, m.UBICACION)" style="border-radius: 200px 200px 200px 200px;"><i class="material-icons">close</i>  </a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col l12 m12 s12">
                  <div class="input-field col l12 m12 s12">
                    <center>
                    </center>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
