<div class="row" style="background-color: transparent;">
	<div class="row section-header" style="margin: 0;background: #9897e81f;padding: 0px; margin-bottom: 0em;">
		<ul class="left mailbox-custom-search list-inline" style="width: 100%;display: flex;justify-content: space-between;align-items: center;">
			<li id="inicio">
				<h5>Procesos BDUA</h5>
			</li>
		</ul>
	</div>
	<hr>
	<div class="row">
		<div class="col s12 m12 l12">
			<center>
				<a ng-click="EjecutarJob()" class="btn btn-toolbar" style="background-color: #1b69a9">
					<i class="icon-play-circle2"></i>Proceso Cargue Archivos BDUA
				</a>
<!-- 				<a ng-click="PlanVacunacion()" class="btn btn-toolbar" style="background-color: #56b949">
					<i class="icon-play-circle2"></i>Proceso Plan de Vacunación
				</a> -->
			</center>
		</div>
	</div>
</div>



