.pt-select-pqr {
  padding-top: 0px;
}
.pr-0{
  padding-right: 0!important;
}
.pb-0{
  padding-bottom: 0!important;
}
.mt-0{
  margin-top: 0;
}
.mb-0{
  margin-bottom: 0;
}
.mr-0{
  margin-right: 0;
}
.c-pointer {
  cursor: pointer!important;
}
.c-none {
  cursor: none!important;
}
.display-flex {
  display: flex;
}
.display-none{
  display: none;
}
.float-right {
  float: right;
}
.float-none{
  float: none;
}
.w-auto {
  width: auto!important;
}
.w-100 {
  width: 100%!important;
}
.w-20 {
  width: 20%!important;
}
.w-25 {
  width: 25%!important;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-15{
  margin-bottom: 15px;
}
.mb-20{
  margin-bottom: 20px;
}
.mt-50{
  margin-top: 50px;
}
.w-divTitle{
  width: auto;
}
#pqr .text-justify {
  text-align: justify;
}
.text-center{
  text-align: center;
}
.text-trans-up{
  text-transform: uppercase;
}
#pqr .input-field {
  margin-top: 1.4rem;
}
#pqr .styleIconSearch {
  position: absolute;
  top: 16px;
  right: 10px;
}
#pqr .img-loading-pqr {
  width: 2em;
  position: absolute;
  top: 16px;
  right: -20px;
}
#pqr .content-tabs-pqr{
  width: 100%;
  margin-right: -10px
}
#pqr .icon-tab-pqr{  
  font-size: 30px !important;
}
.bt-remove{
  border-top: 0!important;
}
.style-modal-default {
  width: 45%;
  margin: 0 auto;
}
.style-table-default {
  height: 350px;
  overflow: auto;
}
.style-btn-close {
  float: right;
  font-size: 30px;
  padding-right: 20px;
}
#modalpqr tr>td:first-child {
  width: 74px;
  text-align: center;
}

.swal2-modal .swal2-textarea{
  resize: none;
}
#tbpqr> thead {
  position: absolute;
  top: 200px;
  z-index: 10000;
  width: calc(100% - 62px);
}
.hover-item-list:hover {
  background-color: #d6d6d6;
}
.noselectxtpqr{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
/* .swal-wide{
  width:800px !important;
  height: 300px!important;
}
.swal2-textarea{
  height: 200px!important;
} */
.align-items{
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}
.results-lupa{
  font-size: 50px;
  border-radius: .8em;
  -moz-border-radius: .8em;
  -webkit-border-radius: .8em;
  color: #000;
  display: inline-block;
  font-weight: 700;
  line-height: 1.6em;
  text-align: center;
  width: 1.6em;
}
.results-lupa-modal {
  font-size: 40px;
  border-radius: .8em;
  -moz-border-radius: .8em;
  -webkit-border-radius: .8em;
  color: #000;
  display: inline-block;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
  width: 1.6em;
}
/* Responsive PQR */
@media only screen and (max-width: 991px) and (min-width: 600px) {
  #pqr .row .col.s3 , #modalpqr .row .col.s3 {
    width: 50%!important;
  }
  #pqr .row .col.s4, #modalpqr .row .col.s3 {
    width: 50%!important;
  }
  #pqr .col.s12 .col.s8, #modalpqr .row .col.s3{
    width: 50%!important;
  }
  
  #modalpqr .row .col.s6{
    width: 50%!important;
  }
  #pqr .content-tabs-pqr{
    width: 100%;
    margin-right: auto;
  }
}

@media only screen and (max-width: 599px) and (min-width: 350px) {
  #pqr .row .col.s3, #modalpqr .row .col.s3  {
    width: 100%!important;
  }
  #pqr .row .col.s4, #modalpqr .row .col.s4  {
    width: 100%!important;
  }
  #pqr .col.s12 .col.s8, #modalpqr .col.s12 .col.s8 {
    width: 100%!important;
  }
  
  #modalpqr .row .col.s6{
    width: 100%!important;
  }
  #pqr .content-tabs-pqr{
    width: 100%;
    margin-right: auto;
  }
}

@media only screen and (max-width: 386px) and (min-width: 350px) {
  #ips strong, #pqr strong, #afiliado strong  {
    font-size: 13px;
  }
  #pqr .content-tabs-pqr{
    width: 100%;
    margin-right: auto;
  }

  #modalpqr .row .col.s6{
    width: 100%!important;
  }
}

@media only screen and (max-width: 991px) and (min-width: 350px) {
 .style-modal-default {
    width: 100%;
  }
}
/* Responsive PQR */

/* Style Scroll */
.scrollTableDefault::-webkit-scrollbar {/* width */
  width: 5px;
}
.scrollTableDefault::-webkit-scrollbar-track {/* Track */
  background: #f1f1f1;  
}
.scrollTableDefault::-webkit-scrollbar-thumb {/* Handle */
  background: #888;  
}
.scrollTableDefault::-webkit-scrollbar-thumb:hover {/* Handle on hover */
  background: #555;
}
/* Style Scroll */

/* Style modal Aseguramiento */
.portal-list {
  margin: 0;
  overflow: hidden;
}
body .portal-list-item-active {
  border-left: 5px solid#1a2e63;
}

body.blue-scheme .portal-list-item-active {
  border-left: 5px solid#1565c0;
}

body.cyan-scheme .portal-list-item-active {
  border-left: 5px solid#00abc0;
}

body.green-scheme .portal-list-item-active {
  border-left: 5px solid#558a2f;
}

body.purple-scheme .portal-list-item-active {
  border-left: 5px solid #6a1b99;
}

body.yellow-scheme .portal-list-item-active {
  border-left: 5px solid#fda626;
}

body.dark-scheme .portal-list-item-active {
  border-left: 5px solid#2e2e2e;
}

.portal-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
  border-bottom: 0;
}

.portal-list-item {
  margin: 0;
  padding: 0;
  height: auto;
  line-height: 0 !important;
  font-size: 18px;
  position: relative;
  border-bottom: 1px solid #ddd;
  text-shadow: 0 1px 0 hsla(0, 0%, 100%, .5);
}

.portal-list-item:hover {
  background-color: #f5f5f5;
}

.icon-sel-item {
  top: 50%;
  width: 8px;
  right: 32px;
  height: 12px;
  position: absolute;
  display: inline-block;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
/* Style modal Aseguramiento */

body #bt-ges {
    color: #1a2e63;
}
body.blue-scheme #bt-ges {
  color: #1565c0;
}
body.cyan-scheme #bt-ges {
  color: #00abc0;
}
body.green-scheme #bt-ges {
  color: #558a2f;
}
body.purple-scheme #bt-ges {
  color: #6a1b99;
}
body.yellow-scheme #bt-ges {
  color: #fda626;
}
body.dark-scheme #bt-ges {
  color: #2e2e2e;
}

/* Style steps */
.StepProgress {
  position: relative;
  list-style: none;
  margin-left: 25px;
}

.StepProgress-item {
  position: relative;
  counter-increment: list;
  padding-left: 1em;
}

.StepProgress-item:not(:last-child) {
  padding-bottom: 10px;
}

ul>li.StepProgress-item.s:not(:last-child)::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  width: 10px;
  height: 100%;
  border-left: 2px solid #CCC;
}

.StepProgress-item::after {
  display: inline-block;
  position: absolute;
  top: 0;
  border: 2px solid #CCC;
  border-radius: 50%;
  content: counter(list);
  padding-top: 1px;
  width: 25px;
  height: 25px;
  left: -22px;
  font-size: 14px;
  text-align: center;
  background-color: white;
}

.StepProgress-item.current::before {
  border-left: 2px solid green!important;
}

.StepProgress-item.current::after {
  content: counter(list);
  padding-top: 1px;
  width: 25px;
  height: 25px;
  left: -22px;
  font-size: 14px;
  text-align: center;
  color: green;
  border: 2px solid green;
  background-color: white;
}
.StepProgress strong {
  display: block;
}
/* Style steps */


#modalpqr [data-tip] {
  position: relative;
}
#modalpqr [data-tip]:before {
  display: none;
  content: attr(data-title);
  position: absolute;
  top: 92px;
  left: 30px;
  z-index: 8;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #4caf50;
}
#modalpqr [data-tip]:after {
  display: none;
  content: attr(data-tip);
  position: absolute;
  top: 111px;
  left: 0;
  width: auto;
  padding: 5px 8px;
  background: #4caf50;
  color: #fff;
  z-index: 9;
  font-size: 0.75em;
  height: auto;
  line-height: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  word-wrap: normal;
}
#modalpqr [data-tip].active:before,
#modalpqr [data-tip].active:after {
  display: block;
}

.scrollable {
  width: 100%;
  height: auto;
  max-height: 6em;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.output-salud {
  min-height: 7rem !important;
  height: 0rem !important;
  overflow-y: auto !important;
  padding: 1rem 0 !important;
}

.i-cancel:before {
  font-family: 'Helvetica', Arial, sans-serif;
  content: '\00D7';
  cursor: pointer;
}