<div class="col l6 m6 s12">
  <div class="card">
    <div class="foot4 divcardcustom">
      <div class="text-al switch divcardcustom2"><strong>Inventario</strong><strong style="float: right; ">{{numpre}}/{{tamlista}}</strong></div>
    </div>
    <div class="input-list input-view-column input-padding" style="margin-left: 14px;">
      <p style="text-align: center;"><strong>¿{{preguntam}}?</strong></p>
    </div>
    <div>
      <div class="input-list input-form" style="margin-bottom: 10px;">
        <div class="input-list input-view-column">
          <label for="normal" class="calendario">*Existencia</label>
          <select id="existenciam" class="select-chosen-eps" ng-change="activarEstadomodal(existenciam)" ng-model="existenciam" ng-options="ex.Codigo as ex.Nombre for ex in listaexistencia ">
          </select>
        </div>
        <div class="input-list input-view-column input-padding">
          <label for="normal" class="calendario">{{signorequeridom}}Estado</label>
          <select id="estadom" class="select-chosen-eps" ng-model="estadom" ng-options="est.Codigo as est.Nombre for est in Valoracionesm | limitTo:cantidadestados">
          </select>
        </div>
      </div>
      <div class="input-list input-form" style="margin-bottom: 10px;">
        <div class="input-list input-view-column input-padding">
          <label for="normal" class="calendario">Observacion</label>
          <textarea id="observacion" class="materialize-textarea" ng-model="observacionm" style="padding: 0;  height: 20px; max-height: 20px; margin-left: 7px;"></textarea>
        </div>
        <div class="input-list input-view-column input-padding">
          <label for="normal" class="calendario">Obligatoriedad</label>
          <input disabled  ng-model="obligatoriom" type="text" class="uppercase">
        </div>
      </div>
    </div>
    <div class="card" >
      <div class="foot4 divcardcustom">
        <div class="text-al switch divcardcustom2"><strong>Opciones</strong></div>
      </div>
      <div class="input-field">
        <div class="input-list input-form">
          <div class="input-button">
            <div class="tooltip">
              <a class="btn-floating btn-large waves-effect waves-light" style="cursor: pointer; float: initial;" ng-click="actualizarinfo()" ng-model="resq"><i class="icon-floppy"></i></a>
              <span class="tooltiptext">Guardar Modificacion</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
