
.select-chosen-eps{
  width: 100% !important;
  padding-top: 20px;
  border-top-color: rgba(255, 255, 255, 0);
  border-right-color: rgba(255, 255, 255, 0);
  border-left-color: rgba(255, 255, 255, 0);
  border-bottom-style: groove;
}
.select-chosen-eps{
  display: inherit  !important;
}
.select-chosen-eps:focus{
  outline: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 0 1px 0 0 #4caf50;
  border-bottom: 1px solid #4caf50;
}
.select-chosen-eps:active{
  outline: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 0 1px 0 0 #4caf50 !important;
  border-bottom: 1px solid #4caf50 !important;
}
.select-chosen-eps:hover{
  cursor: pointer;
}
option:nth-child(n) {
        background-color: white;
}
