.field{
   background-image: url(../images/field.jpg);
   background-size: cover;
}
#drag-gk { 
  margin: 10%;
  border-radius: 80px;
  padding: 2%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  background-color: red;
}

#drag-balon {
    margin: 10%;
    padding: 2%;
    transform: translate(0px, 0px);
    background-color: rgba(91, 160, 45, 0);
    border-color: rgba(0, 0, 0, 0);
}

  

#drag-def { 
  margin: 10%;
  border-radius: 80px;
  padding: 2%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
          background-color: blue;
}

#drag-med { 
  margin: 10%;
  border-radius: 80px;
  padding: 2%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
          background-color: black;
}

#drag-dc { 
  margin: 10%;
  border-radius: 80px;
  padding: 2%;
background-color: yellow;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#drag-defb { 
  margin: 10%;
  border-radius: 80px;
  padding: 2%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
          background-color:brown ;
}

#drag-medb { 
  margin: 10%;
  border-radius: 80px;
  padding: 2%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
          background-color: silver;
}

#drag-dcb { 
  margin: 10%;
  border-radius: 80px;
  padding: 2%;
background-color: orange;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}