/* default-color */

html body .default-color {
    color: #1a2e63;
}

html body.blue-scheme .default-color {
    color: #1565c0;
}

html body.cyan-scheme .default-color {
    color: #00abc0;
}

html body.green-scheme .default-color {
    color: #558a2f;
}

html body.purple-scheme .default-color {
    color: #d02424;
}

html body.yellow-scheme .default-color {
    color: #f0a42f;
}

html body.dark-scheme .default-color {
    color: #2e2e2e;
}

/* default-border */

html body .default-border {
    border: 1px solid#1a2e63;
}

html body.blue-scheme .default-border {
    border: 1px solid#1565c0;
}

html body.cyan-scheme .default-border {
    border: 1px solid#00abc0;
}

html body.green-scheme .default-border {
    border: 1px solid#558a2f;
}

html body.purple-scheme .default-border {
    border: 1px solid#d02424;
}

html body.yellow-scheme .default-border {
    border: 1px solid#f0a42f;
}

html body.dark-scheme .default-border {
    border: 1px solid#2e2e2e;
}

/* default-background-hover */

html body .default-background-hover:hover {
    background-color: #1a2e63 !important;
    color: white;
}

html body.blue-scheme .default-background-hover:hover {
    background-color: #1565c0 !important;
    color: white;
}

html body.cyan-scheme .default-background-hover:hover {
    background-color: #00abc0 !important;
    color: white;
}

html body.green-scheme .default-background-hover:hover {
    background-color: #558a2f !important;
    color: white;
}

html body.purple-scheme .default-background-hover:hover {
    background-color: #d02424 !important;
    color: white;
}

html body.yellow-scheme .default-background-hover:hover {
    background-color: #f0a42f !important;
    color: white;
}

html body.dark-scheme .default-background-hover:hover {
    background-color: #2e2e2e !important;
    color: white;
}

/* default-border-hover */

html body .default-border-hover:hover {
    border: 1px solid#1a2e63;
    color: #1a2e63;
}

html body.blue-scheme .default-border-hover:hover {
    border: 1px solid#1565c0;
    color: #1565c0;
}

html body.cyan-scheme .default-border-hover:hover {
    border: 1px solid#00abc0;
    color: #00abc0;
}

html body.green-scheme .default-border-hover:hover {
    border: 1px solid#558a2f;
    color: #558a2f;
}

html body.purple-scheme .default-border-hover:hover {
    border: 1px solid#d02424;
    color: #d02424;
}

html body.yellow-scheme .default-border-hover:hover {
    border: 1px solid#f0a42f;
    color: #f0a42f;
}

html body.dark-scheme .default-border-hover:hover {
    border: 1px solid#2e2e2e;
    color: #2e2e2e;
}

/* default-linear-gradient */

html body .newdesing .default-linear-gradient {
    background-image: linear-gradient(to bottom left,#5870ae,#1a2e63,#5870ae);
    border-radius: 10px;
    color: white;
    border-color: white;
}

html body.blue-scheme .newdesing .default-linear-gradient {
    background-image: linear-gradient(to bottom left,#4e86c7,#1565c0,#4e86c7);
    border-radius: 10px;
    color: white;
    border-color: white;
}

html body.cyan-scheme .newdesing .default-linear-gradient {
    background-image: linear-gradient(to bottom left,#62c4d0,#00abc0,#62c4d0);
    border-radius: 10px;
    color: white;
    border-color: white;
}

html body.green-scheme .newdesing .default-linear-gradient {
    background-image: linear-gradient(to bottom left,#7aad55,#558a2f,#7aad55);
    border-radius: 10px;
    color: white;
    border-color: white;
}

html body.purple-scheme .newdesing .default-linear-gradient {
    background-image: linear-gradient(to bottom left,#da6262,#d02424,#da6262);
    border-radius: 10px;
    color: white;
    border-color: white;
}

html body.yellow-scheme .newdesing .default-linear-gradient {
    background-image: linear-gradient(to bottom left,#f3c277,#f0a42f,#f3c277);
    border-radius: 10px;
    color: white;
    border-color: white;
}

html body.dark-scheme .newdesing .default-linear-gradient {
    background-image: linear-gradient(to bottom left,#6e6d6d,#2e2e2e,#6e6d6d);
    border-radius: 10px;
    color: white;
    border-color: white;
}

html body .newdesing th.default-linear-gradient {
    background-image: linear-gradient(0deg,#5870ae,#1a2e63,#5870ae);
}

html body.blue-scheme .newdesing th.default-linear-gradient {
    background-image: linear-gradient(0deg,#4e86c7,#1565c0,#4e86c7);
}

html body.cyan-scheme .newdesing th.default-linear-gradient {
    background-image: linear-gradient(0deg,#62c4d0,#00abc0,#62c4d0);
}

html body.green-scheme .newdesing th.default-linear-gradient {
    background-image: linear-gradient(0deg,#7aad55,#558a2f,#7aad55);
}

html body.purple-scheme .newdesing th.default-linear-gradient {
    background-image: linear-gradient(0deg,#da6262,#d02424,#da6262);
}

html body.yellow-scheme .newdesing th.default-linear-gradient {
    background-image: linear-gradient(0deg,#f3c277,#f0a42f,#f3c277);
}

html body.dark-scheme .newdesing th.default-linear-gradient {
    background-image: linear-gradient(0deg,#6e6d6d,#2e2e2e,#6e6d6d);
}

th.default-linear-gradient{
    border-radius: 0px !important;
}

/* animation-rotate */

.animation-rotate {
    animation: rotate-infinite 500ms linear;
    display: inline-block;
}

.animation-rotate-infinite {
    animation: rotate-infinite 500ms linear infinite;
    display: inline-block;
}

.animation-rotate-hover:hover {
    animation: rotate-infinite 500ms linear;
    display: inline-block;
}

@keyframes rotate-infinite {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.d-flex {
    display: flex !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-around {
    justify-content: space-around !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-left {
    justify-content: left !important;
}

.justify-content-right {
    justify-content: right !important;
}

.justify-content-start {
    justify-content: start !important;
}

.justify-content-end {
    justify-content: end !important;
}

.justify-content-flex-start {
    justify-content: flex-start !important;
}

.justify-content-flex-end {
    justify-content: flex-end !important;
}

.align-items-center {
    align-items: center !important;
}

.align-items-start {
    align-items: flex-start !important;
}

.align-items-end {
    align-items: flex-end !important;
}

.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}

.position-fixed {
    position: fixed !important;
}

.cursor-pointer {
    cursor: pointer
}

/* navbar */

#header .profile-img {
    height: 30px !important;
    width: 30px !important;
    margin: auto;
}

#header .profile-img:hover {
    zoom: 2;
    transition: all 1s ease;
    border-radius: 0;
}

#edit_profile_dropdown {
    padding: 12px 16px;
    line-height: 1rem;
    background-color: white;
}

#edit_profile_dropdown>.content-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1em 0;
}

#edit_profile_dropdown>.content-img>div {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

#edit_profile_dropdown>.content-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#profile_dropdown .ng-leave-active,
#profile_dropdown .active-add,
#profile_dropdown .ng-hide-add-active,
#profile_dropdown .ng-hide-remove,
#TourStep.ng-hide-add-active {
    transition: all 0s !important;
}

#edit_profile_dropdown>.content-img>div>i {
    position: absolute;
    width: 40px;
    height: 40px;
    display: none;
    font-size: 23px;
    justify-content: center;
    align-items: center;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
}

#edit_profile_dropdown>.content-img>i {
    position: absolute;
    left: calc(100% - 80px);
    cursor: pointer;
}

#edit_profile_dropdown>.content-img>div:hover i {
    display: flex !important;
}

#edit_profile_dropdown>.content-img input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    outline: none !important;
}

.dropdown-toggle-angular.active+.dropdown-menu {
    display: block;
    top: 30px;
    border: 1px solid #1a2e63;
    width: 350px;
    padding: 2em;
    text-align: left;
    overflow: initial;
    overflow-x: initial;
}

header#header nav ul .i-notifications {
    vertical-align: middle;
    margin-top: 0;
}

#profile_dropdown .content-data {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#profile_dropdown .content-data>i {
    cursor: pointer;
    height: auto;
    line-height: normal;
    position: absolute;
    font-size: 20px;
    user-select: none;
    left: calc(100% - 27px);
    top: 10px;
}

#profile_dropdown #edit_profile_dropdown>input {
    width: 100%;
    margin-bottom: 14px !important;
}

[data-tip] {
    position: relative;
}

[data-tip]:before {
    display: none;
    content: '';
    position: absolute;
    left: -5%;
    z-index: 8;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-left: 10px solid #4caf50;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

[data-tip]:after {
    display: none;
    content: attr(data-tip);
    position: absolute;
    left: -105%;
    width: 100%;
    padding: 5px 8px;
    background: #4caf50;
    color: #fff;
    z-index: 9;
    font-size: 0.75em;
    height: auto;
    line-height: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    word-wrap: normal;
}

[data-tip].active:before,
[data-tip].active:after {
    display: block;
}

/* sidebar */

.ngdialog-open .wrapper.vertical-sidebar {
    height: 100vh;
}

ul#nav-mobile:not(.topScroll) {
    height: calc(100%);
    padding-bottom: 70px;
}

.sidebar-left>#nav-mobile {
    z-index: 10;
}

#nav-mobile ul.collapsible>li>.collapsible-header {
    display: flex;
    height: auto;
    line-height: 1.2em;
    align-items: center;
}

#nav-mobile ul.collapsible>li>.collapsible-header .title-sidebar {
    word-break: break-word;
    word-wrap: break-word;
}

#nav-mobile ul.collapsible>li>.collapsible-header .icon-sidebar {
    margin-left: auto
}

.wrapper.vertical-sidebar .side-nav .collapsible .collapsible-body li a {
    padding: 0 25px;
}

@media only screen and (max-width: 1024px) {
    .side-nav.fixed {
        transform: translateX(0);
    }
}

/* theme-settings */

div#theme-settings .purchase {
    display: none;
}

/* ngdialog */

html.ngdialog-open,
body.ngdialog-open {
    padding-right: 0 !important;
}

/* scroll */

.scroll::-webkit-scrollbar {
    width: 0.3em;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: darkgray;
    outline: 1px solid slategrey;
}

.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* menu */

.nav-wrapper a.brand-logo>img {
    left: 22px;
}

#notifications_dropdown {
    width: 300px;
    max-height: calc(80vh - 64px);
    top: 64px;
    right: 216px;
    border: 2px solid black;
    position: fixed;
}

.navbar-fixed-top {
    top: 0px !important;
}

#profile_dropdown {
    z-index: 1000;
    width: 300px !important;
    overflow: visible;
}

.button-dropdown,
.button-dropdown-angular {
    position: relative;
    display: inline-block;
    user-select: none;
}

.dropdown-menu::-webkit-scrollbar {
    width: 0.3em;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background-color: darkgray;
    outline: 1px solid slategrey;
}

.dropdown-menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.dropdown-menu {
    display: none;
    top: 54px;
    position: absolute;
    width: auto;
    height: auto;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 20;
    overflow-x: hidden;
}

.dropdown-menu>a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: space-between !important;
    line-height: 1rem;
}

.dropdown-menu>a:hover:not(.waves-effect) {
    background-color: #ddd !important;
}

.dropdown-menu>a>i {
    line-height: 1rem;
    height: auto;
    font-size: 1.3em;
}

.dropdown-menu>a>i::before {
    margin: 0 !important;
}

.dropdown-menu>a>.notifi-text {
    width: 100%;
    padding: 0 1em;
}

.dropdown-menu>a>.notifi-text>p {
    margin: 0 0 .2em;
    color: #000000de;
    line-height: 1.4em;
}

.dropdown-menu>a>.notifi-text>span {
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    font-weight: 700;
}

.dropdown-menu>a.default-background:last-child {
    justify-content: center !important;
    color: white;
}

.dropdown-menu>a.default-background:last-child:hover {
    color: black;
}

.dropdown-menu a.disabled {
    cursor: default;
    background-color: white;
}

.dropdown-menu a.disabled:hover {
    background-color: white !important;
}

#profile_dropdown .select-wrapper {
    width: 50%;
    height: auto;
}

#profile_dropdown .select-wrapper>input,
#profile_dropdown .select-wrapper>span {
    margin: 0;
}

.menu-hover {
    display: none;
    position: absolute;
    right: 100%;
    top: 0;
    min-width: 100%;
    background-color: #f1f1f1;
}

.menu-hover>a {
    padding: 12px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-hover>a>i {
    line-height: 1rem;
    height: auto;
    font-size: 1.3em;
}

.menu-hover>div>.notifi-text {
    color: black;
}

.btn-hover:hover .menu-hover {
    display: block !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.btn-hover>i {
    line-height: 1rem !important;
    height: 19px !important;
    font-size: 1.3em;
    width: 19px;
    display: flex;
}

.btn-hover {
    position: relative;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: space-between !important;
    line-height: 1rem;
    cursor: pointer;
}

.btn-hover>.notifi-text {
    width: 100%;
    padding: 0 1em;
}

/* accordion */

#instructivos {
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
}

#instructivos .card-action {
    display: flex;
    padding: 0;
    height: 74vh
}

#instructivos .list_left {
    width: 25%;
    height: 100%;
    overflow: auto;
    margin: 0;
    border-right: 1px solid rgba(160, 160, 160, 0.2);
}

#instructivos .list_left .panel>a {
    cursor: pointer;
    margin: 0;
    margin-left: auto;
    text-align: left;
    width: 100%;
    color: black !important;
    text-transform: initial;
    display: flex;
    align-items: center;
}

#instructivos .list_left .panel>a>i {
    margin-left: auto;
}

#instructivos .list_right {
    width: 75%;
    display: flex;
}

#instructivos .list_right>iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

#instructivos .list_right>i {
    margin: auto;
    font-size: 5em;
}

#instructivos .accordion {
    color: white;
    cursor: pointer;
    padding: 1em 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
}

#instructivos .panel>.accordion {
    background-color: #737373d9;
    margin-left: 1em;
    width: calc(100% - 1em);
}

#instructivos .panel>.panel>.accordion {
    background-color: #6ea6e0;
    margin-left: 2em;
    width: calc(100% - 2em);
}

#instructivos .list_left .panel>.panel>a {
    width: calc(100% - 2em);
    background-color: #f8f8f8;
    border-left: 1px solid #6ea6e0;
}

#instructivos .accordion>i {
    margin-right: 2em;
    font-size: .8rem;
}

#instructivos .accordion.active>i:first-child {
    display: none;
}

#instructivos .accordion>i:first-child {
    display: block;
}

#instructivos .accordion.active>i:last-child {
    display: block;
}

#instructivos .accordion>i:last-child {
    display: none;
}

#instructivos .accordion.active+.panel {
    display: block;
}

#instructivos .panel {
    display: none;
    background-color: white;
    overflow: hidden;
}

#instructivos .panel>a {
    padding: 1em 20px;
}

#instructivos .ngdialog-close {
    font-size: 30px;
    margin-top: 30px;
    margin-right: 23px;
    position: absolute;
    z-index: 15;
    right: 0;
    line-height: 0;
}

/* Versionamiento */

#versionamiento.white {
    padding-bottom: 1em;
}

#versionamiento>.section-header {
    box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.12);
    background-color: #F1F3F4;
}

/* #versionamiento .timeline.card-content>* {
    animation: fadein 1s;
} */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

#versionamiento ul.left.mailbox-custom-search.list-inline>li>i {
    cursor: pointer;
    font-style: normal;
}

#versionamiento ul.left.mailbox-custom-search.list-inline {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#versionamiento ul.left.mailbox-custom-search.list-inline .filter_notifi {
    margin-right: 44px;
    padding: 0;
    width: 200px;
}

#versionamiento li.filter_notifi>.select-wrapper>ul {
    max-height: 400px !important;
    width: 300px !important;
    left: initial !important;
    right: 0;
}

#versionamiento .timeline-event>.content-box>h6 {
    word-break: break-all;
}

#versionamiento .timeline-page .timeline .timeline-event .timeline-content .content-box::before {
    height: 9px;
    width: calc(100% + 99px);
    background: #737373;
    top: 14px;
}

#versionamiento .timeline-page .timeline .timeline-event:nth-child(even) .timeline-content .content-box::before,
#versionamiento .timeline-page .timeline .timeline-event:nth-child(even) .timeline-content .content-box::after {
    left: -77px;
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}

#versionamiento .timeline-page .timeline .timeline-event:nth-child(odd) .timeline-content .content-box::before,
#versionamiento .timeline-page .timeline .timeline-event:nth-child(odd) .timeline-content .content-box::after {
    right: -77px;
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important;
}

#versionamiento .timeline-page .timeline .timeline-event:nth-child(odd) .timeline-content .content-box::after,
#versionamiento .timeline-page .timeline .timeline-event:nth-child(even) .timeline-content .content-box::after {
    background: #737373 !important;
    height: 20px;
    width: 20px;
    top: 8px;
    border-radius: 50% !important;
}

#versionamiento .timeline-page .timeline .timeline-event:nth-child(even) .timeline-content .content-box::after {
    left: 103%;
}

#versionamiento .timeline-page .timeline .timeline-event:nth-child(odd) .timeline-content .content-box::after {
    right: 103%;
}

#versionamiento .timeline-page .timeline .timeline-event:nth-child(even) .timeline-content>h6 {
    left: -5px;
}

#versionamiento .timeline-page .timeline .timeline-event:nth-child(odd) .timeline-content>h6 {
    right: -5px;
}

#versionamiento .timeline-content>h6 {
    position: absolute;
    top: 0;
    z-index: 15;
    color: #737373;
    margin: 0;
    padding: 8px 10px;
    width: 100%;
    background-color: #ebecec;
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom-right-radius: .50rem !important;
    border-bottom-left-radius: .50rem !important;
    width: calc(100% + 10px);
    display: flex;
    justify-content: space-between;
}

#versionamiento .content-box>div,
#modal_notifi .chip {
    display: inline;
    text-align: left;
    color: #737373;
    line-height: 1.7em;
    font-size: 0.8em;
    font-style: italic;
}

#versionamiento .timeline-content>.content-box>img.img-tl[src]+small {
    margin-top: 0;
    font-style: italic;
    color: #737373;
    line-height: 1.7em;
    font-size: 0.8em;
    font-weight: 400;
}

#versionamiento .timeline-content>.content-box>small {
    margin-top: 1em;
}

#versionamiento .timeline-content>.content-box>i {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    bottom: -24px;
    color: #acb5ba;
    width: 20px;
}

#versionamiento .timeline-event:nth-child(even)>.timeline-content>.content-box>i {
    right: 50px;
    float: right;
}

#versionamiento .timeline-event:nth-child(even)>.timeline-content>.content-box>i:last-child {
    right: 8px;
    float: right;
}

#versionamiento .timeline-event:nth-child(odd)>.timeline-content>.content-box>i {
    left: 50px;
    float: left;
}

#versionamiento .timeline-event:nth-child(odd)>.timeline-content>.content-box>i:last-child {
    left: 8px;
    float: left;
}

#versionamiento .content-box {
    background-color: #F1F3F4;
    border-bottom-right-radius: .50rem !important;
    border-bottom-left-radius: .50rem !important;
    border-bottom: 30px solid #ebecec !important;
    padding-top: 37px !important;
    box-shadow: none !important;
}

#versionamiento .img-tl {
    width: 100%;
    margin-top: 1em;
}

#versionamiento>.section-header [type="radio"]:not(:checked)+label,
[type="radio"]:checked+label {
    height: initial !important;
}

/* Modal */

#modal_notifi,
#modal_moduleadmin {
    width: 45%;
    margin: 0 auto;
    padding-top: 40px;
}

#modal_notifi .input-field.col label {
    left: 0 !important;
}

.ngdialog-content>#modal_notifi~.ngdialog-close:before,
.ngdialog-content>#modal_moduleadmin~.ngdialog-close:before {
    content: '' !important;
}

#modal_notifi .card-image>.card-category {
    width: 50px;
    height: 50px;
    display: flex
}

#modal_notifi .card-image>.card-category>i {
    padding: 0;
    font-size: 2em;
    margin: auto;
}

#modal_notifi img.activator {
    min-height: 40px;
    border-radius: 0 !important;
}

#modal_notifi .card-bottom {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 10px 20px;
    z-index: 2;
    height: auto;
    clear: both;
    text-align: right;
}

#modal_notifi .card-bottom>p {
    margin: 0;
}

#modal_notifi .card-bottom>p:first-child {
    float: left;
}

#modal_notifi .card-bottom,
#modal_notifi .card,
#modal_notifi .card .card-action,
#modal_moduleadmin .card-bottom,
#modal_moduleadmin .card,
#modal_moduleadmin .card .card-action {
    border-radius: 0;
    /* border-bottom-right-radius: .50rem !important;
    border-bottom-left-radius: .50rem !important; */
    max-width: 750px;
}

#notifications_dropdown>a.active::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 50%;
    background-color: #43a047;
    position: absolute;
    margin-top: 5px;
    left: 91%;
}

#modal_notifi figure.effect-zoe {
    background: transparent;
    width: 100% !important;
    border: 1px solid #9e9e9e;
}

#modal_notifi figure.effect-zoe:hover>i {
    display: block !important;
}

#modal_notifi figure.effect-zoe>figcaption {
    padding: 0 !important;
    height: 2em !important;
}

#modal_notifi figure.effect-zoe>figcaption>.file-field.input-field {
    margin: 0;
    height: 100%;
}

#modal_notifi figure.effect-zoe>figcaption>.file-field.input-field>.btn {
    float: initial;
    height: 100%;
    width: 100%;
    line-height: 2em;
    border-radius: 0;
}

#modal_notifi figure.effect-zoe>figcaption>.file-field.input-field>.btn>p {
    text-align: center;
}

#modal_notifi input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#modal_notifi input[type=date],
input[type=time] {
    -moz-appearance: textfield;
}

#modal_notifi .date-hour {
    display: flex;
}

#modal_notifi .date-hour>.input-field {
    margin: 0;
    width: 50%;
}

#modal_notifi .card-content {
    display: flex;
    margin-top: 1em;
}

#modal_notifi .card-content>.col {
    width: 50%;
}

#modal_notifi .input-field .select-wrapper>ul>li:first-child {
    background-color: #f5f5f5 !important;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

#modal_notifi .ngdialog-close,
#modal_moduleadmin .ngdialog-close {
    font-size: 30px;
    position: absolute;
    z-index: 15;
    bottom: 100%;
    left: 100%;
    line-height: 1;
    color: black;
    background-color: white;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
}

#modal_notifi label[for=lblicon]>i {
    position: absolute;
    top: 0;
    right: -20px;
    font-size: 17px;
}

/* configuracionacceso */
#configuracionacceso .scroll-tbody-2 .panel {
    display: none;
}

#configuracionacceso .scroll-tbody-2 tr.active+tr>.panel {
    display: table-cell;
}

/* panel admin */
/* 
#paneladmin tbody.scroll-tbody>tr,
#paneladmin tbody.scroll-tbody-2>tr {
    width: 100%;
    display: flex;
}

#paneladmin tbody.scroll-tbody>tr>td:first-child {
    width: 20%;
}

#paneladmin tbody.scroll-tbody>tr>td:last-child {
    width: 80%;
}

#paneladmin tbody.scroll-tbody-2>tr>td:not([colspan]):first-child {
    width: 80%;
    user-select: none;
}

#paneladmin tbody.scroll-tbody-2>tr>td:not([colspan]):nth-child(2) {
    width: 20%;
}

#paneladmin tbody.scroll-tbody-2>tr>td:not([colspan]):last-child {
    width: 20%;
}

#paneladmin tbody.scroll-tbody-2>tr>td[colspan] {
    width: 100%;
} */

#paneladmin td,
th {
    border-radius: 0;
}

#paneladmin .scroll-tbody-2 .panel,
.collapsible-new .collapsible-body-new tr+tr>.panel {
    display: none;
}

#paneladmin .scroll-tbody-2 tr.active+tr>.panel {
    display: table-cell;
}

.collapsible-new .collapsible-body-new tr.active+tr>.panel {
    display: table-cell;
}

#paneladmin .title-panel,
#licenciamiento .title-panel,
.newdesing .title-panel {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.newdesing>.section-header>ul>li>h5 {
    font-family: 'Product Sans', Arial, sans-serif;
    font-size: 22px;
    line-height: 22px;
    opacity: .54;
    margin: 9px 0;
}

.newdesing .section-header {
    margin-bottom: 0;
}

.newdesing .content-container {
    min-height: calc(100vh - 124px);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.newdesing .tabs .tab a:hover {
    color: #80868b;
}

.newdesing .tabs .tab a {
    padding: 0 20px;
}

.newdesing .tabs {
    margin: -10px 0;
}

#paneladmin .btn-panel>i,
#paneladmin .btn-panel>div>i,
#licenciamiento .btn-panel>i,
.newdesing .btn-panel>i,
.newdesing_modal .btn-panel>i {
    cursor: pointer;
    margin-left: 20px;
}

#paneladmin #modulo_dropdown {
    top: 30px;
    width: 400px;
}

#paneladmin .section-header .breadcrumb:before {
    color: black;
    line-height: normal;
}

#paneladmin .section-header,
#licenciamiento .section-header,
.newdesing .section-header {
    box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.12);
    background-color: #F1F3F4;
    position: relative;
    padding: 10px 34px;
}

.newdesing:not(.all-transition) .ng-leave,
.newdesing:not(.all-transition) .ng-leave-active,
.newdesing:not(.all-transition) .ng-animate .newdesing:not(.all-transition) .active-add,
.newdesing:not(.all-transition) .ng-hide-add-active,
.newdesing:not(.all-transition) .ng-hide-remove,
.newdesing:not(.all-transition) .ng-hide-add-active {
    transition: all 0s ease !important;
}

#paneladmin .active.dropdown-toggle-angular~div#modulo_dropdown {
    display: block !important;
}

/* Step Tour */

.tour_step {
    min-width: 40%;
}

#TourStep {
    transition: all 0.5s ease-in-out;
    position: absolute;
    max-width: 30%;
    z-index: 100;
    color: #232f34;
    border-radius: 3px;
}

#TourStep .card-content {
    padding: 16px 20px 12px;
}

#TourStep .card-content span {
    font-size: 21px;
    font-weight: bold;
}

#TourStep .card-content p {
    font-size: 15px;
}

#TourStep .card-action {
    padding: 16px 20px;
    border-radius: 0 0 3px 3px;
}

#TourStep .card-action small {
    position: absolute;
    left: 20px;
    bottom: 23px;
}

#TourStep a.no-activ:hover {
    background-color: #bb59593b;
    color: #bb5959;
}

#TourStep a {
    color: #59bbad;
    background-color: white;
    padding: 6px;
    border-radius: 3px;
}

#TourStep a.i:hover {
    background-color: #59bbad3b;
}

.focusElement {
    background-color: #26a69a1f !important;
    border: 1px solid #26a69a !important;
}

.btnOpacity {
    animation: opacity 0.5s ease-in-out;
}

.btnRotate {
    animation: rotate 5s infinite;
}

@keyframes opacity {
    0% {
        filter: opacity(1);
    }

    50% {
        filter: opacity(0);
    }

    100% {
        filter: opacity(1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    2% {
        transform: rotate(-1deg);
    }

    3.5% {
        transform: rotate(1deg);
    }

    5% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#StepTriangle {
    display: none;
    border-style: solid;
    border-width: 18px;
    width: 0;
    height: 0;
    position: absolute;
}

#StepTriangle>div {
    border-style: solid;
    border-width: 10px;
    width: 0;
    height: 0;
    position: relative;
}

#StepTriangle.right {
    display: block;
    border-color: transparent #26a69a transparent transparent;
    right: 100%;
    top: calc(50% - 18px);
}

#StepTriangle.right>div {
    border-color: transparent #26a69a transparent transparent;
    top: -10px;
    right: 2px;
}

#StepTriangle.left {
    display: block;
    border-color: transparent transparent transparent #26a69a;
    left: 100%;
    top: calc(50% - 18px);
}

#StepTriangle.left>div {
    border-color: transparent transparent transparent #26a69a;
    top: -10px;
    left: -18px;
}

#StepTriangle.top {
    display: block;
    border-color: #26a69a transparent transparent transparent;
    left: calc(50% - 18px);
    top: 100%;
}

#StepTriangle.top>div {
    border-color: #26a69a transparent transparent transparent;
    top: -18px;
    left: -10px;
}

#StepTriangle.bottom {
    display: block;
    border-color: transparent transparent #26a69a transparent;
    left: calc(50% - 18px);
    bottom: 100%;
}

#StepTriangle.bottom>div {
    border-color: transparent transparent #26a69a transparent;
    top: -2px;
    left: -10px;
}

/* Lincenciamiento */

#licenciamiento td,
th,
.newdesing td,
th {
    font-size: 11px;
}

#licenciamiento td input,
.newdesing td input {
    height: auto;
    line-height: 2em;
    font-size: 10px;
    margin: 0;
}

#licenciamiento .select-wrapper span.caret {
    top: 0px;
    font-size: 9px;
}

#licenciamiento td {
    font-weight: 600;
    text-transform: lowercase;
}

#licenciamiento .tab-new {
    display: none;
}

#licenciamiento .tab-new.active {
    display: block;
}

.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
    /* display: none; */
    -webkit-appearance: none;
}

#licenciamiento input[type="number"]::-webkit-outer-spin-button,
#licenciamiento input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#licenciamiento input[type="number"] {
    -moz-appearance: textfield;
}

.unstyled {
    user-select: none;
}

.stade-vi,
.stade-ve {
    position: relative;
}

.stade-vi::before {
    content: '';
    position: absolute;
    background: #005825;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: auto;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
}

.stade-ve::before {
    content: '';
    position: absolute;
    background: #b00f1e;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: auto;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
}

/* gacas */

#gacas #tablaGacas i.fontello-icon {
    font-size: 20px;
    margin: auto;
    cursor: pointer;
}

#gacasDetalles,
.newdesing_modal {
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
}

#gacasDetalles .ngdialog-close,
.newdesing_modal .ngdialog-close {
    font-size: 30px;
    position: relative;
    z-index: 15;
    line-height: 1;
    color: black;
    background-color: transparent;
    height: 30px;
    width: 30px;
    min-width: 30px;
    text-align: center;
    border-radius: 50%;
}

.newdesing_modal .ngdialog-add {
    margin-right: auto;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.newdesing_modal .ngdialog-add:hover {
    background-color: #f7c029;
}

.newdesing_modal .ngdialog-add>.icon-plus {
    height: 23px;
    margin: auto;
    cursor: pointer;
}

#gacasDetalles .ngdialog-close:hover,
.newdesing_modal .ngdialog-close:hover {
    background-color: #9192922e;
}

.newdesing_modal>.col>.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.newdesing_modal>.col>.card-content>h5 {
    font-family: 'Product Sans', Arial, sans-serif;
    font-size: 22px;
    line-height: 22px;
}

.chat_right>* {
    float: right !important;
}

.desc_com {
    background-color: #F1F3F4;
}

#gacasDetalles label,
.newdesing_modal label {
    font-weight: bold;
}

.desc_com>small {
    font-size: 10px;
}

#gacasTranferir {
    width: 40%;
}

#gacas #tablaGacas td.priority.red {
    background-color: #E1464B !important;
}

#gacas #tablaGacas td.priority.yellow {
    background-color: #faa61ad1 !important;
}

#gacas #tablaGacas td.priority.green {
    background-color: #009B34 !important;
}

.close-none+.ngdialog-close {
    display: none;
}

html body .default-background-light {
    background-color: #1a2e63;
}

/* aseguramiento */

#gestionaseguramiento card-panel a:hover {
    background-color: #7171710d !important;
}

input.input-text-new {
    background-color: #f1f3f4;
    width: 240px;
    height: 2rem;
    padding: 0 1em;
}

input.input-text-new::placeholder {
    color: #80868b;
}

label {
    color: #80868b;
}

.form-input-icon-new {
    background-color: #ffffff;
    position: relative;
    width: 250px;
    display: flex;
}

.form-input-icon-new>input {
    background-color: #ffffff;
    width: 100%;
    height: calc(2rem - 2px);
    padding: 0 1em;
}

.form-input-icon-new>i {
    cursor: pointer;
    position: absolute;
    top: 13%;
    left: 86%;
}

#gestionaseguramientoModal {
    width: 50%;
    margin: 0 auto;
    margin-top: 2em;
}

/* Loading new */

.loading {
    display: flex;
    justify-content: center;
    margin-bottom: -1rem;
}

.loading div {
    width: 1rem;
    height: 1rem;
    margin: 2rem 0.3rem;
    border-radius: 50%;
    -webkit-animation: 0.9s bounce-new infinite alternate;
    animation: 0.9s bounce-new infinite alternate;
}

.loading div:nth-child(2) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.loading div:nth-child(3) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

@keyframes bounce-new {
    to {
        opacity: 0.3;
        -webkit-transform: translate3d(0, -1rem, 0);
        transform: translate3d(0, -1rem, 0);
    }
}

.loading-swal .swal2-content>.lds-dual-ring {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* Gestion acas TIC */

#focus-effect:hover>.col>.card-panel:hover {
    transform: scale(1.05);
}

/* adminprocesos */

.switch label {
    font-weight: 600;
}

.switch label .lever.check-c {
    background-color: #818181 !important;
}

.switch label .lever.check-c:after {
    background-color: #26a69a;
}

.switch label>span.activo {
    color: #26a69a !important;
}

.collapsible-body-new .switch label>span {
    color: rgba(0, 0, 0, 0.87);
}

.collapsible-body-new>tr>td:nth-child(1) {
    cursor: pointer;
}

.collapsible-body-new>tr.active>td:nth-child(1) {
    color: #26a69a;
    font-weight: bold;
}

.collapsible-body-new>tr.active>td:nth-child(3)>i.icon-down-open-1 {
    transform: rotate(180deg);
    display: flex;
    justify-content: center;
    color: #26a69a;
}

.collapsible-body-new i {
    cursor: pointer;
}

#adminprocesos .dropdown-toggle-angular.active+.dropdown-menu,
.newdesing .dropdown-toggle-angular.active+.dropdown-menu {
    display: block;
    top: 30px;
    border: 1px solid #1a2e63;
    width: 350px;
    padding: 2em;
    text-align: left;
    overflow: initial;
    overflow-x: initial;
}

tfoot.active tr>td:nth-child(2) {
    width: 20%;
}

tfoot.active tr>td:nth-child(2)>div>input[type=text] {
    height: 2em;
    margin: 0;
}

tfoot.active tr>td:nth-child(2)>div>span {
    margin: 0;
}

.newdesing [data-file]:before,
.newdesing_modal [data-file]:before {
    content: attr(data-file);
    position: absolute;
    left: 2%;
    height: 2rem;
    width: calc(100% - 24px);
    padding-top: 5px;
}

/* scrollbar */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #d0d0d0;
}

::-webkit-scrollbar {
    width: 6px;
    height: 7px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #666666;
    /* background-image: -webkit-linear-gradient(45deg, #8e1b2c 25%, #f8efd3 25%, #f9efd4 50%, #8e1b2c 50%, #8e1b2c 75%, #f6eccf 75%, #f7edd1); */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #505050 !important;
    /* background-image: -webkit-linear-gradient(45deg, #8e1b2c 25%, #f8efd3 25%, #f9efd4 50%, #8e1b2c 50%, #8e1b2c 75%, #f6eccf 75%, #f7edd1); */
}

/* slider */

.teaserCarousel {
    box-sizing: border-box;
    border: 1px solid #efefef;
    padding: 40px;
    box-sizing: border-box;
    max-width: 1200px;
    min-width: 320px;
}

.teaserCarousel__stage {
    position: relative;
    margin-top: 30px;
    margin-bottom: 50px;
    overflow-x: hidden;
}

.teaserCarousel__control {
    cursor: pointer;
    transition: all 5s;
}

.teaserCarousel__control:hover {
    zoom: 1.2;
}

.teaserCarousel__list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
}

.teaserCarousel__teaser {
    order: 0;
    flex: 0 0 320px;
    align-self: auto;
    width: 320px;
    padding: 0 30px;
    box-sizing: border-box;
    border-left: 1px solid #efefef;
}

@media (min-width: 460px) {
    .teaserCarousel__teaser {
        flex: 0 0 400px;
        width: 400px;
    }
}

.teaserCarousel__teaser.active {
    background: #efefef;
}

.teaserCarousel__teaser:first-child {
    border-left: 0;
}

.grid {
    max-width: 100vw;
    margin: 0 auto;
    padding: 60px 0;
}

@media (min-width: 768px) {
    .grid {
        max-width: 65vw;
        padding: 60px;
    }
}

body {
    color: #333;
}

h2 {
    margin-bottom: 0;
}

/* colmena */

.select-new {
    background-color: #f1f3f4;
    width: 100%;
}

.select-new>span {
    top: 0 !important;
    right: 5px !important;
}

.select-new>input {
    height: 2rem !important;
    padding: 0 0.5rem !important;
    width: calc(100% - 1.5rem) !important;
    border-bottom: none !important;
    box-shadow: 0 1px 0 0 #dadce0;
    padding-right: 1rem !important;
}

.select-default-new {
    outline: none !important;
    height: 31px;
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #dadce0;
    box-shadow: none !important;
}

textarea.textarea-new {
    padding: 0.5rem !important;
    width: calc(100% - 1rem) !important;
    background-color: #f1f3f4;
}

input.input-date-new {
    height: 2rem;
    background-color: #f1f3f4;
    padding: 0 0.5rem !important;
    width: calc(100% - 1rem) !important;
}

input.input-time-new {
    height: 2rem;
    background-color: #f1f3f4;
    padding: 0 0.5rem !important;
    width: calc(100% - 1rem) !important;
}

.label-new {
    display: flex;
    margin-top: 2rem;
    position: relative;
    height: 2rem;
}

.label-new>label {
    position: absolute;
    top: -2rem;
    left: 7.500px;
    font-weight: 400;
    font-size: 1rem;
}

.label-new>input:focus:not([readonly])~label {
    color: #1a2e63;
}

.gray-input {
    background-color: #e5e6e6 !important;
}

.w-100 {
    width: 100% !important;
}

.h-auto {
    height: auto !important;
}

.input-file-new {
    width: 100%;
    height: 2rem;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.input-file-new>i {
    font-size: 17px;
}

.input-file-new>input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 100%;
    outline: transparent;
    background-color: transparent !important;
    z-index: 2;
}

.input-file-new:before {
    height: 2em !important;
}

.m-t {
    margin-top: 1rem;
}

.m-b {
    margin-bottom: 1rem;
}

.m-r {
    margin-right: .5rem !important;
}

.m-l {
    margin-left: .5rem !important;
}

.m-l+label {
    left: 15px;
}

.toast-message {
    word-break: break-word !important;
}

.newdesing_modal input[type="date"]::-webkit-inner-spin-button,
.newdesing_modal input[type="date"]::-webkit-calendar-picker-indicator {
    /* display: none; */
    -webkit-appearance: none;
}

.input-out-new {
    background-color: white;
    border: 1px solid #8a88865e !important;
    border-radius: 2px !important;
    /* box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28) !important; */
}

.input-out-new:hover:not(:disabled) {
    border: 1px solid #323130 !important;
}

.box-shadow-none {
    box-shadow: none !important;
}

.input-out-new>input {
    height: calc(2rem - 2px) !important;
}

.select-input-new.input-out-new {
    height: calc(2rem - 2.5px) !important;
}

.input-out-new .input-file-new>i {
    height: calc(100% + 2px);
    background-color: #4daf7c;
    font-weight: 700;
    font-size: 16px;
    z-index: 1;
    border-left: 1px solid #8a88865e;
}

.form-input-icon-new>i {
    left: auto;
    right: 0;
}

.w-50 {
    width: 50%;
}

.newdesing input[type="date"]::-webkit-inner-spin-button,
.newdesing input[type="date"]::-webkit-calendar-picker-indicator,
.newdesing input[type="month"]::-webkit-inner-spin-button,
.newdesing input[type="month"]::-webkit-calendar-picker-indicator {
    /* display: none; */
    -webkit-appearance: none;
}

.purple-new {
    background-color: #cacfdb !important;
}

.card-bottom {
    padding-bottom: .82rem !important;
}

.modal-mara-new.modal>.modal-header,
.modal-mara-new.modal>.modal-content,
.modal-mara-new.modal>.modal-footer {
    padding: 10px 20px;
}

input:not(.ng-invalid-maxlength)+label>small.maxlength-new {
    display: none;
}

.select-new-style {
      display: block;
      font-size: 1rem;
      height: 2rem !important;
}

/* input.ng-invalid-maxlength {
    border: 1px solid #F44336 !important;
} */